.pw-video {
    @include border-radius($border-radius);
    @include margin-bottom($margin-xxxl);
    $self: &;

    &--display-row {
        > .row {
            flex-direction: row;
        }
    }

    &--display-row-reversed {
        > .row {
            flex-direction: row-reverse;
        }
    }

    &--display-column {
        > .row {
            flex-direction: column;
        }

        #{$self}__video {
            @include margin-top($padding-md);
            @media #{$desktop} {
                @include margin-top($padding-l);
            }
        }
    }

    &--display-column-reversed {
        > .row {
            flex-direction: column-reverse;
        }

        #{$self}__video {
            @include margin-bottom($padding-zero);
            @media #{$desktop} {
                @include margin-bottom($padding-zero);
            }
        }
    }

    &__innerpadding {
        @include margin-top($margin-l);
        @include margin-bottom($margin-l);

        @media #{$desktop} {
            @include margin-top(0);
            @include margin-bottom(0);
        }
    }

    &__video {
        @include border-radius($border-radius);
        @include margin-bottom($padding-zero);
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;

        @media #{$desktop} {
            @include margin-bottom($padding-zero);
        }

        video,
        iframe {
            @include border-radius($border-radius);
            @include margin-bottom(0);
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    .pw-text-video__video {
        @include margin-bottom(0);
    }
}

.pw-container-inner {
    @include margin($margin-md);
    @include margin-bottom($margin-zero);
    @media #{$desktop} {
        @include margin($margin-l $margin-xxxl);
        @include margin-bottom($margin-zero);
    }
}
