<sly data-sly-template.video_template="${@ data, flag}"
  data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
  <div data-module="Video" id="${data.anchorId}" title="${data.anchorTitle}" data-sly-test="${data.damVideoPath || data.youtubeEmbedURL}"
    class="pw-video pw-container" data-locator="video" id="${data.anchorId}">
    <div class="pw-container-inner  pw-theme--${data.pwTheme}">
      <div class="row pw-video__innerpadding">
        <div
          class="col-md-12 ${data.pwDisplay == 'display-row' || data.pwDisplay == 'display-row-reversed' ? 'col-lg-8': ''}">
          <sly data-sly-test="${data.videoSource == 'damVideo'}">
            <div class="pw-text-video__video js-video-props" data-link-parent-title="${data.damVideoPath}"
              data-video-name="${data.videoName}" data-video-type="${data.videoSource}">
              <sly data-sly-use.dynamicImageModel="${'com.tetrapak.publicweb.core.models.DynamicImageModel'
                                              @ imagePath=data.thumbnailPath, videoPath=data.originalDamVideoPath}">
              </sly>
              <video class="js-dam-player" controls title="${data.videoName}" poster="${dynamicImageModel.desktopUrl}">
                <source src="${data.damVideoPath}" type="video/mp4">
              </video>
            </div>
          </sly>
          <sly data-sly-test="${data.videoSource == 'youtube'}">
            <sly data-sly-use.digitalDataModel="com.tetrapak.publicweb.core.models.PageLoadAnalyticsModel"></sly>
            <div class="pw-text-video__video js-video-props" data-video-type="${data.videoSource}" data-link-parent-title="${data.youtubeEmbedURL}"
                 data-video-type="${data.videoSource}" data-video-name="${data.youtubeEmbedURL}">
              <sly data-sly-test="${!digitalDataModel.isPublisher}">
                <iframe class='js-yt-player'  title="${data.videoName}" src="${data.youtubeEmbedURL}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
              </sly>
              <sly data-sly-test="${digitalDataModel.isPublisher}">
                <iframe class='js-yt-player'  title="${data.videoName}" class="optanon-category-4" data-src="${data.youtubeEmbedURL}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
              </sly>
            </div>
            
            <!-- No Video when cookie not accepted -->
            <div class="pw-text-video__novideo">
              <div class="pw-text-video__novideo_content">
                <div class="pw-text-video_content"></div>
                <button id="ot-sdk-btn" class="ot-sdk-show-settings">Cookies Settings</button>
              </div>
            </div>

          </sly>
        </div>
      </div>
    </div>

  </div>
  <sly data-sly-test="${!data.damVideoPath && !data.youtubeEmbedURL}"
    data-sly-call="${templates.placeholder @ isEmpty = (!data.damVideoPath && !data.youtubeEmbedURL)}"></sly>
</sly>
