.pw-theme {
    $self: &;
    &--grayscale-white {
        background-color: $color-white;
    }
    &--grayscale-lighter {
        background-color: $color-wild-sand;
    }
}

.pw-margin {
  &--zero {
    margin: 0;
    }

  &--regular {
        margin: 0 $margin-md 0 $margin-md;  
    @media #{$desktop} {
        margin: 0 $margin-xxxl 0 $margin-xxxl;
        }
    }
}

.pw-padding {
    &--zero {
        @include padding($padding-zero);
    }

    &--regular {
        @include padding($padding-l $padding-md);
        @media #{$desktop} {
            @include padding($padding-xxxl);
        }
    }
}

.tpatom-link--transparent:hover {
    color: $color-jordy-blue;
}


.pw-container {
    @include padding(0);
    max-width: 100%;
    margin: 16px auto 0 auto;

    @media #{$desktop} {
        @include max-width($body-max-width);
        margin: 48px auto 0 auto;
    }
}