body{
    @include line-height($font-l,$font-baseline);
    font-family:$font-bold;
    background: $color-wild-sand;
    font-weight: normal;
    font-size: $font-baseline;
   font-style: normal;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   text-size-adjust: 100%;
   position: relative;
}
a {
    @include line-height($font-l,$font-baseline);
    font-family:$font-bold;
    font-weight: 500;
    font-size: $font-baseline;
}

img {
    border-radius: 4px;
}
h1,h2,h3,h4{
    font-family:$font-light;
    font-weight:500;
}
.pw-theme {
    $self: &;
    &--grayscale-white {
        background-color: $color-white;
    }
    &--grayscale-lighter {
        background-color: $color-wild-sand;
    }
}

.pw-margin {
    &--zero {
        margin: 0;
    }

    &--regular {
        margin: 0 $margin-md 0 $margin-md;
        @media #{$desktop} {
            margin: 0 $margin-xxxl 0 $margin-xxxl;
        }
    }
}

.pw-padding {
    &--zero {
        @include padding($padding-zero);
    }

    &--regular {
        @include padding($padding-l $padding-md);
        @media #{$desktop} {
            @include padding($padding-xxxl);
        }
    }
}

.tpatom-link--transparent:hover {
    color: $color-jordy-blue;
}

.icon-Youtube_pw:before {
    vertical-align: -3px;
}

.icon-Circle_Arrow_Right_pw {
    position: relative;
    &::before {
        position: absolute;
        top: 1px;
    }
}

.pw-container {
    @include padding(0);
    max-width: 100%;
    margin: 16px auto 0 auto;
    height: auto;

    @media #{$desktop} {
        @include max-width($body-max-width);
        margin: 48px auto 0 auto;
    }
}
.pw-overlay {
    background-color: $color-black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 90px;
    z-index: $zindex-s;
}
.pw-position-relative {
    position: relative;
}
.pw-position-static {
    position: static;
}
.sticky-section-menu {
    display: block;   // will be block display in every case
}

@media #{$mobile} {
    .body-content {
        @include padding-top($header-height-mobile * 1px); // with reference to Sticky Mobile Header navigation
        &.body-top-padding {
            @include padding-top($sticky-view-height * 1px); // with reference to Sticky Mobile Header + section menu
        }
    }
}
@media #{$desktop} {
    .body-content {
        &.body-top-padding {
            @include padding-top(62px); // with reference to desktop section menu height
        }
    }
}
