body {
    background: $color-wild-sand;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}
.pw-theme {
    $self: &;
    &--grayscale-white {
        background-color: $color-white;
    }
    &--grayscale-lighter {
        background-color: $color-wild-sand;
    }
}

.pw-margin {
    &--zero {
        margin: 0;
    }

    &--regular {
        margin: 0 $margin-md 0 $margin-md;
        @media #{$desktop} {
            margin: 0 $margin-xxxl 0 $margin-xxxl;
        }
    }
}

.pw-padding {
    &--zero {
        @include padding($padding-zero);
    }

    &--regular {
        @include padding($padding-l $padding-md);
        @media #{$desktop} {
            @include padding($padding-xxxl);
        }
    }
}

.tpatom-link--transparent:hover {
    color: $color-jordy-blue;
}

.pw-container {
    @include padding(0);
    max-width: 100%;
    margin: 16px auto 0 auto;
    height: auto;

    @media #{$desktop} {
        @include max-width($body-max-width);
        margin: 48px auto 0 auto;
    }
}
.pw-overlay {
    background-color: $color-black;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 90px;
    z-index: $zindex-s;
}
.pw-position-relative {
    position: relative;
}
.pw-position-static {
    position: static;
}

@media #{$desktop} {
    body {
        font-size: 14px;
        line-height: 24px;
    }
}
