.tp-container-textImage {
    @include padding(0);
    max-width: 100%;
    @media #{$desktop} {
        @include max-width($body-max-width);
        margin: 48px auto 0;
    }
    .pw-banner {
        @include margin(0 16px 16px 16px);
        @media #{$desktop} {
            @include margin(0 48px);
        }
        &__content {
            @include margin(0 16px 0 16px);
            @media #{$desktop} {
                @include margin(0);
                max-width: calc(45% - #{convert-to-rem(24px)});
        }
     }
  }
}
.pw-banner {
    @include margin-bottom(20px);
    @media #{$desktop} {
        margin: 0;
    }
    $self: &;
    position: relative;

    &__image-wrapper {
        position: relative;
        width: 100%;
        @media #{$desktop} {
            width: unset;
        }
    }

    &__image {
        @include border-radius($border-radius);
        width: 100%;
    }

    &__contentwrapper {
        @media #{$desktop} {
            position: absolute;
            max-width: 1440px;
            top: 0;
            height: 100%;
            width: 1440px;
            margin: 0 auto;
            justify-content: center;
            left: 0;
            right: 0;
         }
    }

    &__content {
        @include border-radius($border-radius);
        @include margin(-48px 16px 0 16px);
        @include padding-top($padding-l);
        @include padding-left($padding-md);
        @include padding-bottom($padding-l);
        @include padding-right($padding-md);
        background-color: $color-white;
        opacity: unset;
        position: relative;

        @media #{$desktop} {
            @include margin-top(0);
            @include padding($padding-xxxl);
            color: $color-tundora;
            background-color: $color-wild-sand 0.9;
            max-width: calc(45% - #{convert-to-rem(24px)});
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.9;
        }

        &__subtitle {
            @include font-size($font-sm);
            @include margin-bottom($margin-sm);
            text-transform: $uppercase;
            line-height: $font-normal;
            @media #{$desktop} {
                @include margin-bottom($margin-md);
                display: block;
                text-transform: $uppercase;
            }
        }

        &__title {
            @include margin-bottom($margin-md);
        }
        &__description {
            @include margin-bottom($margin-l);
        }

        &__title {
            h2 {
                @include font-size($font-l);
                @include line-height($font-xl,$font-l);
                @media #{$desktop} {
                    @include font-size($font-xl);
                    line-height: 40px;
              }
           }
            @include max-height(64px);
            @media #{$desktop} {
                max-height: convert-to-rem(140px);
            }
        }
        &__description {
            @include font-size(16px);
            @include line-height(28px, 16px);
            @media #{$desktop} {
                @include font-size(14px);
                @include line-height(24px, 14px);
                max-height: convert-to-rem(120px);
            }
        }

    }
    .display-row {
        @media #{$desktop} {
            left: $margin-xxxl;
        }
    }
    .display-row-reversed {
        @media #{$desktop} {
            right: $margin-xxxl;
        }
    }

    &--right {
        #{ $self }__content {
            @include right($margin-xxl);
            left: auto;
        }
    }
}