.tp-container-textImage {
    max-width: 100%;

    @media #{$desktop} {
        @include max-width($body-max-width);
        margin: 0 auto;
    }
    .pw-banner {
        &__content {
            @include margin(24px 16px 0 16px);
            @media #{$desktop} {
                @include margin(0);
                max-width: calc(45% - #{convert-to-rem(24px)});
        }
     }
  }
}
.pw-banner {
    @include margin-bottom($margin-xxxl);

    $self: &;
    position: relative;

    &__image-wrapper {
        position: relative;
    }

    &__image {
        @include border-radius($border-radius);
        width: 100%;
    }

    &__content {
        @include border-radius($border-radius);
        @include margin(-48px 16px 0 16px);
        @include padding-top($padding-l);
        @include padding-left($padding-md);
        @include padding-bottom($padding-l);
        @include padding-right($padding-md);
        background-color: $color-wild-sand;
        opacity: unset;
        position: relative;

        @media #{$desktop} {
            @include margin-top(0);
            @include padding($padding-xxxl);
            color: $color-tundora;
            background-color: $color-wild-sand 0.9;
            max-width: calc(40% - #{convert-to-rem(24px)});
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0.9;
        }

        &__subtitle {
            @include font-size($font-sm);
            display: none;
            @media #{$desktop} {
                display: block;
            }
        }

        &__title,
        &__description {
            @include margin-bottom($padding-l);
        }

        &__title {
            h2 {
                @include font-size($font-l);
                @media #{$desktop} {
                    @include font-size($font-xl);
              }
           }
            @include max-height(64px);
            @media #{$desktop} {
                max-height: convert-to-rem(140px);
            }
        }
        &__description {
            @include font-size(16px);
            @include line-height(28px, 16px);
            @media #{$tablet} {
                @include font-size(14px);
                @include line-height(24px, 14px);
                max-height: convert-to-rem(120px);
            }
        }

    }
    .pw-banner--left {
        @media #{$desktop} {
            left: $margin-xxxl;
        }
    }
    .pw-banner--right {
        @media #{$desktop} {
            right: $margin-xxxl;
        }
    }

    &--right {
        #{ $self }__content {
            @include right($margin-xxl);
            left: auto;
        }
    }
}