.tp-container-textImage {
    @include padding(0);
    max-width: 100%;
    @media #{$desktop} {
        @include max-width($body-max-width);
        margin: 24px auto 0;
    }
    .pw-banner {
        @include margin(0 16px 16px 16px);
        @media #{$desktop} {
            @include margin(0 48px);
        }
        &__content {
            @include margin(0);
            @media #{$desktop} {
                width: 540px;
            }
            &.sky-blue {
                color: $color-white;
                background-color: $color-sky-blue;
            }
        }
        .banner-sibling {
            display: none;
            @media #{$desktop} {
                display: inline-block;
                background-color: $color-wild-sand;
                position: absolute;
                opacity: 0.9;
            }
        }
    }
}
.pw-banner {
    @include margin-bottom(20px);
    @media #{$desktop} {
        margin: 0;
    }
    $self: &;
    position: relative;

    &__image-wrapper {
        position: relative;
        width: 100%;
        @media #{$desktop} {
            width: unset;
        }
        img {
            max-width: unset;
            width: 100%;
            border-radius: 0;
        }
    }

    &__image {
        @include border-radius($border-radius);
        width: 100%;
    }

    &__contentwrapper {
        cursor: context-menu;
        @media #{$desktop-xl} {
            position: absolute;
            max-width: 1440px;
            top: 0;
            height: 100%;
            width: 1440px;
            margin: 0 auto;
            justify-content: center;
            left: 0;
            right: 0;
        }
    }
    &__content {
        @include border-radius($border-radius);
        @include margin(-48px 16px 0 16px);
        @include padding-top($padding-l);
        @include padding-left($padding-md);
        @include padding-bottom($padding-l);
        @include padding-right($padding-md);
        background-color: $color-white;
        opacity: unset;
        position: relative;
        @media #{$desktop} {
            @include margin-top(0);
            @include padding($padding-l $padding-xl);
            @include margin(0);
            color: $color-tundora;
            background-color: transparent;
            width: 540px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 1;
        }
        &__subtitle {
            @include font-size($font-sm);
            @include margin-bottom($margin-sm);
            color: $color-boulder;
            text-transform: $uppercase;
            line-height: $font-normal;
            font-weight: 500;
            @media #{$desktop} {
                @include margin-bottom($margin-zero);
                display: block;
                text-transform: $uppercase;
            }
            &.sky-blue {
                color: $color-white;
            }
        }

        &__title {
            @include margin-bottom($margin-md);
            @include margin-top($margin-sm);
            h1,
            h2,
            h3 {
                @include font-size($font-l);
                @include line-height($font-xl, $font-l);
                font-weight: 400;
                @media #{$desktop} {
                    @include font-size($font-xl);
                    font-weight: 700;
                    line-height: 40px;
                }
            }
            @include max-height(64px);
            @media #{$desktop} {
                max-height: convert-to-rem(140px);
            }
        }
        &__description {
            @include font-size(16px);
            @include line-height(28px, 16px);
            ul {
                li {
                    display: flex;
                    &::before {
                        @include margin-right($margin-sm);
                        display: inline-block;
                        color: $color-tundora;
                        content: '\2022';
                    }
                }
            }
            @media #{$desktop} {
                @include font-size(14px);
                @include line-height(24px, 14px);
            }
        }
        .tpatom-link {
            @include margin-top($margin-md);
            font-family: $font-monsterrat;
        }
        &.sky-blue {
            color: $color-white;
            background-color: $color-sky-blue;
            @media #{$desktop} {
                background-color: transparent;
            }
            .tpatom-link {
                &--primary {
                    color: $color-congress-blue;
                    background-color: $color-white;
                    &:hover {
                        color: $color-sky-blue;
                    }
                }
                &--transparent {
                    color: $color-white;
                    background-color: transparent;
                    &:hover {
                        color: $color-congress-blue;
                    }
                }
            }
        }
    }
    .banner-sibling {
        display: none;
        @media #{$desktop} {
            display: inline-block;
            background-color: $color-wild-sand;
            position: absolute;
            opacity: 0.9;
        }
        &.sky-blue {
            background-color: $color-sky-blue;
        }
    }
    .display-row {
        @media #{$desktop} {
            left: $margin-xxxl;
        }
    }
    .display-row-reversed {
        @media #{$desktop} {
            right: $margin-xxxl;
        }
    }

    &--right {
        #{ $self }__content {
            @include right($margin-xxl);
            left: auto;
        }
    }
}

.no-subtitle {
    .pw-banner__content {
        @media #{$desktop} {
            @include padding-bottom($padding-xl);
        }
    }
}