<sly data-sly-template.banner_template="${@data, flag}">
  <sly data-sly-test.dataLinkSectionCTAText="${data.pwButtonTheme == 'link' ? 'Text Hyperlink' : 'CTA'}" />
  <div class="tp-container-${data.bannerType}" id="${data.anchorId}" title="${data.anchorTitle}" data-module="Banner">
    <div class="pw-banner pw-theme--${data.pwTheme}" data-link-banner-title="${data.title}" data-anchor-type="${dataLinkSectionCTAText}" data-link-section="Hero Image_imageClick" data-link-name="${data.linkLabel}" data-asset-name="${data.assetName}" data-href="${data.enableSoftcoversion ? '': data.linkPath}">
      <sly data-sly-test="${!wcmmode.edit}">
        <div class="pw-banner__image-wrapper">
          <sly data-sly-test="${data.bannerType == 'hero'}">
            <sly
              data-sly-use.dynamicMediaImage="/apps/publicweb/components/content/dynamicMediaImage/dynamicMediaImage-template.html"
              data-sly-call="${dynamicMediaImage.dynamicMediaImage_template @imagePath=data.fileReference, altText=data.alt, imageCrop=data.imageCrop, componentName=data.bannerType, className='img-responsive'}">
            </sly>
          </sly>
          <sly data-sly-test="${data.bannerType == 'textImage'}">
            <sly
              data-sly-use.dynamicMediaImage="/apps/publicweb/components/content/dynamicMediaImage/dynamicMediaImage-template.html"
              data-sly-call="${dynamicMediaImage.dynamicMediaImage_template @imagePath=data.fileReference, altText=data.alt, imageCrop=data.imageCrop, className='img-responsive'}">
            </sly>

          </sly>
        </div>
      </sly>
      <sly data-sly-test="${wcmmode.edit}">
        <div class="pw-banner__image-wrapper">
          <img src="${data.fileReference}" alt="${data.alt}" class="cq-dd-image">
        </div>
      </sly>
      <sly data-sly-test="${data.bannerType == 'hero'}">
        <section class="pw-banner__contentwrapper">
      </sly>
      <div class="${data.subtitle ? '' : 'no-subtitle'}">
      <div class="pw-banner__content banner-sibling ${data.pwDisplay}"></div>
      <div data-sly-test="${data.title}" class="pw-banner__content banner-parent ${data.pwDisplay}">
        <div data-sly-test="${data.subtitle}" class="pw-banner__content__subtitle">
          ${data.subtitle @ context='html'}
        </div>
        <div data-sly-test="${data.title}" class="pw-banner__content__title">
          <sly data-sly-test="${data.title}" data-sly-use.title="/apps/commons/components/atoms/heading/heading.html" +
            data-sly-call="${title.heading_h2_template @ headingText=data.title, variant='regular'}" />
        </div>
        <div class="pw-banner__content__description">${data.text @ context='html'}</div>

        <a data-sly-test="${data.linkLabel && !data.enableSoftcoversion}" href="${data.linkPath}"
          class="tpatom-link tpatom-link--${data.pwButtonTheme == 'secondary' ? 'primary':'transparent'} js-banner-analytics"
          title="${btnTooltip}" data-asset-name="${data.assetName}"
          data-link-section="Hero Image_${dataLinkSectionCTAText}" data-link-type="internal"
          data-link-banner-title="${data.title}" data-link-name="${data.linkLabel}"
          data-anchor-type="${dataLinkSectionCTAText}">
          <span class="tpatom-link__text sly-text">${data.linkLabel @ context='html'}</span><span class="nowrap-text">&#8288;<i
              class="icon ${data.pwButtonTheme == 'secondary' ? 'icon-Arrow_Right_pw':'icon-Circle_Arrow_Right_pw'}"></i></span>
        </a>

         <input type="hidden" id="componentName-banner" name="componentName" value="${resource.name}">
             <button data-sly-test="${data.enableSoftcoversion}" class="tpatom-link tpatom-link--primary js-softconversion-pw-banner text-left"
             data-link-section="button click"
             data-link-banner-title="${data.title}" data-link-name="${data.linkLabel}"
             data-anchor-type="CTA"

             title="${'pw.form.button.download' @ i18n}">
                                            <span class="tpatom-link__text sly-text">${data.linkLabel @ context='html'}</span><span class="nowrap-text">&#8288;<i class="icon icon--link icon-Download"></i></span>
                                            </button>
      </div>
    </div>
  </div>

    <sly data-sly-test="${data.enableSoftcoversion}" data-sly-use.softconversion="/apps/publicweb/components/content/softconversion/softconversion-template.html"
      data-sly-call="${softconversion.softconversion_template @ data=data.softConversionData, componentName=resource.name, downloadPath=data.linkPath, assetName=data.assetName}" />
    <sly data-sly-test="${data.bannerType == 'hero'}">
    </section>
</sly>
</div>
</sly>
