.tp-my-equipment {
    &__modal-content {
        max-height: 500px;
        overflow: scroll;
    }
    &__filter-button {
        @include font-size($font-baseline);
        @include line-height($font-l, $font-baseline);
        @include padding($padding-md);
        @include margin-right($margin-sm);
        border: 1px solid $color-congress-blue;
        color: $color-congress-blue;
        box-sizing: border-box;
        border-radius: 22px;
        &.active {
            border-width: 2px;
            font-weight: 700;
        }
    }

    &__heading {
        @include font-size($font-xl);
        @include line-height(40px, $font-xl);
        @include margin-bottom($margin-l);
    }

    &__search-count {
        @include padding($padding-md $padding-zero);
        @include margin($margin-md $margin-zero);
        @include font-size($font-l);
        @include line-height($font-xl, $font-l);
        color: $color-congress-blue;
        border-top: 1px solid $color-congress-blue;
        border-bottom: 1px solid $color-congress-blue;
    }

    &__filter-wrapper {
        display: flex;
    }

    &__modal-body {
        @include padding($padding-zero $padding-l);
    }

    &__table {
        overflow: scroll;
        max-height: 500px;
        table {
            position: relative;
            border-collapse: separate;
        }
        th {
            position: sticky;
            top: 0; /* Don't forget this, required for the stickiness */
            background: $color-white;
            border-bottom-color: $color-mercury;
        }
        td {
            @include font-size($font-baseline);
            @include line-height($font-l, $font-baseline);
        }
    }
    input[type="checkbox"]:checked ~ .tpatom-checkbox__icon {
        border: 1px solid $color-congress-blue;
        &::before {
            color: $color-congress-blue;
        }
    }

    &__remove-button {
        color: $color-congress-blue;
    }

    .modal-footer > :not(:first-child) {
        @include margin-left($margin-l);
    }

    .tpatom-checkbox__label {
        @include margin-bottom($margin-md);
    }

    .tpatom-checkbox__text {
        color: $color-black;
    }

    &__modal-header {
        @include font-size($font-l);
        @include line-height($font-xl, $font-l);
        color: $color-black;
    }
}
