.tp-my-equipment {
    &__modal-content {
        max-height: 500px;
        overflow: scroll;
    }
    &__header-wrapper {
        @include margin-bottom($margin-l);
        display: flex;
        justify-content: space-between;
    }
    &__filter-button {
        @include font-size($font-baseline);
        @include line-height($font-l, $font-baseline);
        @include padding($padding-md);
        @include margin-right($margin-sm);
        border: 1px solid $color-congress-blue;
        color: $color-congress-blue;
        box-sizing: border-box;
        border-radius: 22px;
        &.active {
            border-width: 2px;
            font-weight: 700;
        }
    }

    &__heading {
        @include font-size($font-xl);
        @include line-height(40px, $font-xl);
    }

    &__search-count {
        @include padding($padding-md $padding-zero);
        @include margin($margin-md $margin-zero);
        @include font-size($font-l);
        @include line-height($font-xl, $font-l);
        color: $color-congress-blue;
        border-top: 1px solid $color-congress-blue;
        border-bottom: 1px solid $color-congress-blue;
    }

    &__filter-wrapper {
        display: flex;
    }

    &__modal-body {
        @include padding($padding-zero $padding-l);
    }

    &__table {
        overflow: scroll;
        max-height: 500px;
        table {
            position: relative;
            border-collapse: separate;
        }
        th {
            position: sticky;
            top: 0; /* Don't forget this, required for the stickiness */
            background: $color-white;
            border-bottom-color: $color-mercury;
            &.hide {
                display: none;
            }
        }
        td {
            @include font-size($font-baseline);
            @include line-height($font-l, $font-baseline);
            &.hide {
                display: none;
            }
        }
    }
    input[type="checkbox"]:checked ~ .tpatom-checkbox__icon {
        border: 1px solid $color-congress-blue;
        &::before {
            color: $color-congress-blue;
        }
    }

    &__remove-button {
        color: $color-congress-blue;
    }

    .modal-footer > :not(:first-child) {
        @include margin-left($margin-l);
    }

    .tpatom-checkbox__label {
        @include margin-bottom($margin-md);
    }

    .tpatom-checkbox__text {
        color: $color-black;
    }

    &__modal-header {
        @include font-size($font-l);
        @include line-height($font-xl, $font-l);
        color: $color-black;
    }

    .header-action-text {
        @include font-size($font-baseline);
        @include line-height($font-l, $font-baseline);
        color: $color-congress-blue;
    }
    &__header-action-wrapper {
        position: relative;
    }

    &__header-mobile {
        display: flex;
    }

    &__header-actions {
        display: none;
        &.show {
            display: flex;
            position: absolute;
            right: 0;
            background: $color-wild-sand;
            padding: 24px;
            border-radius: 4px;
            min-width: 256px;
            span {
                color: $color-tundora;
            }
        }
    }

    .icon {
        color: $color-congress-blue;
    }
    .icon-Hide {
        display: none;
    }

    &__customise-table-action {
        display: flex;
    }

    @media #{$desktop} {
        &__header-mobile {
            display: none;
        }
        &__header-actions {
            display: flex;
        }
        .icon-Hide {
            display: flex;
        }
        .icon {
            @include padding-right($padding-sm);
        }
        &__customise-table-action {
            display: flex;
            line-height: 40px;
            align-items: center;
        }
    }
}
