<sly data-sly-template.myequipment_template="${@data, flag}">
  <div data-module="MyEquipment">
    <div class="tp-my-equipment-country-button-filter">
      <button>Country</button>
    </div>
    <div class="tp-my-equipment-site-button-filter">
      <button>Site</button>
    </div>



    <div class="modal js-filter-modal tp-modal fade" tabindex="-1" role="dialog">
      <div class="tp-equipment__filter-form"></div>
    </div>

    <div class="tp-my-equipment__table_wrapper">

    </div>

  </div>
</sly>
