<sly data-sly-template.myequipment_template="${@data, flag}">
  <div class="tp-card tp-my-equipment" data-module="MyEquipment">
    <code class="d-none js-my-equipment__config">
      ${data.i18nKeys}
    </code>
    <div class="tp-my-equipment__filter-wrapper">
      <button class="tp-my-equipment__country-button-filter tp-my-equipment__filter-button">
        Country +
      </button>
      <button class="tp-my-equipment__site-button-filter tp-my-equipment__filter-button">
        Site +
      </button>
    </div>

    <div class="tp-my-equipment__search-count">
    </div>



    <div class="modal js-filter-modal tp-modal fade" tabindex="-1" role="dialog">
      <div class="tp-equipment__filter-form"></div>
    </div>

    <div class="tp-my-equipment__table_wrapper">

    </div>

  </div>
</sly>
