<sly data-sly-use.headerdata="com.tetrapak.publicweb.core.models.HeaderConfigurationModel"
     data-sly-use.lib="/apps/publicweb/components/content/headerv2/headerv2-template.html"
     data-sly-call="${lib.headerv2_template @ data=headerdata}" />

<!-- <sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="configure ${component.title}"
       class="cq-placeholder"></p>
	   <sly data-sly-use.HeaderConfig="com.tetrapak.publicweb.core.models.HeaderConfigurationModel">
	   Logo Image Path: ${HeaderConfig.logoImagePath}</br>
       Logo Link : ${HeaderConfig.logoLink} <br/>
       Logo Alt :  ${HeaderConfig.logoAlt} <br/>
       Login Label : ${HeaderConfig.loginLabel} <br/>
       Login Link : ${HeaderConfig.loginLink} <br/>
       Contact Us Alt Text : ${HeaderConfig.contactText} <br/>
       Contact Us Link : ${HeaderConfig.contactLink} <br/>
	   </sly>
</sly>
