// Define theme colors here
$color-theme: #218bab;
$color-primary: #333;
$color-secondary: $color-theme;
$color-tertiary: #fff;
$color-deep: #000;
$color-shadow: #ccc;
$color-border: #999;
$color-btn: #9ddaec;
