.pw-image-text-button {
    @include border-radius($border-radius);
    @include margin-bottom($margin-xxxl);
    @include padding($padding-md);

    @media #{$desktop} {
        @include padding($padding-xxxl);
    }

    &__title,
    &__description {
        @include margin-bottom($padding-md);

        @media #{$desktop} {
            @include margin-bottom($padding-l);
        }
    }

    &__description {
        @include font-size(16px);
        @include line-height(28px, 16px);
        @media #{$tablet} {
            @include font-size(14px);
            @include line-height(24px, 14px);
        }
    }

    &__link {
        @include margin-bottom($padding-md);

        @media #{$desktop} {
            @include margin-bottom(0);
        }
    }

}