<sly data-sly-template.imageTextButton_template="${@ data, flag}"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
  <div class="pw-image-text-button pw-theme--${data.pwTheme}" data-locator="image-text-button">
    <div class="row">
      <div class="col-md-12 col-lg-7">
        <div data-sly-test="${data.subtitle}" class="pw-image-text-button__subtitle">
          <sly data-sly-use.subheading="/apps/commons/components/atoms/heading/heading.html"
               data-sly-call="${subheading.subheading_template @ headingText=data.subtitle}"/>
        </div>
        <div data-sly-test="${data.title}" class="pw-image-text-button__title">
          <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
               data-sly-call="${heading.heading_template @ headingText=data.title}"/>
        </div>
        <p class="pw-image-text-button__description">${data.description @ i18n}</p>
        <div class="pw-image-text-button__link" data-sly-test="${data.ctaLinkURL}">
          <sly data-sly-use.pwButton="/apps/commons/components/atoms/button-text/button-text.html"
               data-sly-call="${pwButton.button_template @ btnPath=data.ctaLinkURL, btnText=data.ctaLinkTextI18n, btnTooltip=data.ctaLinkTextI18n, btnIcon='icon-Circle_Arrow_Right', variant='link'}" />
        </div>
      </div>
      <div class="col-md-12 col-lg-5">
        <img class="pw-image-text-button__image" src="${data.imagePath}" alt="${data.imageAltI18n @ i18n}">
      </div>
    </div>

</sly>