.tp-pw-image {
    max-width: 1440px !important;
    padding: 16px 16px;
    margin: 0 auto;
    @media #{$desktop} {
        padding: 24px 48px;
    }

    a {
        width: 100%;
    }

    img {
        width: 100%;
    }

    .pw-margin--regular {
        margin: 0;
        border-radius: 4px;
        padding: 0;

        .tp-pw-image__center-align {
            padding: 16px 16px;
            max-width: 100%;
            text-align: center;
            @media #{$desktop} {
                padding: 24px 48px;
            }
        }
    }

}