.tp-pw-image {
    @include padding(0);
    margin: 0 auto 16px auto;

    @media #{$desktop} {
        @include max-width($body-max-width);
        margin: 0 auto 24px auto;
    }

    a {
        width: 100%;
    }

    img {
        width: 100%;
    }

    .pw-margin--regular {
        border-radius: 4px;
        @include padding($padding-md);
        @include margin(0 $margin-md);
        @media #{$desktop} {
            @include padding($padding-l $padding-xxxl);
            @include margin(0 $margin-xxxl);
        }

        .tp-pw-image__center-align {
            padding: 0;
            max-width: 100%;
            text-align: center;
        }
    }

}