.pw-carousel {
    @include border-radius($border-radius);
    @include margin-bottom($margin-xxxl);
    $self: &;

    &__navPills {
        @include border-radius($border-radius);
        background-color: $color-white;

        #{ $self }__navPills__pill {
            @include font-size($font-baseline);
            @include padding($spacing-small-half 19px);
            color: $color-text;
            font-family: $font-light;
        }

        #{ $self }__navPills__pill.active {
            background-color: $color-text-link;
        }
    }

    &__title {
        @include margin-bottom($margin-l);
    }

    &__navWrapper {
        @include margin-bottom($margin-xxl);
    }

    &__mobileDropdown {
        @include margin-bottom($margin-xxl);
    }

    &__mobileDropdown__toggle {
        @include padding(0 30px 0 8px);
        @include line-height(40px, 40px);
        height: convert-to-rem(40px);
        background-color: $color-white;
        border-color: $color-boulder;
        width: 100%;
        @media #{$desktop} {
            width: auto;
        }
        &::after {
            @include margin(0);
            border: 0;
            font-family: 'tp-icons';
            content: '\f111';
            position: absolute;
            right: 8px;
        }
    }

    &__mobileDropdown__menu {
        @include padding(0);
        border: 0;
        width: 100%;
        @media #{$desktop} {
            width: auto;
        }
        .dropdown-item {
            @include border-xs($color-boulder);
            @include padding(0 21px);
            font-family: $font-light;
            line-height: convert-to-rem(40px);
            height: convert-to-rem(40px);
            &:not(last-child) {
                border-bottom: 0;
            }
            &:hover {
                background-color: ($color-mercury);
            }
        }
        .active {
            @include border-xs($color-text-link);
            background-color: $color-text-link;
            &:hover {
                background-color: $color-text-link;
            }
        }
    }

    &__tabPane__img {
        @include margin-bottom($margin-xxl);
        flex-wrap: nowrap;
        overflow-x: auto;

        img {
            max-width: none;
        }
    }

    &__tabPane__text {
        h3 {
            @include margin-bottom($margin-l);
        }
        p {
            @include margin-bottom($margin-l);
        }
    }
    &.pw-theme--grayscale-white {
        #{ $self }__navPills {
            background-color: $color-mercury;
        }
    }
}
