<sly data-sly-template.carousel_template="${@ data, flag}"
	data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
    <p>Title : ${data.titleI18n}</p>
    <p>Title Alignment : ${data.titleAlignment}
    <p>Show Box : ${data.showBox}</p>

<sly data-sly-list.tabItem="${data.tabs}">
	<p>Practice Line Title : ${tabItem.articleTitle}</p>
    <p>Description : ${tabItem.vanityDescriptionI18n}
    <p>Link Text : ${tabItem.ctaTexti18nKey}</p>
    <p>Open in new window ? : ${tabItem.openInNewWindow}</p>
    <p>Show Image ? : ${tabItem.showImage}
    <p>Practice Line Image Path : ${tabItem.articleImagePath}</p>
    <p>Practice Line Image Alt Text : ${tabItem.articleImageAltI18n}</p>
</sly>

	<sly data-sly-test="${!data.tabs}" data-sly-call="${templates.placeholder @ isEmpty = !data.tabs}"></sly>
</sly>
