<sly data-sly-template.carousel_template="${@ data, flag}" data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
  <div class="pw-carousel pw-theme--${data.pwTheme} pw-padding--${data.pwPadding}" data-module="Carousel">
    <div class="pw-carousel__title ${data.titleAlignment}">
      <sly data-sly-test="${data.titleI18n}" data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
      data-sly-call="${heading.heading_template @ headingText=data.titleI18n}"/>
    </div>
    <div class="pw-carousel__navWrapper justify-content-center d-none d-lg-flex">
      <ul class="pw-carousel__navPills nav nav-pills mb-3 d-inline-flex" role="tablist" data-sly-list.tabItem="${data.tabs}">
        <li class="nav-item">
          <a class="pw-carousel__navPills__pill nav-link ${tabItemList.first? 'active' : ''}" id="pills-tab-${tabItemList.index}" data-toggle="pill" href="#pills-${tabItemList.index}" role="tab" aria-controls="pills-${tabItemList.index}" aria-selected="${tabItemList.first? 'true' : 'false'}">${tabItem.practiceTitle}</a>
        </li>
      </ul>
    </div>
    <div class="pw-carousel__mobileDropdown dropdown d-block d-lg-none text-center">
      <button class="btn dropdown-toggle pw-carousel__mobileDropdown__toggle text-left" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ${data.tabs[0].practiceTitle}
      </button>
      <div class="dropdown-menu pw-carousel__mobileDropdown__menu" data-sly-list.tabItem="${data.tabs}" role="tablist">
        <a class="dropdown-item" data-toggle="pill" href="#pills-${tabItemList.index}" role="tab" aria-controls="pills-${tabItemList.index}">${tabItem.practiceTitle}</a>
      </div>
    </div>
    <div class="pw-carousel__tabContent tab-content" data-sly-list.tabItem="${data.tabs}">
      <div class="pw-carousel__tabPane tab-pane fade ${tabItemList.first? 'show active' : ''}" id="pills-${tabItemList.index}" role="tabpanel">
        <div class="pw-carousel__tabPane__img d-flex">
          <img src="${tabItem.practiceImagePath}" alt="${tabItem.practiceImageAltI18n}">
        </div>
        <div class="pw-carousel__tabPane__text">
          <h3>${tabItem.practiceTitle}</h3>
          <p>${tabItem.vanityDescription}</p>
          <sly data-sly-use.pwButton="/apps/commons/components/atoms/button-text/button-text.html" data-sly-call="${pwButton.button_template @ btnPath=tabItem.articlepath, btnText=tabItem.ctaTexti18nKey, btnTarget=tabItem.linkTarget, variant=data.pwButtonTheme}">
        </div>
      </div>
    </div>
  </div>
  <sly data-sly-test="${!data.tabs}" data-sly-call="${templates.placeholder @ isEmpty = !data.tabs}"></sly>
</sly>
