.tp-pw-megamenuteaser {
    z-index: $zindex-p;
    position: relative;
    width: 100%;
    @media #{$desktop} {
        margin-top: -$margin-xl;
    }
    @media #{$mobile} {
        margin-bottom: $margin-zero;
    }

    height: calc(100% + 32px);
    img {
        position: relative;
        object-fit: cover;
        border-radius: 0;
        height: 100%;
        z-index: 0;
    }

    &__description {
        color: $color-white;
        font-size: $font-m-sm;
    }

    &__header-wrapper {
        position: absolute;
        z-index: $zindex-p;
        bottom: 0;
        left: 0;
        margin: $margin-xl;

        h2 {
            color: $color-white;
            font-size: $font-l;
            margin-bottom: $padding-sm;
            @media #{$mobile} {
                font-size: $font-md;
            }
        }
    }
}