.tp-pw-footer {
    @include margin-top($margin-l);
    min-height: 72px;
    background-color: transparent;
    @media #{$desktop} {
        @include margin-top($margin-l);
    }
    &__content {
        @include margin-top($margin-zero);
    }

    &__container {
        @include padding($padding-md);

        @media #{$desktop} {
            @include padding($padding-l);
        }

        @media #{$mobile} {
            padding: 0;
        }
    }

    &__link {
        color: $color-congress-blue;
        font-weight: 500;

        &:hover,
        &:active {
            color: $color-congress-blue;
            text-decoration: none;
        }
    }

    &__navigation-list {
        justify-content: center;
        @media #{$desktop} {
            @include margin-top($spacing-big);
            display: flex;
            flex-wrap: wrap;
            margin-top: 0;
        }

        &__item {
            @include margin-bottom($margin-md);
            @media #{$desktop} {
                display: block;
                margin: 0 $margin-l;
                margin-bottom: 0;
            }

        }
    }

    &__copyright {
        color: $color-boulder;
        font-size: $font-sm;
        font-weight: 500;
    }
}