<div class="tp_container tp_projects">
    {{> atoms-tp_containerTitle }}

    <div class="row">
        {{# tp_projects_column }}
        <div class="col-md-6 noBottomSpace">
            {{> molecules-tp_projects }}
        </div>
        {{/ tp_projects_column }}
    </div>
</div>
