<div class="tp_container tp_projects">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="tp_projects-wrapper tp_projects-addProject">
                <a href="#">
                    {{> atoms-icon }}
                    <br>
                    Request project
                </a>
            </div>
        </div>

        {{# tp_projects_column }}
        <div class="col-md-6 col-lg-4">
            {{> molecules-tp_projects }}
        </div>
        {{/ tp_projects_column }}
    </div>
</div>
