.pw-megamenu {
    visibility: hidden;
    top: 80px;
    left: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    background: $color-white;
    z-index: 11;

    hr {
        @include margin-top($padding-l);
    }

    &.is-open {
        position: absolute;
        top: -80px;
        height: auto;
        visibility: visible;
        transform: translateX(-100%);
        transition: transform 440ms ease-out;
    }

    &.is-close {
        visibility: hidden;
        transform: translateX(95%);
        transition: transform 1440ms ease-out;
    }

    img {
        @include border-radius($border-radius);
        display: none;
        @media #{$desktop} {
            display: block;
        }
        @media #{$i-pad} {
            @include border-radius($border-radius);
            display: none;
        }
    }

    @media #{$mobile} {
        nav {
            min-height: 100vh;
        }
    }

    @media #{$desktop} {
        @include margin($margin-zero auto);
        @include padding-top(25px);
        display: flex;
        overflow: hidden;
        position: absolute;
        visibility: visible;
        justify-content: center;
        background: $color-white;
        top: auto;
        z-index: $zindex-nav;
        left: 50%;
        height: unset;
        transform: translate(-50%);

        hr {
            @include margin-left(-$margin-xxxl);
            @include margin-right(-$margin-xxxl);
            @include margin-top($margin-zero);
            @include margin-bottom(-$margin-zero);
            border-top: 1px solid $color-mercury;
        }
        nav {
            @include margin-left(0);
            width: 100%;
            border-top: 1px solid $color-white;
            z-index: $zindex-s;
            position: relative;
            background-color: $color-white;
        }
    }
    @media #{$i-pad} {
        @include padding-top($padding-zero);
        visibility: hidden;
        top: 80px;
        left: 100%;
        width: 100%;
        height: 100%;
        position: absolute;
        background: $color-white;
        z-index: 11;
        nav {
            min-height: 100vh;
        }
    }
    a {
        color: $color-congress-blue;
        @media #{$desktop} {
            @include padding($padding-zero);
            color: $color-tundora;
            line-height: 20px;
        }
        @media #{$i-pad} {
            color: $color-congress-blue;
            line-height: 24px;
        }
    }

    .row {
        justify-content: center;
    }
    .col {
        @include padding($padding-md);
        border-bottom: 1px solid $color-mercury;
        flex-basis: auto;
        @media #{$desktop} {
            @include padding(0);
            margin-left: 12px;
            margin-right: 12px;
            flex-basis: 0;
            border-bottom: 0;
        }
        &:last-child {
            @media #{$desktop} {
                @include padding(0);
                border-bottom: 0;
            }
            @media #{$i-pad} {
                @include padding($padding-md);
                border-bottom: 1px solid $color-mercury;
            }
        }
        @media #{$i-pad} {
            @include padding($padding-md);
            margin-left: 0;
            margin-right: 0;
            border-bottom: 1px solid $color-mercury;
            flex-basis: auto;
            &:last-child.col-side-links {
                @include padding(0);
                border-bottom: 0;
            }
        }
    }
    .heading-cta {
        @include padding($padding-md 0);
        display: block;
        border-bottom: 1px solid $color-mercury;
        margin-left: -15px;
        margin-right: -15px;

        .js-design-close-menu-solution {
            @include padding(18px $margin-md);
            @include margin(-16px -16px -16px 0);
            background-color: $color-wild-sand;
            overflow: hidden;
            @media #{$desktop} {
                @include padding(auto);
                @include margin(auto);
                background-color: none;
            }
            font-size: 16px;
            line-height: 16px;
            &::before {
                transform: rotate(180deg);
            }
        }

        @media #{$desktop} {
            margin-left: auto;
            margin-right: auto;
        }
        @media #{$i-pad} {
            margin-left: -15px;
            margin-right: -15px;
        }

        h2 {
            @include margin(0);
            display: inline-block;
            width: 90%;
        }
    }
    .heading-d-link {
        @include margin(28px 0);
        text-align: center;
        @media #{$desktop} {
            @include margin($margin-xl 0);
        }
        @media #{$i-pad} {
            @include margin(28px 0);
        }
    }
    h2 {
        @include line-height($font-l, $font-baseline);
        display: flex;
        font-size: $font-baseline;
        font-weight: 500;
        justify-content: space-between;
        text-align: center;
        @media #{$desktop} {
            @include line-height($font-l, $font-baseline);
            display: block;
            font-weight: 700;
            font-size: $font-baseline;
            justify-content: center;
        }
        @media #{$i-pad} {
            @include line-height($font-l, $font-baseline);
            display: flex;
            font-size: $font-baseline;
            font-weight: 500;
            justify-content: space-between;
            text-align: center;
        }
    }
    h3 {
        @include font-size($font-baseline);
        @include line-height($font-l, $font-baseline);
        @include margin(0);
        color: $color-congress-blue;
        @media #{$desktop} {
            @include margin($margin-l $margin-zero $margin-zero);
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
        }
        @media #{$i-pad} {
            @include font-size($font-baseline);
            @include line-height($font-l, $font-baseline);
            @include margin(0);
            color: $color-congress-blue;
            font-weight: 400;
        }
    }
    p {
        @include font-size($font-sm);
        @include line-height($font-l, $font-baseline);
        @include margin($margin-l 0);
        @media #{$desktop} {
            @include font-size($font-m-sm);
            @include line-height($font-l, $font-baseline);
            @include margin($margin-l 0);
        }

        font-weight: 500;
    }

    p.teaser-spacing {
        @media #{$desktop} {
            margin-top: $margin-md;
            margin-bottom: 0;
        }
    }

    .col-side-links {
        @include padding(0);
        border: 0;
        @media #{$desktop} {
            &.col {
                border-left: 1px solid $color-mercury;
                width: auto;
                flex: 0;
                max-width: inherit;
            }
        }
        @media #{$i-pad} {
            &.col {
                border-left: 0;
                width: 100%;
                flex: auto;
            }
        }

        .list-side-links {
            @media #{$desktop} {
                @include padding-left($padding-l);
            }
            @media #{$i-pad} {
                @include padding-left($padding-zero);
            }

            li {
                @include margin-bottom(0);
                @include padding($padding-md);
                border-bottom: 1px solid $color-mercury;
                a {
                    color: $color-congress-blue;
                    font-size: $font-baseline;
                    font-weight: 500;
                    line-height: 20px;
                    @media #{$desktop} {
                        @include font-size($font-sm);
                    }
                    @media #{$i-pad} {
                        font-size: $font-baseline;
                    }
                }

                @media #{$desktop} {
                    @include margin-bottom($margin-md);
                    @include margin-left(0);
                    @include padding(0);
                    @include font-size($font-sm);
                    @include margin-right(0);
                    border-bottom: 0;
                }
                @media #{$i-pad} {
                    @include margin-bottom(0);
                    @include padding($padding-md);
                    border-bottom: 1px solid $color-mercury;
                }
            }
            span {
                @media #{$desktop} {
                    display: inline-block;
                    position: relative;
                    padding-right: 10px;
                    width: 220px;
                }
                @media #{$i-pad} {
                    display: inline;
                    position: static;
                    padding-right: 0;
                    width: auto;
                }
            }
        }
    }
    &__top {
        img {
            max-width: 100%;
            height: auto;
            width: 100%;
        }
        .col {
            &:not(.col-side-links) {
                @media #{$desktop} {
                    flex: 1;
                }
                @media #{$i-pad} {
                    flex-basis: auto;
                }
            }
        }
        @media #{$mobile} {
            @include padding($padding-zero $padding-md);
        }
        @media #{$desktop} {
            @include margin($margin-xl);
            @include padding(0 $padding-xxxl);
        }
        @media #{$small-desktop} {
            @include padding(0 $padding-l);
        }
        @media #{$i-pad} {
            @include padding($padding-zero $padding-md);
            margin: unset;
        }
    }
    &__bottom {
        border-bottom: 1px solid $color-mercury;
        @media #{$mobile} {
            @include padding($padding-zero $padding-md);
        }
        @media #{$desktop} {
            @include padding($margin-xl);
            @include font-size($font-sm);
            @include line-height($font-m-md, $font-baseline);
            background-color: $color-wild-sand;
            border-bottom: 0;
        }
        .heading-bottom-cta {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media #{$desktop} {
                @include margin-bottom($margin-xl);
                justify-content: center;
            }
            @media #{$i-pad} {
                @include margin-bottom($margin-zero);
                justify-content: space-between;
            }
            i.icon-Arrow_Right_pw {
                &::before {
                    font-size: 16px;
                    line-height: 16px;
                }
            }
        }
        h2 {
            @include margin(0);
            @include padding($padding-md 0);
            display: inline-block;
            color: $color-congress-blue;
            font-size: $font-baseline;
            font-weight: 500;
            // border-bottom: 1px solid $color-mercury;
            text-align: left;
            @media #{$desktop} {
                @include padding(0);
                color: $color-tundora;
                font-weight: 700;
                border-bottom: 0;
                text-align: center;
            }
            @media #{$i-pad} {
                @include padding($padding-md 0);
                color: $color-congress-blue;
                font-size: $font-baseline;
                font-weight: 500;
                text-align: center;
            }
        }
        .col {
            @include margin(0);
            @include padding($padding-md);
            a {
                color: $color-congress-blue;
                @media #{$desktop} {
                    color: $color-tundora;
                    padding: $padding-zero;
                    &:hover {
                        color: $color-sky-blue;
                    }
                }
                @media #{$i-pad} {
                    color: $color-congress-blue;
                    &:hover {
                        color: $color-congress-blue;
                    }
                }
            }
            @media #{$desktop} {
                @include margin(0 $margin-sm);
                padding: 0;
                width: 70px;
                max-width: 70px;
            }
            @media #{$desktop-xl} {
                width: 97px;
                max-width: 97px;
            }
            @media #{$i-pad} {
                @include margin(0);
                @include padding($padding-md);
                width: 100%;
                max-width: 100%;
            }

            &:last-child {
                border-bottom: 1px solid $color-mercury;
                @media #{$desktop} {
                    border-bottom: 0;
                }
                @media #{$i-pad} {
                    border-bottom: 1px solid $color-mercury;
                }
            }
        }
        .bottom-teaser-list {
            @include padding(0 $padding-md);
            visibility: hidden;
            top: 80px;
            left: 100%;
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: auto;
            background: $color-white;
            z-index: 11;
            @media #{$desktop} {
                display: flex;
                visibility: visible;
                position: initial;
                left: auto;
                width: auto;
                top: auto;
                justify-content: center;
                background: $color-wild-sand;
            }
            @media #{$i-pad} {
                display: block;
                visibility: hidden;
                top: 80px;
                left: 100%;
                width: 100%;
                height: 100%;
                position: absolute;
                overflow: auto;
                background: $color-white;
                z-index: 11;
            }

            .js-design-close-menu {
                @include padding(18px $margin-md);
                @include margin(-16px);
                background-color: $color-wild-sand;
                @media #{$mobile} {
                    font-size: 16px;
                    line-height: 16px;
                }
                @media #{$i-pad} {
                    font-size: 16px;
                    line-height: 16px;
                }
                &::before {
                    transform: rotate(-180deg);
                }
            }

            &.active {
                visibility: visible;
                transform: translateX(-100%);
                transition: transform 440ms ease-out;
            }
            &.hide {
                visibility: hidden;
                transform: translateX(95%);
                transition: transform 1440ms ease-out;
            }

            h2 {
                display: inline-block;
                color: $color-tundora;
                padding: 0;
                border-bottom: 0;
                text-align: center;
                width: 90%;
                i {
                    left: 0;
                    position: absolute;
                }
            }
            .img-title {
                display: inline-block;
                font-weight: 500;
                line-height: 24px;
                @media #{$desktop} {
                    @include margin-top($margin-sm);
                    @include padding-top($padding-zero);
                    line-height: 20px;
                    font-size: $font-sm;
                }
                @media #{$i-pad} {
                    @include margin-top($margin-zero);
                    font-size: 14px;
                    line-height: 24px;
                }
            }
        }
        @media #{$i-pad} {
            @include padding($padding-zero $padding-md);
            border-bottom: 1px solid $color-mercury;
            background-color: $color-white;
        }
    }
}
.pw-megamenu .col-side-links .list-side-links li a:hover {
    color: $color-sky-blue;
}
.pw-megamenu .col-side-links .icon-Circle_Arrow_Right_pw,
.pw-megamenu .col-side-links .icon-Arrow_Right_pw {
    display: none;
    margin-left: $margin-sm;
    vertical-align: middle;
    @media #{$desktop} {
        display: inline-block;
        position: relative;
        margin-right: -10px;
        top: 0;
    }
    @media #{$i-pad} {
        display: none;
    }
}
