<sly data-sly-template.megamenusolution_template="${@data, flag}">
  <div data-module="MegaMenuSolution">
     <!--/* Component HTML code goes here */-->
     <nav class="pw-megamenusolution">
        <div class="container-fluid pw-megamenusolution__top">
           <h2 class="d-none d-xl-block">${data.topSectionSubtitle}</h2>
           <ul class="row" data-sly-list.endToEndSolutionSection=${data.endToEndSolutionSection}>
              <li class="col">
                 <a href="${endToEndSolutionSection.cta}">
                    <img class="d-none d-xl-block" src="${endToEndSolutionSection.fileReference} " />
                    <h3>${endToEndSolutionSection.title}</h3>
                    <!-- <sly data-sly-use.title="/apps/commons/components/atoms/heading/heading.html"
+                   data-sly-call="${title.heading_h2_template @ headingText=endToEndSolutionSection.title, variant='regular'}"/> -->
                    <p class="d-none d-xl-block">
                       ${endToEndSolutionSection.description}
                    </p>
                 </a>
              </li>
              <li class="col col-side-links" data-sly-test="${endToEndSolutionSectionList.last}">
                 <ul class="list-side-links" data-sly-list.linkSection=${data.linkSection}>
                    <li><a href="${linkSection.linkUrl}">${linkSection.linkText}
                      <i class="icon icon-Circle_Arrow_Right d-none d-xl-inline-block"></i>
                    </a>
                    <!-- <sly data-sly-use.linkAtom="/apps/commons/components/atoms/link/link-template.html"
                     data-sly-call="${linkAtom.link_template @data=linkSection.linkUrl}">
                   </sly> -->
                  </li>
                 </ul>
              </li>
           </ul>
        </div>
        <div class="container-fluid pw-megamenusolution__btm">
           <h2 class="js-open-menu">${data.bottomSectionSubtitle}
              <i class="icon icon-Chevron_Right d-md-none"></i>
           </h2>
           <div class="bottom-teaser-list js-bottom-teaser-list">
              <ul class="row" data-sly-list.footerCategorySection=${data.footerCategorySection}>
                <li class="col d-md-none" data-sly-test="${footerCategorySectionList.first}">
                  <h2 class="js-close-menu">
                      <i class="icon icon-Chevron_Left d-md-none "></i>
                      ${data.bottomSectionSubtitle}
                  </h2>
                </li>
                <li class="col">
                  <a href="${footerCategorySection.cta}">
                  <img class="d-none d-xl-block" src="${footerCategorySection.fileReference}"  alt="${footerCategorySection.alt}" width="97" height="54"/>
                  ${footerCategorySection.title}
                  </a>
                </li>
             </ul>
           </div>
        </div>
     </nav>
  </div>
</sly>
