<sly data-sly-template.businessinquiryform_template="${@data, flag}">
  <div id="${data.anchorId}" title="${data.anchorTitle}">
    <div id="befUs" class="pw-container" data-locator="BusinessInquiryForm" data-module="Businessinquiryform">
      <div class="pw-businessEnquiry-form pw-theme--${data.pwTheme} pw-padding--regular pw-margin--regular"
        id="pw-befUs" auto_locator="businessEnquiryStepsWrapper">
        <div class="tab-content">
          <form class="pw-form pw-form-businessEnquiry" accept-charset="UTF-8" data-bef-api-servlet="${data.apiUrl}"
            data-bef-countryCode="${data.siteCountry}" data-bef-langCode="${data.siteLanguage}" data-bef-pardotURL="${data.befPardotURL}" data-china-bef-pardotURL="${data.befChinaPardotURL}" autocomplete="off">
            <!--step1 start -->
            <input type="text" name="pardot_extra_field" id="pardot_extra_field_bef" class="d-none"
            tabindex="-1" title="pardot business enquiry inpuut field" />
            <div class="bef-tab-pane active" data-stepNumber="1" data-stepName="purposeOfContact" role="tabpanel"
              id="bef-step-1">
              <div class="row no-gutters">
                <div class="col-lg-6 separator" auto_locator="businessEnquiryLeftContainerStep1">
                  <div class="row no-gutters">
                    <div class="col-sm-12 main-heading" data-sly-test="${data.formConfig.heading}"
                      auto_locator="businessEnquiryLeftContainerHeadingTextStep1">
                      <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                        data-sly-call="${heading.heading_h3_template @ headingText=data.formConfig.heading}" />
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="col-lg-6 pw-image-container" data-sly-test="${data.formConfig.image}"
                      auto_locator="businessEnquiryImageStep1">
                      <sly data-sly-test="${!wcmmode.edit}">
                        <sly data-sly-test="${data.formConfig.image}"
                          data-sly-use.dynamicMediaImage="/apps/publicweb/components/content/dynamicMediaImage/dynamicMediaImage-template.html"
                          data-sly-call="${dynamicMediaImage.dynamicMediaImage_template @imagePath=data.formConfig.image, altText=data.formConfig.alt}" />
                      </sly>
                      <sly data-sly-test="${wcmmode.edit}">
                        <img data-sly-test="${data.formConfig.image}" alt="${data.formConfig.alt}"
                          src="${data.formConfig.image}" class="image img-responsive" />
                      </sly>
                    </div>
                    <div class="descriptioBusinessEnquiry ${data.formConfig.image ? 'col-lg-6' : 'col-lg-12'}"
                      auto_locator="businessEnquiryLeftContainerTextAreaStep1">
                      ${data.formConfig.descriptionText @ context="html"}
                    </div>
                  </div>
                </div>
                <div class="col-lg-6" auto_locator="businessEnquiryRightContainerStep1">
                  <div class="tab-content tab-content-steps">
                    <div class="row pw-progress" auto_locator="progressBarStep1">
                      <div class="col-lg-10">
                        <sly
                          data-sly-use.progressBar="/apps/publicweb/components/molecules/progressbar/progressbar-template.html"
                          data-sly-call="${progressBar.progressbar_template  @ activeStep=1, totalStep=[1,2,3], stepTitles=['pw.form.businessenq.stepTitles.purpose', 'pw.form.businessenq.stepTitles.request', 'pw.form.businessenq.stepTitles.contact']}">
                        </sly>
                      </div>
                    </div>
                    <!-- Purpose of Contact -->
                    <div class="row">
                      <div class="col-sm-12" data-sly-test="${'pw.form.heading.purposeofcontact' @i18n}" auto_locator="businessEnquiryContainerHeadingTextStep1">
                        <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                          data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.purposeofcontact', variant='small'}" />
                      </div>
                      <div class="col-sm-12 formfield" auto_locator="businessEnquiryListContainerStep1">
                        <sly
                          data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
                          data-sly-call="${radioField.radiofieldinput_template @ id='requestAQuote',  required=true, label='pw.form.businessenq.requestaquote', name='purposeOfContactOptionsInBusinessEq', locale= 'en', value='Request for Quote'}">
                        </sly>
                        <sly
                          data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
                          data-sly-call="${radioField.radiofieldinput_template @ id='requestAProductInfo',  required=true, label='pw.form.businessenq.requestforproductinfo', name='purposeOfContactOptionsInBusinessEq', locale= 'en', value='Request for Information', labelClass='mb-0'}">
                        </sly>
                        <input type="hidden" name="purposeOfContactInBusinessEqTitle" class="form-control"
                          id="purposeOfContactInBusinessEqTitle" data-analyticsField="Purpose of contact" required>
                        <div class="errorMsg purposeOfBusinessContactError">${'pw.form.errormsg.selectOneOption' @i18n }
                        </div>
                      </div>
                    </div>

                    <!-- Business Area of Interest -->
                    <div class="row businessArea">
                      <div class="col-sm-12 pw-form--heading" data-sly-test="${'pw.form.heading.businessarea' @i18n}" auto_locator="businessEnquiryContainerHeadingTextStep2">
                        <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                          data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.businessarea', variant='small'}" />
                      </div>
                      <div class="col-sm-12 pw-form--sub_heading">
                        ${'pw.form.businessenq.selectOneOrMoreBusinessArea' @i18n}
                      </div>

                      <div class="col-sm-12 formfield">
                        <div class="checkbox-field">
                          <label class="checkbox-label" for="baoiPackaging">
                            <input type="checkbox" class="form-control js-pw-search-results-filter-check tpatom-checkbox__input float-left" id="baoiPackaging" name="purposeOfContactOptionsInInterestArea" value="Packaging" data-baoi="${'pw.form.businessenq.packaging' @i18n}">
                              <i class="tpatom-checkbox__icon icon icon-Tick float-left"></i>
                              ${'pw.form.businessenq.packaging' @i18n}
                          </label>
                        </div>
                        <div class="checkbox-field" id="processingCheckboxDiv" data-processing-msg-placeholder-text="${'pw.form.businessenq.processing.messageBoxPlaceHolderText' @i18n}">
                          <label class="checkbox-label" for="baoiProcessing">
                            <input type="checkbox" class="form-control js-pw-search-results-filter-check tpatom-checkbox__input float-left" id="baoiProcessing" name="purposeOfContactOptionsInInterestArea" value="Processing" data-baoi="${'pw.form.businessenq.processing' @i18n}">
                              <i class="tpatom-checkbox__icon icon icon-Tick float-left"></i>
                              ${'pw.form.businessenq.processing' @i18n}
                          </label>
                        </div>
                        <div class="checkbox-field mb-0">
                          <label class="checkbox-label" for="baoiServices">
                            <input type="checkbox" class="form-control js-pw-search-results-filter-check tpatom-checkbox__input float-left" id="baoiServices" name="purposeOfContactOptionsInInterestArea" value="Services" data-baoi="${'pw.form.businessenq.services' @i18n}">
                              <i class="tpatom-checkbox__icon icon icon-Tick float-left"></i>
                              ${'pw.form.businessenq.services' @i18n}
                          </label>
                        </div>

                        <input type="hidden" name="purposeOfInterestAreaEqTitle" class="form-control"
                          id="purposeOfInterestAreaEqTitle" data-analyticsField="Business area of interest" required>
                        <div class="errorMsg purposeOfBusinessIntersetError">
                          ${'pw.form.errormsg.businessareofinterest' @i18n}
                        </div>
                      </div>
                    </div>

                    <div class="row no-gutters button-group">
                      <sly data-sly-use.nextButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                        data-sly-call="${nextButton.tabbutton_template @ btnText='pw.form.button.next', btnTarget='#bef-step-2',icon_classes='icon-Arrow_Right_pw', autoLocator='businessFormNextButtonStep1', customClasses='step1Btn'}" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--step1 end-->

            <!--step 1 - Specific Interest Are - Packaging start -->
            <div class="bef-tab-pane specificIntAreaPackaging" data-stepNumber="1" data-stepName="specificIntAreaPackaging" role="tabpanel" id="businessInquiry_packaging">
              <div class="row no-gutters">
                <div class="col-lg-6 separator" auto_locator="businessEnquiryLeftContainerStep1">
                  <div class="row no-gutters">
                    <div class="col-sm-12 main-heading" data-sly-test="${data.formConfig.heading}"
                      auto_locator="businessEnquiryLeftContainerHeadingStep1">
                      <sly data-sly-test="${data.formConfig.heading}"
                        data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                        data-sly-call="${heading.heading_h2_template @ headingText=data.formConfig.heading}" />
                    </div>
                  </div>
                  <div auto_locator="businessEnquiryLeftContainerSummaryAreaStep1">
                    <div class="row no-gutters" data-sly-test="${'pw.form.heading.summary' @i18n}">
                      <div class="col-sm-12">
                        <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                          data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.summary', variant='small'}" />
                      </div>
                    </div>
                    <div class="row no-gutters summary">
                      <div class="col-lg-5">${'pw.form.heading.purposeofcontact' @i18n}</div>
                      <div class="col-lg-7 purposeOfContactInBusinessEqTitle"></div>
                    </div>
                    <div class="row no-gutters summary">
                      <div class="col-lg-5">${'pw.form.heading.businessarea' @i18n}</div>
                      <div class="col-lg-7 purposeOfInterestAreaEqTitle"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6" auto_locator="businessEnquiryRightContainerStep1">
                  <sly data-sly-use.baPackaging="/apps/publicweb/components/molecules/businessAreaPackaging/businessAreaPackaging-template.html" data-sly-call="${baPackaging.businessAreaPackaging_template}"></sly>
                </div>
              </div>
            </div>
            <!--step 1 Specific Interest Are - Packaging end -->

            <!--step 1 - Specific Interest Are - Processing start -->
            <div class="bef-tab-pane specificIntAreaProcessing" data-stepNumber="1" data-stepName="specificIntAreaProcessing"
              role="tabpanel" id="businessInquiry_processing">
              <div class="row no-gutters">
                <div class="col-lg-6 separator" auto_locator="businessEnquiryLeftContainerStep1">
                  <div class="row no-gutters">
                    <div class="col-sm-12 main-heading" data-sly-test="${data.formConfig.heading}"
                      auto_locator="businessEnquiryLeftContainerHeadingStep1">
                      <sly data-sly-test="${data.formConfig.heading}"
                        data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                        data-sly-call="${heading.heading_h2_template @ headingText=data.formConfig.heading}" />
                    </div>
                  </div>
                  <div auto_locator="businessEnquiryLeftContainerSummaryAreaStep1">
                    <div class="row no-gutters" data-sly-test="${'pw.form.heading.summary' @i18n}">
                      <div class="col-sm-12">
                        <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                          data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.summary', variant='small'}" />
                      </div>
                    </div>
                    <div class="row no-gutters summary">
                      <div class="col-lg-5">${'pw.form.heading.purposeofcontact' @i18n}</div>
                      <div class="col-lg-7 purposeOfContactInBusinessEqTitle"></div>
                    </div>
                    <div class="row no-gutters summary">
                      <div class="col-lg-5">${'pw.form.heading.businessarea' @i18n}</div>
                      <div class="col-lg-7 purposeOfInterestAreaEqTitle"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6" auto_locator="businessEnquiryRightContainerStep1">
                  <sly data-sly-use.baProcessing="/apps/publicweb/components/molecules/businessAreaProcessing/businessAreaProcessing-template.html" data-sly-call="${baProcessing.businessAreaProcessing_template}"></sly>
                </div>
              </div>
            </div>
            <!--step 1 Specific Interest Are - Processing end -->

            <!--step 1 - Specific Interest Are - Services start -->
            <div class="bef-tab-pane specificIntAreaServices" data-stepNumber="1" data-stepName="specificIntAreaServices" role="tabpanel" id="businessInquiry_services">
              <div class="row no-gutters">
                <div class="col-lg-6 separator" auto_locator="businessEnquiryLeftContainerStep1">
                  <div class="row no-gutters">
                    <div class="col-sm-12 main-heading" data-sly-test="${data.formConfig.heading}"
                      auto_locator="businessEnquiryLeftContainerHeadingStep1">
                      <sly data-sly-test="${data.formConfig.heading}"
                        data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                        data-sly-call="${heading.heading_h2_template @ headingText=data.formConfig.heading}" />
                    </div>
                  </div>
                  <div auto_locator="businessEnquiryLeftContainerSummaryAreaStep1">
                    <div class="row no-gutters" data-sly-test="${'pw.form.heading.summary' @i18n}">
                      <div class="col-sm-12">
                        <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                          data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.summary', variant='small'}" />
                      </div>
                    </div>
                    <div class="row no-gutters summary">
                      <div class="col-lg-5">${'pw.form.heading.purposeofcontact' @i18n}</div>
                      <div class="col-lg-7 purposeOfContactInBusinessEqTitle"></div>
                    </div>
                    <div class="row no-gutters summary">
                      <div class="col-lg-5">${'pw.form.heading.businessarea' @i18n}</div>
                      <div class="col-lg-7 purposeOfInterestAreaEqTitle"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6" auto_locator="businessEnquiryRightContainerStep1">
                  <sly data-sly-use.baServices="/apps/publicweb/components/molecules/businessAreaServices/businessAreaServices-template.html" data-sly-call="${baServices.businessAreaServices_template}"></sly>
                </div>
              </div>
            </div>
            <!--step 1 Specific Interest Are - Services end -->

            <!--step 2 - Request Fields start -->
            <div class="bef-tab-pane" data-stepNumber="2" data-stepName="request" role="tabpanel"
              auto_locator="businessEnquiryListContainerStep2" id="bef-step-2">
              <div class="row no-gutters">
                <div class="col-lg-6 separator" auto_locator="businessEnquiryLeftContainerStep2">
                  <div class="row no-gutters">
                    <div class="col-sm-12 main-heading" auto_locator="businessFormLeftContainerHeadingStep3">
                      <sly data-sly-test="${data.formConfig.heading}"
                        data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                        data-sly-call="${heading.heading_h2_template @ headingText=data.formConfig.heading}" />
                    </div>
                  </div>
                  <div auto_locator="businessFormLeftContainerSummaryAreaStep3">
                    <div class="row no-gutters" data-sly-test="${'pw.form.heading.summary' @i18n}">
                      <div class="col-sm-12">
                        <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                          data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.summary', variant='small'}" />
                      </div>
                    </div>
                    <div class="row no-gutters summary">
                      <div class="col-lg-5">${'pw.form.heading.purposeofcontact' @i18n}</div>
                      <div class="col-lg-7 purposeOfContactInBusinessEqTitle"></div>
                    </div>
                    <div class="row no-gutters summary">
                      <div class="col-lg-5">${'pw.form.heading.businessarea' @i18n}</div>
                      <div class="col-lg-7 purposeOfInterestAreaEqTitle"></div>
                    </div>
                   <div class="row no-gutters summary summary-interest">
                      <div class="col-lg-5">${'pw.form.businessenq.specificAreaOfInterest' @i18n}</div>
                      <div class="col-lg-7 specificInterestAreaPackagingEqTitle businessAreaInterestServicesEqTitle "></div>
                    </div>
                    <div class="row no-gutters summary summary-packaging">
                      <div class="col-lg-5">${'pw.form.businessenq.scopeOfRequest' @i18n}</div>
                      <div class="col-lg-7 businessAreaInterestProcessingSupportEqTitle"></div>
                    </div>
                    <div class="row no-gutters summary summary-packaging">
                      <div class="col-lg-5">${'pw.form.businessenq.processing.foodCategory' @i18n}</div>
                      <div class="col-lg-7 businessAreaProcessingCategoryFoodEqtitle"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6" auto_locator="businessEnquiryRightContainerStep2">
                  <div class="tab-content tab-content-steps">
                    <div class="row no-gutters pw-progress" auto_locator="progressBarStep2">
                      <div class="col-lg-10">
                        <sly
                          data-sly-use.progressBar="/apps/publicweb/components/molecules/progressbar/progressbar-template.html"
                          data-sly-call="${progressBar.progressbar_template @ activeStep=2, totalStep=[1,2,3], stepTitles=['pw.form.businessenq.stepTitles.purpose', 'pw.form.businessenq.stepTitles.request', 'pw.form.businessenq.stepTitles.contact']}">
                        </sly>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-sm-12" data-sly-test="${'pw.form.businessenq.bestDescriptionText' @i18n}" auto_locator="businessEnquiryContainerHeadingTextStep1">
                        <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                          data-sly-call="${heading.heading_h4_template @ headingText='pw.form.businessenq.bestDescriptionText', variant='small'}" />
                      </div>
                      <div class="col-sm-12" auto_locator="businessEnquiryRightContainerStep2">
                        <div class="form-group formfield">
                          <sly
                            data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
                            data-sly-call="${radioField.radiofieldinput_template @ id='reqBEDevelopment', required=true, label='pw.form.businessenq.projectInDevelopmentText', name='businessEnquiryNeed', locale= 'en', value='Have a project in development with a budget assigned'}">
                          </sly>
                          <sly
                            data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
                            data-sly-call="${radioField.radiofieldinput_template @ id='reqBESolution', required=true, label='pw.form.businessenq.lookingForAlternativeText', name='businessEnquiryNeed', locale= 'en', value='Looking for new alternatives or a new solution provider', labelClass='mb-0'}">
                          </sly>
                          <input type="hidden" name="businessEnquiryNeedEqTitle" class="form-control"
                            id="businessEnquiryNeedEqTitle" data-analyticsField="${'pw.form.businessenq.bestDescriptionText' @i18n}" required>
                          <div class="errorMsg">${'pw.form.errormsg.selectOneOption' @i18n}
                          </div>
                        </div>

                        <div class="role-field-wrapper formfield col-sm-12 col-lg-6">
                          <div class="formfield role-field country form-group"
                            data-role-name-label="${'pw.form.label.yourRole' @i18n}">
                            <label class="non-title-field" for="country">
                              ${'pw.form.label.yourRole' @i18n}
                            </label>
                            <div class="pw-form__dropdown dropdown text-left">
                              <button
                                class="btn dropdown-toggle role-dropdown js-pw-form__dropdown__toggle pw-form__dropdown__toggle category__toggle text-left"
                                type="button" data-toggle="dropdown" aria-haspopup="true"
                                auto_locator="roleSelectDropdown" aria-expanded="false">
                                <span class="js-pw-form__dropdown__country-text">${'pw.form.label.chooseOneOptionText'
                                  @ i18n}</span>
                                <i class="icon icon-Arrow_Right_pw"></i></button>
                              </button>
                              <sly data-sly-test="${data.TagProcessingRoles}">
                                <div class="dropdown-menu pw-form__dropdown__menu role-dropdown-select" data-sly-list.tagName="${data.TagProcessingRoles}" data-dropdowntype="role">
                                  <a href="#" class="dropdown-item" data-roleKey="${tagName}" data-field-name="businessEnquiryProfile" data-field-title="roleTitle" data-title="${data.TagProcessingRoles[tagName]}" data-pardot-title= "${tagName}">
                                    ${data.TagProcessingRoles[tagName]}
                                  </a>
                                </div>
                              </sly>
                              <input type="hidden" name="businessEnquiryProfile" data-analyticsField="${'pw.form.label.yourRole' @i18n}" class="form-control validateForTags" id="role" required>
                            </div>
                            <div data-role-error-msg="${'pw.form.errormsg.selectOneOption' @i18n}" class="errorMsg">
                              ${'pw.form.errormsg.selectOneOption' @i18n}</div>
                          </div>
                        </div>

                        <div class="formfield" id="messageBoxDiv" data-general-placeholder="${'pw.form.businessenq.messagebox.howWeCanHelpText' @i18n}">
                          <label class="text-area-label" data-text-area-label="${'pw.form.label.message' @i18n}"
                            for="businessEnquiryMessageText">${'pw.form.label.message' @i18n}</label>
                          <textarea auto_locator="messageBoxStep3" class="form-control validateForTags"
                            id="businessEnquiryMessageText" rows="12" name="businessEnquiryMessage" data-analyticsField="${'pw.form.label.message' @i18n}" placeholder="${'pw.form.businessenq.messagebox.howWeCanHelpText' @i18n}" required></textarea>
                          <div data-error-msg="${'pw.form.errormsg.enterthisfield' @i18n}" class="errorMsg">
                            ${'pw.form.errormsg.enterthisfield' @i18n}</div>
                        </div>
                      </div>
                    </div>

                    <div class="row no-gutters button-group">
                      <sly
                        data-sly-use.previousButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                        data-sly-call="${previousButton.tabbutton_template @ btnText='pw.form.button.previous', btnTarget='#bef-step-1', variant='secondary', customClasses='previousbtn step2Btn', icon_classes='icon-Arrow_Right_pw', autoLocator='businessFormPreviousButtonStep3' }" />
                      <sly data-sly-use.nextButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                        data-sly-call="${nextButton.tabbutton_template @ btnText='pw.form.button.next', btnTarget='#bef-step-3', icon_classes='icon-Arrow_Right_pw', autoLocator='businessFormNextButtonStep3' }" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- step 2 end -->

            <!--step 3 start -->
            <div class="bef-tab-pane" data-stepNumber="3" data-stepName="contactInfo" role="tabpanel"
              auto_locator="businessEnquiryListContainerStep5" id="bef-step-3">
              <div class="row no-gutters">
                <div class="col-lg-6 separator" auto_locator="businessEnquiryLeftContainerStep3">
                  <div class="row no-gutters">
                    <div class="col-sm-12 main-heading" data-sly-test="${data.formConfig.heading}"
                      auto_locator="businessFormLeftContainerHeadingStep5">
                      <sly data-sly-test="${data.formConfig.heading}"
                        data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                        data-sly-call="${heading.heading_h2_template @ headingText=data.formConfig.heading}" />
                    </div>
                  </div>
                  <div auto_locator="businessFormLeftContainerSummaryAreaStep5">
                    <div class="row no-gutters" data-sly-test="${'pw.form.heading.summary' @i18n}">
                      <div class="col-sm-12">
                        <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                          data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.summary', variant='small'}" />
                      </div>
                    </div>
                    <div class="row no-gutters summary">
                      <div class="col-lg-5">${'pw.form.heading.purposeofcontact' @i18n}</div>
                      <div class="col-lg-7 purposeOfContactInBusinessEqTitle"></div>
                    </div>
                    <div class="row no-gutters summary">
                      <div class="col-lg-5">${'pw.form.heading.businessarea' @i18n}</div>
                      <div class="col-lg-7 purposeOfInterestAreaEqTitle"></div>
                    </div>
                    <div class="row no-gutters summary">
                      <div class="col-lg-5">${'pw.form.label.message' @i18n}</div>
                      <div class="col-lg-7 businessEnquiryMessage"></div>
                    </div>
                    <div class="row no-gutters summary summary-interest">
                      <div class="col-lg-5">${'pw.form.businessenq.specificAreaOfInterest' @i18n}</div>
                      <div class="col-lg-7 specificInterestAreaPackagingEqTitle businessAreaInterestServicesEqTitle"></div>
                    </div>
                    <div class="row no-gutters summary summary-packaging">
                      <div class="col-lg-5">${'pw.form.businessenq.scopeOfRequest' @i18n}</div>
                      <div class="col-lg-7 businessAreaInterestProcessingSupportEqTitle"></div>
                    </div>
                    <div class="row no-gutters summary summary-packaging">
                      <div class="col-lg-5">${'pw.form.businessenq.processing.foodCategory' @i18n}</div>
                      <div class="col-lg-7 businessAreaProcessingCategoryFoodEqtitle"></div>
                    </div>
                    <div class="row no-gutters summary">
                      <div class="col-lg-5">${'pw.form.businessenq.bestDescriptionText' @i18n}</div>
                      <div class="col-lg-7 businessEnquiryNeedEqTitle"></div>
                    </div>
                    <div class="row no-gutters summary">
                      <div class="col-lg-5">${'pw.form.label.yourRole' @i18n}</div>
                      <div class="col-lg-7 businessEnquiryProfile"></div>
                    </div>

                  </div>
                </div>
                <div class="col-lg-6" auto_locator="businessEnquiryRightContainerStep3">
                  <div class="tab-content tab-content-steps">
                    <div class="row no-gutters pw-progress" auto_locator="progressBarStep3">
                      <div class="col-lg-10">
                        <sly
                          data-sly-use.progressBar="/apps/publicweb/components/molecules/progressbar/progressbar-template.html"
                          data-sly-call="${progressBar.progressbar_template @ activeStep=3, totalStep=[1,2,3], stepTitles=['pw.form.businessenq.stepTitles.purpose', 'pw.form.businessenq.stepTitles.request', 'pw.form.businessenq.stepTitles.contact']}">
                        </sly>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 heading-summary" data-sly-test="${'pw.form.heading.companyinformation' @i18n}">
                        <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                          data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.companyinformation', variant='small'}" />
                      </div>
                      <div class="col-sm-6 formfield" auto_locator="businessEnquiryListContainerStep3">
                        <div class="formfield">
                          <sly
                            data-sly-use.inputField="/apps/publicweb/components/molecules/inputfield/inputfield-template.html"
                            data-sly-call="${inputField.inputfield_template @ inputType='email', id='email', label='pw.form.label.email' , required=true, error='pw.form.errormsg.invalidemail', autoLocatorInput='emailInput', autoLocatorLabel='emailHelpText', inputClass='validateForTags', placeholder='pw.form.label.emailPlaceholder'}">
                          </sly>
                        </div>
                        <div class="formfield">
                          <sly
                            data-sly-use.inputField="/apps/publicweb/components/molecules/inputfield/inputfield-template.html"
                            data-sly-call="${inputField.inputfield_template @ inputType='text', id='firstName', label='pw.form.label.firstName', error='pw.form.errormsg.enterthisfield', required=true, autoLocatorInput='firstNameInput', autoLocatorLabel='firstNameHelpText', inputClass='validateForTags'}">
                          </sly>
                        </div>
                        <div class="formfield">
                          <sly
                            data-sly-use.inputField="/apps/publicweb/components/molecules/inputfield/inputfield-template.html"
                            data-sly-call="${inputField.inputfield_template @ inputType='text', id='lastName', label='pw.form.label.lastName', error='pw.form.errormsg.enterthisfield', required=true, autoLocatorInput='lastNameInput', autoLocatorLabel='lastNameHelpText', inputClass='validateForTags'}">
                          </sly>
                        </div>
                        <div class="formfield">
                          <sly
                            data-sly-use.inputField="/apps/publicweb/components/molecules/inputfield/inputfield-template.html"
                            data-sly-call="${inputField.inputfield_template @ inputType='text', id='phone', inputClass='phoneInput', label='pw.form.label.phonenumber', error='pw.form.errormsg.enterthisfield', placeholder='pw.form.label.phoneplaceholder', required=true,  autoLocatorInput='phoneInput', autoLocatorLabel='phoneText', inputClass='validateForTags'}">
                          </sly>
                        </div>
                        <div class="formfield">
                          <sly
                            data-sly-use.inputField="/apps/publicweb/components/molecules/inputfield/inputfield-template.html"
                            data-sly-call="${inputField.inputfield_template @ inputType='text', id='workplaceCity', label='pw.form.label.cityWorkspaceText', error='pw.form.errormsg.enterthisfield', required=true, autoLocatorInput='cityOfWorkPlaceInput', autoLocatorLabel='cityOfWorkPlaceHelpText', inputClass='validateForTags'}">
                          </sly>
                        </div>
                        <div class="country-field-wrapper col-sm-12">
                          <div class="formfield country-field country form-group"
                            data-country-name-label="${'pw.form.label.country' @i18n}">
                            <label class="non-title-field" for="country"
                              auto_locator="businessContactUsCountrySelectorHelpText">${'pw.form.label.country' @
                              i18n}</label>
                            <div class="pw-form__dropdown dropdown text-left">
                              <button
                                class="btn dropdown-toggle country-dropdown js-pw-form__dropdown__toggle pw-form__dropdown__toggle category__toggle text-left"
                                type="button" data-toggle="dropdown" aria-haspopup="true"
                                auto_locator="countrySelectDropdown" aria-expanded="false">
                                <span class="js-pw-form__dropdown__country-text">${'pw.form.label.chooseOneOptionText'
                                  @ i18n}</span>
                                <i class="icon icon-Arrow_Right_pw"></i></button>
                              </button>
                              <div class="dropdown-menu pw-form__dropdown__menu country-dropdown-select" data-sly-list.country="${data.countryOptions}" data-dropdowntype="country">
                                <a href="#" class="dropdown-item" data-country="${country.key}" data-field-name="country" data-field-title="countryTitle" data-title="${country.value}" data-pardot-title="${country.value}">
                                  ${country.value}
                                </a>
                              </div>
                              <input type="hidden" name="countryTitle" class="form-control validateForTags" id="country" required>
                            </div>
                            <div data-country-error-msg="${'pw.form.errormsg.selectOneOption' @i18n}" class="errorMsg">
                              ${'pw.form.errormsg.selectOneOption' @i18n}</div>
                          </div>
                        </div>
                        <div class="formfield">
                          <sly
                            data-sly-use.inputField="/apps/publicweb/components/molecules/inputfield/inputfield-template.html"
                            data-sly-call="${inputField.inputfield_template @ inputType='text', id='company', label='pw.form.label.company', error='pw.form.errormsg.enterthisfield', required=true, autoLocatorInput='companyInput', autoLocatorLabel='companyText', inputClass='validateForTags'}">
                          </sly>
                        </div>
                        <div class="position-field-wrapper col-sm-12">
                          <div class="formfield position-field country form-group"
                            data-position-name-label="${'pw.form.label.position' @i18n}">
                            <label class="non-title-field" for="country">${'pw.form.label.position' @
                              i18n}</label>
                            <div class="pw-form__dropdown dropdown text-left">
                              <button
                                class="btn dropdown-toggle position-dropdown js-pw-form__dropdown__toggle pw-form__dropdown__toggle category__toggle text-left"
                                type="button" data-toggle="dropdown" aria-haspopup="true"
                                auto_locator="positionSelectDropdown" aria-expanded="false">
                                <span class="js-pw-form__dropdown__country-text">${'pw.form.label.chooseOneOptionText'
                                  @ i18n}</span>
                                <i class="icon icon-Arrow_Right_pw"></i></button>
                              </button>
                              <sly data-sly-test="${data.TagTitles}">
                                <div class="dropdown-menu pw-form__dropdown__menu position-dropdown-select" data-sly-list.tagName="${data.TagTitles}" data-dropdowntype="position">
                                  <a href="#" class="dropdown-item" data-positionKey="${tagName}" data-field-name="position" data-field-title="positionTitle" data-title="${data.TagTitles[tagName]}" data-pardot-title="${tagName}">
                                    ${data.TagTitles[tagName]}
                                  </a>
                                </div>
                              </sly>
                              <input type="hidden" name="position" class="form-control validateForTags" id="position" required>
                            </div>
                            <div data-position-error-msg="${'pw.form.errormsg.selectOneOption' @i18n}" class="errorMsg">
                              ${'pw.form.errormsg.selectOneOption' @i18n}</div>
                          </div>
                        </div>

                        <div class="function-field-wrapper col-sm-12">
                          <div class="formfield function-field country form-group"
                            data-function-name-label="${'pw.form.label.function' @i18n}">
                            <label class="non-title-field" for="country">${'pw.form.label.function' @
                              i18n}</label>
                            <div class="pw-form__dropdown dropdown text-left">
                              <button
                                class="btn dropdown-toggle function-dropdown js-pw-form__dropdown__toggle pw-form__dropdown__toggle category__toggle text-left"
                                type="button" data-toggle="dropdown" aria-haspopup="true"
                                auto_locator="functionSelectDropdown" aria-expanded="false">
                                <span class="js-pw-form__dropdown__country-text">${'pw.form.label.chooseOneOptionText'
                                  @ i18n}</span>
                                <i class="icon icon-Arrow_Right_pw"></i></button>
                              </button>
                              <sly data-sly-test="${data.TagFunctions}">
                                <div class="dropdown-menu pw-form__dropdown__menu function-dropdown-select" data-sly-list.tagName="${data.TagFunctions}" data-dropdowntype="function">
                                  <a href="#" class="dropdown-item" data-functionKey="${tagName}" data-field-name="function" data-field-title="functionTitle" data-title="${data.TagFunctions[tagName]}" data-pardot-title="${tagName}">
                                    ${data.TagFunctions[tagName]}
                                  </a>
                                </div> 
                              </sly>      
                              <input type="hidden" name="function" class="form-control validateForTags" id="function" required>
                            </div>
                            <div data-function-error-msg="${'pw.form.errormsg.selectOneOption' @i18n}" class="errorMsg">
                              ${'pw.form.errormsg.selectOneOption' @i18n}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="formfield">
                          <div class="form-group formfield">
                            <div class="checkbox-field">
                              <label class="checkbox-label non-title-field" for="befconsentcheckbox">
                                <input type="checkbox" class="form-control js-pw-search-results-filter-check tpatom-checkbox__input float-left" id="befconsentcheckbox" name="marketingConsent">
                                  <i class="tpatom-checkbox__icon icon icon-Tick float-left"></i>
                                  ${data.consentConfig.marketingConsent @ context='html'}
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="formfield">
                          <p>${data.consentConfig.privacyPolicy @ context='html'}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row no-gutters button-group">
                      <sly
                        data-sly-use.previousButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                        data-sly-call="${previousButton.tabbutton_template @ btnText='pw.form.button.previous', btnTarget='#bef-step-2', variant='secondary', customClasses='previousbtn', icon_classes='icon-Arrow_Right_pw', autoLocator='businessFormPreviousButtonStep5' }" />
                      <sly data-sly-use.nextButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                        data-sly-call="${nextButton.tabbutton_template @ btnText='pw.form.button.submit', btnType='submit', btnTarget='#bef-step-final', autoLocator='businessFormSubmitButtonStep5', customClasses='previewLinkBtn'}" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!---step 3 end-->

            <!--step Final start -->
            <div class="bef-tab-pane" role="tabpanel" id="bef-step-final"
              auto_locator="businessEnquiryListContainerStepFinal">
              <div class="row no-gutters thankyou">
                <div class="col-md-8 offset-md-2 text-center" auto_locator="befUsThankYouMessage">
                  <div class="bef-thankyou-img">
                    <sly data-sly-test="${!wcmmode.edit}">
                      <sly data-sly-test="${data.formConfig.thankyouImage}"
                        data-sly-use.dynamicMediaImage="/apps/publicweb/components/content/dynamicMediaImage/dynamicMediaImage-template.html"
                        data-sly-call="${dynamicMediaImage.dynamicMediaImage_template @imagePath=data.formConfig.thankyouImage, altText=data.formConfig.thankyouImageAltText}" />
                    </sly>
                    <sly data-sly-test="${wcmmode.edit}">
                      <img data-sly-test="${data.formConfig.thankyouImage}" auto_locator="befUsThankYouPageImage"
                        alt="${data.formConfig.thankyouImageAltText}" src="${data.formConfig.thankyouImage}"
                        class="image img-responsive" />
                    </sly>
                  </div>
                  <div auto_locator="befUsThankYouPageMessage">
                    <sly data-sly-test="data.formConfig.thankyouHeading"
                      data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                      data-sly-call="${heading.heading_h2_template @ headingText=data.formConfig.thankyouHeading}" />
                  </div>
                  <div class="descriptionTextThankyou" auto_locator="befUsThankYouPageDescription">
                    ${data.formConfig.thankyouDescriptionText @ context='html'}
                  </div>
                  <div class="button-group">
                    <sly data-sly-use.nextButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                      data-sly-call="${nextButton.tabbutton_template @ btnText='pw.form.button.newrequest', customClasses='newRequestBtn'}" />
                  </div>
                </div>
              </div>
            </div>
            <!--step Final end-->
          </form>
        </div>
      </div>
    </div>
  </div>
</sly>