<sly data-sly-template.businessinquiryform_template="${@data, flag}">
<div id="${data.anchorId}" title="${data.anchorTitle}">
    <div id="befUs" class="pw-container" data-locator="BusinessInquiryForm"
        data-module="Businessinquiryform">
        <div class="pw-businessEnquiry-form pw-theme--${data.pwTheme} pw-padding--regular pw-margin--regular"
            id="pw-befUs" auto_locator="businessEnquiryStepsWrapper">
            <div class="tab-content">
                <form class="pw-form pw-form-businessEnquiry" accept-charset="UTF-8"
                    data-bef-api-servlet="${data.apiUrl}" data-bef-countryCode="${data.siteCountry}" data-bef-langCode="${data.siteLanguage}" autocomplete="off">
                    <!--step1 start-->
                    <div class="bef-tab-pane active" data-stepNumber="1" data-stepName="purposeOfContact" role="tabpanel"
                        id="bef-step-1">
                        <div class="row no-gutters">
                            <div class="col-lg-6 separator" auto_locator="businessEnquiryLeftContainerStep1">
                                <div class="row no-gutters">
                                    <div class="col-sm-12 main-heading"  data-sly-test="${data.formConfig.heading}" auto_locator="businessEnquiryLeftContainerHeadingTextStep1">
                                        <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                            data-sly-call="${heading.heading_h3_template @ headingText=data.formConfig.heading}" />
                                    </div>
                                </div>
                                <div class="row no-gutters">
                                    <div class="col-lg-6 pw-image-container" data-sly-test="${data.formConfig.image}"
                                        auto_locator="businessEnquiryImageStep1">
                                        <sly data-sly-test="${!wcmmode.edit}">
                                            <sly data-sly-test="${data.formConfig.image}"
                                                data-sly-use.dynamicMediaImage="/apps/publicweb/components/content/dynamicMediaImage/dynamicMediaImage-template.html"
                                                data-sly-call="${dynamicMediaImage.dynamicMediaImage_template @imagePath=data.formConfig.image, altText=data.formConfig.alt}" />
                                        </sly>
                                        <sly data-sly-test="${wcmmode.edit}">
                                            <img data-sly-test="${data.formConfig.image}" alt="${data.formConfig.alt}" src="${data.formConfig.image}"
                                                class="image img-responsive" />
                                        </sly>
                                    </div>
                                    <div class="descriptioBusinessEnquiry ${data.formConfig.image ? 'col-lg-6' : 'col-lg-12'}"
                                        auto_locator="businessEnquiryLeftContainerTextAreaStep1">
                                        ${data.formConfig.descriptionText @ context="html"}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" auto_locator="businessEnquiryRightContainerStep1">
                                <div class="tab-content tab-content-steps">
                                    <div class="row">
                                        <div class="col-sm-12" auto_locator="businessEnquiryContainerHeadingTextStep1">
                                            <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                                data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.purposeofcontact', variant='small'}" />
                                        </div>
                                        <div class="col-sm-12 formfield"
                                            auto_locator="businessEnquiryListContainerStep1">
                                            <sly data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
                                                data-sly-call="${radioField.radiofieldinput_template @ id='requestAQuote',  required=true, label='pw.form.businessenq.requestaquote', name='purposeOfContactOptionsInBusinessEq'}">
                                            </sly>
                                            <sly data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
                                                data-sly-call="${radioField.radiofieldinput_template @ id='requestAProductInfo',  required=true, label='pw.form.businessenq.requestforproductinfo', name='purposeOfContactOptionsInBusinessEq'}">
                                            </sly>
                                            <sly data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
                                                data-sly-call="${radioField.radiofieldinput_template @ id='ContactMe', required=true, label='pw.form.businessenq.contactme', name='purposeOfContactOptionsInBusinessEq', labelClass='mb-0'}">
                                            </sly>
                                            <input type="hidden" name="purposeOfContactInBusinessEqTitle"
                                                class="form-control" id="purposeOfContactInBusinessEqTitle" required>
                                            <div class="errorMsg purposeOfBusinessContactError">${'pw.form.errormsg.purposeofcontact' @i18n }
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-gutters pw-progress" auto_locator="progressBarStep1">
                                        <div class="col-lg-9">
                                            <sly data-sly-use.progressBar="/apps/publicweb/components/molecules/progressbar/progressbar-template.html"
                                                data-sly-call="${progressBar.progressbar_template  @ activeStep=1, totalStep=[1,2,3,4]}">
                                            </sly>
                                        </div>
                                        <div class="pw-progressbar__steps d-none d-lg-block col-md-3">
                                            <p>
                                                ${'pw.form.step {0} of {1}' @i18n, format=['1','4']}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row no-gutters button-group">
                                        <sly data-sly-use.nextButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                                            data-sly-call="${nextButton.tabbutton_template @ btnText='pw.form.button.next', btnTarget='#bef-step-2',icon_classes='icon-Arrow_Right_pw', autoLocator='businessFormNextButtonStep1'}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--step1 end-->
                    <!--step2 start-->
                    <div class="bef-tab-pane" data-stepNumber="2" data-stepName="businesAreaOfInterest" auto_locator="businessEnquiryListContainerStep2" role="tabpanel"
                        id="bef-step-2">
                        <div class="row no-gutters">
                            <div class="col-lg-6 separator" auto_locator="businessEnquiryLeftContainerStep2">
                                <div class="row no-gutters">
                                    <div class="col-sm-12 main-heading" data-sly-test="${data.formConfig.heading}"
                                        auto_locator="businessEnquiryLeftContainerHeadingStep2">
                                        <sly data-sly-test="${data.formConfig.heading}"
                                            data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                            data-sly-call="${heading.heading_h2_template @ headingText=data.formConfig.heading}" />
                                    </div>
                                </div>
                                <div auto_locator="businessEnquiryLeftContainerSummaryAreaStep2">
                                    <div class="row no-gutters">
                                        <div class="col-sm-12">
                                            <sly data-sly-test="${'pw.form.heading.summary' @i18n}"
                                                data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                                data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.summary', variant='small'}" />
                                        </div>
                                    </div>
                                    <div class="row no-gutters summary">
                                        <div class="col-lg-5">${'pw.form.heading.purposeofcontact' @i18n}</div>
                                        <div class="col-lg-7 purposeOfContactInBusinessEqTitle"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" auto_locator="businessEnquiryRightContainerStep2">
                                <div class="tab-content tab-content-steps">
                                    <div class="row">
                                        <div class="col-sm-12" auto_locator="businessEnquiryContainerHeadingTextStep2">
                                            <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                                data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.businessarea', variant='small'}" />
                                        </div>
                                        <div class="col-sm-12 formfield"
                                            auto_locator="businessEnquiryListContainerStep2">
                                            <sly data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
                                                data-sly-call="${radioField.radiofieldinput_template @ id='Processing', label='pw.form.businessenq.processing', name='purposeOfContactOptionsInInterestArea'}">
                                            </sly>
                                            <sly data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
                                                data-sly-call="${radioField.radiofieldinput_template @ id='packaging', label='pw.form.businessenq.packaging', name='purposeOfContactOptionsInInterestArea'}">
                                            </sly>
                                            <sly data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
                                                data-sly-call="${radioField.radiofieldinput_template @ id='services', label='pw.form.businessenq.services', name='purposeOfContactOptionsInInterestArea'}">
                                            </sly>
                                            <sly data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
                                                data-sly-call="${radioField.radiofieldinput_template @ id='etesolution', label='pw.form.businessenq.endtoendsolution', name='purposeOfContactOptionsInInterestArea', labelClass='mb-0'}">
                                            </sly>
                                            <input type="hidden" name="purposeOfInterestAreaEqTitle"
                                                class="form-control" id="purposeOfInterestAreaEqTitle" required>
                                            <div class="errorMsg purposeOfBusinessIntersetError">
                                                ${'pw.form.errormsg.businessareofinterest' @i18n}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-gutters pw-progress" auto_locator="progressBarStep2">
                                        <div class="col-lg-9">
                                            <sly data-sly-use.progressBar="/apps/publicweb/components/molecules/progressbar/progressbar-template.html"
                                                data-sly-call="${progressBar.progressbar_template @ activeStep=2, totalStep=[1,2,3,4]}">
                                            </sly>
                                        </div>
                                        <div class="pw-progressbar__steps d-none d-lg-block col-md-3">
                                            <p> ${'pw.form.step {0} of {1}' @i18n, format=['2','4']}</p>
                                        </div>
                                    </div>
                                    <div class="row no-gutters button-group">
                                        <sly data-sly-use.previousButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                                            data-sly-call="${previousButton.tabbutton_template @ btnText='pw.form.button.previous', btnTarget='#bef-step-1', variant='secondary', customClasses='previousbtn', icon_classes='icon-Arrow_Right_pw', autoLocator='businessFormPreviousButtonStep2' }" />
                                        <sly data-sly-use.nextButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                                            data-sly-call="${nextButton.tabbutton_template @ btnText='pw.form.button.next', btnTarget='#bef-step-3', icon_classes='icon-Arrow_Right_pw', autoLocator='businessFormNextButtonStep2' }" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--step 2 end-->
                    <!--step 3 start-->
                    <div class="bef-tab-pane" data-stepNumber="3"  role="tabpanel" auto_locator="businessEnquiryListContainerStep3"
                        id="bef-step-3">
                        <div class="row no-gutters">
                            <div class="col-lg-6 separator" auto_locator="businessEnquiryLeftContainerStep3">
                                <div class="row no-gutters">
                                    <div class="col-sm-12 main-heading"
                                        auto_locator="businessFormLeftContainerHeadingStep3">
                                        <sly data-sly-test="${data.formConfig.heading}"
                                            data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                            data-sly-call="${heading.heading_h2_template @ headingText=data.formConfig.heading}" />
                                    </div>
                                </div>
                                <div auto_locator="businessFormLeftContainerSummaryAreaStep3">
                                    <div class="row no-gutters">
                                        <div class="col-sm-12">
                                            <sly data-sly-test="${'pw.form.heading.summary' @i18n}"
                                                data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                                data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.summary', variant='small'}" />

                                        </div>
                                    </div>
                                    <div class="row no-gutters summary">
                                        <div class="col-lg-5">${'pw.form.heading.purposeofcontact' @i18n}</div>
                                        <div class="col-lg-7 purposeOfContactInBusinessEqTitle"></div>
                                    </div>
                                    <div class="row no-gutters summary">
                                        <div class="col-lg-5">${'pw.form.heading.businessarea' @i18n}</div>
                                        <div class="col-lg-7 purposeOfInterestAreaEqTitle"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" auto_locator="businessEnquiryRightContainerStep3">
                                <div class="tab-content tab-content-steps">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                                data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.contactinformation', variant='small'}" />
                                        </div>
                                        <div class="col-sm-12 formfield" >
                                            <div class="formfield">
                                                <sly data-sly-use.inputField="/apps/publicweb/components/molecules/inputfield/inputfield-template.html"
                                                    data-sly-call="${inputField.inputfield_template @ inputType='text', id='firstNameField', label='pw.form.label.firstName', error='pw.form.errormsg.firstname', required=true, autoLocatorInput='firstNameInput', autoLocatorLabel='firstNameHelpText', inputClass='validateForTags'}">
                                                </sly>
                                            </div>
                                            <div class="formfield">
                                                <sly data-sly-use.inputField="/apps/publicweb/components/molecules/inputfield/inputfield-template.html"
                                                    data-sly-call="${inputField.inputfield_template @ inputType='text', id='lastNameField', label='pw.form.label.lastName', error='pw.form.errormsg.lastname', required=true, autoLocatorInput='lastNameInput', autoLocatorLabel='lastNameHelpText', inputClass='validateForTags'}">
                                                </sly>
                                            </div>
                                            <div class="formfield">
                                                <sly data-sly-use.inputField="/apps/publicweb/components/molecules/inputfield/inputfield-template.html"
                                                    data-sly-call="${inputField.inputfield_template @ inputType='email', id='emailBef', label='pw.form.label.email' , placeholder='pw.form.label.emailPlaceholder', required=true, error='pw.form.errormsg.invalidemail', autoLocatorInput='emailInput', autoLocatorLabel='emailHelpText', inputClass='validateForTags'}">
                                                </sly>
                                            </div>
                                            <div class="formfield">
                                                <sly data-sly-use.inputField="/apps/publicweb/components/molecules/inputfield/inputfield-template.html"
                                                    data-sly-call="${inputField.inputfield_template @ inputType='text', id='phoneField', label='pw.form.label.phonenumber' , placeholder='pw.form.label.phoneplaceholder',   autoLocatorInput='phoneInput', autoLocatorLabel='phoneText', inputClass='validateForTags'}">
                                                </sly>
                                            </div>
                                            <div class="country-field-wrapper col-sm-12 col-lg-6">
                                              <div class="formfield country-field country" data-country-name-label="${'pw.form.country' @i18n}">
                                                <label class="country-value" for="country"
                                                    auto_locator="contactUsCountrySelectorHelpText">${'pw.form.label.country' @
                                                    i18n}</label>
                                                <div class="pw-form__dropdown dropdown text-left">
                                                    <button
                                                        class="btn dropdown-toggle country-dropdown js-pw-form__dropdown__toggle pw-form__dropdown__toggle category__toggle text-left"
                                                        type="button" data-toggle="dropdown" aria-haspopup="true"
                                                        auto_locator="countrySelectDropdown" aria-expanded="false">
                                                        <span
                                                            class="js-pw-form__dropdown__country-text">${'pw.form.label.countryPlaceholder'
                                                            @ i18n}</span>
                                                        <i class="icon icon-Arrow_Right_pw"></i></button>
                                                    </button>
                                                    <div class="dropdown-menu pw-form__dropdown__menu country-dropdown-select"
                                                        data-sly-list.country="${data.countryOptions}">
                                                        <a href="#"
                                                            class="dropdown-item"
                                                            data-country="${country.key}"
                                                            data-countrytitle="${country.value}">
                                                            ${country.value}
                                                        </a>
                                                    </div>
                                                    <input type="hidden" name="countryTitle" class="form-control validateForTags"
                                                        id="country" required>
                                                </div>
                                                <div data-country-error-msg="${'pw.form.errormsg.country' @i18n}" class="errorMsg">${'pw.form.errormsg.country' @i18n}</div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="row no-gutters pw-progress" auto_locator="progressBarStep2">
                                        <div class="col-lg-9">
                                            <sly data-sly-use.progressBar="/apps/publicweb/components/molecules/progressbar/progressbar-template.html"
                                                data-sly-call="${progressBar.progressbar_template @ activeStep=3, totalStep=[1,2,3,4]}">
                                            </sly>
                                        </div>
                                        <div class="pw-progressbar__steps d-none d-lg-block col-md-3">
                                            <p> ${'pw.form.step {0} of {1}' @i18n, format=['3','4']}</p>
                                        </div>
                                    </div>
                                    <input type="text" name="pardot_extra_field" id="pardot_extra_field_bef" class="d-none" tabindex="-1" title="pardot business enquiry inpuut field" />
                                    <div class="row no-gutters button-group">
                                        <sly data-sly-use.previousButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                                            data-sly-call="${previousButton.tabbutton_template @ btnText='pw.form.button.previous', btnTarget='#bef-step-2', variant='secondary', customClasses='previousbtn', icon_classes='icon-Arrow_Right_pw', autoLocator='businessFormPreviousButtonStep3' }" />
                                        <sly data-sly-use.nextButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                                            data-sly-call="${nextButton.tabbutton_template @ btnText='pw.form.button.next', btnTarget='#bef-step-4', icon_classes='icon-Arrow_Right_pw', autoLocator='businessFormNextButtonStep3' }" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--step 3 end-->
                    <!--step 4 start-->
                    <div class="bef-tab-pane" data-stepNumber="4" data-stepName="contactInfo" role="tabpanel" auto_locator="businessEnquiryListContainerStep4"
                        id="bef-step-4">
                        <div class="row no-gutters">
                            <div class="col-lg-6 separator" auto_locator="businessEnquiryLeftContainerStep4">
                                <div class="row no-gutters">
                                    <div class="col-sm-12 main-heading" data-sly-test="${data.formConfig.heading}"
                                        auto_locator="businessFormLeftContainerHeadingStep4">
                                        <sly data-sly-test="${data.formConfig.heading}"
                                            data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                            data-sly-call="${heading.heading_h2_template @ headingText=data.formConfig.heading}" />
                                    </div>
                                </div>
                                <div auto_locator="businessFormLeftContainerSummaryAreaStep4">
                                    <div class="row no-gutters">
                                        <div class="col-sm-12">
                                            <sly data-sly-test="${'pw.form.heading.summary' @i18n}"
                                                data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                                data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.summary', variant='small'}" />
                                        </div>
                                    </div>
                                    <div class="row no-gutters summary">
                                        <div class="col-lg-5">${'pw.form.heading.purposeofcontact' @i18n}</div>
                                        <div class="col-lg-7 purposeOfContactInBusinessEqTitle"></div>
                                    </div>
                                    <div class="row no-gutters summary">
                                        <div class="col-lg-5">${'pw.form.heading.businessarea' @i18n}</div>
                                        <div class="col-lg-7 purposeOfInterestAreaEqTitle"></div>
                                    </div>
                                    <div class="row no-gutters summary">
                                        <div class="col-lg-5">${'pw.form.label.firstName' @i18n}</div>
                                        <div class="col-lg-7 firstNameField"></div>
                                    </div>
                                    <div class="row no-gutters summary">
                                        <div class="col-lg-5">${'pw.form.label.lastName' @i18n}</div>
                                        <div class="col-lg-7 lastNameField"></div>
                                    </div>
                                    <div class="row no-gutters summary">
                                        <div class="col-lg-5">${'pw.form.label.email' @i18n}</div>
                                        <div class="col-lg-7 emailBef"></div>
                                    </div>
                                    <div class="row no-gutters summary" id="phoneSummery">
                                        <div class="col-lg-5">${'pw.form.label.phonenumber' @i18n}</div>
                                        <div class="col-lg-7 phoneField"></div>
                                    </div>
                                    <div class="row no-gutters summary">
                                      <div class="col-lg-5">${'pw.form.label.country' @ i18n}</div>
                                      <div class="col-lg-7 countryTitle countryField"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" auto_locator="businessEnquiryRightContainerStep5">
                                <div class="tab-content tab-content-steps">
                                    <div class="row">
                                        <div class="col-sm-12 heading-summary">
                                            <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                                data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.companyinformation', variant='small'}" />
                                        </div>
                                        <div class="col-sm-12 formfield"
                                            auto_locator="businessEnquiryListContainerStep4">
                                            <div class="formfield">
                                                <sly data-sly-use.inputField="/apps/publicweb/components/molecules/inputfield/inputfield-template.html"
                                                    data-sly-call="${inputField.inputfield_template @ inputType='text', id='company', label='pw.form.label.company', error='pw.form.errormsg.company', required=true, autoLocatorInput='companyInput', autoLocatorLabel='companyText', inputClass='validateForTags'}">
                                                </sly>
                                            </div>
                                            <div class="formfield">
                                                <sly data-sly-use.inputField="/apps/publicweb/components/molecules/inputfield/inputfield-template.html"
                                                    data-sly-call="${inputField.inputfield_template @ inputType='text', id='position', label='pw.form.label.position', error='pw.form.errormsg.position', required=true, autoLocatorInput='positionInput', autoLocatorLabel='positionText', inputClass='validateForTags'}">
                                                </sly>
                                            </div>
                                            <div class="formfield">
                                                <div class="form-group formfield">
                                                    <div class="checboxField">
                                                        <label class="consentlabel" for="befconsentcheckbox"><input type="checkbox" required class="form-control js-pw-search-results-filter-check tpatom-checkbox__input float-left" id="befconsentcheckbox" name="consent">
                                                          <i class="tpatom-checkbox__icon icon icon-Tick float-left"></i> ${data.consentConfig.marketingConsent @ context='html'}</label>
                                                    </div>
                                                    <div class="errorMsg">${'pw.form.errormsg.marketingconsent' @i18n}</div>
                                                </div>
                                            </div>
                                            <div class="formfield">
                                                <p>${data.consentConfig.privacyPolicy  @ context='html'}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-gutters pw-progress" auto_locator="progressBarStep3">
                                        <div class="col-lg-9">
                                            <sly data-sly-use.progressBar="/apps/publicweb/components/molecules/progressbar/progressbar-template.html"
                                                data-sly-call="${progressBar.progressbar_template @ activeStep=4, totalStep=[1,2,3,4]}">
                                            </sly>
                                        </div>
                                        <div class="pw-progressbar__steps d-none d-lg-block col-md-3">
                                            <p> ${'pw.form.step {0} of {1}' @i18n, format=['4','4']}</p>
                                        </div>
                                    </div>
                                    <div class="row no-gutters button-group">
                                        <sly data-sly-use.previousButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                                            data-sly-call="${previousButton.tabbutton_template @ btnText='pw.form.button.previous', btnTarget='#bef-step-3', variant='secondary', customClasses='previousbtn', icon_classes='icon-Arrow_Right_pw', autoLocator='businessFormPreviousButtonStep4' }" />
                                        <sly data-sly-use.nextButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                                            data-sly-call="${nextButton.tabbutton_template @ btnText='pw.form.button.submit', btnType='submit', btnTarget='#bef-step-final', autoLocator='businessFormSubmitButtonStep4'}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!---step 4 end-->
                    <!--step 5 start-->
                    <div class="bef-tab-pane" role="tabpanel" id="bef-step-final" auto_locator="businessEnquiryListContainerStepFinal">
                        <div class="row no-gutters thankyou">
                            <div class="col-md-8 offset-md-2 text-center" auto_locator="befUsThankYouMessage">
                                <div class="bef-thankyou-img">
                                    <sly data-sly-test="${!wcmmode.edit}">
                                        <sly data-sly-test="${data.formConfig.thankyouImage}"
                                            data-sly-use.dynamicMediaImage="/apps/publicweb/components/content/dynamicMediaImage/dynamicMediaImage-template.html"
                                            data-sly-call="${dynamicMediaImage.dynamicMediaImage_template @imagePath=data.formConfig.thankyouImage, altText=data.formConfig.thankyouImageAltText}" />
                                    </sly>
                                    <sly data-sly-test="${wcmmode.edit}">
                                        <img data-sly-test="${data.formConfig.thankyouImage}" auto_locator="befUsThankYouPageImage"
                                            alt="${data.formConfig.thankyouImageAltText}" src="${data.formConfig.thankyouImage}"
                                            class="image img-responsive" />
                                    </sly>
                                </div>
                                <div auto_locator="befUsThankYouPageMessage">
                                    <sly data-sly-test ="data.formConfig.thankyouHeading" data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                        data-sly-call="${heading.heading_h2_template @ headingText=data.formConfig.thankyouHeading}" />
                                </div>
                                <div class="descriptionTextThankyou" auto_locator="befUsThankYouPageDescription">
                                    ${data.formConfig.thankyouDescriptionText @ context='html'}
                                </div>
                                <div class="button-group">
                                    <sly data-sly-use.nextButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                                        data-sly-call="${nextButton.tabbutton_template @ btnText='pw.form.button.newrequest', customClasses='newRequestBtn'}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--step 5 end-->
                </form>
            </div>
        </div>
    </div>
</div>
</sly>
