<div class="tp-get-start-organism">
    <h3 class="tp-get-start-organism__heading">Get started</h3>
    <div class="tp-get-start-organism__details">
        {{#each sections}}
            {{> molecules/imageAndText/imageAndText}}
        {{/each }}
    </div>
</div>