.wrapper {
    font-weight: 500;
    line-height: $font-l;
    p {
         color: $color-congress-blue;
    }
    button {
        line-height: $font-l;
        font-weight: 500;
    }
   

    @media #{$mobile} {
        button {
            display: block;
        }
        p {
            margin-top: $margin-sm;
            margin-bottom: $margin-md;
        }
        .icon::before {
            margin-left: 0;
        }
    }
}

@media #{$desktop} {
    .wrapper {
        display: flex;
        justify-content: space-between;
        div {
            display: flex;
            flex-direction: row;
        }
        i {
            margin-right: $margin-sm;
        }
    }
}