<div>
  <a href="#" class="pw-office-locator__office-details-panel__close js-pw-office-locator__office-details-panel__close"><i class="icon-Close"></i></a>
  {{#if this.Name}}<h4 class="pw-office-locator__office-details-panel__name">{{this.Name}}</h4>{{/if}}
  {{#if this.Address}}<p class="pw-office-locator__office-details-panel__address">{{this.Address}}</p>{{/if}}
  {{#if this.Title}}<p class="pw-office-locator__office-details-panel__title">{{this.Title}}</p>{{/if}}
  <br><a href="#">Get directions</a><br>
  {{#if this.Phone}}<p><strong>Phone:</strong><br>{{this.Phone}}</p>{{/if}}
  <a href="#">Go to office page</a><br>
  <a href="#">Go to local site</a>
</div>