{{#each this}}
  <li>
    <span class="pw-office-locator__offices-list__index">{{@index}}</span>
    <a class="pw-office-locator__offices-link" href="#"><span class="pw-office-locator__offices-link__office-title"><b>{{this.Name}}</b></span>
      {{this.Address}}
      <i class="pw-office-locator__offices-link__icon icon-Chevron_Right"></i></a>
  </li>
{{/each}}
