{{#if this}}
<div class="pw-search-results__filter-container__filter-chips">
  {{#each . as |value key|}}
  {{#if value}}
  <span class="filter-tag" data-filter="{{key}}">
    <span class="filter-tag__name">{{value}}</span>
    <span class="js-filter-remove">
      <i class="icon-Close_pw"></i>
    </span>
  </span>
  {{/if}}
  {{/each}}
</div>
{{/if}}