.sub-menu-navigation-link-item {
    &.active {
        font-weight: 900;
    }
    @media #{$mobile} {
        display: flex;
        justify-content: space-between;
        &,
        &:hover {
            color: $color-tundora;
        }
        i.icon {
            @include margin-left($margin-xs);
            &::before {
                font-size: $font-normal;
                line-height: $font-normal;
            }
        }
    }
    @media #{$desktop} {
        &:hover {
            color: $color-sky-blue;
        }
        i.icon {
            @include margin-left($margin-xs);
            vertical-align: top;
            &::before {
                font-size: $font-sm;
                line-height: $font-sm;
            }
        }
    }
}
