.sub-menu-navigation-link-item {
    &.active {
        font-weight: 900;
    }
    i.icon {
        @include margin-left($margin-xs);
        &::before {
            font-size: $font-sm;
            line-height: $font-sm;
        }
    }
    @media #{$mobile} {
        display: flex;
        justify-content: space-between;
    }
    @media #{$desktop} {
        &:hover {
            color: $color-jordy-blue;
        }
        i.icon {
            vertical-align: top;
        }
    }
}
