<sly data-sly-template.navigationLink_template="${@ subSectionsItem}">
  <a data-link-name="${subSectionsItem.linkText}" class="sub-menu-navigation-link-item js-sub-menu-navigation-link-item"
    href="${subSectionsItem.linkPath}">
    ${subSectionsItem.linkText}
    <sly data-sly-test="${subSectionsItem.external}">
      <i class="icon is-external icon--link ${iconClass}"></i>
    </sly>
    <sly data-sly-test="${!subSectionsItem.external}">
      <i class="icon without-arrow icon--link ${iconClass}"></i>
    </sly>
  </a>
</sly>
