<sly data-sly-template.navigationLink_template="${@ subSectionsItem,selectedL3,selectedL4,pseudoTitle}">
  <a auto-locator="L4LinksFontStyle-L4LinksPadding" data-link-section='${pseudoTitle || "NA"}' data-link-title="${subSectionsItem.linkText}" data-link-text="${subSectionsItem.linkText}" class="${subSectionsItem.highlighted ? 'active':''} sub-menu-navigation-link-item js-sub-menu-navigation-link-item"
    href="${subSectionsItem.linkPath}" target="${subSectionsItem.external ? '_blank' : '_self'}">
    ${subSectionsItem.linkText}
    <sly data-sly-test="${subSectionsItem.external}">
      <i class="icon is-external ${iconClass}"></i>
    </sly>
  </a>
</sly>
