<ul class="tp_socialNavigation">
    {{# social_navigation }}
    <li class="tp_socialNavigationItem"><a href="{{url}}" class="tp_socialNavigationItemLink">{{> atoms-icon }}</a></li>
    {{/ social_navigation }}
</ul>
