.tp-pw-header {
    $self: &;
    &__container {
        @include padding(32px 3px 0);
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
        height: #{convert-to-rem(130px)};
        position: relative;
        z-index: $zindex-p;

        @media #{$desktop} {
            @include padding(32px 35px 0);
        }
    }

    &__logo-placeholder {
        display: none;
        @media #{$desktop} {
            display: block;
        }

        img {
            min-width: 156px;
            width: 156px;
        }
    }

    &__main-navigation {
        display: none;
        @media #{$desktop} {
            display: block;
        }

        li {
            @include margin(0 24px);
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }

        a {
            color: $color-white;
            font-weight: bold;
        }
    }

    &__secondary-navigation {
        &__link {
            @include margin-left($margin-md);
            color: $color-white;
            font-weight: bold;

            span {
                display: none;
                @media #{$desktop} {
                    display: inline;
                }
            }

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                color: $color-white;
            }
        }
        i {
            @include font-size($font-normal);
            vertical-align: middle;
            & + span {
                @media #{$desktop} {
                    @include margin-left($margin-sm);
                }
            }
        }
        .icon-Chevron_Down {
            @include font-size($font-sm);
            @include padding-left(5px);
            font-weight: normal;
        }
    }

    .pw-banner {
        $pw-banner: &;
        &__content {
            @media #{$desktop} {
                @include padding-left($padding-xxxl*2);
                @include padding-right($padding-l/2);
                color: $color-white;
                background-color: transparent;
                left: 50%;
                max-width: #{convert-to-rem(720px)};
                position: absolute;
                top: 50%;
                transform: translate(-100%, -50%);
            }
        }

        &__content__title {
            max-height: none;

            @media #{$desktop} {
                max-height: #{convert-to-rem($font-xxxl*2)};
            }
        }
        &--right {
            .pw-banner__content {
                left: auto;
                @media #{$desktop} {
                    @include padding-left($padding-l/2);
                    @include padding-right($padding-xxxl*2);
                    left: 50%;
                    transform: translate(0, -50%);
                }
            }
        }
    }

    &:not(.wcmmode-edit) {
        #{$self}__hero-image {
            @include margin-top(-130px);
            position: relative;
            z-index: 0;
        }
    }
}

.tp-pw-search-box {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, 0.5);
    top: 0;

    .tp-container {
        position: relative;
    }
    &__input-wrapper {
        @include padding(0 3px);
        background-color: $color-white;
        position: relative;
        top: 100px;
        width: 100%;

        @media #{$desktop} {
            @include padding(0 35px);
        }
    }

    &__input {
        @include font-size(18px);
        @include line-height(24px, 18px);
        @include padding(34px 24px);
        border: 0;
        width: calc(100% - #{convert-to-rem($margin-xxxl*2)});

        &:focus {
            outline: none;
        }
    }

    &__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__close-search-box {
        @include right(10px);
        color: $color-tundora;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &__pointer {
        @include right(200px);
        display: block;
        background-color: $color-white;
        content: '';
        height: 20px;
        position: absolute;
        top: -10px;
        transform: rotate(45deg);
        width: 20px;

        @media #{$desktop} {
            @include right(226px);
        }
    }

}