.tp-pw-header {
    background: $color-white;
    a {
        text-rendering: optimizeLegibility;
        text-size-adjust: 100%;
        font-weight: 500;
    }
    @media #{$mobile} {
        top: 0;
        position: fixed;
        height: $header-height-mobile * 1px; // header height converted to px
        z-index: $zindex-header;
        width: 100%;
    }

    @media #{$desktop} {
        height: 80px;
        width: 100%;
        top: 0;
        .pw-header-icons {
            @include padding-bottom(0);
            a {
                &:hover {
                    color: $color-sky-blue;
                }
            }
        }
    }
    @media #{$i-pad} {
        top: 0;
        position: fixed;
        height: $header-height-mobile * 1px; // header height converted to px
        z-index: $zindex-header;
        width: 100%;
        .pw-header-icons {
            a {
                &:hover {
                    color: $color-congress-blue;
                }
            }
        }
    }
    .nav-link {
        padding: 16px;
    }
    .tp-pw-header__container {
        .pw-megamenu {
            display: none;
        }
    }

    $self: &;
    &__container {
        @include padding(0 3px 0);
        border-bottom: 1px solid $color-mercury;
        background: $color-white;
        z-index: $zindex-header;
        width: 100%;

        .pw-header-logo {
            z-index: $zindex-pw-logo;
        }

        @media #{$mobile} {
            height: $header-height-mobile * 1px; // header height converted to px
            .header-items {
                height: $header-height-mobile * 1px; // header height converted to px
            }
        }

        @media #{$desktop} {
            @include padding(23px 0);
            height: 80px;
            position: fixed;
            .header-items {
                height: 34px;
            }
        }
        @media #{$i-pad} {
            @include padding(0 3px 0);
            position: static;
            height: $header-height-mobile * 1px; // header height converted to px
            .header-items {
                height: $header-height-mobile * 1px; // header height converted to px
            }
        }
    }

    &__logo-placeholder {
        display: none;
        @media #{$desktop} {
            @include padding-bottom($padding-sm);
            @include padding-left(36px);
            display: block;
        }
        @media #{$i-pad} {
            display: none;
        }

        img {
            min-width: 156px;
            width: 156px;
        }
    }

    &__hamburger-close {
        display: flex;
        color: $color-congress-blue;
        @media #{$desktop} {
            display: none;
        }
        @media #{$i-pad} {
            display: flex;
        }
        // sass-lint:disable force-pseudo-nesting
        .icon-Burger_pw::before {
            font-size: 20px;
            line-height: 20px;
            vertical-align: middle;
            @media #{$desktop} {
                font-size: $font-normal;
                line-height: $font-normal;
            }
        }
    }

    &__main-navigation {
        display: none;
        @media #{$desktop} {
            display: block;
            position: static;
        }
        @media #{$i-pad} {
            display: none;
        }

        li {
            @include margin(0 12px);
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            &.hover-menu-link {
                & > a {
                    @include padding(0 $padding-sm);
                    @include line-height($font-l, $font-baseline);
                    font-family: $font-monsterrat;
                    text-rendering: optimizeLegibility;
                    text-size-adjust: 100%;
                    height: 28px;
                    font-weight: 500;
                }
                &:hover > a {
                    color: $color-sky-blue;
                }
                & > a.active {
                    border-bottom: 2px solid;
                }
            }
        }

        a {
            @include padding(0 $padding-sm);
            color: $color-congress-blue;
            font-weight: normal;
        }
    }

    &__secondary-navigation {
        span {
            display: none;
            @media #{$desktop} {
                display: inline;
            }
            @media #{$i-pad} {
                display: none;
            }
        }
        &__link {
            @include margin-left($margin-md);
            color: $color-congress-blue;
            font-weight: bold;
            .login-link {
                @media #{$desktop} {
                    @include line-height($font-normal, $font-xs);
                    font-size: $font-xs;
                }
            }

            span {
                display: none;
                @media #{$desktop} {
                    display: inline;
                }
                @media #{$i-pad} {
                    display: none;
                }
            }
            .mytp-text {
                @media #{$desktop} {
                    @include line-height($font-normal, $font-xs);
                    font-size: $font-xs;
                    font-weight: 500;
                }
            }

            &:first-child {
                margin-left: 0;
            }

            &:not(:first-child) {
                display: none;
                @media #{$desktop} {
                    display: inline;
                }
                @media #{$i-pad} {
                    display: none;
                }
            }
        }
        .mytp-wrapper {
            &:hover {
                @media #{$desktop} {
                    color: $color-sky-blue;
                }
            }
        }
        i {
            @include font-size($font-normal);
            vertical-align: middle;
            & + span {
                @media #{$desktop} {
                    @include margin-left($margin-sm);
                    vertical-align: middle;
                }
            }
        }
        i.icon-Search_pw,
        i.icon-Close_pw {
            font-size: 20px;
            line-height: 20px;
            @media #{$desktop} {
                @include font-size($font-normal);
                line-height: 16px;
            }
            @media #{$i-pad} {
                font-size: 20px;
                line-height: 20px;
            }
        }

        .icon-ver-line {
            @include margin-left($margin-md);
            border-left: 1px solid $color-mercury;
        }
    }

    .pw-banner {
        $pw-banner: &;
        &__content {
            @media #{$desktop} {
                @include padding-left($padding-xxxl * 2);
                @include padding-right($padding-l/2);
                color: $color-white;
                background-color: transparent;
                left: 50%;
                max-width: #{convert-to-rem(720px)};
                position: absolute;
                top: 50%;
                transform: translate(-100%, -50%);
            }
        }

        &__content__title {
            max-height: none;

            @media #{$desktop} {
                max-height: #{convert-to-rem(140px)};
            }
            @media #{$i-pad} {
                max-height: none;
            }
        }
        &--right {
            .pw-banner__content {
                left: auto;
                @media #{$desktop} {
                    @include padding-left($padding-l/2);
                    @include padding-right($padding-xxxl * 2);
                    left: 50%;
                    transform: translate(0, -50%);
                }
            }
        }
    }

    &:not(.wcmmode-edit) {
        #{$self}__hero-image {
            @include margin-top(-130px);
            position: relative;
            z-index: 0;
        }
    }
}

.tp-container {
    @include padding(20px 15px);
    max-width: 100%;

    @media #{$desktop} {
        @include padding(0 $padding-xxxl);
        @include max-width($body-max-width);
        margin: 0 auto;
    }
    @media #{$i-pad} {
        @include padding(20px 15px);
    }

    .row {
        @include margin-left(-15px);
        @include margin-right(-15px);

        &.no-gutters {
            margin-right: 0;
            margin-left: 0;
        }

        .tp-column__sidenav {
            padding-left: 0;
        }
    }
}

.tp-pw-mobile-navigation {
    @include font-size($font-baseline);
    @include line-height($font-l, $font-baseline);
    display: none;
    font-weight: 500;
    width: 100%;
    position: absolute;
    z-index: $zindex-nav;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $color-white;
    min-height: 100vh;
    @media #{$desktop} {
        display: none;
    }

    &__primary {
        background: $color-white;
        li {
            border-bottom: 1px solid $color-mercury;
            a {
                color: $color-congress-blue;
            }
        }
    }
    &__secondary {
        li {
            border-bottom: 1px solid $color-mercury;
            a {
                color: $color-tundora;
                // sass-lint:disable force-pseudo-nesting
                i:first-child {
                    padding-right: #{convert-to-rem(8px)};
                }
                i {
                    @include font-size($font-normal);
                    &::before {
                        @media #{$tablet} {
                            font-size: 20px;
                            line-height: 20px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}
