.tp-pw-header {
    $self: &;
    &__container {
        @include padding(32px 3px 0);
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
        height: #{convert-to-rem(130px)};
        position: relative;
        z-index: $zindex-p;

        @media #{$desktop} {
            @include padding(32px 35px 0);
        }
    }


    &__logo-placeholder {
        display: none;
        @media #{$desktop} {
            display: block;
        }

        img {
            min-width: 156px;
            width: 156px;
        }
    }

    &__main-navigation {
        display: none;
        @media #{$desktop} {
            display: block;
        }

        li {
            @include margin(0 24px);
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }

        a {
            color: $color-white;
            font-weight: bold;
        }
    }

    &__secondary-navigation {
        &__link {
            @include margin-left($margin-md);
            color: $color-white;
            font-weight: bold;

            span {
                display: none;
                @media #{$desktop} {
                    display: inline;
                }
            }

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                color: $color-white;
            }
        }
        i {
            @include font-size($font-normal);
            vertical-align: middle;
            & + span {
                @media #{$desktop} {
                    @include margin-left($margin-sm);
                }
            }
        }
        .icon-Chevron_Down {
            @include font-size($font-sm);
            @include padding-left(5px);
            font-weight: normal;
        }
    }

    .pw-banner {
        $pw-banner: &;
        &__content {
            color: $color-white;
            background-color: transparent;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            @media #{$desktop} {
                @include padding-left($padding-xxxl*2);
                @include padding-right($padding-l/2);
                left: calc(50% - #{convert-to-rem(720px)});
                max-width: #{convert-to-rem(720px)};
            }
        }

        &__content__title {
            @include font-size($font-l);
            @include line-height($font-xl, $font-l);
            max-height: none;

            @media #{$desktop} {
                @include font-size($font-xxxl);
                @include line-height($font-xxxl, $font-xxxl);
            }
        }
        &--right {
            .pw-banner__content {
                left: auto;
                @media #{$desktop} {
                    right: calc(50% - #{convert-to-rem(720px)} + #{convert-to-rem($margin-xxxl*2)});
                }
            }
        }
    }

    &:not(.wcmmode-edit) {
        #{$self}__hero-image {
            @include margin-top(-130px);
            position: relative;
            z-index: 0;
        }
    }

}