.tp-pw-header {
    @media #{$desktop} {
        .pw-header-icons {
            @include padding-bottom(0);
        }
    }

    background: $color-white;
    .nav-link {
        padding: 16px;
    }
    .tp-pw-header__container {
        .pw-megamenu {
            display: none;
        }
    }
    // .tp-pw-mobile-navigation {
    //     .pw-megamenu {
    //         display: none;
    //     }
    // }
    $self: &;
    &__container {
        @include padding(0 3px 0);
        border-bottom: 1px solid $color-mercury;
        height: #{convert-to-rem(82px)};
        position: relative;
        z-index: $zindex-t;

        @media #{$desktop} {
            @include padding(23px 0);
            height: auto;
        }
    }

    &__logo-placeholder {
        display: none;
        @media #{$desktop} {
            @include padding-bottom($padding-sm);
            @include padding-left(36px);
            display: block;
        }

        img {
            min-width: 156px;
            width: 156px;
        }
    }

    &__hamburger-close {
        display: flex;
        color: $color-congress-blue;
        @media #{$desktop} {
            display: none;
        }
        .icon-Burger_pw::before {
            font-size: $font-normal;
            line-height: $font-normal;
        }
    }

    &__main-navigation {
        display: none;
        @media #{$desktop} {
            display: block;
            position: static;
        }

        li {
            @include margin(0 12px);
            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
            &.hover-menu-link {
                & > a {
                    @include padding(0 $padding-sm);
                    @include line-height($font-l, $font-m-baseline);
                    height: 24px;
                    font-weight: normal;
                }
                &:hover > a {
                    border-bottom: 3px solid;
                }
                // & > .sticky-main-header {
                //     border-bottom: 3px solid;
                // }
            }
        }

        a {
            @include padding(0 $padding-sm);
            color: $color-congress-blue;
            font-weight: normal;
        }
    }

    &__secondary-navigation {
        span {
            display: none;
            @media #{$desktop} {
                display: inline;
            }
        }
        &__link {
            @include margin-left($margin-md);
            color: $color-congress-blue;
            font-weight: bold;

            span {
                display: none;
                @media #{$desktop} {
                    display: inline;
                }
            }

            &:first-child {
                margin-left: 0;
            }

            &:not(:first-child) {
                display: none;
                @media #{$desktop} {
                    display: inline;
                }
            }
        }
        i {
            @include font-size($font-normal);
            vertical-align: middle;
            & + span {
                @media #{$desktop} {
                    @include margin-left($margin-sm);
                    vertical-align: middle;
                }
            }
        }
        .icon-ver-line {
            @include margin-left($margin-md);
            border: 1px solid $color-mercury;
        }
    }

    .pw-banner {
        $pw-banner: &;
        &__content {
            @media #{$desktop} {
                @include padding-left($padding-xxxl * 2);
                @include padding-right($padding-l/2);
                color: $color-white;
                background-color: transparent;
                left: 50%;
                max-width: #{convert-to-rem(720px)};
                position: absolute;
                top: 50%;
                transform: translate(-100%, -50%);
            }
        }

        &__content__title {
            max-height: none;

            @media #{$desktop} {
                max-height: #{convert-to-rem(140px)};
            }
        }
        &--right {
            .pw-banner__content {
                left: auto;
                @media #{$desktop} {
                    @include padding-left($padding-l/2);
                    @include padding-right($padding-xxxl * 2);
                    left: 50%;
                    transform: translate(0, -50%);
                }
            }
        }
    }

    &:not(.wcmmode-edit) {
        #{$self}__hero-image {
            @include margin-top(-130px);
            position: relative;
            z-index: 0;
        }
    }
}

.tp-container {
    @include padding(20px 15px);
    max-width: 100%;

    @media #{$desktop} {
        @include padding(0 $padding-xxxl);
        @include max-width($body-max-width);
        margin: 0 auto;
    }

    .row {
        @include margin-left(-15px);
        @include margin-right(-15px);

        &.no-gutters {
            margin-right: 0;
            margin-left: 0;
        }

        .tp-column__sidenav {
            padding-left: 0;
        }
    }
}

.tp-pw-mobile-navigation {
    @include font-size($font-baseline);
    @include line-height($font-l, $font-baseline);
    display: none;
    font-weight: 500;
    width: 100%;
    position: absolute;
    z-index: $zindex-p;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: $color-white;
    min-height: 100vh;
    @media #{$desktop} {
        display: none;
    }

    &__primary {
        background: $color-white;
        li {
            border-bottom: 1px solid $color-mercury;
            a {
                color: $color-congress-blue;
            }
        }
    }
    &__secondary {
        li {
            border-bottom: 1px solid $color-mercury;
            a {
                color: $color-tundora;
                i:first-child {
                    padding-right: #{convert-to-rem(8px)};
                }
                i {
                    @include font-size($font-normal);
                }
            }
        }
    }
}
