<sly data-sly-template.header_template="${@ data, flag}">
  <header class="tp-pw-header">
    <div class="tp-pw-header__container">
      <div class="d-flex tp-container">
        <div class="tp-pw-header__logo-placeholder col-sm-6 col-lg-3 d-flex align-items-start">
          <sly data-sly-resource="${'logo' @ resourceType='publicweb/components/content/logo'}"/>
        </div>
        <div class="tp-pw-header__main-navigation col-6 align-items-start">
          <div class="">
            <ul class="d-flex justify-content-center" data-sly-list.megaMenuItem=${data.megaMenuLinksList}>
              <li>
                <a href="${megaMenuItem.linkPath}"
                   title="${megaMenuItem.linkTooltipI18n ? megaMenuItem.linkTooltipI18n : megaMenuItem.linkTextI18n}">${megaMenuItem.linkTextI18n}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 d-flex align-items-start justify-content-end">
          <div class="tp-pw-header__secondary-navigation">
            <a class="tp-pw-header__secondary-navigation__link" href="#"><i class="icon-Search"></i></a>
            <a class="tp-pw-header__secondary-navigation__link" href="#"><i class="icon-Avatar"></i><span>${data.loginTextI18n}</span></a>
            <a class="tp-pw-header__secondary-navigation__link" href="#"><i class="icon-Globe"></i><span>EN</span><span><i class="icon-Chevron_Down"></i></span></a>
          </div>
        </div>
      </div>
    </div>
  </header><!-- end c-header -->
</sly>