<sly data-sly-template.header_template="${@ data, flag}">
<header class="tp_header tp_header-ch ">
  <div class="row">

    <div class="col-8 col-lg-2 d-flex align-items-center">
      <span class="tp_header-mobileMenuIcon d-inline d-lg-none">
        <a href="#"><i class="icon-Microsoft_Teams   tp_icon"></i>
        </a>
      </span>

      <a href="#"><img src="/images/logo_tetra_pak.svg" class="tp_logo" alt="Tetra Pak" title="Tetra Pak" /></a>

    </div>

    <div class="col-lg-7 d-none d-lg-flex align-items-center">
      <ul class="tp_navigation">
        <li class="tp_navigationItem"><a href="#" class="tp_navigationItemLink">Lorem ipsum</a></li>
        <li class="tp_navigationItem"><a href="#" class="tp_navigationItemLink">Lorem ipsum</a></li>
        <li class="tp_navigationItem"><a href="#" class="tp_navigationItemLink">Lorem ipsum</a></li>
      </ul>

    </div>

    <div class="col-4 col-lg-3 d-flex align-items-center text-right">
      <div class="tp_header-login">
        <a href="#">
          <i class="icon-Microsoft_Teams   tp_icon"></i>
          <span class="d-none d-md-inline">Lorem ipsum dolor</span>
        </a>
      </div>

      <div class="tp_header-divider"></div>

      <div class="tp_header-notification">
        <a href="#"><i class="icon-Microsoft_Teams   tp_icon"></i>
        </a>
        <div class="tp_header-notificationNumber text-smallest">15</div>
      </div>
    </div>

  </div>
</header><!-- end c-header -->
</sly>