.tp_tabListContent {
    /*.bg-white {
        background: $color-white;
        border-radius: $border-radius;
    }*/

    // @media #{$medium} {}

    &-tabMenuListItem {

        &:last-child {
            .tp_tabListContent-tabMenuListItem-link {
                border-bottom: 1px solid $color-mercury;

                &.active {
                    border-bottom: 1px solid $color-boulder;
                }
            }
        }

        .tp_tabListContent-contentTab {
            margin-bottom: $spacing-small;
            @media #{$medium} {
                display: none !important;
            }
        }
    }

    &-tabMenuListItem-link {
        border-top: 1px solid $color-mercury;
        color: $color-tundora;
        display: block;
        font-family: $font-bold;
        padding: $spacing-small $spacing-big*2 $spacing-small $spacing-small;
        position: relative;
        transition: none;

        &.active {
            background: $color-white;
            border: 1px solid $color-boulder;
            border-radius: $border-radius;
            margin-bottom: $spacing-small;
            @media #{$medium} {
                // background: $color-mercury; // $color-wild-sand;
                margin-bottom: 0;
            }

            .tp_icon {
                transform: rotate(90deg);
                @media #{$medium} {
                    transform: none;
                }
            }
        }

        &.no-border {
            @media #{$medium} {
                border: none;
            }
        }
    }

    .tp_icon {
        @include font-size(.75, large);
        margin-top: -6px;
        position: absolute;
        right: $spacing-small;
        top: 50%;
    }


    &-contentWrapper {
        display: none;

        @media #{$medium} {
            display: block;
            padding-left: $spacing-big;
        }
    }

    // tabListContent Organism Reversed
    &-reverse {
        .tp_icon {
            transform: rotate(180deg);
            @media #{$medium} {
                left: $spacing-small;
                transform: none;
            }
        }

        .tp_tabListContent-tabMenuListItem-link {
            @media #{$medium} {
                padding: $spacing-small $spacing-small $spacing-small $spacing-big*2;
            }

            &.active {
                .tp_icon {
                    transform: rotate(-90deg);

                    @media #{$medium} {
                        transform: none;
                    }
                }
            }
        }

        .tp_tabListContent-contentWrapper {

            @media #{$medium} {
                padding-left: 0;
                padding-right: $spacing-big;
            }
        }
    }

    &.tp_color-white {
        .tp_tabListContent-tabMenuListItem-link {
            &.active {
                background: $color-wild-sand;
            }
        }
    }

    .tp_textBtn {
        margin-top: $spacing-small;

        @media #{$medium} {
            margin-top: $spacing-big;
        }
    }

}

.tp_tabListContent-contentTab:not(.active) {
    display: none;
}
