<sly data-sly-template.listcontentimage_template="${@ data, flag}"
	data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
	<div data-locator="text-video" class="pw-textvideo">
      <p>Title - ${data.titleI18n  @ i18n}</p>
      <p>Tabs Alignment - ${data.tabsAlignment}</p>
      <p>Link Text  - ${data.linkTextI18n @ i18n}</p>
      <p>Link Tool Tip - ${data.linkTooltipI18n  @ i18n}</p>
      <p>Link Path - ${data.linkPath}</p>
      <p>New Window ? - ${data.targetBlank}</p>
  </div>
  <p> Tabs alignment : </p>
    <sly data-sly-list="${data.tabLinks}">
		<p> ${item  @ i18n} </p>
	</sly>
	<sly data-sly-test="${!data.tabLinks}" data-sly-call="${templates.placeholder @ isEmpty = !data.tabLinks}"></sly>
</sly>
