<sly data-sly-template.listcontentimage_template="${@ data, flag}"
  data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
  <sly data-sly-test.showEdit="${wcmmode.edit ? 'd-block' : 'd-none'}" />
  <div class="pw-listContentImage ${data.tabsAlignment == 'text-right'? 'pw-listContentImage--reverse' : ''} pw-theme--${data.pwTheme} tabListContent-version-main" data-module="ListContentImage">
    <div class="row">
        <div class="col-lg-4 ${data.tabsAlignment == 'text-right'? 'order-2' : ''}">
            <h2 class="pw-listContentImage__Title">${data.titleI18n  @ i18n}</h2>
            <div class="pw-listContentImage__tabMenu">
                <ul class="pw-listContentImage__tabMenuList" data-sly-list="${data.tabLinks}">
                    <li class="pw-listContentImage__tabMenuListItem">
                        <a href="#" data-tab-id="${itemList.index}" class="pw-listContentImage__tabMenuListItem__link d-block ${itemList.first? 'active' : ''}">
                            ${item}
                            <i class="icon-Chevron_Right tp-icon"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <sly data-sly-use.pwButton="/apps/commons/components/atoms/button-text/button-text.html"
              data-sly-call="${pwButton.button_template @ btnPath=data.linkPath, btnText=data.linkTextI18n, btnTooltip=data.linkTooltipI18n, btnTarget=data.targetBlank, btnIcon='icon-Circle_Arrow_Right', variant='link'}">
        </div>
        <div class="col-lg-8 ${data.tabsAlignment == 'text-right'? 'order-1' : ''}">
            <div class="pw-listContentImage__contentWrapper">
            </div>
        </div>
    </div>
    <div class="pw-listContentImage__editWrapper ${showEdit}">
       <div class="row" data-sly-list="${data.tabLinks}">
            <sly data-sly-test.parsys="${'par{0}' @ format=[itemList.count]}" />
            <div class="pw-listContentImage__editTab col-12" data-tab-id="${itemList.index}">
                <h3>Edit tab number ${itemList.count} Content</h3>
                <div class="pw-listContentImage__contentTab ${itemList.first? 'active' : ''}" data-tab-id="${itemList.index}">
                    <sly data-sly-resource="${parsys @ resourceType='foundation/components/parsys'}">
                </div>
            </div>
        </div> 
    </div>
  </div>
  <sly data-sly-test="${!data.tabLinks}" data-sly-call="${templates.placeholder @ isEmpty = !data.tabLinks}"></sly>
</sly>
