<div class="tp_container tp_iconCards">
    {{> atoms-tp_containerTitle }}
    
    <div class="row">
        {{# tp_iconCards_column }}
        <div class="col-lg-4 tp_iconCards-col">
            <div class="tp_iconCards-wrapper">
                {{> molecules-tp_iconCard }}
            </div>
        </div>
        {{/ tp_iconCards_column }}
    </div>
</div>
