.tp_iconCards {

    &-wrapper {
        background: $color-wild-sand;
        border-radius: $border-radius;
        overflow: hidden;
        position: relative;
        width: 100%;

        @media #{$medium} {
            height: 100%;
        }
    }

    &-col {
        margin-bottom: $spacing-small;

        &:last-child {
            margin-bottom: 0;
        }

        @media #{$medium} {
            margin-bottom: 0;
        }
    }

    p {
        margin-bottom: 0;
    }

}
