<sly data-sly-template.heading_h1_template="${@ headingText, variant, flag}">
  <h1 class="tpatom-heading tpatom-heading--${variant}">${headingText @ i18n}</h1>
</sly>
<sly data-sly-template.heading_h2_template="${@ headingText, variant, flag}">
  <h2 class="tpatom-heading tpatom-heading--${variant}">${headingText @ i18n}</h2>
</sly>
<sly data-sly-template.heading_h3_template="${@ headingText, variant, flag}">
  <h3 class="tpatom-heading tpatom-heading--${variant}">${headingText @ i18n}</h3>
</sly>
<sly data-sly-template.heading_h4_template="${@ headingText, variant, flag}">
  <h4 class="tpatom-heading tpatom-heading--${variant}">${headingText @ i18n}</h4>
</sly>
<sly data-sly-template.subheading_template="${@ headingText, variant, flag}">
  <span class="tpatom-subheading tpatom-heading--${variant}">${headingText @ i18n}</span>
</sly>
