<!-- Component Code Start -->
<sly data-sly-template.megamenuconfigurationv2_template="${@data, flag}">
        <div data-sly-test="${data.numberOfColumns >= 1}" data-sly-resource="${'col1' @ resourceType='publicweb/components/structure/megamenucolumn'}"></div>
        <div data-sly-test="${data.numberOfColumns >= 2}" data-sly-resource="${'col2' @ resourceType='publicweb/components/structure/megamenucolumn'}"></div>
        <div data-sly-test="${data.numberOfColumns >= 3}" data-sly-resource="${'col3' @ resourceType='publicweb/components/structure/megamenucolumn'}"></div>
        <div data-sly-test="${data.numberOfColumns >= 4}" data-sly-resource="${'col4' @ resourceType='publicweb/components/structure/megamenucolumn'}"></div>
</sly>
<!-- Component Code End -->

<sly data-sly-template.megamenuconfigurationv2_template="${@data, flag}">
    <div class="tp-pw-megamenuv2" data-module="MegaMenuConfigurationV2">
        <sly data-sly-list.column="${data.columns}">
            <sly data-sly-test.isPrimaryType="${column.type == 'primary'}" />
            <sly data-sly-test.isImageType="${column.type == 'image'}" />
            <div class="tp-pw-megamenuv2-column--${column.type || 'default'}">
                <div class="tp-pw-megamenuv2-column__content-wrapper">
                    <img data-sly-test="${isImageType}" src="${column.imgUrl}"/>
                    <div data-sly-test="${(isPrimaryType || isImageType)}" class="tp-pw-megamenuv2-column__header-wrapper">
                        <h3 data-sly-test="${column.header}">
                            ${column.header}
                        </h3>
                        <p data-sly-test="${column.description}">
                            ${column.description}
                        </p>
                    </div>
                    <div data-sly-test="${column.links}" data-sly-list.link="${column.links}" class="tp-pw-megamenuv2-column__links-wrapper">
                        <a data-sly-test="${link.linkText}" href="${link.linkUrl}" target="_blank" tabindex="${linkList.index}">
                            <i data-sly-test="${link.icon}" class="${link.icon}"></i>
                            ${link.linkText}
                        </a>
                        <div class="tp-pw-megamenuv2-column__subheader-wrapper" data-sly-test="${link.subHeader}">
                            <div class="tp-pw-megamenuv2-column__subheader-wrapper__header">
                                <h4 tabindex="${linkList.index}">
                                    ${link.subHeader}
                                </h4>
                                <i class="icon-Chevron_Right"></i>
                            </div>
                            <p data-sly-test="${link.subHeaderDescription}">
                                ${link.subHeaderDescription}
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
        </sly>
    </div>
</sly>