.tp-accordion {
    display: flex;
    flex-direction: column;

    &__events {
        display: flex;
        flex-direction: column;
        padding: $padding-zero;

        @media #{$desktop} {
            @include padding-right($padding-l);
            padding-left: $padding-zero;
        }
    }


    &__heading {
        @include font-size($font-l);
        @include line-height($padding-xl, $font-m-xl);
        @media #{$desktop} {
            @include font-size($font-xl);
            @include line-height($padding-xxl, $font-xl);
            font-weight: $bold-weight;
        }
    }

    &__description {
        @include font-size($font-sm);
        line-height: $font-m-xl;
        margin-top: $margin-md;
        @media #{$desktop} {
            @include font-size($font-baseline);
            line-height: $font-l;
            font-weight: $normal-weight;
            margin-top: $margin-l;
        }
    }

    &__event {
        @include line-height($font-l, $font-baseline);
        display: block;
        color: $color-tundora;
        background-color: transparent;
        // border-top: $letter-spacing-sm solid $color-mercury;
        border-bottom: $letter-spacing-sm solid $color-mercury;
        margin-top: -$letter-spacing-sm;
        position: relative;
        width: 100%;
        text-align: left;
        transition: ease-in-out 0.3s;

        &:first-child {
            border-top: 0;
        }

        .tp-accordion__event-title {
            font-size: $font-baseline;
            font-weight: $bold-weight;
            line-height: $font-l;

            @media #{$desktop} {
                font-size: $font-md;
            }
        }

        div {
            @include padding($padding-md $margin-xl $padding-md $padding-zero);

        }

        &:first-of-type {
            @include margin-top($margin-md);
        }

        &:last-of-type.collapsed {
            @media #{$mobile} {
                border-bottom: $letter-spacing-sm solid $color-mercury;
            }
        }
        .icon-Arrow_Right_pw {
            @include right($margin-md);
            @include width($spacing-big-half);
            @include height($spacing-big-half);
            @include font-size($font-sm);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: transform $anim-speed-quick $anim-ease;
            transform: rotate(270deg);

            @media #{$desktop} {
                @include right($margin-md);
            }

            &::before {
                vertical-align: top;
            }
        }

        &.collapsed {
            .tp-accordion__event-title {
                font-weight: $medium-weight;
            }
            .icon-Arrow_Right_pw {
                transform: rotate(90deg);
            }
            @media #{$mobile} {
                border-color: $color-mercury;
            }
        }

        &:not(.collapsed) {
            border-bottom: 0;

            @media #{$mobile} {
                color: $color-tundora;
            }

            .icon-Arrow_Right_pw {
                @media #{$mobile} {
                    transform: rotate(270deg);
                }
            }
        }
    }

    &__event-detail-wrapper {
        @include padding($padding-md);
    }

    &-detail-wrapper {
        border: 1px dashed $color-mercury;
        border-radius: $border-radius;
        padding: $padding-md;
        .tp-accordion-detail {
            .tp-accordion__event-detail-description {
                li {
                    display: table-row;
                }
                h1 {
                    @include font-size($font-l);
                    @include margin-bottom($margin-md);
                    @include line-height($font-l, $font-m-xl);
                    font-weight: $light-weight;
                }
                h2 {
                    @include font-size($font-md);
                    @include line-height($font-l, $font-md);
                    @include margin-bottom($margin-md);
                }
                h3 {
                    @include font-size($font-l);
                    @include line-height($font-xl, $font-l);
                    @include margin-bottom($margin-md);
                    font-weight: $normal-weight;
                }
                h4 {
                    @include font-size($font-m-md);
                    @include margin-bottom($margin-md);
                    @include line-height($font-m-xl, $font-m-md);
                    font-weight: $medium-weight;
                }
                p {
                    @include font-size($font-baseline);
                    @include line-height($font-m-xl, $font-l);
                    @include margin-bottom($margin-md);
                    font-weight: $normal-weight;
                }
                small {
                    @include font-size($font-baseline);
                    @include line-height($font-l, $font-baseline);
                    @include margin-bottom($margin-md);
                    font-weight: $medium-weight;
                }
                ol,
                ul {
                    @include margin-bottom($margin-sm);
                    @include padding-left($padding-xxl);
                }
                ul {
                    display: table;
                    li {
                        &::before {
                            @include padding-right($padding-sm);
                            display: table-cell;
                            color: $color-tundora;
                            content: '\2022';
                        }
                    }
                }
                ol {
                    display: table;
                    counter-reset: section;
                    list-style-type: none;
                    li {
                        &::before {
                            @include margin-right($margin-sm);
                            @include font-size($font-baseline);
                            @include padding-right($padding-sm);
                            display: table-cell;
                            content: counters(section, '.') ' ';
                            counter-increment: section;
                        }
                    }
                }
                ol ol,
                ul ul {
                    @include padding(0 0 0 $padding-twenty);
                }
                ul > li > ul,
                ol > li > ol {
                    @include margin-bottom($margin-zero);
                    :last-child {
                        @include padding-bottom($padding-zero);
                    }
                }
                ul li,
                ol li {
                    @include font-size($font-baseline);
                    @include padding-bottom($padding-md);
                    &::before {
                        color: $color-tundora;
                    }
                    &:last-child {
                        @include padding-bottom($padding-zero);
                    }
                    li {
                        @include padding-bottom($padding-sm);
                    }
                }
                ol li ol,
                ul li ul {
                    @include padding-top($padding-md);
                }
                ul ul ul {
                    li {
                        @include font-size($font-sm);
                        @include padding-bottom($padding-sm);
                        &::before {
                            content: '\2012';
                            font-weight: $normal-weight;
                        }
                    }
                }
                ol ol ol {
                    @include padding-left($padding-twenty-eight);
                    li {
                        @include font-size($font-sm);
                        @include padding-bottom($padding-sm);
                    }
                }
                table {
                    @include margin-bottom($margin-l);
                    display: block;
                    border-collapse: collapse;
                    overflow-x: auto;
                    width: 100%;
                    // sass-lint:disable no-vendor-prefixes
                    &::-webkit-scrollbar {
                        -webkit-appearance: none;
                        &:horizontal {
                            height: $font-xs;
                        }
                    }
                    // sass-lint:disable no-vendor-prefixes
                    &::-webkit-scrollbar-thumb {
                        border: $padding-xxs solid $color-white;
                        border-radius: $font-xxs;
                        background-color: $color-light-gray;
                    }
                    // sass-lint:disable no-vendor-prefixes
                    &::-webkit-scrollbar-track {
                        background-color: $color-white;
                        border-radius: $font-xxs;
                    }
                    tbody {
                        display: table;
                        width: 100%;
                    }
                    th {
                        @include padding-top($padding-md);
                        @include padding-bottom($padding-md);
                        border-bottom: $letter-spacing-sm solid $color-black;
                        font-weight: $medium-weight;
                    }
                    td {
                        @include padding-top($margin-ten);
                        @include padding-bottom($margin-ten);
                        border-bottom: $letter-spacing-sm solid $color-mercury;
                    }
                    td,
                    th {
                        @include padding-left($padding-sm);
                        @include padding-right($font-baseline);
                        white-space: pre-wrap;
                    }
                }
                @media #{$desktop} {
                    h1 {
                        @include font-size($font-xl);
                        @include line-height($font-d-xl, $font-xl);
                        font-weight: $bold-weight;
                    }
                    h2 {
                        @include font-size($font-l);
                        @include line-height($font-xl, $font-l);
                    }
                    h3 {
                        @include font-size($font-md);
                        @include line-height($font-l, $font-md);
                        font-weight: $normal-weight;
                    }
                    h4 {
                        @include font-size($font-md);
                        @include line-height($padding-xxxl, $font-md);
                        font-weight: $medium-weight;
                    }
                    p {
                        @include font-size($font-baseline);
                        @include line-height($font-l, $font-baseline);
                        font-weight: $normal-weight;
                    }
                    small {
                        @include font-size($font-sm);
                        @include line-height($font-m-md, $font-sm);
                        @include margin-bottom($margin-l);
                    }
                    ol,
                    ul {
                        @include margin-bottom($margin-l);
                    }
                    table,
                    p {
                        @include margin-bottom($margin-md);
                    }
                }
            }
        }
    }
}
