.tp-accordion {
    display: flex;
    flex-direction: column;

    &__events {
        display: flex;
        flex-direction: column;
        padding: $padding-zero;

        @media #{$desktop} {
            padding-left: $padding-zero;
        }
    }


    &__heading {
        @include font-size($font-l);
        @include line-height($padding-xl, $font-m-xl);
        @media #{$desktop} {
            @include font-size($font-xl);
            @include line-height($padding-xxl, $font-xl);
            font-weight: $bold-weight;
        }
    }

    &__description {
        @include font-size($font-sm);
        line-height: $font-m-xl;
        margin-top: $margin-md;
        @media #{$desktop} {
            @include font-size($font-baseline);
            line-height: $font-l;
            font-weight: $normal-weight;
            margin-top: $margin-l;
        }
    }

    &__event {
        @include line-height($font-l, $font-baseline);
        display: block;
        color: $color-tundora;
        background-color: transparent;
        // border-top: $letter-spacing-sm solid $color-mercury;
        border-bottom: $letter-spacing-sm solid $color-mercury;
        margin-top: -$letter-spacing-sm;
        position: relative;
        width: 100%;
        text-align: left;
        transition: ease-in-out 0.3s;

        &:first-child {
            border-top: 0;
        }

        .tp-accordion__event-title {
            font-size: $font-baseline;
            font-weight: $bold-weight;
            line-height: $font-l;

            @media #{$desktop} {
                font-size: $font-md;
            }
        }

        &-detail-description {
            @media #{$desktop} {
                .medialink,
                .teaserMarginL,
                .tp-teaser {
                    margin: 0;
                    padding: 0;
                }
            }
            @media #{$mobile} {
                .tp-teaser {
                    padding: 0;
                    margin: 0;
                    .carousal-wrapper {
                        padding-bottom: $padding-sm;
                    }
                }
            }
        }

        div {
            @include padding($padding-l $margin-xl $padding-l $padding-zero);

        }

        &:first-of-type {
            @include margin-top($margin-md);
        }
        .icon-Arrow_Right_pw {
            @include width($spacing-big-half);
            @include height($spacing-big-half);
            @include font-size($font-sm);
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: transform $anim-speed-quick $anim-ease;
            transform: rotate(270deg);

            &::before {
                vertical-align: top;
            }
        }

        &.collapsed {
            .tp-accordion__event-title {
                font-weight: $medium-weight;
            }
            .icon-Arrow_Right_pw {
                transform: rotate(90deg);
            }
            @media #{$mobile} {
                border-color: $color-mercury;
            }
        }

        &:not(.collapsed) {
            border-bottom: 0;

            @media #{$mobile} {
                color: $color-tundora;
            }

            .icon-Arrow_Right_pw {
                @media #{$mobile} {
                    transform: rotate(270deg);
                }
            }
        }
    }

    &__event-detail-wrapper {
        @include padding($padding-md);
    }
}