/tetrapak-commons/.flattened-pom.xml
/tetrapak-commons/complete/.flattened-pom.xml
/tetrapak-commons/ui.apps/.flattened-pom.xml
/tetrapak-commons/ui.dev/.flattened-pom.xml
/tetrapak-commons/core/.flattened-pom.xml
