<sly data-sly-template.languageselector_template="${@ data, flag}">
     <div class="modal tp-modal tp-lang-selector js-lang-modal  fade" id="lang-modal" data-module="LanguageSelector">
        <input type="hidden" id="selectedLanguage" name="selectedLanguage" value="${data.selectedLanguage}" />
        <div class="modal-dialog modal-dialog-centered tp-modal-dialog">
            <div class="modal-content">
                <sly data-sly-test.closeBtnText="${data.closeBtnTextI18n @i18n, locale=data.locale}" />
                <div class="modal-header">
                  <h2 class="tp-lang-selector__heading">${data.headingI18n @i18n, locale=data.locale}</h2>
                    <sly data-sly-use.closeButton="/apps/commons/components/atoms/closeButton/closeButton-template.html"
                        data-sly-call="${closeButton.closeButton_template @data=data, closeBtnText=closeBtnText, btnClasses='js-close-btn'}" />
                </div>
                <div class="modal-body">
                  <sly data-sly-test.userLanguage="${data.selectedLanguage ? data.selectedLanguage : 'en'}" />
                  <sly data-sly-test.selectedLanguage="language.${userLanguage}" />
                  <div class="tp-lang-selector__selected-lang">
                    <i class="icon-Globe"></i>
                    <p class="tp-lang-selector__selected-lang-label d-inline">${selectedLanguage @i18n, locale=data.locale}</p>
                  </div>
                  <div class="tp-lang-selector__lang-container">
                      <sly data-sly-list.lang=${data.listOfLanguages}>
                          <sly data-sly-test.language="language.${lang}" />
                          <div class='tp-lang-selector__btn text-left js-lang-selector__btn' data-langcode=${lang} datatag="internal" ctype="choose your language" ctypeone="notset" cttitle="${language @i18n, locale=data.locale}" aria-label="${language @i18n, locale=data.locale}">${language @i18n, locale=data.locale}</div>
                      </sly>
                </div>
                </div>
            </div>
        </div>
    </div>
</sly>
