.pw-anchor-menu {
    @include padding(0 $padding-xxxl);
    background-color: $color-white;
    &.tp-container {
        @include padding(0);
        @include margin($margin-l $margin-xl);
        @include position-sticky;
        @media #{$desktop} {
            @include margin($margin-l $margin-xl $margin-zero $margin-xl);
            @include margin-bottom(-$margin-md);
        }
        z-index: $zindex-anchor-menu;
    }
    &__regular {
        @media #{$desktop} {
            @include padding($padding-l $padding-l);
            @include margin($margin-zero);
        }
    }

    .pw-anchor-menu-list > .pw-anchor-menu-content {
        @include font-size($font-baseline);
        @include line-height($font-l, $font-baseline);
        @include padding($padding-sm $padding-l);
        color: $color-tundora;
        font-weight: 500;
    }

    @media #{$desktop} {
        display: flex;
        justify-content: left;
        &.tp-container {
            @include padding(0);
            @include margin($margin-l auto $margin-zero auto);
            max-width: 100%;
        }
        .pw-anchor-menu-list {
            @include padding(0);
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            & a {
                color: $color-tundora;
                &.active {
                    color: $color-congress-blue;
                }
            }
        }

        .pw-anchor-menu-list > .pw-anchor-menu-content {
            @include padding($padding-sm $padding-l);
            &:last-child {
                border-right: 0;
            }
        }
    }
    .pw-progress-indicator-container {
        position: absolute;
        bottom: $padding-zero;
        padding-bottom: 25px;
    }
    .pw-anchor-menu-progress-indicator {
        display: block;
        background-color: $color-congress-blue;
        height: $anchor-menu-indicator-height;
        transition: width, margin-left 0.5s ease 0s;
    }
}
.sticky-anchor-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $zindex-anchor-menu;
    padding: $padding-zero;
    border-bottom: 1px solid $color-mercury;
}