.pw-anchor-menu {
    @include padding(0 $padding-xxxl);
    background-color: $color-white;
    &.tp-container {
        @include padding(0);
        @include margin($margin-l $margin-xl);
        @include position-sticky;
        @media #{$desktop} {
            @include margin($margin-l $margin-xl $margin-zero $margin-xl);
            @include margin-bottom(-$margin-md);
        }
        @media #{$mobile} {
            @include margin($margin-zero);
        }
        z-index: $zindex-anchor-menu;
    }
    &__regular {
        @media #{$desktop} {
            @include padding($padding-l $padding-l);
            @include margin($margin-zero);
        }
        &.show-secondary .secondary {
            display: block;
        }
    }

    .hiddenItem {
        display: none;
    }

    .pw-anchor-menu-list > .pw-anchor-menu-content {
        @include font-size($font-baseline);
        @include line-height($font-l, $font-baseline);
        @include padding($padding-sm $padding-l);
        color: $color-tundora;
        font-weight: 500;
    }

    .pw-anchor-menu-list {
        & a {
            color: $color-tundora;
            &.active {
                color: $color-congress-blue;
            }
        }
        > li {
            flex-grow: 1;
        }
        .more {
            @media #{$mobile} {
                display: none;
            }
            > button span {
                display: inline-block;
                color: $color-tundora;
                font-size: 24px;
            }
        }
    }

    .secondary {
        border: 1px solid $color-mercury;
        display: none;
        position: absolute;
        max-width: 100%;
        min-width: 10em;
        top: 70%;
        animation: nav-secondary 0.2s;
        background-color: $color-white;
        box-shadow: 0 4px 16px $shadow;
        border-radius: 4px;
        padding: 18px 24px;
        li {
            text-align: center;
        }

        a,
        button {
            padding: 0.6em;
        }
    }

    // keyframes
    @keyframes nav-secondary {
        0% {
            opacity: 0;
            transform: translateY(-1em);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
    @media #{$desktop} {
        display: flex;
        justify-content: left;
        &.tp-container {
            @include padding(0);
            @include margin($margin-l auto $margin-zero auto);
            max-width: 100%;
        }
        .pw-anchor-menu-list {
            @include padding(0);
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .pw-anchor-menu-list > .pw-anchor-menu-content {
            @include padding($padding-sm $padding-l);
            &:last-child {
                border-right: 0;
            }
        }
    }
    .pw-progress-indicator-container {
        position: absolute;
        bottom: $padding-zero;
        padding-bottom: 25px;
        @media #{$mobile} {
            display: none;
        }
    }
    .pw-anchor-menu-progress-indicator {
        display: block;
        background-color: $color-congress-blue;
        height: $anchor-menu-indicator-height;
        transition: width, margin-left 0.5s ease 0s;
        @media #{$mobile} {
            display: none;
        }
    }
}
.sticky-anchor-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $zindex-anchor-menu;
    padding: $padding-zero;
    border-bottom: 1px solid $color-mercury;
}
.pw-anchor-menu-mobile {
    @include padding($padding-md $padding-l);
    @media #{$desktop} {
        display: none;
    }
    border-top: 1px solid $color-mercury;
    border-bottom: 1px solid $color-mercury;
    & a {
        display: flex;
        color: $color-tundora;
        justify-content: space-between;
        align-items: center;
        &.active {
            color: $color-congress-blue;
        }
    }
}