<sly data-sly-template.anchormenu_template="${@data, flag}">
    <div class="pw-anchor-menu tp-container" data-module="AnchorMenu">
      <div class="pw-anchor-menu-mobile">
        <a><span id="pw-anchor-menu-title">${data.anchorDetailList[0].anchorTitle}</span><i class="icon without-arrow icon-Navigation_Right_pw"></i></a>  
      </div>
      <div class="pw-anchor-menu__regular">
      <ul class="pw-anchor-menu-list">
        <sly data-sly-list.anchorItem="${data.anchorDetailList}">
          <li class="pw-anchor-menu-content">
            <a data-link-section='${anchorItem.anchorId}' data-link-name="${anchorItem.anchorTitle}" href="#${anchorItem.anchorId}">${anchorItem.anchorTitle}</a>
          </li>
        </sly>
      </ul>
      </div>
      <div class="pw-progress-indicator-container">
        <span class="pw-anchor-menu-progress-indicator"></span>
      </div>
  </div>
</sly>