.tp_supportTeamCard {
    position: relative;

    .tp_avatar {
        border-radius: 50%;
        display: block;
        margin: 0 auto $spacing-small;
        width: 64px;
    }

    & > i {
        left: 50%;
        margin-left: $spacing-small;
        position: absolute;
        top: 0;

        &.status-online {
            color: $color-success;
        }

        &.status-offline {
            color: $color-alert;
        }
    }

    &-name {
        font-family: $font-bold;
        margin-bottom: $spacing-small-half;
        text-align: center;
    }

    &-jobTitle {
        text-align: center;
    }

    &-info {
        color: $color-boulder;
    }

    address {
        color: $color-boulder;
        font-style: normal;

        .tp_icon {
            @include font-size(.75, large);
            margin-right: $spacing-small-half;
        }
    }

}
