.medialink {
    &-list {
        @include margin-bottom($margin-l);

        @media #{$desktop} {
            @include margin-bottom(0);
        }
    }
    h1 {
        @include margin-bottom($margin-md);

        @media #{$desktop} {
            @include margin-bottom($margin-l);
        }
    }
    h4 {
        @include font-size($font-md);
        @include margin-bottom($margin-md);

        color: $color-tundora;
        font-weight: 500;

        @media #{$desktop} {
            @include margin-bottom(0);
        }
    }

    @include border-radius($border-radius);
    @include padding-left($padding-md);
    @include padding-right($padding-md);
    @include padding-top($padding-l);
    @include margin(0 $margin-md);
    @media #{$desktop} {
        @include padding($padding-xxxl);
        @include padding-left($padding-xxxl);
        @include padding-right($padding-xxxl);
        @include margin(0 $margin-xxxl);
    }

    &__heading {
        @include font-size($font-l);
        @include padding-top($padding-zero);
        @include margin-bottom($margin-md);
        @media #{$desktop} {
            @include padding-top($padding-zero);
            @include margin-bottom($margin-l);
        }

        h3 {
            @include font-size($font-l);
            @include line-height($font-xl, $font-l);
            font-weight: 400;
            @media #{$desktop} {
                @include font-size($font-xl);
                @include line-height(40px, $font-xl);
                font-weight: 700;
            }
        }
    }

    &__subheading {
        @include margin-bottom($margin-md);
        @include min-height(24px);
        h4 {
            @include padding-left($padding-zero);
            @include font-size($font-md);
            @include line-height($font-l, $font-md);
            font-weight: 500;
        }
    }

    &__link.tpatom-link--transparent {
        @include min-height(56px);
        @include line-height(24px, 14px);
        @include font-size(14px);
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color-mercury;
        span {
            @include margin($margin-md);
            @media #{$desktop} {
                @include margin-left($margin-zero);
            }
            @include line-height(24px, 14px);
            font-weight: 400;
        }
        i.icon {
            @include margin-left(16px);
            @include margin-right(16px);
            @include margin-top(16px);
            display: inline-block;
            line-height: 24px;
            &::before {
                height: 16px;
                width: 16px;
            }
        }
        .icon.icon-Circle_Arrow_Right_pw {
            @include margin-top(16px);
            @include padding-right(16px);
            line-height: 24px;
        }
    }
}
