<div class="tpmol-support-center">
    <div class="tpmol-support-center__icon float-lg-left">
        <i class="icon-TetraPak"></i>
    </div>
    <div class="tpmol-support-center__info text-left">
        <div class="tpmol-support-center__info-heading">Customer support centre</div>
        <a href="">customersupporter@tetrapak.com</a>
        <div>+46735123456</div>
    </div>
</div>
