<div class="tpmol-support-center">
    <div class="tpmol-support-center__icon float-lg-left">
        <i class="icon-TetraPak"></i>
    </div>
    <div class="tpmol-support-center__info text-left">
        <div class="tpmol-support-center__info-heading">{{title}}</div>
        <a href="">{{supportEmail}}</a>
        <div>{{supportContact}}</div>
    </div>
</div>
