<sly data-sly-template.articleItem_template="${@ data, flag}"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
  <div data-sly-test="${data.vanityDescription}" class="pw-article">
    <img data-sly-test="${data.articleImagePath && data.showImage}" class="pw-article__image"
         src="${data.articleImagePath}" alt="${data.articleImageAltI18n @ i18n}"/>
    <h4 data-sly-test="${data.articleTitle}" class="pw-article__title">${data.articleTitle @ i18n}</h4>
    <p class="pw-article__description">${data.vanityDescription @ i18n}</p>
    <a data-sly-test="${data.articlePath}" class="pw-article__link" href="${data.articlePath}"
       title="${data.ctaTexti18nKey @ i18n}">${data.ctaTexti18nKey @ i18n} <i class="icon-Circle_Arrow_Right"></i></a>
  </div>
  <sly data-sly-test="${!data.vanityDescription}"
       data-sly-call="${templates.placeholder @ isEmpty = !data.vanityDescription}"></sly>
</sly>