@import '~tpCustomerhub/templates/components/header/header';

.tp-header {
    left: 0;
    &__user {
        display: flex;
    
        .userName {
            display: none;
            @media #{$desktop} {
                display: inline;
            }
        }
    }

    .tp-close-btn {
        margin-left: -14px;
    }

    &.menu-opened .tp-header__burger-menu {
        display: none;
    }

    .tp-header__user {
        @media #{$mobile} {
            text-indent: -9999px;
        }


        &::before {
            @media #{$mobile} {
                text-indent: 0;
                float: left;
            }
        }
    }
}
