<div class="tp_layout tp_layout-pw">
    <div class="row">
        <div class="col-sm-12">
            {{# header }}
            {{> organisms_pw-header }}
            {{/ header }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{# tp_pw_hero }}
            {{> organisms_pw-tp_pw-hero }}
            {{/ tp_pw_hero }}

            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        {{# tp_pw_breadcrumb }}
                        {{> organisms_pw-tp_pw-breadcrumb }}
                        {{/ tp_pw_breadcrumb }}

                        {{# tp_pw_articles }}
                        {{> organisms_pw-tp_pw-articles }}
                        {{/ tp_pw_articles }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{# footer }}
            {{> organisms_pw-footer }}
            {{/ footer }}
        </div>
    </div>
</div>
