.pw-contactAnchorLink {
    color: $color-white;
    background-color: $color-congress-blue;
    font-size: 20px;
    padding: 10px 14px;
    border-radius: 100%;
    opacity: 1;
    pointer-events: visible;
    transition: opacity 0.3s ease;

    &:hover {
        color: $color-mercury;
    }

    &.fade-out {
        cursor: default;
        opacity: 0;
        pointer-events: none;
    }
}

.pw-contactAnchorLink-wrapper {
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 1;

    @media #{$desktop} {
        right: 48px;
        bottom: 48px;
    }
}
