.pw-contactAnchorLink {
    padding: 10px 14px;
    font-size: 20px;
    color: $color-white;
    background-color: $color-congress-blue;
    border-radius: 100%;
    opacity: 1;
    &:hover {
        color: $color-mercury;
    }
}

.pw-contactAnchorLink-wrapper {
    position: fixed;
    right: 16px;
    bottom: 16px;
    z-index: 1;
    @media #{$desktop} {
        right: 48px;
        bottom: 48px;
    }
}
