.pw-contactAnchorLink {
    color: $color-white;
    background-color: $color-congress-blue;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 100%;
    opacity: 1;
    pointer-events: visible;
    transition: opacity 0.3s ease;
    .icon-Envelope_pw::before {
        font-size: 16px;
        line-height: 16px;
    }
    &:hover {
        color: $color-mercury;
    }

    &.fade-out {
        cursor: default;
        opacity: 0;
        pointer-events: none;
    }
}

.pw-contactAnchorLink-wrapper {
    @include right($margin-sm);
    @include bottom($margin-sm);
    position: fixed;
    z-index: 1;

    @media #{$desktop} {
        @include right($margin-l);
        @include bottom($margin-l);
    }
}
