.pw-contactAnchorLink {

    @include font-size($margin-xxl);
    @include line-height($margin-xxl, $margin-xxl);
    &:hover {
        color: $color-mercury;
    }

    &.fade-out {
        cursor: default;
        opacity: 0;
        pointer-events: none;
    }
}

.pw-contactAnchorLink-wrapper {
    @include right($margin-sm);
    @include bottom($margin-sm);
    position: fixed;
    z-index: 1;

    @media #{$desktop} {
        @include right($margin-l);
        @include bottom($margin-l);
    }
}
