.tp-list-content-image {
    @include border-radius($border-radius);
    @include margin-bottom($margin-xxxl);
    $self: &;

    @media #{$desktop} {
        @include margin-bottom($margin-l);
    }

    &--left {
        @media #{$desktop} {
            @include padding-right(39px);
        }
    }

    &__title {
        @include margin-bottom($margin-l);
    }

    &__tab-menu-list-item {
        &:last-child {
            #{$self}__tab-menu-list-item__link {
                border-bottom: 1px solid $color-mercury;
            }
        }

        &.active {
            &:last-child {
                #{$self}__tab-menu-list-item__link {
                    @media #{$desktop} {
                        border-bottom: 1px solid $color-wild-sand;
                    }
                }
            }
        }

        #{$self}__content-tab {
            @include padding($padding-md);
            background-color: $color-wild-sand;

            @media #{$desktop} {
                display: none;
            }
        }

        &.active+& {
            #{$self}__tab-menu-list-item__link {
                border-top: 1px solid $color-mercury;

                @media #{$desktop} {
                    border-top: 1px solid $color-white;
                }
            }
        }

        &__link {
            @include padding($padding-md $padding-xxxl $padding-md $padding-md);
            color: $color-congress-blue;
            cursor: pointer;
            border-top: 1px solid $color-mercury;
            font-family: $font-regular;
            position: relative;
            transition: none;

            @media #{$desktop} {
                @include margin-right($margin-md);

                .order-2 & {
                    @include margin-left($margin-md);
                    margin-right: 0;

                    &.active {
                        margin-left: 0;
                    }
                }
            }

            &.active {
                color: $color-tundora;

                @media #{$desktop} {
                    margin-right: 0;
                    border-top: 1px solid transparent;
                    background-color: $color-wild-sand;
                }

                .icon {
                    @media #{$desktop} {
                        @include margin-right(15px);
                    }
                }
            }
        }
    }

    &__links-list {
        &:not(.order-2) {
            @media #{$desktop} {
                padding-right: 0;
            }
        }

        &.order-2 {
            @media #{$desktop} {
                padding-left: 0;
            }
        }
    }

    &__content-container {
        @include padding($padding-l);
        @include border-radius($border-radius);
        display: none;
        background-color: $color-wild-sand;

        @media #{$desktop} {
            display: block;
        }
    }

    &__content-tab {
        &:not(.active) {
            display: none;
        }
    }

    &__content-wrapper {
        display: none;

        @media #{$desktop} {
            @include padding-left($padding-l);
            display: block;
        }
    }

    &--right {
        .icon {
            transform: rotate(-90deg);

            @media #{$desktop} {
                @include left($spacing-small);
                transform: rotate(180deg);
            }
        }

        #{$self}__title {
            @include padding-left(32px);
        }

        #{$self}__tab-menu-list-item__link {
            @media #{$desktop} {
                @include padding($padding-md $padding-md $padding-md $padding-xxxl);

                &.active {
                    $padding-left: $padding-xxxl + $padding-md;
                    @include padding($padding-md $padding-md $padding-md $padding-left);

                    .icon {
                        @include left($spacing-small + $padding-md);
                    }
                }
            }
        }

        #{$self}__content-wrapper {
            @media #{$desktop} {
                @include padding-right($padding-l);
                padding-left: 0;
            }
        }

        @media #{$desktop} {
            @include padding-left(39px);
        }
    }

    .icon {
        @include margin-top(-6px);
        @include font-size($font-sm);
        @include right($spacing-small);
        position: absolute;
        top: 50%;
        transform: rotate(90deg);

        @media #{$desktop} {
            transform: none;
        }
    }

    .tpatom-button {
        @include margin-top($margin-md);

        @media #{$desktop} {
            @include margin-top($margin-l);
        }
    }

    &__edit-wrapper {
        @include margin-top($margin-l);
    }

    &--mobile {
        a {
            &[aria-expanded='true'] {
                @media #{$mobile} {
                    border-top: 1px solid $color-white;
                    background-color: $color-wild-sand;
                }

                .icon {
                    @include right($font-baseline);
                    transform: rotate(-90deg);
                }
            }
        }

        #{$self}__tab-menu-list-item {
            &:last-child {
                a {
                    &[aria-expanded='true'] {
                        @media #{$mobile} {
                            border-bottom: 1px solid transparent;
                        }
                    }
                }
            }
        }
    }
}
