.pw-listContentImage {
    @include border-radius($border-radius);
    @include margin-bottom($margin-xxxl);
    $self: &;

    @media #{$desktop} {
        @include margin-bottom($margin-l);
    }
    &__title {
        @include margin-bottom($margin-l);
    }
    &__tabMenuListItem {
        &:last-child {
            #{ $self }__tabMenuListItem__link {
                border-bottom: 1px solid $color-mercury;
                &.active { //sass-lint:disable-line nesting-depth
                    border-bottom: 1px solid $color-white;
                }
            }
        }
        #{ $self }__contentTab {
            @include padding($spacing-small);
            background-color: $color-white;
            @media #{$desktop} {
                display: none !important; //sass-lint:disable-line no-important
            }
        }
        &.active + #{ $self }__tabMenuListItem {
            #{ $self }__tabMenuListItem__link {
                @media #{$desktop} {
                    border-top: 1px solid $color-white;
                }
            }
        }
    }
    &__linksList {
        @media #{$desktop} {
            padding-right: 0;
        }
    }
    &__contentContainer {
        @include padding($padding-l);
        @include border-radius($border-radius);
        display: none;
        background-color: $color-white;

        @media #{$desktop} {
            display: block;
        }
    }
    &__contentTab {
        @media #{$desktop} {
            &:not(.active) {
                display: none;
            }
        }
    }
    &__tabMenuListItem__link {
        @include padding($padding-md $padding-xxxl $padding-md $padding-md);
        color: $color-congress-blue;
        border-top: 1px solid $color-mercury;
        font-family: $font-regular;
        position: relative;
        transition: none;
        @media #{$desktop} {
            @include margin-right($margin-md);
        }

        &.active {
            color: $color-tundora;
            border-top: 1px solid $color-white;
            background-color: $color-white;

            @media #{$desktop} {
                @include margin-right(0);
            }

            .tp-icon {
                @media #{$desktop} {
                    @include margin-right(15px);
                }
            }
        }

    }
    &__contentWrapper {
        display: none;

        @media #{$desktop} {
            @include padding-left($padding-l);
            display: block;
        }
    }
    &--reverse {
        .tp-icon {
            transform: rotate(-90deg);

            @media #{$desktop} {
                left: $spacing-small;
                transform: rotate(180deg);
            }
        }

        #{ $self }__tabMenuListItem__link {
            @media #{$desktop} {
                @include padding($padding-md $padding-md $padding-md $padding-xxxl);
            }
        }

        #{ $self }__contentWrapper {
            @media #{$desktop} {
                @include padding-right($padding-l);
                padding-left: 0;
            }
        }
    }
    .tp-icon {
        @include margin-top(-6px);
        @include font-size($font-sm);
        position: absolute;
        right: convert-to-rem(16px);
        top: 50%;
        transform: rotate(90deg);
        @media #{$desktop} {
            transform: none;
        }
    }

    &.pw-theme--grayscale-white {
        #{ $self }__tabMenuListItem__link {
            &.active {
                background-color: $color-wild-sand;
            }
        }
        #{ $self }__contentContainer {
            background-color: $color-wild-sand;
        }
        #{ $self }__tabMenuListItem {
            &:last-child {
                #{ $self }__tabMenuListItem__link {
                    &.active { //sass-lint:disable-line nesting-depth
                        border-bottom: 1px solid $color-wild-sand;
                    }
                }
            }
            &.active + #{ $self }__tabMenuListItem {
                #{ $self }__tabMenuListItem__link {
                    border-top: 1px solid $color-mercury;
                    @media #{$desktop} {
                        border-top: 1px solid $color-white;
                    }
                }
            }
            #{ $self }__contentTab {
                background-color: $color-wild-sand;
            }
        }
    }

    .tpatom-button {
        @include margin-top($margin-md);
        @media #{$desktop} {
            @include margin-top($margin-l);
        }
    }
    &__editWrapper {
        @include margin-top($margin-l);
        #{ $self }__contentTab {
            display: block !important; //sass-lint:disable-line no-important
        }
    }
    .mobile-tabMenu {
        .collapse-title {
            position: relative;
            i {
                @include font-size($font-sm);
                position: absolute;
                right: convert-to-rem(16px);
                top: convert-to-rem(13px);
            }
        }
        a[aria-expanded='true'] { //sass-lint:disable-line force-attribute-nesting
            .icon-Chevron_Down {
                transform: rotate(180deg);
            }
            .tp-icon {
                transform: rotate(-90deg);
                right: convert-to-rem(14px);
            }
        }
    }
}
