<sly data-sly-template.listcontentimage_template="${@ data, flag}"
  data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
    <sly data-sly-test.showEdit="${wcmmode.edit ? ' d-block' : ' d-none'}" />
    <div class="tp-list-content-image${data.tabsAlignment == 'text-right'? ' tp-list-content-image--right' : ' tp-list-content-image--left'} tp-card" data-module="ListContentImage">
      <div class="row">
          <div class="col-lg-4 ${data.tabsAlignment == 'text-right'? 'order-2' : ''} tp-list-content-image__links-list">
              <div class="tp-list-content-image--desktop d-none d-lg-block">
                <h2 class="tp-list-content-image__title">${data.titleI18n  @ i18n}</h2>
                <div class="tp-list-content-image__tab-menu">
                    <ul class="tp-list-content-image__tab-menu-list" data-sly-list="${data.tabLinks}">
                        <li class="tp-list-content-image__tab-menu-list-item js-list-content-image__tab-menu-list-item${itemList.first? ' active' : ''}" data-tab-id="rteContent-${itemList.count}">
                            <a tabindex="0"
                               data-tab-id="rteContent-${itemList.count}"
                               data-tab-count="${itemList.count}"
                               data-parent-title="${data.titleI18n @i18n}"
                               data-link-name="${item}"
                               class="tp-list-content-image__tab-menu-list-item__link js-list-content-image__tab-menu-list-item__link d-block${itemList.first? ' active' : ''}">
                                ${item}
                                <i class="icon icon-Chevron_Right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
              </div>
              <div class="tp-list-content-image--mobile d-block d-lg-none">
                <h2 class="tp-list-content-image__title">${data.titleI18n  @ i18n}</h2>
                <div class="tp-list-content-image__tab-menu">
                    <ul class="tp-list-content-image__tab-menu-list js-list-content-image__tab-menu-list" data-sly-list="${data.tabLinks}">
                        <li class="tp-list-content-image__tab-menu-list-item js-list-content-image__tab-menu-list-item${itemList.first? ' active' : ''}" data-tab-id="rteContent-${itemList.count}">
                            <a tabindex="0"
                               data-tab-id="rteContent-${itemList.count}"
                               data-toggle="collapse"
                               data-target=".js-list-content-image__c-wrapper${itemList.count}"
                               data-tab-count="${itemList.count}"
                               data-parent-title="${data.titleI18n @i18n}"
                               data-link-name="${item}"
                               aria-expanded="${itemList.first ? 'true' : 'false'}"
                               class="tp-list-content-image__tab-menu-list-item__link js-list-content-image__tab-menu-list-item__link d-block${itemList.first? ' active' : ''}">
                                ${item}
                                <i class="icon icon-Chevron_Right"></i>
                            </a>
                            <div data-section-id="rteContent-${itemList.count}"
                                 class="collapse tp-list-content-image__c-wrapper js-list-content-image__c-wrapper${itemList.count}${itemList.first ? ' show' : ''}"
                                 data-parent=".js-list-content-image__tab-menu-list"></div>
                        </li>
                    </ul>
                </div>
              </div>
              <sly data-sly-test="${data.linkTextI18n}"
                   data-sly-use.pwButton="/apps/commons/components/atoms/button-text/button-text.html"
                   data-sly-call="${pwButton.button_template @ btnPath=data.linkPath, btnText=data.linkTextI18n, btnTooltip=data.linkTooltipI18n, btnTarget=data.targetBlank, variant='link'}">
          </div>
          <div class="col-lg-8 ${data.tabsAlignment == 'text-right'? 'order-1' : ''} tp-list-content-image__content-container">
              <div class="tp-list-content-image__content-wrapper js-list-content-image__content-wrapper">
              </div>
          </div>
      </div>
      <div class="tp-list-content-image__edit-wrapper${showEdit}">
          <div class="row" data-sly-list="${data.tabLinks}">
              <sly data-sly-test.parsys="${'par{0}' @ format=[itemList.count]}" />
              <div class="tp-list-content-image__edit-tab js-list-content-image__edit-tab col-12">
                  <h3>Edit tab number ${itemList.count} Content</h3>
                  <div class="js-list-content-image__content-tab${showEdit} tp-list-content-image__content-tab${itemList.first? ' active' : ''}" data-tab-id="rteContent-${itemList.count}">
                      <sly data-sly-resource="${parsys @ resourceType='foundation/components/parsys'}">
                  </div>
              </div>
          </div>
      </div>
    </div>
    <sly data-sly-test="${!data.tabLinks}" data-sly-call="${templates.placeholder @ isEmpty = !data.tabLinks}"></sly>
</sly>
