<div class="tp_container tp_performance">
    {{> atoms-tp_containerTitleWithIcon }}

    <div class="row">
        {{# tp_performance_column }}
        <div class="col-md-6">
            {{> molecules-tp_performance }}
        </div>
        {{/ tp_performance_column }}
        <div class="col-12">
            {{> atoms-button-text }}
        </div>
    </div>
</div>
