.pw-text-video {
    @include border-radius($border-radius);
    @include margin-bottom($margin-xxxl);
    $self: &;

    &--display-row {
        > .row {
            flex-direction: row;
        }
        .left-pad {
            @media #{$desktop} {
                padding-right: $padding-l;
            }
        }
        .right-pad {
            @media #{$desktop} {
                padding-left: $padding-l;
            }
        }
    }

    &--display-row-reversed {
        > .row {
            flex-direction: row-reverse;
        }
        .left-pad {
            @media #{$desktop} {
                padding-left: $padding-l;
            }
        }
        .right-pad {
            @media #{$desktop} {
                padding-right: $padding-l;
            }
        }
    }

    &--display-column {
        > .row {
            flex-direction: column;
        }
        #{$self}__video {
            @include margin-top($padding-l);
            @media #{$desktop} {
                @include margin-top($margin-xxxl);
            }
        }
    }

    &--display-column-reversed {
        > .row {
            flex-direction: column-reverse;
        }
        .left-pad {
            padding-left: 24px;
        }
        .right-pad {
            padding-right: 24px;
        }

        #{$self}__video {
            @include margin-bottom($padding-l);
            @media #{$desktop} {
                @include margin-bottom($margin-xxxl);
            }
        }
    }

    &__subTitle {
        @include margin-bottom($margin-sm);
        @include font-size($font-sm);
        @include line-height(16px, $font-sm);
        color: $color-boulder;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__link {
        @include margin-top($margin-md);
        @media #{$desktop} {
            @include margin-top($margin-md);
        }
    }

    &__title {
        @include margin-bottom($padding-md);
        @include font-size($font-m-xl);
        @include line-height(32px, $font-m-xl);

        @media #{$desktop} {
            @include margin-bottom($padding-md);
            @include font-size($font-xl);
            @include line-height(40px, $font-xl);
        }
    }

    &__description {
        @include margin-bottom($margin-zero);
        @include font-size($font-baseline);
        @include line-height(24px, $font-baseline);

        li {
            display: table;
            margin-top: $margin-sm;

            &:first-child {
                margin-top: 0;
            }
        }

        ol,
        ul {
            @include margin-bottom(8px);
            @include padding-left($padding-sm);
        }

        ul {
            display: table;
            li {
                &::before {
                    @include margin-right($margin-sm);
                    @include padding-right($padding-sm);
                    display: table-cell;
                    color: $color-tundora;
                    content: '\2022';
                }
            }
        }

        ol {
            display: table;
            counter-reset: section;
            list-style-type: none;
            li {
                &::before {
                    @include margin-right($margin-sm);
                    @include font-size(14px);
                    @include padding-right($padding-sm);
                    display: table-cell;
                    content: counters(section, '.') ' ';
                    counter-increment: section;
                }
            }
        }

        ol ol,
        ul ul {
            @include padding(0 0 0 20px);
        }

        ul > li > ul,
        ol > li > ol {
            @include margin-bottom(0);
            :last-child {
                @include padding-bottom(0);
            }
        }

        ul li,
        ol li {
            &::before {
                color: $color-tundora;
            }
            &:last-child {
                @include padding-bottom(0);
            }
        }

        ol li ol,
        ul li ul {
            @include padding-top(16px);
        }

        ul ul ul {
            li {
                &::before {
                    content: '\2012';
                    font-weight: 400;
                }
            }
        }

        ol ol ol {
            @include padding-left(28px);
        }

        @media #{$desktop} {
            @include margin-bottom($margin-zero);
        }
    }

    &__video {
        @include border-radius($border-radius);
        @include margin-bottom($margin-md);
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;

        @media #{$desktop} {
            @include margin-bottom(0);
        }

        video,
        iframe {
            @include border-radius($border-radius);
            @include margin-bottom(0);
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    &__novideo {
        height: 100%;
        &_content {
            @include border-radius($border-radius);
            display: flex;
            align-items: center;
            background-color: $color-mercury;
            flex-direction: column;
            font-size: $font-md;
            font-weight: 500;
            justify-content: center;
            height: 100%;
            p {
                max-width: 400px;
                text-align: center;
                @media #{$mobile} {
                    max-width: 224px;
                    font-size: $font-baseline;
                    font-weight: 400;
                }
            }
            button {
                margin-top: $margin-l;
            }
        }
    }
}