.pw-text-video {
    @include border-radius($border-radius);
    @include margin-bottom($margin-xxxl);
    $self: &;

    &--display-row {
        > .row {
            flex-direction: row;
        }
        .left-pad {
            @media #{$desktop} {
                padding-right: $padding-l;
            }
        }
        .right-pad {
            @media #{$desktop} {
                padding-left: $padding-l;
            }
        }
    }

    &--display-row-reversed {
        > .row {
            flex-direction: row-reverse;
        }
        .left-pad {
            @media #{$desktop} {
                padding-left: $padding-l;
            }
        }
        .right-pad {
            @media #{$desktop} {
                padding-right: $padding-l;
            }
        }
    }

    &--display-column {
        > .row {
            flex-direction: column;
        }
        #{$self}__video {
            @include margin-top($padding-l);
            @media #{$desktop} {
                @include margin-top($margin-xxxl);
            }
        }
    }

    &--display-column-reversed {
        > .row {
            flex-direction: column-reverse;
        }
        .left-pad {
            padding-left: 24px;
        }
        .right-pad {
            padding-right: 24px;
        }

        #{$self}__video {
            @include margin-bottom($padding-l);
            @media #{$desktop} {
                @include margin-bottom($margin-xxxl);
            }
        }
    }

    &__subTitle {
        @include margin-bottom($margin-sm);
        @include font-size($font-sm);
        @include line-height(16px, $font-sm);
        color: $color-boulder;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__link {
        @include margin-top($margin-md);
        @media #{$desktop} {
            @include margin-top($margin-md);
        }
    }

    &__title {
        @include margin-bottom($padding-md);
        @include font-size($font-m-xl);
        @include line-height(32px, $font-m-xl);

        @media #{$desktop} {
            @include margin-bottom($padding-md);
            @include font-size($font-xl);
            @include line-height(40px, $font-xl);
        }
    }

    &__description {
        @include margin-bottom($margin-zero);
        @include font-size($font-baseline);
        @include line-height(24px, $font-baseline);
        ul {
            li {
                display: flex;
                &::before {
                    @include margin-right($margin-sm);
                    display: inline-block;
                    color: $color-tundora;
                    content: '\2022';
                }
            }
        }
        @media #{$desktop} {
            @include margin-bottom($margin-zero);
        }
    }

    &__video {
        @include border-radius($border-radius);
        @include margin-bottom($margin-md);
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;

        @media #{$desktop} {
            @include margin-bottom(0);
        }

        video,
        iframe {
            @include border-radius($border-radius);
            @include margin-bottom(0);
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

}
