.pw-text-video {
    @include border-radius($border-radius);
    @include margin-bottom($margin-xxxl);
    $self: &;

    &--display-row {
        > .row {
            flex-direction: row;
        }
    }

    &--display-row-reversed {
        > .row {
            flex-direction: row-reverse;
        }
    }

    &--display-column {
        > .row {
            flex-direction: column;
        }

        #{$self}__video {
            @include margin-top($padding-l);
            @media #{$desktop} {
                @include margin-top($margin-xxxl);
            }
        }
    }

    &--display-column-reversed {
        > .row {
            flex-direction: column-reverse;
        }

        #{$self}__video {
            @include margin-bottom($padding-l);
            @media #{$desktop} {
                @include margin-bottom($margin-xxxl);
            }
        }
    }

    &__subTitle {
        @include margin-bottom($padding-sm);
        @include font-size($font-sm);
        @include line-height(20px, $font-sm);
        text-transform: uppercase;

        @media #{$desktop} {
            @include margin-bottom($padding-md);
        }
    }

    &__title {
        @include margin-bottom($padding-l);
        @include font-size($font-m-xl);
        @include line-height(32px, $font-m-xl);

        @media #{$desktop} {
            @include margin-bottom($padding-l);
            @include font-size($font-xl);
            @include line-height(40px, $font-xl);
        }
    }

    &__description {
        @include margin-bottom($padding-l);
        @include font-size($font-baseline);
        @include line-height(24px, $font-baseline);

        @media #{$desktop} {
            @include margin-bottom($padding-l);
        }
    }

    &__video {
        @include border-radius($border-radius);
        @include margin-bottom($padding-l);
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;

        @media #{$desktop} {
            @include margin-bottom($margin-xxxl);
        }

        video,
        iframe {
            @include border-radius($border-radius);
            @include margin-bottom(0);
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

}