<sly data-sly-template.textVideo_template="${@ data, flag}" data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
  <sly data-sly-test.dataLinkSectionCTAText="${data.pwButtonTheme == 'link' ? 'Text Hyperlink' : 'CTA'}"/>

  <div data-sly-test="${data.damVideoPath || data.youtubeEmbedURL}" id="${data.anchorId}" title="${data.anchorTitle}"
       class="pw-container"
       data-locator="text-video" data-module="TextVideo">
       <input type="hidden" class="componentName-textvideo" name="componentName" value="${resource.name}">
    <div class="pw-text-video pw-text-video--${data.pwDisplay} pw-theme--${data.pwTheme} pw-padding--regular pw-margin--regular">
    <div class="row no-gutters">
	<sly data-sly-test.isFormTypeAuthored="${data.formType != ''}"/>
	<sly data-sly-test.isSoftConvEnabled="${data.enableSoftcoversion != ''}"/>
      <div class="col-md-12 ${data.pwDisplay == 'display-row' || data.pwDisplay == 'display-row-reversed' ? 'col-lg-4 left-pad': ''}">
        <sly data-sly-test="${data.subTitle}"><p class="pw-text-video__subTitle font-fixing d-none d-lg-block">${data.subTitle @ context='html'}</p></sly>
        <div class="pw-text-video__title d-none d-lg-block">
          <sly data-sly-test="${data.title}" data-sly-use.title="/apps/commons/components/atoms/heading/heading.html"
               data-sly-call="${title.heading_h3_template @ headingText=data.title, variant='regular'}"/>
        </div>
        <div class="pw-text-video__description d-none d-lg-block">${data.description @ context='html'}</div>
        <div class="pw-text-video__link d-none d-lg-block">
                <a data-sly-test="${(data.linkURL && data.linkTexti18n) && (!isFormTypeAuthored && !isSoftConvEnabled)}"
                href="${data.linkURL}"
                class="tpatom-link tpatom-link--${data.pwButtonTheme == 'secondary' ? 'primary':'transparent'} js-textVideo-analytics"
                title="${data.linkTexti18n}"
                data-link-section="Text & Video_${dataLinkSectionCTAText}"
                data-link-name="${data.linkTexti18n}"
                data-video-title="${data.title}"
                data-asset-name="${data.assetName}"
                data-button-link-type="${data.pwButtonTheme}"
                data-anchor-type="${dataLinkSectionCTAText}"
                >
                <span class="tpatom-link__text sly-text">${data.linkTexti18n @ context='html'}</span><span class="nowrap-text">&#8288;<i class="icon ${data.pwButtonTheme == 'secondary' ? 'icon-Arrow_Right_pw':'icon-Circle_Arrow_Right_pw'}"></i></span>
             </a>

             <button data-sly-test="${data.linkURL && ((isFormTypeAuthored && data.formType == 'enableSoftconversion') || (!isFormTypeAuthored && isSoftConvEnabled))}" class="tpatom-link tpatom-link--primary js-softconversion-pw-textvideo text-left"
                data-link-section="button click"
                data-link-name="${data.linkTexti18n}"
                data-video-title="${data.title}"
                data-asset-name="${data.assetName}"
                data-anchor-type="CTA"
                title="${'pw.form.button.download' @ i18n}"
             >
                <span class="tpatom-link__text sly-text"> ${data.linkTexti18n @ context='html'}</span><span class="nowrap-text">&#8288;<i class="icon icon-Arrow_Right_pw"></i></span>
              </button>
            <button data-sly-test="${isFormTypeAuthored && data.formType == 'enableSubscription'}" class="tpatom-link tpatom-link--primary js-subscription-pw-textvideo text-left"
                    data-link-section="button click"
                    data-link-name="${data.linkTexti18n}"
                    data-video-title="${data.title}"
                    data-asset-name="${data.assetName}"
                    data-anchor-type="CTA"
                    title="${'pw.form.button.subscribe' @ i18n}"
            >
                <span class="tpatom-link__text sly-text"> ${data.linkTexti18n @ context='html'}</span><span class="nowrap-text">&#8288;<i class="icon icon-Arrow_Right_pw"></i></span>
            </button>

        </div>
      </div>
      <div class="col-md-12 ${data.pwDisplay == 'display-row' || data.pwDisplay == 'display-row-reversed' ? 'col-lg-8 right-pad': ''}">
        <sly data-sly-test="${data.videoSource == 'damVideo'}">
          <div class="pw-text-video__video js-video-props" data-link-parent-title="${data.videoName}"
            data-video-type="${data.videoSource}" data-video-name="${data.videoName}">
            <sly data-sly-test = "${!wcmmode.edit}">
            <sly data-sly-use.dynamicImageModel="${'com.tetrapak.publicweb.core.models.DynamicImageModel' @ imagePath=data.thumbnailPath, videoPath=data.originalDamVideoPath}"></sly>
            <video class="js-dam-player" controls poster="${dynamicImageModel.desktopUrl}">
              <source src="${data.damVideoPath}" type="video/mp4">
            </video>
          </sly>
          <sly data-sly-test = "${wcmmode.edit}">
            <video class="js-dam-player" controls poster="${data.thumbnailPath}">
              <source src="${data.damVideoPath}" type="video/mp4">
            </video>
          </sly>
          </div>
        </sly>
        <sly data-sly-test="${data.videoSource == 'youtube'}">
            <sly data-sly-use.digitalDataModel="com.tetrapak.publicweb.core.models.PageLoadAnalyticsModel"></sly>
            <div class="pw-text-video__video js-video-props" data-link-parent-title="${data.youtubeEmbedURL}"
                 data-video-type="${data.videoSource}" data-video-name="${data.youtubeEmbedURL}">
                <sly data-sly-test="${!digitalDataModel.isPublisher}">
                    <iframe  class='js-yt-player' src="${data.youtubeEmbedURL}" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen></iframe>
                </sly>
                <sly data-sly-test="${digitalDataModel.isPublisher}">
                    <iframe  class='js-yt-player' class="optanon-category-4" data-src="${data.youtubeEmbedURL}" frameborder="0"
                             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                             allowfullscreen></iframe>
                </sly>
            </div>
            <div class="pw-text-video__novideo">
              <div class="pw-text-video__novideo_content">
                <div class="pw-text-video_content"></div>
                <button id="ot-sdk-btn" class="ot-sdk-show-settings">Cookies Settings</button>
              </div>
            </div>
        </sly>
        <sly data-sly-test="${data.subTitle}"><p class="pw-text-video__subTitle font-fixing d-md-block d-lg-none">${data.subTitle @ context='html'}</p></sly>
        <div class="pw-text-video__title d-md-block d-lg-none">
          <sly data-sly-test="${data.title}" data-sly-use.title="/apps/commons/components/atoms/heading/heading.html"
               data-sly-call="${title.heading_h3_template @ headingText=data.title, variant='regular'}"/>
        </div>
        <div class="pw-text-video__description d-md-block d-lg-none">${data.description @ i18n,context='html'}</div>
        <div class="pw-text-video__link d-md-block d-lg-none">
          <a data-sly-test="${(data.linkURL && data.linkTexti18n) && (!isFormTypeAuthored && !isSoftConvEnabled)}"
                href="${data.linkURL}"
                class="tpatom-link tpatom-link--${data.pwButtonTheme == 'secondary' ? 'primary':'transparent'} js-textVideo-analytics"
                title="${data.linkTexti18n}"
                data-link-section="Text & Video_${dataLinkSectionCTAText}"
                data-link-name="${data.linkTexti18n}"
                data-video-title="${data.title}"
                data-asset-name="${data.assetName}"
                data-button-link-type="${data.pwButtonTheme}"
                data-anchor-type="${dataLinkSectionCTAText}"
                >
                <span class="tpatom-link__text sly-text">${data.linkTexti18n @ context='html'}</span><span class="nowrap-text">&#8288;<i class="icon ${data.pwButtonTheme == 'secondary' ? 'icon-Arrow_Right_pw':'icon-Circle_Arrow_Right_pw'}"></i></span>
             </a>


             <button data-sly-test="${data.linkURL && ((isFormTypeAuthored && data.formType == 'enableSoftconversion') || (!isFormTypeAuthored && isSoftConvEnabled))}" class="tpatom-link tpatom-link--primary js-softconversion-pw-textvideo text-left"
                data-link-section="button click"
                data-link-name="${data.linkTexti18n}"
                data-video-title="${data.title}"
                data-asset-name="${data.assetName}"
                data-anchor-type="CTA"
                title="${'pw.form.button.download' @ i18n}"
             >
                <span class="tpatom-link__text sly-text"> ${data.linkTexti18n @ context='html'}</span><span class="nowrap-text">&#8288;<i class="icon icon-Arrow_Right_pw"></i></span>
              </button>
            <button data-sly-test="${isFormTypeAuthored && data.formType == 'enableSubscription'}" class="tpatom-link tpatom-link--primary js-subscription-pw-textvideo text-left"
                    data-link-section="button click"
                    data-link-name="${data.linkTexti18n}"
                    data-video-title="${data.title}"
                    data-asset-name="${data.assetName}"
                    data-anchor-type="CTA"
                    title="${'pw.form.button.subscribe' @ i18n}"
            >
                <span class="tpatom-link__text sly-text"> ${data.linkTexti18n @ context='html'}</span><span class="nowrap-text">&#8288;<i class="icon icon-Arrow_Right_pw"></i></span>
            </button>
        </div>
      </div>
    </div>
  </div>
  <sly data-sly-test="${(isFormTypeAuthored && data.formType == 'enableSoftconversion') || (!isFormTypeAuthored && isSoftConvEnabled)}" data-sly-use.softconversion="/apps/publicweb/components/content/softconversion/softconversion-template.html"
      data-sly-call="${softconversion.softconversion_template @ data=data.softConversionData, componentName=resource.name, downloadPath=data.linkURL, assetName=data.assetName, parentComponent='Text & Video'}" />
      <sly data-sly-test="${isFormTypeAuthored && data.formType == 'enableSubscription'}" data-sly-use.subscriptionform="/apps/publicweb/components/content/subscriptionform/subscriptionform-template.html"
           data-sly-call="${subscriptionform.subscriptionform_template @ data=data.subscriptionData, componentName=resource.name, downloadPath=data.linkPath, assetName=data.assetName, parentComponent='Text & Video'}" />
  </div>
  <sly data-sly-test="${!data.damVideoPath && !data.youtubeEmbedURL}" data-sly-call="${templates.placeholder @ isEmpty = (!data.damVideoPath && !data.youtubeEmbedURL)}"></sly>
</sly>
