<div class="element__wrapper">
    <label for="demoText">Please enter some text</label>
    {{> atoms/textField labelledId="demoText"}}
</div>
{{> molecules/container/tp_ch-container btnText="HelloWorld" btnTextIcon="test-icon"}}
