<sly data-sly-template.megamenuconfig_template="${@data, flag}">
    <div data-module="Megamenuconfig">
        <div data-sly-test="${data.numberOfColumns >= 1}" data-sly-resource="${'col1' @ resourceType='publicweb/components/structure/megamenucolumn'}"></div>
        <div data-sly-test="${data.numberOfColumns >= 2}" data-sly-resource="${'col2' @ resourceType='publicweb/components/structure/megamenucolumn'}"></div>
        <div data-sly-test="${data.numberOfColumns >= 3}" data-sly-resource="${'col3' @ resourceType='publicweb/components/structure/megamenucolumn'}"></div>
        <div data-sly-test="${data.numberOfColumns >= 4}" data-sly-resource="${'col4' @ resourceType='publicweb/components/structure/megamenucolumn'}"></div>
    </div>
</sly>