.tp-tech-pub {
    &__breadcrumbs {
        @include padding($padding-md);
        @include margin($margin-md $margin-zero);
        background-color: $color-wild-sand;
    }

    &__bc-list {
        display: flex;
    }

    &__bc-item {
        @include margin-right($margin-sm);
        color: $color-boulder;
        font-weight: 500;

        &.active {
            color: $color-tundora;
        }
    }

    &__table {
        th,
        td {
            @include padding($padding-md);
        }

        th {
            font-weight: 500;
        }

        td {
            border-bottom: 1px solid $color-mercury;
        }
    }
}