<sly data-sly-template.dropdown_template="${@ selectClass, id, defaultValue, options, required, autoLocatorInput}">    
    <div class="d-block position-relative">
        <select name="${id}" id="${id}" class="tpatom-dropdown__select-box ${selectClass}" auto_locator="${autoLocatorInput}" required="${required}">
            <sly data-sly-test="${defaultValue}">
                <option value="">${defaultValue @ i18n}</option>
            </sly>
            <sly data-sly-list.dropdown="${options}">
                <option value="${dropdown.applicationName @ i18n}">${dropdown.applicationName @ i18n}</option>
            </sly>
        </select>
        <i class="tpatom-dropdown__icon icon-Arrow_Down"></i>
    </div>
</sly>