@function getbackgroundcolor($basecolor) {
    @return rgba($color: $basecolor, $alpha: $alpha-e);
}

.pw-banner {
    position: relative;

    &__content {
        @include padding($padding-xxxl);

        @media #{$mobile} {
            @include padding($padding-md);
        }
        @media #{$desktop} {
            &--background-white {
                background-color: getbackgroundcolor($color-white);
            }
            &--background-black {
                background-color: getbackgroundcolor($color-tundora);
            }
        }
        &_wrapper {
            &.reverse {
                @media #{$desktop} {
                    display: flex;
                    flex-direction: row-reverse;
                 }
            }
            @media #{$desktop} {
                @include padding(0 $padding-xxxl);
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                align-items: center;
                position: absolute;
            }
            &.pw-banner__content--background-white {
                color: getbackgroundcolor($color-white);
            }
            &.pw-banner__content--background-black {
                color: getbackgroundcolor($color-tundora);
            }
        }

        &__title {
            @include margin-bottom($margin-md);

            &.hero-title {
                word-wrap: break-word;
                color: getbackgroundcolor($color-white);

                &.pw-banner__content--text-black {
                    color: getbackgroundcolor($color-tundora);
                }
                h1,
                h2,
                h3 {
                    @include font-size($font-xl);
                    line-height: 40px;
                    @media #{$mobile-large} {
                        @include font-size($font-xxl);
                        line-height: 48px;
                    }
                    @media #{$desktop} {
                        @include font-size($font-xxxl);
                        line-height: 60px;
                    }
                }
            }
        }

        &__description {
            color: getbackgroundcolor($color-white);

            &.pw-banner__content--text-black {
                color: getbackgroundcolor($color-tundora)
            }

            @include margin-bottom($margin-xl);
        }
    }
}
