externalizer.contextpath=""
externalizer.domains=[ \
  "local\ http://localhost:4502", \
  "author\ http://localhost:4502", \
  "publish\ http://localhost:4503", \
  "publicweb\ https://www.tetrapak.com", \
  "tetralaval\ https://www.tetralaval.com", \
  "design-system\ https://design.tetrapak.com", \
  ]
externalizer.encodedpath=B"false"
externalizer.host=""