<sly data-sly-test="${wcmmode.edit}">
<p data-emptytext="configure ${component.title}" class="cq-placeholder"></p>
	<br
		data-sly-use.socialSidebarConfig="com.tetrapak.publicweb.core.models.SocialSideBarConfigurationModel">
		Social Media : ${socialSidebarConfig.socialMedia}</br>
		Social Media Link :${socialSidebarConfig.socialMediaLink}</br>
		WeChat Image: ${socialSidebarConfig.wechatQrCodeReference}</br>
		WeChat AltText: ${socialSidebarConfig.qrAltText}</br>
	    Title:${socialSidebarConfig.qrCodeTitle}</br>
</sly>