<sly data-sly-template.businessAreaServices_template>
  <div class="tab-content tab-content-steps">
    <div class="row no-gutters pw-progress" auto_locator="progressBarStep1">
      <div class="col-lg-10">
        <sly
          data-sly-use.progressBar="/apps/publicweb/components/molecules/progressbar/progressbar-template.html"
          data-sly-call="${progressBar.progressbar_template  @ activeStep=1, totalStep=[1,2,3], stepTitles=['pw.form.businessenq.stepTitles.purpose', 'pw.form.businessenq.stepTitles.request', 'pw.form.businessenq.stepTitles.contact']}">
        </sly>
      </div>
    </div>

    <div class="row no-gutters" data-sly-test="${'pw.form.businessenq.specificAreaOfInterest' @i18n}">
      <div class="col-sm-12" auto_locator="businessEnquiryContainerHeadingTextStep1">
        <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
          data-sly-call="${heading.heading_h4_template @ headingText='pw.form.businessenq.specificAreaOfInterest', variant='small'}" />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 formfield" auto_locator="businessEnquiryRightContainerStep1">
        <div id="Services">
          <sly
            data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
            data-sly-call="${radioField.radiofieldinput_template @ id='boaiServicesAutomation',  required=true, label='pw.form.businessenq.services.automation', name='businessAreaInterestServices', locale= 'en', value='Automation'}">
          </sly>
          <sly
            data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
            data-sly-call="${radioField.radiofieldinput_template @ id='boaiServicesConsumables',  required=true, label='pw.form.businessenq.services.consumables', name='businessAreaInterestServices', locale= 'en', value='Consumables'}">
          </sly>
          <sly
            data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
            data-sly-call="${radioField.radiofieldinput_template @ id='boaiServicesConsultancy',  required=true, label='pw.form.businessenq.services.consultancy', name='businessAreaInterestServices', locale= 'en', value='Expert Services'}">
          </sly>
          <sly
            data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
            data-sly-call="${radioField.radiofieldinput_template @ id='boaiServicesInstallation',  required=true, label='pw.form.businessenq.services.installation', name='businessAreaInterestServices', locale= 'en', value='Installation'}">
          </sly>
          <sly
            data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
            data-sly-call="${radioField.radiofieldinput_template @ id='boaiServicesMaintenance',  required=true, label='pw.form.businessenq.services.maintenance', name='businessAreaInterestServices', locale= 'en', value='Maintenance'}">
          </sly>
          <sly
            data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
            data-sly-call="${radioField.radiofieldinput_template @ id='boaiServicesParts', required=true, label='pw.form.businessenq.services.parts', name='businessAreaInterestServices', locale= 'en', value='Parts'}">
          </sly>
          <sly
            data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
            data-sly-call="${radioField.radiofieldinput_template @ id='boaiServicesPC', required=true, label='pw.form.businessenq.services.plantComponents', name='businessAreaInterestServices', locale= 'en', value='Plant Components'}">
          </sly>
          <sly
            data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
            data-sly-call="${radioField.radiofieldinput_template @ id='boaiServicesAgreements',  required=true, label='pw.form.businessenq.services.servicesAgreements', name='businessAreaInterestServices', locale= 'en', value='Services Solutions'}">
          </sly>
          <sly
            data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
            data-sly-call="${radioField.radiofieldinput_template @ id='boaiServicesTraining',  required=true, label='pw.form.businessenq.services.training', name='businessAreaInterestServices', locale= 'en', value='Training'}">
          </sly>
          <sly
            data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
            data-sly-call="${radioField.radiofieldinput_template @ id='boaiServicesUpgrades',  required=true, label='pw.form.businessenq.services.upgrades', name='businessAreaInterestServices', locale= 'en', value='Upgrades'}">
          </sly>
          <sly
            data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
            data-sly-call="${radioField.radiofieldinput_template @ id='boaiServicesOther',  required=true, label='pw.form.businessenq.other', name='businessAreaInterestServices', locale= 'en', value='Other'}">
          </sly>
        </div>

        <input type="hidden" name="businessAreaInterestServicesEqTitle" class="form-control"
          id="businessAreaInterestServicesEqTitle" data-analyticsField="Specific area of interest" required>
        <div class="errorMsg">${'pw.form.errormsg.businessareofinterest' @i18n}
        </div>
      </div>
    </div>
    
    <div class="row no-gutters button-group">
      <sly
        data-sly-use.previousButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
        data-sly-call="${previousButton.tabbutton_template @ btnText='pw.form.button.previous', btnTarget='#bef-step-1', variant='secondary', customClasses='previousbtn', icon_classes='icon-Arrow_Right_pw', autoLocator='businessFormPreviousButtonStep1' }" />
      <sly data-sly-use.nextButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
        data-sly-call="${nextButton.tabbutton_template @ btnText='pw.form.button.next', btnTarget='#bef-step-2', icon_classes='icon-Arrow_Right_pw', autoLocator='businessFormNextButtonStep1' }" />
    </div>
  </div>
</sly>