.tp-teaser {
    @include padding($padding-l $padding-md);
    @include margin($margin-md);

    @media #{$desktop} {
        @include padding($padding-xxxl $padding-xxxl $padding-zero $padding-xxxl);
        @include margin($margin-xxxl);
    }

    &__heading {
        @include padding-bottom($padding-md);
        h2.tp-atom-heading {
            @include font-size($font-l);
            @include line-height($font-xl, $font-l);
            @media #{$desktop} {
                @include font-size($font-xl);
                line-height: 40px;
            }
        }
    }

    &__details {
        font-weight: 500;
        h5 {
            @include font-size($font-baseline);
            @include line-height($font-l, $font-baseline);
            font-family: $font-black;
        }
        ul {
            li {
                display: flex;
                &::before {
                    @include margin-right($margin-sm);
                    display: inline-block;
                    color: $color-congress-blue;
                    content: '\2022';
                }
            }
        }
        img {
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }
        .teaserMargin {
            @include margin-bottom($margin-l);
            @media #{$desktop} {
                @include margin-bottom($margin-xxxl);
                @include padding-left($margin-l);
                @include padding-right($margin-l);
            }
        }
        .teaserMarginL {
            @include margin-bottom($margin-xxxl);
            @media #{$desktop} {
                @include margin-bottom($margin-xxxl);
                @include padding-left($margin-l);
                @include padding-right($margin-l);
            }
        }
        .rightbar {
            border: 0 solid $color-mercury;
            @media #{$desktop} {
                border-right-width: 1px;
            }
        }
        .image {
            @include margin-top($margin-l);
            @media #{$desktop} {
                @include margin-top(0);
            }
        }
        .noTopPad {
            @include padding-top($padding-zero);
        }
        .tilte {
            @include padding-top($margin-l);
            @include padding-bottom($margin-md);
            @include font-size($font-md);
            line-height: 24px;
        }
        .link {
            @include padding-top($padding-l);
        }
    }
}
