<sly data-sly-template.teaser_template="${@data, flag}">
    <div class="pw-container" data-module="teaser" auto_locator="teaserOrganism">
      <section class="tp-teaser pw-theme--${data.pwTheme}"  id="${data.anchorId}" title="${data.anchorTitle}" >
        <div data-sly-test="${data.heading}" class="tp-teaser__heading" auto_locator="teaserHeadline">
          <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
              data-sly-call="${heading.heading_h3_template @ headingText=data.heading}"/>
        </div>

        <sly data-sly-test.webUrl="${data.webUrl}">
           <a data-link-section="Teaser_Text Hyperlink"
              data-paren-link-title="${data.heading}"
              data-link-name="${'pw.pxp.learnMoreAbout'  @i18n, locale = 'en'} ${data.packageName}"
              class="tp-teaser__link js-teaser-analytics"
              href="${data.webUrl}"
              data-anchor-type="Text Hyperlink"
           >
                <span class="tpatom-link__text sly-text">${'pw.pxp.learnMoreAbout' @i18n} ${data.packageName}</span><span class="nowrap-text">&#8288;<i class="icon icon-Arrow_Right_pw"></i></span>
           </a>
        </sly>

        <sly data-sly-test.teaserSize="${data.teaserList.size}"/>
        <sly data-sly-test.showCarousal="${(data.enableCarousel && teaserSize > 3) ? 'true':'false'}"/>
        <div data-paren-link-title="${data.heading}" class="${showCarousal == 'true' ? 'owl-carousel' : ''} tp-teaser__details row no-gutters" data-sly-list.child="${data.teaserList}" auto_locator="carouselTeaser" >
          <sly data-sly-test.teaserType="${teaserSize > 2 ? 'teaser2' : 'teaser1'}"/>
          <sly data-sly-test.dataLinkSectionCTAText="${child.pwButtonTheme == 'secondary' ? 'CTA' : 'Text Hyperlink'}" />
            <div class="carousal-wrapper col-md-12 ${teaserSize > 2 ? 'col-lg-4' : 'col-lg-6' } ${((teaserSize==2 && childList.index==1) || (teaserSize==1 && childList.index==0) || childList.index==2 || childList.index==5 || childList.index==8 || childList.index==11  ) ? '' : 'rightbar' } ${child.linkText ? 'teaserMargin' : 'teaserMarginL'  }" auto_locator="teaserPODs">
            <a data-sly-test="${child.linkPath && child.linkPath!='#' && child.fileReference}"
              href="${child.linkPath}"
              class="js-teaser-analytics teaser-image-link"
              title="${child.linkText}"
              data-link-section="Teaser_imageClick"
              data-link-name="${child.linkText || child.title || data.heading}"
              data-asset-name="${child.assetName}"
              data-download-type=""
              data-button-link-type="${child.pwButtonTheme}"
              data-paren-link-title="${data.heading}:${child.title}"
              data-anchor-type="${dataLinkSectionCTAText}"
              auto_locator="podImage"
            >

              <sly data-sly-test = "${!wcmmode.edit}">
                <sly data-sly-test = "${child.fileReference}" data-sly-use.dynamicMediaImage="/apps/publicweb/components/content/dynamicMediaImage/dynamicMediaImage-template.html" data-sly-call="${dynamicMediaImage.dynamicMediaImage_template @imagePath=child.fileReference, altText=child.alt, componentName=teaserType, className='tp-teaser__image image',imgBackground=data.pwImgBackground}" />
              </sly>
              <sly data-sly-test = "${wcmmode.edit}">
                <img data-sly-test = "${child.fileReference}" alt="${child.alt}" src="${child.fileReference}" class="image img-responsive" />
              </sly>
            </a>
            <span  data-sly-test="${!child.linkPath  || child.linkPath=='#'}" auto_locator="podImage">
              <sly data-sly-test = "${!wcmmode.edit}">
                <sly data-sly-test = "${child.fileReference}" data-sly-use.dynamicMediaImage="/apps/publicweb/components/content/dynamicMediaImage/dynamicMediaImage-template.html" data-sly-call="${dynamicMediaImage.dynamicMediaImage_template @imagePath=child.fileReference, altText=child.alt, componentName=teaserType, className='tp-teaser__image image',imgBackground=data.pwImgBackground}" />
              </sly>
              <sly data-sly-test = "${wcmmode.edit}">
                <img data-sly-test = "${child.fileReference}" alt="${child.alt}" src="${child.fileReference}" class="image img-responsive" />
              </sly>
            </span>
            <h2 data-sly-test = "${child.articleDate && data.displayDate}" class="block-time ${child.fileReference ? 'noTopPad' : ''}">${child.articleDate @ context='html'}</h2>
            <h4 data-sly-test = "${child.title}" class="tilte ${child.fileReference ? 'noTopPad' : ''}" auto_locator="podTitle">${child.title @ context='html'}</h4>

            <p  data-sly-test = "${child.description}" class="description" auto_locator="podDescription">${child.description @ context='html'}</p>

            <div class="link" data-sly-test="${child.linkText}" auto_locator="podLink">
              <sly data-sly-test.dataLinkSectionCTAText="${child.pwButtonTheme == 'secondary' ? 'CTA' : 'Text Hyperlink'}" />
              <a data-sly-test="${child.linkText}"
                  href="${child.linkPath}"
                  class="tpatom-link tpatom-link--${child.pwButtonTheme == 'secondary' ? 'primary':'transparent'} js-teaser-analytics"
                  title="${child.linkText}"
                  data-link-section="Teaser_${dataLinkSectionCTAText}"
                  data-link-name="${child.linkText}"
                  data-asset-name="${child.assetName}"
                  data-paren-link-title="${data.heading}:${child.title}"
                  data-anchor-type="${dataLinkSectionCTAText}"
                  >
                  <span class="tpatom-link__text sly-text">${child.linkText @ context='html'}</span><span class="nowrap-text">&#8288;<i class="icon ${child.pwButtonTheme == 'secondary' ? 'icon-Arrow_Right_pw':'icon-Circle_Arrow_Right_pw'}"></i></span>
              </a>
            </div>
          </div>
        </div>
        <div data-sly-test="${data.linkPath && data.linkPath!='#'}" class="tp-teaser__seeAllLink text-center" auto_locator="viewMoreLink">
          <a href="${data.linkPath}" class="tpatom-link tpatom-link--transparent">
            <span class="tpatom-link__text sly-text">${data.linkLabel}</span><span class="nowrap-text">&#8288;<i class="icon icon-Circle_Arrow_Right_pw"></i></span>
          </a>
        </div>
      </section>
    </div>
  </sly>
