<template
        data-sly-template.dynamicMediaImage_template="${@ imagePath,altText,imageCrop,dheight,dwidth,mheightl,mheightp,mwidthp,imageCrop,componentName,className} ">
    <sly data-sly-use.dynamicImageModel="${'com.tetrapak.publicweb.core.models.DynamicImageModel' 
                                            @ imagePath=imagePath, altText=altText,
    										dheight=dheight,dwidth=dwidth,mheightl=mheightl,
                                            mheightp=mheightp,mwidthp=mwidthp,imageCrop=imageCrop,componentName=componentName}">
    </sly>

    <img src="${dynamicImageModel.desktopUrl}" class="img-responsive js-dynamic-media ${className}"
         itemprop="image" alt="${dynamicImageModel.altText}"
         data-src_desktop="${dynamicImageModel.desktopUrl}"
         data-src_desktopL="${dynamicImageModel.desktopLargeUrl}"
         data-src_mobileP="${dynamicImageModel.mobilePortraitUrl}"
         data-src_mobileL="${dynamicImageModel.mobileLandscapeUrl}"/>
</template>
