.tpmol-list-item {
    width: 100%;
    border-bottom: 1px solid $color-tory-blue;
    position: relative;
    background-color: $color-congress-blue;

    &.active,
    &:hover {
        background: $color-tory-blue;
    }

    &__sublist {
        &.collapsible:not(.active) {
            display: none;
        }

        &.animating {
            position: relative;
            height: 0;
            overflow: hidden;
            transition: height $anim-speed-quick $anim-ease-out;
        }
    }

    &__sublist & {
        background-color: $color-tory-blue;
        border-bottom: 1px solid $color-denim;
        transition: all $anim-speed-quick ease;
        overflow: hidden;
        opacity: 1;
        height: auto;

        &.active,
        &:hover {
            background: $color-denim;
        }
    }
}
