.tpmol-list-item {
    width: 100%;
    border-bottom: 1px solid $color-catalina-blue;
    position: relative;
    background-color: $color-congress-blue;
    font-weight: 500;

    a, button {
        font-weight: inherit;
    }

    &:hover {
        background-color: $color-catalina-blue;
    }

    &.active {
        background-color: $color-catalina-blue;

        &:not(.has-submenu) {
            font-weight: 700;
        }
    }

    &__sublist {
        &.collapsible:not(.active) {
            display: none;
        }

        &.animating {
            position: relative;
            height: 0;
            overflow: hidden;
            transition: height $anim-speed-quick $anim-ease-out;
        }
    }

    &__sublist & {
        background-color: $color-catalina-blue;
        border-bottom: 1px solid $color-catalina-blue;
        transition: all $anim-speed-quick ease;
        overflow: hidden;
        opacity: 1;
        height: auto;

        &:first-child {
            border-top: 1px solid $color-catalina-blue;
        }

        &:last-child {
            border-bottom: none;
        }

        &.active,
        &:hover {
            background-color: $color-blumine-blue;
        }
    }
}
