.tp-pw-richText {
    .tp-pw-richText-wrapper a {
        @include padding(0);
        border: 0;
        color: $color-congress-blue;
        background: none;
        cursor: pointer;

        &:hover {
            @extend %btn-colors-hover;
            background: none;
        }
        &::after {
            @include padding-left(6px);
            content: '\f117';
            font-family: 'tp-icons';
        }
    }

    .fullBleed {
        @include padding-left(0);
        @include padding-right(0);
    }

    h1 {
        @include font-size(42px);
        @include margin-bottom(24px);
        font-weight: 300;
    }

    h3 {
        @include font-size(24px);
        @include margin-bottom(24px);
        font-weight: 300;
    }

    h4 {
        @include font-size(18px);
        @include margin-bottom(48px);
        font-weight: 500;
    }

    p {
        @include font-size(14px);
        @include margin-bottom(48px);
        font-weight: 500;
    }

    ol,
    ul {
        @include margin-bottom(32px);
        li {
            &::before {
                color: $color-congress-blue;
            }
        }
    }

    ul {
        li {
            &::before {
                @include margin-right($margin-sm);
                display: inline-block;
                color: $color-congress-blue;
                content: '\2022';
            }
        }
    }

    ol {
        counter-reset: section;
        list-style-type: none;
        li {
            &::before {
                @include margin-right($margin-sm);
                @include font-size(14px);
                content: counters(section, '.') ' ';
                counter-increment: section;
            }
        }
    }

    ol ol,
    ul ul {
        @include padding(0 0 0 20px);
    }

    ul > li > ul,
    ol > li > ol {
        @include margin-bottom(0);
    }

    ul li,
    ol li {
        @include font-size(14px);
        @include padding-bottom(16px);
    }

    ol > li > ol,
    ul > li > ul {
        :last-child {
            @include padding-bottom(0);
        }
    }

    ol li ol,
    ul li ul {
        @include padding-top(16px);
    }

    ul ul ul {
        li {
            &::before {
                content: '\2012';
                font-weight: 500;
            }
        }
        li {
            @include font-size(12px);
            @include padding-bottom(8px);
        }
    }

    ol ol ol {
        @include padding-left(28px);
        li {
            @include font-size(12px);
            @include padding-bottom(8px);
        }
    }

    table {
        @include margin-bottom(48px);
        display: block;
        border-collapse: collapse;
        overflow-x: scroll;
        width: 100%;

        th {
            @include padding-top(9px);
            @include padding-bottom(9px);
            border-bottom: 1px solid $color-black;
        }

        td {
            @include padding-top(11px);
            @include padding-bottom(11px);
            border-bottom: 1px solid $color-mercury;
        }

        td,
        th {
            @include padding-left(8px);
            @include padding-right(14px);
        }
    }
}
