.tp-get-started {
    @include box-shadow-normal;
    @include padding($padding-sm);
    width: 100%;
    background-color: $color-white;
    border-radius: 5px;

    @media #{$desktop} {
        @include padding(12px);
    }

    &__heading {
        @include padding($padding-sm);

        @media #{$desktop} {
            @include padding(12px);
        }
    }

    &__details {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        @media #{$desktop} {
            flex-direction: row;
        }
    }
}
