.pw-softconversion {
    color: $color-tundora;
    font-weight: 500;

    .formfield {
        &:last-child {
            .form-group {
                @include margin-bottom($margin-zero);
            }
        }
    }

    .country-field-wrapper {
        @include padding-left($padding-zero);
        @include padding-right($padding-zero);
    }

    .tp-modal-content {
        @media #{$mobile} {
            min-height: 100vh;
            box-shadow: none;
        }
    }

    &.tp-modal {
        @media #{$mobile} {
            background-color: $color-wild-sand;
        }
    }

    &__header {
        @include padding($padding-l $padding-md 0 $padding-md);
        border: 0;
        @media #{$desktop} {
            @include padding($padding-xxxl $padding-xxxl $padding-l);
        }
        &__heading {
            @include font-size($font-l);
            @include line-height(32px, $font-l);
            word-wrap: break-word;
            @media #{$mobile} {
                @include padding-top($padding-l);
                @include padding-bottom($padding-md);
            }
        }
        &__close {
            @include top($margin-xxl);
            @include bottom($margin-xxl);
        }
    }

    &__body {
        @include padding(0 $padding-md $padding-md $padding-md);

        @media #{$desktop} {
            @include padding(0 $padding-xxxl $padding-xxxl $padding-xxxl);
            .marketingConsentText {
                @include margin-left(-6px);
            }
        }

        @media #{$mobile} {
            .col-sm-1 {
                max-width: 8.33333%;
            }

            .col-sm-11 {
                @include padding-left($padding-sm);
                max-width: 91.66667%;
            }
        }
    }

    .modal-dialog {
        @include margin($margin-md);
        max-width: 100%;

        @media #{$desktop} {
            @include margin(0 $margin-md);
            @include max-width(900px);
            margin: auto;
        }
    }

    &__form {
        border-radius: $border-radius;
        .description {
            @include margin-bottom($margin-md);
            font-weight: 500;
        }

        .tpatom-checkbox__icon {
            border: 1px solid $color-tundora;
            color: $color-congress-blue;
        }

        .radioHeading {
            @include margin-bottom($margin-md);
            @include font-size($font-baseline);
            @include line-height($padding-l, $font-baseline);
            font-weight: 700;
        }

        .radioWrap {
            font-weight: 500;
        }
        .form-group {
            @include margin-bottom($margin-md);
            &.field-error {
                @include margin-bottom(0);
            }
        }

        .field-error {
            .errorMsg {
                display: block;
            }

            .tpatom-checkbox__icon {
                border-color: $color-alert;
            }
        }

        // Dropdown styling
        .country-field {
            .pw-form__dropdown__menu {
                .active {
                    border: 0;
                    background-color: transparent;
                    &:hover {
                        background-color: $color-wild-sand;
                    }
                }
            }
        }

        .privacy-policy {
            @include margin-top($margin-md);
            &:hover {
                a {
                    color: $color-sky-blue;
                }
            }
        }

        .marketing-consent {
            .form-group {
                @include margin-top($margin-zero);
                @include margin-bottom(0);
            }
            &.no-form-group {
                .form-group {
                    @include margin-top($margin-zero);
                }
            }
        }
        .text-capital {
            text-transform: capitalize;
        }
        // Error styling
        .serviceError {
            display: none;
            color: $color-alert;
        }
        .errorMsg {
            display: none;
            color: $color-alert;
            font-size: 12px;
            &.purposeOfContactError {
                @include margin-top($margin-sm);
            }
        }
        .formfield,
        .form-group {
            label {
                @include margin-bottom(0);
            }
            .pw-form__dropdown__toggle i {
                transform: rotate(90deg);
            }
            &.field-error {
                .pw-form__dropdown__toggle {
                    border-color: $color-alert;
                }
            }
        }
        .tab-pane {
            display: none;
            &.active {
                display: block;
            }
        }
        // Right heading styling
        h4 {
            font-weight: 700;
            &.tpatom-heading--small {
                @include margin-bottom($margin-md);
                font-size: $font-md;
            }
        }
        .right-heading h4 {
            &.tpatom-heading--small {
                @include margin-bottom($margin-md);
                @include font-size($font-baseline);
                @include line-height($padding-l, $font-baseline);
                font-weight: 700;
            }
        }
        .separator {
            @include padding-bottom($padding-l);
            @include margin-bottom($margin-l);
            border-bottom: 1px solid $color-mercury;
            .pw-image-container {
                @include margin-bottom($padding-l);
            }
            .descriptionCont {
                a {
                    &:hover {
                        color: $color-sky-blue;
                    }
                }
            }
            @media #{$desktop} {
                @include margin-bottom(0);
                @include padding-bottom(0);
                border-bottom: 0;
                border-right: 1px solid $color-mercury;
                padding-right: $margin-xxxl;
                & + div {
                    @include padding-left($padding-xxxl);
                }
                .pw-image-container {
                    @include margin-bottom(0);
                    @include padding-right($padding-l);
                }
            }
        }
        .main-heading {
            h4 {
                @include margin-bottom($margin-md);
                overflow-wrap: break-word;
            }
        }
        .thankyou {
            @include margin-top(-$margin-xxl);
            @media #{$desktop} {
                @include margin($margin-sm auto $margin-xxxl auto);
            }
            h2,
            h3 {
                @include margin-bottom($margin-l);
                @include font-size($font-l);
                @include line-height($font-xl, $font-l);

                @media #{$desktop} {
                    @include font-size($font-xl);
                    @include line-height($padding-xxl, $font-xl);
                    font-weight: 700;
                }
            }

            .descriptionTextThankyou {
                @include margin-bottom($margin-md);
            }
        }

        .summary {
            //&:not(:last-child) {
            //    @include margin-bottom($margin-md);
            // }
            &:last-child {
                div + div {
                    @include margin-bottom($margin-zero);
                }
            }
            div + div {
                @include margin-bottom($margin-sm);
                font-weight: 900;
                @media #{$desktop} {
                    @include margin-bottom($margin-md);
                }
            }
        }

        .button-group {
            @include margin-top($margin-md);
            > * {
                @include margin-top($margin-sm);
            }
            .tpatom-btn--primary {
                &:hover {
                    color: $color-white;
                }
            }
            .previousbtn {
                @include margin-right($margin-md);
                border: 1px solid $color-congress-blue;
                color: $color-congress-blue;
                background-color: $color-white;
                i {
                    @include padding-left(5px);
                    transform: rotate(180deg);
                    float: left;
                }
                &:hover {
                    border: 1px solid $color-sky-blue;
                    color: $color-sky-blue;
                }
            }

            .notmebtn {
                border: 1px solid $color-congress-blue;
                color: $color-congress-blue;
                background-color: $color-white;
                i {
                    @include padding-left(5px);
                    transform: rotate(180deg);
                    float: left;
                }
                &:hover {
                    border: 1px solid $color-sky-blue;
                    color: $color-sky-blue;
                }

                @media #{$desktop} {
                    @include margin-right($margin-md);
                }
            }
        }

        .pw-progress {
            .pw-progressbar__steps {
                @include padding-left($padding-md);
                p {
                    @include margin-top($margin-l);
                    color: $color-congress-blue;
                    font-size: 12px;
                    @media #{$desktop} {
                        @include margin-top($margin-xxxl);
                    }
                }
            }
        }
    }



    }
