<sly data-sly-template.genericmedia_template="${@ data,type,className}">
  <sly data-sly-test="${type == 'video'}">
      <sly data-sly-use.genericvideo="/apps/commons/components/molecules/genericvideo/genericvideo-template.html"
                  data-sly-call="${genericvideo.genericvideo_template @data=data,className=className}" />
  </sly>
  <sly data-sly-test="${type == 'image'}">
      <div class="${className}">
          <img src="${data.imagePath}" alt="${data.imageAltI18n}"/>
      </div>
  </sly>
</sly>
