.tp_pw-header {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .align-items-center;

    $logo-width: 172px;
    $self: &;
    padding: 0 $padding-xxxl;
    margin: 0 auto;

    @media #{ $desktop-xl } {
        width: 1440px;
    }

    @media #{$mobile} {
        padding: $padding-md;
    }

    label {
        width: 100%;
        margin-bottom: 0;
    }

    &__mobile-nav {
        @extend .d-lg-none;

        @media #{$mobile} {
            @include font-size($font-m-md);
            @include line-height($line-height-medium, $font-m-md);
        }

        &-btn {
            display: none;
        }

        &-menu {
            @include margin-top($margin-xl);

            display: block;
            position: absolute;
            max-width: unset;
            max-height: 0;
            height: 100vh;
            width: 100%;
            left: 50%;

            transition: max-height .2s ease-out;
            transform: translate(-50%);
            overflow: hidden;

            background-color: $color-white;
            z-index: $zindex-nav;

            &-item {
                @include font-size($font-normal);
                @include line-height($line-height-body, $font-normal);

                color: $color-congress-blue;
                padding: $padding-md;
                border-bottom: 1px solid $color-mercury;

                @media #{$desktop} {
                    &:not(:first-child) {
                        padding-left: $padding-xxl;
                    }
                }

                span {
                    padding: $padding-md;
                }

                a {
                    display: block;
                    padding: $padding-xs 0;
                }

                &:first-child {
                    padding: 0;
                }
            }

            &-next-lvl-menu {
                position: absolute;
                left: 100%;
                visibility: hidden;
                height: 0;
                overflow-y: auto;
            }

            @media #{$mobile} {
                &-mega {
                    display: flex;
                    justify-content: space-between;

                    input {
                        &[type='checkbox'] {
                        display: none;
                      }
                    }

                    .mega-menu-btn:checked ~ .tp_pw-header__mobile-nav-menu-next-lvl-menu {
                        height: auto;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        right: 0;

                        visibility: unset;
                        transition: visibility 0.2s linear;

                        background-color: $color-white;
                    }
                }
            }
        }

        @media #{$mobile} {
            &-label {
                display: unset;
                margin: 0;
            }

            &-navicon {
                display: block;
                background: $color-tundora;
                height: 2px;
                width: 18px;
                position: relative;

                &::before {
                    display: block;
                    top: 5px;
                    background: $color-tundora;
                    width: 100%;
                    height: 100%;
                    content: '';
                    position: absolute;
                    transition: all .2s ease-out;
                }

                &::after {
                    display: block;
                    top: -5px;
                    background: $color-tundora;
                    width: 100%;
                    height: 100%;
                    content: '';
                    position: absolute;
                    transition: all .2s ease-out;
                }
            }

            &-btn:checked ~.tp_pw-header__mobile-nav-menu {
                max-height: calc(100vh - 65px);
            }

            &-btn:checked ~ &-label &-navicon {
                background: transparent;
            }

            &-btn:checked ~ &-label &-navicon::before {
                transform: rotate(-45deg);
            }

            &-btn:checked ~ &-label &-navicon::after {
                transform: rotate(45deg);
            }

            &-btn:checked ~ &-label &-navicon::before,
            &-btn:checked ~ &-label &-navicon::after {
                top: 0;
            }
        }
    }

    &__nav {
        display: flex;

        @media #{$mobile} {
            display: none;
        }

        &-logo {
            width: $logo-width;
        }

        &-item {
            padding: $padding-xl 0;

            &:not(:first-child):not(:last-child) {
                margin: 0 20px;
            }

            &:first-child {
                margin-right: 20px;
            }

            &:last-child {
                margin-left: 20px;
            }
        }

        &-options {
            @extend .d-flex;
            @extend .align-items-center;

            @include font-size($font-normal);
            @include line-height($line-height-small, $font-normal);

            a {
                @include font-size($font-normal);
                @include line-height($line-height-small, $font-normal);
                margin-left: $padding-md;
            }

            @media #{$mobile} {
                @include font-size($font-m-md);
                @include line-height($line-height-medium, $font-m-md);
            }
        }
    }

    &__mega-menu {
        &:hover #{ $self }__mega-menu-content {
            display: block;
        }

        &-header {
            @include margin-bottom($margin-md);
        }

        &-link {
            display: block;
            color: $color-congress-blue;
            font-weight: 500;

            &:hover {
                color: unset;
                cursor: pointer;
            }
        }
    }

    &__mega-menu-content {
        display: none;
        position: absolute;
        width: 100%;
        background-color: $color-white;
        left: 50%;
        transform: translate(-50%, 8.5%);
        z-index: $zindex-header;
        &__wrapper {
            margin: 0 auto;
            padding: $padding-xxxl;
            max-width: $body-max-width;
		}
	}

    .tp_pw-header-arrow {
        padding: $padding-md;
        background-color: $color-wild-sand;

        &--left {
            transform: rotate(180deg);
        }
    }

    &-wrapper {
        top: 0;
        position: fixed;
        z-index: $zindex-header;
        background-color: $color-white;
        border-bottom: 1px solid $color-mercury;

        left: 50%;
        transform: translate(-50%);
        width: 100%;

        @media #{ $mobile } {
            height: 65px;
		}
		.tp-pw-header__container {
            height: 88px;
            padding: 0;
            background-color: $color-white;
            width: 100%;

            @media #{ $mobile } {
                height: 58px;
            }
        }
	}
}
