@mixin column {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
}

.tp-pw-megamenucolumn  {
    &--bgColor-white {
        @include column;
        background-color: $color-white;
    }

    &--bgColor-grey {
        @include column;
        background-color: $color-wild-sand;

        .tp-pw-megamenuheading {
            h2 {
                color: $color-tundora;
            }
        }
        h4 {
            font-size: $font-xs;
        }


    }
    &__item {
        width: 100%;
        &--teaser {
            width: 100%;
            height: 100%;
            position: relative;
        }
    }
}