<div class="modal-header tpmol-modal-header">
    <h3 class="tpmol-modal-header__title">{{i18n key=title}}</h3>
    {{> atoms/buttons/button/button baseClass="tpmol-modal-header__close" iconClass="icon-Close" modifier="close" data-dismiss="modal" text=closeBtnText hideText=true}}
</div>
