.tp-financial-search {
    &__select-customer-heading {
        @include line-height($font-xl, $font-l)
    }

    &__select-box {
        @include padding($padding-sm);
        @include border-xs($color-tundora);
        @include border-radius($border-radius);
    }

    &__select-customer-dropdown {
        width: 50%
    }

    &__select-customer-label {
        @include padding($padding-l 0 $padding-md 0);
        @include line-height($font-l, $font-md)
    }

    &__customer-detail {
        width: 70%;
        color: $color-tundora;
    }

    &__account,
    &__address-title,
    &__address-detail {
        @include padding-top($font-md);
        @include font-size($font-baseline);
        @include line-height($font-l, $font-baseline);
        font-weight: bold;
    }

    &__address-detail {
        font-weight: normal;
    }

    .form-element__icon {
        color: $color-boulder;
        @include height(12px);
        @include width(12px);
        @include font-size($font-sm);
    }
}
