// common styles imported from tetrapak-commons
@import '~tpCommon/styles/global/default/en/base.scss';
@import '~tpCommon/styles/vendor.scss';
@import '~tpCommon/styles/global/common/placeholders';

// local styles for TL
@import './new styles/global/default/en/base.scss';

@import '../components/**/*.scss';
