.tp-pw-megamenusubheading {
    padding: 0 $padding-xxxl;
    margin-bottom: $font-xxs;
    a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
    }
    h3 {
        color: $color-tundora;
        text-transform: uppercase;
        font-weight: bold;
        font-size: $font-sm;
    }
    i {
        color: $color-tundora;
        margin: 0 $padding-sm;
        font-size: $font-sm;
    }
}