.tp-financials-summary {
    h4 {
        @include padding-top($padding-l);
        @include padding-bottom($padding-sm);
        font-family: $font-bold;

        @media #{$desktop} {
            @include padding-top($padding-xl);
            font-family: $font-light;
        }
    }

    &__table {
        @include horizontal-scroll-touch;
    }

    &__documents {
        &__cell {
            display: none;

            &:first-child {
                display: table-cell;
            }

            &:last-child {
                padding-right: 0;
                text-align: right;
            }

            @media #{$desktop} {
                display: table-cell;
            }
        }

        &__table-summary {

            &,
            &:first-child {
                @include font-size($font-baseline);
                display: none;
                font-family: $font-semi-bold;

                @media #{$desktop} {
                    display: table-cell;
                }
            }
        }
    }

    &__statement {
        &__cell {
            &:last-child {
                @include font-size($font-baseline);
                font-family: $font-semi-bold;
                padding-right: 0;
                text-align: right;
            }
        }
    }

    &__btn-container {
        @include margin-top($margin-l);

        @media #{$desktop} {
            text-align: right;
        }

        .tpatom-btn {
            @include margin-bottom($margin-md);
        }
    }

    &__create-excel {
        @include margin-right($margin-md);
    }

    .collapsed {
        .icon-Chevron_Up {
            &::before {
                transform: rotate(180deg);
            }
        }
    }

    &__accordion {
        background-color: $color-wild-sand;

        &.collapsed {
            background-color: $color-white;
        }
    }

    .tpatom-error {
        @include margin-top($margin-sm);
        @include margin-bottom($margin-md);
    }
}
