<sly data-sly-template.paymentdetails_template="${@data, flag}">
  <div
    data-module="Paymentdetails"
    class="tp-card tp-all-payments tp-payment-details js-payment-details clearfix"
    data-src_isPublishEnvironment="${data.isPublishEnvironment @ context='text'}"
    data-details-api="${data.viewPaymentDataUrl}"
    data-export-pdf-url="${data.exportToPdfURL}"
    data-date-range="${data.paymentsFromToDateGapInMonths}"
  >
  <code class="d-none js-payment-details__config">${data.i18nKeys}</code>
  <!--Loading -->
  <div class="tp-spinner d-none">
    <div class="tpatom-loader js-loader">
      <sly data-sly-use.tploader="/apps/commons/components/atoms/tploader/tploader-template.html" data-sly-call="${tploader.tploader_template}" />
    </div>
  </div>
  <!-- Content Container -->
  <div class="d-none tp-payment-details-content">
    <div class="tp-payment-details__header-wrapper">
        <h2 class="tp-payment-details__heading js-payment-details__heading">
          ${data.invoiceInfo @i18n}
        </h2>

        <!-- Actions -->
        <div class="tp-payment-details__header-action-wrapper">
            <div class="tp-payment-details__header-mobile">
              <button class="tp-next-btn js-mobile-header-actions">
                <i class="icon icon-Three_Dot">
                </i>
              </button>
            </div>
            <div class="tp-payment-details__header-actions">
              <div class="tp-payment-details__header-action icons">
                <input type="hidden" id="downloadCsvServletUrl" name="downloadCsvServletUrl" value="${data.downloadCsvServletUrl}" />
                <sly data-sly-use.btnRef="/apps/commons/components/atoms/buttonlink/buttonlink-template.html"
                data-sly-call="${btnRef.buttonlink_template @text='sp.paymentDetails.exportToPDF',modifier='second',baseClass='tp-button-link',iconClass='icon-PDF action-icon',className='tp-payment-details__action-button',jsClass='js-payment-details__export-pdf-action'}" />
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="tp-payment-details__content-wrapper"></div>

  </div>
</sly>
