<sly data-sly-use.model="com.tetralaval.models.TextImageModel"/>

<p data-sly-test="${wcmmode.edit}" data-emptytext="configure ${component.title}" class="cq-placeholder"></p>
<div data-sly-test="${model.title && model.imagePath}" class="pw-container" id="${model.anchorId}"
     title="${model.anchorTitle}">
    <sly data-sly-test.dataLinkSectionCTAText="${model.pwButtonTheme == 'link' ? 'Hyperlink' : 'CTA'}" />
    <input type="hidden" class="componentNameTextImage" name="textImage" value="${resource.name}">
    <div class="pw-text-image pw-theme--${model.pwTheme}" data-locator="${component.name}" data-module="TextImage"
         data-textImage-contentName="${model.subTitle}" data-textImage-title="${model.title}"
         data-textImage-linkName="${model.linkText}" data-textImage-linkType="${model.linkType}">
        <div class="pw-text-image__innerpadding pw-text-image--${model.pwDisplay}">
            <div class="row no-gutters">
                <div class="col-md-12 col-lg-6 leftPad">
                    <div data-sly-test="${model.subTitle}" class="pw-text-image__subTitle font-fixing">
                        <span class="tpatom-subheading">${model.subTitle @context='html'}</span>
                    </div>
                    <div data-sly-test="${model.title}" class="pw-text-image__title">
                        <h3>${model.title @context='html'}</h3>
                    </div>
                    <div class="pw-text-image__description">${model.description @context='html'}</div>
                    <div class="pw-text-image__link">
                        <sly data-sly-test.buttonCls="${'tpatom-link--{0}' @ format=[model.pwButtonTheme == 'secondary' ? 'primary' : 'transparent']}"/>
                        <a data-sly-test="${model.pwButtonTheme == 'link'}" href="${model.linkURL}"
                           class="tpatom-link ${buttonCls} js-textImage-analytics"
                           title="${model.linkText}" data-link-section="Text & Image_${dataLinkSectionCTAText}"
                           data-link-name="${model.linkText}" data-image-title="${model.title}"
                           data-asset-name="${model.assetName}" data-button-link-type="${model.pwButtonTheme}"
                           data-anchor-type="${dataLinkSectionCTAText}" target="${model.targetBlank ? '_blank' : '_self'}">
                            <span class="tpatom-link__text sly-text">${model.linkText @ context='html'}</span>
                        </a>
                        <button data-sly-test="${model.pwButtonTheme == 'secondary'}"
                                class="tpatom-link ${buttonCls} js-subscription-pw-textvideo text-left"
                                data-link-section="button click" data-link-name="${model.linkText}"
                                data-button-link-type="${model.pwButtonTheme}" data-asset-name="${model.assetName}"
                                data-image-title="${model.title}" data-anchor-type="${dataLinkSectionCTAText}">
                            <a class="tpatom-link__text sly-text text-white" href="${model.linkURL}"
                               target="${model.targetBlank ? '_blank' : '_self'}">${model.linkText @ context='html'}</a>
                        </button>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6 rightPad">
                    <a data-sly-test="${model.linkURL}" href="${model.linkURL}" class="img-link js-textImage-analytics"
                       target="${model.targetBlank}" data-link-section="Text & Image_imageClick"
                       data-link-name="${model.linkText}" data-button-link-type="${model.pwButtonTheme}"
                       data-asset-name="${model.assetName}" data-image-title="${model.title}"
                       data-anchor-type="imageClick">
                        <sly data-sly-test="${!wcmmode.edit}" data-sly-use.dynamicImageModel="${'com.tetralaval.models.DynamicImageModel' @ imagePath=model.imagePath,altText=model.imageAltText}"/>
                        <img src="${dynamicImageModel ? dynamicImageModel.desktopUrl : model.imagePath}"
                             alt="${dynamicImageModel ? dynamicImageModel.altText : model.imageAltText}"
                             class="pw-text-image__image"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>