<template data-sly-template.head="${ @ page }"
          data-sly-use.headlibRenderer="headlibs.html"
          data-sly-use.headResources="head.resources.html">
    <meta charset="UTF-8">
    <title>${page.title}</title>
    <meta data-sly-test.keywords="${page.keywords}" name="keywords" content="${keywords}"/>
    <meta data-sly-test.description="${properties['jcr:description']}" name="description" content="${description}"/>
    <meta data-sly-test.templateName="${page.templateName}" name="template" content="${templateName}"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <sly data-sly-include="customheaderlibs.html"></sly>
    <sly data-sly-call="${headlibRenderer.headlibs @
                                designPath         = page.designPath,
                                staticDesignPath   = page.staticDesignPath,
                                clientLibCategories = page.clientLibCategories}"></sly>
    <sly data-sly-test.appResourcesPath=${page.appResourcesPath} data-sly-call="${headResources.favicons @ path = appResourcesPath}"></sly>
	<script>//prehiding snippet for Adobe Target with asynchronous Launch deployment(function(g,b,d,f){(function(a,c,d){if(a){vare=b.createElement("style");e.id=c;e.innerHTML=d;a.appendChild(e)}})(b.getElementsByTagName("head")[0],"at-body-style",d);setTimeout(function(){var a=b.getElementsByTagName("head")[0];if(a){var c=b.getElementById("at-body-style");c&&a.removeChild(c)}},f)})(window,document,"body {opacity: 0 !important}",3E3);</script>
	<script src="//assets.adobedtm.com/launch-ENee1a586aa21a464abd3b7626503523ad-development.min.js" async></script>
	</template>
