<template data-sly-template.head="${ @ page,pageHeadModel }"
          data-sly-use.headlibRenderer="headlibs.html"
          data-sly-use.headResources="head.resources.html">
    <meta charset="UTF-8">
    <title>${page.title}</title>
    <link rel="icon" type="image/png" href="/content/dam/tetrapak/customerhub/TetraPak.png">

    <meta data-sly-test.keywords="${page.keywords}" name="keywords" content="${keywords}"/>
    <meta data-sly-test.description="${properties['jcr:description']}" name="description" content="${description}"/>
    <meta data-sly-test.templateName="${page.templateName}" name="template" content="${templateName}"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
    <sly data-sly-use.headerGlobalUtil="com.tetrapak.customerhub.core.utils.GlobalUtil"></sly>
    <sly data-sly-test="${headerGlobalUtil.isPublish}">
      <script type="text/javascript" defer>
        var cuoneTrustValue = '${pageHeadModel.cookieTokenServletUrl @ context="unsafe"}';
      </script>
    </sly>
 

    <sly data-sly-test="${headerGlobalUtil.isPublish && headerGlobalUtil.dataDomainScript}">
      <!-- <script>
        var OneTrust = {
          dataSubjectParams: {
            id: '',
            isAnonymous: false,
            token: ''
          }
        }
      </script> -->
      <script type="text/javascript" defer>
        var OneTrust = {
          dataSubjectParams: {
            id: '',
            isAnonymous: false,
            token: ''
          }
        };
       
          var uidValue, jwtToken;
  
          function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            var domain = ".tetrapak.com";
            d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
            let expires = "expires=" + d.toUTCString();
            document.cookie = document.cookie =
              cname +
              "=" +
              cvalue +
              ";expires=" +
              expires +
              ";domain=" +
              domain +
              ";path=/";
          }
  
          // Url for the request
      async function fetchUsers(){
        var users = await fetch(window.cuoneTrustValue);
        var data = await users.json();
        return data;
      }
        
      fetchUsers().then((data) => {
              uidValue = data.uid;
              jwtToken = data.jwt;
              localStorage.setItem("uidValueset", uidValue);
              localStorage.setItem("jwttokenset", jwtToken);
              setCookie("TPCOOKIEUSER", uidValue, 365);
              OneTrust.dataSubjectParams.id = uidValue;
              OneTrust.dataSubjectParams.token = jwtToken;
            }).then(()=>{
              var head= document.getElementsByTagName('head')[0];
              var script= document.createElement('script');
              script.type= 'text/javascript';
             	script.src= `https://cdn.cookielaw.org/consent/${headerGlobalUtil.dataDomainScript @ context='unsafe'}/otSDKStub.js`
                script.setAttribute('data-document-language','true')
                script.setAttribute('charset','UTF-8')
                script.setAttribute('data-domain-script', `${headerGlobalUtil.dataDomainScript @ context='unsafe'}`)
                script.async = false;
                head.appendChild(script);
        }).catch(function (error) {
              console.log(error);
            });
       
  
        //# sourceURL=cookieDebug.js
      </script>
    </sly>
    <sly data-sly-test="${headerGlobalUtil.isPublish && headerGlobalUtil.dataDomainScript}">
        <script type="text/javascript" defer>
          function OptanonWrapper() { }
      </script>
  </sly>
    <sly data-sly-include="customheaderlibs.html"></sly>
    <sly data-sly-call="${headlibRenderer.headlibs @
                                designPath         = page.designPath,
                                staticDesignPath   = page.staticDesignPath,
                                clientLibCategories = page.clientLibCategories}"></sly>
    <sly data-sly-test.appResourcesPath=${page.appResourcesPath} data-sly-call="${headResources.favicons @ path = appResourcesPath}"></sly>

	<sly data-sly-test="${headerGlobalUtil.isRunModeDevelopment || headerGlobalUtil.isRunModeQA}">
		<script src="//assets.adobedtm.com/launch-ENee1a586aa21a464abd3b7626503523ad-development.min.js" async></script>
	</sly>
	<sly data-sly-test="${headerGlobalUtil.isRunModeStaging || headerGlobalUtil.isRunModeProduction}">
	<sly data-sly-resource="${'cloudconfig-header' @ resourceType='cq/cloudconfig/components/scripttags/header'}"></sly> 
	</sly>
	</template>
