.tp-button-link {
    background: none;
    color: $color-congress-blue;
    font-family: $font-monsterrat;
    font-weight: 400;
    display: inline-block;
    text-decoration: none;
    outline: 0;
    transition: all $anim-speed-quick $anim-ease;
    letter-spacing: unset;
    padding: 0;

    &:hover {
        background: none;
        text-decoration: none;
    }

    .icon {

        &::before {
            @include font-size($font-baseline);
        }
    }
}