// Custom CSS for lightpick calendar plugin
$width-calendar-mobile: 266px;
$width-calendar: 294px;

.lightpick {

    &__toolbar,
    &__tooltip {
        display: none;
    }

    &__month-title {
        &-bar {
            @include margin-bottom($margin-md);
        }

        text-align: center;
    }

    &__select {
        @include font-size($font-baseline);
        @include line-height(24px, $font-baseline);
        font-family: $font-bold;
        color: $color-text;
        border: 0;
        background: transparent;

        &-months {
            @include margin-right($margin-xs);
        }
    }

    &__months,
    &__days-of-the-week,
    &__days {

        &::before,
        &::after {
            display: block;
            clear: both;
            content: "";
        }
    }

    &__months {
        @media #{$mobile} {
            @include max-width($width-calendar-mobile);
            margin: 0 auto;
        }

        @media #{$mobile-large} {
            @include max-width($width-calendar);
        }
    }

    &__month {
        @include max-width($width-calendar);

        @media #{$mobile} {
            @include max-width($width-calendar-mobile);
        }

        @media #{$mobile-large} {
            @include max-width($width-calendar);
        }

        @media #{$desktop} {
            @include margin-right($margin-l);
            float: left;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__days div,
    &__day {
        @include margin-right(2px);
        @include margin-bottom(2px);
        @include width(36px);
        @include height(36px);

        @media #{$mobile-large} {
            @include width(40px);
            @include height(40px);
        }

        @media #{$desktop} {
            @include width(40px);
            @include height(40px);
        }

        float: left;
    }

    &__day-of-the-week,
    &__day {
        @include font-size($font-sm);
        @include line-height(20px, $font-sm);
        font-family: $font-bold;
        color: $color-text;
        text-align: center;
    }

    &__day-of-the-week {
        @include margin-right(2px);
        @include width(36px);

        @media #{$mobile-large} {
            @include width(40px);
        }

        @media #{$desktop} {
            @include width(40px);
        }

        float: left;
    }

    &__day {
        @include padding(10px 0);
        background-color: $color-wild-sand;

        &.is-today {
            background-color: $color-mercury;
        }

        &.is-in-range,
        &.is-start-date,
        &.is-end-date {
            color: $color-white;
        }

        &.is-in-range {
            background-color: $color-jordy-blue;
        }

        &.is-start-date,
        &.is-end-date {
            background-color: $color-congress-blue;
        }

        &.is-disabled {
            font-family: $font;
            color: $color-boulder;
        }

        &.is-next-month,
        &.is-previous-month {
            background-color: transparent;
            color: transparent;
        }
    }

    &--1-columns &__month {
        float: none;
        margin: 0 auto;
    }
}
