// Custom CSS for lightpick calendar plugin
.lightpick {
    &__toolbar,
    &__tooltip {
        display: none;
    }
    &__month-title {
        &-bar {
            @include margin-bottom(16px);
        }
        text-align: center;
    }
    &__select {
        @include font-size($font-baseline);
        @include line-height(24px, $font-baseline);
        font-family: $font-bold;
        color: $color-text;
        border: 0;
        background: transparent;
        &-months {
            @include margin-right(4px);
        }
    }
    &__months,
    &__days-of-the-week,
    &__days {
        &::before,
        &::after {
            display: block;
            clear: both;
            content: "";
        }
    }
    &__months {
        @media #{$mobile} {
            @include max-width(294px);
            margin: 0 auto;
        }
    }
    &__month {
        @include max-width(294px);
        @media #{$desktop} {
            @include margin-right(24px);
            float: left;
        }
        &:last-of-type {
            margin-right: 0;
        }
    }
    &__days div,
    &__day {
        @include margin-right(2px);
        @include margin-bottom(2px);
        @include width(40px);
        @include height(40px);
        float: left;
        background-color: $color-wild-sand;
    }
    &__day-of-the-week,
    &__day {
        @include font-size($font-sm);
        @include line-height(20px, $font-sm);
        font-family: $font-bold;
        color: $color-text;
        text-align: center;
    }
    &__day-of-the-week {
        @include margin-right(2px);
        @include width(40px);
        float: left;
    }
    &__day {
        @include padding(10px 0);
        &.is-next-month,
        &.is-previous-month {
            color: $color-wild-sand;
        }
        &.is-today {
            background-color: $color-mercury;
        }
        &.is-in-range,
        &.is-start-date,
        &.is-end-date {
            color: $color-white;
        }
        &.is-in-range {
            background-color: $color-jordy-blue;
        }
        &.is-start-date,
        &.is-end-date {
            background-color: $color-congress-blue;
        }
        &.is-disabled {
            font-family: $font;
            color: $color-boulder;
        }
    }
}
