/*------------------------------------*\
    #Fonts
\*------------------------------------*/
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../../../assets/fonts/montserrat-v25-latin-regular.eot');
    src: local(''),
         url('../../../assets/fonts/montserrat-v25-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('../../../assets/fonts/montserrat-v25-latin-regular.woff2') format('woff2'),
         url('../../../assets/fonts/montserrat-v25-latin-regular.woff') format('woff'),
         url('../../../assets/fonts/montserrat-v25-latin-regular.ttf') format('truetype'),
         url('../../../assets/fonts/montserrat-v25-latin-regular.svg#Montserrat') format('svg');
    font-display: block;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../../../assets/fonts/montserrat-v25-latin-500.eot');
    src: local(''),
         url('../../../assets/fonts/montserrat-v25-latin-500.eot?#iefix') format('embedded-opentype'),
         url('../../../assets/fonts/montserrat-v25-latin-500.woff2') format('woff2'),
         url('../../../assets/fonts/montserrat-v25-latin-500.woff') format('woff'),
         url('../../../assets/fonts/montserrat-v25-latin-500.ttf') format('truetype'),
         url('../../../assets/fonts/montserrat-v25-latin-500.svg#Montserrat') format('svg');
    font-display: block;
  }

  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../../../assets/fonts/montserrat-v25-latin-700.eot');
    src: local(''),
         url('../../../assets/fonts/montserrat-v25-latin-700.eot?#iefix') format('embedded-opentype'),
         url('../../../assets/fonts/montserrat-v25-latin-700.woff2') format('woff2'),
         url('../../../assets/fonts/montserrat-v25-latin-700.woff') format('woff'),
         url('../../../assets/fonts/montserrat-v25-latin-700.ttf') format('truetype'),
         url('../../../assets/fonts/montserrat-v25-latin-700.svg#Montserrat') format('svg');
    font-display: block;
  }