/*------------------------------------*\
    #Fonts
\*------------------------------------*/

@font-face {
    font-family: 'avenirblack';
    src: url('../../../assets/fonts/avenirtp-black-web.eot');
    src: url('../../../assets/fonts/avenirtp-black-web.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/avenirtp-black-web.woff') format('woff'),
        url('../../../assets/fonts/avenirtp-black-web.ttf') format('truetype'),
        url('../../../assets/fonts/avenirtp-black-web.svg#avenirtp-black-web') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenirblack_italic';
    src: url('../../../assets/fonts/avenirtp-blackoblique-web.eot');
    src: url('../../../assets/fonts/avenirtp-blackoblique-web.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/avenirtp-blackoblique-web.woff') format('woff'),
        url('../../../assets/fonts/avenirtp-blackoblique-web.ttf') format('truetype'),
        url('../../../assets/fonts/avenirtp-blackoblique-web.svg#avenirtp-blackoblique-web') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenirbold';
    src: url('../../../assets/fonts/avenirtp-medium-web.eot');
    src: url('../../../assets/fonts/avenirtp-medium-web.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/avenirtp-medium-web.woff') format('woff'),
        url('../../../assets/fonts/avenirtp-medium-web.ttf') format('truetype'),
        url('../../../assets/fonts/avenirtp-medium-web.svg#avenirtp-medium-web') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenirbold_italic';
    src: url('../../../assets/fonts/avenirtp-mediumoblique-web.eot');
    src: url('../../../assets/fonts/avenirtp-mediumoblique-web.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/avenirtp-mediumoblique-web.woff') format('woff'),
        url('../../../assets/fonts/avenirtp-mediumoblique-web.ttf') format('truetype'),
        url('../../../assets/fonts/avenirtp-mediumoblique-web.svg#avenirtp-mediumoblique-web') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'avenirlight';
    src: url('../../../assets/fonts/avenirtp-light-web.eot');
    src: url('../../../assets/fonts/avenirtp-light-web.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/avenirtp-light-web.woff') format('woff'),
        url('../../../assets/fonts/avenirtp-light-web.ttf') format('truetype'),
        url('../../../assets/fonts/avenirtp-light-web.svg#avenirtp-light-web') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenirlight_italic';
    src: url('../../../assets/fonts/avenirtp-lightoblique-web.eot');
    src: url('../../../assets/fonts/avenirtp-lightoblique-web.eot?#iefix') format('embedded-opentype'),
        url('../../../assets/fonts/avenirtp-lightoblique-web.woff') format('woff'),
        url('../../../assets/fonts/avenirtp-lightoblique-web.ttf') format('truetype'),
        url('../../../assets/fonts/avenirtp-lightoblique-web.svg#avenirtp-lightoblique-web') format('svg');
    font-weight: normal;
    font-style: normal;
}
