html {
    @include line-height(24px, $font-baseline);
    font-size: $font-baseline;
    @media #{$desktop} {
        font-size: calculate-base-font($v-desktop);
    }
    @media #{$desktop-large} {
        font-size: calculate-base-font($v-desktop-l);
    }
    @media #{$mobile} {
        font-size: calculate-base-font($v-mobile, true);
    }
}

$text-tags: ( 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'div', 'span', 'p', 'a', 'section', 'article', 'nav', 'aside', 'header', 'footer', 'b', 'strong', 'i', 'td', 'th');
%textreset {
    padding: 0;
    margin: 0;
    border: 0;
}

@each $tag in $text-tags {
    #{$tag} {
        @extend %textreset;
    }
}

/*------------------------------------*\
    #BODY
\*------------------------------------*/

/**
 * Body base styles
 */

body {
    background: $color-mercury;
    color: $color-text;
    font-family: $font-light;
    -webkit-text-size-adjust: 100%;
    min-height: 100vh;
}

button {
    border: 0;
    outline: 0;
}

a {
    color: $color-congress-blue;
    font-family: $font-regular;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    outline: 0;
    transition: all $anim-speed-quick $anim-ease;
    &:hover,
    &:focus {
        color: $color-text;
    }
}

/*------------------------------------*\
      #MEDIA ELEMENTS
  \*------------------------------------*/

/**
  * Make media elements responsive
  */

img,
video,
object {
    max-width: 100%;
    height: auto;
}

/**
  * Iframe base styles
  */

iframe {
    margin-bottom: $spacing-big;
}

/**
  * Figure base styles
  */

figure {
    margin-bottom: $spacing-big;
    /**
      * Figure image base styles
      */
    img {
        margin-bottom: $spacing-small;
    }
}

/**
  * Figure caption base styles
  */

figcaption {
    font-style: italic;
}

/**
  * Ordered/Unordered list base styles
  */

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/**
  * Table base styles
  */

table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid $color-boulder;
    width: 100%;
}

/**
  * Table header base styles
  */

th {
    text-align: left;
    border: 1px solid $color-boulder;
    padding: 0.2em;
}

/**
   * Table cell base styles
   */

td {
    border: 1px solid $color-boulder;
    padding: 0.5em;
}

/**
   * Main content area
   */

[role="main"] {
    flex: 1;
}

// Custom classes for layout
.tp-container {
    @include padding(0 15px);
    max-width: 100%;
    @media #{$desktop} {
        @include max-width($body-max-width);
        margin: 0 auto;
    }
    .row {
        @include margin-left(-15px);
        @include margin-right(-15px);
    }
    [class*="col-"] {
        @include padding-left(15px);
        @include padding-right(15px);
    }
}
