html {
    @include line-height(24px, $font-baseline);
    font-size: $font-baseline;
    @media #{$desktop} {
        font-size: calculate-base-font($v-desktop);
    }
    @media #{$desktop-large} {
        font-size: calculate-base-font($v-desktop-l);
    }
    @media #{$mobile} {
        font-size: calculate-base-font($v-mobile, true);
    }
}

$text-tags: ( 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'div', 'span', 'p', 'a', 'section', 'article', 'nav', 'aside', 'header', 'footer', 'b', 'strong', 'i', 'td', 'th', 'button');
@each $tag in $text-tags {
    #{$tag} {
        @extend %textreset;
    }
}

/*------------------------------------*\
    #BODY
\*------------------------------------*/

/**
 * Body base styles
 */

body {
    background: $color-mercury;
    color: $color-text;
    font-family: $font-light;
    -webkit-text-size-adjust: 100%;
    min-height: 100vh;
}

a {
    color: $color-congress-blue;
    font-family: $font-regular;
    font-weight: normal;
    display: inline-block;
    text-decoration: none;
    outline: 0;
    transition: all $anim-speed-quick $anim-ease;
    &:hover {
        text-decoration: none;
    }
}

button {
    background-color: transparent;
    cursor: pointer;
}

/*------------------------------------*\
      #MEDIA ELEMENTS
  \*------------------------------------*/

/**
  * Make media elements responsive
  */

img,
video,
object {
    max-width: 100%;
    height: auto;
}

/**
  * Iframe base styles
  */

iframe {
    margin-bottom: $spacing-big;
}

/**
  * Form Element styles
  */

select {
    @extend %appearance;
    &.form-control {
        @include padding-right($padding-l);
    }
}

/**
  * Figure base styles
  */

figure {
    margin-bottom: $spacing-big;
    /**
      * Figure image base styles
      */
    img {
        margin-bottom: $spacing-small;
    }
}

/**
  * Figure caption base styles
  */

figcaption {
    font-style: italic;
}

/**
  * Ordered/Unordered list base styles
  */

ol,
ul {
    @extend %textreset;
    list-style: none;
}

/**
  * Table base styles
  */

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

/**
  * Table header base styles
  */

th,
td {
    text-align: left;
    white-space: nowrap;
}

/**
   * Main content area
   */

[role="main"] {
    flex: 1;
}

// Custom classes for layout
.tp-container {
    @include padding(0 15px);
    max-width: 100%;
    @media #{$desktop} {
        @include max-width($body-max-width);
        margin: 0 auto;
    }
    .row {
        @include margin-left(-15px);
        @include margin-right(-15px);
    }
    [class*="col-"] {
        @include padding-left(15px);
        @include padding-right(15px);
    }
    .row {
        .tp-column__sidenav {
            padding-left: 0;
        }
    }
}

// Top margin for content as we have fixed header
.tp-column__content {
    @include margin-top(112px);
}

// Classes for Wrapping icons
.form-element {
    position: relative;
    &__icon {
        @include right($margin-sm);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}
