/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

$font: "muliregular",
sans-serif;
$font-secondary: "muliregular",
sans-serif;
$font-regular: "muliregular",
sans-serif;
$font-black: "muliblack",
sans-serif;
$font-blackItalic: "muliblack_italic",
sans-serif;
$font-bold: "mulibold",
sans-serif;
$font-boldItalic: "mulibold_italic",
sans-serif;
$font-extraBold: "muliextrabold",
sans-serif;
$font-extraBoldItalic: "muliextrabold_italic",
sans-serif;
$font-extraLight: "muliextralight",
sans-serif;
$font-extraLightItalic: "muliextralight_italic",
sans-serif;
$font-italic: "muliitalic",
sans-serif;
$font-light: "mulilight",
sans-serif;
$font-lightItalic: "mulilight_italic",
sans-serif;
$font-semi-bold: "mulisemibold",
sans-serif;
$font-semi-boldItalic: "mulisemibold_italic",
sans-serif;

.hero {
    @include font-size($font-xxxl);
    @include line-height(60px, $font-baseline);
    font-weight: normal;
}

h1 {
    @include font-size($font-xxl);
    font-weight: lighter;
}

h2 {
    @include font-size($font-xl);
    font-weight: lighter;
}

h3 {
    @include font-size($font-l);
    font-weight: lighter;
}

h4 {
    @include font-size($font-md);
    font-weight: lighter;
}

.font-style-sm {
    @include font-size($font-sm);
    font-weight: normal;
}

.font-style-xs {
    @include font-size($font-xs);
    font-weight: normal;
}
