/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

 $font: "muliregular", sans-serif;
 $font-secondary: "muliregular", sans-serif;
 $font-regular: "muliregular", sans-serif;
 $font-black: "muliblack", sans-serif;
 $font-blackItalic: "muliblack_italic", sans-serif;
 $font-bold: "mulibold", sans-serif;
 $font-boldItalic: "mulibold_italic", sans-serif;
 $font-extraBold: "muliextrabold", sans-serif;
 $font-extraBoldItalic: "muliextrabold_italic", sans-serif;
 $font-extraLight: "muliextralight", sans-serif;
 $font-extraLightItalic: "muliextralight_italic", sans-serif;
 $font-italic: "muliitalic", sans-serif;
 $font-light: "mulilight", sans-serif;
 $font-lightItalic: "mulilight_italic", sans-serif;
 $font-semiBold: "mulisemibold", sans-serif;
 $font-semiBoldItalic: "mulisemibold_italic", sans-serif;

 
.hero {
    @include font-size($font-xxxl);
    @include line-height(60px, $font-baseline);
    font-family: $font-regular;
    font-weight: normal;
}

h1 {
    @include font-size($font-xxl);
    @include line-height(48px, $font-baseline);
    font-family: $font-regular;
    font-weight: lighter;
}

h2 {
    @include font-size($font-xl);
    @include line-height(40px, $font-baseline);
    font-weight: lighter;
    font-family: $font-regular;
}

h3 {
    @include line-height(32px, $font-baseline);
    @include font-size($font-l);
    font-weight: lighter;
    font-family: $font-regular;
}

h4 {
    @include font-size($font-md);
    @include line-height(24px, $font-baseline);
    font-weight: lighter;
    font-family: $font-regular;
}

.font-style-sm {
    @include font-size($font-sm);
    @include line-height(20px, $font-baseline);
    font-weight: normal;
    font-family: $font-regular;
}

.font-style-xs {
    @include font-size($font-xs);
    @include line-height(16px, $font-baseline);
    font-weight: normal;
    font-family: $font-regular;
}