@import "media";
$font-xs: 10px;
$font-sm: 12px;
$font-baseline: 14px;
$font-md: 18px;
$font-l: 24px;
$font-xl: 32px;
$font-xxl: 42px;
$font-xxxl: 60px;
// Body width
$body-max-width: 1366px;
// Variables for z-index
$zindex-default: 0;
// Maximum 3 levels allowed in z-index
$zindex-p: 1; // primary
$zindex-s: 2; // secondary
$zindex-t: 3; // tertiary
// To move element to the background
$zindex-hide: -1;
//z-index header to be greater than others except modal
$zindex-header: 100;
$zindex-nav: $zindex-header+1;
// Patternlab variables
$spacing-big: 24px;
$spacing-small: 16px;
$spacing-big-half: 12px;
$spacing-small-half: 8px;
/* Border Radius */

$border-radius: 4px;
$color-text: $color-tundora;
$color-heading: $color-congress-blue;
/*
 * Text Link Colors
 * 1) These are for linked text, such as a link found within an article,
 *    navigation link, footer link, etc.
 */

$color-text-link: $color-congress-blue;
$color-text-link-hover: $color-tundora;
$color-text-link-visited: $color-congress-blue;
$color-text-link-active: $color-congress-blue;
/*
 * Border Colors
 * 1) Border colors are used as decoration or dividers, such as as a seperator
 *    for navigation items, block borders, etc.
 */

$color-border: $color-boulder;
/**
 * Animation Duration
 */

$anim-speed-quick: 0.2s;
/**
  * Animation Easing
  */

$anim-ease: ease;