.tp-download-center {
    &__heading {
        @include font-size($font-l);
        @include line-height($font-xl, $font-l);
        @include margin-bottom($margin-md);

        @media #{$desktop} {
            @include font-size($font-xl);
            @include line-height(40px, $font-xl);
            @include margin-bottom($margin-l);
        }
    }

    &__description {
        @include font-size($font-baseline);
        @include line-height($font-l, $font-baseline);
        @include margin-bottom($margin-md);
        display: flex;

        @media #{$desktop} {
            max-width: 825px;
        }
    }

    &__link {
        color: $color-congress-blue;

        .tpatom-link {
            @include line-height($font-l, $font-baseline);
        }
    }
}