<sly data-sly-template.softwaredownloadcenter_template="${@data, properties}">
    <div class="tp-card tp-download-center" data-module="SoftwareDownloadCenter">
        <h2 data-sly-test="${properties.title}" class="tp-download-center__heading"> ${properties.title @ i18n}</h2>
        <div class="tp-download-center__description">${properties.description @ context='html'}</div> 
        <sly data-sly-test.variant="transparent">
        <sly data-sly-use.btnLink="/apps/commons/components/atoms/button-text/button-text.html"
             data-sly-call="${btnLink.button_template @btnPath=data.linkPath, btnText=properties.linkText ,btnTarget='true', variant=variant, customClasses='tp-download-center__link'}" />              
            </sly>
    </div>
</sly>