.form-check.formfields {
    .form-check-input {
        &:checked ~ .form-check-radio {
            &::before {
                background: $color-congress-blue;
            }
        }
    }
    .form-check-label {
        @include margin-bottom($margin-md);
        font-size: 14px;
        z-index: 3;
    }
    .form-check-radio {
        border: 1px solid $color-tundora;
        height: 20px;
        width: 20px;
        z-index: 2;

        &::before {
            height: 8px;
            width: 8px;
            top: 5px;
            left: 5px;
        }
    }
}