<sly data-sly-use.model="com.tetralaval.models.TextVideoModel"/>

<p data-sly-test="${wcmmode.edit}" data-emptytext="configure ${component.title}" class="cq-placeholder"></p>
<sly data-sly-test="${model.damVideoPath || model.youtubeEmbedURL}">
    <sly data-sly-test.dataLinkSectionCTAText="${model.pwButtonTheme == 'link' ? 'Hyperlink' : 'CTA'}"/>
    <div id="${model.anchorId}" title="${model.anchorTitle}" class="pw-container" data-locator="${component.name}" data-module="TextVideo">
        <input type="hidden" class="componentName-textvideo" name="componentName" value="${resource.name}">
        <div class="pw-text-video pw-text-video--${model.pwDisplay} pw-theme--${model.pwTheme} pw-padding--regular pw-margin--regular">
            <div class="row no-gutters">
                <div class="col-md-12 ${model.pwDisplay ? 'col-lg-4 left-pad' : ''}">
                    <p class="pw-text-video__subTitle font-fixing d-lg-block">${model.subTitle @ context='html'}</p>
                    <div class="pw-text-video__title d-lg-block">${model.title}</div>
                    <div class="pw-text-video__description d-lg-block">
                        <p>${model.description @ context='html'}</p>
                    </div>
                    <div class="pw-text-video__link d-lg-block">
                        <sly data-sly-test="${model.linkURL && model.linkTexti18n}">
                            <sly data-sly-test.buttonCls="${'tpatom-link--{0}' @ format=[model.pwButtonTheme == 'secondary' ? 'primary' : 'transparent']}"/>
                            <a data-sly-test="${model.pwButtonTheme == 'link'}" href="${model.linkURL}"
                               class="tpatom-link ${buttonCls} js-textVideo-analytics"
                               title="${model.linkTexti18n}" data-link-section="Text & Video_${dataLinkSectionCTAText}"
                               data-link-name="${model.linkTexti18n}" data-video-title="${model.title}"
                               data-asset-name="${model.assetName}" data-button-link-type="${model.pwButtonTheme}"
                               data-anchor-type="${dataLinkSectionCTAText}" target="${model.targetBlank ? '_blank' : '_self'}">
                                <span class="tpatom-link__text sly-text">${model.linkTexti18n @ context='html'}</span>
                            </a>
                            <button data-sly-test="${model.pwButtonTheme == 'secondary'}"
                                    class="tpatom-link ${buttonCls} js-subscription-pw-textvideo text-left"
                                    data-link-section="button click" data-link-name="${model.linkTexti18n}"
                                    data-video-title="${model.title}" data-asset-name="${model.assetName}"
                                    data-anchor-type="${dataLinkSectionCTAText}">
                                <a class="tpatom-link__text sly-text text-white" href="${model.linkURL}"
                                   target="${model.targetBlank ? '_blank' : '_self'}">${model.linkTexti18n @ context='html'}</a>
                            </button>
                        </sly>
                    </div>
                </div>
                <div class="col-md-12 ${model.pwDisplay ? 'col-lg-8 right-pad' : ''}">
                    <div data-sly-test="${model.videoSource == 'damVideo'}" class="pw-text-video__video js-video-props"
                         data-link-parent-title="${model.videoName}" data-video-type="${model.videoSource}"
                         data-video-name="${model.videoName}">
                        <sly data-sly-test="${!wcmmode.edit}" data-sly-use.dynamicImageModel="${'com.tetralaval.models.DynamicImageModel' @ imagePath=model.thumbnailPath}"/>
                        <video class="js-dam-player" controls poster="${dynamicImageModel ? dynamicImageModel.desktopUrl : model.thumbnailPath}">
                            <source src="${model.damVideoPath}" type="video/mp4">
                            <img src="${dynamicImageModel ? dynamicImageModel.desktopUrl : model.thumbnailPath}"
                                 alt="${dynamicImageModel ? dynamicImageModel.altText : model.thumbnailAltText}"/>
                        </video>
                    </div>
                    <div data-sly-test="${model.videoSource == 'youtube'}" class="pw-text-video__video js-video-props"
                         data-link-parent-title="${model.youtubeEmbedURL}" data-video-type="${model.videoSource}" data-video-name="${model.youtubeEmbedURL}">
                        <iframe class='js-yt-player' src="${model.youtubeEmbedURL}" frameborder="0" allowfullscreen
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sly>