{{# video_molecule }}
<div class="tp_video">
    <div class="tp_video-videoContainer">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ youtubeVideoID }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {{# content }}
    <div class="tp_video-content">
        <h3 class="tp_video-title">{{ title }}</h3>
        <p>{{ text }}</p>
    </div>
    {{/ content }}
</div>
{{/ video_molecule }}
