.tp-pagination {
    @include margin-top($margin-md);
    display: flex;

    &.center-align {
        justify-content: center;
    }

    &.right-align {
        justify-content: flex-end;
    }

    @media #{$desktop} {
        @include margin-top($margin-l);
    }

    &__ellipsis {
        @include padding(3px 3px 0);
    }

    &__previous {
        transform: rotate(180deg);
    }
}
