<div class="pw-anchor-menu tp-container" data-module="AnchorMenu">
      <div class="pw-anchor-menu__regular">
      <ul class="pw-anchor-menu-list">
        
          <li class="pw-anchor-menu-content">
            <a data-link-section="food-our-priorities" data-link-name="OUR PRIORITIES" href="#banner01" class="active">OUR PRIORITIES</a>
          </li>
        
          <li class="pw-anchor-menu-content">
            <a data-link-section="food-our-stories" data-link-name="OUR STORIES" href="#food-our-stories">OUR STORIES</a>
          </li>
        
          <li class="pw-anchor-menu-content">
            <a data-link-section="food-downloads" data-link-name="DOWNLOADS" href="#food-downloads">DOWNLOADS</a>
          </li>
        
          <li class="pw-anchor-menu-content">
            <a data-link-section="anchor-one" data-link-name="First anchor" href="#anchor-one">First anchor</a>
          </li>
        
          <li class="pw-anchor-menu-content">
            <a data-link-section="anchor-two" data-link-name="Second anchor" href="#anchor-two">Second anchor</a>
          </li>
        
          <li class="pw-anchor-menu-content">
            <a data-link-section="anchor-three" data-link-name="Three anchor" href="#anchor-three">Three anchor</a>
          </li>
        
          <li class="pw-anchor-menu-content">
            <a data-link-section="anchor-four" data-link-name="Four anchor" href="#anchor-four">Four anchor</a>
          </li>
        
          <li class="pw-anchor-menu-content hiddenItem">
            <a data-link-section="anchor-five" data-link-name="Five anchor" href="#anchor-five">Five anchor</a>
          </li>
        
          <li class="pw-anchor-menu-content hiddenItem">
            <a data-link-section="anchor-six" data-link-name="Sixth Anchor with large text" href="#anchor-six">Sixth Anchor with large text</a>
          </li>
        
      
          <li class="more">
            <button type="button" aria-haspopup="true" aria-expanded="true"><span>⋮</span></button>
            <ul class="secondary">
              
        
          <li class="pw-anchor-menu-content hiddenItem">
            <a data-link-section="food-our-priorities" data-link-name="OUR PRIORITIES" href="#food-our-priorities" class="">OUR PRIORITIES</a>
          </li>
        
          <li class="pw-anchor-menu-content hiddenItem">
            <a data-link-section="food-our-stories" data-link-name="OUR STORIES" href="#food-our-stories">OUR STORIES</a>
          </li>
        
          <li class="pw-anchor-menu-content hiddenItem">
            <a data-link-section="food-downloads" data-link-name="DOWNLOADS" href="#food-downloads">DOWNLOADS</a>
          </li>
        
          <li class="pw-anchor-menu-content hiddenItem">
            <a data-link-section="anchor-one" data-link-name="First anchor" href="#anchor-one">First anchor</a>
          </li>
        
          <li class="pw-anchor-menu-content hiddenItem">
            <a data-link-section="anchor-two" data-link-name="Second anchor" href="#anchor-two">Second anchor</a>
          </li>
        
          <li class="pw-anchor-menu-content hiddenItem">
            <a data-link-section="anchor-three" data-link-name="Three anchor" href="#anchor-three">Three anchor</a>
          </li>
        
          <li class="pw-anchor-menu-content hiddenItem">
            <a data-link-section="anchor-four" data-link-name="Four anchor" href="#anchor-four">Four anchor</a>
          </li>
        
          <li class="pw-anchor-menu-content">
            <a data-link-section="anchor-five" data-link-name="Five anchor" href="#anchor-five">Five anchor</a>
          </li>
        
          <li class="pw-anchor-menu-content">
            <a data-link-section="anchor-six" data-link-name="Sixth Anchor with large text" href="#anchor-six">Sixth Anchor with large text</a>
          </li>
        
      
            </ul>
          </li>
        </ul>
      </div>
      <div class="pw-progress-indicator-container">
        <span class="pw-anchor-menu-progress-indicator" style="width: 117px; margin-left: 48px;"></span>
      </div>
</div>
<div id="banner01" title="Banner1" class="pw-banner tp-container-textImage">


    <div class="pw-banner__image-wrapper">
        <img class="cq-dd-image">
    </div>

    <div class="pw-banner__content display-row">
        <div class="pw-banner__content__subtitle">
            SubBanner1
        </div>
        <div class="pw-banner__content__title">

            <h2 class="tpatom-heading tpatom-heading--regular">Banner1</h2>

        </div>
        <p class="pw-banner__content__description"></p>

    </div>
</div>