<div class="pw-anchor-menu tp-container" data-module="AnchorMenu">
    <ul class="pw-anchor-menu-list">

        <li class="pw-anchor-menu-content">
            <a data-link-section="banner01" data-link-name="Banner1" href="banner01">Banner1</a>
        </li>

    </ul>
    <div id="banner01" title="Banner1" class="pw-banner tp-container-textImage">


        <div class="pw-banner__image-wrapper">
            <img class="cq-dd-image">
        </div>

        <div class="pw-banner__content display-row">
            <div class="pw-banner__content__subtitle">
                SubBanner1
            </div>
            <div class="pw-banner__content__title">

                <h2 class="tpatom-heading tpatom-heading--regular">Banner1</h2>

            </div>
            <p class="pw-banner__content__description"></p>

        </div>
    </div>
</div>