<div class="businessinquiryform parbase aem-GridColumn aem-GridColumn--default--12">
  <div class="pw-container" data-locator="BusinessInquiryForm" data-module="Businessinquiryform">
    <div class="pw-businessEnquiry-form pw-theme--grayscale-white pw-padding--regular pw-margin--regular"
      id="pw-contactUs" auto_locator="businessEnquiryStepsWrapper">
      <div class="tab-content">
        <form class="pw-form pw-form-businessEnquiry" accept-charset="UTF-8"
          data-bef-api-servlet="http://go.tetrapak.com/l/857883/2020-05-29/w6xt" data-bef-countrycode="lang-masters"
          data-bef-langcode="en" autocomplete="off">
          <!--step1 start-->
          <div class="bef-tab-pane active" data-stepnumber="1" data-stepname="purposeOfContact" role="tabpanel"
            id="bef-step-1">
            <div class="row no-gutters">
              <div class="col-lg-6 separator" auto_locator="businessEnquiryLeftContainerStep1">
                <div class="row no-gutters">
                  <div class="col-sm-12 main-heading" auto_locator="businessEnquiryLeftContainerHeadingTextStep1">
                    <h2 class="tpatom-heading tpatom-heading--">business enquery form</h2>
                  </div>
                </div>
                <div class="row no-gutters">
                  <div class="descriptioBusinessEnquiry col-lg-12"
                    auto_locator="businessEnquiryLeftContainerTextAreaStep1">
                    <p>i am here for a <a href="http://google.com">link</a></p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 separator" auto_locator="businessEnquiryRightContainerStep1">
                <div class="tab-content tab-content-steps">
                  <div class="row">
                    <div class="col-sm-12" auto_locator="businessEnquiryContainerHeadingTextStep1">
                      <h4 class="tpatom-heading tpatom-heading--small">Purpose of contact</h4>
                    </div>.
                    <div class="col-sm-12 formfield" auto_locator="businessEnquiryListContainerStep1">
                      <div class="form-check formfields ">
                        <input class="form-check-input" type="radio" name="purposeOfContactOptionsInBusinessEq"
                          id="requestAQuote" value="Request a quote">
                        <label class="form-check-label " for="requestAQuote">
                          Request a quote
                        </label>
                        <div class="form-check-radio"></div>
                      </div>
                      <div class="form-check formfields ">
                        <input class="form-check-input" type="radio" name="purposeOfContactOptionsInBusinessEq"
                          id="requestAProductInfo" value="Request for product information">
                        <label class="form-check-label " for="requestAProductInfo">
                          Request for product information
                        </label>
                        <div class="form-check-radio"></div>
                      </div>
                      <div class="form-check formfields ">
                        <input class="form-check-input" type="radio" name="purposeOfContactOptionsInBusinessEq"
                          id="ContactMe" value="Contact me">
                        <label class="form-check-label mb-0" for="ContactMe">
                          Contact me
                        </label>
                        <div class="form-check-radio"></div>
                      </div>
                      <input type="hidden" name="purposeOfContactInBusinessEqTitle" class="form-control"
                        id="purposeOfContactInBusinessEqTitle" required="">
                      <div class="errorMsg purposeOfBusinessContactError">Please select purpose of contact
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters pw-progress" auto_locator="progressBarStep1">
                    <div class="col-lg-9">
                      <ul class="pw-progressbar_wrapper ">
                        <li class="step1 step-box active ">
                          <div class="steps">
                            <span class="circle"><span>1</span></span>
                          </div>
                        </li>
                        <li class="step1 step-box  ">
                          <div class="steps">
                            <span class="circle"><span>2</span></span>
                          </div>
                        </li>
                        <li class="step1 step-box  ">
                          <div class="steps">
                            <span class="circle"><span>3</span></span>
                          </div>
                        </li>
                        <li class="step1 step-box  ">
                          <div class="steps">
                            <span class="circle"><span>4</span></span>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="pw-progressbar__steps d-none d-lg-block col-md-3">
                      <p>
                        step 1 of 4
                      </p>
                    </div>
                  </div>
                  <div class="row no-gutters button-group">
                    <button data-target="#bef-step-2" id="step1btn" type="button" class="tpatom-btn tpatom-btn--primary "
                      auto_locator="businessFormNextButtonStep1">
                      <span class="tp-next-btn__text">next</span>
                      <i class="tpatom-button__icon icon-Arrow_Right_pw"></i>
                    </button>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--step1 end-->
          <!--step2 start-->
          <div class="bef-tab-pane" data-stepnumber="2" data-stepname="businesAreaOfInterest" role="tabpanel"
            id="bef-step-2">
            <div class="row no-gutters">
              <div class="col-lg-6 separator">
                <div class="row no-gutters">
                  <div class="col-sm-12 main-heading" auto_locator="businessEnquiryLeftContainerHeadingStep2">
                    <h2 class="tpatom-heading tpatom-heading--">business enquery form</h2>
                  </div>
                </div>
                <div auto_locator="businessEnquiryLeftContainerSummaryAreaStep2">
                  <div class="row no-gutters">
                    <div class="col-sm-12">
                      <h4 class="tpatom-heading tpatom-heading--small">Summary</h4>
                    </div>
                  </div>
                  <div class="row no-gutters summary">
                    <div class="col-lg-6">Purpose of contact</div>
                    <div class="col-lg-6 purposeOfContactInBusinessEqTitle"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="tab-content tab-content-steps" auto_locator="businessEnquiryRightContainerSummaryAreaStep2">
                  <div class="row">
                    <div class="col-sm-12" auto_locator="businessEnquiryContainerHeadingTextStep2">
                      <h4 class="tpatom-heading tpatom-heading--small">Please select business area of interest</h4>
                    </div>
                    <div class="col-sm-12 formfield" auto_locator="businessEnquiryListContainerStep2">
                      <div class="form-check formfields ">
                        <input class="form-check-input" type="radio" name="purposeOfContactOptionsInInterestArea"
                          id="Processing" value="Processing">
                        <label class="form-check-label " for="Processing">
                          Processing
                        </label>
                        <div class="form-check-radio"></div>
                      </div>
                      <div class="form-check formfields ">
                        <input class="form-check-input" type="radio" name="purposeOfContactOptionsInInterestArea"
                          id="packaging" value="Packaging">
                        <label class="form-check-label " for="packaging">
                          Packaging
                        </label>
                        <div class="form-check-radio"></div>
                      </div>
                      <div class="form-check formfields ">
                        <input class="form-check-input" type="radio" name="purposeOfContactOptionsInInterestArea"
                          id="services" value="Services">
                        <label class="form-check-label " for="services">
                          Services
                        </label>
                        <div class="form-check-radio"></div>
                      </div>
                      <div class="form-check formfields ">
                        <input class="form-check-input" type="radio" name="purposeOfContactOptionsInInterestArea"
                          id="etesolution" value="End-to-End solutions">
                        <label class="form-check-label mb-0" for="etesolution">
                          End-to-End solutions
                        </label>
                        <div class="form-check-radio"></div>
                      </div>
                      <input type="hidden" name="purposeOfInterestAreaEqTitle" class="form-control"
                        id="purposeOfInterestAreaEqTitle" required="">
                      <div class="errorMsg purposeOfBusinessIntersetError">
                        Please select business area of interest
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters pw-progress" auto_locator="progressBarStep2">
                    <div class="col-lg-9">
                      <ul class="pw-progressbar_wrapper ">
                        <li class="step1 step-box  done">
                          <div class="steps">
                            <span class="circle"><span>1</span></span>
                          </div>
                        </li>
                        <li class="step1 step-box active ">
                          <div class="steps">
                            <span class="circle"><span>2</span></span>
                          </div>
                        </li>
                        <li class="step1 step-box  ">
                          <div class="steps">
                            <span class="circle"><span>3</span></span>
                          </div>
                        </li>
                        <li class="step1 step-box  ">
                          <div class="steps">
                            <span class="circle"><span>4</span></span>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="pw-progressbar__steps d-none d-lg-block col-md-3">
                      <p> step 2 of 3</p>
                    </div>
                  </div>
                  <div class="row no-gutters button-group">
                    <button data-target="#bef-step-1" type="button" class="tpatom-btn tpatom-btn--secondary previousbtn"
                      auto_locator="businessFormPreviousButtonStep2">
                      <span class="tp-next-btn__text">previous</span>
                      <i class="tpatom-button__icon icon-Arrow_Right_pw"></i>
                    </button>
                    <button data-target="#bef-step-3" type="button" id='step2btn' class="tpatom-btn tpatom-btn--primary "
                      auto_locator="businessFormNextButtonStep2">
                      <span class="tp-next-btn__text">next</span>
                      <i class="tpatom-button__icon icon-Arrow_Right_pw"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--step 2 end-->
          <!--step 3 start-->
          <div class="bef-tab-pane" data-stepnumber="3" role="tabpanel" id="bef-step-3">
            <div class="row no-gutters">
              <div class="col-lg-6 separator">
                <div class="row no-gutters">
                  <div class="col-sm-12 main-heading" auto_locator="businessFormLeftContainerHeadingStep3">
                    <h2 class="tpatom-heading tpatom-heading--">business enquery form</h2>
                  </div>
                </div>
                <div auto_locator="businessFormLeftContainerSummaryAreaStep3">
                  <div class="row no-gutters">
                    <div class="col-sm-12">
                      <h4 class="tpatom-heading tpatom-heading--small"></h4>
                    </div>
                  </div>
                  <div class="row no-gutters summary">
                    <div class="col-lg-6">Purpose of contact</div>
                    <div class="col-lg-6 purposeOfContactInBusinessEqTitle"></div>
                  </div>
                  <div class="row no-gutters summary">
                    <div class="col-lg-6">Business area of interest</div>
                    <div class="col-lg-6 purposeOfInterestAreaEqTitle"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="tab-content tab-content-steps">
                  <div class="row">
                    <div class="col-sm-12" auto_locator="businessEnquiryContainerHeadingTextStep3">
                      <h4 class="tpatom-heading tpatom-heading--small">Contact information</h4>
                    </div>
                    <div class="col-sm-12 formfield" auto_locator="businessEnquiryListContainerStep3">
                      <div class="col-sm-12 formfield">
                        <div class="form-group">
                          <label for="firstName" auto_locator="firstNameHelpText">First name</label>
                          <input type="text" class="form-control " id="firstName" name="firstName" required=""
                            auto_locator="firstNameInput">
                          <div class="errorMsg">Enter your first name</div>
                        </div>
                      </div>
                      <div class="col-sm-12 formfield">
                        <div class="form-group">
                          <label for="lastName" auto_locator="lastNameHelpText">Last name</label>
                          <input type="text" class="form-control " id="lastName" name="lastName" required=""
                            auto_locator="lastNameInput">
                          <div class="errorMsg">Enter your last name</div>
                        </div>
                      </div>
                      <div class="col-sm-12 formfield">
                        <div class="form-group">
                          <label for="email" auto_locator="emailHelpText">E-mail</label>
                          <input type="email" class="form-control " id="email" name="email"
                            placeholder="example@example.com" required="" auto_locator="emailInput">
                          <div class="errorMsg">Please enter your email in this format: example@example.com</div>
                        </div>
                      </div>
                      <div class="col-sm-12 formfield">
                        <div class="form-group">
                          <label for="phone" auto_locator="phoneText">Phone number</label>
                          <input type="text" class="form-control " id="phone" name="phone"
                            placeholder="Country code and Number" auto_locator="phoneInput">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters pw-progress" auto_locator="progressBarStep2">
                    <div class="col-lg-9">
                      <ul class="pw-progressbar_wrapper ">
                        <li class="step1 step-box  done">
                          <div class="steps">
                            <span class="circle"><span>1</span></span>
                          </div>
                        </li>
                        <li class="step1 step-box  done">
                          <div class="steps">
                            <span class="circle"><span>2</span></span>
                          </div>
                        </li>
                        <li class="step1 step-box active ">
                          <div class="steps">
                            <span class="circle"><span>3</span></span>
                          </div>
                        </li>
                        <li class="step1 step-box  ">
                          <div class="steps">
                            <span class="circle"><span>4</span></span>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <div class="pw-progressbar__steps d-none d-lg-block col-md-3">
                      <p> step 3 of 4</p>
                    </div>
                  </div>
                  <div class="row no-gutters button-group">
                    <button data-target="#bef-step-2" type="button" class="tpatom-btn tpatom-btn--secondary previousbtn"
                      auto_locator="businessFormPreviousButtonStep3">
                      <span class="tp-next-btn__text">previous</span>
                      <i class="tpatom-button__icon icon-Arrow_Right_pw"></i>
                    </button>
                    <button data-target="#bef-step-4" id="step3btn" type="button" class="tpatom-btn tpatom-btn--primary "
                      auto_locator="businessFormNextButtonStep3">
                      <span class="tp-next-btn__text">next</span>
                      <i class="tpatom-button__icon icon-Arrow_Right_pw"></i>
                    </button>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--step 3 end-->
          <!--step 4 start-->
          <div class="bef-tab-pane" data-stepnumber="4" data-stepname="contactInfo" role="tabpanel" id="bef-step-4">
            <div class="row no-gutters">
              <div class="col-lg-6 separator">
                <div class="row no-gutters">
                  <div class="col-sm-12 main-heading" auto_locator="businessFormLeftContainerHeadingStep4">
                    <h2 class="tpatom-heading tpatom-heading--">business enquery form</h2>
                  </div>
                </div>
                <div auto_locator="businessFormLeftContainerSummaryAreaStep4">
                  <div class="row no-gutters">
                    <div class="col-sm-12">
                      <h4 class="tpatom-heading tpatom-heading--small"></h4>
                    </div>
                  </div>
                  <div class="row no-gutters summary">
                    <div class="col-lg-6">Purpose of contact</div>
                    <div class="col-lg-6 purposeOfContactInBusinessEqTitle"></div>
                  </div>
                  <div class="row no-gutters summary">
                    <div class="col-lg-6">Business area of interest</div>
                    <div class="col-lg-6 purposeOfInterestAreaEqTitle"></div>
                  </div>
                  <div class="row no-gutters summary">
                    <div class="col-lg-6">First name</div>
                    <div class="col-lg-6 firstName"></div>
                  </div>
                  <div class="row no-gutters summary">
                    <div class="col-lg-6">Last name</div>
                    <div class="col-lg-6 lastName"></div>
                  </div>
                  <div class="row no-gutters summary">
                    <div class="col-lg-6">E-mail</div>
                    <div class="col-lg-6 email"></div>
                  </div>
                  <div class="row no-gutters summary">
                    <div class="col-lg-6">Phone number</div>
                    <div class="col-lg-6 phone"></div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="tab-content tab-content-steps">
                  <div class="row">
                    <div class="col-sm-12" auto_locator="businessEnquiryContainerHeadingTextStep4">
                      <h4 class="tpatom-heading tpatom-heading--small">Company information</h4>
                    </div>
                    <div class="col-sm-12 formfield" auto_locator="businessEnquiryListContainerStep4">
                      <div class="col-sm-12 formfield">
                        <div class="form-group">
                          <label for="company" auto_locator="companyText">Company</label>
                          <input type="text" class="form-control " id="company" name="company" required=""
                            auto_locator="companyInput">
                          <div class="errorMsg">Enter your company name</div>
                        </div>
                      </div>
                      <div class="col-sm-12 formfield">
                        <div class="form-group">
                          <label for="position" auto_locator="positionText">Position</label>
                          <input type="text" class="form-control " id="position" name="position" required=""
                            auto_locator="positionInput">
                          <div class="errorMsg">Enter your position</div>
                        </div>
                      </div>
                      <div class="col-sm-12 formfield">
                        <div class="form-group">
                          <input id="consentcheckbox" required="" type="checkbox" name="consent">
                          <label for="consentcheckbox">
                            <p>my consentg</p>
                          </label>
                          <div class="errorMsg">Please select marketing consent</div>
                        </div>
                      </div>
                      <div class="col-sm-12 formfield">
                        <p></p>
                        <p>privacy policy text</p>
                        <p></p>
                      </div>
                    </div>
                  </div>
                  <div class="row no-gutters pw-progress" auto_locator="progressBarStep2">
                    <div class="col-lg-9">
                      <ul class="pw-progressbar_wrapper ">
                        <li class="step1 step-box  done">
                          <div class="steps">
                            <span class="circle"><span>1</span></span>
                          </div>
                        </li>
                        <li class="step1 step-box  done">
                          <div class="steps">
                            <span class="circle"><span>2</span></span>
                          </div>
                        </li>
                        <li class="step1 step-box  done">
                          <div class="steps">
                            <span class="circle"><span>3</span></span>
                          </div>
                        </li>
                        <li class="step1 step-box active ">
                          <div class="steps">
                            <span class="circle"><span>4</span></span>
                          </div>
                        </li>
                      </ul>

                    </div>
                    <div class="pw-progressbar__steps d-none d-lg-block col-md-3">
                      <p> step 4 of 4</p>
                    </div>
                  </div>
                  <div class="row no-gutters button-group">
                    <button data-target="#bef-step-3" type="button" class="tpatom-btn tpatom-btn--secondary previousbtn"
                      auto_locator="businessFormPreviousButtonStep4">
                      <span class="tp-next-btn__text">previous</span>
                      <i class="tpatom-button__icon icon-Arrow_Right_pw"></i>
                    </button>
                    <button data-target="#bfe-step-final" type="submit" id="step4btn" class="tpatom-btn tpatom-btn--primary "
                      auto_locator="contactUsSubmitButtonStep3">
                      <span class="tp-next-btn__text">submit</span>
                      <i class="tpatom-button__icon "></i>
                    </button>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!---step 4 end-->
          <!--step 5 start-->
          <div class="bef-tab-pane" role="tabpanel" id="bfe-step-final">
            <div class="row thankyou">
              <input type="text" name="pardot_extra_field" id="pardot_extra_field" class="d-none" tabindex="-1">
              <div class="col text-center" auto_locator="contactUsThankYouMessage">
                <div auto_locator="contactUsThankYouPageMessage">
                  <h2 class="tpatom-heading tpatom-heading--">thankyou</h2>
                </div>
                <div class="descriptionTextThankyou" auto_locator="contactUsThankYouPageDescription">
                  <p>see you soon</p>
                </div>
                <div class="button-group">

                  <button type="button" class="tpatom-btn tpatom-btn--primary newRequestBtn">
                    <span class="tp-next-btn__text">newrequest</span>
                    <i class="tpatom-button__icon "></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <!--step 5 end-->
        </form>
      </div>
    </div>
  </div>
</div>