<div class="pw-carousel pw-carouselwfilters" id="pw-carousel" data-module="CarouselWithFilters" data-locator="carousel-with-filters">
  <div class="pw-carousel__title text-center">
    <h4 class="tpatom-heading">Carosel Title</h4>
  </div>
  <div class="pw-carousel__filters text-center">
    <div class="pw-carousel__dropdown dropdown d-lg-inline-block text-left">
      <label class="d-block">Category</label>
      <button class="btn dropdown-toggle pw-carousel__dropdown__toggle category__toggle text-left" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Category 1
      </button>
      <div class="dropdown-menu pw-carousel__dropdown__menu js-filter-category">
        <a href="#" class="dropdown-item active" data-category="category_1">Category 1</a>
        <a href="#" class="dropdown-item" data-category="category_2">Category 2</a>
      </div>
    </div>
    <div class="pw-carousel__dropdown dropdown d-lg-inline-block text-left">
      <label class="d-block">Subcategory</label>
      <button class="btn dropdown-toggle pw-carousel__dropdown__toggle subcategory__toggle text-left" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
      <div class="dropdown-menu pw-carousel__dropdown__menu js-filter-subcategory">
        <div data-category="category_1" class="dropdown-category-wrapper">
          <a href="#" class="dropdown-item" data-category="subcat_1_1">Subcat 1-1</a>
          <a href="#" class="dropdown-item" data-category="subcat_1_2">Subcat 1-2</a>
          <a href="#" class="dropdown-item" data-category="subcat_1_3">Subcat 1-3</a>
        </div>
        <div data-category="category_2" class="dropdown-category-wrapper">
          <a href="#" class="dropdown-item" data-category="subcat_2_1">Subcat 2-1</a>
          <a href="#" class="dropdown-item" data-category="subcat_2_2">Subcat 2-2</a>
          <a href="#" class="dropdown-item" data-category="subcat_2_3">Subcat 2-3</a>
        </div>
      </div>
    </div>
  </div>
  <div class="pw-carousel__tabContent tab-content">
    <div class="pw-carousel__tabPane tab-pane fade show active js-carouselfiltered-item">
      <!--/* Carousel item renders here */-->
    </div>
  </div>
</div>
