<div id="pw-carousel-parent">
    <div class="pw-carousel js-pw-carousel" data-module="Carousel" id="pw-carousel-parent"></div>
    <div class="pw-carousels__mobileDropdown">
        <button class="pw-carousel__mobileDropdown__toggle">Toggle</button>
        <div class="pw-carousel__navPills__pill">Nav Pill</div>
        <a class="dropdown-item">Dropdown Item</a>
    </div>
</div>
