<div class="pw-contactus-form pw-padding--regular pw-margin--regular" id="pw-contactUs" data-module="ContactUs">
    <div class="tab-content">
        <form class="pw-form" accept-charset="UTF-8" action="/bin/tetrapak/pw-contactfooter" autocomplete="off"
            method="GET">
            <div class="tab-pane active" data-stepNumber="1" data-stepName="contactPurpose" role="tabpanel"
                id="cf-step-1">
                <div class="row no-gutters">
                    <div class="tab-content tab-content-steps">
                        <div class="row">
                            <div class="col-sm-12 formfield step1radio">
                                <div class="form-check formfields">
                                    <input class="form-check-input" type="radio" name="purposeOfContactOptions"
                                        id="sustainability" value="Sustainability">
                                    <label class="form-check-label" for="sustainability">
                                        Sustainability
                                    </label>
                                    <div class="form-check-radio"></div>
                                </div>
                                <div class="form-check formfields">
                                    <input class="form-check-input" type="radio" name="purposeOfContactOptions"
                                        id="career" value="Career">
                                    <label class="form-check-label" for="career">
                                        Career
                                    </label>
                                    <div class="form-check-radio"></div>
                                </div>
                                <div class="form-check formfields">
                                    <input class="form-check-input" type="radio" name="purposeOfContactOptions"
                                        id="other" value="Other">
                                    <label class="form-check-label" for="other">
                                        Other
                                    </label>
                                    <div class="form-check-radio"></div>
                                </div>
                                <input type="hidden" name="purposeOfContactTitle" class="form-control"
                                    id="purposeOfContact" required="true">
                            </div>
                        </div>
                        <div class="row no-gutters button-group">
                            <button data-target="#cf-step-2" type="button" class="tpatom-btn" id="step1btn">
                                <span class="tp-next-btn__text">next</span>
                                <i class="tpatom-button__icon icon-Arrow_Right_pw"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" data-stepNumber="2" data-stepName="contactInfo" role="tabpanel" id="cf-step-2">
                <div class="row no-gutters">
                    <div class="col-lg-6 separator">
                    </div>
                    <div class="col-lg-6">
                        <div class="tab-content tab-content-steps">
                            <div class="row">
                                <div class="col-sm-12 formfield">
                                    <div class="form-group">
                                        <label for="firstName">firstName</label>
                                        <input type="text" id="firstName" name="firstName" required="true">
                                        <div class="errorMsg">Please fill in this field</div>
                                    </div>
                                </div>
                                <div class="col-sm-12 formfield">
                                    <div class="form-group">
                                        <label for="lastName">firstName</label>
                                        <input type="text" id="lastName" name="lastName" required="true">
                                        <div class="errorMsg">Please fill in this field</div>
                                    </div>
                                </div>
                                <div class="col-sm-12 formfield">
                                    <div class="form-group">
                                        <label for="email">email</label>
                                        <input type="text" id="email" name="email" required="true" placeholder='emailPlaceholder'>
                                        <div class="errorMsg">email error</div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-lg-6">
                                    <div class="form-group country-field">
                                        <label for="country">country</label>
                                        <div class="pw-form__dropdown dropdown text-left">
                                            <button
                                                class="btn dropdown-toggle js-pw-form__dropdown__country js-pw-form__dropdown__toggle pw-form__dropdown__toggle"
                                                type="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                <span class="js-pw-form__dropdown__country-text">select Country</span>
                                                <i class="icon icon-Chevron_Down"></i></button>
                                            </button>
                                            <div
                                                class="dropdown-menu pw-form__dropdown__menu js-pw-form__dropdown__country-select">
                                                <a href="#" class="dropdown-item" data-country="denmark" data-countrytitle="Denmark">
                                                    Denmark
                                                </a>
                                                <a href="#" class="dropdown-item" data-country="canada" data-countrytitle="Canada">
                                                    Canada
                                                </a>
                                            </div>
                                            <input type="hidden" name="country" id="country" required="true">
                                        </div>
                                        <div class="errorMsg">please select an option</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters button-group">
                                <button data-target="#cf-step-1" type="button" class="tpatom-btn tpatom-btn--secondary">
                                    <span class="tp-next-btn__text">previous</span>
                                    <i class="tpatom-button__icon icon-Arrow_Right_pw"></i>
                                </button>
                                <button data-target="#cf-step-3" id="step2btn" type="button"
                                    class="tpatom-btn tpatom-btn--primary">
                                    <span class="tp-next-btn__text">next</span>
                                    <i class="tpatom-button__icon icon-Arrow_Right_pw"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" data-stepNumber="3" data-stepName="submitForm" role="tabpanel" id="cf-step-3">
                <div class="row no-gutters">
                    <div class="col-sm-12">
                        <div class="tab-content tab-content-steps">
                            <div class="serviceError"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="formfield">
                                        <label for="messageText">message</label>
                                        <textarea class="form-control" id="messageText" rows="5" name="message"
                                            required="true"></textarea>
                                        <div class="errorMsg">Please fill in this field</div>
                                        <input type="text" name="contactUsHoneyPot" id="contactUsHoneyPot"
                                            class="honeyPotField d-none" tabindex="-1" />
                                    </div>
                                </div>
                            </div>
                            <div class="row no-gutters button-group">
                                <button data-target="#cf-step-final" type="submit"
                                    class="tpatom-btn tpatom-btn--primary" id="step3btn">
                                    <span class="tp-next-btn__text">submit</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" role="tabpanel" id="cf-step-final">
                <div class="row thankyou">
                    <div class="button-group">
                        <button type="button" class="tpatom-btn tpatom-btn--primary newRequestBtn">
                            <span class="tp-next-btn__text">newrequest</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>