<div class="tp-cookie-consent js-cookie-consent tp-card d-none">
   <div class="tp-cookie-consent__text">We are using cookies. By continuing to use our website without changing the settings, you're agreeing to our use of cookies. <a href="https://google.com">Learn more about our cookie policy</a></div>
   <button type="button" class="btn tpatom-button tpatom-button--primary tp-cookie-consent__btn js-cookie-consent__btn">
   <span class="tpatom-button__text">Ok, I understand</span>
   </button>
</div>
