<footer class="tp-pw-footer js-tp-pw-footer" data-module="Footer">
    <div class="tp-pw-footer__container">
      <div class="d-md-block d-lg-flex">
        <div class="col-lg-3 text-lg-left">
          <div class="footer-logo footer-analytics">
          <a href="http://www.google.com" ctypeone="brand logo" ctitle="tetra pak">
               <img class="tp-pw-logo js-dynamic-media initial loaded" data-src="http://s7g10.scene7.com/is/image/tetrapak/logo_tetra_pak_white?wid=160&amp;fmt=png-alpha" src="http://s7g10.scene7.com/is/image/tetrapak/logo_tetra_pak_white?wid=160&amp;fmt=png-alpha" data-was-processed="true">
            </a>
          </div>
        </div>
        <div class="col-lg-6 text-lg-center">
          <ul class="tp-pw-footer__navigation-list" style="justify-content: center;">
            <li class="tp-pw-footer__navigation-list__item footer-analytics">
              <a class="tp-pw-footer__navigation-list__link tp-pw-footer__link tp-pw-footer-data-analytics tp-pw-footer-data-logo" href="#" data-link-type="internal" data-link-section="Navigation menu" data-link-parent-title="Footer links" data-link-name="Tetrapak" ctype="footer" ctypeone="footer nav link" target="_blank">Contact</a>
            </li>

            <li class="tp-pw-footer__navigation-list__item footer-analytics">
              <a class="tp-pw-footer__navigation-list__link tp-pw-footer__link tp-pw-footer-data-analytics" href="#" data-link-type="internal" data-link-section="Navigation menu" data-link-parent-title="Footer links" data-link-name="Tetrapak" ctype="footer" ctypeone="footer nav link">Lorem Ipsum</a>
            </li>

            <li class="tp-pw-footer__navigation-list__item footer-analytics">
              <a class="tp-pw-footer__navigation-list__link tp-pw-footer__link tp-pw-footer-data-analytics" href="#" data-link-type="internal" data-link-section="Navigation menu" data-link-parent-title="Footer links" data-link-name="Tetrapak" ctype="footer" ctypeone="footer nav link">About Us</a>
            </li>

            <li class="tp-pw-footer__navigation-list__item footer-analytics">
              <a class="tp-pw-footer__navigation-list__link tp-pw-footer__link tp-pw-footer-data-analytics" href="#" data-link-type="internal" data-link-section="Navigation menu" data-link-parent-title="Footer links" data-link-name="Tetrapak" ctype="footer" ctypeone="footer nav link">Lorem Ipsum</a>
            </li>

            <li class="tp-pw-footer__navigation-list__item footer-analytics">
              <a class="tp-pw-footer__navigation-list__link tp-pw-footer__link tp-pw-footer-data-analytics" href="#" data-link-type="internal" data-link-section="Navigation menu" data-link-parent-title="Footer links" data-link-name="Tetrapak" ctype="footer" ctypeone="footer nav link">Lorem Ipsum</a>
            </li>

            <li class="tp-pw-footer__navigation-list__item footer-analytics">
              <a class="tp-pw-footer__navigation-list__link tp-pw-footer__link" href="#" data-link-section="Navigation menu" data-link-parent-title="Footer links" data-link-name="Tetrapak" ctype="footer" ctypeone="footer nav link">Lorem Ipsum</a>
            </li>

            <li class="tp-pw-footer__navigation-list__item footer-analytics">
              <a class="tp-pw-footer__navigation-list__link tp-pw-footer__link" href="#" data-link-section="Navigation menu" data-link-type="internal" data-link-parent-title="Footer links" data-link-name="Tetrapak" ctype="footer" ctypeone="footer nav link">Case of studyyy</a>
            </li>

            <li class="tp-pw-footer__navigation-list__item footer-analytics">
              <a class="tp-pw-footer__navigation-list__link tp-pw-footer__link" href="#" data-link-section="Navigation menu" data-link-type="internal"  data-link-parent-title="Footer links" data-link-name="Tetrapak" ctype="footer" ctypeone="footer nav link">Lorem Ipsum</a>
            </li>

            <li class="tp-pw-footer__navigation-list__item footer-analytics">
              <a class="tp-pw-footer__navigation-list__link tp-pw-footer__link" href="#" data-link-section="Navigation menu" data-link-type="internal" data-link-parent-title="Footer links" data-link-name="Tetrapak" ctype="footer" ctypeone="footer nav link" target="_blank">Lorem Ipsum</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 text-lg-right">
          <div class="tp-pw-footer__social-media-items footer-analytics">
            <a class="tp-pw-footer__social-media-items__link tp-pw-footer__link" href="http://www.linkedin.com" target="_blank" datatag="external" ctype="footer" ctypeone="social share"><i class="icon-Facebook"></i></a>

            <a class="tp-pw-footer__social-media-items__link tp-pw-footer__link" href="http://www.linkedin.com" target="_blank" datatag="external" ctype="footer" ctypeone="social share"><i class="icon-Twitter"></i></a>

            <a class="tp-pw-footer__social-media-items__link tp-pw-footer__link" href="http://www.linkedin.com" target="_blank" datatag="external" ctype="footer" ctypeone="social share"><i class="icon-Youtube"></i></a>

            <a class="tp-pw-footer__social-media-items__link tp-pw-footer__link" href="http://www.linkedin.com" target="_blank" datatag="external" ctype="footer" ctypeone="social share"><i class="icon-Linkedin"></i></a>

            <a class="tp-pw-footer__social-media-items__link tp-pw-footer__link" href="http://www.linkedin.com" target="_blank" datatag="external" ctype="footer" ctypeone="social share"><i class="icon-Pinterest"></i></a>

            <a class="tp-pw-footer__social-media-items__link tp-pw-footer__link tp-pw-footer-data-analytics weChatLink" href="http://www.linkedin.com" target="_blank" datatag="external" ctype="footer" ctypeone="social share"><i class="icon-WeChat"></i></a>
          </div>
          <div class="tp-pw-sidebar__modal modal tp-modal js-qrCode-modal fade show" tabindex="-1" role="dialog"
            style="display: block;" aria-modal="true">
            <div class="modal-dialog modal-dialog-centered tp-modal-dialog modal-md">
              <div class="modal-content tp-modal-content pw-padding--regular pw-margin--regular">
                <div class="modal-header">
                  <h2 role="heading" class="">
                    <span class="pw-subscription__modalTitle">
                      <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Scan the code</font>
                      </font>
                    </span>
                  </h2>
                  <button type="button" class="tp-close-btn icon-Close_pw pw-subscription__header__close js-close-btn"
                    aria-label="close button" title="close button"></button>
                </div>
                <div class="modal-body text-center">
                  <img src="/content/dam/tetrapak/publicweb/wechatQRCode.png" alt="WeChat">
                </div>
              </div>
            </div>
        </div>
      </div>
      <div class="col text-center">
        <a href="#" class="tp_textBtn tp-pw-footer__link" id="tp-pw-footer__link">navigate to top <i class="icon-Circle_Arrow_Up"></i></a>
      </div>
    </div>
  </footer>
