<header class="tp-pw-header js-tp-pw-header" data-module="Header">
  <div class="tp-pw-header__container">
    <div class="d-flex align-items-end tp-container">
      <div class="tp-pw-header__logo-placeholder col-sm-6 col-lg-3 d-flex align-items-start">
        logo
      </div>
      <div class="tp-pw-header__main-navigation col-6 align-items-start">
        <ul class="d-flex justify-content-center">
          <li>
            <a href="#" datatag="type" ctype="header" ctypeone="header nav link" ctitle="title" title="title">link1</a>
          </li>
          <li>
            <a href="#" datatag="type" ctype="header" ctypeone="header nav link" ctitle="title2" title="title2">link2</a>
          </li>
          <li>
            <a href="#" datatag="type" ctype="header" ctypeone="header nav link" ctitle="title3" title="title3">link3</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 col-lg-3 d-flex align-items-start justify-content-end">
        <div class="tp-pw-header__secondary-navigation js-tp-pw-header__secondary-navigation">
          <a class="tp-pw-header__secondary-navigation__link js-tp-pw-header__search-box-toggle" href="#"
             data-root-path="roopath" data-results-path="resultpath"><i
            class="icon-Search"></i></a>
          <a class="tp-pw-header__secondary-navigation__link" href="#"><i class="icon-Avatar"></i><span>login</span></a>
          <a class="tp-pw-header__secondary-navigation__link" href="#" datatag="internal" ctype="header" ctypeone="country selector"><i class="icon-Globe"></i><span>EN</span><span><i
            class="icon-Chevron_Down"></i></span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="tp-pw-search-box js-tp-pw-search-box">
    <div class="tp-pw-search-box__input-wrapper">
      <div class="tp-container">
        <i class="icon-Search tp-pw-search-box__icon"></i>
        <input class="tp-pw-search-box__input js-tp-pw-search-box__input" type="iput" name="search_inp"
               id="f_search_inp" placeholder="Search">
        <a class="tp-pw-search-box__close-search-box js-tp-pw-search-box__close-search-box" href="#"><i
          class="icon-Close"></i></a>
        <div class="tp-pw-search-box__pointer js-tp-pw-search-box__pointer"
             data-point-to="js-tp-pw-header__search-box-toggle"></div>
      </div>
    </div>
  </div>
</header>
