<header class="tp-pw-header js-tp-pw-header wcmmode-edit" data-module="Header">
    <nav class="tp-pw-header__container">
      <div class="header-items d-flex align-items-center tp-container no-gutters">
        <button class="tp-pw-header__hamburger-close col-sm-3 js-tp-pw-header__hamburger"><i id="toggle-button" class="icon-Burger_pw"></i></button>
        <div class="tp-pw-header__logo-placeholder col-sm-6 col-lg-3 d-flex justify-content-lg-start justify-content-sm-center">


        <a class="js-tp-pw-header-logo-digital-data" href="/content/tetrapak/publicweb/lang-masters/en/home.html" data-link-section="Header Navigation" data-link-name="Tetra Pak">
         <img src="/content/dam/tetrapak/publicweb/en/global/header/Blue_Red_logo.png" alt="Logo Alt Text">
       </a>

        </div>
        <div class="tp-pw-header__main-navigation col-6">
          <ul class="d-flex justify-content-center">
            <li class="js-main-menu-link-hover hover-menu-link">
              <a class="js-tp-pw-header-item js-tp-pw-header-item-desktop" data-link-section="Header Menu Navigation" data-link-name="Find My Place" href="/content/tetrapak/publicweb/lang-masters/en/find-my-place.html" ctype="header" ctypeone="header nav link" ctitle="Find My Place">Find My Place</a>


  <div auto-locator="SectionMenuContainer" class="js-pw-navigation pw-navigation" aria-hidden="true" aria-expanded="false" data-module="Navigation">
    <hr class="hr-display">
    <div auto-locator="SectionMenuPaddingMargin" class="tp-container pw-navigation__container">
      <div class="row">
        <div auto-locator="L2OverViewLinkPadding" class="section-link-home"><a auto-locator="L2OverViewLinkFontStyle"></a></div>
        <div class="col-lg-12">
          <ul class="d-flex list-section-menu-links justify-content-center">
            <li auto-locator="SectionMenuLinksMargin">

  <div data-module="SectionMenu">
    <div class="section-menu-navigation-Link js-section-menu-navigation-Link pw-position-relative">
      <a auto-locator="SectionMenuLinksFontStyle-SectionMenuLinksPadding" data-link-name="Applications" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/applications.html" class=" section-menu-item-link js-section-menu-item-link" title="Applications">
        Applications


          <i auto-locator="ArrowIconsSectionMenu-ArrowIconsSectionMenuPadding" class="icon with-arrow icon--link icon-Chevron_Down"></i>


      </a>


  <div auto-locator="L3L4FlyoutContainer-L3L4FlyoutContainerPadding" class="pw-sub-section-menu js-sub-menu-navigation-Link" aria-hidden="true" aria-expanded="false">




  </div>


    </div>
  </div>

            </li>

            <li auto-locator="SectionMenuLinksMargin">

  <div data-module="SectionMenu">
    <div class="section-menu-navigation-Link js-section-menu-navigation-Link pw-position-relative">
      <a auto-locator="SectionMenuLinksFontStyle-SectionMenuLinksPadding" data-link-name="main technology areas" target="_self" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/main-technology-areas.html" class=" section-menu-item-link js-section-menu-item-link" title="main technology areas">
        main technology areas


          <i auto-locator="ArrowIconsSectionMenu-ArrowIconsSectionMenuPadding" class="icon with-arrow icon--link icon-Chevron_Down"></i>


      </a>


  <div auto-locator="L3L4FlyoutContainer-L3L4FlyoutContainerPadding" class="pw-sub-section-menu js-sub-menu-navigation-Link" aria-hidden="true" aria-expanded="false">



      <ul auto-locator="L3L4Flyout-L3L4FlyoutPadding">
        <li class="pseudo-category">
          <div>
            <div auto-locator="L3LinksFontStyle" class="pseudo-category-header">
              TECHNOLOGY AREAS
            </div>
            <hr>
            <div class="category-child-ul">

              <ul>
                <li>

  <a auto-locator="L4LinksFontStyle-L4LinksPadding" data-link-name="Blending" class=" sub-menu-navigation-link-item js-sub-menu-navigation-link-item" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/main-technology-areas/blending.html" target="_self">
    Blending


      <i class="icon without-arrow icon--link"></i>

  </a>

                </li>
              </ul>



            </div>
          </div>
        </li>
      </ul>


  </div>


    </div>
  </div>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

            </li>

            <li class="js-hover-menu-link hover-menu-link">
              <a class="js-tp-pw-header-item js-tp-pw-header-item-desktop" data-link-section="Header Menu Navigation" data-link-name="Solutions" href="/content/tetrapak/publicweb/lang-masters/en/solutions.html" ctype="header" ctypeone="header nav link" ctitle="Solutions">Solutions</a>

  <div data-module="MegaMenuSolution" class="pw-megamenu" aria-hidden="true" aria-expanded="false">

    <hr class="d-none d-lg-block">
    <nav>
      <div class="container-fluid pw-megamenu__top">

          <div class="heading-d-link">

  <h2 class="tpatom-heading tpatom-heading--regular">Tetra pak End to End Solutions</h2>

          </div>

        <div class="heading-cta d-md-none js-close-menu-solution">
          <i class="icon icon-Arrow_Right_pw js-design-close-menu-solution"></i>

  <h2 class="tpatom-heading tpatom-heading--regular">Solution</h2>

        </div>
        <ul class="row">
          <li class="col">
            <a class="js-navigation-Link" data-link-section="Tetra Pak end to end solutions" data-link-name="Solutions:Processing" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing.html" target="_self">


                <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/text-and-image/yoghurt-blueberries%201%20(2).png">


  <h3 class="tpatom-heading tpatom-heading--regular">Processing</h3>

              <p class="d-none d-lg-block">
                We enable brands in the cheese, dairy, prepared foods, ice cream and beverage businesses to find ways to move forward.
              </p>
            </a>
          </li>


          <li class="col">
            <a class="js-navigation-Link" data-link-section="Tetra Pak end to end solutions" data-link-name="Solutions:Packaging" href="/content/tetrapak/publicweb/lang-masters/en/solutions/packaging.html" target="_self">


                <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/tp-end-to-end-section--solutions/employee_inspecting_packages%201.png">


  <h3 class="tpatom-heading tpatom-heading--regular">Packaging</h3>

              <p class="d-none d-lg-block">
                Everyone in the food industry wants to boost sales, trim costs or come up with a taste sensation that takes the world by storm.
              </p>
            </a>
          </li>


          <li class="col">
            <a class="js-navigation-Link" data-link-section="Tetra Pak end to end solutions" data-link-name="Solutions:Services" href="/content/tetrapak/publicweb/lang-masters/en/solutions/services.html" target="_self">


                <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/tp-end-to-end-section--solutions/three_packages_feat_craft_effect_on_desk%201.png">


  <h3 class="tpatom-heading tpatom-heading--regular">Services</h3>

              <p class="d-none d-lg-block">
                The process of producing ice cream is highly complex. The producers need to control the structure of fat globules, ice.
              </p>
            </a>
          </li>
          <li class="col col-side-links">
            <ul class="list-side-links">
              <li>

  <a data-link-section="Related links" data-link-name="Solutions:Solutions Overview" href="/content/tetrapak/publicweb/lang-masters/en/solutions.html" class=" js-navigation-Link" title="Solutions Overview" target="_self">
    Solutions Overview
    <i class="icon icon--link d-none d-md-inline-block icon-Circle_Arrow_Right_pw"></i>
  </a>

              </li>

              <li>

  <a data-link-section="Related links" data-link-name="Solutions:Aseptic Solutions" href="/content/tetrapak/publicweb/lang-masters/en/solutions/aseptic-solutions.html" class=" js-navigation-Link" title="Aseptic Solutions" target="_self">
    Aseptic Solutions
    <i class="icon icon--link d-none d-md-inline-block icon-Circle_Arrow_Right_pw"></i>
  </a>

              </li>

              <li>

  <a data-link-section="Related links" data-link-name="Solutions:Product Development Centers" href="/content/tetrapak/publicweb/lang-masters/en/solutions/product-development-centers.html" class=" js-navigation-Link" title="Product Development Centers" target="_self">
    Product Development Centers
    <i class="icon icon--link d-none d-md-inline-block icon-Circle_Arrow_Right_pw"></i>
  </a>

              </li>

              <li>

  <a data-link-section="Related links" data-link-name="Solutions:Automation Solutions" href="/content/tetrapak/publicweb/lang-masters/en/solutions/automation-solutions.html" class=" js-navigation-Link" title="Automation Solutions" target="_self">
    Automation Solutions
    <i class="icon icon--link d-none d-md-inline-block icon-Circle_Arrow_Right_pw"></i>
  </a>

              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="container-fluid pw-megamenu__bottom">
        <div class="heading-bottom-cta js-open-menu">

  <h2 class="tpatom-heading tpatom-heading--regular">Food Categories</h2>

          <i class="icon icon-Arrow_Right_pw d-md-none"></i>
        </div>
        <div class="bottom-teaser-list js-bottom-teaser-list">
          <ul class="row">
            <li class="col d-md-none js-close-menu">
              <div>
                <i class="icon icon-Arrow_Right_pw d-md-none js-design-close-menu"></i>

  <h2 class="tpatom-heading tpatom-heading--regular">Food Categories</h2>

              </div>
            </li>
            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Cheese" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/applications/cheese-whey.html" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/food-category--solutions/cheese%201.png">

                <span class="img-title">Cheese</span>
              </a>
            </li>


            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Dairy" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/applications/diary-.html" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/food-category--solutions/milk%201.png">

                <span class="img-title">Dairy</span>
              </a>
            </li>


            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Food" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/applications/prepared-food-.html" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/food-category--solutions/fbf_food_landing_2%201.png">

                <span class="img-title">Food</span>
              </a>
            </li>


            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Ice Cream" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/applications/ice-cream.html" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/food-category--solutions/ice-cream%201.png">

                <span class="img-title">Ice Cream</span>
              </a>
            </li>


            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Juice &amp; Drink" href="#" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/food-category--solutions/juice-drinks%201.png">

                <span class="img-title">Juice &amp; Drink</span>
              </a>
            </li>


            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Pet Food" href="#" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/food-category--solutions/fbf_pet_food%201.png">

                <span class="img-title">Pet Food</span>
              </a>
            </li>


            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Plant based Drinks" href="#" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/food-category--solutions/fbf_sot_new-1%201.png">

                <span class="img-title">Plant based Drinks</span>
              </a>
            </li>


            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Whey Powder" href="#" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/food-category--solutions/powder-spoon%201.png">

                <span class="img-title">Whey Powder</span>
              </a>
            </li>


            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Wine and Spirits" href="#" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/food-category--solutions/wine-based-drinks%201.png">

                <span class="img-title">Wine and Spirits</span>
              </a>
            </li>


            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Demo Text" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/applications/diary-.html" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/text-and-image/shutterstock_104710151_flying_fruits.png">

                <span class="img-title">Demo Text</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


            </li>

            <li class="js-main-menu-link-hover hover-menu-link">
              <a class="js-tp-pw-header-item js-tp-pw-header-item-desktop" data-link-section="Header Menu Navigation" data-link-name="Sustainability" href="/content/tetrapak/publicweb/lang-masters/en/sustainability.html" ctype="header" ctypeone="header nav link" ctitle="Sustainability">Sustainability</a>


  <div auto-locator="SectionMenuContainer" class="js-pw-navigation pw-navigation" aria-hidden="true" aria-expanded="false" data-module="Navigation">
    <hr class="hr-display">
    <div auto-locator="SectionMenuPaddingMargin" class="tp-container pw-navigation__container">
      <div class="row">
        <div auto-locator="L2OverViewLinkPadding" class="section-link-home"><a auto-locator="L2OverViewLinkFontStyle" target="_self"></a></div>
        <div class="col-lg-12">
          <ul class="d-flex list-section-menu-links justify-content-center">
            <li auto-locator="SectionMenuLinksMargin">

  <div data-module="SectionMenu">
    <div class="section-menu-navigation-Link js-section-menu-navigation-Link pw-position-relative">
      <a auto-locator="SectionMenuLinksFontStyle-SectionMenuLinksPadding" data-link-name="Applications" target="_self" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/applications.html" class=" section-menu-item-link js-section-menu-item-link" title="Applications">
        Applications


          <i auto-locator="ArrowIconsSectionMenu-ArrowIconsSectionMenuPadding" class="icon with-arrow icon--link icon-Chevron_Down"></i>


      </a>


  <div auto-locator="L3L4FlyoutContainer-L3L4FlyoutContainerPadding" class="pw-sub-section-menu js-sub-menu-navigation-Link" aria-hidden="true" aria-expanded="false">




  </div>


    </div>
  </div>

            </li>

            <li auto-locator="SectionMenuLinksMargin">

  <div data-module="SectionMenu">
    <div class="section-menu-navigation-Link js-section-menu-navigation-Link pw-position-relative">
      <a auto-locator="SectionMenuLinksFontStyle-SectionMenuLinksPadding" data-link-name="main technology areas" target="_self" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/main-technology-areas.html" class=" section-menu-item-link js-section-menu-item-link" title="main technology areas">
        main technology areas


          <i auto-locator="ArrowIconsSectionMenu-ArrowIconsSectionMenuPadding" class="icon with-arrow icon--link icon-Chevron_Down"></i>


      </a>


  <div auto-locator="L3L4FlyoutContainer-L3L4FlyoutContainerPadding" class="pw-sub-section-menu js-sub-menu-navigation-Link" aria-hidden="true" aria-expanded="false">



      <ul auto-locator="L3L4Flyout-L3L4FlyoutPadding">
        <li class="pseudo-category">
          <div>
            <div auto-locator="L3LinksFontStyle" class="pseudo-category-header">
              TECHNOLOGY AREAS
            </div>
            <hr>
            <div class="category-child-ul">

              <ul>
                <li>

  <a auto-locator="L4LinksFontStyle-L4LinksPadding" data-link-name="Blending" class=" sub-menu-navigation-link-item js-sub-menu-navigation-link-item" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/main-technology-areas/blending.html" target="_self">
    Blending


      <i class="icon without-arrow icon--link"></i>

  </a>

                </li>
              </ul>



            </div>
          </div>
        </li>
      </ul>


  </div>


    </div>
  </div>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

            </li>

            <li class="js-main-menu-link-hover hover-menu-link">
              <a class="js-tp-pw-header-item js-tp-pw-header-item-desktop" data-link-section="Header Menu Navigation" data-link-name="Insights" href="/content/tetrapak/publicweb/lang-masters/en/insights.html" ctype="header" ctypeone="header nav link" ctitle="Insights">Insights</a>


  <div auto-locator="SectionMenuContainer" class="js-pw-navigation pw-navigation" aria-hidden="true" aria-expanded="false" data-module="Navigation">
    <hr class="hr-display">
    <div auto-locator="SectionMenuPaddingMargin" class="tp-container pw-navigation__container">
      <div class="row">
        <div auto-locator="L2OverViewLinkPadding" class="section-link-home"><a auto-locator="L2OverViewLinkFontStyle" target="_self"></a></div>
        <div class="col-lg-12">
          <ul class="d-flex list-section-menu-links justify-content-center">
            <li auto-locator="SectionMenuLinksMargin">

  <div data-module="SectionMenu">
    <div class="section-menu-navigation-Link js-section-menu-navigation-Link pw-position-relative">
      <a auto-locator="SectionMenuLinksFontStyle-SectionMenuLinksPadding" data-link-name="Applications" target="_self" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/applications.html" class=" section-menu-item-link js-section-menu-item-link" title="Applications">
        Applications


          <i auto-locator="ArrowIconsSectionMenu-ArrowIconsSectionMenuPadding" class="icon with-arrow icon--link icon-Chevron_Down"></i>


      </a>


  <div auto-locator="L3L4FlyoutContainer-L3L4FlyoutContainerPadding" class="pw-sub-section-menu js-sub-menu-navigation-Link" aria-hidden="true" aria-expanded="false">




  </div>


    </div>
  </div>

            </li>

            <li auto-locator="SectionMenuLinksMargin">

  <div data-module="SectionMenu">
    <div class="section-menu-navigation-Link js-section-menu-navigation-Link pw-position-relative">
      <a auto-locator="SectionMenuLinksFontStyle-SectionMenuLinksPadding" data-link-name="main technology areas" target="_self" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/main-technology-areas.html" class=" section-menu-item-link js-section-menu-item-link" title="main technology areas">
        main technology areas


          <i auto-locator="ArrowIconsSectionMenu-ArrowIconsSectionMenuPadding" class="icon with-arrow icon--link icon-Chevron_Down"></i>


      </a>


  <div auto-locator="L3L4FlyoutContainer-L3L4FlyoutContainerPadding" class="pw-sub-section-menu js-sub-menu-navigation-Link" aria-hidden="true" aria-expanded="false">



      <ul auto-locator="L3L4Flyout-L3L4FlyoutPadding">
        <li class="pseudo-category">
          <div>
            <div auto-locator="L3LinksFontStyle" class="pseudo-category-header">
              TECHNOLOGY AREAS
            </div>
            <hr>
            <div class="category-child-ul">

              <ul>
                <li>

  <a auto-locator="L4LinksFontStyle-L4LinksPadding" data-link-name="Blending" class=" sub-menu-navigation-link-item js-sub-menu-navigation-link-item" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/main-technology-areas/blending.html" target="_self">
    Blending


      <i class="icon without-arrow icon--link"></i>

  </a>

                </li>
              </ul>



            </div>
          </div>
        </li>
      </ul>


  </div>


    </div>
  </div>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

            </li>

            <li class="js-main-menu-link-hover hover-menu-link">
              <a class="js-tp-pw-header-item js-tp-pw-header-item-desktop" data-link-section="Header Menu Navigation" data-link-name="About Us" href="/content/tetrapak/publicweb/lang-masters/en/about-tetra-pak.html" ctype="header" ctypeone="header nav link" ctitle="About Us">About Us</a>


  <div auto-locator="SectionMenuContainer" class="js-pw-navigation pw-navigation" aria-hidden="true" aria-expanded="false" data-module="Navigation">
    <hr class="hr-display">
    <div auto-locator="SectionMenuPaddingMargin" class="tp-container pw-navigation__container">
      <div class="row">
        <div auto-locator="L2OverViewLinkPadding" class="section-link-home"><a auto-locator="L2OverViewLinkFontStyle" target="_self"></a></div>
        <div class="col-lg-12">
          <ul class="d-flex list-section-menu-links justify-content-center">
            <li auto-locator="SectionMenuLinksMargin">

  <div data-module="SectionMenu">
    <div class="section-menu-navigation-Link js-section-menu-navigation-Link pw-position-relative">
      <a auto-locator="SectionMenuLinksFontStyle-SectionMenuLinksPadding" data-link-name="Applications" target="_self" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/applications.html" class=" section-menu-item-link js-section-menu-item-link" title="Applications">
        Applications


          <i auto-locator="ArrowIconsSectionMenu-ArrowIconsSectionMenuPadding" class="icon with-arrow icon--link icon-Chevron_Down"></i>


      </a>


  <div auto-locator="L3L4FlyoutContainer-L3L4FlyoutContainerPadding" class="pw-sub-section-menu js-sub-menu-navigation-Link" aria-hidden="true" aria-expanded="false">




  </div>


    </div>
  </div>

            </li>

            <li auto-locator="SectionMenuLinksMargin">

  <div data-module="SectionMenu">
    <div class="section-menu-navigation-Link js-section-menu-navigation-Link pw-position-relative">
      <a auto-locator="SectionMenuLinksFontStyle-SectionMenuLinksPadding" data-link-name="main technology areas" target="_self" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/main-technology-areas.html" class=" section-menu-item-link js-section-menu-item-link" title="main technology areas">
        main technology areas


          <i auto-locator="ArrowIconsSectionMenu-ArrowIconsSectionMenuPadding" class="icon with-arrow icon--link icon-Chevron_Down"></i>


      </a>


  <div auto-locator="L3L4FlyoutContainer-L3L4FlyoutContainerPadding" class="pw-sub-section-menu js-sub-menu-navigation-Link" aria-hidden="true" aria-expanded="false">



      <ul auto-locator="L3L4Flyout-L3L4FlyoutPadding">
        <li class="pseudo-category">
          <div>
            <div auto-locator="L3LinksFontStyle" class="pseudo-category-header">
              TECHNOLOGY AREAS
            </div>
            <hr>
            <div class="category-child-ul">

              <ul>
                <li>

  <a auto-locator="L4LinksFontStyle-L4LinksPadding" data-link-name="Blending" class=" sub-menu-navigation-link-item js-sub-menu-navigation-link-item" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/main-technology-areas/blending.html" target="_self">
    Blending


      <i class="icon without-arrow icon--link"></i>

  </a>

                </li>
              </ul>



            </div>
          </div>
        </li>
      </ul>


  </div>


    </div>
  </div>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

            </li>
          </ul>
        </div>
        <div class="col-sm-3 col-lg-3 d-flex justify-content-end pw-header-icons">
          <div class="tp-pw-header__secondary-navigation js-tp-pw-header__secondary-navigation">
            <a class="tp-pw-header__secondary-navigation__link js-tp-pw-header__search-box-toggle" data-link-section="Header Navigation" data-link-name="Internal Search icon" href="#">
                <i class="icon-Search_pw"></i></a>
            <a class="tp-pw-header__secondary-navigation__link js-tp-pw-header-logo-digital-data" data-link-section="Header Navigation" data-link-name="contact us envelope" target="_self" title="Contact us" href="/content/tetrapak/publicweb/lang-masters/en/contact-us.html"><i class="icon-Envelope_pw"></i></a>
            <a class="tp-pw-header__secondary-navigation__link js-tp-pw-header-logo-digital-data" data-link-section="Header Navigation" data-link-name="market locator" href="#" datatag="internal" ctype="header" ctypeone="country selector"><i class="icon-Globe"></i></a>
              <span class="tp-pw-header__secondary-navigation"><i class="icon-ver-line"></i></span>
            <a class="tp-pw-header__secondary-navigation__link js-tp-pw-header-logo-digital-data" data-link-section="Header Navigation" data-link-name="login_My tetrapak" target="_blank" href="/content/tetrapak/publicweb/lang-masters/en/home.html"><i class="icon-Avatar"></i><span>My Tetra Pak</span></a>
          </div>
        </div>
      </div>
    </nav>

     <!-- Collapsible content -->
  <div class="tp-pw-mobile-navigation js-tp-pw-mobile-navigation">

    <!-- Links -->
    <ul class="tp-pw-mobile-navigation__primary">
      <li class="">
        <a data-link-section="Header Menu Navigation" data-link-name="Find My Place" class="d-flex justify-content-between js-tp-pw-header-item nav-link " href="/content/tetrapak/publicweb/lang-masters/en/find-my-place.html">
          <span>
            Find My Place
          </span>

        </a>


      </li>

      <li class="">
        <a data-link-section="Header Menu Navigation" data-link-name="Solutions" class="d-flex justify-content-between js-tp-pw-header-item nav-link js-click-menu-link" href="/content/tetrapak/publicweb/lang-masters/en/solutions.html">
          <span>
            Solutions
          </span>

            <i class="icon-Arrow_Right_pw"></i>

        </a>

  <div data-module="MegaMenuSolution" class="pw-megamenu" aria-hidden="true" aria-expanded="false">

    <hr class="d-none d-lg-block">
    <nav>
      <div class="container-fluid pw-megamenu__top">

          <div class="heading-d-link">

  <h2 class="tpatom-heading tpatom-heading--regular">Tetra pak End to End Solutions</h2>

          </div>

        <div class="heading-cta d-md-none js-close-menu-solution">
          <i class="icon icon-Arrow_Right_pw js-design-close-menu-solution"></i>

  <h2 class="tpatom-heading tpatom-heading--regular">Solution</h2>

        </div>
        <ul class="row">
          <li class="col">
            <a class="js-navigation-Link" data-link-section="Tetra Pak end to end solutions" data-link-name="Solutions:Processing" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing.html" target="_self">


                <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/text-and-image/yoghurt-blueberries%201%20(2).png">


  <h3 class="tpatom-heading tpatom-heading--regular">Processing</h3>

              <p class="d-none d-lg-block">
                We enable brands in the cheese, dairy, prepared foods, ice cream and beverage businesses to find ways to move forward.
              </p>
            </a>
          </li>


          <li class="col">
            <a class="js-navigation-Link" data-link-section="Tetra Pak end to end solutions" data-link-name="Solutions:Packaging" href="/content/tetrapak/publicweb/lang-masters/en/solutions/packaging.html" target="_self">


                <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/tp-end-to-end-section--solutions/employee_inspecting_packages%201.png">


  <h3 class="tpatom-heading tpatom-heading--regular">Packaging</h3>

              <p class="d-none d-lg-block">
                Everyone in the food industry wants to boost sales, trim costs or come up with a taste sensation that takes the world by storm.
              </p>
            </a>
          </li>


          <li class="col">
            <a class="js-navigation-Link" data-link-section="Tetra Pak end to end solutions" data-link-name="Solutions:Services" href="/content/tetrapak/publicweb/lang-masters/en/solutions/services.html" target="_self">


                <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/tp-end-to-end-section--solutions/three_packages_feat_craft_effect_on_desk%201.png">


  <h3 class="tpatom-heading tpatom-heading--regular">Services</h3>

              <p class="d-none d-lg-block">
                The process of producing ice cream is highly complex. The producers need to control the structure of fat globules, ice.
              </p>
            </a>
          </li>
          <li class="col col-side-links">
            <ul class="list-side-links">
              <li>

  <a data-link-section="Related links" data-link-name="Solutions:Solutions Overview" href="/content/tetrapak/publicweb/lang-masters/en/solutions.html" class=" js-navigation-Link" title="Solutions Overview" target="_self">
    Solutions Overview
    <i class="icon icon--link d-none d-md-inline-block icon-Circle_Arrow_Right_pw"></i>
  </a>

              </li>

              <li>

  <a data-link-section="Related links" data-link-name="Solutions:Aseptic Solutions" href="/content/tetrapak/publicweb/lang-masters/en/solutions/aseptic-solutions.html" class=" js-navigation-Link" title="Aseptic Solutions" target="_self">
    Aseptic Solutions
    <i class="icon icon--link d-none d-md-inline-block icon-Circle_Arrow_Right_pw"></i>
  </a>

              </li>

              <li>

  <a data-link-section="Related links" data-link-name="Solutions:Product Development Centers" href="/content/tetrapak/publicweb/lang-masters/en/solutions/product-development-centers.html" class=" js-navigation-Link" title="Product Development Centers" target="_self">
    Product Development Centers
    <i class="icon icon--link d-none d-md-inline-block icon-Circle_Arrow_Right_pw"></i>
  </a>

              </li>

              <li>

  <a data-link-section="Related links" data-link-name="Solutions:Automation Solutions" href="/content/tetrapak/publicweb/lang-masters/en/solutions/automation-solutions.html" class=" js-navigation-Link" title="Automation Solutions" target="_self">
    Automation Solutions
    <i class="icon icon--link d-none d-md-inline-block icon-Circle_Arrow_Right_pw"></i>
  </a>

              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="container-fluid pw-megamenu__bottom">
        <div class="heading-bottom-cta js-open-menu">

  <h2 class="tpatom-heading tpatom-heading--regular">Food Categories</h2>

          <i class="icon icon-Arrow_Right_pw d-md-none"></i>
        </div>
        <div class="bottom-teaser-list js-bottom-teaser-list">
          <ul class="row">
            <li class="col d-md-none js-close-menu">
              <div>
                <i class="icon icon-Arrow_Right_pw d-md-none js-design-close-menu"></i>

  <h2 class="tpatom-heading tpatom-heading--regular">Food Categories</h2>

              </div>
            </li>
            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Cheese" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/applications/cheese-whey.html" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/food-category--solutions/cheese%201.png">

                <span class="img-title">Cheese</span>
              </a>
            </li>


            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Dairy" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/applications/diary-.html" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/food-category--solutions/milk%201.png">

                <span class="img-title">Dairy</span>
              </a>
            </li>


            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Food" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/applications/prepared-food-.html" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/food-category--solutions/fbf_food_landing_2%201.png">

                <span class="img-title">Food</span>
              </a>
            </li>


            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Ice Cream" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/applications/ice-cream.html" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/food-category--solutions/ice-cream%201.png">

                <span class="img-title">Ice Cream</span>
              </a>
            </li>


            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Juice &amp; Drink" href="#" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/food-category--solutions/juice-drinks%201.png">

                <span class="img-title">Juice &amp; Drink</span>
              </a>
            </li>


            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Pet Food" href="#" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/food-category--solutions/fbf_pet_food%201.png">

                <span class="img-title">Pet Food</span>
              </a>
            </li>


            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Plant based Drinks" href="#" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/food-category--solutions/fbf_sot_new-1%201.png">

                <span class="img-title">Plant based Drinks</span>
              </a>
            </li>


            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Whey Powder" href="#" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/food-category--solutions/powder-spoon%201.png">

                <span class="img-title">Whey Powder</span>
              </a>
            </li>


            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Wine and Spirits" href="#" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/food-category--solutions/wine-based-drinks%201.png">

                <span class="img-title">Wine and Spirits</span>
              </a>
            </li>


            <li class="col">
              <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solutions:Demo Text" href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing/applications/diary-.html" target="_self">


                  <img class="d-none d-lg-block" src="/content/dam/tetrapak/publicweb/text-and-image/shutterstock_104710151_flying_fruits.png">

                <span class="img-title">Demo Text</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


      </li>

      <li class="">
        <a data-link-section="Header Menu Navigation" data-link-name="Sustainability" class="d-flex justify-content-between js-tp-pw-header-item nav-link " href="/content/tetrapak/publicweb/lang-masters/en/sustainability.html">
          <span>
            Sustainability
          </span>

        </a>


      </li>

      <li class="">
        <a data-link-section="Header Menu Navigation" data-link-name="Insights" class="d-flex justify-content-between js-tp-pw-header-item nav-link " href="/content/tetrapak/publicweb/lang-masters/en/insights.html">
          <span>
            Insights
          </span>

        </a>


      </li>

      <li class="">
        <a data-link-section="Header Menu Navigation" data-link-name="About Us" class="d-flex justify-content-between js-tp-pw-header-item nav-link " href="/content/tetrapak/publicweb/lang-masters/en/about-tetra-pak.html">
          <span>
            About Us
          </span>

        </a>


      </li>
    </ul>
    <ul class="tp-pw-mobile-navigation__secondary">
      <li class="tp-pw-mobile-navigation__secondary__link">
        <a class="nav-link js-tp-pw-header-logo-digital-data" target="_self" title="Contact us" href="/content/tetrapak/publicweb/lang-masters/en/contact-us.html" data-link-section="Header Navigation" data-link-name="contact us envelope"><i class="icon-Envelope_pw"></i><span></span></a>
      </li>
      <li class="tp-pw-mobile-navigation__secondary__link">
        <a class="d-flex justify-content-between nav-link js-tp-pw-header-logo-digital-data" href="#" data-link-section="Header Navigation" data-link-name="market locator"><span><i class="icon-Globe"></i>English(Canada)</span></a>
      </li>
      <li class="tp-pw-mobile-navigation__secondary__link">
        <a class="nav-link js-tp-pw-header-logo-digital-data" target="_blank" href="/content/tetrapak/publicweb/lang-masters/en/home.html" data-link-section="Header Navigation" data-link-name="login_My tetrapak"><i class="icon-Avatar"></i><span>My Tetra Pak</span></a>
      </li>
    </ul>
    <!-- Links -->

  </div>
  <div class="pw-header-search-bar js-pw-header-search-bar show" data-module="Searchbar">
    <div class="d-flex align-items-center tp-container pw-header-search-bar__container">
      <div class="row no-gutters">
        <div class="col-lg-8 input-box">
          <input type="text" class="search-bar-input js-search-bar-input" placeholder="What are you looking for?">
          <div class="icon-wrapper"><button class="search-bar-close"><i class="icon icon-Close_pw"></i></button>
            <div class="vl"></div>
            <a class="search-icon"><i class="icon icon-Search_pw"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </header>
