<div class="row">
  <div class="pw-banner col-md-12 textImage tp-container" data-module="ImageTextBanner">
		<img src="https://s7g10.scene7.com/is/image/tetrapakdev/Hero image?scl=1" class="img-responsive js-dynamic-media img-responsive" itemprop="image" alt="image">
	<div class="pw-banner__content pw-banner--left">
      <div class="pw-banner__content__subtitle">
         Join our webinar
      </div>
      <div class="pw-banner__content__title">
       	<h2 class="tpatom-heading tpatom-heading--regular">Smarter world, smarter business</h2>
      </div>
      <p class="pw-banner__content__description">Industry 4.0 is everything from robots and artificial intelligence to smart algorithms and self-driving cars. In this webinar we give you as a food manufacturer insights on Industry 4.0 and the opportunities that it brings</p>
        <a href="/content/tetrapak/public-web/global/en.html" class="js-banner-analytics" target="_blank" rel="noopener noreferrer">
        <span class="tpatom-link__text sly-text">Link Label</span>
         <i class="icon icon-Circle_Arrow_Right"></i>
      </a>
    </div>
  </div>
</div>
