<div class="tp-pw-image" data-module="Image">
        <a class="js-tp-pw-image" href="#" id="#" title="title" data-link-section="Image Click" data-link-parent-title="image" data-link-name="not available">
            <img class="img-responsive" src=""  alt="alt"/>
        </a>
    </div>