<div class="pw-listContentImage pw-theme--grayscale-lighter pw-padding--regular" data-module="ListContentImage"
id="pw-listContentImage-1">
  <div class="row">
      <div class="col-lg-4 pw-listContentImage__linksList">
          <div class="desktop-tabMenu d-none d-lg-block">
            <h2 class="pw-listContentImage__title">Title</h2>
            <div class="pw-listContentImage__tabMenu">
                <ul class="pw-listContentImage__tabMenuList">
                    <li class="pw-listContentImage__tabMenuListItem">
                        <a href="#" data-tab-id="mtab-1-1"
                           data-tab-count="1" data-parent-title="title1"
                           data-link-name="item1" class="pw-listContentImage__tabMenuListItem__link d-block">
                            Item 1
                            <i class="icon-Chevron_Right tp-icon"></i>
                        </a>
                    </li>
                    <li class="pw-listContentImage__tabMenuListItem">
                        <a href="#" data-tab-id="mtab-2-1"
                           data-tab-count="2" data-parent-title="title2"
                           data-link-name="item2" class="pw-listContentImage__tabMenuListItem__link d-block">
                            Item 2
                            <i class="icon-Chevron_Right tp-icon"></i>
                        </a>
                    </li>
                </ul>
            </div>
          </div>
      </div>
      <div class="col-lg-8 pw-listContentImage__contentContainer">
          <div class="pw-listContentImage__contentWrapper">
            <div class="pw-listContentImage__editTab col-12" data-tab-id="mtab-1-1">
              <div class="pw-listContentImage__contentTab active"
                   data-tab-id="mtab-1-1">
                   <h1>Content 1</h1>
              </div>
            </div>
            <div class="pw-listContentImage__editTab col-12" data-tab-id="mtab-2-1">
              <div class="pw-listContentImage__contentTab"
                   data-tab-id="mtab-2-1">
                   <h1>Content 2</h1>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
