<div class="pw-container" data-locator="ManagePreferencesForm" data-module="ManagePreferences">
    <div class="pw-padding--regular pw-theme--grayscale-white pw-margin--regular" auto_locator="subscriptionFormRightContainerStep1">
      <form data-selected-communication="pw.form.managepreferences.marketingcomm,pw.form.managepreferences.eventinvitation" data-selected-interest="pw.form.businessenq.packaging,pw.form.businessenq.processing" class="pw-form pw-form-managePreferences" accept-charset="UTF-8" autocomplete="off">
        <div class="tab-content-steps">
          <div class="row">
            <div class="col-sm-12" auto_locator="subscriptionFormListContainerStep1">
              <div class="row no-gutters">
                <div class="col-sm-12 main-heading">
                  Manage Your Preferences
                </div>
                <div class="col-md-12 col-lg-6 email">
                  <div class="heading-label">Is this you</div>
                  <div class="email-input-box"><span>email</span></div>
                </div>
                <div class="col-sm-12 setting-update">
                  <div class="heading-label">Your Settings</div>
                  <div class="setting-update-input">
                    rich text
                  </div>
                </div>
              </div>
              <div class="selection-box">
                <div class="row no-gutters">
                  <!-- Country Language Selection -->
                  <div class="section-wrapper col-md-12 col-lg-3">
                    <div class="section-box padding-16">
                      <div class="selection-box-title">Country and Language</div>
                      <div class="input-field-wrapper country-field-wrapper option-selection disable-input">
                        <div class="formfield country-field country" data-country-name-label="Country">
                          <label class="country-value" for="country">Country</label>
                          <div class="pw-form__dropdown dropdown text-left">
                            <button class="btn dropdown-toggle country-dropdown js-pw-form__dropdown__toggle pw-form__dropdown__toggle category__toggle text-left disabled button-disabled" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                <span class="js-pw-form__dropdown__country-text">Australia</span>



                              <i class="icon icon-Arrow_Right_pw"></i>
                            </button>

                            <div class="dropdown-menu pw-form__dropdown__menu country-dropdown-select">
                              <a href="#" class="dropdown-item" id="ddtest" data-country="denmark" data-countrytitle="Denmark">
                                Denmark
                              </a>

                              <a href="#" class="dropdown-item" data-country="australia" data-countrytitle="Australia">
                                Australia
                              </a>
                            </div>

                          </div>

                        </div>
                      </div>
                      <div class="input-field-wrapper language-field-wrapper disable-input">
                        <div class="formfield">
                          <label for="language">Please select Preferred Language</label>
                          <div class="pw-form__dropdown dropdown text-left">
                            <button class="btn dropdown-toggle js-pw-form__dropdown__toggle pw-form__dropdown__toggle text-left disabled button-disabled" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <span class="js-pw-form__dropdown__language-text">Select Language</span>
                              <i class="icon icon-Arrow_Right_pw"></i></button>

                            <div class="dropdown-menu pw-form__dropdown__menu laguage-dropdown-select">
                              <a href="#" class="dropdown-item" id="language-select" data-languagekey="english" data-languagetitle="English">
                                English
                              </a>

                              <a href="#" class="dropdown-item" data-language="french" data-languagetitle="French">
                                French
                              </a>
                            </div>

                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="hr"></div>

                  </div>
                  <!-- Types of communication -->
                  <div class="js-types-of-communication section-wrapper padding-24 col-md-12 col-lg-3">

                    <div class="section-box padding-16">
                      <div class="selection-box-title">Yes, I want to receive</div>
                      <div name='communication-type-input' class="formfield input-group" data-input-value="false">
                        <div class="row no-gutters">
                          <div class="input-field-wrapper col-lg-12 option-selection disable-input">
                            <div class="checboxField">
                              <label auto-locator="managePreferenceFormMarketingCommunicationText" class="checkbox-label typeOfCommunicationLabel" for="marketing-communication">
                                <input auto-locator="managePreferenceFormMarketingCommunicationInput" id="marketing-communication" class="form-control tpatom-checkbox__input float-left communication-type visible-false" type="checkbox" name="marketing-communication" value="Marketing Communication" disabled="disabled">
                                <i class="tpatom-checkbox__icon icon icon-Tick float-left disable-checkbox"></i>
                                Marketing Communication</label>
                            </div>
                          </div>
                          <div class="input-field-wrapper col-lg-12 option-selection disable-input">

                            <div class="checboxField">
                              <label auto-locator="managePreferenceFormPressMediaText" class="checkbox-label typeOfCommunicationLabel" for="pres-and-media-communication">
                                <input auto-locator="managePreferenceFormPressMediaCommunicationTnput" id="pres-and-media-communication" class="form-control tpatom-checkbox__input float-left communication-type visible-false" type="checkbox" name="pres-and-media-communication" value="Press and Media Communication" disabled="disabled">
                                <i class="tpatom-checkbox__icon icon icon-Tick float-left disable-checkbox"></i>
                                Press and Media Communication</label>
                            </div>
                          </div>

                          <div class="input-field-wrapper col-lg-12 option-selection disable-input">

                            <div class="checboxField">
                              <label auto-locator="managePreferenceFormEventInvitationText" class="checkbox-label typeOfCommunicationLabel" for="event-invitation">
                                <input auto-locator="managePreferenceFormEventInvitationInput" id="event-invitation" class="form-control tpatom-checkbox__input float-left communication-type visible-false" type="checkbox" name="event-invitation" value="Event Invitations" disabled="disabled">
                                <i class="tpatom-checkbox__icon icon icon-Tick float-left disable-checkbox"></i>
                                Event Invitations</label>
                            </div>
                          </div>

                          <div class="col-lg-12">

                            <div class="checboxField">
                              <label class="checkbox-label" auto-locator="managePreferenceFormUnsubscribeText" for="unsubscribe-all">
                                <input auto-locator="managePreferenceFormUnsubscribeInput" id="unsubscribe-all" class="form-control tpatom-checkbox__input float-left communication-type" type="checkbox" name="unsubscribe" value="Unsubscribe from all">
                                <i class="tpatom-checkbox__icon icon icon-Tick float-left"></i>
                                Unsubscribe from all</label>
                            </div>
                          </div>

                        </div>

                        <div class="errorMsg">Please select the checkbox</div>
                      </div>
                    </div>
                    <div class="hr"></div>

                  </div>

                  <!-- Area of interest -->

                  <div class="padding-24 col-md-12 col-lg-6">

                    <div class="selection-box-title">Areas of Interest</div>
                    <div name="area-of-interest" class="formfield input-group" data-input-value="false">
                      <div class="input-field-wrapper row no-gutters disable-input">
                        <div class="col-md-12 col-lg-6">
                          <div class="option-selection">
                            <div class="checboxField">
                              <label class="checkbox-label" auto-locator="managePreferenceFormServicesText" for="services">
                                <input auto-locator="managePreferenceFormServicesInput" id="services" class="form-control tpatom-checkbox__input float-left interest-type visible-false" type="checkbox" name="services" value="Services" disabled="disabled">
                                <i class="tpatom-checkbox__icon icon icon-Tick float-left disable-checkbox"></i>
                                Services</label>
                            </div>
                          </div>
                          <div class="option-selection">

                            <div class="checboxField">
                              <label auto-locator="managePreferenceFormPackagingText" class="checkbox-label typeOfCommunicationLabel" for="packaging">
                                <input auto-locator="managePreferenceFormPackagingTnput" id="packaging" class="form-control tpatom-checkbox__input float-left interest-type visible-false" type="checkbox" name="packaging" value="Packaging" disabled="disabled">
                                <i class="tpatom-checkbox__icon icon icon-Tick float-left disable-checkbox"></i>
                                Packaging</label>
                            </div>
                          </div>

                          <div class="option-selection">

                            <div class="checboxField">
                              <label auto-locator="managePreferenceFormProcessingText" class="checkbox-label typeOfCommunicationLabel" for="processing">
                                <input auto-locator="managePreferenceFormProcessingInput" id="processing" class="form-control tpatom-checkbox__input float-left interest-type visible-false" type="checkbox" name="processing" value="Processing" disabled="disabled">
                                <i class="tpatom-checkbox__icon icon icon-Tick float-left disable-checkbox"></i>
                                Processing</label>
                            </div>
                          </div>

                        </div>
                        <div class="col-md-12 col-lg-6">
                          <div class="option-selection">
                            <div class="checboxField">
                              <label class="checkbox-label" auto-locator="managePreferenceFormInnovationText" for="innovation">
                                <input auto-locator="managePreferenceFormInnovationInput" id="innovation" class="form-control tpatom-checkbox__input float-left interest-type visible-false" type="checkbox" name="innovation" value="Innovation" disabled="disabled">
                                <i class="tpatom-checkbox__icon icon icon-Tick float-left disable-checkbox"></i>
                                Innovation</label>
                            </div>
                          </div>
                          <div class="option-selection">

                            <div class="checboxField">
                              <label auto-locator="managePreferenceFormSustainabilityText" class="checkbox-label typeOfCommunicationLabel" for="sustainability">
                                <input auto-locator="managePreferenceFormSustainabilityTnput" id="sustainability" class="form-control tpatom-checkbox__input float-left interest-type visible-false" type="checkbox" name="sustainability" value="Sustainability" disabled="disabled">
                                <i class="tpatom-checkbox__icon icon icon-Tick float-left disable-checkbox"></i>
                                Sustainability</label>
                            </div>
                          </div>

                          <div class="option-selection">

                            <div class="checboxField">
                              <label auto-locator="managePreferenceFormEndtoEndSolutionText" class="checkbox-label typeOfCommunicationLabel" for="end-to-end-solutions">
                                <input auto-locator="managePreferenceFormEndtoEndSolutionInput" id="end-to-end-solutions" class="form-control tpatom-checkbox__input float-left interest-type visible-false" type="checkbox" name="end-to-end-solutions" value="End-to-End solutions" disabled="disabled">
                                <i class="tpatom-checkbox__icon icon icon-Tick float-left disable-checkbox"></i>
                                End-to-End solutions</label>
                            </div>
                          </div>

                        </div>
                      </div>

                      <div class="errorMsg">Please select the checkbox</div>
                    </div>
                  </div>



                </div>
              </div>

              <!-- unsubscribe all content -->
              <div class="unsubscribe-box hide row no-gutters show">
                <div class="col-md-12 col-lg-6">
                  <div class="unsubscribe-header heading-label">
                    Do you want to unsubscribe from all communication
                  </div>
                  <div class="unsubscribe-description">
                    rich text
                  </div>
                  <div name="consent-checkbox" class="consent-checkbox formfield input-group" data-input-value="false">

                    <div class="checboxField">
                      <label class="checkbox-label consentlabel" for="consentcheckbox">
                        <input id="consentcheckbox" class="form-control tpatom-checkbox__input float-left" type="checkbox" name="consent" required="">
                        <i class="tpatom-checkbox__icon icon icon-Tick float-left"></i>
                        I do not want to receive communication from Tetra Pak</label>
                    </div>
                    <div class="errorMsg consent-error">Please select the checkbox</div>
                  </div>
                </div>
              </div>
              <!-- privacy policy -->
              <div class="privacy-policy" auto_locator="managePreferencesPolicyText">
                rich text
              </div>


            </div>
          </div>
          <!-- save preferences button -->
          <div class="row no-gutters savePreferenceButton button-group hide">

    <button data-target="#sf-step-final" type="button" id="save-preferences" class="tpatom-btn tpatom-btn--primary " auto_locator="managePreferenceFormSavePreferenceStep">
        <span class="tp-next-btn__text">Save Preferences</span>
        <i class="tpatom-button__icon "></i>
    </button>

          </div>
          <!-- unsubscribe button -->
          <div class="row no-gutters unsubscribeButton button-group show">

    <button data-target="#sf-step-final" type="button" id="unsubscribe-button" class="tpatom-btn tpatom-btn--primary previewLinkBtn" auto_locator="managePreferenceFormUnsubscribeStep">
        <span class="tp-next-btn__text">Unsubscribe</span>
        <i class="tpatom-button__icon "></i>
    </button>

          </div>
        </div>
      </form>
    </div>
  </div>
