<div data-module="MegaMenuSolution" class="pw-megamenu" aria-hidden="true" aria-expanded="false">

    <hr class="d-none d-lg-block">
    <nav>
        <div class="container-fluid pw-megamenu__top">

            <div class="heading-d-link">
                <a href="/content/dam/publicweb/solution.html" title="Tetra Pak end-to-end solutions"
                    aria-label="Tetra Pak end-to-end solutions" target="_self">

                    <h2 class="tpatom-heading tpatom-heading--regular">Tetra Pak end-to-end solutions</h2>

                </a>

            </div>

            <div class="heading-cta d-md-none js-close-menu-solution">
                <i class="icon icon-Chevron_Left js-design-close-menu-solution"></i>

                <h2 class="tpatom-heading tpatom-heading--regular">Solution</h2>

            </div>
            <ul class="row">
                <li class="col">
                    <a class="js-navigation-Link" data-link-section="Tetra Pak end to end solutions"
                        data-link-name="Solution:Processing" href="/content/dam/publicweb/processing.html"
                        target="_self">


                        <img class="d-none d-lg-block"
                            src="https://assets.tetrapak.com/static/publishingimages/services/content-image/beaker-pouring-particles.jpg"
                            alt="Processing">


                        <h3 class="tpatom-heading tpatom-heading--regular">Processing</h3>

                        <p class="d-none d-lg-block">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the
                        </p>
                    </a>
                </li>


                <li class="col">
                    <a class="js-navigation-Link" data-link-section="Tetra Pak end to end solutions"
                        data-link-name="Solution:Packaging" href="/content/dam/publicweb/packaging.html" target="_self">


                        <img class="d-none d-lg-block"
                            src="https://assets.tetrapak.com/static/publishingimages/packaging/content-image/three_packages_feat_craft_effect_on_desk.png"
                            alt="Packaging">


                        <h3 class="tpatom-heading tpatom-heading--regular">Packaging</h3>

                        <p class="d-none d-lg-block">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the
                        </p>
                    </a>
                </li>


                <li class="col">
                    <a class="js-navigation-Link" data-link-section="Tetra Pak end to end solutions"
                        data-link-name="Solution:Services" href="/content/dam/publicweb/processing.html" target="_self">


                        <img class="d-none d-lg-block"
                            src="https://assets.tetrapak.com/static/publishingimages/packaging/content-image/icv-promo.jpg"
                            alt="Services">


                        <h3 class="tpatom-heading tpatom-heading--regular">Services</h3>

                        <p class="d-none d-lg-block">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the
                        </p>
                    </a>
                </li>


                <li class="col">
                    <a class="js-navigation-Link" data-link-section="Tetra Pak end to end solutions"
                        data-link-name="Solution:Lorem ipsum" href="/content/dam/publicweb/packaging.html"
                        target="_self">


                        <img class="d-none d-lg-block"
                            src="https://assets.tetrapak.com/static/publishingimages/services/content-image/straws-from-above.jpg"
                            alt="Lorem ipsum">


                        <h3 class="tpatom-heading tpatom-heading--regular">Lorem ipsum</h3>

                        <p class="d-none d-lg-block">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the
                        </p>
                    </a>
                </li>
                <li class="col col-side-links">
                    <ul class="list-side-links">
                        <li>

                            <a data-link-section="Related links" data-link-name="Solution:Solutions overview"
                                href="/content/dam/publicweb/solutions/overview.html" class=" js-navigation-Link"
                                title="Solutions overview" target="_self">
                                Solutions overview
                                <i class="icon icon--link d-none d-xl-inline-block icon-Circle_Arrow_Right_pw"></i>
                            </a>

                        </li>

                        <li>

                            <a data-link-section="Related links" data-link-name="Solution:Aseptic solutions"
                                href="/content/dam/publicweb/solutions/aseptic.html" class=" js-navigation-Link"
                                title="Aseptic solutions" target="_self">
                                Aseptic solutions
                                <i class="icon icon--link d-none d-xl-inline-block icon-Circle_Arrow_Right_pw"></i>
                            </a>

                        </li>

                        <li>

                            <a data-link-section="Related links" data-link-name="Solution:Product Development Centers"
                                href="/content/dam/publicweb/solutions/product.html" class=" js-navigation-Link"
                                title="Product Development Centers" target="_self">
                                Product Development Centers
                                <i class="icon icon--link d-none d-xl-inline-block icon-Circle_Arrow_Right_pw"></i>
                            </a>

                        </li>

                        <li>

                            <a data-link-section="Related links" data-link-name="Solution:Automation Solutions"
                                href="/content/dam/publicweb/solutions/automation.html" class=" js-navigation-Link"
                                title="Automation Solutions" target="_self">
                                Automation Solutions
                                <i class="icon icon--link d-none d-xl-inline-block icon-Circle_Arrow_Right_pw"></i>
                            </a>

                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="container-fluid pw-megamenu__bottom">
            <div class="heading-bottom-cta js-open-menu">
                <a href="/content/dam/publicweb/food.html" title="Food categories" aria-label="Food categories"
                    target="_self">

                    <h2 class="tpatom-heading tpatom-heading--regular">Food categories</h2>

                </a>

                <i class="icon icon-Chevron_Right d-md-none"></i>
            </div>
            <div class="bottom-teaser-list js-bottom-teaser-list">
                <ul class="row">
                    <li class="col d-md-none js-close-menu">
                        <div>
                            <i class="icon icon-Chevron_Left d-md-none js-design-close-menu"></i>

                            <h2 class="tpatom-heading tpatom-heading--regular">Food categories</h2>

                        </div>
                    </li>
                    <li class="col">
                        <a class="js-navigation-Link" data-link-section="Food categories"
                            data-link-name="Solution:Cheese" href="/content/dam/publicweb/cheese.html" target="_self">


                            <img class="d-none d-lg-block"
                                src="https://assets.tetrapak.com/static/publishingimages/sustainability/content-image/tetra-recart-carton-package.jpg"
                                alt="Cheese">

                            <span class="img-title">Cheese</span>
                        </a>
                    </li>


                    <li class="col">
                        <a class="js-navigation-Link" data-link-section="Food categories"
                            data-link-name="Solution:Dairy" href="/content/dam/publicweb/dairy.html" target="_self">


                            <img class="d-none d-lg-block"
                                src="https://assets.tetrapak.com/static/publishingimages/sustainability/content-image/tetra-recart-carton-package.jpg"
                                alt="Dairy">

                            <span class="img-title">Dairy</span>
                        </a>
                    </li>


                    <li class="col">
                        <a class="js-navigation-Link" data-link-section="Food categories" data-link-name="Solution:Food"
                            href="/content/dam/publicweb/dairy.html" target="_self">


                            <img class="d-none d-lg-block"
                                src="https://assets.tetrapak.com/static/publishingimages/sustainability/content-image/tetra-recart-carton-package.jpg"
                                alt="Food">

                            <span class="img-title">Food</span>
                        </a>
                    </li>


                    <li class="col">
                        <a class="js-navigation-Link" data-link-section="Food categories"
                            data-link-name="Solution:Ice Cream" href="/content/dam/publicweb/dairy.html" target="_self">


                            <img class="d-none d-lg-block"
                                src="https://assets.tetrapak.com/static/publishingimages/sustainability/content-image/tetra-recart-carton-package.jpg"
                                alt="Ice Cream">

                            <span class="img-title">Ice Cream</span>
                        </a>
                    </li>


                    <li class="col">
                        <a class="js-navigation-Link" data-link-section="Food categories"
                            data-link-name="Solution:Plant Based Drinks" href="/content/dam/publicweb/dairy.html"
                            target="_self">


                            <img class="d-none d-lg-block"
                                src="https://assets.tetrapak.com/static/publishingimages/sustainability/content-image/tetra-recart-carton-package.jpg"
                                alt="Plant Based Drinks">

                            <span class="img-title">Plant Based Drinks</span>
                        </a>
                    </li>


                    <li class="col">
                        <a class="js-navigation-Link" data-link-section="Food categories"
                            data-link-name="Solution:Wine and spiris" href="/content/dam/publicweb/dairy.html"
                            target="_self">


                            <img class="d-none d-lg-block"
                                src="https://assets.tetrapak.com/static/publishingimages/sustainability/content-image/tetra-recart-carton-package.jpg"
                                alt="Wine and spiris">

                            <span class="img-title">Wine and spiris</span>
                        </a>
                    </li>


                    <li class="col">
                        <a class="js-navigation-Link" data-link-section="Food categories"
                            data-link-name="Solution:Pet Food" href="/content/dam/publicweb/dairy.html" target="_self">


                            <img class="d-none d-lg-block"
                                src="https://assets.tetrapak.com/static/publishingimages/sustainability/content-image/tetra-recart-carton-package.jpg"
                                alt="Pet Food">

                            <span class="img-title">Pet Food</span>
                        </a>
                    </li>


                    <li class="col">
                        <a class="js-navigation-Link" data-link-section="Food categories"
                            data-link-name="Solution:Plant Based Drinks" href="/content/dam/publicweb/dairy.html"
                            target="_self">


                            <img class="d-none d-lg-block"
                                src="https://assets.tetrapak.com/static/publishingimages/sustainability/content-image/tetra-recart-carton-package.jpg"
                                alt="Plant Based Drinks">

                            <span class="img-title">Plant Based Drinks</span>
                        </a>
                    </li>


                    <li class="col">
                        <a class="js-navigation-Link" data-link-section="Food categories"
                            data-link-name="Solution:Dairy" href="/content/dam/publicweb/dairy.html" target="_self">


                            <img class="d-none d-lg-block"
                                src="https://assets.tetrapak.com/static/publishingimages/sustainability/content-image/tetra-recart-carton-package.jpg"
                                alt="Dairy">

                            <span class="img-title">Dairy</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
