<div data-module="MegaMenuSolution" class="pw-megamenu" style="display: none;">
    <hr class="d-none d-xl-block">
    <nav>
        <div class="container-fluid pw-megamenu__top">
            <h2 class="tpatom-heading tpatom-heading--regular">Tetra pak end to end solution</h2>
            <div class="heading-cta d-md-none">
                <i class="icon icon-Chevron_Left js-close-menu"></i>
                <h2 class="tpatom-heading tpatom-heading--regular">Solution</h2>
            </div>
            <ul class="row">
                <li class="col">
                    <a href="/content/tetrapak/public-web/lang-masters.html">
                        <img src="https://s7g10.scene7.com/is/image/tetrapakdev/beaker-pouring-particles?scl=1" class="img-responsive js-dynamic-media " itemprop="image" alt="Processing" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/beaker-pouring-particles?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/beaker-pouring-particles?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/beaker-pouring-particles?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/beaker-pouring-particles?scl=1" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/beaker-pouring-particles?scl=1">
                        <h3 class="tpatom-heading tpatom-heading--regular">Processing</h3>
                        <p class="d-none d-xl-block">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        </p>
                    </a>
                </li>
                <li class="col">
                    <a href="/content/tetrapak/public-web/lang-masters/en/insights.html">
                        <img src="https://s7g10.scene7.com/is/image/tetrapakdev/three_packages_feat_craft_effect_on_desk?scl=1" class="img-responsive js-dynamic-media " itemprop="image" alt="Packaging" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/three_packages_feat_craft_effect_on_desk?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/three_packages_feat_craft_effect_on_desk?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/three_packages_feat_craft_effect_on_desk?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/three_packages_feat_craft_effect_on_desk?scl=1" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/three_packages_feat_craft_effect_on_desk?scl=1">
                        <h3 class="tpatom-heading tpatom-heading--regular">Packaging</h3>
                        <p class="d-none d-xl-block">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        </p>
                    </a>
                </li>
                <li class="col">
                    <a href="/content/tetrapak/public-web/lang-masters/en/insights.html">
                        <img src="https://s7g10.scene7.com/is/image/tetrapakdev/icv-promo?scl=1" class="img-responsive js-dynamic-media " itemprop="image" alt="Services" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/icv-promo?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/icv-promo?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/icv-promo?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/icv-promo?scl=1" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/icv-promo?scl=1">
                        <h3 class="tpatom-heading tpatom-heading--regular">Services</h3>
                        <p class="d-none d-xl-block">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        </p>
                    </a>
                </li>
                <li class="col">
                    <a href="/content/tetrapak/public-web/lang-masters/en/insights.html">
                        <img src="https://s7g10.scene7.com/is/image/tetrapakdev/straws-from-above?scl=1" class="img-responsive js-dynamic-media " itemprop="image" alt="Lorem ipsum" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/straws-from-above?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/straws-from-above?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/straws-from-above?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/straws-from-above?scl=1" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/straws-from-above?scl=1">
                        <h3 class="tpatom-heading tpatom-heading--regular">Lorem ipsum</h3>
                        <p class="d-none d-xl-block">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                        </p>
                    </a>
                </li>
                <li class="col col-side-links">
                    <ul class="list-side-links">
                        <li>
                            <a href="/content/tetrapak/public-web/lang-masters/en/article.html"> Solutions overview
                                 <i class="icon icon-Circle_Arrow_Right d-none d-xl-inline-block"></i>
                            </a>

                        </li>
                        <li>
                            <a href="/content/campaigns.html"> Aseptic solutions
                                 <i class="icon icon-Circle_Arrow_Right d-none d-xl-inline-block"></i>
                            </a>

                        </li>
                        <li>
                            <a href="/content/tetrapak/public-web/lang-masters/en/article.html">  Product Development Centers
                                 <i class="icon icon-Circle_Arrow_Right d-none d-xl-inline-block"></i>
                            </a>

                        </li>
                        <li>
                            <a href="/content/tetrapak/public-web/lang-masters/en/solutions.html"> Automation Solutions
                                 <i class="icon icon-Circle_Arrow_Right d-none d-xl-inline-block"></i>
                            </a>

                        </li>
                </ul>
                </li>
            </ul>
        </div>
        <div class="container-fluid pw-megamenu__bottom">
            <div class="heading-bottom-cta">
                <h2 class="tpatom-heading tpatom-heading--regular">Food categories</h2>
                <i class="icon icon-Chevron_Right d-md-none js-open-menu"></i>
            </div>
            <div class="bottom-teaser-list js-bottom-teaser-list">
                <ul class="row">
                    <li class="col d-md-none">
                        <div>
                            <i class="icon icon-Chevron_Left d-md-none js-close-menu"></i>
                            <h2 class="tpatom-heading tpatom-heading--regular">Food categories</h2>
                        </div>
                    </li>
                    <li class="col">
                        <a href="/content/tetrapak/public-web/lang-masters.html">
                            <img src="https://s7g10.scene7.com/is/image/tetrapakdev/majestic-rainbow?scl=1" class="img-responsive js-dynamic-media " itemprop="image" alt="Cheese" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/majestic-rainbow?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/majestic-rainbow?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/majestic-rainbow?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/majestic-rainbow?scl=1" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/majestic-rainbow?scl=1">
                        </a>
                    </li>
                    <li class="col">
                        <a href="/content/tetrapak/public-web/lang-masters.html">
                            <img src="https://s7g10.scene7.com/is/image/tetrapakdev/camp-fire?scl=1" class="img-responsive js-dynamic-media " itemprop="image" alt="Dairy" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/camp-fire?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/camp-fire?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/camp-fire?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/camp-fire?scl=1" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/camp-fire?scl=1">
                        </a>
                    </li>
                    <li class="col">
                        <a href="/content/tetrapak/public-web/lang-masters.html">
                            <img src="https://s7g10.scene7.com/is/image/tetrapakdev/tetra-recart-carton-package?scl=1" class="img-responsive js-dynamic-media " itemprop="image" alt="Food" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/tetra-recart-carton-package?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/tetra-recart-carton-package?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/tetra-recart-carton-package?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/tetra-recart-carton-package?scl=1" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/tetra-recart-carton-package?scl=1">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
