<div auto-locator="SectionMenuContainer" data-selected-header="Insights"
    class="d-lg-block sticky js-pw-navigation pw-navigation" aria-hidden="true" aria-expanded="false"
    data-module="Navigation">
    <hr class="hr-display">
    <a class="d-lg-none collapse-button collapsed" data-toggle="collapse" href="#sectionMenuCollapse" role="button"
        aria-expanded="false" aria-controls="sectionMenuCollapse">Insights
        <i auto-locator="ArrowIconsSectionMenu-ArrowIconsSectionMenuPadding"
            class="icon without-arrow icon-Arrow_Right_pw"></i>
    </a>
    <div id="sectionMenuCollapse" auto-locator="SectionMenuPaddingMargin"
        class="tp-container js-pw-navigation__container pw-navigation__container d-lg-block collapse" style="">
        <div class="row">

            <div class="col-lg-12">
                <ul class="list-section-menu-links" id="sectionMenuCollapseWrapper_99">
                    <li class="pw-mobile-navigation-section-list" auto-locator="SectionMenuLinksMargin">

                        <div data-module="SectionMenu">
                            <div
                                class="section-menu-navigation-Link js-section-menu-navigation-Link pw-position-relative">
                                <a auto-locator="SectionMenuLinksFontStyle-SectionMenuLinksPadding"
                                    data-link-name="Tetra Pak Index" target="_self"
                                    data-url-link="/content/tetrapak/public-web/lang-masters/en/insights/tetra-pak-index.html"
                                    class="collapsed section-menu-item-link js-section-menu-item-link"
                                    title="Tetra Pak Index" data-toggle="collapse" href="#subSectionMenuCollapse_3"
                                    role="button" aria-expanded="false">
                                    Tetra Pak Index


                                </a>

                                <!--sub section menu for mobile-->
                                <div class="collapse d-lg-none " id="subSectionMenuCollapse_3"
                                    data-parent="#sectionMenuCollapseWrapper_99">


                                    <div auto-locator="L3L4FlyoutContainer-L3L4FlyoutContainerPadding"
                                        class="pw-sub-section-menu js-sub-menu-navigation-Link" aria-hidden="true"
                                        aria-expanded="false">




                                    </div>


                                </div>
                                <!--sub section menu for web-->
                                <div class="display-lg">


                                    <div auto-locator="L3L4FlyoutContainer-L3L4FlyoutContainerPadding"
                                        class="pw-sub-section-menu js-sub-menu-navigation-Link" aria-hidden="true"
                                        aria-expanded="false">




                                    </div>


                                </div>
                            </div>
                        </div>

                    </li>

                    <li class="pw-mobile-navigation-section-list" auto-locator="SectionMenuLinksMargin">

                        <div data-module="SectionMenu">
                            <div
                                class="section-menu-navigation-Link js-section-menu-navigation-Link pw-position-relative">
                                <a auto-locator="SectionMenuLinksFontStyle-SectionMenuLinksPadding"
                                    data-link-name="Test external" target="_blank"
                                    data-url-link="https://www.google.com"
                                    class="collapsed section-menu-item-link js-section-menu-item-link"
                                    title="Test external" data-toggle="collapse" href="#subSectionMenuCollapse_4"
                                    role="button" aria-expanded="false">
                                    Test external

                                    <i auto-locator="ArrowIconsSectionMenu-ArrowIconsSectionMenuPadding"
                                        class="icon is-external icon-Union"></i>


                                </a>

                                <!--sub section menu for mobile-->
                                <div class="collapse d-lg-none " id="subSectionMenuCollapse_4"
                                    data-parent="#sectionMenuCollapseWrapper_99">


                                    <div auto-locator="L3L4FlyoutContainer-L3L4FlyoutContainerPadding"
                                        class="pw-sub-section-menu js-sub-menu-navigation-Link" aria-hidden="true"
                                        aria-expanded="false">




                                    </div>


                                </div>
                                <!--sub section menu for web-->
                                <div class="display-lg">


                                    <div auto-locator="L3L4FlyoutContainer-L3L4FlyoutContainerPadding"
                                        class="pw-sub-section-menu js-sub-menu-navigation-Link" aria-hidden="true"
                                        aria-expanded="false">




                                    </div>


                                </div>
                            </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
