<div class="section-menu-navigation-Link js-section-menu-navigation-Link pw-position-relative">
    <a auto-locator="SectionMenuLinksFontStyle-SectionMenuLinksPadding" data-link-name="main technology areas"
        target="_self"
        href="/content/tetrapak/public-web/lang-masters/en/solutions/processing/main-technology-areas.html"
        class=" section-menu-item-link js-section-menu-item-link" title="main technology areas">
        main technology areas


        <i auto-locator="ArrowIconsSectionMenu-ArrowIconsSectionMenuPadding"
            class="icon with-arrow icon--link icon-Chevron_Down"></i>


    </a>


    <div auto-locator="L3L4FlyoutContainer-L3L4FlyoutContainerPadding"
        class="pw-sub-section-menu js-sub-menu-navigation-Link" aria-hidden="true" aria-expanded="false">



        <ul auto-locator="L3L4Flyout-L3L4FlyoutPadding">
            <li class="pseudo-category">
                <div>
                    <div auto-locator="L3LinksFontStyle" class="pseudo-category-header">
                        TECHNOLOGY AREAS
                    </div>
                    <hr>
                    <div class="category-child-ul">

                        <ul>
                            <li>

                                <a auto-locator="L4LinksFontStyle-L4LinksPadding" data-link-name="Blending"
                                    class=" sub-menu-navigation-link-item js-sub-menu-navigation-link-item"
                                    href="/content/tetrapak/public-web/lang-masters/en/solutions/processing/main-technology-areas/blending.html"
                                    target="_self">
                                    Blending


                                    <i class="icon without-arrow icon--link"></i>

                                </a>

                            </li>
                        </ul>



                    </div>
                </div>
            </li>
        </ul>


    </div>


</div>
