<div class="tp-pw-sidebar" data-module="SocialSidebar">
  <ul>
    <li>
      <a class="tp-pw-sidebar__social-media-items__link tp-pw-sidebar__link tp-pw-sidebar-data-analytics"
        href="https://play.google.com/store/apps/details?id=com.michatapp.im" data-link-name="WeChat">
        <i class="icon-WeChat_pw"></i>
      </a>
    </li>
  </ul>
  <div class="tp-pw-sidebar__modal modal tp-modal js-qrCode-modal fade show" tabindex="-1" role="dialog"
    style="display: block;" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered tp-modal-dialog modal-md">
      <div class="modal-content tp-modal-content pw-padding--regular pw-margin--regular">
        <div class="modal-header">
          <h2 role="heading" class="">
            <span class="pw-subscription__modalTitle">
              <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Scan the code</font>
              </font>
            </span>
          </h2>
          <button type="button" class="tp-close-btn icon-Close_pw pw-subscription__header__close js-close-btn"
            aria-label="close button" title="close button"></button>
        </div>
        <div class="modal-body text-center">
          <img src="/content/dam/tetrapak/publicweb/wechatQRCode.png" alt="WeChat">
        </div>
      </div>
    </div>
  </div>

</div>