<div class="modal tp-modal pw-softconversion js-soft-modal textimage fade show" id="lang-modal" data-module="Softconversion" tabindex="-1" role="dialog" aria-modal="true" style="display: block; padding-left: 0px;">
        <input type="hidden" class="ComponentNameSoft" name="ComponentNameSoft" value="textimage">
        <div class="modal-dialog modal-dialog-centered tp-modal-dialog">
      <div class="modal-content tp-modal-content">

        <div class="modal-header pw-softconversion__header" auto_locator="countrySelectorHeader">
          <h4 role="heading" class="pw-softconversion__header__heading">download white paper
          </h4>
          <button type="button" class="tp-close-btn icon-Close pw-softconversion__header__close js-close-btn"></button>
        </div>

        <div class="modal-body pw-softconversion__body row no-gutters" auto_locator="countryListBox">

        <div class="col-lg-12">
        <div class="pw-softconversion__form" id="pw-contactUs" auto_locator="contactUsParentContainerStep1">
            <div class="tab-content">
                <form class="pw-form pw-form-softconversion-textimage" accept-charset="UTF-8" data-softconversion-api-url="http://go.tetrapak.com/l/857883/2020-05-29/w6z5" autocomplete="off">
                    <div class="tab-pane tab-textimage active" data-stepnumber="1" data-stepname="contactPurpose" role="tabpanel" id="cf-step-1-textimage">
                        <div class="row no-gutters">

                            <div class="col-lg-7 separator" auto_locator="contactUsRightContainerStep1">
                                <div class="tab-content tab-content-steps">
                                    <div class="row">
                                        <div class="col-sm-12 description"><p>testing&nbsp; testing&nbsp;testing&nbsp;testing&nbsp;testing&nbsp; testing&nbsp;</p>
<p>testing&nbsp;testing&nbsp;testing&nbsp;testing&nbsp;testing&nbsp;testing&nbsp;testing&nbsp;</p>
<p>testing&nbsp;testing&nbsp;testing&nbsp;testing&nbsp;testing&nbsp;testing&nbsp; </p>
<p>testing&nbsp;testing&nbsp;testing&nbsp;testing&nbsp;testing&nbsp;testing&nbsp;</p>
<p> testing&nbsp;testing&nbsp;</p>
<p>testing&nbsp;testing&nbsp;testing&nbsp;testing&nbsp;</p>
</div>
                                        <!-- <div class="col-sm-12 radioHeading">
                                            <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                                data-sly-call="" />
                                        </div> -->
                                        <p class="col-sm-12 radioHeading">Type of Visitor</p>
                                        <div class="col-sm-12 formfield" auto_locator="contactUsRightContainerOptionListContainerStep1">





    <div class="form-check formfields ">
        <input class="form-check-input" type="radio" name="typeOfVisitorOptions" id="customer-textimage" value="Customer">
        <label class="form-check-label " for="customer-textimage">
            Customer
        </label>
        <div class="form-check-radio"></div>
    </div>


    <div class="form-check formfields ">
        <input class="form-check-input" type="radio" name="typeOfVisitorOptions" id="talent-textimage" value="Talent">
        <label class="form-check-label " for="talent-textimage">
            Talent
        </label>
        <div class="form-check-radio"></div>
    </div>


    <div class="form-check formfields ">
        <input class="form-check-input" type="radio" name="typeOfVisitorOptions" id="pressandmedia-textimage" value="Press and media">
        <label class="form-check-label mb-0" for="pressandmedia-textimage">
            Press and media
        </label>
        <div class="form-check-radio"></div>
    </div>

                                            <input type="hidden" name="typeOfVisitorTitle-textimage" class="form-control" id="typeOfVisitor" required="">
                                            <div class="errorMsg purposeOfContactError">Please select type of visitor
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-gutters pw-progress" auto_locator="progressBarStep1">
                                        <div class="col-lg-9">

    <ul class="pw-progressbar_wrapper ">


        <li class="step1 step-box active ">
            <div class="steps">
                <span class="circle"><span>1</span></span>
            </div>
        </li>



        <li class="step1 step-box  ">
            <div class="steps">
                <span class="circle"><span>2</span></span>
            </div>
        </li>



        <li class="step1 step-box  ">
            <div class="steps">
                <span class="circle"><span>3</span></span>
            </div>
        </li>
    </ul>

                                        </div>
                                        <div class="pw-progressbar__steps d-none d-lg-block col-md-3">
                                            <p>
                                                Step 1 of 3
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row no-gutters button-group">

    <button data-target="#cf-step-2-textimage" type="button" class="tpatom-btn tpatom-btn--primary " auto_locator="contactUsNextButtonStep1" id="step1btn">
        <span class="tp-next-btn__text">Next</span>
        <i class="tpatom-button__icon icon-Arrow_Right_pw"></i>
    </button>

                                    </div>
                                </div>
                            </div>

                             <div class="col-lg-5" auto_locator="contactUsLeftContainerStep1">
                                <div class="row no-gutters">
                                    <div class="col-sm-12 main-heading" auto_locator="contactUsLeftContainerHeadingTextStep1">

  <h4 class="tpatom-heading tpatom-heading--small">Summary</h4>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                   <div class="tab-pane tab-textimage" data-stepnumber="2" data-stepname="contactInfo" role="tabpanel" id="cf-step-2-textimage">
                        <div class="row no-gutters">

                            <div class="col-lg-7 separator">
                                <div class="tab-content tab-content-steps">
                                    <div class="row no-gutters">
                                        <div class="col-sm-12 right-heading" auto_locator="contactUsRightContainerHeadingTextStep2">

  <h4 class="tpatom-heading tpatom-heading--small">Contact information</h4>

                                        </div>
                                        <div class="col-sm-12 formfield">


    <div class="form-group">
        <label for="firstName-textimage" auto_locator="firstNameHelpText">First name</label>
        <input type="text" class="form-control " id="firstName-textimage" name="firstName-textimage" required="" auto_locator="firstNameInput">
        <div class="errorMsg">Enter your first name</div>
    </div>

                                        </div>
                                        <div class="col-sm-12 formfield">


    <div class="form-group">
        <label for="lastName-textimage" auto_locator="lastNameHelpText">Last name</label>
        <input type="text" class="form-control " id="lastName-textimage" name="lastName-textimage" required="" auto_locator="lastNameInput">
        <div class="errorMsg">Enter your last name</div>
    </div>

                                        </div>
                                        <div class="col-sm-12 formfield">


    <div class="form-group">
        <label for="email-textimage" auto_locator="emailHelpText">E-mail</label>
        <input type="email" class="form-control " id="email-textimage" name="email-textimage" placeholder="example@example.com" required="" auto_locator="emailInput">
        <div class="errorMsg">Please enter your email in this format: example@example.com</div>
    </div>

                                        </div>
                                        <!-- <div class="col-sm-12 col-lg-6">
                                            <div class="formfield country-field">

                                                <div class="errorMsg">pleaseselectanoption</div>
                                            </div>
                                        </div> -->
                                         <div class="country-field-wrapper col-sm-12 col-lg-4">
                                              <div class="formfield country-field country" data-country-name-label="Country">
                                                <label for="country" auto_locator="contactUsCountrySelectorHelpText">Country</label>
                                                <div class="pw-form__dropdown dropdown text-left">
                                                    <button class="btn dropdown-toggle country-dropdown js-pw-form__dropdown__toggle pw-form__dropdown__toggle category__toggle text-left" type="button" data-toggle="dropdown" aria-haspopup="true" auto_locator="countrySelectDropdown" aria-expanded="false">
                                                        <span class="js-pw-form__dropdown__country-text">Argentina</span>
                                                        <i class="icon icon-Arrow_Right_pw"></i></button>

                                                    <div class="dropdown-menu pw-form__dropdown__menu country-dropdown-select" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 6484px, 0px);" x-out-of-boundaries="">
                                                        <a href="#" id="ddtest" class="dropdown-item" data-country="albania" data-countrytitle="Albania">
                                                            Albania
                                                        </a>

                                                        <a href="#" class="dropdown-item" data-country="algeria" data-countrytitle="Algeria">
                                                            Algeria
                                                        </a>


                                                    </div>
                                                    <input type="hidden" name="countryTitle" class="form-control validateForTags" id="country" required="" value="Argentina">
                                                </div>
                                                <div data-country-error-msg="Please select country" class="errorMsg">Please select country</div>
                                            </div>
                                          </div>
                                    </div>
                                    <div class="row no-gutters pw-progress" auto_locator="progressBarStep2">
                                        <div class="col-lg-9">

    <ul class="pw-progressbar_wrapper ">


        <li class="step1 step-box  done">
            <div class="steps">
                <span class="circle"><span>1</span></span>
            </div>
        </li>



        <li class="step1 step-box active ">
            <div class="steps">
                <span class="circle"><span>2</span></span>
            </div>
        </li>



        <li class="step1 step-box  ">
            <div class="steps">
                <span class="circle"><span>3</span></span>
            </div>
        </li>
    </ul>

                                        </div>
                                        <div class="pw-progressbar__steps d-none d-lg-block col-md-3">
                                            <p>  Step 2 of 3</p>
                                        </div>
                                    </div>
                                    <div class="row no-gutters button-group">

    <button data-target="#cf-step-1-textimage" type="button" class="tpatom-btn tpatom-btn--secondary previousbtn" auto_locator="contactUsPreviousButtonStep2">
        <span class="tp-next-btn__text">Previous</span>
        <i class="tpatom-button__icon icon-Arrow_Right_pw"></i>
    </button>


    <button data-target="#cf-step-3-textimage" type="button" class="tpatom-btn tpatom-btn--primary " auto_locator="contactUsNextButtonStep2" id="step2btn">
        <span class="tp-next-btn__text">Next</span>
        <i class="tpatom-button__icon icon-Arrow_Right_pw"></i>
    </button>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5" auto_locator="contactUsLeftContainerSummaryAreaStep2">
                                <!-- <div class="row no-gutters">
                                    <div class="col-sm-12 main-heading" data-sly-test="download white paper"
                                        auto_locator="contactUsLeftContainerHeadingStep2">
                                        <sly data-sly-test="download white paper"
                                            data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                            data-sly-call="" />
                                    </div>
                                </div> -->

                                    <div class="row no-gutters">
                                        <div class="col-sm-12 main-heading">

  <h4 class="tpatom-heading tpatom-heading--small">Summary</h4>

                                        </div>
                                    </div>
                                    <div class="row no-gutters summary">
                                        <div class="col-lg-12">Type of Visitor</div>
                                        <div class="col-lg-12 typeOfVisitorTitle-textimage"></div>
                                    </div>

                            </div>

                        </div>
                    </div>
                    <div class="tab-pane tab-textimage" data-stepnumber="3" data-stepname="submitForm" role="tabpanel" id="cf-step-3-textimage">
                        <div class="row no-gutters">

                            <div class="col-lg-7 separator">
                                <div class="tab-content tab-content-steps">
                                    <div class="serviceError">Something went wrong. Please try again.</div>
                                    <div class="row no-gutters">
                                        <!-- <div class="col-sm-12 right-heading" auto_locator="contactUsRightContainerHeadingTextStep3">
                                            <sly
                                                data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                                data-sly-call="" />
                                        </div> -->

                                        <div class="col-sm-12 formfield company-textimage">


    <div class="form-group">
        <label for="company-textimage" auto_locator="companyHelpText">Company</label>
        <input type="text" class="form-control " id="company-textimage" name="company-textimage" required="" auto_locator="companyInput">
        <div class="errorMsg">Enter your company name</div>
    </div>

                                        </div>
                                        <div class="col-sm-12 formfield company-textimage">


    <div class="form-group">
        <label for="position-textimage" auto_locator="positionHelpText">Position</label>
        <input type="text" class="form-control " id="position-textimage" name="position-textimage" required="" auto_locator="positionInput">
        <div class="errorMsg">Enter your position</div>
    </div>

                                        </div>

                                        <div class="col-sm-12 formfield marketing-consent">
                                            <div class="row form-group no-gutters">
                                           <div class="col-sm-1">
                                            <label class="tpatom-checkbox__label clearfix">
                                            <input type="checkbox" class="form-control js-pw-search-results-filter-check tpatom-checkbox__input float-left" id="market-consent-textimage" name="market-consent" required="true" auto_locator="positionInput" checked="checked">
                                            <i class="tpatom-checkbox__icon icon icon-Tick float-left"></i>
                                            </label>
                                        </div>

                                        <div class="col-sm-11"><p>Yes, I want to receive communication from Tetra Pak<b> </b></p>
 </div>
                                            <div class="errorMsg">Please select marketing consent</div>
                                        </div>
                                        </div>
                                         <input type="text" name="pardot_extra_field_textimage" id="pardot_extra_field_textimage" class="d-none" tabindex="-1">
                                         <input type="hidden" name="site_language_textimage" id="site_language_textimage" value="en" class="d-none" tabindex="-1">
                                         <input type="hidden" name="site_country_textimage" id="site_country_textimage" value="lang-masters" class="d-none" tabindex="-1">

                                            <div class="privacy-policy" auto_locator="contactUsPolicyTextStep3">
                                                <p>I agree that the information I have provided will only be used in accordance with <a href="https://www.tetrapak.com/about/legal-information" title="https://www.tetrapak.com/about/legal-information" target="_self">Tetra Pak’s privacy policy</a></p>

                                               <!-- <p> User should be able to navigate through the forms using Previous & Next and edit the provided information. While navigating the stored information should be pre-populated.</p> -->
                                            </div>

                                    </div>
                                    <div class="row no-gutters pw-progress" auto_locator="progressBarStep3">
                                        <div class="col-lg-9">

    <ul class="pw-progressbar_wrapper ">


        <li class="step1 step-box  done">
            <div class="steps">
                <span class="circle"><span>1</span></span>
            </div>
        </li>



        <li class="step1 step-box  done">
            <div class="steps">
                <span class="circle"><span>2</span></span>
            </div>
        </li>



        <li class="step1 step-box active ">
            <div class="steps">
                <span class="circle"><span>3</span></span>
            </div>
        </li>
    </ul>

                                        </div>
                                        <div class="pw-progressbar__steps d-none d-lg-block col-lg-3">
                                            <p>  Step 3 of 3</p>
                                        </div>
                                    </div>
                                    <div class="row no-gutters button-group">

    <button data-target="#cf-step-2-textimage" type="button" class="tpatom-btn tpatom-btn--secondary previousbtn" auto_locator="contactUsPreviousButtonStep3">
        <span class="tp-next-btn__text">Previous</span>
        <i class="tpatom-button__icon icon-Arrow_Right_pw"></i>
    </button>


    <button data-target="#cf-step-downloadReady-textimage" type="submit" class="tpatom-btn tpatom-btn--primary " auto_locator="contactUsSubmitButtonStep3">
        <span class="tp-next-btn__text">Submit</span>
        <i class="tpatom-button__icon "></i>
    </button>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5">
                                <!-- <div class="row no-gutters">
                                    <div class="col-sm-12 main-heading" data-sly-test="download white paper"
                                        auto_locator="contactUsLeftContainerHeadingTextStep3">
                                        <sly data-sly-test="download white paper"
                                            data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                            data-sly-call="" />
                                    </div>
                                </div> -->
                                <div auto_locator="contactUsLeftContainerSummaryAreaStep2">
                                    <div class="row no-gutters">
                                        <div class="col-sm-12 main-heading">

  <h4 class="tpatom-heading tpatom-heading--small">Summary</h4>

                                        </div>
                                    </div>
                                    <div class="row no-gutters summary">
                                        <div class="col-lg-12">Type of Visitor</div>
                                        <div class="col-lg-12 typeOfVisitorTitle-textimage"></div>
                                    </div>
                                    <div class="row no-gutters summary">
                                        <div class="col-lg-12">First name</div>
                                        <div class="col-lg-12 firstName-textimage"></div>
                                    </div>
                                    <div class="row no-gutters summary">
                                        <div class="col-lg-12">Last name</div>
                                        <div class="col-lg-12 lastName-textimage"></div>
                                    </div>
                                    <div class="row no-gutters summary">
                                        <div class="col-lg-12">E-mail</div>
                                        <div class="col-lg-12 email-textimage"></div>
                                    </div>
                                    <!-- <div class="row no-gutters summary">
                                        <div class="col-lg-6">country</div>
                                        <div class="col-lg-6 countryTitle"></div>
                                    </div> -->
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane tab-textimage" role="tabpanel" id="cf-step-downloadReady-textimage">
                        <div class="row thankyou">
                            <div class="col text-center" auto_locator="contactUsThankYouMessage">

                                <div auto_locator="contactUsThankYouPageMessage">

  <h2 class="tpatom-heading tpatom-heading--">Your dowlaod is ready</h2>

                                </div>
                                <div class="descriptionTextThankyou" auto_locator="contactUsThankYouPageDescription">
                                    <p>your dowlaod is ready description&nbsp;your dowlaod is ready description</p>

                                </div>
                                <div class="button-group">
                                       <a data-downloadlink="/content/tetrapak/public-web/lang-masters/en/home.html" href="#cf-step-thankyou-textimage" class="tpatom-link tpatom-link--primary thankyouTarget"
                                       data-link-section="button click"
                                       data-link-name="more white papers"
                                       data-parent-title="more white papers"
                                       title="Download" target="_self">
                                            <span class="tpatom-link__text sly-text"> Download
                                                <i class="icon icon--link icon-Download icon-Arrow_Right_pw"></i>
                                                    </span>
                                            </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane tab-textimage" role="tabpanel" id="cf-step-thankyou-textimage">
                        <div class="row thankyou">
                            <div class="col text-center" auto_locator="contactUsThankYouMessage">

                                <div auto_locator="contactUsThankYouPageMessage">

  <h2 class="tpatom-heading tpatom-heading--">Thankyou for your download</h2>

                                </div>
                                <div class="descriptionTextThankyou" auto_locator="contactUsThankYouPageDescription">
                                    <p>Thankyou for your download description&nbsp;Thankyou for your download description</p>

                                </div>
                                <div class="button-group">
                                    <a href="/content/tetrapak/public-web/lang-masters/en/home.html" class="tpatom-link tpatom-link--primary moreButton-textimage"
                                    data-link-section="button click"
                                    data-link-name="more white papers"
                                    data-parent-title="more white papers"
                                    title="more white papers" target="_blank">
                                            <span class="tpatom-link__text sly-text"> more white papers
                                                    </span>
                                            </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane tab-textimage active" role="tabpanel" id="cf-step-welcomeback-textimage">
                        <div class="row thankyou">
                            <div class="col text-center" auto_locator="thankyouPage">

                                <div auto_locator="thankyouHeading">

  <h2 class="tpatom-heading tpatom-heading--">Welcome back</h2>

                                </div>
                                <div class="descriptionTextThankyou" auto_locator="thankyouDescription">
                                    <p>you have previously downloaded the white paper with this email:</p>

                                    <p id="visitor-email-textimage">satishsharma020191@gmail.com</p>
                                </div>
                                <div class="button-group">

    <button data-target="#cf-step-2-textimage" type="button" class="tpatom-btn tpatom-btn--secondary notmebtn notmebtn-textimage" auto_locator="softConversionPreviousButtonStep3">
        <span class="tp-next-btn__text">No, that is not me</span>
        <i class="tpatom-button__icon "></i>
    </button>


    <button data-target="#cf-step-downloadReady-textimage" type="button" class="tpatom-btn tpatom-btn--primary yesmebtn-textimage" auto_locator="softConversionSubmitButtonStep3">
        <span class="tp-next-btn__text">Yes, that is me</span>
        <i class="tpatom-button__icon "></i>
    </button>

                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

        </div>

    </div>
</div>
</div>
