<div class="pw-softconversion modal tp-modal js-soft-modal textimage fade show" data-module="Softconversion"
    tabindex="-1" role="dialog" aria-modal="true" style="display: block;">
    <input type="hidden" class="ComponentNameSoft" name="ComponentNameSoft" value="textimage">
    <input type="hidden" class="parentComponent" name="parentComponent" value="Text &amp; Image">
    <div class="modal-dialog modal-dialog-centered tp-modal-dialog modal-md">
        <div class="modal-content tp-modal-content">
            <div class="modal-header pw-softconversion__header" auto_locator="softConversionSectionHeader">
                <h2 role="heading" class="pw-softconversion__header__heading heading_textimage"
                    auto_locator="headingFontStep1">Download white paper</h2>
                <input type="hidden" name="heading_textimage" id="heading_textimage" value="Download white paper">
                <button type="button" class="tp-close-btn icon-Close_pw pw-softconversion__header__close js-close-btn"
                    aria-label="close button" title="close button"></button>
            </div>

            <div class="modal-body pw-softconversion__body pw-sf_body_textimage row no-gutters"
                auto_locator="softConversionSectionBody">
                <div class="col-lg-12">
                    <div class="pw-softconversion__form" auto_locator="contactUsParentContainerStep1">
                        <div class="tab-content">
                            <form id="pw-form-soft-conversion" class="pw-form pw-form-softconversion-textimage"
                                accept-charset="UTF-8"
                                data-softconversion-api-url="/content/tetrapak/publicweb/global/en/test-page/jcr:content/root/responsivegrid/textimage.pardotsoftconversion.json"
                                data-softconversion-pardot-url="https://go.tetrapak.com/l/857883/2020-05-29/w6z5"
                                autocomplete="off">
                                <div class="tab-pane tab-textimage active" data-stepnumber="1"
                                    data-stepname="contactPurpose" role="tabpanel" id="cf-step-1-textimage">
                                    <div class="row no-gutters">
                                        <div class="col-lg-12" auto_locator="leftColumnPaddingStep1">
                                            <div class="tab-content tab-content-steps">
                                                <!-- Form Fields -->
                                                <div class="row no-gutters pw-form__userUnknown">
                                                    <div class="col-sm-12 formfield"
                                                        auto_locator="softConversionInputStep2">


                                                        <div class="form-group">
                                                            <label for="email-textimage"
                                                                auto_locator="emailHelpText">E-mail</label>
                                                            <input type="email" class="form-control validateForTags"
                                                                id="email-textimage" name="email-textimage"
                                                                placeholder="example@example.com" required=""
                                                                auto_locator="emailInput">
                                                            <div data-error-msg="Please enter your email in this format: example@example.com"
                                                                class="errorMsg">Please enter your email in this format:
                                                                example@example.com</div>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-12 formfield"
                                                        auto_locator="softConversionInputStep2">


                                                        <div class="form-group">
                                                            <label for="firstName-textimage"
                                                                auto_locator="firstNameHelpText">First name</label>
                                                            <input type="text" class="form-control validateForTags"
                                                                id="firstName-textimage" name="firstName-textimage"
                                                                required="" auto_locator="firstNameInput">
                                                            <div data-error-msg="Enter your first name"
                                                                class="errorMsg">Enter your first name</div>
                                                        </div>

                                                    </div>
                                                    <div class="col-sm-12 formfield"
                                                        auto_locator="softConversionInputStep2">


                                                        <div class="form-group">
                                                            <label for="lastName-textimage"
                                                                auto_locator="lastNameHelpText">Last name</label>
                                                            <input type="text" class="form-control validateForTags"
                                                                id="lastName-textimage" name="lastName-textimage"
                                                                required="" auto_locator="lastNameInput">
                                                            <div data-error-msg="Enter your last name" class="errorMsg">
                                                                Enter your last name</div>
                                                        </div>

                                                    </div>

                                                    <div class="country-field-wrapper col-lg-12 formfield">
                                                        <div class="form-group country-field country"
                                                            data-name-label="Country">
                                                            <label class="country-value" for="country"
                                                                auto_locator="softConvCountrySelectorHelpText">Country/Location</label>
                                                            <div class="pw-form__dropdown dropdown text-left">
                                                                <button
                                                                    class="btn dropdown-toggle country-dropdown js-pw-form__dropdown__toggle pw-form__dropdown__toggle category__toggle text-left"
                                                                    type="button" data-toggle="dropdown"
                                                                    aria-haspopup="true"
                                                                    auto_locator="countrySelectDropdown"
                                                                    aria-expanded="false">
                                                                    <span class="js-pw-form__dropdown__country-text"
                                                                        data-placeholder="Choose one option">Choose one
                                                                        option</span>
                                                                    <i class="icon icon-Arrow_Right_pw"></i></button>

                                                                <div class="dropdown-menu pw-form__dropdown__menu country-dropdown-select"
                                                                    data-dropdowntype="country">
                                                                    <a href="#" class="dropdown-item" id="ddtest"
                                                                        data-field-name="country"
                                                                        data-field-title="countryTitle"
                                                                        data-country="afghanistan"
                                                                        data-title="Afghanistan" target="_self">
                                                                        Afghanistan
                                                                    </a>

                                                                    <a href="#" class="dropdown-item"
                                                                        data-field-name="country"
                                                                        data-field-title="countryTitle"
                                                                        data-country="albania" data-title="Albania"
                                                                        target="_self">
                                                                        Albania
                                                                    </a>

                                                                </div>
                                                                <input type="hidden" name="countryTitle"
                                                                    class="form-control validateForTags" id="country"
                                                                    required />
                                                            </div>
                                                            <div data-country-error-msg="Please select country"
                                                                class="errorMsg">Please select country
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Radio Buttons -->
                                                    <p class="col-sm-12 radioHeading"
                                                        auto_locator="visitorTypeFontStep1">Purpose of visit</p>
                                                    <div class="col-sm-12 formfield"
                                                        auto_locator="contactUsRightContainerOptionListContainerStep1">
                                                        <div class="form-check formfields ">
                                                            <input class="form-check-input" type="radio"
                                                                name="typeOfVisitorOptions" id="customer-textimage"
                                                                value="Customer">
                                                            <label class="form-check-label " for="customer-textimage">
                                                                Customer
                                                            </label>
                                                            <div class="form-check-radio"></div>
                                                        </div>


                                                        <div class="form-check formfields ">
                                                            <input class="form-check-input" type="radio"
                                                                name="typeOfVisitorOptions" id="talent-textimage"
                                                                value="Talent">
                                                            <label class="form-check-label " for="talent-textimage">
                                                                Talent
                                                            </label>
                                                            <div class="form-check-radio"></div>
                                                        </div>


                                                        <div class="form-check formfields ">
                                                            <input class="form-check-input" type="radio"
                                                                name="typeOfVisitorOptions" id="pressandmedia-textimage"
                                                                value="Press and media">
                                                            <label class="form-check-label mb-0"
                                                                for="pressandmedia-textimage">
                                                                Press and media
                                                            </label>
                                                            <div class="form-check-radio"></div>
                                                        </div>

                                                        <input type="hidden" name="typeOfVisitorTitle-textimage"
                                                            class="form-control" id="typeOfVisitor" required="">
                                                        <div class="errorMsg purposeOfContactError">Please select type
                                                            of visitor
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row no-gutters pw-form__userPartially">
                                                    <div class="col-sm-12 formfield company-textimage">
                                                        <div class="form-group">
                                                            <label for="company-textimage"
                                                                auto_locator="companyHelpText">Company</label>
                                                            <input type="text" class="form-control "
                                                                id="company-textimage" name="company-textimage"
                                                                required="" auto_locator="companyInput">
                                                            <div class="errorMsg">Enter your company name</div>
                                                        </div>
                                                    </div>

                                                    <div
                                                        class="position-field-wrapper col-lg-12 formfield position-textimage">
                                                        <div class="form-group position-field position"
                                                            data-name-label="pw.form.position">
                                                            <label class="position-value" for="position"
                                                                auto_locator="softConvpositionSelectorHelpText">Position</label>
                                                            <div class="pw-form__dropdown dropdown text-left">
                                                                <button
                                                                    class="btn dropdown-toggle position-dropdown js-pw-form__dropdown__toggle pw-form__dropdown__toggle category__toggle text-left"
                                                                    type="button" data-toggle="dropdown"
                                                                    aria-haspopup="true"
                                                                    auto_locator="positionSelectDropdown"
                                                                    aria-expanded="false">
                                                                    <span class="js-pw-form__dropdown__position-text"
                                                                        data-placeholder="Choose one option">Choose one
                                                                        option</span>
                                                                    <i class="icon icon-Arrow_Right_pw"></i></button>

                                                                <div class="dropdown-menu pw-form__dropdown__menu position-dropdown-select"
                                                                    data-dropdowntype="position">
                                                                    <a href="#" class="dropdown-item" id="ddtest1"
                                                                        data-field-name="position"
                                                                        data-field-title="positionTitle"
                                                                        data-position="c-suite" data-title="C-suite"
                                                                        target="_self">
                                                                        C-suite
                                                                    </a>

                                                                    <a href="#" class="dropdown-item"
                                                                        data-field-name="position"
                                                                        data-field-title="positionTitle"
                                                                        data-position="vice-president"
                                                                        data-title="VP" target="_self">
                                                                        VP
                                                                    </a>

                                                                </div>
                                                                <input type="hidden" name="positionTitle"
                                                                    class="form-control validateForTags" id="position" required />
                                                            </div>
                                                            <div data-position-error-msg="Enter your position"
                                                                class="errorMsg">Enter your position
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div
                                                        class="function-field-wrapper col-lg-12 formfield function-textimage">
                                                        <div class="form-group function-field function"
                                                            data-name-label="pw.form.function">
                                                            <label class="function-value" for="function"
                                                                auto_locator="softConvfunctionSelectorHelpText">Function</label>
                                                            <div class="pw-form__dropdown dropdown text-left">
                                                                <button
                                                                    class="btn dropdown-toggle function-dropdown js-pw-form__dropdown__toggle pw-form__dropdown__toggle category__toggle text-left"
                                                                    type="button" data-toggle="dropdown"
                                                                    aria-haspopup="true"
                                                                    auto_locator="functionSelectDropdown"
                                                                    aria-expanded="false">
                                                                    <span class="js-pw-form__dropdown__function-text"
                                                                        data-placeholder="Choose one option">Choose one
                                                                        option</span>
                                                                    <i class="icon icon-Arrow_Right_pw"></i></button>

                                                                <div class="dropdown-menu pw-form__dropdown__menu function-dropdown-select"
                                                                    data-dropdowntype="function">
                                                                    <a href="#" class="dropdown-item" id="ddtest2"
                                                                        data-field-name="function"
                                                                        data-field-title="functionTitle"
                                                                        data-function="administrative"
                                                                        data-title="Administrative" target="_self">
                                                                        Administrative
                                                                    </a>

                                                                    <a href="#" class="dropdown-item"
                                                                        data-field-name="function"
                                                                        data-field-title="functionTitle"
                                                                        data-function="business-development"
                                                                        data-title="Business Development"
                                                                        target="_self">
                                                                        Business Development
                                                                    </a>


                                                                </div>
                                                                <input type="hidden" name="functionTitle"
                                                                    class="form-control validateForTags" id="function" required />
                                                            </div>
                                                            <div data-function-error-msg="pw.form.errormsg.function"
                                                                class="errorMsg">pw.form.errormsg.function
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row no-gutters">
                                                    <!-- Marketing Consent -->
                                                    <div class="col-sm-12 formfield marketing-consent"
                                                        auto_locator="softConversionMarketingPrivacyStep3">
                                                        <div class="row form-group no-gutters">
                                                            <div class="col-sm-1">
                                                                <label class="tpatom-checkbox__label clearfix">
                                                                    <input type="checkbox"
                                                                        class="form-control js-pw-search-results-filter-check tpatom-checkbox__input float-left"
                                                                        id="market-consent-textimage"
                                                                        name="market-consent"
                                                                        auto_locator="positionInput" checked="checked" />
                                                                    <i
                                                                        class="tpatom-checkbox__icon icon icon-Tick float-left"></i>
                                                                </label>
                                                            </div>

                                                            <div class="col-sm-11 marketingConsentText">
                                                                <p>Yes, I would like to receive regular updates from
                                                                    Tetra Pak</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="text" name="pardot_extra_field_textimage"
                                                        id="pardot_extra_field_textimage" class="d-none" tabindex="-1"
                                                        title="padot input field for soft conversion form">
                                                    <input type="hidden" name="site_language_textimage"
                                                        id="site_language_textimage" value="en" class="d-none"
                                                        tabindex="-1">
                                                    <input type="hidden" name="site_country_textimage"
                                                        id="site_country_textimage" value="global" class="d-none"
                                                        tabindex="-1">

                                                    <div class="privacy-policy"
                                                        auto_locator="softConversionMarketingPrivacyStep3">
                                                        <p>I agree that the information I have provided will only be
                                                            used in accordance with <a
                                                                href="/content/tetrapak/publicweb/global/en/about-tetra-pak/legal-information.html"
                                                                title="Legal information" target="_self">Tetra Pak's
                                                                privacy policy</a></p>

                                                    </div>
                                                </div>
                                                <!-- Button Group -->
                                                <div class="row no-gutters button-group">

                                                    <button data-target="#cf-step-downloadReady-textimage" type="submit"
                                                        class="tpatom-btn tpatom-btn--primary previewLinkBtn" id="sbmitButton"
                                                        auto_locator="softConversionSubmitButtonStep3">
                                                        <span class="tp-next-btn__text">Submit</span>
                                                        <i class="tpatom-button__icon "></i>
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane tab-textimage" role="tabpanel"
                                    id="cf-step-downloadReady-textimage">
                                    <div class="row thankyou">
                                        <div class="col text-center" auto_locator="readyForDownload">

                                            <div auto_locator="readyForDownloadHeading">

                                                <h3 class="tpatom-heading tpatom-heading--">Your download is ready</h3>

                                            </div>
                                            <div class="descriptionTextThankyou"
                                                auto_locator="readyForDownloadDescription">
                                                <p>To download your copy, please click on the button to start your
                                                    download.</p>

                                            </div>
                                            <div class="button-group">
                                                <a data-downloadlink="https://www.tetrapak.com"
                                                    data-asset-name="www.tetrapak.com" data-link-section="button click"
                                                    data-link-name="Download" data-parent-title="Your download is ready"
                                                    href="#cf-step-thankyou-textimage"
                                                    class="tpatom-link tpatom-link--primary thankyouTarget text-left"
                                                    title="Download" target="_self">
                                                    <span
                                                        class="tpatom-link__text sly-text text-left">Download</span><span
                                                        class="nowrap-text">&NoBreak;<i
                                                            class="icon icon--link icon-Download icon-Arrow_Right_pw"></i></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane tab-textimage" role="tabpanel" id="cf-step-thankyou-textimage">
                                    <div class="row thankyou">
                                        <div class="col text-center" auto_locator="thankyouPage">

                                            <div auto_locator="thankyouHeading">

                                                <h3 class="tpatom-heading tpatom-heading--">Thank you for your download
                                                </h3>

                                            </div>
                                            <div class="descriptionTextThankyou" auto_locator="thankyouDescription">
                                                <p>At Tetra Pak, we strive to share our expertise and experience within
                                                    food and beverage. If you want to learn more, take the opportunity
                                                    to explore further.</p>

                                            </div>
                                            <div class="button-group">
                                                <a href="/content/tetrapak/publicweb/global/en/test-page.html"
                                                    class="tpatom-link tpatom-link--primary moreButton-textimage"
                                                    data-link-section="button click" data-link-name="Download"
                                                    data-parent-title="Thank you for your download" title="Download"
                                                    target="_self">
                                                    <span class="tpatom-link__text sly-text">
                                                        Download
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane tab-textimage" role="tabpanel" id="cf-step-welcomeback-textimage">
                                    <div class="row thankyou">
                                        <div class="col text-center" auto_locator="welcomeBackPage">

                                            <div auto_locator="welcomeBackHeading">

                                                <h2 class="tpatom-heading tpatom-heading--">Welcome back</h2>

                                            </div>
                                            <div class="descriptionTextThankyou" auto_locator="welcomeBackDescription">
                                                <p>You have already downloaded a document using this email address.
                                                    Please verify if that is the case or not.</p>

                                                <p id="visitor-email-textimage"></p>
                                            </div>
                                            <div class="button-group">

                                                <button type="button"
                                                    class="tpatom-btn tpatom-btn--secondary notmebtn notmebtn-textimage"
                                                    auto_locator="softConversionNotMeButton">
                                                    <span class="tp-next-btn__text">No, this is not me</span>
                                                    <i class="tpatom-button__icon "></i>
                                                </button>


                                                <button type="button"
                                                    class="tpatom-btn tpatom-btn--primary yesmebtn-textimage"
                                                    auto_locator="softConversionYesMeButton">
                                                    <span class="tp-next-btn__text">Yes, this is me</span>
                                                    <i class="tpatom-button__icon "></i>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>