<div class="pw-container" data-module="Stories">
    <div class="pw-stories pw-padding--regular pw-theme--grayscale-lighter">

      <div data-wcm-mode="" class="d-none js-stories-data" data-stories-api="/content/tetrapak/publicweb/lang-masters/en/home/stories-test/jcr:content/root/responsivegrid/stories_803455234"></div>
      <div class="pw-stories__story-grid"><div class="tp-stories">
        <div>
            <div class="row margin-bottom no-gutters">
                <div class="col-lg-8">
                    <a href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing.html" class="image-wrapper  ">
                          <h2 class="story-text large-text">Story 1</h2>
                          <img src="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" class="img-responsive js-dynamic-media initial loaded" itemprop="image" alt="Girl" drinking="" milk="" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-was-processed="true">
                    </a>
                </div>
                <div class="col-lg-4">
                    <div class="img-2 img-wrapper-padding padding-left">
                        <a href="/content/tetrapak/publicweb/lang-masters/en/solutions/packaging.html" class="image-wrapper  ">
                              <h2 class="story-text ">Story 2</h2>
                              <img src="https://s7g10.scene7.com/is/image/tetrapakdev/top-view-carton-packages-packaging?scl=1" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/top-view-carton-packages-packaging?scl=1" class="img-responsive js-dynamic-media initial loaded" itemprop="image" alt="Packages" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/top-view-carton-packages-packaging?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/top-view-carton-packages-packaging?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/top-view-carton-packages-packaging?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/top-view-carton-packages-packaging?scl=1" data-was-processed="true">
                        </a>
                        <a href="/content/tetrapak/publicweb/lang-masters/en/solutions/services.html" class="image-wrapper  ">
                              <h2 class="story-text ">Story 3</h2>
                              <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media initial loaded" itemprop="image" alt="Engineer" wearing="" hololens="" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1" data-was-processed="true">
                        </a>
                    </div>
                </div>
            </div>
            <div class="row no-gutters margin-bottom">
                <div class="col-lg-4 img-wrapper-padding padding-right">
                    <div class="img-2">
                        <a href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing.html" class="image-wrapper  ">
                              <h2 class="story-text ">Story 4</h2>
                              <img src="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" class="img-responsive js-dynamic-media initial loaded" itemprop="image" alt="Girl" drinking="" milk="" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-was-processed="true">
                        </a>
                        <a href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing.html" class="image-wrapper  ">
                              <h2 class="story-text ">Story 5</h2>
                              <img src="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" class="img-responsive js-dynamic-media initial loaded" itemprop="image" alt="Girl" drinking="" milk="" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-was-processed="true">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <a href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing.html" class="image-wrapper  ">
                          <h2 class="story-text large-text">Story 6</h2>
                          <img src="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" class="img-responsive js-dynamic-media initial loaded" itemprop="image" alt="Girl" drinking="" milk="" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-was-processed="true">
                    </a>
                </div>
            </div>
        </div>
        <div>
            <div class="row no-gutters">
                <div class="col-lg-6 img-wrapper-padding padding-sm-right">
                    <a href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing.html" class="image-wrapper set set-1 " style="display: block;">
                          <h2 class="story-text ">Story 7</h2>
                          <img src="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" class="img-responsive js-dynamic-media initial loaded" itemprop="image" alt="Girl" drinking="" milk="" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-was-processed="true">
                    </a>
                </div>
                <div class="col-lg-6 img-wrapper-padding padding-sm-left">
                    <a href="/content/tetrapak/publicweb/lang-masters/en/solutions/processing.html" class="image-wrapper set set-1 padding-zero" style="display: block;">
                          <h2 class="story-text ">Story 8</h2>
                          <img src="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" class="img-responsive js-dynamic-media initial loaded" itemprop="image" alt="Girl" drinking="" milk="" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/girl-drinking-milk?scl=1" data-was-processed="true">
                    </a>
                </div>

            </div>
        </div>
</div>
</div>
      <div class="show-more d-none">
        <div class="pw-stories__load-more">
          <span>Load More</span>
          <i class="icon icon-Arrow_Right_pw"></i>
        </div>
      </div>
    </div>
  </div>
