<div class="pw-subscriptionForm-form pw-theme--grayscale-white pw-padding--regular pw-margin--regular" id="pw-sfUs"
  auto_locator="SubscriptionFormStepsWrapper">
  <div class="tab-content">
    <form class="pw-form pw-form-subscriptionForm" accept-charset="UTF-8"
      data-sf-api-servlet="/content/tetrapak/public-web/lang-masters/en/home/jcr:content/root/responsivegrid/subscriptionform.padrotsubscription.json"
      data-sf-countrycode="gb" data-sf-langcode="en" autocomplete="off">
      <input type="text" name="pardot_extra_field" id="pardot_extra_field_sf" class="d-none" tabindex="-1">
      <div class="sf-tab-pane active" role="tabpanel" id="sf-step-1">
        <div class="row no-gutters">
          <div class="col-lg-6 separator" auto_locator="subscriptionFormLeftContainerStep1">
            <div class="row no-gutters">
              <div class="col-sm-12 main-heading" auto_locator="subscriptionFormLeftContainerHeadingTextStep1">
                <h2 class="tpatom-heading tpatom-heading--">Contact us</h2>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="descriptionsubscriptionForm col-lg-12"
                auto_locator="subscriptionFormLeftContainerTextAreaStep1">
                Loren ipsum
              </div>
            </div>
          </div>
          <div class="col-lg-6" auto_locator="subscriptionFormRightContainerStep1">
            <div class="tab-content tab-content-steps">
              <div class="row">
                <div class="col-sm-12 formfield" auto_locator="subscriptionFormListContainerStep1">
                  <div class="formfield">
                    <div class="form-group">
                      <label for="email" auto_locator="emailHelpText">E-mail</label>
                      <input type="email" class="form-control validateForTags" id="email" name="email"
                        placeholder="example@example.com" required="" auto_locator="emailInput">
                      <div class="errorMsg">Please enter your email in this format: example@example.com</div>
                    </div>
                  </div>
                  <div class="formfield">
                    <div class="form-group formfield">
                      <div class="checboxField">
                        <input id="consentcheckbox" class="form-control tpatom-checkbox__input float-left" required="" type="checkbox" name="consent">
                        <label class="consentlabel" for="consentcheckbox">
                          <p>Yes, I want to receive communication from Tetra Pak</p>
                        </label>
                      </div>
                      <div class="errorMsg">Please select marketing consent</div>
                    </div>
                  </div>
                  <div class="formfield">
                    <p></p>
                    <p>I accept <a>Tetra Pak’s privacy policy</a></p>
                    <p></p>
                  </div>
                </div>
              </div>
              <div class="row no-gutters subscribeButton button-group">
                <button data-target="#sf-step-final" type="submit" class="tpatom-btn tpatom-btn--primary "
                  auto_locator="subscriptionFormNextButtonStep">
                  <span class="tp-next-btn__text">Subscribe</span>
                  <i class="tpatom-button__icon "></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sf-tab-pane" role="tabpanel" id="sf-step-final" auto_locator="subscriptionFormListContainerStepFinal">
        <div class="row thankyou">
          <div class="col text-center" auto_locator="sfUsThankYouMessage">
            <div auto_locator="sfUsThankYouPageMessage">
              <h2 class="tpatom-heading tpatom-heading--">thank you for your request</h2>
            </div>
            <div class="descriptionTextThankyou" auto_locator="sfUsThankYouPageDescription">
              <p>We will get back to you as soon as possible</p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
