<div id="123" title="title" class="pw-tablist collapse pw-padding--regular pw-margin--regular pw-theme--greyscale pw-tablist--row js-tablist" data-module="TabsList">
                              <button type="button" class="pw-tablist__event js-tablist__event">hello</button>
    
                              <a 
                                 href="http://google.com"
                                 class="tpatom-link tpatom-link--primary pw-tablist__event-detail-description-link js-tablist__event-detail-description-link"
                                 data-custom="data"
                                 title="title"
                                 target="_blank"
                                 data-link-section="section"
                                 data-link-name="abc"
                                 data-download-type="download"
                                 data-button-link-type="secondary"
                                 data-asset-name="assetName"
                                 data-video-name="videoName"
                                 data-tab-type = "textVideo"
                                 >
                                 <span class="tpatom-link__text sly-text">dasdsad</span>
                                 <i class="icon icon-Chevron_Right"></i>
                              </a>
                            <!-- </sly> -->
                            <div class="tpatom-youtube pw-tablist__media-wrapper">
                                        <iframe title="title"
                                                class="tpatom-yt-player js-yt-player" src="https://www.youtube.com?enablejsapi=1" frameborder="0"
                                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                      </div>    
                    
                        <div class="pw-tablist__events-sidesection js-tablist__events-sidesection  col-lg-7 d-none d-lg-block" aria-live="polite">
      </div>

                </div>
          