<div auto-locator="tabslist" id="anchorid6" title="Tab List Organism: Semi-automatic" class="pw-container" data-module="TabsList">
    <div class="pw-tablist pw-padding--regular pw-margin--regular pw-theme--grayscale-lighter pw-tablist--display-row-reversed js-tablist">
      <input type="hidden" id="tabComponentId" name="tabComponentId" value="tabslist_copy">
      <input type="hidden" id="activeTheme" name="activeTheme" value="grayscale-lighter">
      <h2 class="pw-tablist__heading js-tablist__heading"> &#8203;&#8203;&#8203;&#8203;&#8203;High-performance powder handling solutions</h2>
      <div class="row">
        <div class="pw-tablist__events col-lg-5  pw-tablist__events-icleft" id="accordion_tabslist_copy">



              <button type="button" class="pw-tablist__event js-tablist__event m-active active--grayscale-lighter" data-toggle="collapse" data-target="#tab_tabslist_copy_0" data-index="0" aria-expanded="true" data-link-name="Evaporation equipment for whey" data-link-section="Tab Click_list_&#8203;&#8203;&#8203;&#8203;&#8203;High-performance powder handling solutions">


                  <i class="icon icon-left icon-Arrow_Right_pw"></i>
                  <div>
                    <p class="pw-tablist__event-title-icleft semi-bold">Evaporation equipment for whey</p><p>
                  </p></div>

              </button>

              <div class="pw-tablist__event-detail-wrapper  pw-theme--grayscale-white d-lg-none collapse show" id="tab_tabslist_copy_0" data-parent="#accordion_tabslist_copy">
                <div class="pw-tablist__event-detail js-video-props" data-link-parent-title="Evaporation equipment for whey">
                  <!--image video component  -->


                    <div class="x-img-responsive">
                          <a href="/content/tetrapak/public-web/lang-masters/en/home.html" class="img-link js-tablist__event-detail-description-link" data-link-name="Link Text - Same Window" data-button-link-type="secondary" data-asset-name="home" data-tab-type="imageText" data-alt-text="Shelf" data-tab-title="Evaporation equipment for whey" target="_self">





    <img src="https://s7g10.scene7.com/is/image/tetrapakdev/beverage-cartons-shelf?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp" class="img-responsive js-dynamic-media pw-tablist__media-wrapper" itemprop="image" alt="Shelf" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/beverage-cartons-shelf?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/beverage-cartons-shelf?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/beverage-cartons-shelf?wid=223&amp;hei=125&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/beverage-cartons-shelf?wid=633&amp;hei=506&amp;fmt=png-alpha&amp;resMode=bisharp" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/beverage-cartons-shelf?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp">



                      </a>

                    </div>

                  <!--end image video component  -->

                  <h3 class="pw-tablist__event-detail-title js-tablist__event-detail-title d-none d-lg-block">
                    Evaporation equipment for whey</h3>

                    <div class="pw-tablist__event-detail-description">With evaporation, the challenge is to remove as much water as possible from your product as efficiently as possible. It can either be done using electricity or steam, depending on the most readily available source. </div>






                    <a href="/content/tetrapak/public-web/lang-masters/en/home.html" class="tpatom-link tpatom-link--primary pw-tablist__event-detail-description-link js-tablist__event-detail-description-link" data-link-section="Text &amp; Image_CTA" data-link-name="Link Text - Same Window" data-button-link-type="secondary" data-asset-name="home" data-tab-type="imageText" data-alt-text="Shelf" data-tab-title="Evaporation equipment for whey" target="_self">
                      <span class="tpatom-link__text sly-text">Link Text - Same Window<i class="icon icon-Arrow_Right_pw"></i></span>
                    </a>
                    <!-- </sly> -->

                </div>
              </div>





              <button type="button" class="pw-tablist__event js-tablist__event collapsed" data-toggle="collapse" data-target="#tab_tabslist_copy_1" data-index="1" aria-expanded="false" data-link-name="Extraction equipment&#8203; for tea and soy" data-link-section="Tab Click_list_&#8203;&#8203;&#8203;&#8203;&#8203;High-performance powder handling solutions">


                  <i class="icon icon-left icon-Arrow_Right_pw"></i>
                  <div>
                    <p class="pw-tablist__event-title-icleft semi-bold">Extraction equipment&#8203; for tea and soy</p><p>
                  </p></div>

              </button>

              <div class="pw-tablist__event-detail-wrapper  pw-theme--grayscale-white d-lg-none collapse" id="tab_tabslist_copy_1" data-parent="#accordion_tabslist_copy">
                <div class="pw-tablist__event-detail js-video-props" data-link-parent-title="Extraction equipment&#8203; for tea and soy">
                  <!--image video component  -->


                    <div class="x-img-responsive">
                          <a href="/content/dam/tetrapak/publicweb/pdf-files/tp_magazine_no_100.pdf" class="img-link js-tablist__event-detail-description-link" data-link-name="Download PDF" data-button-link-type="secondary" data-asset-name="tp_magazine_no_100.pdf" data-tab-type="imageText" data-alt-text="Milk Packet" data-tab-title="Extraction equipment&#8203; for tea and soy" target="_self" data-link-section="Related links and downloads_Hyperlink_Download">





    <img src="https://s7g10.scene7.com/is/image/tetrapakdev/children-school-milk-tba?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp" class="img-responsive js-dynamic-media pw-tablist__media-wrapper" itemprop="image" alt="Milk Packet" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/children-school-milk-tba?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/children-school-milk-tba?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/children-school-milk-tba?wid=223&amp;hei=125&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/children-school-milk-tba?wid=633&amp;hei=506&amp;fmt=png-alpha&amp;resMode=bisharp" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/children-school-milk-tba?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp">



                      </a>

                    </div>

                  <!--end image video component  -->

                  <h3 class="pw-tablist__event-detail-title js-tablist__event-detail-title d-none d-lg-block">
                    Extraction equipment&#8203; for tea and soy</h3>

                    <div class="pw-tablist__event-detail-description">For tea, the extraction system is semi-continuous. The tea extract is cooled and clarified (where required) before being blended, heat-treated and packaged in downstream processing equipment.</div>






                    <a href="/content/dam/tetrapak/publicweb/pdf-files/tp_magazine_no_100.pdf" class="tpatom-link tpatom-link--primary pw-tablist__event-detail-description-link js-tablist__event-detail-description-link" data-link-section="Related links and downloads_Hyperlink_Download" data-link-name="Download PDF" data-button-link-type="secondary" data-asset-name="tp_magazine_no_100.pdf" data-tab-type="imageText" data-alt-text="Milk Packet" data-tab-title="Extraction equipment&#8203; for tea and soy" target="_self">
                      <span class="tpatom-link__text sly-text">Download PDF<i class="icon icon-Arrow_Right_pw icon-Download"></i></span>
                    </a>
                    <!-- </sly> -->

                </div>
              </div>





              <button type="button" class="pw-tablist__event js-tablist__event collapsed" data-toggle="collapse" data-target="#tab_tabslist_copy_2" data-index="2" aria-expanded="false" data-link-name="&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;Heat exchangers for consistent high quality results" data-link-section="Tab Click_list_&#8203;&#8203;&#8203;&#8203;&#8203;High-performance powder handling solutions">


                  <i class="icon icon-left icon-Arrow_Right_pw"></i>
                  <div>
                    <p class="pw-tablist__event-title-icleft semi-bold">&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;Heat exchangers for consistent high quality results</p><p>
                  </p></div>

              </button>

              <div class="pw-tablist__event-detail-wrapper  pw-theme--grayscale-white d-lg-none collapse" id="tab_tabslist_copy_2" data-parent="#accordion_tabslist_copy">
                <div class="pw-tablist__event-detail js-video-props" data-link-parent-title="&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;Heat exchangers for consistent high quality results">
                  <!--image video component  -->


                    <div class="x-img-responsive">

                      <span>





    <img src="https://s7g10.scene7.com/is/image/tetrapakdev/school-feeding-thailand?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp" class="img-responsive js-dynamic-media pw-tablist__media-wrapper" itemprop="image" alt="Thailand" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/school-feeding-thailand?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/school-feeding-thailand?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/school-feeding-thailand?wid=223&amp;hei=125&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/school-feeding-thailand?wid=633&amp;hei=506&amp;fmt=png-alpha&amp;resMode=bisharp" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/school-feeding-thailand?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp">



                  </span>
                    </div>

                  <!--end image video component  -->

                  <h3 class="pw-tablist__event-detail-title js-tablist__event-detail-title d-none d-lg-block">
                    &#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;&#8203;Heat exchangers for consistent high quality results</h3>

                    <div class="pw-tablist__event-detail-description">Regardless of whether you're producing meatballs in sauce, jam with strawberries, chocolate pudding or plain white milk, the process involves heat treatment, and this usually means using heat exchangers.</div>







                    <!-- </sly> -->

                </div>
              </div>





              <button type="button" class="pw-tablist__event js-tablist__event collapsed" data-toggle="collapse" data-target="#tab_tabslist_copy_3" data-index="3" aria-expanded="false" data-link-name="Homogenization equipment with lower energy consumption and consistent&#8203; high quality" data-link-section="Tab Click_list_&#8203;&#8203;&#8203;&#8203;&#8203;High-performance powder handling solutions">


                  <i class="icon icon-left icon-Arrow_Right_pw"></i>
                  <div>
                    <p class="pw-tablist__event-title-icleft semi-bold">Homogenization equipment with lower energy consumption and consistent&#8203; high quality</p><p>
                  </p></div>

              </button>

              <div class="pw-tablist__event-detail-wrapper  pw-theme--grayscale-white d-lg-none collapse" id="tab_tabslist_copy_3" data-parent="#accordion_tabslist_copy">
                <div class="pw-tablist__event-detail js-video-props" data-link-parent-title="Homogenization equipment with lower energy consumption and consistent&#8203; high quality">
                  <!--image video component  -->


                    <div class="x-img-responsive">
                          <a href="/content/tetrapak/public-web/lang-masters/en/home.html" class="img-link js-tablist__event-detail-description-link" data-link-name="Link Text" data-button-link-type="link" data-asset-name="home" data-tab-type="imageText" data-tab-title="Homogenization equipment with lower energy consumption and consistent&#8203; high quality" target="_self">





    <img src="https://s7g10.scene7.com/is/image/tetrapakdev/tetra-recart-carton-package?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp" class="img-responsive js-dynamic-media pw-tablist__media-wrapper" itemprop="image" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/tetra-recart-carton-package?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/tetra-recart-carton-package?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/tetra-recart-carton-package?wid=223&amp;hei=125&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/tetra-recart-carton-package?wid=633&amp;hei=506&amp;fmt=png-alpha&amp;resMode=bisharp" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/tetra-recart-carton-package?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp">



                      </a>

                    </div>

                  <!--end image video component  -->

                  <h3 class="pw-tablist__event-detail-title js-tablist__event-detail-title d-none d-lg-block">
                    Homogenization equipment with lower energy consumption and consistent&#8203; high quality</h3>

                    <div class="pw-tablist__event-detail-description">Homogenization is used to achieve a variety of different results: to prevent a cream line and sedimentation in milk products; to improve the viscosity, taste and texture of cream or juice-based drinks.</div>






                    <a href="/content/tetrapak/public-web/lang-masters/en/home.html" class="tpatom-link tpatom-link--transparent pw-tablist__event-detail-description-link js-tablist__event-detail-description-link" data-link-section="Text &amp; Image_Text Hyperlink" data-link-name="Link Text" data-button-link-type="link" data-asset-name="home" data-tab-type="imageText" data-tab-title="Homogenization equipment with lower energy consumption and consistent&#8203; high quality" target="_self">
                      <span class="tpatom-link__text sly-text">Link Text<i class="icon icon-Circle_Arrow_Right_pw icon-Arrow_Right_pw"></i></span>
                    </a>
                    <!-- </sly> -->

                </div>
              </div>





              <button type="button" class="pw-tablist__event js-tablist__event collapsed" data-toggle="collapse" data-target="#tab_tabslist_copy_4" data-index="4" aria-expanded="false" data-link-name="Membrane filtration solutions for dairy and plant-based products&#8203;" data-link-section="Tab Click_list_&#8203;&#8203;&#8203;&#8203;&#8203;High-performance powder handling solutions">


                  <i class="icon icon-left icon-Arrow_Right_pw"></i>
                  <div>
                    <p class="pw-tablist__event-title-icleft semi-bold">Membrane filtration solutions for dairy and plant-based products&#8203;</p><p>
                  </p></div>

              </button>

              <div class="pw-tablist__event-detail-wrapper  pw-theme--grayscale-white d-lg-none collapse" id="tab_tabslist_copy_4" data-parent="#accordion_tabslist_copy">
                <div class="pw-tablist__event-detail js-video-props" data-link-parent-title="Membrane filtration solutions for dairy and plant-based products&#8203;">
                  <!--image video component  -->


                    <div class="x-img-responsive">
                          <a href="/content/tetrapak/public-web/lang-masters/en/home.html" class="img-link js-tablist__event-detail-description-link" data-link-name="Link Text - Same Window" data-button-link-type="link" data-asset-name="home" data-tab-type="imageText" data-tab-title="Membrane filtration solutions for dairy and plant-based products&#8203;" target="_self">





    <img src="https://s7g10.scene7.com/is/image/tetrapakdev/testing-food?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp" class="img-responsive js-dynamic-media pw-tablist__media-wrapper" itemprop="image" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/testing-food?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/testing-food?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/testing-food?wid=223&amp;hei=125&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/testing-food?wid=633&amp;hei=506&amp;fmt=png-alpha&amp;resMode=bisharp" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/testing-food?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp">



                      </a>

                    </div>

                  <!--end image video component  -->

                  <h3 class="pw-tablist__event-detail-title js-tablist__event-detail-title d-none d-lg-block">
                    Membrane filtration solutions for dairy and plant-based products&#8203;</h3>

                    <div class="pw-tablist__event-detail-description">Membrane filtration is the natural way to optimize the value of dairy and plant-based products and to reuse water.</div>






                    <a href="/content/tetrapak/public-web/lang-masters/en/home.html" class="tpatom-link tpatom-link--transparent pw-tablist__event-detail-description-link js-tablist__event-detail-description-link" data-link-section="Text &amp; Image_Text Hyperlink" data-link-name="Link Text - Same Window" data-button-link-type="link" data-asset-name="home" data-tab-type="imageText" data-tab-title="Membrane filtration solutions for dairy and plant-based products&#8203;" target="_self">
                      <span class="tpatom-link__text sly-text">Link Text - Same Window<i class="icon icon-Circle_Arrow_Right_pw"></i></span>
                    </a>
                    <!-- </sly> -->

                </div>
              </div>


              <div class="pw-tablist__event pw-tablist__event-readmore-icleft">
                <a href="/content/dam/tetrapak/publicweb/pdf-files/tp_magazine_no_100.pdf" class="tpatom-link tpatom-link--transparent pw-tablist__event-detail-description-link js-tablist__event-detail-description-link" data-link-section="Related links and downloads_Hyperlink_Download" data-link-name="Read more text" data-button-link-type="link" data-asset-name="tp_magazine_no_100.pdf" data-tab-title="&#8203;&#8203;&#8203;&#8203;&#8203;High-performance powder handling solutions" data-tab-type="" target="_self">
                  <span class="tpatom-link__text sly-text">Read more text<i class="icon icon-Download"></i></span>
                </a>
              </div>


        </div>
        <div class="pw-tablist__events-sidesection js-tablist__events-sidesection  pw-theme--grayscale-white col-lg-7 d-none d-lg-block" aria-live="polite">
                <div class="pw-tablist__event-detail js-video-props" data-link-parent-title="Evaporation equipment for whey">
                  <!--image video component  -->


                    <div class="x-img-responsive">
                          <a href="/content/tetrapak/public-web/lang-masters/en/home.html" class="img-link js-tablist__event-detail-description-link" data-link-name="Link Text - Same Window" data-button-link-type="secondary" data-asset-name="home" data-tab-type="imageText" data-alt-text="Shelf" data-tab-title="Evaporation equipment for whey" target="_self">





    <img src="https://s7g10.scene7.com/is/image/tetrapakdev/beverage-cartons-shelf?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp" class="img-responsive js-dynamic-media pw-tablist__media-wrapper loaded" itemprop="image" alt="Shelf" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/beverage-cartons-shelf?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/beverage-cartons-shelf?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/beverage-cartons-shelf?wid=223&amp;hei=125&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/beverage-cartons-shelf?wid=633&amp;hei=506&amp;fmt=png-alpha&amp;resMode=bisharp" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/beverage-cartons-shelf?wid=775&amp;hei=436&amp;fmt=png-alpha&amp;resMode=bisharp" data-was-processed="true">



                      </a>

                    </div>

                  <!--end image video component  -->

                  <h3 class="pw-tablist__event-detail-title js-tablist__event-detail-title d-none d-lg-block">
                    Evaporation equipment for whey</h3>

                    <div class="pw-tablist__event-detail-description">With evaporation, the challenge is to remove as much water as possible from your product as efficiently as possible. It can either be done using electricity or steam, depending on the most readily available source. </div>






                    <a href="/content/tetrapak/public-web/lang-masters/en/home.html" class="tpatom-link tpatom-link--primary pw-tablist__event-detail-description-link js-tablist__event-detail-description-link" data-link-section="Text &amp; Image_CTA" data-link-name="Link Text - Same Window" data-button-link-type="secondary" data-asset-name="home" data-tab-type="imageText" data-alt-text="Shelf" data-tab-title="Evaporation equipment for whey" target="_self">
                      <span class="tpatom-link__text sly-text">Link Text - Same Window<i class="icon icon-Arrow_Right_pw"></i></span>
                    </a>
                    <!-- </sly> -->

                </div>
              </div>
      </div>
    </div>
  </div>
