<div class="owl-carousel tp-teaser__details row no-gutters owl-loaded owl-drag">
        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2499px, 0px, 0px); transition: all 0.25s ease 0s; width: 5280px;"><div class="owl-item cloned" style="width: 277.677px;"><div class="carousal-wrapper col-md-12 col-lg-4 rightbar teaserMargin ">
            <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/increased-production-arla.html" class="js-teaser-analytics teaser-image-link" title="Read more" data-link-section="Teaser_imageClick" data-link-name="Read more" data-asset-name="increased-production-arla.html" data-download-type="" data-button-link-type="link" data-paren-link-title=":​Increased production capacity at Arla Foods" data-anchor-type="Text Hyperlink" target="_self">

    <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="​Increased production capacity at Arla Foods" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1">



            </a>

            <h4 class="tilte noTopPad">​Increased production capacity at Arla Foods</h4>

            <p class="description">Thanks to a new revolutionary disc stack design, Arla Foods in Vimmerby, Sweden processes up to 40 percent more milk in its two separators from Tetra Pak.</p>

            <div class="link">

              <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/increased-production-arla.html" class="tpatom-link tpatom-link--transparent js-teaser-analytics" title="Read more" data-link-section="Teaser_Text Hyperlink" data-link-name="Read more" data-asset-name="increased-production-arla.html" data-paren-link-title=":​Increased production capacity at Arla Foods" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read more</span><span class="nowrap-text">⁠<i class="icon icon-Circle_Arrow_Right_pw"></i></span>
              </a>
            </div>
          </div></div><div class="owl-item cloned" style="width: 277.677px;"><div class="carousal-wrapper col-md-12 col-lg-4  teaserMargin ">
            <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/tetra-recart-test-factory.html" class="js-teaser-analytics teaser-image-link" title="Read more" data-link-section="Teaser_imageClick" data-link-name="Read more" data-asset-name="tetra-recart-test-factory.html" data-download-type="" data-button-link-type="link" data-paren-link-title=":​​​​​​​​Success​ for Tetra Recart test factory" data-anchor-type="Text Hyperlink" target="_self">







    <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="​​​​​​​​Success​ for Tetra Recart test factory" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1">



            </a>

            <h4 class="tilte noTopPad">​​​​​​​​Success​ for Tetra Recart test factory</h4>

            <p class="description">What should bean soup taste like in China? And how would Americans like their hummus? The Tetra Recart test factory team have the answers</p>

            <div class="link">

              <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/tetra-recart-test-factory.html" class="tpatom-link tpatom-link--transparent js-teaser-analytics" title="Read more" data-link-section="Teaser_Text Hyperlink" data-link-name="Read more" data-asset-name="tetra-recart-test-factory.html" data-paren-link-title=":​​​​​​​​Success​ for Tetra Recart test factory" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read more</span><span class="nowrap-text">⁠<i class="icon icon-Circle_Arrow_Right_pw"></i></span>
              </a>
            </div>
          </div></div><div class="owl-item cloned" style="width: 277.677px;"><div class="carousal-wrapper col-md-12 col-lg-4 rightbar teaserMargin ">
            <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/successful-npd-food-supplement-nutrition.html" class="js-teaser-analytics teaser-image-link" title="Read more" data-link-section="Teaser_imageClick" data-link-name="Read more" data-asset-name="successful-npd-food-supplement-nutrition.html" data-download-type="" data-button-link-type="link" data-paren-link-title=":The secrets of successful NPD in the Food supplement &amp; Nutrition category" data-anchor-type="Text Hyperlink" target="_self">







    <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="The secrets of successful NPD in the Food supplement &amp; Nutrition category" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1">



            </a>

            <h4 class="tilte noTopPad">The secrets of successful NPD in the Food supplement &amp; Nutrition category</h4>

            <p class="description">Consumers are demanding specialized nutrition and greater convenience. This trend means you have a huge opportunity to develop attractive new products</p>

            <div class="link">

              <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/successful-npd-food-supplement-nutrition.html" class="tpatom-link tpatom-link--transparent js-teaser-analytics" title="Read more" data-link-section="Teaser_Text Hyperlink" data-link-name="Read more" data-asset-name="successful-npd-food-supplement-nutrition.html" data-paren-link-title=":The secrets of successful NPD in the Food supplement &amp; Nutrition category" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read more</span><span class="nowrap-text">⁠<i class="icon icon-Circle_Arrow_Right_pw"></i></span>
              </a>
            </div>
          </div></div><div class="owl-item cloned" style="width: 277.677px;"><div class="carousal-wrapper col-md-12 col-lg-4 rightbar teaserMargin ">
            <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/jnsd-beverage-lines-with-filtration-and-uv.html" class="js-teaser-analytics teaser-image-link" title="Read more" data-link-section="Teaser_imageClick" data-link-name="Read more" data-asset-name="jnsd-beverage-lines-with-filtration-and-uv.html" data-download-type="" data-button-link-type="link" data-paren-link-title=":Redefining JNSD beverage line architecture with filtration and UV" data-anchor-type="Text Hyperlink" target="_self">







    <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="Redefining JNSD beverage line architecture with filtration and UV" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1">



            </a>

            <h4 class="tilte noTopPad">Redefining JNSD beverage line architecture with filtration and UV</h4>

            <p class="description">Reduce overall energy costs by up to 67% and water usage by about 50% with our new juice, nectar and still drinks technology.</p>

            <div class="link">

              <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/jnsd-beverage-lines-with-filtration-and-uv.html" class="tpatom-link tpatom-link--transparent js-teaser-analytics" title="Read more" data-link-section="Teaser_Text Hyperlink" data-link-name="Read more" data-asset-name="jnsd-beverage-lines-with-filtration-and-uv.html" data-paren-link-title=":Redefining JNSD beverage line architecture with filtration and UV" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read more</span><span class="nowrap-text">⁠<i class="icon icon-Circle_Arrow_Right_pw"></i></span>
              </a>
            </div>
          </div></div><div class="owl-item cloned" style="width: 277.677px;"><div class="carousal-wrapper col-md-12 col-lg-4  teaserMargin ">
            <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/standing-out-with-tetra-brik-900-ultra-edge.html" class="js-teaser-analytics teaser-image-link" title="Read more" data-link-section="Teaser_imageClick" data-link-name="Read more" data-asset-name="standing-out-with-tetra-brik-900-ultra-edge.html" data-download-type="" data-button-link-type="link" data-paren-link-title=":Standing out from the crowd with Tetra Brik 900 Ultra Edge" data-anchor-type="Text Hyperlink" target="_self">







    <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="Standing out from the crowd with Tetra Brik 900 Ultra Edge" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1">



            </a>

            <h4 class="tilte noTopPad">Standing out from the crowd with Tetra Brik 900 Ultra Edge</h4>

            <p class="description">When Maeil Dairies set out to revitalise the market for chilled white milk, Tetra Brik® 900 Ultra Edge with LightCap™ 30 was the natural choice.</p>

            <div class="link">

              <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/standing-out-with-tetra-brik-900-ultra-edge.html" class="tpatom-link tpatom-link--transparent js-teaser-analytics" title="Read more" data-link-section="Teaser_Text Hyperlink" data-link-name="Read more" data-asset-name="standing-out-with-tetra-brik-900-ultra-edge.html" data-paren-link-title=":Standing out from the crowd with Tetra Brik 900 Ultra Edge" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read more</span><span class="nowrap-text">⁠<i class="icon icon-Circle_Arrow_Right_pw"></i></span>
              </a>
            </div>
          </div></div><div class="owl-item" style="width: 277.677px;"><div class="carousal-wrapper col-md-12 col-lg-4 rightbar teaserMargin ">
            <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/optimized-milk-homogenization.html" class="js-teaser-analytics teaser-image-link" title="Read more" data-link-section="Teaser_imageClick" data-link-name="Read more" data-asset-name="optimized-milk-homogenization.html" data-download-type="" data-button-link-type="link" data-paren-link-title=":Optimized milk homogenization – new methods for achieving longer shelf life" data-anchor-type="Text Hyperlink" target="_self">







    <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="Optimized milk homogenization – new methods for achieving longer shelf life" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1" data-was-processed="true">



            </a>

            <h4 class="tilte noTopPad">Optimized milk homogenization – new methods for achieving longer shelf life</h4>

            <p class="description">Sign up for our white paper and find out how new homogenization technologies can make dairy operations more cost-effective, flexible and sustainable.
</p>

            <div class="link">

              <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/optimized-milk-homogenization.html" class="tpatom-link tpatom-link--transparent js-teaser-analytics" title="Read more" data-link-section="Teaser_Text Hyperlink" data-link-name="Read more" data-asset-name="optimized-milk-homogenization.html" data-paren-link-title=":Optimized milk homogenization – new methods for achieving longer shelf life" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read more</span><span class="nowrap-text">⁠<i class="icon icon-Circle_Arrow_Right_pw"></i></span>
              </a>
            </div>
          </div></div><div class="owl-item" style="width: 277.677px;"><div class="carousal-wrapper col-md-12 col-lg-4 rightbar teaserMargin ">
            <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/customisation-key-for-tine.html" class="js-teaser-analytics teaser-image-link" title="Read more" data-link-section="Teaser_imageClick" data-link-name="Read more" data-asset-name="customisation-key-for-tine.html" data-download-type="" data-button-link-type="link" data-paren-link-title=":Customisation is key for Tine" data-anchor-type="Text Hyperlink" target="_self">







    <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="Customisation is key for Tine" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1" data-was-processed="true">



            </a>

            <h4 class="tilte noTopPad">Customisation is key for Tine</h4>

            <p class="description">Tetra Pak has worked closely with Tine, Norway’s leading dairy producer, to provide filling equipment for its new state-of-the-art plant at Bergen</p>

            <div class="link">

              <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/customisation-key-for-tine.html" class="tpatom-link tpatom-link--transparent js-teaser-analytics" title="Read more" data-link-section="Teaser_Text Hyperlink" data-link-name="Read more" data-asset-name="customisation-key-for-tine.html" data-paren-link-title=":Customisation is key for Tine" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read more</span><span class="nowrap-text">⁠<i class="icon icon-Circle_Arrow_Right_pw"></i></span>
              </a>
            </div>
          </div></div><div class="owl-item" style="width: 277.677px;"><div class="carousal-wrapper col-md-12 col-lg-4  teaserMargin ">
            <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/the-rise-of-ambient-yoghurt.html" class="js-teaser-analytics teaser-image-link" title="Read more" data-link-section="Teaser_imageClick" data-link-name="Read more" data-asset-name="the-rise-of-ambient-yoghurt.html" data-download-type="" data-button-link-type="link" data-paren-link-title=":The rise of ambient yoghurt" data-anchor-type="Text Hyperlink" target="_self">







    <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="The rise of ambient yoghurt" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1" data-was-processed="true">



            </a>

            <h4 class="tilte noTopPad">The rise of ambient yoghurt</h4>

            <p class="description">Ambient drinking yoghurt, which does not need refrigeration, is popular among Chinese consumers and is now spreading across Asia Africa and Latin America</p>

            <div class="link">

              <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/the-rise-of-ambient-yoghurt.html" class="tpatom-link tpatom-link--transparent js-teaser-analytics" title="Read more" data-link-section="Teaser_Text Hyperlink" data-link-name="Read more" data-asset-name="the-rise-of-ambient-yoghurt.html" data-paren-link-title=":The rise of ambient yoghurt" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read more</span><span class="nowrap-text">⁠<i class="icon icon-Circle_Arrow_Right_pw"></i></span>
              </a>
            </div>
          </div></div><div class="owl-item" style="width: 277.677px;"><div class="carousal-wrapper col-md-12 col-lg-4 rightbar teaserMargin ">
            <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/industry-4-dream-big-start-small.html" class="js-teaser-analytics teaser-image-link" title="Read more" data-link-section="Teaser_imageClick" data-link-name="Read more" data-asset-name="industry-4-dream-big-start-small.html" data-download-type="" data-button-link-type="link" data-paren-link-title=":Industry 40 dream big start small" data-anchor-type="Text Hyperlink" target="_self">







    <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="Technical paper: Industry 4.0: Dream big, start small" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1" data-was-processed="true">



            </a>

            <h4 class="tilte noTopPad">Industry 40 dream big start small</h4>

            <p class="description">Industry 4.0 and connectivity is transforming the food and beverage industry. Get started on your Industry 4.0 journey.</p>

            <div class="link">

              <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/industry-4-dream-big-start-small.html" class="tpatom-link tpatom-link--transparent js-teaser-analytics" title="Read more" data-link-section="Teaser_Text Hyperlink" data-link-name="Read more" data-asset-name="industry-4-dream-big-start-small.html" data-paren-link-title=":Industry 40 dream big start small" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read more</span><span class="nowrap-text">⁠<i class="icon icon-Circle_Arrow_Right_pw"></i></span>
              </a>
            </div>
          </div></div><div class="owl-item active" style="width: 277.677px;"><div class="carousal-wrapper col-md-12 col-lg-4 rightbar teaserMargin ">
            <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/increased-production-arla.html" class="js-teaser-analytics teaser-image-link" title="Read more" data-link-section="Teaser_imageClick" data-link-name="Read more" data-asset-name="increased-production-arla.html" data-download-type="" data-button-link-type="link" data-paren-link-title=":​Increased production capacity at Arla Foods" data-anchor-type="Text Hyperlink" target="_self">







    <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="​Increased production capacity at Arla Foods" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1" data-was-processed="true">



            </a>

            <h4 class="tilte noTopPad">​Increased production capacity at Arla Foods</h4>

            <p class="description">Thanks to a new revolutionary disc stack design, Arla Foods in Vimmerby, Sweden processes up to 40 percent more milk in its two separators from Tetra Pak.</p>

            <div class="link">

              <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/increased-production-arla.html" class="tpatom-link tpatom-link--transparent js-teaser-analytics" title="Read more" data-link-section="Teaser_Text Hyperlink" data-link-name="Read more" data-asset-name="increased-production-arla.html" data-paren-link-title=":​Increased production capacity at Arla Foods" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read more</span><span class="nowrap-text">⁠<i class="icon icon-Circle_Arrow_Right_pw"></i></span>
              </a>
            </div>
          </div></div><div class="owl-item active" style="width: 277.677px;"><div class="carousal-wrapper col-md-12 col-lg-4  teaserMargin ">
            <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/tetra-recart-test-factory.html" class="js-teaser-analytics teaser-image-link" title="Read more" data-link-section="Teaser_imageClick" data-link-name="Read more" data-asset-name="tetra-recart-test-factory.html" data-download-type="" data-button-link-type="link" data-paren-link-title=":​​​​​​​​Success​ for Tetra Recart test factory" data-anchor-type="Text Hyperlink" target="_self">







    <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="​​​​​​​​Success​ for Tetra Recart test factory" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1" data-was-processed="true">



            </a>

            <h4 class="tilte noTopPad">​​​​​​​​Success​ for Tetra Recart test factory</h4>

            <p class="description">What should bean soup taste like in China? And how would Americans like their hummus? The Tetra Recart test factory team have the answers</p>

            <div class="link">

              <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/tetra-recart-test-factory.html" class="tpatom-link tpatom-link--transparent js-teaser-analytics" title="Read more" data-link-section="Teaser_Text Hyperlink" data-link-name="Read more" data-asset-name="tetra-recart-test-factory.html" data-paren-link-title=":​​​​​​​​Success​ for Tetra Recart test factory" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read more</span><span class="nowrap-text">⁠<i class="icon icon-Circle_Arrow_Right_pw"></i></span>
              </a>
            </div>
          </div></div><div class="owl-item active" style="width: 277.677px;"><div class="carousal-wrapper col-md-12 col-lg-4 rightbar teaserMargin ">
            <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/successful-npd-food-supplement-nutrition.html" class="js-teaser-analytics teaser-image-link" title="Read more" data-link-section="Teaser_imageClick" data-link-name="Read more" data-asset-name="successful-npd-food-supplement-nutrition.html" data-download-type="" data-button-link-type="link" data-paren-link-title=":The secrets of successful NPD in the Food supplement &amp; Nutrition category" data-anchor-type="Text Hyperlink" target="_self">







    <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="The secrets of successful NPD in the Food supplement &amp; Nutrition category" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1" data-was-processed="true">



            </a>

            <h4 class="tilte noTopPad">The secrets of successful NPD in the Food supplement &amp; Nutrition category</h4>

            <p class="description">Consumers are demanding specialized nutrition and greater convenience. This trend means you have a huge opportunity to develop attractive new products</p>

            <div class="link">

              <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/successful-npd-food-supplement-nutrition.html" class="tpatom-link tpatom-link--transparent js-teaser-analytics" title="Read more" data-link-section="Teaser_Text Hyperlink" data-link-name="Read more" data-asset-name="successful-npd-food-supplement-nutrition.html" data-paren-link-title=":The secrets of successful NPD in the Food supplement &amp; Nutrition category" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read more</span><span class="nowrap-text">⁠<i class="icon icon-Circle_Arrow_Right_pw"></i></span>
              </a>
            </div>
          </div></div><div class="owl-item" style="width: 277.677px;"><div class="carousal-wrapper col-md-12 col-lg-4 rightbar teaserMargin ">
            <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/jnsd-beverage-lines-with-filtration-and-uv.html" class="js-teaser-analytics teaser-image-link" title="Read more" data-link-section="Teaser_imageClick" data-link-name="Read more" data-asset-name="jnsd-beverage-lines-with-filtration-and-uv.html" data-download-type="" data-button-link-type="link" data-paren-link-title=":Redefining JNSD beverage line architecture with filtration and UV" data-anchor-type="Text Hyperlink" target="_self">







    <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="Redefining JNSD beverage line architecture with filtration and UV" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1" data-was-processed="true">



            </a>

            <h4 class="tilte noTopPad">Redefining JNSD beverage line architecture with filtration and UV</h4>

            <p class="description">Reduce overall energy costs by up to 67% and water usage by about 50% with our new juice, nectar and still drinks technology.</p>

            <div class="link">

              <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/jnsd-beverage-lines-with-filtration-and-uv.html" class="tpatom-link tpatom-link--transparent js-teaser-analytics" title="Read more" data-link-section="Teaser_Text Hyperlink" data-link-name="Read more" data-asset-name="jnsd-beverage-lines-with-filtration-and-uv.html" data-paren-link-title=":Redefining JNSD beverage line architecture with filtration and UV" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read more</span><span class="nowrap-text">⁠<i class="icon icon-Circle_Arrow_Right_pw"></i></span>
              </a>
            </div>
          </div></div><div class="owl-item" style="width: 277.677px;"><div class="carousal-wrapper col-md-12 col-lg-4  teaserMargin ">
            <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/standing-out-with-tetra-brik-900-ultra-edge.html" class="js-teaser-analytics teaser-image-link" title="Read more" data-link-section="Teaser_imageClick" data-link-name="Read more" data-asset-name="standing-out-with-tetra-brik-900-ultra-edge.html" data-download-type="" data-button-link-type="link" data-paren-link-title=":Standing out from the crowd with Tetra Brik 900 Ultra Edge" data-anchor-type="Text Hyperlink" target="_self">







    <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="Standing out from the crowd with Tetra Brik 900 Ultra Edge" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1" data-was-processed="true">



            </a>

            <h4 class="tilte noTopPad">Standing out from the crowd with Tetra Brik 900 Ultra Edge</h4>

            <p class="description">When Maeil Dairies set out to revitalise the market for chilled white milk, Tetra Brik® 900 Ultra Edge with LightCap™ 30 was the natural choice.</p>

            <div class="link">

              <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/standing-out-with-tetra-brik-900-ultra-edge.html" class="tpatom-link tpatom-link--transparent js-teaser-analytics" title="Read more" data-link-section="Teaser_Text Hyperlink" data-link-name="Read more" data-asset-name="standing-out-with-tetra-brik-900-ultra-edge.html" data-paren-link-title=":Standing out from the crowd with Tetra Brik 900 Ultra Edge" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read more</span><span class="nowrap-text">⁠<i class="icon icon-Circle_Arrow_Right_pw"></i></span>
              </a>
            </div>
          </div></div><div class="owl-item cloned" style="width: 277.677px;"><div class="carousal-wrapper col-md-12 col-lg-4 rightbar teaserMargin ">
            <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/optimized-milk-homogenization.html" class="js-teaser-analytics teaser-image-link" title="Read more" data-link-section="Teaser_imageClick" data-link-name="Read more" data-asset-name="optimized-milk-homogenization.html" data-download-type="" data-button-link-type="link" data-paren-link-title=":Optimized milk homogenization – new methods for achieving longer shelf life" data-anchor-type="Text Hyperlink" target="_self">







    <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="Optimized milk homogenization – new methods for achieving longer shelf life" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1" data-was-processed="true">



            </a>

            <h4 class="tilte noTopPad">Optimized milk homogenization – new methods for achieving longer shelf life</h4>

            <p class="description">Sign up for our white paper and find out how new homogenization technologies can make dairy operations more cost-effective, flexible and sustainable.
</p>

            <div class="link">

              <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/optimized-milk-homogenization.html" class="tpatom-link tpatom-link--transparent js-teaser-analytics" title="Read more" data-link-section="Teaser_Text Hyperlink" data-link-name="Read more" data-asset-name="optimized-milk-homogenization.html" data-paren-link-title=":Optimized milk homogenization – new methods for achieving longer shelf life" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read more</span><span class="nowrap-text">⁠<i class="icon icon-Circle_Arrow_Right_pw"></i></span>
              </a>
            </div>
          </div></div><div class="owl-item cloned" style="width: 277.677px;"><div class="carousal-wrapper col-md-12 col-lg-4 rightbar teaserMargin ">
            <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/customisation-key-for-tine.html" class="js-teaser-analytics teaser-image-link" title="Read more" data-link-section="Teaser_imageClick" data-link-name="Read more" data-asset-name="customisation-key-for-tine.html" data-download-type="" data-button-link-type="link" data-paren-link-title=":Customisation is key for Tine" data-anchor-type="Text Hyperlink" target="_self">







    <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="Customisation is key for Tine" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1" data-was-processed="true">



            </a>

            <h4 class="tilte noTopPad">Customisation is key for Tine</h4>

            <p class="description">Tetra Pak has worked closely with Tine, Norway’s leading dairy producer, to provide filling equipment for its new state-of-the-art plant at Bergen</p>

            <div class="link">

              <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/customisation-key-for-tine.html" class="tpatom-link tpatom-link--transparent js-teaser-analytics" title="Read more" data-link-section="Teaser_Text Hyperlink" data-link-name="Read more" data-asset-name="customisation-key-for-tine.html" data-paren-link-title=":Customisation is key for Tine" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read more</span><span class="nowrap-text">⁠<i class="icon icon-Circle_Arrow_Right_pw"></i></span>
              </a>
            </div>
          </div></div><div class="owl-item cloned" style="width: 277.677px;"><div class="carousal-wrapper col-md-12 col-lg-4  teaserMargin ">
            <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/the-rise-of-ambient-yoghurt.html" class="js-teaser-analytics teaser-image-link" title="Read more" data-link-section="Teaser_imageClick" data-link-name="Read more" data-asset-name="the-rise-of-ambient-yoghurt.html" data-download-type="" data-button-link-type="link" data-paren-link-title=":The rise of ambient yoghurt" data-anchor-type="Text Hyperlink" target="_self">







    <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="The rise of ambient yoghurt" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1">



            </a>

            <h4 class="tilte noTopPad">The rise of ambient yoghurt</h4>

            <p class="description">Ambient drinking yoghurt, which does not need refrigeration, is popular among Chinese consumers and is now spreading across Asia Africa and Latin America</p>

            <div class="link">

              <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/the-rise-of-ambient-yoghurt.html" class="tpatom-link tpatom-link--transparent js-teaser-analytics" title="Read more" data-link-section="Teaser_Text Hyperlink" data-link-name="Read more" data-asset-name="the-rise-of-ambient-yoghurt.html" data-paren-link-title=":The rise of ambient yoghurt" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read more</span><span class="nowrap-text">⁠<i class="icon icon-Circle_Arrow_Right_pw"></i></span>
              </a>
            </div>
          </div></div><div class="owl-item cloned" style="width: 277.677px;"><div class="carousal-wrapper col-md-12 col-lg-4 rightbar teaserMargin ">
            <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/industry-4-dream-big-start-small.html" class="js-teaser-analytics teaser-image-link" title="Read more" data-link-section="Teaser_imageClick" data-link-name="Read more" data-asset-name="industry-4-dream-big-start-small.html" data-download-type="" data-button-link-type="link" data-paren-link-title=":Industry 40 dream big start small" data-anchor-type="Text Hyperlink" target="_self">







    <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="Technical paper: Industry 4.0: Dream big, start small" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1">



            </a>

            <h4 class="tilte noTopPad">Industry 40 dream big start small</h4>

            <p class="description">Industry 4.0 and connectivity is transforming the food and beverage industry. Get started on your Industry 4.0 journey.</p>

            <div class="link">

              <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/industry-4-dream-big-start-small.html" class="tpatom-link tpatom-link--transparent js-teaser-analytics" title="Read more" data-link-section="Teaser_Text Hyperlink" data-link-name="Read more" data-asset-name="industry-4-dream-big-start-small.html" data-paren-link-title=":Industry 40 dream big start small" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read more</span><span class="nowrap-text">⁠<i class="icon icon-Circle_Arrow_Right_pw icon-Arrow_Right_pw"></i></span>
              </a>
            </div>
          </div></div><div class="owl-item cloned" style="width: 277.677px;"><div class="carousal-wrapper col-md-12 col-lg-4 rightbar teaserMargin ">
            <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/increased-production-arla.html" class="js-teaser-analytics teaser-image-link" title="Read more" data-link-section="Teaser_imageClick" data-link-name="Read more" data-asset-name="increased-production-arla.html" data-download-type="" data-button-link-type="link" data-paren-link-title=":​Increased production capacity at Arla Foods" data-anchor-type="Text Hyperlink" target="_self">







    <img src="https://s7g10.scene7.com/is/image/?scl=1" data-src="https://s7g10.scene7.com/is/image/?scl=1" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="​Increased production capacity at Arla Foods" data-src_desktop="https://s7g10.scene7.com/is/image/?scl=1" data-src_desktopl="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilep="https://s7g10.scene7.com/is/image/?scl=1" data-src_mobilel="https://s7g10.scene7.com/is/image/?scl=1">



            </a>

            <h4 class="tilte noTopPad">​Increased production capacity at Arla Foods</h4>

            <p class="description">Thanks to a new revolutionary disc stack design, Arla Foods in Vimmerby, Sweden processes up to 40 percent more milk in its two separators from Tetra Pak.</p>

            <div class="link">

              <a href="/content/tetrapak/publicweb/lang-masters/en/insights/cases-articles/increased-production-arla.html" class="tpatom-link tpatom-link--transparent js-teaser-analytics" title="Read more" data-link-section="Teaser_Text Hyperlink" data-link-name="Read more" data-asset-name="increased-production-arla.html" data-paren-link-title=":​Increased production capacity at Arla Foods" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read more</span><span class="nowrap-text">⁠<i class="icon icon-Circle_Arrow_Right_pw icon-Arrow_Right_pw"></i></span>
              </a>
            </div>
          </div></div></div></div><div class="owl-nav"><div class="owl-prev" style="top: 101px;"><i class="icon icon-Navigation_Right_pw"></i></div><div class="owl-next" style="top: 101px;"><i class="icon icon-Navigation_Right_pw"></i></div></div><div class="owl-dots"><div class="owl-dot"><span></span></div><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>
