<div id="#" title="title"
       class="pw-text-video pw-text-video--row pw-theme--greyscale pw-padding--regular pw-margin--regular"
       data-locator="text-video" data-module="TextVideo">
    <div class="row">
      <div class="col-md-12 display-row-reversed">
        <p class="pw-text-video__subTitle d-none d-lg-block">subtitle</p>
        <div class="pw-text-video__title d-none d-lg-block">

        </div>
        <p class="pw-text-video__description d-none d-lg-block">description</p>
        <div class="pw-text-video__link d-none d-lg-block">
                <a
                href="/textvideo"
                class="tpatom-link tpatom-link--trasparent js-textVideo-analytics js-softconversion-pw-textvideo"
                title="titledata"
                target="sadsa"
                data-link-type="internal"
                data-link-section="Text and Video CTA Click"
                data-link-name="test"
                data-video-name="test video name"
                data-button-link-type="button"
                data-download-type="download"
                >
                <span class="tpatom-link__text sly-text">testing</span>
                <i class="icon icon-Circle_Arrow_Right"></i>
             </a>
              </div>
      </div>
      <div class="col-md-12 display-row-reversed">
          <div class="pw-text-video__video">
            <iframe src="/youtube" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
          </div>
        <p class="pw-text-video__subTitle d-md-block d-lg-none">Title</p>
        <div class="pw-text-video__title d-md-block d-lg-none">
        </div>
        <p class="pw-text-video__description d-md-block d-lg-none">description</p>
        <div class="pw-text-video__link d-md-block d-lg-none">
          <a
                href="/textVIdeo"
                class="tpatom-link primary"
                title="this is title"
                target="asdasd">
                <span class="tpatom-link__text sly-text">text</span>
                <i class="icon icon-Circle_Arrow_Right"></i>
             </a>
        </div>
      </div>
    </div>
  </div>
