@import '../../../../node_modules/slick-carousel/slick/slick';
.tp-modal-dialog.modal-dialog {
    @include max-width(700px);
    @media #{$mobile} {
        @include margin ($margin-md);
    }
    .modal-content {
        @include box-shadow-modal;
    }
    .modal-header,
    .modal-body {
        @include no-border;
        @include padding(0);
    }
}

.tp-close-btn {
    position: absolute;
    @include top(5px);
    @include right(5px);
    z-index: $zindex-p;
}

.intro-slider {
    font-family: 'muliregular';
    &__slider-image {
        @media #{$desktop} {
            @include width(700px);
            @include height(300px);
        }
    }
    &__description {
        @include padding(17px 25px);
    }
    &__title {
        font-family: 'mulilight';
        @include margin-bottom ($margin-l);
        @include line-height (32px, $font-l);
    }
}

.next-button-wrapper {
    @include margin-left ($margin-sm);
}

.slider-dots {
    text-align: center;
    @include margin-bottom($margin-md);
    .slick-dots,
    li {
        display: inline-block;
    }
}

.slick-active {
    .tp-dot::after {
        background-color: #023F88;
    }
}