@import '../../../../node_modules/slick-carousel/slick/slick';

.modal-dialog {
    @include max-width(700px);
    @media #{$mobile} {
        @include margin (16px);
    }    
}
.modal-content{
   @include box-shadow-modal;
}
.modal-header,
.modal-body {
    @include no-border;
    @include padding(0);
}
.tp-close-btn {
    position: absolute;
    @include top (5px);
    @include right (5px);
    z-index: 1;
}
.intro-slider {
    font-family: 'muliregular';
    
    &__slider-image{        
        @media #{$desktop} {
            @include width(700px);
            @include height (300px);
        }
    }
    &__description {
        @include padding(17px 25px);
    }
    &__title {
        font-family: 'mulilight';
        @include margin-bottom (13px);
        line-height: 32px;

	}
}
.next-button-wrapper{
    @include margin-left (7px);
}
.slider-dots {
    text-align: center;
    @include margin-bottom(16px);
    ul,
    li {
        display: inline-block;
	}
}

.slick-active .tp-dot {
	&::after {
		background-color: #023F88;
	}
}

.get-started-btn {
    @include display-none;
}