@import '../../../../node_modules/slick-carousel/slick/slick';
.modal--intro-screen {
    .modal-dialog {
        @include max-width(700px);
        @media #{$mobile} {
            @include margin($margin-md);
        }
        .modal-content {
            @include box-shadow-modal;
            overflow: hidden;
            @media #{$mobile} {
                height: calc(100vh - #{$margin-md} * 2);
            }
        }
        .modal-header,
        .modal-body {
            @include no-border;
            @include padding(0);
        }
    }
    .modal-footer {
        border: 0;
        padding: 0;
        flex-direction: column;
        align-items: initial;
    }
    @media #{$mobile} {
        .modal-dialog-centered {
            min-height: calc(100vh - #{$margin-md} * 2);
            height: calc(100vh - #{$margin-md} * 2);
        }
    }
}

.tp-close-btn {
    @include top(5px);
    @include right(5px);
    position: absolute;
    z-index: $zindex-p;
    @include font-size($font-normal);
}

.intro-slider {
    &__slider-image {
        @media #{$desktop} {
            @include width(700px);
            @include height(300px);
        }
    }
    &__description {
        @include padding($padding-md $padding-l);
    }
    &__title {
        @include margin-top ($margin-sm);
        @include margin-bottom ($margin-l);
        @include line-height (32px, $font-l);
    }
}

.next-button-wrapper {
    @include margin-left ($margin-l);
}

.slider-dots {
    @include margin-bottom($margin-md);
    text-align: center;
    .slick-dots,
    li {
        display: inline-block;
    }
}

.slick-active {
    .tp-dot {
        &::after {
            background-color: $color-congress-blue;
        }
    }
}