.tpmol-accordian-title {
    @include padding-top(10px);
    @include padding-bottom(10px);
    display: block;
    width: 100%;
    border-bottom: 1px solid $color-tundora;
    font-family: $font-semiBold;
    text-align: left;

    .icon {
        @include margin-right($margin-xs);
    }
}
