.pw-modal {
    &.modal-dialog {
        max-width: 95%;
        @media #{$tablet} {
            max-width: 900px;
        }
    }

    .modal-content {
        @include padding(2px);
        @media #{$tablet} {
            @include padding(34px);
        }
    }

    .modal-header {
        border-bottom: 0;

        .close {
            @include padding(10px);
            @include margin(0);
            @include font-size(16px);
            color: $color-tundora;
            opacity: 1;
        }
    }

    .info-box {
        @include border-radius($border-radius);
        @include padding(16px);
        background-color: $color-wild-sand;
        height: auto;
        @media #{$tablet} {
            @include padding(24px);
            height: 100%;
        }
    }

    .info-group {
        @include padding(0 12px 0 0);
        display: none;
        position: relative;
        width: 100%;

        &.show {
            display: block;
        }

        label {
            font-family: $font-bold;
        }
    }
    .edit-step {
        @include font-size(12px);
        color: $color-tundora;
        position: absolute;
        right: 0;
        top: 5px;

        &:hover {
            color: $color-mercury;
        }
    }

    &__prevbtn {
        i.tpatom-button__icon {
            @include padding(0 $padding-sm 0 0);
            &::before {
                content: '\f112';
            }
        }
    }
}

// Progress bar
$progress-units: (
    '10': 10%,
    '14': 14%,
    '20': 20%,
    '28': 28%,
    '25': 25%,
    '30': 30%,
    '33': 33%,
    '40': 40%,
    '43': 43%,
    '50': 50%,
    '57': 57%,
    '60': 60%,
    '66': 66%,
    '70': 70%,
    '71': 71%,
    '75': 75%,
    '80': 80%,
    '86': 86%,
    '90': 90%,
    '100': 100%
);

.pw-progress {
    $self: &;
    &__barwrapper {
        @include border-radius($border-radius);
        background-color: $color-mercury;
        position: relative;
        width: 100%;
        height: $font-xl;
    }
    &__bar {
        background-color: $color-white;
        position: absolute;
        width: calc(100% - #{convert-to-rem($padding-l*2)});
        height: 1px;
        left: $padding-l;
        top: 50%;
        transform: translateY(-50%);
        &--blue {
            background-color: $color-congress-blue;
        }
    }
    @each $key, $value in $progress-units {
        #{ $self }__bar--#{ $key } {
            width: calc(#{ $value } - #{convert-to-rem($padding-l)});
        }
    }
    &__point {
        background-color: $color-white;
        border-radius: 100%;
        position: absolute;
        width: $font-sm;
        height: $font-sm;
        left: -#{convert-to-rem($font-sm/2)};
        top: 50%;
        transform: translateY(-50%);
        &--blue {
            background-color: $color-congress-blue;
        }
        &--100 {
            left: calc(100% - #{convert-to-rem($font-sm/2)});
        }
        &--big {
            width: $font-normal;
            height: $font-normal;
            left: calc(100% - #{convert-to-rem($font-normal/2)});
        }
    }
    & #{ $self }__info {
        @include padding(0);
        @media #{$tablet} {
            @include padding(0 0 0 $padding-md);
        }
    }
}

// Form styles
.pw-form {
    .form-group {
        .error-msg {
            display: none;
            color: $color-alert;
            font-size: $font-xs;
        }
        &.hasError {
            input {
                border-color: $color-alert;
            }
            .error-msg {
                display: block;
            }
        }
    }
    .form-control {
        border: 1px solid $color-boulder;
        color: $color-tundora;
        height: convert-to-rem(40px);
        padding: $padding-sm $padding-md;
    }
    .form-check {
        padding-left: 0;
        &-input {
            visibility: hidden;
            &:checked ~ .form-check-radio {
                &::before { //sass-lint:disable-line nesting-depth
                    background: $color-boulder;
                }
            }
        }
        &-label {
            @include padding-left($padding-l);
            position: relative;
            z-index: 9;
        }
        &-radio {
            border: 1px solid $color-boulder;
            display: block;
            border-radius: 100%;
            position: absolute;
            height: 20px;
            width: 20px;
            top: 0;
            left: 0;
            z-index: 5;

            &::before {
                display: block;
                position: absolute;
                content: '';
                border-radius: 100%;
                height: 8px;
                width: 8px;
                top: 5px;
                left: 5px;
                margin: auto;
            }
        }
    }
}
