/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.tp-next-btn {
    @include font-size($font-baseline);
    @include line-height(40px, $font-baseline);
    @include letter-spacing(0.5px);
    background: none;
    border: 0;
    padding: 0;
    color: $color-text-link;
    font-family: $font-light;
    cursor: pointer;
    &__text {
        @include margin-right($margin-sm);
        float: left;
        .tp-btnNext--disabled & {
            opacity: $opacity-mid;
        }
    }
    &__icon {
        display: inline-block;
        .tp-btnNext--disabled & {
            opacity: $opacity-mid;
        }
    }
    &--disabled {
        background: $color-wild-sand;
        color: $color-congress-blue;
    }
}