<sly data-sly-template.nextButton_template="${@ nextBtnText, btnClasses, btnTextIcon, linkUrl ,linkHeading}">
  <sly data-sly-test.isLink="${linkUrl}">
    <a class="tp-next-btn ${btnClasses}" href="${linkUrl}" datatag="internal" ctype="dashboard-recommendations" ctypeone="${linkHeading}" cttitle="${nextBtnText}">
        <p class="tp-next-btn__text float-left">${nextBtnText}</p>
        <i class="tp-next-btn__icon ${btnTextIcon}"></i>
    </a>
  </sly>
  <sly data-sly-test="${!isLink}">
    <button class="tp-next-btn ${btnClasses} ">
          <p class="tp-next-btn__text float-left">${nextBtnText} </p>
          <i class="tp-next-btn__icon ${btnTextIcon}"></i>
    </button>
  </sly>
</sly>
