<picture>
    <!--[if IE 9]><video style="display: none;"><![endif]-->
    <source srcset="{{ imgHero.srcLarge }}" media="(min-width: 768px)">
    <!--[if IE 9]></video><![endif]-->
    <img srcset="{{imgHero.srcSmall}}" alt="{{imgHero.alt}}" title="{{imgHero.alt}}" class="{{imgHero.class}}" />
</picture>
