.tp-pw-image {
    max-width: 100%;
    .pw-padding {
        &--zero {
            @include padding($padding-zero);
            @include margin($margin-zero);
        }
    }
    &__center-align {
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
    &__regular {
        @include padding(0);
        max-width: 100%;
        margin: 16px auto 0;
        height: auto;

        @media #{$desktop} {
            @include max-width($body-max-width);
            margin: $margin-l auto $margin-zero;
    }
    }
    &__zero {
        @include padding($padding-zero $padding-md);
        max-width: 100%;
        margin: 0 auto;
        height: auto;

        @media #{$desktop} {
            @include max-width($body-max-width);
            @include padding($padding-zero $padding-l);
            margin: $margin-zero auto;
    }
    }
    img {
        max-width: 100%;
    }
}