.tp-pw-image {
    max-width: 100%;

    &__center-align {
        margin: $margin-zero auto;
        padding-left: $padding-zero;
        padding-right: $padding-zero;
        text-align: center;
    }
    &__regular {
        @include padding($padding-zero);
        max-width: 100%;
        margin: $margin-md auto $margin-zero;
        height: auto;

        @media #{$desktop} {
            @include max-width($body-max-width);
            margin: $margin-l auto $margin-zero;
        }

        .pw-padding {
            &--regular {
                @include padding($padding-l);
                border-radius: 4px;
            }
        }
    }
    &__zero {
        @include padding($padding-zero);
        max-width: 100%;
        margin: $margin-zero auto;
        height: auto;

        @media #{$desktop} {
            @include max-width($body-max-width);
            @include padding($padding-zero);
            margin: $margin-zero auto;
        }
        .pw-padding {
            &--zero {
                border-radius: 4px;
            }
        }
    }
    img {
        max-width: 100%;
        width: 100%;
    }
}