.collapse > .pw-sub-section-menu {
    display: block;
}

@media #{$i-pad} {
    .collapse > .pw-sub-section-menu {
        display: block;
    }
}

.pw-sub-section-menu {
    .pseudo-category-header {
        text-transform: uppercase;
        color: $color-boulder;
        > .pseudo-category-link {
            text-transform: initial;
        }
    }

    a {
        font-family: $font-monsterrat;
        font-weight: 500;
    }

    @media #{$mobile} {
        .category-child-ul {
            display: flex;
            flex-direction: column;
            & > ul > li > a {
                border-top: 1px solid $color-mercury;
                @include padding($padding-md);
                @include padding-left(40px);
            }
        }
        .pseudo-category-header {
            @include padding($padding-md);
            @include padding-left(40px);
            font-size: $font-sm;
            line-height: 16px;
            border-top: 1px solid $color-mercury;
        }
        hr {
            display: none;
        }
        & > ul,
        .sub-section-category {
            background: $color-wild-sand;
        }
    }
    @media #{$desktop} {
        @include padding-top(18px);
        display: none;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        &.show.show-modal-from-left {
            left: 8px;
            transform: translate(0%);
        }
        &.show.show-modal-from-right {
            right: 8px;
            left: auto;
            transform: translate(0%);
        }
        .pseudo-category {
            display: inline-block;
        }
        .pseudo-category-header {
            @include line-height(20px, $font-sm);
            font-size: $font-sm;
        }

        & > ul,
        .sub-section-category {
            @include padding($padding-xl);
            background: $color-wild-sand;
            display: flex;
        }

        hr {
            @include margin-top($margin-md);
            @include margin-bottom($margin-l);
            color: $color-mercury;
        }

        & > ul {
            & > li {
                @include margin-left($margin-xl);
                &:first-child {
                    @include margin-left($margin-zero);
                }
            }
        }

        li {
            @include margin($margin-zero);
            @include line-height(20px, $font-sm);
            white-space: nowrap;
            background: $color-wild-sand;
            font-size: $font-sm;
            &:first-child {
                @include margin-left($margin-zero);
            }
        }
        a {
            @include line-height(20px, $font-sm);
            @include padding($padding-zero);
            font-size: $font-sm;
            color: $color-tundora;
        }
        &.show {
            display: block;
        }

        .category-child-ul {
            display: flex;
            & > ul {
                @include margin-left($margin-xl);
                &:first-child {
                    @include margin-left($margin-zero);
                }
                li {
                    @include margin-bottom($margin-sm);
                    &:last-child {
                        @include margin-bottom($margin-zero);
                    }
                }
            }
        }
    }
    @media #{$i-pad} {
        display: block;
        position: static;
        transform: unset;
        @include padding-top($padding-zero);
        .pseudo-category {
            display: list-item;
        }
        a {
            @include font-size(14px);
            @include line-height(24px, 14px);
            font-family: $font-monsterrat;
            font-weight: 500;
        }
        & > ul {
            & > li {
                @include margin-left($margin-zero);
            }
        }
        .category-child-ul {
            display: flex;
            flex-direction: column;
            & > ul > li > a {
                border-top: 1px solid $color-mercury;
                @include padding($padding-md);
                @include padding-left(40px);
            }
            & > ul {
                @include margin-left($margin-zero);
                li {
                    @include margin-bottom($margin-zero);
                }
            }
        }
        .pseudo-category-header {
            @include padding($padding-md);
            @include padding-left(40px);
            font-size: $font-sm;
            line-height: 16px;
            border-top: 1px solid $color-mercury;
        }
        hr {
            display: none;
        }
        & > ul,
        .sub-section-category {
            @include padding($padding-zero);
            background: $color-wild-sand;
            display: block;
        }
    }
}
