<sly data-sly-template.subSectionMenu_template="${@ data, mobileOverviewLabel, linkPath, subSectionCount,selectedL3,selectedL4}">
  <div auto-locator="L3L4FlyoutContainer-L3L4FlyoutContainerPadding" class="pw-sub-section-menu js-sub-menu-navigation-Link" aria-hidden="true" aria-expanded="false">
    <sly data-sly-test="${data.subSections}">
      <div auto-locator="L3L4Flyout-L3L4FlyoutPadding" class='category-child-ul sub-section-category'>
        <ul data-sly-list.subSectionsItem=${data.subSections}>
          <li class="d-lg-none" data-sly-test="${subSectionsItemList.index == 0 && mobileOverviewLabel}">
            <a class="sub-menu-navigation-link-item js-sub-menu-navigation-link-item"
              href="${linkPath}">${mobileOverviewLabel}</a>
          </li>
          <li data-sly-test="${subSectionsItemList.index <= 5}">
            <sly data-sly-use.linkAtom="/apps/publicweb/components/atoms/navigationLink/navigationLink-template.html"
              data-sly-call="${linkAtom.navigationLink_template @ subSectionsItem=subSectionsItem,selectedL3=selectedL3,selectedL4=selectedL4}">
            </sly>
          </li>
        </ul>
        <sly data-sly-test="${subSectionCount > 6}">
          <ul data-sly-list.subSectionsItem=${data.subSections}>
            <li data-sly-test="${subSectionsItemList.index > 5 && subSectionsItemList.index < 12}">
              <sly data-sly-use.linkAtom="/apps/publicweb/components/atoms/navigationLink/navigationLink-template.html"
                data-sly-call="${linkAtom.navigationLink_template @ subSectionsItem=subSectionsItem,selectedL3=selectedL3,selectedL4=selectedL4}">
              </sly>
            </li>
          </ul>
        </sly>
        <sly data-sly-test="${subSectionCount > 12}">
          <ul data-sly-list.subSectionsItem=${data.subSections}>
            <li data-sly-test="${subSectionsItemList.index > 11 && subSectionsItemList.index < 18}">
              <sly data-sly-use.linkAtom="/apps/publicweb/components/atoms/navigationLink/navigationLink-template.html"
                data-sly-call="${linkAtom.navigationLink_template @ subSectionsItem=subSectionsItem,selectedL3=selectedL3,selectedL4=selectedL4}">
              </sly>
            </li>
          </ul>
        </sly>
        <sly data-sly-test="${subSectionCount > 18}">
          <ul data-sly-list.subSectionsItem=${data.subSections}>
            <li data-sly-test="${subSectionsItemList.index > 17 && subSectionsItemList.index < 24}">
              <sly data-sly-use.linkAtom="/apps/publicweb/components/atoms/navigationLink/navigationLink-template.html"
                data-sly-call="${linkAtom.navigationLink_template @ subSectionsItem=subSectionsItem,selectedL3=selectedL3,selectedL4=selectedL4}">
              </sly>
            </li>
          </ul>
        </sly>

      </div>
    </sly>

    <sly data-sly-test="${data.pseudoCategoriesSection}">
      <ul auto-locator="L3L4Flyout-L3L4FlyoutPadding" data-sly-list.pseudoCategoriesSectionItem=${data.pseudoCategoriesSection}>
        <li class="d-lg-none pseudo-category-header" data-sly-test="${pseudoCategoriesSectionItemList.index == 0}">
          <a class="sub-menu-navigation-link-item js-sub-menu-navigation-link-item pseudo-category-link" href="${linkPath}">${mobileOverviewLabel}</a>
        </li>
        <li class="pseudo-category">
          <div>
            <div auto-locator="L3LinksFontStyle" class='pseudo-category-header'>
              ${pseudoCategoriesSectionItem.title}
            </div>
            <hr />
            <div class='category-child-ul'>

              <ul data-sly-list.subSectionsItem=${pseudoCategoriesSectionItem.subSections}>
                <li data-sly-test="${subSectionsItemList.index <= 9}">
                  <sly
                    data-sly-use.linkAtom="/apps/publicweb/components/atoms/navigationLink/navigationLink-template.html"
                    data-sly-call="${linkAtom.navigationLink_template @ subSectionsItem=subSectionsItem,selectedL3=selectedL3,selectedL4=selectedL4,pseudoTitle=pseudoCategoriesSectionItem.title}">
                  </sly>
                </li>
              </ul>
              <sly data-sly-test="${pseudoCategoriesSectionItem.subSectionCount > 10}">
                <ul data-sly-list.subSectionsItem=${pseudoCategoriesSectionItem.subSections}>
                  <li data-sly-test="${subSectionsItemList.index > 9 && subSectionsItemList.index <= 19}">
                    <sly
                      data-sly-use.linkAtom="/apps/publicweb/components/atoms/navigationLink/navigationLink-template.html"
                      data-sly-call="${linkAtom.navigationLink_template @ subSectionsItem=subSectionsItem,selectedL3=selectedL3,selectedL4=selectedL4,pseudoTitle=pseudoCategoriesSectionItem.title}">
                    </sly>
                  </li>
                </ul>
              </sly>
              <sly data-sly-test="${pseudoCategoriesSectionItem.subSectionCount > 20}">
                <ul data-sly-list.subSectionsItem=${pseudoCategoriesSectionItem.subSections}>
                  <li data-sly-test="${subSectionsItemList.index > 19 && subSectionsItemList.index <=29}">
                    <sly
                      data-sly-use.linkAtom="/apps/publicweb/components/atoms/navigationLink/navigationLink-template.html"
                      data-sly-call="${linkAtom.navigationLink_template @ subSectionsItem=subSectionsItem,selectedL3=selectedL3,selectedL4=selectedL4,pseudoTitle=pseudoCategoriesSectionItem.title}">
                    </sly>
                  </li>
                </ul>
              </sly>
              <sly data-sly-test="${pseudoCategoriesSectionItem.subSectionCount > 30}">
                <ul data-sly-list.subSectionsItem=${pseudoCategoriesSectionItem.subSections}>
                  <li data-sly-test="${subSectionsItemList.index > 29 && subSectionsItemList.index <=39}">
                    <sly
                      data-sly-use.linkAtom="/apps/publicweb/components/atoms/navigationLink/navigationLink-template.html"
                      data-sly-call="${linkAtom.navigationLink_template @ subSectionsItem=subSectionsItem,selectedL3=selectedL3,selectedL4=selectedL4,pseudoTitle=pseudoCategoriesSectionItem.title}">
                    </sly>
                  </li>
                </ul>
              </sly>
            </div>
          </div>
        </li>
      </ul>
    </sly>

  </div>
</sly>
