{{!-- {{#if textCta_molecule }} --}}
<div class="tp_textCta">
    {{#if dateSubTitle }}
        <span class="tp_textCta-date">{{ dateSubTitle.date }}</span>
        <span class="tp_textCta-subTitleAbove">{{ dateSubTitle.subTitleAbove }}</span>
    {{/if}}
    <h4 class="tp_textCta-title">{{ title }}</h4>
    <p>{{ text }}</p>
    {{> ../../00-atoms/buttons/button-text this}}
</div>
{{!-- {{/if textCta_molecule }} --}}
