.tp_textCta {
    margin-bottom: $spacing-small;
    span {
        display: block;
    }
    &-date {
        @include font-size(12px);
        margin-bottom: $spacing-small-half;
    }
    &-subTitleAbove {
        @include font-size(12px);
        margin-bottom: $spacing-small;
        @media #{$tablet} {
            margin-bottom: $spacing-big;
        }
        text-transform: uppercase;
    }
    &-title {
        margin-bottom: $spacing-small;
        @media #{$tablet} {
            margin-bottom: $spacing-big;
        }
    }
}
