<sly data-sly-use.model="com.tetralaval.models.TeaserModel"/>

<p data-sly-test="${wcmmode.edit}" data-emptytext="configure ${component.title}" class="cq-placeholder"></p>
<div class="pw-container teaser" id="${model.anchorId}" title="${model.anchorTitle}">
    <div class="tp-teaser pw-theme--${model.pwTheme}">
        <div class="tp-teaser__heading">
            <h3 class="tpatom-heading">${model.heading @ context='html'}</h3>
        </div>
        <div class="tp-teaser__details row no-gutters" data-sly-list.teaserItem="${model.teaserList}"
             data-sly-test.dataLinkSectionCTAText="${teaserItem.pwButtonTheme == 'link' ? 'Hyperlink' : 'CTA'}">
            <div class="col-md-12 ${model.teaserList.size > 2 ? 'col-lg-4' : 'col-lg-6'} ${teaserItem.rightbar ? 'rightbar' : ''} teaserMargin">
                <a data-sly-test="${teaserItem.linkPath && teaserItem.linkPath != '#' && teaserItem.imagePath}"
                   href="${teaserItem.linkPath}" class="js-teaser-analytics teaser-image-link"
                   title="${teaserItem.linkText}" data-link-section="Teaser_imageClick"
                   data-link-name="${teaserItem.linkText || teaserItem.title || model.heading}"
                   data-asset-name="${teaserItem.assetName}"
                   data-button-link-type="${teaserItem.pwButtonTheme}"
                   data-paren-link-title="${model.heading}:${teaserItem.title}"
                   data-anchor-type="${dataLinkSectionCTAText}" target="_self">
                    <sly data-sly-test="${!wcmmode.edit && teaserItem.imagePath}"
                         data-sly-use.dynamicImageModel="${'com.tetralaval.models.DynamicImageModel'
                            @ imagePath=teaserItem.imagePath, altText=teaserItem.imageAltText}">
                        <img src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 9'%3E%3C/svg%3E"
                             class="img-responsive js-dynamic-media tp-teaser__image"
                             itemprop="image" alt="${dynamicImageModel.altText}"
                             data-src="${dynamicImageModel.desktopUrl}"
                             data-src_desktop="${dynamicImageModel.desktopUrl}"
                             data-src_desktopL="${dynamicImageModel.desktopLargeUrl}"
                             data-src_mobileP="${dynamicImageModel.mobilePortraitUrl}"
                             data-src_mobileL="${dynamicImageModel.mobileLandscapeUrl}"/>
                    </sly>
                    <sly data-sly-test="${wcmmode.edit && teaserItem.imagePath}">
                        <img alt="${teaserItem.imageAltText}" src="${teaserItem.imagePath}" class="image img-responsive"/>
                    </sly>
                </a>
                <h4 class="title ${teaserItem.imagePath ? 'noTopPad' : ''}"
                    data-sly-test="${teaserItem.title}">${teaserItem.title @ context='html'}</h4>
                <p data-sly-test="${teaserItem.description}" class="description">${teaserItem.description @ context='html'}</p>
                <div class="link" data-sly-test="${teaserItem.linkText}">
                    <a href="${teaserItem.linkPath}" target="_self"
                       class="tpatom-link tpatom-link--${teaserItem.pwButtonTheme == 'secondary' ? 'primary' : 'transparent'} js-teaser-analytics"
                       title="${teaserItem.linkText}"
                       data-link-section="Teaser_${dataLinkSectionCTAText}"
                       data-link-name="${teaserItem.linkText}"
                       data-asset-name="${teaserItem.assetName}"
                       data-parent-link-title="${model.heading}:${teaserItem.title}"
                       data-anchor-type="${dataLinkSectionCTAText}">
                        <span class="tpatom-link__text sly-text">
                            ${teaserItem.linkText @ context='html'} <i class="icon icon-Circle_Arrow_Right_pw"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div data-sly-test="${model.linkPath && model.linkPath != '#'}" class="tp-teaser__seeAllLink text-center">
            <a href="${model.linkPath}" class="tpatom-link tpatom-link--transparent">
                <span class="tpatom-link__text sly-text">
                    ${model.linkLabel}
                    <i class="icon icon-Circle_Arrow_Right_pw"></i>
                </span>
            </a>
        </div>
    </div>
</div>