.tpatom-list-item {
    &.active {
        background: $color-denim;
    }
    &:hover {
        background: $color-tory-blue;
    }
    &__link {
        @include padding($padding-md);
        width: 100%;
        display: block;
        position: relative;
        color: $color-white;
        @media #{$desktop} {
            @include padding($padding-md $padding-l);
        }
        &:hover,
        &:visited {
            color: $color-white;
        }
        &--whiteBackground {
            background: $color-white;
            color: $color-black;
            font-weight: bold;
            &:hover,
            &:visited {
                color: $color-black;
            }
            @media #{$desktop} {
                display: none;
            }
            &.translated {
                transform: translateX(0);
            }
        }
    }
    &__btn {
        @include padding($padding-md);
        background-color: $color-congress-blue;
        color: $color-white;
        position: relative;
        width: 100%;
        @media #{$desktop} {
            @include padding($padding-md $padding-l);
        }
        &:hover {
            background: $color-tory-blue;
            color: $color-white;
            font-family: mulilight;
            text-decoration: none;
        }
    }
    &__icon {
        @include font-size($padding-md);
        @include width($spacing-small);
        @include height($spacing-small);
        position: absolute;
        top: 50%;
        left: $font-normal;
        transform: translateY(-50%);
        @media #{$desktop} {
            @include left($spacing-big);
        }
        &::before {
            vertical-align: top;
        }
    }
    &__label {
        @include padding(0 $padding-md 0 $padding-l);
        @include font-size($font-sm);
        @include line-height(20px, $font-sm);
        @include letter-spacing($letter-spacing-sm);
        font-family: $font-light;
        display: inline-block;
        width: 100%;
        .tpmol-list-item__sublist & {
            @include padding(0 $padding-md 0 $padding-sm);
            font-family: $font-extraLight;
            font-weight: normal;
        }
    }
    &__external-link,
    &__submenu {
        @include font-size($font-xxs);
        position: absolute;
        top: 50%;
        @include right($spacing-small);
        transform: translateY(-50%);
        @media #{$desktop} {
            @include right($spacing-big);
        }
    }
}
