<sly data-sly-template.listItemBtn_template="${@ data, flag,identifier}">
  <sly data-sly-test.hasSubmenu="${data.subMenuList}" >
    <input type="checkbox" checked class="tpatom-list-item__checkbox">
    <button type="button" class="tpatom-list-item__btn text-left js-list-item__btn">
      <sly data-sly-use.listItemIcon="/apps/commons/components/atoms/listItemBtn/listItemIcon-template.html"
          data-sly-call="${listItemIcon.listItemIcon_template @data=data}">
      </sly>
    </button>
  </sly>
  <sly data-sly-test="${!hasSubmenu}">
    <a class="tpatom-list-item__link ${identifier}" href="${data.href}" target="${data.isExternalLink ? '_blank' : '_self'}">
      <sly data-sly-use.listItemIcon="/apps/commons/components/atoms/listItemBtn/listItemIcon-template.html"
          data-sly-call="${listItemIcon.listItemIcon_template @data=data}">
      </sly>
    </a>
  </sly>
</sly>
