<sly data-sly-template.listItemIcon_template="${@ data, locale, flag}">
  <sly data-sly-test="${data.iconClass}">
    <i class="tpatom-list-item__icon ${data.iconClass}"></i>
  </sly>
  <span class="tpatom-list-item__label">
    ${data.iconLabel @i18n, locale=locale}
    <sly data-sly-test="${data.isExternalLink}">
      <sly data-sly-test="${!data.subMenuList}">
        <i class="tpatom-list-item__external-link icon-External_Link"></i>
      </sly>
    </sly>
    <sly data-sly-test="${data.subMenuList}">
      <i class="tpatom-list-item__arrow-down icon-Chevron_Down"></i>
    </sly>
  </span>
</sly>
