<sly data-sly-template.listItemBtn_template="${@ data, flag}">
    <sly data-sly-test.hasSubmenu="${data.subMenuList}" >
          <button class="tpatom-list-item__btn">
            <sly data-sly-test="${data.isIconAvailable}">
                <i class="tpatom-list-item__icon ${data.iconClass}"></i>
            </sly>
            <span class="tpatom-list-item__btn-label">${data.iconLabel @i18n}</span>
            <sly data-sly-test="${data.isSubMenuAvailable}">
              <i class="tpatom-list-item__submenu icon-Chevron_Down"></i>
            </sly>
          </button>
    </sly>
     <sly data-sly-test="${!hasSubmenu}">
          <a class="tpatom-list-item__link ${flag=='stickyBottom' ? 'tp-sticky': ''}" href="${data.href}">
            <sly data-sly-test="${data.isIconAvailable}">
                <i class="tpatom-list-item__icon ${data.iconClass}"></i>
            </sly>
            <span class="tpatom-list-item__label">${data.iconLabel @i18n}</span>
            <sly data-sly-test="${data.isExternalLink}">
              <i class="tpatom-list-item__external-link icon-External_Link"></i>
            </sly>
            <sly data-sly-test="${data.isSubMenuAvailable}">
              <i class="tpatom-list-item__submenu icon-Chevron_Down"></i>
            </sly>
          </a>
    </sly>
</sly>
