<div class="row tpmol-order-delivery-summary__delivery-detail">
    <div class="col-lg tpmol-order-delivery-summary__delivery-detail-label">{{i18n key=label}}</div>
    <div class="col-lg">{{value}}</div>
</div>
