<sly
    data-sly-template.textareafield_template="${@ inputType, inputClass, id, placeholder, labelText, error, errorJSClass, required, autoLocatorInput, autoLocatorLabel, labelClass, tooltiptitle, tooltipText}">
    <sly data-sly-test.placeholderVal="${placeholder ? placeholder : ''}"></sly>
    <div data-sly-test="${inputType}" class="form-group">
        <sly data-sly-use.label="/apps/commons/components/atoms/label/label-template.html"
            data-sly-call="${label.label_template @label=labelText, id=id, autoLocatorLabel=autoLocatorLabel, labelClass=labelClass, tooltiptitle=tooltiptitle, tooltipText=tooltipText}">
        </sly>
        <sly data-sly-use.textareabox="/apps/commons/components/atoms/textareabox/textareabox-template.html"
             data-sly-call="${textareabox.textareabox_template @inputType=inputType, inputClass=inputClass, id=id, placeholder=placeholder, required=required, autoLocatorInput=autoLocatorInput, error=error, errorJSClass=errorJSClass}">
        </sly>
    </div>
</sly>
