<sly data-sly-template.rebuildingkits_template="${@data, flag}">
    <div class="tp-card tp-rk" data-src_isPublishEnvironment="${data.isPublishEnvironment @ context='text'}"
        data-module="RebuildingKits">
        <!--i18ns Keys -->
        <code class="d-none js-rk__config">${data.i18nKeys}</code>

        <!--API List -->
        <div class="d-none js-rk-api"
            data-country-api="${data.countryApi}"
            data-rklist-api="${data.rebuildingKitsListApi}"
            data-rkdetail-page="${data.mappedRebuildingKitsDetailsUrl}">
        </div>

        <!--Loading -->
        <div class="tp-spinner d-none">
            <sly data-sly-use.loading="/apps/customerhub/components/atoms/loader/loader-template.html"
                data-sly-call="${loading.loader_template}" />
        </div>

        <!--CSV download URL -->
        <input type="hidden" id="downloadCsvServletUrl" name="downloadCsvServletUrl" value="${data.downloadCsvServletUrl}" />

        <!-- Content Container -->
        <div class="tp-filtered-table"></div>
    </div>
</sly>