<sly data-sly-template.rebuildingkits_template="${@data, flag}">
    <div class="tp-card tp-rk" data-src_isPublishEnvironment="${data.isPublishEnvironment @ context='text'}"
        data-module="RebuildingKits">
        <!--i18ns Keys -->
        <code class="d-none js-rk__config">${data.i18nKeys}</code>

        <!--API List -->
        <div class="d-none js-rk-api"
            data-country-api="${data.countryApi}"
            data-rklist-api="${data.rebuildingKitsListApi}"
            data-rkdetail-page="${data.mappedRebuildingKitsDetailsUrl}">
        </div>

        <!--Loading -->
        <div class="tp-spinner d-none">
            <sly data-sly-use.loading="/apps/customerhub/components/atoms/loader/loader-template.html"
                data-sly-call="${loading.loader_template}" />
        </div>

        <!-- Content Container -->
        <div class="d-none tp-rk-content">
            <div class="tp-rk__header-wrapper">
                <h2 class="tp-rk__heading js-rk__heading">
                    ${"cuhu.rebuildingkits.rebuildingkits" @i18n}
                </h2>
                
                <!-- Actions -->
                <div class="tp-rk__header-action-wrapper">
                    <div class="tp-rk__header-mobile">
                      <button class="tp-next-btn js-mobile-header-actions">
                        <i class="icon icon-Three_Dot">
                        </i>
                      </button>
                    </div>
                    <div class="tp-rk__header-actions">
                      <div class="tp-rk__header-actionicons">
                        <div class="tp-rk__action-button second js-rk__customise-table-action">
                          <i class="icon icon-Hide action-icon"></i>
                          <span class="tpatom-btn__text tp-rk__header-action-text">${"cuhu.rebuildingkits.customizeTable" @i18n}</span>
                        </div>
                        <input type="hidden" id="downloadCsvServletUrl" name="downloadCsvServletUrl" value="${data.downloadCsvServletUrl}" />
                        <sly data-sly-use.btnRef="/apps/commons/components/atoms/buttonlink/buttonlink-template.html"
                             data-sly-call="${btnRef.buttonlink_template @text='cuhu.rebuildingkits.exportToCsv',modifier='primary',baseClass='tp-button-link',iconClass='icon-Excel action-icon',className='tp-rk__action-button',jsClass='js-rk__export-csv-action'}" />
                    </div>
                  </div>
                </div>
            </div>            

            <div class="tp-rk__filter-wrapper">
                <div class="tp-rk__filter-chips">
                    <button type="button" data-label="${'cuhu.rebuildingkits.country' @i18n} +"
                        class="tp-rk__country-button-filter tp-rk__filter-button active"
                        auto_locator="countryFilter">
                        ${"cuhu.rebuildingkits.country" @i18n}: 1
                    </button>
                    <button 
                        type="button" 
                        data-label="${'cuhu.rebuildingkits.functionalLocation' @i18n} +" 
                        class="tp-rk__functionalLocation-filter tp-rk__filter-button" 
                        auto_locator="functionalLocationFilter"
                    >
                        ${"cuhu.rebuildingkits.functionalLocation" @i18n} +
                    </button>
                    <button 
                        type="button" 
                        data-label="${'cuhu.rebuildingkits.desc' @i18n} +" 
                        class="tp-rk__equipmentDescription-filter tp-rk__filter-button" 
                        auto_locator="equipmentDescriptionFilter"
                    >
                        ${"cuhu.rebuildingkits.desc" @i18n} +
                    </button>
                    <button 
                        type="button" 
                        data-label="${'cuhu.rebuildingkits.serialNumber' @i18n} +" 
                        class="tp-rk__serialNumber-filter tp-rk__filter-button" 
                        auto_locator="serialNumberFilter"
                    >
                        ${"cuhu.rebuildingkits.serialNumber" @i18n} +
                    </button>
                    <button 
                        type="button" 
                        data-label="${'cuhu.rebuildingkits.rkNumber' @i18n} +" 
                        class="tp-rk__rkNumber-filter tp-rk__filter-button" 
                        auto_locator="rkNumberFilter"
                    >
                        ${"cuhu.rebuildingkits.rkNumber" @i18n} +
                    </button>
                    <button 
                        type="button" 
                        data-label="${'cuhu.rebuildingkits.rkDesc' @i18n} +" 
                        class="tp-rk__rkDesc-filter tp-rk__filter-button" 
                        auto_locator="rkDescFilter"
                    >
                        ${"cuhu.rebuildingkits.rkDesc" @i18n} +
                    </button>              
                    <button 
                        type="button" 
                        data-label="${'cuhu.rebuildingkits.implStatus' @i18n} +" 
                        class="tp-rk__implStatus-filter tp-rk__filter-button" 
                        auto_locator="implStatusFilter"
                    >
                        ${"cuhu.rebuildingkits.implStatus" @i18n} +
                    </button>                                  
                    <button 
                        type="button" 
                        data-label="${'cuhu.rebuildingkits.machineSystem' @i18n} +" 
                        class="tp-rk__machineSystem-filter tp-rk__filter-button tp-rk__filter-button-all" 
                        auto_locator="machineSystemFilter"
                    >
                        ${"cuhu.rebuildingkits.machineSystem" @i18n} +
                    </button>                                
                    <button 
                        type="button" 
                        data-label="${'cuhu.rebuildingkits.status' @i18n} +" 
                        class="tp-rk__equipmentStatus-filter tp-rk__filter-button tp-rk__filter-button-all" 
                        auto_locator="equipmentStatusFilter"
                    >
                        ${"cuhu.rebuildingkits.status" @i18n} +
                    </button>                              
                    <button 
                        type="button" 
                        data-label="${'cuhu.rebuildingkits.rkType' @i18n} +" 
                        class="tp-rk__rkType-filter tp-rk__filter-button" 
                        auto_locator="rkTypeFilter"
                    >
                        ${"cuhu.rebuildingkits.rkType" @i18n} +
                    </button>                                                  
                    <button 
                        type="button" 
                        data-label="${'cuhu.rebuildingkits.rkStatus' @i18n} +" 
                        class="tp-rk__rkStatus-filter tp-rk__filter-button" 
                        auto_locator="rkStatusFilter"
                    >
                        ${"cuhu.rebuildingkits.rkStatus" @i18n} +
                    </button>                                                  
                    <button 
                        type="button" 
                        data-label="${'cuhu.rebuildingkits.rkHandling' @i18n} +" 
                        class="tp-rk__rkHandling-filter tp-rk__filter-button" 
                        auto_locator="rkHandlingFilter"
                    >
                        ${"cuhu.rebuildingkits.rkHandling" @i18n} +
                    </button>                                                  
                    <button 
                        type="button" 
                        data-label="${'cuhu.rebuildingkits.implDeadline' @i18n} +" 
                        class="tp-rk__implDeadline-filter tp-rk__filter-button tp-rk__filter-button-all" 
                        auto_locator="implDeadlineFilter"
                    >
                        ${"cuhu.rebuildingkits.implDeadline" @i18n} +
                    </button>                                                 
                    <button 
                        type="button" 
                        data-label="${'cuhu.rebuildingkits.plannedDate' @i18n} +" 
                        class="tp-rk__plannedDate-filter tp-rk__filter-button tp-rk__filter-button-all" 
                        auto_locator="plannedDateFilter"
                    >
                        ${"cuhu.rebuildingkits.plannedDate" @i18n} +
                    </button>                                                  
                    <button 
                        type="button" 
                        data-label="${'cuhu.rebuildingkits.releaseDate' @i18n} +" 
                        class="tp-rk__releaseDate-filter tp-rk__filter-button tp-rk__filter-button-all" 
                        auto_locator="releaseDateFilter"
                    >
                        ${"cuhu.rebuildingkits.releaseDate" @i18n} +
                    </button>                                               
                    <button 
                        type="button" 
                        data-label="${'cuhu.rebuildingkits.generalRkNumber' @i18n} +" 
                        class="tp-rk__generalRkNumber-filter tp-rk__filter-button tp-rk__filter-button-all" 
                        auto_locator="generalRkNumberFilter"
                    >
                        ${"cuhu.rebuildingkits.generalRkNumber" @i18n} +
                    </button>                    
                </div>
                <div>
                    <button data-show-label="${'cuhu.rebuildingkits.showAllFilters' @i18n}" data-hide-label="${'cuhu.rebuildingkits.hideFilters' @i18n}" class="tpatom-btn tp-rk__show-hide-button js-tp-rk__show-hide-all-button" auto_locator="hideFilter">
                        <i class="icon icon-Filter"></i>
                        <span class="tpatom-btn__text sly-text">${"cuhu.rebuildingkits.showAllFilters" @i18n}</span>
                    </button>
                    <button class="tpatom-btn tp-rk__remove-button js-tp-rk__remove-all-button" auto_locator="removeFilter" hidden>
                        <i class="icon icon-My_Euipment_Bin_X"></i>
                        <span class="tpatom-btn__text sly-text">${"cuhu.rebuildingkits.removeAllFilters" @i18n}</span>
                    </button>
                </div>
            </div>
            <div class="tp-rk__search-count"></div>
            
            <div id="rk-filter-modal" class="modal js-filter-modal tp-modal fade tp-rk__filter-form"
                tabindex="-1" aria-hidden="true" role="dialog">
            </div>
            
            <div class="tp-rk__table_wrapper"></div>
            <div class="tp-rk__flex-container">
                <div class="tp-rk__pagination-container" id="pagination-container"></div>
                <div class="tp-rk__serial-desc"><span class="tp-rk__astrick">*</span>
                    ${"cuhu.rebuildingkits.pvc" @i18n}</div>
            </div>
        </div>
    </div>
</sly>