<table style="width: 60%; border: 0;">
    <tr>
        <td height="40px"><strong>Button Type</strong></td>
        <td><strong>Button Class Name</strong></td>
        <td><strong>Button View</strong></td>
    </tr>
    <tr>
        <td height="60px">Primary Button</td>
        <td>tp_btn</td>
        <td><button class="tp_btn">{{ btnText }} <i class="icon-Chevron_Right"></i></button></td>
    </tr>
    <tr>
        <td height="60px">Primary Button - Hover <i>or</i> Inverse</td>
        <td>tp_btn tp_btn-inverse</td>
        <td><button class="tp_btn tp_btn-inverse">{{ btnTextInverse }} <i class="icon-Chevron_Right"></i></button></td>
    </tr>
    <tr>
        <td height="60px">Primary Button - Disabled</td>
        <td>tp_btn tp_btn-disabled</td>
        <td><button class="tp_btn tp_btn-disabled">{{ btnTextDisabled }} <i class="icon-Chevron_Right"></i></button></td>
    </tr>
    <tr>
        <td height="60px">Secondary Button</td>
        <td>tp_btn tp_btn-gray</td>
        <td><button class="tp_btn tp_btn-gray">{{ btnTextSecondary }} <i class="icon-Chevron_Right"></i></button></td>
    </tr>
</table>
