.tp-image-card {
    @include padding(8px);
    background-color: $color-white;
    width: 100%;
    display: flex;
    @media #{$desktop} {
        width: 33.33%;
        margin: 0;
    }
    &__container {
        width: 100%;
        background-color: $color-wild-sand;
        img {
            max-width: 100%;
            border-radius: 5px 5px 0 0;
        }
        &__text {
            @include padding(16px);
            font-family: $font-light;
            word-spacing: 1px;
            @media #{$desktop} {
                @include padding(24px);
            }
            h4 {
                @include margin-bottom(11px);
                @include line-height(24px, 18px);
                @media #{$desktop} {
                    @include margin-bottom(16px);
                }
                font-family: $font-light;
                padding: 0;
            }
            .font-style-sm {
                @include line-height(21px, 12px);
            }
        }
    }
}
