.tpmol-image-card {
    @include padding($padding-sm $padding-sm $padding-l $padding-sm);
    background-color: $color-white;
    display: flex;
    width: 100%;
    @media #{$desktop} {
        width: 33.33%;
        margin: 0;
        &__col--2 {
            width: 50%;
        }
        &__col--3 {
            width: 33.33%;
        }
        &__col--4 {
            width: 25%;
        }
    }
    &__container {
        width: 100%;
        background-color: $color-wild-sand;
        img {
            max-width: 100%;
            border-radius: $border-radius $border-radius 0 0;
        }
    }
    &__heading {
        @include line-height($font-l, $font-md);
        font-family: $font-light;
        padding: 0;
    }
    &__text {
        @include padding($padding-md);
        @include word-spacing($word-spacing-sm);
        font-family: $font-light;
        word-break: break-word;
        @media #{$desktop} {
            @include padding($padding-l);
        }
        .font-style-sm {
            @include line-height(21px, $font-sm);
        }
        ul,
        ol {
            list-style: initial;
            @include padding($padding-sm 0 0 $padding-md);
            li {
                @include font-size($font-sm);
                @include line-height(22.5px, $font-baseline);
                color: $color-light-gray;
            }
        }
    }
    &__normal-text {
        @include margin-top($margin-sm);
        @media #{$desktop} {
            @include margin-top($margin-md);
        }
        p {
            @include line-height(21px, $font-sm);
            @include font-size($font-sm);
        }
    }
    &__rich-text {
        @include margin-top($margin-sm);
        p {
            @include line-height(21px, $font-baseline);
            @include font-size($font-baseline);
        }
    }
    &__link {
        @include padding-top($padding-md);
        @include word-spacing($word-spacing-sm);
        @include font-size($font-normal);
        font-family: $font-light;
        color: $color-congress-blue;
        .tp-next-btn {
            @include line-height($font-normal, $font-normal);
            font-weight: bold;
            position: relative;
            &:visited,
            &:hover,
            &:active {
                color: $color-congress-blue;
            }
        }
        .tp-next-btn__icon {
            @include font-size($font-l);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
