.org__order-status {
    @include max-width(720px);
    @include border-radius(5px);
    box-shadow: 0 0 8px -3px $color-boulder;
    background-color: $color-white;
    &__table {
        @include horizontal-scroll-touch;
        @include padding(0 10px);
        table {
            border-collapse: collapse;
        }
        td {
            @include padding(0 10px);
            border-bottom: 1px solid;
        }
    }
}
