.tp-pw-megamenudescription {
    color: $color-tundora;
    margin: 0 $padding-md $padding-md;
    font-size: $font-sm;
    font-weight: 500;
    line-height: $font-m-md;
    @media #{$desktop} {
        margin: 0 $padding-xxxl $padding-md;
    }
}