<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="configure ${component.title}"
       class="cq-placeholder"></p>
</sly>

<sly data-sly-use.model="com.tetrapak.customerhub.core.models.IntroScreenModel"
     data-sly-use.lib="introscreen-template.html"
     data-sly-test="${!wcmmode.edit}"
     data-sly-call="${lib.introscreen_template @ data=model}" >
</sly>

<sly data-sly-test="${wcmmode.edit}" data-sly-list.image=${model.imageList}>
    <div>
        <sly data-sly-resource="${image @ resourceType='customerhub/components/content/image'}"></sly>
        </br>
    </div>
</sly>
