<sly data-sly-template.dropdownfield_template="${@ labelText, id, autoLocatorLabel, labelClass, selectClass, defaultValue, options, required, autoLocatorInput, error, errorJSClass }">
    <div class="tpatom-dropdown form-group">
        <sly data-sly-use.label="/apps/commons/components/atoms/label/label-template.html"
            data-sly-call="${label.label_template @label=labelText, id=id, autoLocatorLabel=autoLocatorLabel, labelClass=labelClass}">
        </sly>
        <sly data-sly-use.dropdown="/apps/commons/components/atoms/dropdown/dropdown-template.html"
            data-sly-call="${dropdown.dropdown_template @selectClass=selectClass, defaultValue=defaultValue, id=id, options=options, required=required, autoLocatorInput=autoLocatorInput}">
        </sly>
        <div data-sly-test="${error}" data-error-msg="${error @ i18n}" class="error-msg ${errorJSClass}">${error @ i18n}</div>
    </div>
</sly>
