.tp-maintenance-filtering {
    &__filters {
        @include margin-bottom($margin-md);
    }

    &__contact {
        @include font-size($font-sm);
        @include border-radius($border-radius);
        @include line-height(20px, $font-sm);
        background-color: $color-wild-sand;

        @media #{$desktop} {
            @include margin-left($margin-l);
        }

        &-icon {
            @include margin-bottom($margin-sm);
            @include padding(6px $padding-md);
            @include font-size($font-xl);
            border: 1px solid $color-mercury;
            display: inline-block;
            color: $color-congress-blue;
            background-color: $color-white;
            border-radius: 50%;
        }

        &-inner {
            @include padding($padding-l);
        }

        &-col {
            @include margin-top($margin-md);

            &:first-child+.col-lg-6 {
                @media #{$desktop} {
                    border-left: 1px solid $color-mercury;
                }
            }
        }
    }

    .tpatom-dropdown {
        @include margin-bottom($margin-md);
    }


    &__calendar-heading {
        @include margin-bottom($margin-md);

        @media #{$desktop} {
            @include margin-bottom($margin-l);
        }
    }

    &__calendar-wrapper {
        .lightpick {
            @include top(-$spacing-big);
            position: relative;
        }

        .lightpick__days {

            div {
                @media #{$desktop} {
                    @include height(30px);
                    @include width(30px);
                }
            }
        }

        .lightpick__day,
        .lightpick__day-of-the-week {
            @media #{$desktop} {
                @include height(30px);
                @include width(30px);
                padding: 0;
            }
        }

        .lightpick__day {
            position: relative;

        }

        .lightpick__months {
            @include display-flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .lightpick__month {

            @media #{$desktop} {
                @include margin-right($margin-md);
                @include margin-bottom($margin-md);
                @include width(230px);
            }
        }
    }
}

.lightpick__dot {
    // Keeping fix height width for dot only
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    text-align: center;
    background: $color-jordy-blue;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);

    .is-in-range & {
        background: $color-congress-blue;
    }

    .is-start-date & {
        background: $color-white;
    }

    .is-end-date & {
        background: $color-white;
    }


}

.tp-maintenance-events {

    &__no-data {
        @include padding-left($padding-sm);
        @include line-height($font-l, $font-md);
        @include font-size($font-md);
        color: $color-tundora;
    }

    &__heading {
        @include font-size($font-md);
        @include line-height($font-l, $font-md);

        @media #{$desktop} {
            @include font-size($font-l);
            @include line-height($font-xl, $font-l);
        }

    }

    &__event-heading {
        @include font-size($font-md);
        @include line-height($font-l, $font-md);
        @include margin-bottom($margin-md);
    }

    &__event-detail-wrapper {
        overflow: auto;
    }

    &__event-detail-left-container {
        @include padding(0 0 $padding-md 0);
        @include line-height($font-l, $font-baseline);
        width: 100%;
        border-bottom: 1px solid $color-mercury;


        @media #{$desktop} {
            @include padding(0 $padding-l 0 0);
            width: 33%;
            border-right: 1px solid $color-mercury;
            border-bottom: 0;
        }

        .left__info-title {
            float: left;
            width: 50%;
            font-family: $font-bold;
        }

        .left__info-text {
            display: inline-block;
            width: 50%;
            text-align: right;
        }

        .left__info-data {
            @include padding-bottom($padding-md);
            overflow: auto;

            &:last-child {
                padding: 0;
            }
        }
    }

    &__event-detail-right-container {
        @include line-height($font-l, $font-baseline);
        @include padding($padding-md 0 0 0);
        display: inline-block;
        width: 100%;

        @media #{$desktop} {
            @include padding(0 0 0 $padding-l);
            width: 66%;
        }

        .right__info-title {
            width: 100%;
            font-family: $font-bold;

            @media #{$desktop} {
                float: left;
                width: 25%;
            }
        }

        .right__info-text {
            display: block;
            width: 100%;

            @media #{$desktop} {
                display: inline-block;
                width: 75%;
            }
        }

        .right__info-data {
            @include padding(0 0 $padding-md 0);
            width: 100%;

            @media #{$desktop} {
                @include padding(0 0 $padding-sm 0);
            }

            &:last-child {
                padding: 0;
            }
        }
    }

}
