<sly data-sly-template.maintenance_template="${@ data, flag}">
  <div class='js-maintenance'>
    <div class="tp-maintenance-filtering tp-card" data-module="MaintenanceFiltering">
      <code class="d-none js-maintenance-filtering__config">
        ${data.i18nKeys}
      </code>
      <div class="tp-maintenance-filtering__filters js-maintenance-filtering__filters" aria-live="polite">

      </div>
      <div class="tp-maintenance-filtering__calendar-wrapper js-maintenance-filtering__calendar-wrapper" aria-live="polite">
      </div>
    </div>
      <sly data-sly-use.eventslisting="/apps/customerhub/components/content/eventslisting/eventslisting-template.html"
          data-sly-call="${eventslisting.eventslisting_template}" />
  </div>
</sly>

