// Component import goes here
@import '../../../../templates/components/header/header';
@import '../../../../templates/components/footer/footer';
@import '../../../../templates/components/teaser/teaser';
@import '../../../../templates/components/textImage/textImage';
@import '../../../../templates/components/richtext/richText';
@import '../../../../templates/components/mediaLink/mediaLink';
@import '../../../../templates/components/accordion/accordion';
@import '../../../../templates/components/leftnavigation/leftNavigation';
@import '../../../../templates/components/error/error';
@import '../../../../templates/components/languageselector/languageSelector';
@import '../../../../templates/components/supportrequest/supportRequest';
@import '../../../../templates/components/chatbotAnchor/chatbotAnchor';
