$font-monsterrat: 'Montserrat';
$color-sky-blue: #00BDF2;
$color-secondary-orange: #F58220;
$opacity-banner: 0.7;
$color-candy-apple-red: #f40f02;

$font-xxxs: 6px;

$spacing-medium: 20px;
$spacing-medium-half: 10px;
$spacing-zero: 0px;

$border-radius-md-half: 10px;
$border-radius-md: 20px;
$border-radius-big: 22px;
