@import './allpayments_filter';

.tp-all-payments {
    &__heading {
        @include font-size($font-xl);
        @include line-height($font-d-xl, $font-xl);
    }

    &__search-count {
        @include padding($padding-sm $padding-zero);
        @include margin($margin-l $margin-zero);
        @include font-size($font-baseline);
        @include line-height($font-l, $font-m-sm);
        color: $color-congress-blue;
        border-top: 1px solid $color-congress-blue;
        border-bottom: 1px solid $color-congress-blue;
    }
    input {
        &[type='checkbox'] {
            &:checked ~ .tpatom-checkbox__icon {
                border: 1px solid $color-congress-blue;
                &::before {
                    color: $color-congress-blue;
                }
            }
        }
    }

    &__table {
        table {
            position: relative;
            border-collapse: separate;
        }
        th {
            @include padding($padding-md);
            position: sticky;
            top: 0;
            background: $color-white;
            border-bottom-color: $color-black;
            font-weight: $font-weight-bold;
            &.hide {
                display: none;
            }
            &.sorted {
                @include padding($padding-md $padding-xxs $padding-md $padding-xl);
            }
            button {
                font-weight: $font-weight-bold;
            }
            .icon {
                color: inherit;
                &:hover {
                    color: $color-congress-blue;
                }
            }
            .icon-Chevron_Down {
                width: 12px;
                position: absolute;
                left: $margin-md;
            }
        }
        td {
            @include font-size($font-m-sm);
            @include line-height($font-l, $font-m-sm);
            @include padding($padding-md);
            font-weight: $font-weight-normal;
            &.hide {
                display: none;
            }
        }
        tr {
            &:last-child {
                td {
                    border-bottom: 0;
                }
            }
        }
        .dashed-border {
            text-decoration: underline;
            text-decoration-style: dashed;
        }
    }

    &__table-summary__row {
        &:not(.tp-all-payments__table-summary__rowheading) {
            &:hover {
                background-color: $color-wild-sand;
                cursor: pointer;
            }
        }
    }

    .tp-tbl-pagination {
        @include padding($padding-sm);

        &__first {
            @include margin-right($margin-md);
        }
        &__last {
            @include margin-left($margin-md);
        }
    }
    .icon {
        color: $color-congress-blue;
        &.left {
            transform: rotate(-180deg);
        }
        &.icon-pagination {
            &::before {
                width: 8px;
            }
        }
    }

    button {
        &:focus {
            outline: 5px auto -webkit-focus-ring-color;
        }
    }

    // overwrite the common loader style
    .tpatom-loader {
        @include padding($padding-md);
        text-align: center;
    }
    .tpatom-checkbox__label,
    .tpatom-radio__label {
        @include margin-bottom($margin-md);
    }

    .tpatom-checkbox__text {
        color: $color-black;
    }

    &__type-group-option {
        & + .tp-all-payments-filter-options {
            @include margin-left($margin-md);
            @include margin-bottom($margin-md);

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__filter-button {
        @include font-size($font-baseline);
        @include line-height($font-l, $font-baseline);
        @include padding($padding-sm $padding-md);
        @include margin-right($margin-sm);
        @include margin-bottom($margin-md);
        border: 1px solid $color-congress-blue;
        color: $color-congress-blue;
        box-sizing: border-box;
        border-radius: 22px;
        font-weight: 500;
        &:hover {
            box-shadow: inset 0 0 0 1px $color-congress-blue;
            &.active {
                font-weight: 700;
                background-color: $color-wild-sand;
            }
        }
        &.active {
            box-shadow: inset 0 0 0 1px $color-congress-blue;
            font-weight: 700;
            background-color: $color-wild-sand;
        }
    }
    &__modal-header {
        @include font-size($font-l);
        @include line-height($font-xl, $font-l);
        color: $color-black;
    }
    &__modal-content {
        max-height: 80vh;

        @media #{$desktop} {
            max-height: 640px;
        }
        .modal-header {
            border-bottom: 0;
        }
    }
    &__modal-body {
        @include padding($padding-zero $padding-l);
        overflow-y: auto;

        .tpatom-checkbox {
            &:last-child {
                .tpatom-checkbox__label {
                    margin-bottom: 0;
                }
            }
        }

        .tpatom-radio {
            &:last-child {
                .tpatom-radio__label {
                    margin-bottom: 0;
                }
            }
        }
    }
    &__modal-footer {
        flex-wrap: wrap;
        border-top: 0;
        display: flex;
        justify-content: flex-start;
    }
    &__header-wrapper {
        @include margin-bottom($margin-l);
        display: flex;
        justify-content: space-between;
    }
    &__header-action-text {
        @media #{$mobile} {
            @include font-size($font-baseline);
            @include line-height($font-sm, $font-baseline);
        }
        @include font-size($font-baseline);
        @include line-height($font-l, $font-baseline);
        color: $color-congress-blue;
    }
    &__header-action-wrapper {
        position: relative;
    }

    &__header-mobile {
        display: flex;
    }

    &__header-actions {
        display: none;
        &.show {
            @media #{$mobile} {
                @include padding($padding-l);
                border: solid 1px $color-mercury;
                display: flex;
                position: absolute;
                right: 0;
                background: $color-wild-sand;
                box-shadow: 0 4px 16px rgba($color-black, 0.1);
                border-radius: 4px;
                min-width: 256px;
                z-index: 9999;
            }
        }
    }
    &__header-actionicons {
        position: relative;
        @media #{$desktop} {
            display: flex;
        }
    }
    &__action-button {
        display: flex;
        cursor: pointer;
        &:hover * {
            color: $color-sky-blue;
        }
        &.second {
            @include margin-top(12px);
            @include margin-bottom($margin-md);
            @media #{$desktop} {
                @include margin-top($margin-zero);
                @include margin-bottom($margin-zero);
            }
        }
    }
    .action-icon {
        @include padding-right($padding-sm);
        display: flex;
    }
    @media #{$desktop} {
        &__header-mobile {
            display: none;
        }
        &__header-actions {
            display: flex;
        }
        &__action-button {
            display: flex;
            line-height: 40px;
            align-items: center;
            cursor: pointer;
            &:not(:last-child) {
                @include margin-right($margin-md);
            }
        }
    }
}
.tooltip.show {
    opacity: 1;
}
.bs-tooltip-bottom {
    @include padding($padding-sm $padding-zero);
    .arrow {
        &::before {
            border-width: 0 8px 8px;
            border-bottom-color: $color-wild-sand;
        }
    }
}

.tooltip {
    .arrow {
        width: 16px;
        height: 16px;
        border-top: 1px solid $color-mercury;
        border-left: 1px solid $color-mercury;
        background: $color-wild-sand;
        transform: rotate(45deg);
        &::before {
            display: none;
        }
    }

}
.tooltip-inner {
    @include font-size($font-sm);
    @include line-height($font-m-md, $font-sm);
    @include padding($padding-l);
    border: 1px solid $color-mercury;
    color: $color-tundora;
    font-family: $font-monsterrat;
    font-size: $font-sm;
    max-width: 246px;
    text-align: left;
    background-color: $color-wild-sand;
    border-radius: 4px;
    font-weight: 500;
}

.tooltip-header {
    @include margin-bottom($margin-sm);
    @include font-size($font-baseline);
    @include line-height($font-l, $font-baseline);
    display: block;
    font-weight: 700;
}
