<sly data-sly-template.allpayments_template="${@data, flag}">
  <div class="tp-card tp-all-payments" data-src_isPublishEnvironment="${data.isPublishEnvironment @ context='text'}" data-module="Allpayments" data-status-api="${resource.path}.invoice.status.json">
    <code class="d-none js-all-payments__config">
      ${data.i18nKeys}
    </code>
    <div class="d-none js-payment-api" data-date-range="${data.paymentsFromToDateGapInMonths}" data-list-api="${data.allPaymentsApi}" data-payment-details-url="${data.paymentDetailsURL}"></div>
    <div class="tp-spinner d-none">
      <div class="tpatom-loader js-loader">
        <sly data-sly-use.tploader="/apps/commons/components/atoms/tploader/tploader-template.html" data-sly-call="${tploader.tploader_template}" />
      </div>
    </div>
    <div class="d-none tp-payment-content">
      <div class="tp-all-payments__header-wrapper">
        <h2 class="tp-all-payments__heading js-all-payments__heading">
            ${data.allPaymentsHeading @i18n}
        </h2>
      </div>
      <div class="tp-all-payments__search-count"></div>
      <div id="equipment-filter-modal" class="modal js-filter-modal tp-modal fade tp-equipment__filter-form" tabindex="-1" aria-hidden="true" role="dialog">
      </div>
      <div class="tp-all-payments__table_wrapper"></div>
    </div>
  </div>
</sly>
