.tp-lang-selector {
    color: $color-tundora;
    font-family: $font-monsterrat;
    font-weight: 400;

    &__heading {
        font-size: $font-l;
        line-height: 1.33333;
        font-weight: 400;
        word-wrap: break-word;
    }

    .tpmol-modal-header {
        border: 0;
        padding: $font-m-md;
        align-items: center;
        @media #{$desktop} {
            padding: $padding-l;
        }
    }

    &__body {
        @include padding(0 $padding-md $font-sm);

        @media #{$desktop} {
            @include padding(0 $padding-l $font-m-md);
        }
    }

    &__lang-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        @media #{$desktop} {
            max-height: 10rem;
        }
    }

    &__selected-lang {
        @include margin-bottom($font-sm);
        color: $color-congress-blue;

        &-label {
            @include padding($padding-xs);
        }
    }

    &__btn {
        @include padding($padding-xs 0);
        color: $color-congress-blue;
        width: 100%;

        @media #{$tablet} {
            @include padding($padding-xs $padding-md $padding-xs 0);
            width: 25%;

            &:nth-child(4n + 4) {
                padding-right: 0;
            }
        }
        &:hover {
            color: $color-sky-blue;
        }
    }

    .icon-Close {
        &::before {
            @include font-size($font-normal);
            @include width($font-normal);
            @include height($font-normal);
        }
    }

    .modal-dialog {
        @include margin(0 $margin-md);
        max-width: 100%;

        @media #{$desktop} {
            @include max-width(700px);
            margin: auto;
        }
    }

    @media #{$mobile} {
        .modal-dialog-centered {
            min-height: 100%;
        }
    }
}
