<sly data-sly-template.tabslist_template="${@data, flag}">
    <sly data-sly-test.parentHeading="${data.heading}" />
    <div id="${data.anchorId}" title="${data.anchorTitle}" class="pw-container" data-module="TabsList">
      <div class="pw-tablist pw-padding--regular pw-margin--regular pw-theme--${data.pwTheme} pw-tablist--${data.pwDisplay} js-tablist">
      <input type="hidden" id="tabComponentId" name="tabComponentId" value="${resource.name}" />
      <input type="hidden" id="activeTheme" name="activeTheme" value="${data.pwTheme}" />
      <h2 data-sly-test="${parentHeading}" class="pw-tablist__heading js-tablist__heading"> ${parentHeading @ context='html'}</h2>

      <div class="row">
      <div class="pw-tablist__events col-lg-5  ${data.pwDisplay == 'display-row' ? 'pw-tablist__events-icright' : 'pw-tablist__events-icleft'}" id="accordion"> 
        <sly data-sly-list.tab="${data.tabs}">
          <sly data-sly-test="${tab.title}">
            <sly data-sly-test.pwThemeActive="${[' m-active active--', data.pwTheme] @ join=''}"/>
            <button type="button" class="pw-tablist__event js-tablist__event${tabList.index == 0 ? pwThemeActive : ' collapsed'}" data-toggle="collapse" data-target="#tab_${resource.name}_${tabList.index}" data-index="${tabList.index}" aria-expanded="${tabList.index == 0 ? 'true' : 'false'}" data-link-name="${tab.title}" data-link-section="Tab Click_list_${data.heading}">
              <sly data-sly-test="${data.pwDisplay == 'display-row'}">
                <div><p class="pw-tablist__event-title-icright semi-bold">${tab.title @ context='html'}</p></div>
                <i class="icon icon-right icon-Chevron_Down"></i>
              </sly>
              <sly data-sly-test="${data.pwDisplay == 'display-row-reversed'}">
                <i class="icon icon-left icon-Chevron_Down"></i>
                <div><p class="pw-tablist__event-title-icleft semi-bold">${tab.title @ context='html'}<p></div>
              </sly>
              </button>


            <sly data-sly-test.videoPathPW = "${tab.damVideoPath}" ></sly>
            <div class="pw-tablist__event-detail-wrapper ${data.pwTheme == 'grayscale-white' ? ' pw-theme--grayscale-lighter' : ' pw-theme--grayscale-white'} d-lg-none collapse${tabList.index == 0 ? ' show' : ''}" id="tab_${resource.name}_${tabList.index}" data-parent="#accordion">
                <div class="pw-tablist__event-detail js-video-props" data-link-parent-title="${tab.title}" data-video-name="${tab.videoSource == 'youtube'? tab.youtubeEmbedURL : tab.videoName}">

                  <!--image video component  -->
                      <sly data-sly-test="${tab.tabType == 'videoText'}">

                                      <sly data-sly-test="${tab.videoSource == 'damVideo'}">
                                                    <div data-sly-test="${tab.damVideoPath}" class="tpatom-dam pw-tablist__media-wrapper">

                                                    <sly data-sly-test = "${wcmmode.edit}">
                                                      <video title="${noval}" class="js-dam-player" controls poster="${tab.thumbnailPath}">
                                                        <source src="${tab.damVideoPath}">
                                                      </video>
                                                    </sly>

                                                    <sly data-sly-test = "${!wcmmode.edit}">
                                                      <sly data-sly-use.dynamicImageModel="${'com.tetrapak.publicweb.core.models.DynamicImageModel' @ imagePath=tab.thumbnailPath}"></sly>
                                                      <video title="${noval}" class="js-dam-player" controls poster="${dynamicImageModel.desktopUrl}">
                                                        <source src="${videoPathPW}">
                                                      </video>
                                                    </sly>
                                                  </div>

                                                </sly>

                                    <sly data-sly-test="${tab.videoSource == 'youtube'}">
                                    <!-- youtube video -->
                                      <div data-sly-test="${tab.youtubeEmbedURL}" class="tpatom-youtube pw-tablist__media-wrapper">
                                        <iframe title="${noval}"
                                                class="tpatom-yt-player js-yt-player" src="${tab.youtubeEmbedURL}?enablejsapi=1" frameborder="0"
                                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                      </div>
                                    <!-- youtube video end -->
                                              </sly>


                      </sly>


                      <sly data-sly-test="${tab.tabType == 'imageText' && tab.fileReference}">
                               <div class="x-img-responsive">
                                <sly data-sly-test = "${!wcmmode.edit}">
                                  <sly data-sly-use.dynamicMediaImage="/apps/publicweb/components/content/dynamicMediaImage/dynamicMediaImage-template.html"
                                     data-sly-call="${dynamicMediaImage.dynamicMediaImage_template @imagePath=tab.fileReference, altText=tab.alt, className='pw-tablist__media-wrapper'}" />
                                </sly>
                                <sly data-sly-test = "${wcmmode.edit}">
                                  <img class="pw-tablist__media-wrapper" src="${tab.fileReference}" alt="${tab.alt}"  />
                                </sly>

                            </div>
                      </sly>
                  <!--end image video component  -->
                  <sly data-sly-test = "${tab.subTitle}"><p class="pw-tablist__event-detail-subtitle js-tablist__event-detail-subtitle">${tab.subTitle @ context='html'}</p></sly>
                  <h3 class="pw-tablist__event-detail-title js-tablist__event-detail-title d-none d-lg-block">${tab.title @ context='html'}</h3>
                  <sly data-sly-test = "${tab.description}"><div class="pw-tablist__event-detail-description">${tab.description @ context='html'}</div></sly>
                    <sly data-sly-test.variant="${tab.pwButtonTheme == 'secondary' ? 'primary' : 'transparent'}">
        
                                <sly data-sly-test.tabContentType="${tab.tabType == 'videoText' ? 'Text & Video' : 'Text & Image'}"/>
                                <sly data-sly-test.buttonLinkType="${tab.pwButtonTheme == 'secondary' ? '_CTA' : '_Text Hyperlink'}"/>
                                <sly data-sly-test.buttonDownloadCheck="${tab.pwLinkTheme == 'download' ? '_Download' : ''}"/>
                                <sly data-sly-test.videoName="${tab.videoSource == 'youtube'? tab.youtubeEmbedURL : tab.videoName}"/>
                                
                              <a data-sly-test="${tab.linkText}"
                                 href="${tab.linkURL}"
                                 class="tpatom-link tpatom-link--${variant || 'primary'} pw-tablist__event-detail-description-link js-tablist__event-detail-description-link"
                                 data-custom="${customData @ context='text'}"
                                 title="${btnTooltip}"
                                 target="${tab.targetBlank}"
                                 data-link-section="${tabContentType}${buttonLinkType}${buttonDownloadCheck}"
                                 data-link-name="${tab.linkText}"
                                 data-download-type="${tab.pwLinkTheme}"
                                 data-button-link-type="${tab.pwButtonTheme}"
                                 data-asset-name="${tab.assetName}"
                                 data-video-name="${videoName}"
                                 data-tab-type = "${tab.tabType}"
                                 data-alt-text = "${tab.alt}"
                                 data-tab-title = "${tab.title}"
                                 rel="${tab.targetBlank ? 'noopener noreferrer' : ''}">
                                 <span class="tpatom-link__text sly-text">${tab.linkText @ context='html'}</span>
                                 <i class="icon${variant != 'transparent' ? ' icon-Chevron_Right' : ' icon-Circle_Arrow_Right'}"></i>
                              </a>
                            <!-- </sly> -->

                          </sly>

                </div>
            </div>
          </sly>
          <sly data-sly-test = "${tabList.last && data.readMorePath!='#'}">
            <div class="pw-tablist__event ${data.pwDisplay == 'display-row' ? 'pw-tablist__event-readmore-icright' : 'pw-tablist__event-readmore-icleft'}">
              <sly data-sly-test.buttonDownloadReadMore="${data.pwLinkTheme == 'download' ? '_Download' : ''}"/>
            <a
                                 href="${data.readMorePath}"
                                 class="tpatom-link tpatom-link--transparent pw-tablist__event-detail-description-link js-tablist__event-detail-description-link"
                                 target="${data.readMoreTarget}"
                                 data-link-section="Tab Click_Text Hyperlink${buttonDownloadReadMore}"
                                 data-link-name="${data.readMoreText}"
                                 data-download-type="${data.pwLinkTheme}"
                                 data-button-link-type="link"
                                 data-asset-name="${data.assetName}"
                                 data-tab-title = "${data.heading}"
                                 data-tab-type = ""
                                 rel="${data.readMoreTarget ? 'noopener noreferrer' : ''}">
                                 <span class="tpatom-link__text sly-text">${data.readMoreText @ context='html'}</span>
                                 <i class="icon icon-Circle_Arrow_Right"></i>
                              </a>
          </div>
        </sly>
        </sly>
      </div>

      <div class="pw-tablist__events-sidesection js-tablist__events-sidesection ${data.pwTheme == 'grayscale-white' ? ' pw-theme--grayscale-lighter' : ' pw-theme--grayscale-white'} col-lg-7 d-none d-lg-block" aria-live="polite">
      </div>
      </div>
    </div>
  </div>
</sly>
