<input name="text" type="text" placeholder="Text Input">
<br><br>
<input name="text" type="text" placeholder="Text Input -Error" class="tp-error">
<br><br>
<input name="text" type="text" placeholder="Text Input - Read Only / Inactive" class="tp-readonly" readonly>
