<label class="tp-radioBtn">
    One
    <input type="radio" checked="checked" value="one" name="radio">
    <span class="tp-radioBtnCustom"></span>
</label>

<label class="tp-radioBtn">
    Two
    <input type="radio" name="radio" value="two">
    <span class="tp-radioBtnCustom"></span>
</label>
