<label class="tp-checkBox">
    One
    <input type="checkbox" checked="checked">
    <span class="tp-checkBoxCustom"></span>
</label>

<label class="tp-checkBox">
    Two
    <input type="checkbox">
    <span class="tp-checkBoxCustom"></span>
</label>

<label class="tp-checkBox">
    Three
    <input type="checkbox">
    <span class="tp-checkBoxCustom"></span>
</label>
