<ul class="sg-colors">
	<li>
		<span class="sg-swatch tp_color-congress-blue"></span>
		<span class="sg-label">9999999
			$color-congress-blue <br />
			#033f88 <br />
			class: tp_color-congress-blue
		</span>
	</li>
	<li>
		<span class="sg-swatch tp_color-jordy-blue"></span>
		<span class="sg-label">
			$color-jordy-blue <br />
			#95C6F1 <br />
			class: tp_color-jordy-blue
		</span>
	</li>
</ul>