<ul class="sg-colors">
	<li>
		<span class="sg-swatch tp_color-tundora" ></span>
		<span class="sg-label">
			<strong>Body text color</strong><br />$color-text <br />
			#4a4a4a<br />
            class: tp_color-tundora
		</span>
	</li>
    <li>
		<span class="sg-swatch tp_color-congress-blue"></span>
		<span class="sg-label">
			<strong>Heading/Title color</strong><br />$color-heading <br />
			#033f88<br />
            class: tp_color-congress-blue
		</span>
	</li>
    <li>
		<span class="sg-swatch tp_color-congress-blue" ></span>
		<span class="sg-label">
			<strong>Text Link color</strong><br />$color-text-link<br />
			#033f88<br />
            class: tp_color-congress-blue
		</span>
	</li>
    <li>
		<span class="sg-swatch tp_color-tundora"></span>
		<span class="sg-label">
			<strong>Text Link Hover</strong><br />$color-text-link-hover<br />
			#4a4a4a<br />
            class: tp_color-tundora
		</span>
	</li>
</ul>
