<table style="width: 90%; border: 0;">
    <tr style="background-color: #ddd;">
        <td><strong>Font Type</strong></td>
        <td><strong>Font Family</strong></td>
        <td><strong>CSS Variable name</strong></td>
    </tr>
    <tr>
        <td>Primary font</td>
        <td style="font-family: 'muliregular', sans-serif;">'muliregular', sans-serif;</td>
        <td>$font or $font-regular</td>
    </tr>
    <tr>
        <td>Primary font bold</td>
        <td style="font-family: 'mulibold', sans-serif;">'mulibold', sans-serif;</td>
        <td>$font-bold</td>
    </tr>
    <tr>
        <td>Primary font italic</td>
        <td style="font-family: 'muliitalic', sans-serif;">'muliitalic', sans-serif;</td>
        <td>$font-italic</td>
    </tr>
    <tr>
        <td>Font - Bold Italic</td>
        <td style="font-family: 'mulibold_italic', sans-serif;">'mulibold_italic', sans-serif;</td>
        <td>$font-boldItalic</td>
    </tr>
    <tr>
        <td>Font - Black</td>
        <td style="font-family: 'muliblack', sans-serif;">'muliblack', sans-serif;</td>
        <td>$font-black</td>
    </tr>
    <tr>
        <td>Font - Black Italic</td>
        <td style="font-family: 'muliblack_italic', sans-serif;">'muliblack_italic', sans-serif;</td>
        <td>$font-blackItalic</td>
    </tr>
    <tr>
        <td>Font -Extra Bold</td>
        <td style="font-family: 'muliextrabold', sans-serif;">'muliextrabold', sans-serif;</td>
        <td>$font-extraBold</td>
    </tr>
    <tr>
        <td>Font -Extra Bold Italic</td>
        <td style="font-family: 'muliextrabold_italic', sans-serif;">'muliextrabold_italic', sans-serif;</td>
        <td>$font-extraBoldItalic</td>
    </tr>
    <tr>
        <td>Font -Extra Light</td>
        <td style="font-family: 'muliextralight', sans-serif;">'muliextralight', sans-serif;</td>
        <td>$font-extraLight</td>
    </tr>
    <tr>
        <td>Font -Extra Light Italic</td>
        <td style="font-family: 'muliextralight_italic', sans-serif;">'muliextralight_italic', sans-serif;</td>
        <td>$font-extraLightItalic</td>
    </tr>
    <tr>
        <td>Font -Light</td>
        <td style="font-family: 'mulilight', sans-serif;">'mulilight', sans-serif;</td>
        <td>$font-light</td>
    </tr>
    <tr>
        <td>Font -Light Italic</td>
        <td style="font-family: 'mulilight_italic', sans-serif;">'mulilight_italic', sans-serif;</td>
        <td>$font-lightItalic</td>
    </tr>
    <tr>
        <td>Font -Semi Bold</td>
        <td style="font-family: 'mulisemibold', sans-serif;">'mulisemibold', sans-serif;</td>
        <td>$font-semiBold</td>
    </tr>
    <tr>
        <td>Font -Semi Bold Italic</td>
        <td style="font-family: 'mulisemibold_italic', sans-serif;">'mulisemibold_italic', sans-serif;</td>
        <td>$font-semiBoldItalic</td>
    </tr>
</table>
