<ul class="sg-colors">
	<li>
		<span class="sg-swatch tp_color-tory-blue"></span>
		<span class="sg-label">
            $color-tory-blue <br />
            #155AB0 <br />
            class: tp_color-tory-blue
        </span>
	</li>
	<li>
		<span class="sg-swatch tp_color-denim"></span>
		<span class="sg-label">
			$color-denim <br />
			#1967C8 <br />
            class: tp_color-denim
		</span>
	</li>
	<li>
		<span class="sg-swatch tp_color-royal-blue" ></span>
		<span class="sg-label">
			$color-royal-blue <br />
			#3280E1 <br />
            class: tp_color-royal-blue
		</span>
	</li>
	<li>
		<span class="sg-swatch tp_color-picton-blue"></span>
		<span class="sg-label">
			$color-picton-blue <br />
			#4199EF <br />
            class: tp_color-picton-blue
		</span>
	</li>
    <!--
    <li>
		<span class="sg-swatch" style="background: #c3e0fe;"></span>
		<span class="sg-label">
			$color-french-pass <br />
			#c3e0fe
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d2e8fe;"></span>
		<span class="sg-label">
			$color-onahau <br />
			#d2e8fe
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e0f0fd;"></span>
		<span class="sg-label">
			$color-hawkes-blue <br />
			#e0f0fd
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f0f7ff;"></span>
		<span class="sg-label">
			$color-alice-blue <br />
			#f0f7ff
		</span>
	</li>
    -->
</ul>
