.tp-footer {
    @include margin-top($margin-l);
    min-height: 100px;
    background-color: $color-congress-blue;
    @media #{$desktop} {
        @include margin-top($margin-l);
    }

    &__container {
        @include padding(48px $padding-sm);

        @media #{$desktop} {
            @include padding(80px $padding-xxxl);
        }
        .tp-pw-footer-data-logo {
            img {
                width: 156px;
                height: auto;
            }
        }
    }

    &__link {
        color: $color-white;

        &:hover,
        &:active {
            color: $color-mercury;
            text-decoration: none;
        }
    }

    &__navigation-list {
        @include margin-top($margin-xxxl);

        @media #{$desktop} {
            @include margin-top($spacing-big);
            display: flex;
            flex-wrap: wrap;
            margin-top: 0;
        }

        &__item {
            @include margin-bottom($margin-md);
            @media #{$desktop} {
                @include margin-right($margin-l);
                @include margin-bottom($margin-l);
                display: block;
            }

        }
    }

    .tp_changeLangBtn {
        @include margin-top(24px);
        @media #{$desktop} {
            text-align: center;
        }
    }
}