<div class="tp-get-start-container">
    <img src="{{imagePath}}" alt="Milk" />
    <div class="tp-get-start-container__text">
        <h4>{{title}}</h4>
        <p class="font-style-sm">
            {{description}}
        </p>
    </div>
</div>