externalizer.contextpath=""
externalizer.domains=[ \
  "local\ http://localhost:4502", \
  "author\ http://localhost:4502", \
  "publish\ http://localhost:4503", \
  "publicweb\ https://tetrapak-test64.adobecqms.net", \
  "tetralaval\ https://www-qa.tetralaval.com", \
  "design-system\ https://design-qa.tetrapak.com", \
  ]
externalizer.encodedpath=B"false"
externalizer.host=""