.pw-search-result-head {
    .pw-search-title {
        color: $color-tundora;
        font-size: $font-xxl;
        line-height: $padding-xxxl;
        font-weight: 700;
    }
    .pw-search-description {
        color: $color-tundora;
        font-size: $font-baseline;
        line-height: $spacing-big;
        font-weight: 400;
    }
}
.pw-search-results {
    @include margin-bottom($margin-l);

    .capitalizeText {
        text-transform: capitalize;
    }

    @media #{$desktop} {
        @include margin-bottom($margin-xxxl);
    }
    .margin-auto {
        margin: auto;
    }
    .tp-pagination {
        @include padding-top($padding-l);
        @include margin(0);
        border-top: 1px solid $color-mercury;
        @media #{$desktop} {
            @include padding-top($padding-xxxl);
        }
        &__btn,
        &__text {
            @include margin-left($margin-sm);
            font-weight: 500;
        }
        &__previous + button {
            @include margin-left($margin-l);
        }
        &__btn.active {
            border: 1px solid $color-congress-blue;
            &:hover {
                color: $color-white;
            }
        }
        &__next {
            @include margin-left($margin-l);
        }
        &__previous,
        &__next {
            @include padding(0);
        }
    }
    .tpatom-subheading {
        @include margin-bottom($margin-sm);
        display: block;
        color: $color-boulder;
        text-transform: uppercase;
        font-weight: 500;
    }

    &__search-bar {
        @include margin-bottom($margin-l);

        @media #{$desktop} {
            @include margin-bottom($margin-xxxl);
        }
    }
    &__filter-container {
        @include margin-bottom($margin-l);
        @media #{$desktop} {
            @include margin-bottom($margin-xxxl);
        }
        &__heading {
            @include padding-bottom($margin-md);
            @include margin-bottom(0);
            color: $color-congress-blue;
            border-bottom: 1px solid $color-mercury;
            &.light {
                @include margin-bottom($margin-sm);
            }
            @media #{$desktop} {
                @include padding-bottom($margin-l);
            }
            label {
                @include margin-bottom(0);
                cursor: pointer;
                font-weight: 700;
            }

            i {
                font-size: 16px;
            }
        }
        &__count {
            @include padding-bottom($padding-l);
            border-bottom: 1px solid $color-mercury;
            word-break: break-word;
            @media #{$desktop} {
                @include padding-bottom($padding-xxxl);
            }
            &.no-border {
                @include padding-bottom(0);
                border-bottom: 0;
            }
            h1 {
                font-size: 24px;
                @media #{$desktop} {
                    font-size: 42px;
                }
            }
            h1,
            h3 {
                @include padding-top($padding-md);
                @media #{$desktop} {
                    @include padding-top($padding-xxl);
                }
            }
        }
        &__filter-chips {
            @include padding-top($padding-sm);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            @media #{$desktop} {
                @include padding-top($padding-md);
            }
            .filter-tag {
                @include padding($padding-sm $padding-md);
                @include margin-bottom($margin-sm);
                border: 2px solid $color-sky-blue;
                background: $color-white;
                box-sizing: border-box;
                border-radius: 100px;
                &:not(:last-child) {
                    @include margin-right(8px);
                }
                i {
                    @include margin-left(7px);
                    font-size: 8px;
                    cursor: pointer;
                }
            }
        }
    }
    &__main-container {
        @include border-radius($border-radius);
        display: block;
        background-color: $color-white;
    }
    &__spinner {
        position: relative;
    }

    &__title,
    &__filters {
        @include margin-bottom($margin-l);
        @media #{$desktop} {
            @include margin-bottom(38px);
        }
    }

    &__button-group {
        @include margin-top($margin-sm);
    }

    &__filters {
        @include padding($padding-md);
        @include border-radius($border-radius);
        display: none;
        background-color: $color-wild-sand;
        width: 100%;
        @media #{$desktop} {
            @include padding($padding-xxxl);
        }
        .tpatom-subheading {
            @include margin-bottom($margin-md);
            font-weight: 500;
            @media #{$desktop} {
                @include padding-bottom($padding-md);
                border-bottom: 1px solid $color-mercury;
            }
        }

        &__content-type {
            @include margin-bottom($margin-sm);
            @media #{$desktop} {
                @include margin-bottom(0);
                @include padding-right($padding-l);
            }
        }

        &__theme {
            @media #{$desktop} {
                @include padding-left($padding-l);
            }
        }

        .tpatom-checkbox {
            &__icon {
                color: $color-congress-blue;
                background-color: $color-white;
            }
            &__label {
                @include margin-bottom($margin-md);
            }
            &__input {
                &:checked + .icon {
                    border: 1px solid $color-congress-blue;
                }
            }
            &__text {
                display: flex;
                font-weight: 500;
            }
            @media #{$desktop} {
                &:nth-child(odd) {
                    @include padding-right(12px);
                }
                &:nth-child(even) {
                    @include padding-left(12px);
                }
            }
        }
    }

    &__results {
        flex: 1;
        width: 100%;
    }

    &__results-list {
        &__item {
            @include padding-bottom($padding-l);
            display: flex;
            flex-direction: column-reverse;
            word-break: break-word;
            @media #{$desktop} {
                @include padding-bottom($padding-xxxl);
                flex-direction: row;
            }
            .pw-media-container {
                @include margin($margin-sm 0 0 0);
                text-align: center;
                border-radius: 4px;
                background: $color-wild-sand;
                width: 100%;
                height: 150px;
                position: relative;
                & > a {
                    word-break: break-word;
                    white-space: nowrap;
                    overflow: hidden;
                    width: 100%;
                    height: 100%;
                }
                &__image-helper {
                    display: inline-block;
                    height: 100%;
                    vertical-align: middle;
                }
                @media #{$desktop} {
                    @include margin(0 $margin-md 0 0);
                    width: 150px;
                    height: 84px;
                }
                .icon-video-container {
                    height: 70px;
                    width: 70px;
                    background: $color-white;
                    border-radius: 100%;
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    i {
                        left: 56%;
                        top: 51%;
                        font-size: 32px;
                    }
                }
                .icon-pdf-container {
                    background: $color-white;
                    border-radius: 4px;
                    position: relative;
                    margin: auto;
                    height: 100%;
                    width: 60px;
                }
                i {
                    color: $color-congress-blue;
                    font-size: 34px;
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                img {
                    display: inline-block;
                    max-height: 100%;
                    max-width: 100%;
                    vertical-align: middle;
                    border-radius: 4px;
                }
            }

            &:first-child {
                @include padding-top($padding-zero);
            }

            &__description {
                @include padding-top($padding-sm);
                overflow: hidden;
                position: relative;
                max-height: 54px;
                font-weight: 500;
                > span {
                    &::after {
                        content: '\0000a0';
                        position: absolute;
                        width: 100%;
                        z-index: 1;
                        background: $color-white;
                    }
                }
                &::after {
                    content: '\02026';
                    position: absolute;
                    top: 27px;
                    right: 0;
                    width: 2em;
                    text-align: right;
                    font-size: 18px;
                    background: $color-white;
                }
            }

            &__breadcrumb {
                @include padding-bottom(10px);
                display: block;
            }
            &__size {
                @include padding-top($padding-sm);
                color: $color-congress-blue;
                text-align: left;
                i {
                    font-size: 12px;
                }
            }
            &__title-link {
                color: $color-congress-blue;
            }
        }
    }
}

.custom-searchlanding {
    &.pw-container {
        margin-top: 0;
        .pw-search-results {
            padding-top: 0;
        }
    }
}