<sly data-sly-template.searchresults_template="${@data, flag}">
    <div class="pw-container">
        <div class="pw-search-results js-pw-search-results pw-theme--grayscale-white pw-padding--regular pw-margin--regular"
            data-locator="search-results" data-servlet="${data.servletPath}" data-module="Searchresults">
            <div class="row no-gutters">
                <div class="col-lg-9 margin-auto">
                    <div class="pw-search-results__search-bar">
                        <sly data-sly-use.searchBar="/apps/publicweb/components/molecules/searchbar/searchbar-template.html"
                            data-sly-call="${searchBar.searchbar_template @ id='searchField', inputType='text', placeholder='pw.search.searchbarplaceholder', inputClass='js-pw-search-input tpatom-input-box__input'}">
                    </div>
                    <div class="pw-search-results__filter-container">
                        <div class="pw-search-results__filter-container__heading light">
                            <span class="js-search-filter-toggle">
                                <i class="icon-FilterSettings_pw"></i>
                                <label>${'filters' @i18n}</label>
                            </span>
                        </div>
                        <div class="pw-search-results__filters js-pw-search-results__filters">
                            <div class="row no-gutters">
                                <div class="col-lg-6 left-wrapper-filter">
                                    <div class="pw-search-results__filters__content-type">
                                        <sly data-sly-test="${data.contentTypeList}"
                                            data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                            data-sly-call="${heading.subheading_template @ headingText='pw.searchResults.contenttype', variant='small'}" />
                                        <div data-sly-test="${data.contentTypeList}" class="filter__list row no-gutters"
                                            data-sly-list.contentType="${data.contentTypeList}">
                                            <div class="tpatom-checkbox col-lg-6">
                                                <label class="tpatom-checkbox__label clearfix" for="${contentType.key}">
                                                    <input type="checkbox" data-category="contentType"
                                                        class="js-pw-search-results-filter-check tpatom-checkbox__input float-left"
                                                        id="${contentType.key}" value="${contentType.label}" />
                                                    <i class="tpatom-checkbox__icon icon icon-Tick_pw float-left"></i>
                                                    <span
                                                        class="tpatom-checkbox__text js-checkbox__text">${contentType.label}</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="pw-search-results__filters__theme">
                                        <sly data-sly-test="${data.themeList}"
                                            data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                            data-sly-call="${heading.subheading_template @ headingText='pw.searchResults.themes', variant='small'}" />
                                        <div data-sly-test="${data.themeList}" class="filter__list row no-gutters"
                                            data-sly-list.themeList="${data.themeList}">
                                            <div class="tpatom-checkbox col-lg-6">
                                                <label class="tpatom-checkbox__label clearfix" for="${themeList.key}">
                                                    <input type="checkbox" data-category="theme"
                                                        class="js-pw-search-results-filter-check tpatom-checkbox__input float-left"
                                                        id="${themeList.key}" value="${themeList.label}" />
                                                    <i class="tpatom-checkbox__icon icon icon-Tick_pw float-left"></i>
                                                    <span
                                                        class="tpatom-checkbox__text js-checkbox__text">${themeList.label}</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pw-search-results__button-group">
                                <sly data-sly-use.nextButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                                    data-sly-call="${nextButton.tabbutton_template @ btnText='pw.searchResults.ok', btnType='button', customClasses='js-apply-filter'}" />
                            </div>
                        </div>
                        <div class="pw-search-results__filter-container__count js-filter-title" auto_locator="searchListingHeadingPadding">
                            <div class="js-filter-container-chips d-none">
                                <!-- Loading filter tags/chips here -->
                            </div>
                            <div class="pw-search-results__spinner text-center d-none">
                              <sly data-sly-use.spinner="/apps/publicweb/components/atoms/spinner/spinner-template.html"
                                  data-sly-call="${spinner.spinner_template}" />
                            </div>
                            <div class="js-pw-search-results__title"
                                data-result-search-term="${'pw.searchResults.searchresultsTextFor' @ i18n}"
                                data-results-title="${'pw.searchResults.searchresultsText' @ i18n}"
                                data-no-results-text="${'pw.searchResults.nosearchresults' @ i18n}"
                                data-empty-field="${'pw.searchResults.emptySearchText' @ i18n}">
                            </div>
                        </div>
                    </div>
                    <div class="pw-search-results__main-container">
                        <div class="pw-search-results__results">
                            <div class="pw-search-results__results-list js-pw-search-results__results-list"></div>
                            <div class="js-pagination d-none" aria-live="polite"
                                data-pagination-text="${'pw.searchResults.of' @ i18n}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</sly>
