<sly data-sly-template.searchResults_template="${@ data, flag}">
  <div class="pw-search-results js-pw-search-results" data-locator="search-results" data-module="SearchResults">
    <div class="pw-search-results__title">
      <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
           data-sly-call="${heading.heading_h4_template @ headingText='Search Results'}"/>
    </div>
    <div class="pw-search-results__results-count js-pw-search-results__results-count">

    </div>
  </div>

	<!-- Example of how tab title and product type values need to be used.
	    <p>First Tab Default Title : ${data.firstTabLinkText}</p>
	    <p>Product Type values :</p>
	    <ul data-sly-list.key1="${data.tabs}">
	         <li> Tab Title: ${key1.title}, Product Type Value: ${key1.productType}</li>
	    </ul>
	-->

  	<!-- Example of how filter title and filter tag values need to be used.
	    <p>Filter Title : ${data.filterTitle}</p>
	    <p>Filter Tag values :</p>
	    <ul data-sly-list.key="${data.tagsMap}">
	         <li> Tag Title: ${key}, Tag Value: ${data.tagsMap[key]}</li>
	    </ul>
	-->
</sly>