<sly data-sly-template.searchResults_template="${@ data, flag}">
  <div class="pw-search-results js-pw-search-results" data-locator="search-results"
       data-module="SearchResults" data-results-per-page="${data.resultsPerPage}">
    <div class="tpatom-input-box">
      <input type="text" name="random" class="js-pw-search-input tpatom-input-box__input" data-locator="{{dataLocator}}"
             placeholder="${data.searchBoxPlaceholder @ i18n}"/>
      <i class="tpatom-input-box__icon icon-Search"></i>
    </div>
    <div class="pw-search-results__main-container pw-padding--regular">
      <div class="pw-search-results__filters js-pw-search-results__filters pw-padding--regular">
        <sly data-sly-test="${data.filterTitle}"
             data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
             data-sly-call="${heading.heading_h4_template @ headingText=data.filterTitle, variant='small-flat'}"/>
        <div data-sly-test="${data.tagsMap}" class="filter__list" data-sly-list.key="${data.tagsMap}">
          <div class="tpatom-checkbox">
            <label class="tpatom-checkbox__label clearfix" for="${key @ i18n}">
              <input
                type="checkbox"
                class="tpatom-checkbox__input float-left"
                id="${key @ i18n}"
                value="${data.tagsMap[key]}"/>
              <i class="tpatom-checkbox__icon icon icon-Tick float-left"></i>
              <span class="tpatom-checkbox__text js-checkbox__text">${key @ i18n}</span>
            </label>
          </div>
        </div>
      </div>
      <div class="pw-search-results__results">
        <div data-sly-test="${data.resultsText}" class="pw-search-results__title js-pw-search-results__title" data-results-title="${data.resultsText @ i18n}" data-no-results-text="${data.noResultsText @ i18n}">

        </div>
        <div class="pw-search-results__tabs js-pw-search-results__tabs tpatom-button-group d-flex">
          <sly data-sly-test="${data.firstTabLinkText}"
               data-sly-use.pwButton="/apps/commons/components/atoms/button-text/button-text.html"
               data-sly-call="${pwButton.button_template @ btnPath='#', btnText=data.firstTabLinkText, btnTooltip=data.firstTabLinkText, variant='group-item', customClasses='js-pw-search-results_tab tpatom-button--group-item--active', customData='all'}"/>
          <sly data-sly-list.tabItem="${data.tabs}">
            <sly data-sly-use.pwButton="/apps/commons/components/atoms/button-text/button-text.html"
                 data-sly-call="${pwButton.button_template @ btnPath='#', btnText=tabItem.title, btnTooltip=tabItem.title, variant='group-item', customClasses='js-pw-search-results_tab', customData=tabItem.productType}"/>
          </sly>
        </div>
        <div class="pw-search-results__results-list js-pw-search-results__results-list">

        </div>
        <sly data-sly-use.pagination="/apps/publicweb/components/content/pagination/pagination-template.html"
             data-sly-call="${pagination.pagination_template @customEvent='searchresults', maxVisible=7}"/>
      </div>
    </div>
  </div>
</sly>