.hidden-element {
    height: 0;
    width: 0;
    visibility: hidden;
}

.view-larger-map {
    @include padding(1px 12px);
    border: 1px solid $color-tundora;
    background-color: $color-white;
    cursor: pointer;
    font-family: $font-monsterrat;
    margin: 5px;
}

.pw-find-my-office {
    &__map {
        @include height(288px);
        border-radius: 4px;
    }
    &__wrapper {
        @include margin-left($margin-md);
        @include margin-right($margin-md);
        position: relative;
    }
    &__form-group {
        @include padding($padding-l $padding-md);
        background-color: $color-white;
        position: static;
        width: 100%;
        border-radius: 4px;
        h2 {
            @include line-height(32px, $font-l);
            font-weight: 700;
            font-size: $font-l;
        }
        &__label {
            @include margin-bottom(0);
            &.opacity {
                opacity: $opacity-disabled;
            }
        }
        .country-field {
            @include margin-top($margin-md);
        }
        &__field {
            @include margin-top($margin-md);
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
        }
        .btn {
            font-weight: 400;
            &:disabled {
                opacity: $opacity-disabled;
                cursor: auto;
            }
            .icon-Arrow_Right_pw {
                &::before {
                    color: $color-text;
                    font-size: $font-sm;
                    line-height: $font-sm;
                    transform: rotate(90deg);
                }
            }
        }
        &__city-field,
        &__address {
            &.hide {
                display: none;
            }
        }
    }

    &__form-group__address {
        &__office-name,
        &__office-site {
            @include margin-top($margin-md);
        }
        &__office-address,
        &__office-phone-number {
            @include margin-top($margin-md);
        }
        &__office-phone-number {
            &__label {
                font-weight: 700;
            }
        }
        &__office-name {
            h4 {
                font-size: 20px;
                line-height: 28px;
                font-weight: 700;
            }
        }
    }

    @media #{$desktop} {
        &__map {
            @include height(680px);
        }
        &__wrapper {
            @include margin-left($margin-xxxl);
            @include margin-right($margin-xxxl);
        }
        &__form-group {
            @include padding($padding-xxxl);
            position: absolute;
            width: 395px;
            top: $margin-xxxl;
            left: $margin-xxxl;
            z-index: $zindex-p;
            .country-field {
                @include margin-top($margin-l);
            }
        }
        &__form-group__address {
            &__office-name {
                h4 {
                    font-size: $font-md;
                    line-height: 24px;
                    font-weight: 700;
                }
            }
            &__office-site {
                @include margin-top($margin-l);
            }
        }
        h2 {
            @include line-height(40px, $font-xl);
            font-size: $font-xl;
        }
    }

    // Baidu Map Controls
    .BMap_stdMp {
        &ViewMap {
            display: inline-block;
            color: $color-denim;
            background: $color-white;
            border-radius: 4px;
            box-shadow: 0 1px 5px 0 $color-tundora;
            font-size: $font-sm;
            font-weight: 500;
            padding: $padding-xxs $padding-l;
            position: absolute;
            right: 15px;
            top: 20px;
            text-align: center;
            z-index: 99;
        }
        &Pan {
            display: none;
        }
        &Zoom {
            top: 10px;
            right: 0;
        }
        &Slider {
            display: none;
        }
    }
    .BMap_zlHolder.hvr {
        display: none;
    }
}