.google-api {
    height: 0;
    width: 0;
    visibility: hidden;
}

.pw-find-my-office {
    &__map {
        @include height(288px);
    }
    &__wrapper {
        @include margin-left($margin-md);
        @include margin-right($margin-md);
        position: relative;
    }
    &__form-group {
        @include padding($padding-l $padding-md);
        background-color: $color-white;
        position: static;
        width: 100%;
        header {
            @include line-height(32px, $font-l);
            font-weight: 300;
            font-size: $font-l;
        }
        &__label {
            @include margin-bottom(0);
            &.opacity {
                opacity: $opacity-disabled;
            }
        }
        &__field {
            @include margin-top($margin-l);
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
        }
        .btn {
            font-weight: 500;
            &:disabled {
                opacity: $opacity-disabled;
                cursor: auto;
            }
        }
        &__city-field,
        &__address {
            &.hide {
                display: none;
            }
        }
    }

    &__form-group__address {
        &__office-name,
        &__office-phone-number,
        &__office-site {
            @include margin-top($margin-l);
        }

        &__office-address {
            @include margin-top($margin-md);
        }
        &__office-phone-number {
            &__label {
                font-weight: 900;
            }
        }
        &__office-name {
            h4 {
                font-size: 20px;
                line-height: 28px;
                font-weight: 900;
            }
        }
    }

    @media #{$desktop} {
        &__map {
            @include height(780px);
        }
        &__wrapper {
            @include margin-left($margin-xxxl);
            @include margin-right($margin-xxxl);
        }
        &__form-group {
            @include padding($padding-xxxl);
            position: absolute;
            width: 395px;
            top: $margin-xxxl;
            left: $margin-xxxl;
            z-index: $zindex-p;
        }
        &__form-group__address {
            &__office-name {
                h4 {
                    font-size: $font-md;
                    line-height: 24px;
                    font-weight: 900;
                }
            }
        }
        header {
            @include line-height(40px, $font-xl);
            font-size: $font-xl;
        }
    }
}
