<div class="tp_pw-imageText">
    {{> atoms-imgWithText }}
    <div class="container tp_pw-imageTextwrapper">
        <div class="row">
            <div class="col-md-6 offset-md-6 col-lg-4 offset-lg-7">
                {{> molecules-tp_pw-titleWrapper }}
                <p>{{article_text}}</p>
                {{> atoms-textLink-secondaryBtn }}
            </div>
        </div>
    </div>
</div>
