<div class="tp_pw-imageText">
    {{> atoms-imgWithText }}
    <div class="container tp_pw-imageTextwrapper popOut">
        <div class="row">
            <div class="col-md-5 offset-md-1 col-lg-4 offset-lg-1">
                {{> molecules-tp_pw-titleWrapper }}
                <p>{{article_text}}</p>
                {{> atoms-button-secondary }}
            </div>
        </div>
    </div>
</div>
