.tp-ordering-card {
    position: relative;
    &__title {
        @include margin-bottom($margin-md);
        @include font-size($font-md);
        @include line-height(24px, $font-md);
        @media #{$desktop} {
            @include margin-bottom($margin-l);
            @include font-size($font-l);
            @include line-height(32px, $font-l);
        }
    }
    &__tablewrapper {
        @include horizontal-scroll-touch;
    }
    &__settings {
        // Settings icon
        position: absolute;
        top: 0;
        right: 0;
        @media #{$desktop} {
            // Compensating for padding from top and right to render effective spacing of 24px
            @include top($spacing-small-half);
            @include right($spacing-small-half);
        }
    }
    &__modal-body {
        @include padding(0 $padding-md);
        @media #{$desktop} {
            @include padding(0 $padding-l);
        }
    }
    &__modal-desc {
        @include font-size($font-baseline);
        @include line-height(24px, $font-baseline);
        @include margin-bottom($margin-md);
        word-wrap: break-word;
        @media #{$desktop} {
            @include margin-bottom($margin-l);
        }
    }
    &__viewmore {
        @include margin-top($margin-md);
        @media #{$desktop} {
            @include margin-top($margin-l);
        }
    }
    &__no-data {
        @include font-size($font-md);
        @include line-height(24px, $font-md);
    }
}
