<sly data-sly-template.orderingcard_template="${@ data, flag}">
  <input type="hidden" id="ordApiUrl" name="ordApiUrl" value="${data.apiURL}" />
  <input type="hidden" id="ordPreferencesUrl" name="ordPreferencesUrl" value="${data.preferencesURL}" />
  <input type="hidden" id="ordSavedPreferences" name="ordSavedPreferences" value="${data.savedPreferences}" />
  <input type="hidden" id="ordAllOrdersLink" name="ordAllOrdersLink" value="${data.allOrdersLink}" />
  <input type="hidden" id="ordDetailLink" name="ordDetailLink" value="${data.orderDetailLink}" />
  <input type="hidden" id="ordDefaultFields" name="ordDefaultFields" value="${data.defaultFields}" />
  <input type="hidden" id="ordDisabledFields" name="ordDisabledFields" value="${data.disabledFields}" />
  <input type="hidden" id="ordI18nKeys" name="ordI18nKeys" value="${data.i18nKeys}" />
  <div class="tp-ordering-card tp-card js-ordering-card" aria-live="polite" data-module="OrderingCard">
    <!--/* Ordering component renders here */-->
    <sly data-sly-use.loading="/apps/customerhub/components/atoms/loader/loader-template.html" data-sly-call="${loading.loader_template}" />
  </div>
</sly>
