<table style="width: 100%; border: 0; text-align: center;">
    <tr>
        <td width="20%" height="70px">
            <i class="icon-Animal_Food tp_icon"></i>
            <br>
            icon-Animal_Food
        </td>
        <td width="20%">
            <i class="icon-Apple tp_icon"></i>
            <br>
            icon-Apple
        </td>
        <td width="20%">
            <i class="icon-Bell tp_icon"></i>
            <br>
            icon-Bell
        </td>
        <td width="20%">
            <i class="icon-Bold_Arrow_Down tp_icon"></i>
            <br>
            icon-Bold_Arrow_Down
        </td>
        <td width="20%">
            <i class="icon-Bold_Arrow_Left tp_icon"></i>
            <br>
            icon-Bold_Arrow_Left
        </td>
    </tr>
    <tr>
        <td width="20%" height="70px">
            <i class="icon-Bold_arrow_Right tp_icon"></i>
            <br>
            icon-Bold_arrow_Right
        </td>
        <td width="20%">
            <i class="icon-Bold_arrow_Up tp_icon"></i>
            <br>
            icon-Bold_arrow_Up
        </td>
        <td width="20%">
            <i class="icon-Cart tp_icon"></i>
            <br>
            icon-Cart
        </td>
        <td width="20%">
            <i class="icon-Cheese tp_icon"></i>
            <br>
            icon-Cheese
        </td>
        <td width="20%">
            <i class="icon-Chevron_Down tp_icon"></i>
            <br>
            icon-Chevron_Down
        </td>
    </tr>
    <tr>
        <td width="20%" height="70px">
            <i class="icon-Chevron_Left tp_icon"></i>
            <br>
            icon-Chevron_Left
        </td>
        <td width="20%">
            <i class="icon-Chevron_Right tp_icon"></i>
            <br>
            icon-Chevron_Right
        </td>
        <td width="20%">
            <i class="icon-Chevron_Up tp_icon"></i>
            <br>
            icon-Chevron_Up
        </td>
        <td width="20%">
            <i class="icon-Close tp_icon"></i>
            <br>
            icon-Close
        </td>
        <td width="20%">
            <i class="icon-Coffee tp_icon"></i>
            <br>
            icon-Coffee
        </td>
    </tr>
    <tr>
        <td width="20%" height="70px">
            <i class="icon-Circle_Arrow_Down tp_icon"></i>
            <br>
            icon-Circle_Arrow_Down
        </td>
        <td width="20%">
            <i class="icon-Circle_Arrow_Left tp_icon"></i>
            <br>
            icon-Circle_Arrow_Left
        </td>
        <td width="20%">
            <i class="icon-Circle_Arrow_Right tp_icon"></i>
            <br>
            icon-Circle_Arrow_Right
        </td>
        <td width="20%">
            <i class="icon-Circle_Arrow_Up tp_icon"></i>
            <br>
            icon-Circle_Arrow_Up
        </td>
        <td width="20%">
            <i class="icon-Circle_Tick tp_icon"></i>
            <br>
            icon-Circle_Tick
        </td>
    </tr>
    <tr>
        <td width="20%" height="70px">
            <i class="icon-Cog tp_icon"></i>
            <br>
            icon-Cog
        </td>
        <td width="20%">
            <i class="icon-Collaboration tp_icon"></i>
            <br>
            icon-Collaboration
        </td>
        <td width="20%">
            <i class="icon-Dashboard tp_icon"></i>
            <br>
            icon-Dashboard
        </td>
        <td width="20%">
            <i class="icon-Frozen tp_icon"></i>
            <br>
            icon-Frozen
        </td>
        <td width="20%">
            <i class="icon-Frozen_kopi tp_icon"></i>
            <br>
            icon-Frozen_kopi
        </td>
    </tr>
    <tr>
        <td width="20%" height="70px">
            <i class="icon-Globe tp_icon"></i>
            <br>
            icon-Globe
        </td>
        <td width="20%">
            <i class="icon-Heart tp_icon"></i>
            <br>
            icon-Heart
        </td>
        <td width="20%">
            <i class="icon-Icecream tp_icon"></i>
            <br>
            icon-Icecream
        </td>
        <td width="20%">
            <i class="icon-Idea tp_icon"></i>
            <br>
            icon-Idea
        </td>
        <td width="20%">
            <i class="icon-Info tp_icon"></i>
            <br>
            icon-Info
        </td>
    </tr>
    <tr>
        <td width="20%" height="70px">
            <i class="icon-Install tp_icon"></i>
            <br>
            icon-Install
        </td>
        <td width="20%">
            <i class="icon-Inventory tp_icon"></i>
            <br>
            icon-Inventory
        </td>
        <td width="20%">
            <i class="icon-Jar tp_icon"></i>
            <br>
            icon-Jar
        </td>
        <td width="20%">
            <i class="icon-Juice_Drink tp_icon"></i>
            <br>
            icon-Juice_Drink
        </td>
        <td width="20%">
            <i class="icon-Milk_Carton tp_icon"></i>
            <br>
            icon-Milk_Carton
        </td>
    </tr>
    <tr>
        <td width="20%" height="70px">
            <i class="icon-peech tp_icon"></i>
            <br>
            icon-peech
        </td>
        <td width="20%">
            <i class="icon-Person tp_icon"></i>
            <br>
            icon-Person
        </td>
        <td width="20%">
            <i class="icon-Phone tp_icon"></i>
            <br>
            icon-Phone
        </td>
        <td width="20%">
            <i class="icon-Plant_Based tp_icon"></i>
            <br>
            icon-Plant_Based
        </td>
        <td width="20%">
            <i class="icon-Play tp_icon"></i>
            <br>
            icon-Play
        </td>
    </tr>
    <tr>
        <td width="20%" height="70px">
            <i class="icon-Plus tp_icon"></i>
            <br>
            icon-Plus
        </td>
        <td width="20%">
            <i class="icon-Search tp_icon"></i>
            <br>
            icon-Search
        </td>
        <td width="20%">
            <i class="icon-Share tp_icon"></i>
            <br>
            icon-Share
        </td>
        <td width="20%">
            <i class="icon-Tick tp_icon"></i>
            <br>
            icon-Tick
        </td>
        <td width="20%">
            <i class="icon-Time tp_icon"></i>
            <br>
            icon-Time
        </td>
    </tr>
    <tr>
        <td width="20%" height="70px">
            <i class="icon-Training tp_icon"></i>
            <br>
            icon-Training
        </td>
        <td width="20%">
            <i class="icon-Wine_Spirit tp_icon"></i>
            <br>
            icon-Wine_Spirit
        </td>
        <td width="20%">
            <i class="icon-Avatar tp_icon"></i>
            <br>
            icon-Avatar
        </td>
        <td width="20%">
            <i class="icon-Bookmark tp_icon"></i>
            <br>
            icon-Bookmark
        </td>
        <td width="20%">
            <i class="icon-Burger tp_icon"></i>
            <br>
            icon-Burger
        </td>
    </tr>
    <tr>
        <td width="20%" height="70px">
            <i class="icon-Microsoft_Teams tp_icon"></i>
            <br>
            icon-Microsoft_Teams
        </td>
        <td width="20%">
            <i class="icon-Circle_filled_Tick tp_icon"></i>
            <br>
            icon-Circle_filled_Tick
        </td>
        <td width="20%">
            <i class="icon-Facebook tp_icon"></i>
            <br>
            icon-Facebook
        </td>
        <td width="20%">
            <i class="icon-Twitter tp_icon"></i>
            <br>
            icon-Twitter
        </td>
        <td width="20%">
            <i class="icon-Youtube tp_icon"></i>
            <br>
            icon-Youtube
        </td>
    </tr>
    <tr>
        <td width="20%" height="70px">
            <i class="icon-Linkedin tp_icon"></i>
            <br>
            icon-Linkedin
        </td>
        <td width="20%">
            <i class="icon-Stop tp_icon"></i>
            <br>
            icon-Stop
        </td>
        <td width="20%">
            <i class="icon-PTU tp_icon"></i>
            <br>
            icon-PTU
        </td>
        <td width="20%">
            <i class="icon-Finacials tp_icon"></i>
            <br>
            icon-Finacials
        </td>
        <td width="20%">
            <i class="icon-Factory tp_icon"></i>
            <br>
            icon-Factory
        </td>
    </tr>
    <tr>
        <td width="20%" height="70px">
            <i class="icon-Bin_X tp_icon"></i>
            <br>
            icon-Bin_X
        </td>
        <td width="20%">
            <i class="icon-Logout tp_icon"></i>
            <br>
            icon-Logout
        </td>
        <td width="20%">
            <i class="icon-External_link tp_icon"></i>
            <br>
            icon-External_link
        </td>
        <td width="20%">

            <br>

        </td>
        <td width="20%">

            <br>

        </td>
    </tr>
</table>
