.tpatom-list-item {
    width: 100%;
    @include bg-color($color-congress-blue);
    border-bottom: 1px solid $color-tory-blue;
    &__link {
        @include padding(16px);
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: $color-white;
        font-family: mulilight;
        text-decoration: none;
        @media #{$desktop} {
            @include padding(16px 24px);
        }
        &:hover,
        &:visited {
            @include bg-color($color-tory-blue);
            color: $color-white;
            text-decoration: none;
        }
    }
    &__btn {
        @include bg-color($color-congress-blue);
        @include no-border;
        @include padding(16px);
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: $color-white;
        border-bottom: 1px solid $color-tory-blue;
        @media #{$desktop} {
            @include padding(16px 24px);
        }
        &:hover {
            @include bg-color($color-tory-blue);
            color: $color-white;
            font-family: mulilight;
            text-decoration: none;
        }
    }
    &__icon {
        @include font-size(16px);
    }
    &__label {
        @include padding(0 0 0 8px);
        @include font-size(12px);
        font-weight: bold;
        @include line-height(20px, 12px);
        @include letter-spacing(1px);
    }
    &__external-link {
        @include font-size(8px);
        color: $color-white;
    }
    &__submenu {
        @include font-size(8px);
    }
}

.icon-External_Link:before {
    content: "\f127";
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.icon-Chevron_Down:before {
    content: "\f110";
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
