.tp-left-nav {
    @media #{$desktop} {
        @include width(224px);
        @include top(88px);
        position: fixed;
        height: calc(100vh - #{convert-to-rem(88px)});
    }

    &__overlay {
        background-color: rgba($color-black, 0);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: z-index $anim-speed-quick $anim-ease-out $anim-speed-quick, background-color $anim-speed-quick;
        z-index: $zindex-nav;

        &.color-transform {
            z-index: $zindex-nav;
            background-color: rgba($color-black, 0.5);
            transition: background-color $anim-speed-quick;
        }

        @media #{$desktop} {
            @include max-width(224px);
            display: block;
            width: auto;
            background: transparent;
            position: static;
        }
    }

    &__container {
        @include max-width(300px);
        display: block;
        color: $color-white;
        z-index: $zindex-nav;
        width: 90%;
        height: 100%;
        transform: translateX(-100%);
        transition: transform $anim-speed-quick $anim-ease-out;
        will-change: transform;
        background-color: $color-congress-blue;

        &.translated {
            transform: translateX(0);
        }

        @media #{$desktop} {
            @include max-width(224px);
            width: auto;
            transform: translateX(0);
        }
    }

    &__menu-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;

    }

    &__ullist {
        padding: 0;
        flex: 2;
        transition: transform $anim-speed-quick $anim-ease-out;
        will-change: transform;
    }

    &__main-heading {
        @include padding($padding-xl $padding-md);
        color: $color-white;
        position: relative;
        border-bottom: 1px solid $color-tory-blue;
        background-color: $color-congress-blue;

        @media #{$desktop} {
            @include padding($padding-l $padding-l $padding-md $padding-l);
        }
    }

    &__main-heading-title {
        @include font-size($font-md);
        @include line-height($spacing-big, $font-md);
        font-weight: 300;
    }

    &__close-btn {
        @include right($spacing-small);
        color: $color-white;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .icon-Close {
            @include font-size($font-normal);
            color: $color-white;
        }
    }
}
