.tp-left-nav-container {
    width: 100%;
    background-color: rgba($color-black, 0.5);
    transition: transform .5s;
    @media #{$desktop} {
        @include width(224px);
        background: transparent;
    }
}

.tp-left-nav {
    @include bg-color($color-congress-blue);
    color: $color-white;
    max-width: 300px;
    width: 90%;
    @media #{$desktop} {
        max-width: 224px;
        width: 100%;
        border-radius: 0 4px 4px 0;
    }
    &__ul {
        padding: 0;
        list-style: none;
        max-height: 100vh;
        overflow-y: scroll;
        @media #{$desktop} {
            overflow: initial;
        }
    }
    &__head {
        @include padding($padding-xl $padding-md);
        color: $color-white;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color-tory-blue;
        @media #{$desktop} {
            @include padding($padding-l $padding-l $padding-md $padding-l);
        }
        &__title {
            @include font-size($font-md);
            font-weight: 300;
            @include line-height(24px, $font-md);
        }
        &__close-btn {
            padding: 0;
            border: 0;
            margin: 0;
            @media #{$desktop} {
                display: none;
            }
            background: transparent;
            .icon-Close {
                @include font-size($font-normal);
                color: $color-white;
            }
        }
    }
}

.tp-left-nav .tp-sticky {
    max-width: 300px;
    width: 90%;
    background: $color-white;
    position: fixed;
    bottom: 0;
    left: 15px;
    color: $color-black;
    transition: display .2s;
    @media #{$desktop} {
        display: none;
    }
}

.slideIn {
    transform: translateX(-120%);
}
