<div class="tp-support-request__submit-title-wrapper">
    <i class="icon-Circle_filled_Tick tp-support-request__submit-title-icon"></i>
    <h2 class="tp-support-request__submit-title">{{i18n key=i18nKeys.submitTitle}}</h2>
</div>
<p class="tp-support-request__submit-subtitle">{{i18n key=i18nKeys.submitSubtitle}}</p>
{{> atoms/buttons/button/button
        modifier="primary"
        jsClass="js-tp-support-request__send-another-support-request"
        className="tp-support-request__send-another-support-request js-tp-support-request__send-another-support-request"
        iconClass="icon-Chevron_Right"
        text=i18nKeys.sendAnotherSupportRequest
}}