.pw-error-page {
    $self: &;
    background-color: aqua;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-white;
    min-height: 100vh;

    &:not(.wcmmode-edit) {
        min-height: 100vh;
        #{$self} {
            &__image {
                left: 0;
                max-width: none;
                min-width: 100%;
                min-height: 100vh;
                position: absolute;
                top: 0;
            }
        }

    }

    &--underneath {
        @include margin-top(-130px);
        position: relative;
        z-index: 0;
    }

    &__logo {
        max-width: 150px;
    }

    &__image {

        width: 100%;
    }

    &__text-content {
        @include padding($padding-l);
        left: #{convert-to-rem(15px)};
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: calc(100% - #{convert-to-rem(30px)});
        @media #{$desktop} {
            left: 0;
            max-width: 50%;
            width: auto;
        }
    }

    &__title,
    &__subtitle,
    &__description {
        @include padding-bottom($padding-l);
    }

    &__description {
        @include font-size(18px);
        @include line-height(24px, 18px);        
        @media #{$desktop} {
            @include font-size(18px);
        }
        a {
            color: $color-white;
        }
    }

    .tp-container {
        @include padding-top(70px);
        height: 100vh;
        position: relative;
    }

    .tpatom-contrast-layer {
        z-index: -1;
    }
}