/*------------------------------------*\
    #Close BUTTONS
\*------------------------------------*/

.tp-close-btn {
    background: none;
    border: none;
    width: $min-accessible-dimension;
    height: $min-accessible-dimension;
    cursor: pointer;
}