.otFloatingRoundedCorner {
    display: none;
    padding: 20px;
    background-color: $color-white;
    width: 100%;
    max-width: 375px;
    border-radius: 2.5px;
    bottom: 1em;
    left: 1em;
    font-size: 1rem;
    box-shadow: $box-shadow;
    z-index: 2147483646;

    h3 {
        color: $color-tundora;
        font-weight: 600;
        font-size: 1rem;
        padding: 0 0 10px 25px;
        width: 80%;
    }

    p {
        @include padding(0 $padding-l $padding-sm $padding-l);
    }

    a {
        color: $color-congress-blue;
    }

    button {
        display: inherit;
        color: $color-white;
        background-color: $color-congress-blue;
        border-color: $color-congress-blue;
        padding: 12px 10px;
        font-size: .82em;
        font-weight: 600;
        line-height: 1.4;
        letter-spacing: .05em;
        height: auto;
        white-space: normal;
        word-break: break-word;
        word-wrap: break-word;
        margin: 0 auto;
        width: 90%;
    }
}

.pc-dark-filter {
    display: none;
    background: $overlay-color;
    z-index: 2147483645;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    animation-name: onetrust-fade-in;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;
}

.pc-dark-filter,
.otFloatingRoundedCorner {
    &.show {
        display: block;
        position: fixed;
    }
}