.otFloatingRoundedCorner {
    position: fixed;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    max-width: 375px;
    border-radius: 2.5px;
    bottom: 1em;
    left: 1em;
    font-size: 1rem;
    box-shadow: 0 0 18px rgb(0 0 0 / 20%);
    z-index: 2147483645;

    h3 {
        color: #4a4a4a;
        font-weight: 600;
        font-size: 1rem;
        padding: 0 0 10px 25px;
        width: 80%;
    }
    p {
        padding: 0 25px 10px 25px;
    }
    a {
        color: #023F88;
    }
    button {
        background-color: #023F88;
        border-color: #023F88;
        color: #FFFFFF;
        padding: 12px 10px;
        font-size: .82em;
        font-weight: 600;
        line-height: 1.4;
        letter-spacing: .05em;
        height: auto;
        white-space: normal;
        word-break: break-word;
        word-wrap: break-word;
        margin: 0 auto;
        width: 90%;
        display: inherit;
    }
    &.hide {
            display: none;
        }
}

.pc-dark-filter {
    background: rgba(0,0,0,0.5);
    z-index: 2147483646;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    animation-name: onetrust-fade-in;
    animation-duration: 400ms;
    animation-timing-function: ease-in-out;

    &.hide {
        display: none;
    }
}

.aem-AuthorLayer-Edit {
    .pc-dark-filter {
        &.hide {
            display: block;
        }
    }
    .otFloatingRoundedCorner {
        &.hide {
            display: block;
        }
    }
}

