/*------------------------------------*\
    #colors
\*------------------------------------*/
.tp_color-congress-blue {
    background: $color-congress-blue;
}

.tp_color-jordy-blue {
    background: $color-jordy-blue;
}

.tp_color-tory-blue {
    background: $color-tory-blue;
}

.tp_color-denim {
    background: $color-denim;
}

.tp_color-royal-blue {
    background: $color-royal-blue;
}

.tp_color-picton-blue {
    background: $color-picton-blue;
}

.tp_color-white {
    background: $color-white;
}

.tp_color-black {
    background: $color-black;
}

.tp_color-mine-shaft {
    background: $color-mine-shaft;
}

.tp_color-tundora {
    background: $color-tundora;
}

.tp_color-boulder {
    background: $color-boulder;
}

.tp_color-mercury {
    background: $color-mercury;
}

.tp_color-wild-sand {
    background: $color-wild-sand;
}

.tp_color-alert {
    background: $color-alert;
}

.tp_color-warning {
    background: $color-warning;
}

.tp_color-success {
    background: $color-success;
}
