/*------------------------------------*\
    #HEADINGS & texts
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-light;
    font-weight: normal;
}

h1  {
    @include font-size(2.625, large);
    line-height: 1.14;
}

h2 {
    @include font-size(2, large);
    line-height: 1.25;
}

h3  {
    @include font-size(1.5, large);
    line-height: 1.33;
}

h4  {
    @include font-size(1.125, large);
    line-height: 1.33;
}

h5 {
    @include font-size(1, large);
    line-height: 1.25;
    margin-bottom: $spacing-small;
}

h6 {
    @include font-size(1, large);
    line-height: 1.25;
    margin-bottom: $spacing-small;
}

p {
    @include font-size(.875, large);
    line-height: 1.715;
    margin-bottom: $spacing-small;
}

.text-hero {
    @include font-size(3.5, large);
    line-height: 1.07;
}

.text-small {
    @include font-size(.75, large);
    line-height: 1.66;
}

.text-smallest {
    @include font-size(.625, large);
    line-height: 1.6;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

/**
 * Blockquote base styles
 */
blockquote {
    border-left: 1px solid $color-boulder;
    color: $color-text;
    font-style: italic;
    margin-bottom: $spacing-small;
    padding-left: $spacing-small;
}

.tp_page-title {
    margin-bottom: $spacing-small;

    @media #{$medium} {
        margin-bottom: $spacing-big;
    }
}

/**
 * tagline styles
 */
.tp_pw-containerTagLine {
    @extend .text-small;
    text-transform: uppercase;
}

.tp_pw-containerTitle {
    margin-bottom: $spacing-small;

    @media #{$medium} {
        margin-bottom: $spacing-big;
    }
}
