/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/

.tp_btn {
    background: $color-congress-blue;
    border: 0;
    border-radius: $border-radius;
    color: $color-white;
    cursor: pointer;
    display: inline-block;
    font-family: $font;
    @include font-size(14px);
    padding: .8125rem 1rem;
    text-align: center;
    transition: background 0.2s ease;
    &:hover,
    &:focus {
        background: $color-jordy-blue;
        color: $color-congress-blue;
    }
    /* Inverse button */
    &.tp_btn-inverse {
        background: $color-jordy-blue;
        color: $color-congress-blue;
    }
    /* Disabled button */
    &.tp_btn-disabled {
        background: $color-wild-sand;
        color: rgba(3, 63, 136, .4);
    }
    /* gray button */
    &.tp_btn-gray {
        background: $color-wild-sand;
        color: $color-congress-blue;
        &:hover,
        &:focus {
            background: $color-mercury;
        }
    }
    & i {
        @include font-size(12px);
        display: inline;
        line-height: .6;
        margin-left: 8px;
        vertical-align: middle;
    }
}

/* Text button */

.tp_textBtn {
    color: $color-congress-blue;
    display: inline-block;
    font-family: $font;
    @include font-size(14px);
    position: relative;
    i {
        @include font-size(22px);
        display: inline;
        margin-left: 8px;
        vertical-align: text-top;
    }
    &:hover,
    &:focus {
        color: $color-tundora;
    }
}

/* icon */

.tp_icon {
    @include font-size(16px);
    display: inline-block;
    vertical-align: middle;
}
