/*------------------------------------*\
    #ICONS Teample File - No need to update.
    Please dont't edit...
\*------------------------------------*/
@font-face {
	font-family: "tp-icons";
	src: url('../fonts/tp-icons.eot');
	src: url('../fonts/tp-icons.eot?#iefix') format('eot'),
		url('../fonts/tp-icons.woff') format('woff'),
		url('../fonts/tp-icons.ttf') format('truetype');
}

@mixin icon-styles {
	font-family: "tp-icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == Animal_Food {
		$char: "\E001";
	}
	@if $filename == Apple {
		$char: "\E002";
	}
	@if $filename == Avatar {
		$char: "\E003";
	}
	@if $filename == Bell {
		$char: "\E004";
	}
	@if $filename == Bin_X {
		$char: "\E005";
	}
	@if $filename == Bold_Arrow_Down {
		$char: "\E006";
	}
	@if $filename == Bold_Arrow_Left {
		$char: "\E007";
	}
	@if $filename == Bold_arrow_Right {
		$char: "\E008";
	}
	@if $filename == Bold_arrow_Up {
		$char: "\E009";
	}
	@if $filename == Bookmark {
		$char: "\E00A";
	}
	@if $filename == Burger {
		$char: "\E00B";
	}
	@if $filename == Cart {
		$char: "\E00C";
	}
	@if $filename == Cheese {
		$char: "\E00D";
	}
	@if $filename == Chevron_Down {
		$char: "\E00E";
	}
	@if $filename == Chevron_Left {
		$char: "\E00F";
	}
	@if $filename == Chevron_Right {
		$char: "\E010";
	}
	@if $filename == Chevron_Up {
		$char: "\E011";
	}
	@if $filename == Circle_Arrow_Down {
		$char: "\E012";
	}
	@if $filename == Circle_Arrow_Left {
		$char: "\E013";
	}
	@if $filename == Circle_Arrow_Right {
		$char: "\E014";
	}
	@if $filename == Circle_Arrow_Up {
		$char: "\E015";
	}
	@if $filename == Circle_filled_Tick {
		$char: "\E016";
	}
	@if $filename == Circle_Tick {
		$char: "\E017";
	}
	@if $filename == Close {
		$char: "\E018";
	}
	@if $filename == Coffee {
		$char: "\E019";
	}
	@if $filename == Cog {
		$char: "\E01A";
	}
	@if $filename == Collaboration {
		$char: "\E01B";
	}
	@if $filename == Dashboard {
		$char: "\E01C";
	}
	@if $filename == External_link {
		$char: "\E01D";
	}
	@if $filename == Facebook {
		$char: "\E01E";
	}
	@if $filename == Factory {
		$char: "\E01F";
	}
	@if $filename == Finacials {
		$char: "\E020";
	}
	@if $filename == Frozen {
		$char: "\E021";
	}
	@if $filename == Frozen_kopi {
		$char: "\E022";
	}
	@if $filename == Globe {
		$char: "\E023";
	}
	@if $filename == Heart {
		$char: "\E024";
	}
	@if $filename == Icecream {
		$char: "\E025";
	}
	@if $filename == Idea {
		$char: "\E026";
	}
	@if $filename == Info {
		$char: "\E027";
	}
	@if $filename == Install {
		$char: "\E028";
	}
	@if $filename == Inventory {
		$char: "\E029";
	}
	@if $filename == Jar {
		$char: "\E02A";
	}
	@if $filename == Juice_Drink {
		$char: "\E02B";
	}
	@if $filename == Linkedin {
		$char: "\E02C";
	}
	@if $filename == Logout {
		$char: "\E02D";
	}
	@if $filename == Microsoft_Teams {
		$char: "\E02E";
	}
	@if $filename == Milk_Carton {
		$char: "\E02F";
	}
	@if $filename == peech {
		$char: "\E030";
	}
	@if $filename == Person {
		$char: "\E031";
	}
	@if $filename == Phone {
		$char: "\E032";
	}
	@if $filename == Plant_Based {
		$char: "\E033";
	}
	@if $filename == Play {
		$char: "\E034";
	}
	@if $filename == Plus {
		$char: "\E035";
	}
	@if $filename == PTU {
		$char: "\E036";
	}
	@if $filename == Search {
		$char: "\E037";
	}
	@if $filename == Share {
		$char: "\E038";
	}
	@if $filename == Stop {
		$char: "\E039";
	}
	@if $filename == Tick {
		$char: "\E03A";
	}
	@if $filename == Time {
		$char: "\E03B";
	}
	@if $filename == Training {
		$char: "\E03C";
	}
	@if $filename == Twitter {
		$char: "\E03D";
	}
	@if $filename == Wine_Spirit {
		$char: "\E03E";
	}
	@if $filename == Youtube {
		$char: "\E03F";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-Animal_Food {
	@include icon(Animal_Food);
}
.icon-Apple {
	@include icon(Apple);
}
.icon-Avatar {
	@include icon(Avatar);
}
.icon-Bell {
	@include icon(Bell);
}
.icon-Bin_X {
	@include icon(Bin_X);
}
.icon-Bold_Arrow_Down {
	@include icon(Bold_Arrow_Down);
}
.icon-Bold_Arrow_Left {
	@include icon(Bold_Arrow_Left);
}
.icon-Bold_arrow_Right {
	@include icon(Bold_arrow_Right);
}
.icon-Bold_arrow_Up {
	@include icon(Bold_arrow_Up);
}
.icon-Bookmark {
	@include icon(Bookmark);
}
.icon-Burger {
	@include icon(Burger);
}
.icon-Cart {
	@include icon(Cart);
}
.icon-Cheese {
	@include icon(Cheese);
}
.icon-Chevron_Down {
	@include icon(Chevron_Down);
}
.icon-Chevron_Left {
	@include icon(Chevron_Left);
}
.icon-Chevron_Right {
	@include icon(Chevron_Right);
}
.icon-Chevron_Up {
	@include icon(Chevron_Up);
}
.icon-Circle_Arrow_Down {
	@include icon(Circle_Arrow_Down);
}
.icon-Circle_Arrow_Left {
	@include icon(Circle_Arrow_Left);
}
.icon-Circle_Arrow_Right {
	@include icon(Circle_Arrow_Right);
}
.icon-Circle_Arrow_Up {
	@include icon(Circle_Arrow_Up);
}
.icon-Circle_filled_Tick {
	@include icon(Circle_filled_Tick);
}
.icon-Circle_Tick {
	@include icon(Circle_Tick);
}
.icon-Close {
	@include icon(Close);
}
.icon-Coffee {
	@include icon(Coffee);
}
.icon-Cog {
	@include icon(Cog);
}
.icon-Collaboration {
	@include icon(Collaboration);
}
.icon-Dashboard {
	@include icon(Dashboard);
}
.icon-External_link {
	@include icon(External_link);
}
.icon-Facebook {
	@include icon(Facebook);
}
.icon-Factory {
	@include icon(Factory);
}
.icon-Finacials {
	@include icon(Finacials);
}
.icon-Frozen {
	@include icon(Frozen);
}
.icon-Frozen_kopi {
	@include icon(Frozen_kopi);
}
.icon-Globe {
	@include icon(Globe);
}
.icon-Heart {
	@include icon(Heart);
}
.icon-Icecream {
	@include icon(Icecream);
}
.icon-Idea {
	@include icon(Idea);
}
.icon-Info {
	@include icon(Info);
}
.icon-Install {
	@include icon(Install);
}
.icon-Inventory {
	@include icon(Inventory);
}
.icon-Jar {
	@include icon(Jar);
}
.icon-Juice_Drink {
	@include icon(Juice_Drink);
}
.icon-Linkedin {
	@include icon(Linkedin);
}
.icon-Logout {
	@include icon(Logout);
}
.icon-Microsoft_Teams {
	@include icon(Microsoft_Teams);
}
.icon-Milk_Carton {
	@include icon(Milk_Carton);
}
.icon-peech {
	@include icon(peech);
}
.icon-Person {
	@include icon(Person);
}
.icon-Phone {
	@include icon(Phone);
}
.icon-Plant_Based {
	@include icon(Plant_Based);
}
.icon-Play {
	@include icon(Play);
}
.icon-Plus {
	@include icon(Plus);
}
.icon-PTU {
	@include icon(PTU);
}
.icon-Search {
	@include icon(Search);
}
.icon-Share {
	@include icon(Share);
}
.icon-Stop {
	@include icon(Stop);
}
.icon-Tick {
	@include icon(Tick);
}
.icon-Time {
	@include icon(Time);
}
.icon-Training {
	@include icon(Training);
}
.icon-Twitter {
	@include icon(Twitter);
}
.icon-Wine_Spirit {
	@include icon(Wine_Spirit);
}
.icon-Youtube {
	@include icon(Youtube);
}

