/* Navigation - Common css */
.tp_navigation {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;

    .tp_navigationItem {
        display: inline;
        font-family: $font-bold;
        margin-right: $spacing-big*2;
        text-transform: capitalize;
        vertical-align: middle;

        &:last-child {
            margin-right: 0;
        }
    }

    .tp_navigationItemLink {
        color: $color-congress-blue;

        &:hover,
        &:focus,
        &:active {
            color: $color-boulder;
        }
    }
}

.tp_socialNavigation {
    list-style-type: none;
    margin: 0;

    .tp_socialNavigationItem {
        display: inline;
        font-size: $spacing-big;
        margin-right: $spacing-big;
        vertical-align: middle;

        &:last-child {
            margin-right: 0;
        }
    }

    .tp_socialNavigationItemLink {
        color: $color-white;

        &:hover,
        &:focus,
        &:active {
            color: $color-mercury;
        }
    }
}
