<sly data-sly-template.cookieconsent_template="${@ data, flag}">
  <div class="tp-cookie-consent js-cookie-consent tp-card d-none" data-module="CookieConsent">
    <div class="tp-cookie-consent__text">${data.cookieConsentText @context='html',i18n, locale=data.locale}</div>
    <sly data-sly-use.btn="/apps/commons/components/atoms/button/button-template.html"
        data-sly-call="${btn.button_template @text=data.cookieConsentButtonText,modifier='primary',baseClass='tp-cookie-consent__btn',jsClass='js-cookie-consent__btn'}" >
    </sly>
  </div>
</sly>
