<div class="tpmol-order-delivery-summary__delivery-detail row">
    <div class="tpmol-order-delivery-summary__delivery-detail-label col-lg">{{i18n key=label}}</div>
    <div class="col-lg">{{value}}</div>
</div>
