<div class="tpmol-order-delivery-summary__delivery-detail">
    <div class="tpmol-order-delivery-summary__delivery-detail-data">
    <div class="tpmol-order-delivery-summary__delivery-detail-label">{{i18n key=label}}</div>

    <div class="tpmol-order-delivery-summary__delivery-detail-text">
        {{#if link}}
            {{> atoms/links/link/link text=value href=linkUrl iconClass="icon-External_Link" isExternal=true jsClass=linkJsClass data-delivery-number=data-delivery-number }}
        {{else}}
            {{value}}
        {{/if}}
    </div>

</div>
</div>

