@font-face {
	font-family:"HelveticaNeueLTPro-Hv";
	src:url("../resources/fonts/HelveticaNeueLTPro-Hv.woff2") format("woff2"),
	    url("../resources/fonts/HelveticaNeueLTPro-Hv.woff") format("woff");
}
@font-face {
	font-family:"HelveticaNeueLTPro-Bd";
	src:url("../resources/fonts/HelveticaNeueLTPro-Bd.woff2") format("woff2"),
	    url("../resources/fonts/HelveticaNeueLTPro-Bd.woff") format("woff");
}
@font-face {
	font-family:"HelveticaNeueLTProMd";
	src:url("../resources/fonts/HelveticaNeueLTProMd.woff2") format("woff2"),
	    url("../resources/fonts/HelveticaNeueLTProMd.woff") format("woff");
}
@font-face {
	font-family:"HelveticaNeueLTPro-Roman";
	src:url("../resources/fonts/HelveticaNeueLTPro-Roman.woff2") format("woff2"),
	    url("../resources/fonts/HelveticaNeueLTPro-Roman.woff") format("woff");
}