.pw-text-image {
    @include border-radius($border-radius);
    @include padding($padding-md);
    @include margin($margin-zero);
    @media #{$desktop} {
        @include padding($padding-l);
    }

    &--display-row {
        > .row {
            flex-direction: row;
            flex-wrap: wrap-reverse;
        }
        .leftPad {
            @include padding-left($padding-zero);
            @include padding-right($padding-zero);
            @include margin-top($margin-md);
            @media #{$desktop} {
                @include padding-left($padding-zero);
                @include padding-right($padding-l);
                @include margin-top($margin-zero);
            }
        }
        .rightPad {
            @include padding-left($padding-zero);
            @include padding-right($padding-zero);
            @media #{$desktop} {
                @include padding-right($padding-zero);
                @include padding-left($padding-l);
            }
        }
    }

    &--display-row-reversed {
        > .row {
            flex-direction: row-reverse;
            flex-wrap: wrap-reverse;
        }
        .rightPad {
            @include padding-left($padding-zero);
            @include padding-right($padding-zero);
            @media #{$desktop} {
                @include padding-left($padding-zero);
                @include padding-right($padding-l);
            }
        }
        .leftPad {
            @include padding-left($padding-zero);
            @include padding-right($padding-zero);
            @include margin-top($margin-md);
            @media #{$desktop} {
                @include padding-right($padding-zero);
                @include padding-left($padding-l);
                @include margin-top($margin-zero);
            }
        }
    }

    &__innerpadding {
        @include margin-top(0);
        @include margin-bottom(0);

        @media #{$desktop} {
            @include margin-top(0);
            @include margin-bottom(0);
        }
    }

    &__subTitle {
        @include font-size($font-sm);
        @include margin-top($margin-zero);
        @include margin-bottom($margin-sm);
        @include line-height($font-normal, $font-sm);
        color: $color-boulder;
        font-weight: 500;
        text-transform: $uppercase;
        letter-spacing: normal;
        @media #{$desktop} {
            @include margin-top($margin-zero);
            @include margin-bottom($margin-sm);
            text-transform: $uppercase;
        }
        span.tpatom-subheading {
            @include font-size($font-sm);
            @include line-height($font-normal, $font-sm);
            font-family: $font-monsterrat;
            font-weight: 500;
        }
    }

    &__title {
        @include margin-bottom($margin-md);
    }

    &__description {
        @include font-size($font-normal);
        @include line-height($font-m-xl, $font-normal);

        li {
            display: table;
            margin-top: $margin-sm;

            &:first-child {
                margin-top: $margin-zero;
            }
        }

        ol,
        ul {
            @include margin-bottom(8px);
            @include padding-left($padding-sm);
        }

        ul {
            display: table;
            li {
                &::before {
                    @include margin-right($margin-sm);
                    @include padding-right($padding-sm);
                    display: table-cell;
                    color: $color-tundora;
                    content: '\2022';
                }
            }
        }

        ol {
            display: table;
            counter-reset: section;
            list-style-type: none;
            li {
                &::before {
                    @include margin-right($margin-sm);
                    @include font-size(14px);
                    @include padding-right($padding-sm);
                    display: table-cell;
                    content: counters(section, '.') ' ';
                    counter-increment: section;
                }
            }
        }

        ol ol,
        ul ul {
            @include padding(0 0 0 20px);
        }

        ul > li > ul,
        ol > li > ol {
            @include margin-bottom(0);
            :last-child {
                @include padding-bottom(0);
            }
        }

        ul li,
        ol li {
            @include padding-bottom($padding-md);
            &::before {
                color: $color-tundora;
            }
            &:last-child {
                @include padding-bottom(0);
            }
            li {
                @include padding-bottom($padding-sm);
            }
        }

        ol li ol,
        ul li ul {
            @include padding-top($padding-md);
        }

        ul ul ul {
            li {
                @include padding-bottom($padding-sm);
                &::before {
                    content: '\2012';
                    font-weight: 400;
                }
            }
        }

        ol ol ol {
            @include padding-left(28px);
            li {
                @include padding-bottom($padding-sm);
            }
        }

        @media #{$desktop} {
            @include font-size($font-baseline);
            @include line-height($font-l, $font-baseline);
        }
        a {
            &:hover {
                color: $color-sky-blue;
            }
        }
    }

    &__link {
        @include margin-bottom(0);
        @include margin-top($margin-md);
        @include padding($padding-zero);
        @include line-height($font-m-xl, $font-normal);
        background-color: none;
        @media #{$desktop} {
            @include margin-bottom($margin-zero);
            @include padding($padding-zero);
            @include line-height($font-l, $font-baseline);
            background-color: none;
        }

        a.tpatom-link {
            display: inline-flex;
            align-items: center;
            .icon {
                @include font-size($font-baseline);
                @include padding-left(6px);
                display: inline-block;
                &::before {
                    @include font-size($font-baseline);
                }
            }

            &--internal {
                .icon {
                    &::before {
                        @include font-size($font-normal);
                    }
                }
            }
        }
    }

    &__image {
        width: 100%;
    }
}
.tpatom-heading {
    &--regular {
        @include font-size($font-l);
        @include line-height($font-xl, $font-l);
        @media #{$desktop} {
            @include font-size($font-xl);
            line-height: $font-d-xl;
        }
    }
}
