/*------------------------------------*\
    #MIXINS
\*------------------------------------*/

/** CSS Transition
 *	Usage: @include transition(width,0.3s,ease-out);
 */
@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

/** Rem Unit font sizes with relative fallback http:/seesparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback
 *	Usage: @include font-size(1, large);
 */
@mixin font-size( $decimal-size, $keyword: null ) {
    @if $keyword{ font-size: $keyword; }
    @else { font-size: $decimal-size * $base-font-multiplier * 16px;}
    font-size: $decimal-size * 1rem;
}

@mixin vendor-prefix($property, $value) {
    @each $prop in '-webkit-', '-moz-', '-ms-', '-o-', '' {
        #{$prop}#{$property}: $value;
    }
}

@mixin keyframes($animation-name) {
    @each $prop in '-webkit-', '-moz-', '-ms-', '-o-', '' {
        #{$prop}keyframes #{$animation-name} {
            @content;
        }
    }
}

@mixin position( $position, $top: initial, $right: initial, $bottom: initial, $left: initial ) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin rotate($value: 90deg) {
    -webkit-transform: rotate($value);
    -moz-transform: rotate($value);
    -o-transform: rotate($value);
    -ms-transform: rotate($value);
    transform: rotate($value);
}


@mixin notification-blob($color) {
    background: $color;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: $spacing-small-half;
    width: $spacing-small-half;
    @include position(absolute, initial, initial, $spacing-small-half, -$spacing-small);
}
