.tp-contact-card {
    display: flex;
    flex-direction: column;

    @media #{$desktop} {
        flex-direction: row;
    }

    &__content-container {
        @include margin-bottom($margin-md);
        width: 100%;


        @media #{$desktop} {
            width: 50%;
            margin: 0;
        }
    }

    &__heading {
        @include margin-bottom($margin-md);

        @media #{$desktop} {
            @include margin-bottom($margin-l);
        }
    }

    &__description {
        @include font-size($font-md);
        @include line-height($font-l, $font-md);
        @include margin-bottom($margin-md);

        @media #{$desktop} {
            @include margin-bottom($margin-l);
        }
    }

    &__image-container {
        @include border-radius($border-radius);
        width: 100%;

        @media #{$desktop} {
            width: 50%;
        }
    }

    &__image {
        @include border-radius($border-radius);
        width: 100%;
    }
}
