.tp-contact-card {
    display: flex;
    flex-direction: column;

    @media #{$desktop} {
        flex-direction: row;
    }

    &__content-container {
        @include margin-bottom($margin-md);
        width: 100%;


        @media #{$desktop} {
            width: 50%;
            margin: 0;
        }
    }

    &__heading {
        @include font-size($font-l);
        @include line-height($font-xl, $font-l);
        @include margin-bottom($margin-md);

        @media #{$desktop} {
            @include margin-bottom($margin-l);
        }
    }

    &__description {
        @include font-size($font-md);
        @include line-height($font-l, $font-md);
        @include margin-bottom($margin-md);

        @media #{$desktop} {
            @include margin-bottom($margin-l);
        }
    }

    &__view-btn {
        @include line-height($font-l, $font-baseline);
        @include padding($padding-sm $padding-md);
    }

    &__image-container {
        width: 100%;
        border-radius: $border-radius;

        @media #{$desktop} {
            width: 50%;
        }
    }

    &__image {
        width: 100%;
        border-radius: $border-radius;
    }
}
