.pw-office-locator {
    @include border-radius($border-radius);
    @include margin-bottom($margin-xxxl);

    display: flex;
    background-color: $color-white;
    flex-direction: column;
    overflow: hidden;

    @media #{$tablet} {
        @include height(540px);
        @include padding($padding-zero);
        display: grid;
        grid-template-columns: 3fr 7fr;
    }

    &__controls {
        @include padding($padding-md);

        @media #{$tablet} {
            @include padding-left($padding-xxxl);
            @include padding-right(60px);
        }
    }

    &__menu {
        order: 1;
        position: relative;

        @media #{$tablet} {
            order: 0;
            overflow-y: auto;
        }
    }

    &__title {
        @include margin-bottom($margin-md);
        @include padding($padding-md $padding-md 0);

        @media #{$tablet} {
            @include margin-bottom($margin-l);
            @include padding($padding-xxl 60px 0 $padding-xxl);

        }
    }

    &__offices-list {
        li {
            @include padding($padding-md);
            border-top: 1px solid $color-mercury;
            position: relative;
            @media #{$tablet} {
                @include padding($padding-md 60px $padding-md $padding-xxxl);
            }
        }

        &__index {
            @include left($padding-md);
            @include top(19px);
            @include height(18px);
            @include width(18px);
            @include font-size(12px);
            display: inline-block;
            color: $color-white;
            background-color: $color-congress-blue;
            border-radius: 50%;
            line-height: convert-to-rem(19px);
            text-align: center;
            position: absolute;
            @media #{$tablet} {
                @include left($padding-xxxl);
            }
        }
    }

    &__offices-link {
        @include padding-left(24px);
        color: $color-tundora;
        position: relative;

        @media #{$tablet} {
            @include padding-right($padding-xl);
        }

        &__office-title {
            @include margin-bottom(6px);
            display: block;
        }

        &__icon {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__office-details-panel {
        @include padding($padding-xxxl 115px $padding-xxxl $padding-xxxl);

        display: none;
        background-color: $color-white;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;

        &__name,
        &__address,
        &__title {
            @include padding-bottom($padding-l);

            @media #{$tablet} {
                @include padding-right($padding-md);
            }
        }

        &__title {
            @include font-size($font-l);
            @include line-height($font-xl, $font-l);

            @media #{$desktop} {
                @include font-size($font-xl);
                @include line-height(40px, $font-xl);
            }
        }

        &__close {
            @include right($padding-xxxl);
            @include top($padding-xxxl);
            position: absolute;
        }
    }

    &__map {
        &__canvas {
            @include height(330px);

            @media #{$tablet} {
                @include height(540px);
            }
        }
    }
}