<sly data-sly-template.officeLocator_template="${@ data, flag}"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
  <div data-sly-test="${data.title}" class="pw-office-locator pw-theme--${data.pwTheme}" data-locator="office-locator" data-module="OfficeLocator">
    <div class="pw-office-locator__menu">
      <div class="pw-office-locator__title d-none d-lg-block">
        <sly data-sly-test="${data.title}" data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
             data-sly-call="${heading.heading_h4_template @ headingText=data.title}"/>
      </div>
      <div class="pw-office-locator__controls">
        <label for="gmaps-search">${data.cityInputLabel @ i18n}</label>
        <input class="form-control js-gmaps-search" id="gmaps-search" type="text">
        <a href="#">${data.filtersLabel @ i18n}</a>
      </div>
      <div class="pw-office-locator__office-details-panel js-pw-office-locator__office-details-panel hidden">

      </div>
      <ul class="pw-office-locator__offices-list js-pw-office-locator__offices-list">

      </ul>
    </div>

    <div class="pw-office-locator__map">
      <div class="pw-office-locator__title d-lg-none">
        <sly data-sly-test="${data.title}" data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
             data-sly-call="${heading.heading_h4_template @ headingText=data.title}"/>
      </div>
      <div class="pw-office-locator__map__canvas js-pw-office-locator__map__canvas">
      </div>
    </div>
  </div>
  <sly data-sly-test="${!data.title}"
       data-sly-call="${templates.placeholder @ isEmpty = !data.title}"></sly>
</sly>