.tp_supportTeam {

    &-col {
        border-bottom: 1px solid $color-mercury;
        margin-bottom: $spacing-small;
        padding-bottom: $spacing-small;

        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        @media #{$medium} {
            border-bottom: none;
            border-right: 1px solid $color-mercury;
            margin-bottom: 0;
            padding-bottom: 0;

            &:last-child {
                border-right: none;
            }
        }
    }

}
