.tpatom-button {
    @include border-radius($border-radius);
    @include font-size($font-normal);
    @include line-height(20px, $font-normal);
    @include padding(18px $padding-md 14px);

    @media #{$desktop} {
        @include font-size($font-baseline);
        @include line-height($font-l, $font-baseline);
        @include padding(9px $padding-md 8px);
    }

        &__icon {
        @include padding-left($padding-xs);
    }

    &--primary {
        background-color: $color-wild-sand;

        &:hover {
            background-color: $color-mercury;
        }
    }

    &--secondary {
        color: white;
        background-color: $color-congress-blue;
        &:hover {
            background-color: $color-jordy-blue;
            color: $color-congress-blue;
        }
    }

    &--shift {
        color: white;
        background-color: $color-congress-blue;
        @media #{$desktop} {
            color: $color-congress-blue;
            background-color: $color-wild-sand;

        }

        &:hover {
            color: $color-congress-blue;
            background-color: $color-jordy-blue;
            @media #{$desktop} {
                color: $color-congress-blue;
                background-color: $color-mercury;
            }
        }
    }

    &--group-item {
        color: $color-tundora;
        background-color: $color-mercury;

        &:hover, &:focus {
            color: $color-white;
            background-color: $color-congress-blue;
        }
        
        i {
            display: none;
        }
    }

    &--link {
        @include border-radius(0);
        @include padding(0);
        @include line-height($font-l, $font-normal);
        background-color: transparent;
        color: $color-congress-blue;
        &:hover {
            background-color: transparent;
            color: $color-tundora;
        }
    }
}
