.tpatom-button {
    @include border-radius($border-radius);
    @include font-size($font-baseline);
    @include line-height(18px, $font-baseline);
    @include padding(12px $padding-md);

    @media #{$desktop} {
        @include font-size($font-baseline);
        @include line-height($font-l, $font-baseline);
        @include padding(9px $padding-md 8px);
    }

    &__icon {
        @include padding-left($padding-xs);
        @include font-size($font-sm);
    }

    &--primary {
        background-color: $color-wild-sand;
        color: $color-congress-blue;

        .hover {
            background-color: $color-mercury;
        }


    }

    &--secondary {
        color: white;
        background-color: $color-congress-blue;

        &:hover {
            background-color: $color-jordy-blue;
            color: $color-congress-blue;
        }
    }

    &--shift {
        color: white;
        background-color: $color-congress-blue;

        @media #{$desktop} {
            color: $color-congress-blue;
            background-color: $color-wild-sand;

        }

        &:hover {
            color: $color-congress-blue;
            background-color: $color-jordy-blue;

            @media #{$desktop} {
                color: $color-congress-blue;
                background-color: $color-mercury;
            }
        }
    }

    &--group-item {
        color: $color-tundora;
        background-color: $color-mercury;

        &:hover,
        &:focus {
            color: $color-white;
            background-color: $color-congress-blue;
        }

        i {
            display: none;
        }
    }

    &--link {
        @include border-radius(0);
        @include padding(0);
        @include line-height($font-l, $font-normal);
        background-color: transparent;
        color: $color-congress-blue;

        &:hover {
            background-color: transparent;
            color: $color-tundora;
        }
    }

    &--prevBtn {
        .tpatom-button__icon {
            @include line-height(18px, $font-sm);

            @media #{$desktop} {
                @include line-height($font-l, $font-sm);
            }

            @include padding(0 $padding-xs 0 0);
            display: inline;

            &::before {
                content: '\f112';
            }
        }
    }
}
