<sly data-sly-template.button_template="${@ btnPath, btnText, btnTooltip, btnTarget, flag, variant, customClasses, customData}">
  <a href="${btnPath}"
     class="tpatom-link tpatom-link--${variant || 'primary'} ${customClasses}"
     data-custom="${customData @ context='text'}"
     title="${btnTooltip}"
     target="${btnTarget ? '_blank' : ''}"
     rel="${btnTarget ? 'noopener noreferrer' : ''}">
     <span class="tpatom-link__text sly-text">${btnText @ i18n}</span>
     <i class="icon${variant != 'transparent' ? ' icon-Chevron_Right' : ' icon-Circle_Arrow_Right'}"></i>
  </a>
</sly>
