.section-menu-navigation-Link {
    .section-menu-item-link ~ .display-lg {
        display: none;
    }
    .section-menu-item-link {
        &.active {
            font-weight: 900;
        }
        i.icon {
            @include margin-left($margin-xs);
            &::before {
                font-size: $font-sm;
                line-height: $font-sm;
            }
        }
    }
    @media #{$mobile} {
        & > .active.section-menu-item-link,
        & > .section-menu-item-link {
            i.with-arrow {
                &::before {
                    transform: rotate(-90deg);
                }
            }
        }

        & > .collapsed.section-menu-item-link,
        & > .active.collapsed.section-menu-item-link {
            i.with-arrow {
                &::before {
                    transform: rotate(90deg);
                }
            }
        }

        .section-menu-item-link {
            @include padding($padding-md);
            display: flex;
            justify-content: space-between;

            &:not(.collapsed) {
                font-weight: 900;
            }
            &,
            &:hover {
                color: $color-congress-blue;
            }
        }
    }
    @media #{$desktop} {
        .section-menu-item-link ~ .display-lg {
            display: block;
        }
        .section-menu-item-link {
            &:hover {
                color: $color-jordy-blue;
            }
            i.icon {
                vertical-align: top;
            }
            i.with-arrow {
                &::before {
                    transform: rotate(90deg);
                }
            }
            i.with-arrow.icon-up {
                &::before {
                    transform: rotate(-90deg);
                }
            }
        }
    }
}
