.section-menu-navigation-Link {
    .section-menu-item-link ~ .display-lg {
        display: none;
    }
    .section-menu-item-link {
        &.active {
            font-weight: 900;
        }
    }
    @media #{$mobile} {
        .section-menu-item-link {
            display: flex;
            justify-content: space-between;
        }
    }
    @media #{$desktop} {
        .section-menu-item-link ~ .display-lg {
            display: block;
        }
        .section-menu-item-link {
            &:hover {
                color: $color-jordy-blue;
            }
            i.icon {
                @include margin-left($margin-xs);
                vertical-align: top;
                &::before {
                    font-size: $font-sm;
                    line-height: $font-sm;
                }
            }
            i.with-arrow {
                &::before {
                    transform: rotate(90deg);
                }
            }
            i.with-arrow.icon-up {
                &::before {
                    transform: rotate(-90deg);
                }
            }
        }
    }
}
