<sly data-sly-template.sectionMenu_template="${@ data, selectedL2,selectedL3,selectedL4, linkText,linkURL, anchorClass, iconClass, parentLink}">
  <div data-module="SectionMenu">
    <div class="section-menu-navigation-Link js-section-menu-navigation-Link pw-position-relative">
      <a auto-locator="SectionMenuLinksFontStyle-SectionMenuLinksPadding" data-link-name='${linkText}' target="${data.external ? '_blank' : '_self'}" href="${linkURL}" class="${(selectedL2 == linkText || selectedL3 == linkText) ? 'active' : ''} section-menu-item-link js-section-menu-item-link" title="${linkText}">
        ${linkText}
        <sly data-sly-test="${data.external}">
          <i auto-locator="ArrowIconsSectionMenu-ArrowIconsSectionMenuPadding" class="icon is-external icon--link ${iconClass}"></i>
        </sly>
        <sly data-sly-test="${(data.subSectionMenu.subSections || data.subSectionMenu.pseudoCategoriesSection) && !data.external}">
          <i auto-locator="ArrowIconsSectionMenu-ArrowIconsSectionMenuPadding" class="icon with-arrow icon--link ${iconClass}"></i>
        </sly>
      </a>
      <sly data-sly-test.subSection="${data.subSectionMenu}">
        <sly
          data-sly-use.linkMolecule="/apps/publicweb/components/molecules/subSectionMenu/subSectionMenu-template.html"
          data-sly-call="${linkMolecule.subSectionMenu_template @ data=subSection, subSectionCount=subSection.subSectionCount, selectedL3=selectedL3,selectedL4=selectedL4}">
        </sly>
      </sly>
    </div>
  </div>
</sly>
