<sly data-sly-use.footerConfig="com.tetralaval.models.FooterConfigurationModel"/>

<p data-sly-test="${wcmmode.edit}" data-emptytext="configure ${component.title}" class="cq-placeholder"></p>
<footer class="tp-pw-footer js-tp-pw-footer" data-module="Footer" id="footer">
    <div class="tp-pw-footer__container tp-container">
        <div class="row">
            <div class="col-lg-5 col-xs-12 text-lg-left">
                <div class="row">
                    <div class="col-12 tp-pw-footer__logo footer-logo footer-analytics">
                        <a class="tp-pw-footer-data-analytics tp-pw-footer-data-logo" href="${footerConfig.logoLink}" target="_blank"
                           data-link-section="Footer_LogoClick" data-link-name="${footerConfig.logoAlt}">
                            <img src="${footerConfig.logoImagePath}" alt="${footerConfig.logoAlt}" />
                        </a>
                    </div>
                    <div class="col-12 tp-pw-footer__text">${properties.description}</div>
                    <div class="col-12">
                        <ul class="tp-pw-footer__links-list" data-sly-list.linkItem="${footerConfig.footerLinks}">
                            <li class="footer-analytics">
                                <a class="tp-pw-footer__link tp-pw-footer-data-analytics" href="${linkItem.linkPath}"
                                   target="${linkItem.internal ? '_self' : '_blank'}"
                                   data-link-section="Footer_Text Hyperlink"
                                   data-link-name="${linkItem.linkLabel}">${linkItem.linkLabel}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-xs-12 text-lg-right">
                <div class="row">
                    <div class="col">
                        <ul class="tp-pw-footer__navigation-list" data-sly-list.socialLinkItem="${footerConfig.socialLinks}">
                            <li class="tp-pw-footer__social-media-items footer-analytics">
                                <a class="tp-pw-footer__social-media-items tp-pw-footer__link tp-pw-footer-data-analytics"
                                   href="${socialLinkItem.socialMediaLink}" target="_blank" data-link-name="${socialLinkItem.socialMedia}"
                                   data-link-section="${socialLinkItem.socialMedia}_Text Hyperlink">
                                    <i class="${'icon-{0}_pw' @ format=[socialLinkItem.socialMedia]}"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>