<div class="tl-contactus">
    <button data-sly-test="${properties.linkLabel}" type="button" class="tpatom-btn tpatom-btn--primary js-tpatom-btn__tl-contactUs">
        <span class="tp-next-btn__text">${properties.linkLabel}</span>
        <i class="tpatom-button__icon icon-Arrow_Right_pw"></i>
    </button>
    <p data-sly-test="${wcmmode.edit}" data-emptytext="configure ${component.title}" class="cq-placeholder"></p>
    <div class="modal tp-modal tl-contact-modal js-tp-contact__modal fade" id="tl-contactus" data-module="FormContainer"
        tabindex="-1" role="dialog" aria-modal="true">
        <div class="modal-dialog modal-dialog-centered tp-modal-dialog">
            <div class="modal-content tp-modal-content">
				<input tyep="hidden" name=":company" value="${properties.company}"/>
                <div class="modal-body">
                    <!-- Contact Form -->
                    <sly data-sly-test.formPath="${properties.formPath}" />
                    <sly data-sly-test="${formPath}" data-sly-resource="${@path=formPath, selectors='content', wcmmode='disabled'}"></sly>
                </div>
            </div>
        </div>
    </div>
</div>