@import '~tpPublic/templates/components/tabslist/tabsList';

.pw-tablist__event-detail-description {
    li {
        display: table-row;
    }

    h1 {
        @include font-size($font-l);
        @include margin-bottom($margin-md);
        @include line-height($line-height-header-s, $line-height-header-s);
        font-weight: 300;
    }

    h2 {
        @include font-size($font-md);
        @include line-height($line-height-body, $font-md);
        @include margin-bottom($margin-md);
    }

    h3 {
        @include font-size($font-l);
        @include line-height($line-height-header-s, $line-height-body);
        @include margin-bottom($margin-md);
        font-weight: 400;
    }

    h4 {
        @include font-size($font-m-md);
        @include margin-bottom($margin-md);
        @include line-height($font-m-xl, $line-height-medium);
        font-weight: 500;
    }

    p {
        @include font-size($font-normal);
        @include line-height($font-m-xl, $font-normal);
        @include margin-bottom($font-xxs);
        font-weight: 400;
        @media #{$desktop} {
            @include margin-bottom($font-xxs);
        }
        a {
            @include padding(0);
            border: 0;
            color: $color-congress-blue;
            background: none;
            cursor: pointer;
            &:hover {
                color: $color-sky-blue;
                background-color: transparent;
            }
            & > .icon {
                @include padding-left(6px);
            }
        }
    }

    small {
        @include font-size($font-baseline);
        @include line-height($line-height-body, $font-baseline);
        @include margin-bottom($font-normal);
        font-weight: 500;
    }

    ol,
    ul {
        @include margin-bottom($font-xxs);
        @include padding-left($padding-xxl);
    }

    ul {
        display: table;
        li {
            &::before {
                @include margin-right($padding-sm);
                display: table-cell;
                color: $color-tundora;
                content: '\2022';
            }
        }
    }

    ol {
        display: table;
        counter-reset: section;
        list-style-type: none;
        li {
            &::before {
                @include margin-right($margin-sm);
                @include font-size($font-baseline);
                @include padding-right($padding-sm);
                display: table-cell;
                content: counters(section, '.') ' ';
                counter-increment: section;
            }
        }
    }

    ol ol,
    ul ul {
        @include padding(0 0 0 $font-m-md);
    }

    ul > li > ul,
    ol > li > ol {
        @include margin-bottom(0);
        :last-child {
            @include padding-bottom(0);
        }
    }

    ul li,
    ol li {
        @include font-size($font-baseline);
        @include padding-bottom($font-normal);
        &::before {
            color: $color-tundora;
        }
        &:last-child {
            @include padding-bottom(0);
        }
        li {
            @include padding-bottom($font-xxs);
        }
    }

    ol li ol,
    ul li ul {
        @include padding-top($font-normal);
    }

    ul ul ul {
        li {
            @include font-size($font-sm);
            @include padding-bottom($font-xxs);
            &::before {
                content: '\2012';
                font-weight: 400;
            }
        }
    }

    ol ol ol {
        @include padding-left($font-m-xl);
        li {
            @include font-size($font-sm);
            @include padding-bottom($font-xxs);
        }
    }

    table {
        @include margin-bottom($margin-l);
        display: block;
        border-collapse: collapse;
        overflow-x: auto;
        width: 100%;

        // sass-lint:disable no-vendor-prefixes
        &::-webkit-scrollbar {
            -webkit-appearance: none;
            &:horizontal {
                height: 11px;
            }
        }

        // sass-lint:disable no-vendor-prefixes
        &::-webkit-scrollbar-thumb {
            border: 2px solid $color-white;
            border-radius: $font-xxs;
            background-color: $color-light-gray;
        }

        // sass-lint:disable no-vendor-prefixes
        &::-webkit-scrollbar-track {
            background-color: $color-white;
            border-radius: $font-xxs;
        }

        tbody {
            display: table;
            width: 100%;
        }
        th {
            @include padding-top(9px);
            @include padding-bottom(9px);
            border-bottom: 1px solid $color-black;
            font-weight: 500;
        }

        td {
            @include padding-top(11px);
            @include padding-bottom(11px);
            border-bottom: 1px solid $color-mercury;
        }

        td,
        th {
            @include padding-left($font-xxs);
            @include padding-right($font-baseline);
            white-space: pre-wrap;
        }
    }
    @media #{$desktop} {
        &.tp-pw-richText-container {
            @include margin-top(0);
            @include margin-left($margin-xxxl);
            @include margin-right($margin-xxxl);
            @include padding($padding-xxxl);
        }
        h1 {
            @include font-size($font-xxl);
            @include line-height($line-height-header-l, $font-xxl);
            font-weight: 700;
        }
        h2 {
            @include font-size($font-xl);
            @include line-height($line-height-header-m, $font-xl);
        }
        h3 {
            @include font-size($font-l);
            @include line-height($font-xl, $font-l);
            font-weight: 400;
        }
        h4 {
            @include font-size($font-md);
            @include line-height($line-height-header-l, $font-md);
            font-weight: 500;
        }
        p {
            @include font-size($font-baseline);
            @include line-height($line-height-body, $font-baseline);
            font-weight: 400;
        }

        small {
            @include font-size($font-sm);
            @include line-height($line-height-medium, $font-sm);
            @include margin-bottom($font-l);
        }
        ol,
        ul {
            @include margin-bottom($margin-l);
        }

        table,
        p {
            @include margin-bottom($font-xxs);
        }
    }
}

.tpatom-link--primary {
    .icon {
        margin-top: 4px;
    }
}

.pw-tablist__event-title-icright {
    margin-bottom: 0;
}