.tp-pw-megamenunavigationlinks {
    padding: 0 $padding-xxxl;
    @media #{$mobile} {
        padding: 0 $padding-md;
    }
    &__item {
        margin-bottom: $padding-md;
        @media #{$mobile} {
            margin-bottom: 0;
            padding: $padding-md 0 0;
            &.nav-link-bottom-border {
                padding-bottom: $padding-md;
                border-bottom: 1px solid $color-mercury;
            }
        }
        &:last-of-type {
            margin-bottom: 0;
            @media #{$mobile} {
                margin-bottom: $padding-md;
                border-bottom: 0;
            }
        }
        a {
            color: $color-congress-blue;
            cursor: pointer;
            font-size: $font-baseline;
            text-decoration: none;

            &:hover {
                color: $color-bright-blue;
            }
        }
        p {
            color: $color-tundora;
            margin: 0;
            font-size: $font-sm;
        }
        i {
            color: $color-congress-blue;
            margin-right: $padding-sm;
            font-size: $font-normal;
        }
    }
}