<table style="width: 90%; border: 0;">
    <tr>
        <td>Hero</td>
        <td><p class="text-hero">Hero Title</p></td>
        <td>font size: 56px<br>line-height: 60px</td>
    </tr>
    <tr>
        <td>H1</td>
        <td><h1>Heading Level 1</h1></td>
        <td>font size: 42px<br>line-height: 48px</td>
    </tr>
    <tr>
        <td>H2</td>
        <td><h2>Heading Level 2</h2></td>
        <td>font size: 32px<br>line-height: 40px</td>
    </tr>
    <tr>
        <td>H3</td>
        <td><h3>Heading Level 3</h3></td>
        <td>font size: 24px<br>line-height: 32px</td>
    </tr>
    <tr>
        <td>H4</td>
        <td><h4>Heading Level 4</h4></td>
        <td>font size: 18px<br>line-height: 24px</td>
    </tr>
    <tr>
        <td>H5</td>
        <td><h5>Heading Level 5</h5></td>
        <td>font size: 16px<br>line-height: 20px</td>
    </tr>
    <tr>
        <td>H6</td>
        <td><h6>Heading Level 6</h6></td>
        <td>font size: 16px<br>line-height: 20px</td>
    </tr>
    <tr>
        <td>P</td>
        <td><p>Body text</p></td>
        <td>font size: 14px<br>line-height: 24px</td>
    </tr>
    <tr>
        <td>Small text</td>
        <td><p class="text-small">Small text</p></td>
        <td>font size: 12px<br>line-height: 20px</td>
    </tr>
    <tr>
        <td>Smallest text</td>
        <td><p class="text-smallest">Smallest text</p></td>
        <td>font size: 10px<br>line-height: 16px</td>
    </tr>
    <tr>
        <td>Link Text</td>
        <td><p><a href="#">Link text</a></p></td>
        <td>font size: 14px<br>line-height: 24px</td>
    </tr>
</table>
