<div class="tpatom-error">
    <i class="tpatom-error__icon icon-error"></i>
    {{#if error}}
    <span>{{i18n key=message}}</span>
    {{else}}
    <span>{{i18n key=message}}</span>
    {{/if}}
</div>
