<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="configure ${component.title}"
       class="cq-placeholder"></p>
    <sly data-sly-use.column="com.tetrapak.publicweb.core.models.v2.MegaMenuColumnModel">
        <div data-sly-repeat.item="${column.items}" data-sly-resource="${item.name @ decorationTagName='div'}"></div>
        <sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar', appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}"
             data-sly-test="${wcmmode.edit || wcmmode.preview}"></sly>
    </sly>
</sly>