<sly data-sly-template.tokenredirect_template="${@ data, flag}">
  <!--/*
    **************************************************************************************
    This file is not used in actual environment. This is created for testing purpose only.
    **************************************************************************************
  */-->
  <script>
    document.cookie = 'acctoken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; domain=; path=/';
    location.replace(location.protocol + '//' + location.host + '/content/customerhub-ux/tokenaccess.ux-preview.html');
  </script>
</sly>
