.pw-banner {
    @include margin-bottom($margin-xxxl);
    $self: &;
    position: relative;

    &__image-wrapper {
        position: relative;
    }

    &__image {
        @include border-radius($border-radius);
        width: 100%;
    }

    &__content {
        @include border-radius($border-radius);
        @include margin-top(-4px);
        @include padding($padding-l+4px $padding-md $padding-l);
        background-color: $color-white;

        @media #{$desktop} {
            @include margin-top(0);
            color: $color-white;
            background-color: transparent;
            left: $margin-xxl;
            padding: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: calc(50% - #{convert-to-rem(24px)});
        }

        &__title,
        &__description {
            @include margin-bottom($padding-md);
            overflow: hidden;

            @media #{$desktop} {
                @include margin-bottom($padding-l);
            }
        }

        &__title {
            max-height: $font-xl*2;
            @media #{$desktop} {
                max-height: 40px*2;
            }
        }
        &__description {
            @include font-size($font-baseline);
            @include line-height($font-l, $font-baseline);
            max-height: $font-l*5;
        }
    }
    &--right {
        #{ $self }__content {
            left: auto;
            right: $margin-xxl;
        }
    }
}