
.pw-container.reference-class {
    @include margin-top(0);
}

.pw-container.pw-margin--regular.reference-class {
    @include margin-top(0);
}

.pw-container.pw-margin--zero.reference-class {
    @include margin-bottom(0);
    .tp-pw-richText.tp-pw-richText-container {
        @include padding-bottom($padding-l);
    }
}

.pw-container.pw-margin--zero.topmargin {
    @include margin-top(0);
}

@media #{$desktop} {
    .pw-container.pw-margin--regular.reference-class {
        @include margin-top(0);
    }
}

.tp-pw-richText {
    border-radius: 4px;

    &.tp-pw-richText-container {
        @include margin-top(0);
        @include margin-left($margin-md);
        @include margin-right($margin-md);
        @include padding($padding-l $padding-md);
        width: auto;
    }

    ul {
        ul {
            @include padding-left($padding-md);
            @include padding-top($padding-xs);

            li {
                &::before  {
                    @include margin-right($margin-sm);
                }
            }
        }
    }

    li {
        display: block;
    }

    .tp-pw-richText-wrapper {
        & a {
            @include padding(0);
            border: 0;
            color: $color-congress-blue;
            background: none;
            cursor: pointer;

            &:hover {
                color: $color-sky-blue;
                background-color: transparent;
            }
            & > .icon {
                @include padding-left(6px);
            }
        }
    }

    .fullBleed {
        @include padding-left(0);
        @include padding-right(0);
    }

    h1 {
        @include line-height($line-height-header-m, $font-xl);
        @include margin-bottom($margin-md);
        font-size: $font-xl;
    }

    h2 {
        @include line-height($line-height-header-m, $font-xl);
        @include margin-bottom($margin-md);
        font-size: $font-xl;
    }

    h3 {
        @include line-height($line-height-header-s, $font-l);
        @include margin-bottom($margin-md);
        font-size: $font-l;
        font-weight: normal;
    }

    h4 {
        @include margin-bottom($margin-md);
        @include line-height($line-height-body, $font-md);
        font-size: $font-md;
    }

    p {
        @include line-height(28px, $font-normal);
        @include margin-bottom($margin-l);
        font-size: $font-baseline;
    }

    small {
        @include line-height($line-height-body, $font-baseline);
        @include margin-bottom($margin-md);
        font-size: $font-baseline;
    }

    ol,
    ul {
        @include margin-bottom($margin-sm);
        font-size: $font-baseline;
        li {
            font-size: $font-baseline;
        }
    }

    ul {
        li {
            &::before {
                @include margin-right($margin-sm);
                display: inline-block;
                color: $color-tundora;
                font-size: $bullet-size;
                content: '\2022';
            }
        }

        ul {
            li {
                &::before {
                    display: inline-block;
                    color: $color-tundora;
                    font-size: $bullet-size;
                    content: '\2022';
                }
            }
        }
    }

    ol {
        counter-reset: section;
        list-style-type: none;
        li {
            &::before {
                @include margin-right($margin-sm);
                content: counters(section, '.') ' ';
                counter-increment: section;
            }
        }
    }

    ol ol,
    ul ul {
        li {
            &::before  {
                @include margin-right($margin-m);
            }
        }
    }


    ul > li > ul,
    ol > li > ol {
        @include padding-top($padding-xs);
        @include margin-bottom(0);
    }

    ul > li > ul {
        @include padding-left($padding-m);
    }

    ol > li > ol {
        @include padding-left($padding-l);
    }

    ul li,
    ol li {
        @include padding-bottom($padding-md);
        &::before {
            color: $color-tundora;
        }
    }

    ul ul ul {
        li {
            @include padding-left($padding-xs);
            @include line-height($line-height-body, $font-m-sm);

            &::before {
                content: '\2012';
                font-weight: 400;
            }
        }
    }

    ol ol ol {
        @include padding-left($padding-xxl);
        li {
            @include padding-bottom(8px);
        }
    }

    table {
        @media #{$mobile} {
            @include margin-bottom($margin-l);
        }
        @include margin-bottom($margin-xxxl);
        display: block;
        border-collapse: collapse;
        overflow-x: auto;
        width: 100%;

        // sass-lint:disable no-vendor-prefixes
        &::-webkit-scrollbar {
            -webkit-appearance: none;
            &:horizontal {
                height: 11px;
            }
        }

        // sass-lint:disable no-vendor-prefixes
        &::-webkit-scrollbar-thumb {
            border: 2px solid $color-white;
            border-radius: 8px;
            background-color: $color-light-gray;
        }

        // sass-lint:disable no-vendor-prefixes
        &::-webkit-scrollbar-track {
            background-color: $color-white;
            border-radius: 8px;
        }

        tbody {
            display: table;
            width: 100%;

            @media #{$mobile} {
                width: $table-max-width;
            }
        }

        tr {
            &:first-child {
                @include line-height($line-height-body, $font-m-sm);
                font-size: $font-m-sm;
                border-bottom: solid 1px rgba($color-black, $alpha-s);
            }

            &:not(:first-child) {
                @include line-height($line-height-medium, $font-sm);
                font-size: $font-sm;
                border-bottom: 1px solid;
                border-bottom-color: rgba($color-black, $alpha-p);
            }
        }

        th {
            @include padding-bottom(7px);
            font-weight: 500;
        }

        td {
            @include padding-bottom(10px);
        }

        td,
        th {
            @include padding-left(8px);
            @include padding-top(9px);
            white-space: pre-wrap;
        }
    }

    @media #{$desktop} {
        &.tp-pw-richText-container {
            @include margin-top(0);
            @include margin-left($margin-xxxl);
            @include margin-right($margin-xxxl);
            @include padding($padding-xxxl);
        }
        h1 {
            @include line-height($line-height-header-l, $font-xxl);
            font-size: $font-xl;
        }
        h2 {
            @include line-height($line-height-header-m, $font-xl);
            font-size: $font-xl;
        }
        h3 {
            @include line-height($line-height-header-s, $font-l);
            font-size: $font-l;
            font-weight: normal;
        }
        h4 {
            @include line-height($line-height-body, $font-md);
            font-size: $font-md;
        }
        p {
            @include line-height($line-height-body, $font-baseline);
            @include margin-bottom($margin-l);
            font-size: $font-baseline;
        }

        small {
            @include line-height($line-height-medium, $font-sm);
            @include margin-bottom($margin-l);
            font-size: $font-sm;
        }

        ol,
        ul {
            @include margin-bottom($margin-l);
        }
    }
}
