<sly data-sly-template.navigation_template="${@data, navigationTypeSticky, flag,sectionId,mainHeader}">
  <div auto-locator="SectionMenuContainer" data-selected-header="${data.pageHierarchy && data.pageHierarchy['l1']}"
    class="${ navigationTypeSticky ? 'd-lg-block sticky' :''} js-pw-navigation pw-navigation" aria-hidden="true"
    aria-expanded="false" data-module="Navigation">
    <hr class="hr-display" />
    <a auto-locator="m_StickySectionMenuLink-m_StickySectionMenuPadding" class="d-lg-none collapse-button collapsed" data-toggle="collapse" href="#sectionMenuCollapse_${sectionId}" role="button"
      aria-expanded="false" aria-controls="sectionMenuCollapse">${data.pageHierarchy['l1'] == data.solutionPageTitle ?
      data.pageHierarchy['l2'] :
      data.pageHierarchy['l1']}
      <i auto-locator="ArrowIconsSectionMenu-ArrowIconsSectionMenuPadding"
        class="icon without-arrow icon-Navigation_Right_pw ${iconClass}"></i>
    </a>
    <div id="sectionMenuCollapse_${sectionId}" auto-locator="SectionMenuPaddingMargin"
      class='tp-container js-pw-navigation__container pw-navigation__container d-lg-block collapse'>
      <div class='row'>
        <sly data-sly-test="${data.sectionHomePageTitle}">
          <div auto-locator="L2OverViewLinkPadding" class="section-link-home"><a auto-locator="L2OverViewLinkFontStyle"
              target="_self" href="${data.sectionHomePagePath}">${data.sectionHomePageTitle}</a>
          </div>
        </sly>
        <div class='col-lg-12'>
          <ul class="list-section-menu-links" id="sectionMenuCollapseWrapper_${sectionId}"
            data-sly-list.linkSection=${data.sectionMenu}>
            <li class='pw-mobile-navigation-section-list' auto-locator="SectionMenuLinksMargin">
              <sly data-sly-use.sectionItem="/apps/publicweb/components/content/sectionMenu/sectionMenu-template.html"
                data-sly-call="${sectionItem.sectionMenu_template @ data=linkSection, selectedL2=data.pageHierarchy['l2'],selectedL3=data.pageHierarchy['l3'],selectedL4=data.pageHierarchy['l4'], linkUrl=linkSection.linkPath, parentLink='Solution', linkText=linkSection.linkText,linkSectionListIndex=linkSectionList.index,sectionId=sectionId,l1=data.pageHierarchy['l1'],mainHeader=mainHeader,navigationTypeSticky=navigationTypeSticky,leftTitle=data.sectionHomePageTitle,solutionPageTitle=data.solutionPageTitle}">
              </sly>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</sly>
