<sly data-sly-template.navigation_template="${@data, navigationTypeSticky, flag}">
  <div auto-locator="SectionMenuContainer" data-selected-header="${data.pageHierarchy && data.pageHierarchy.l1}"
    class="${ navigationTypeSticky ? 'd-lg-block sticky' :''} js-pw-navigation pw-navigation" aria-hidden="true" aria-expanded="false"
    data-module="Navigation">
    <hr class="hr-display" />
    <div auto-locator="SectionMenuPaddingMargin" class='tp-container pw-navigation__container'>
      <div class='row'>
        <div auto-locator="L2OverViewLinkPadding" class="section-link-home"><a auto-locator="L2OverViewLinkFontStyle" target="_self" href="${data.sectionHomePagePath}">${data.sectionHomePageTitle}</a></div>
        <div class='col-lg-12'>
          <ul class="d-flex list-section-menu-links justify-content-center"
            data-sly-list.linkSection=${data.sectionMenu}>
            <li auto-locator="SectionMenuLinksMargin">
              <sly data-sly-use.sectionItem="/apps/publicweb/components/content/sectionMenu/sectionMenu-template.html"
                data-sly-call="${sectionItem.sectionMenu_template @ data=linkSection, selectedL2=data.pageHierarchy && data.pageHierarchy.l2,selectedL3=data.pageHierarchy && data.pageHierarchy.l3, linkUrl=linkSection.linkPath, parentLink='Solution', linkText=linkSection.linkText}">
              </sly>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</sly>
