<sly data-sly-template.navigation_template="${@data, flag}">
  <div class="pw-navigation" aria-hidden="true" aria-expanded="false" data-module="Navigation">
    <hr class="d-none d-lg-block" />
    <div class='tp-container pw-navigation__container'>
      <div class='row'>
        <div class='col-lg-2'><a href="${data.sectionHomePagePath}">${data.sectionHomePageTitle}</a></div>
        <div class='col-lg-10'>
          <ul class="d-flex list-section-menu-links justify-content-center" data-sly-list.linkSection=${data.sectionMenuMap}>
            <li>
              <sly
                data-sly-use.sectionItem="/apps/publicweb/components/content/sectionMenu/sectionMenu-template.html"
                data-sly-call="${sectionItem.sectionMenu_template @ data=linkSection, linkUrl=linkSection.linkPath, parentLink='Solution', linkText=linkSection.linkText}">
              </sly>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</sly>
