.tp-error {
    &__heading {
        @include margin-bottom($margin-md);
        color: $color-text;
    }

    &__code {
        @include margin-bottom($margin-md);
        color: $color-text;
        font-family: $font-monsterrat;
        font-weight: 700;
    }

    &__description {
        @include margin-bottom($margin-md);
        color: $color-text;
        font-family: $font-monsterrat;
        font-weight: 700;
    }
}
