.tp-error {
    &__heading {
        @include margin-bottom($margin-l);
        color: $color-text;
    }

    &__code {
        @include margin-bottom($margin-l);
        color: $color-text;
        font-family: $font-semi-bold;
    }

    &__des {
        color: $color-text;
        font-family: $font-semi-bold;
    }

    &__img {
        display: none;

        @media #{$desktop} {
            display: block;
        }
    }
}
