<sly data-sly-template.title_template="${@ data, flag}"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
  <div class="pw-title">
    
    <sly data-sly-test.h4="${data.headingType == 'h4'}">
      <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
           data-sly-call="${heading.heading_h4_template @ headingText=data.titleText, variant=data.headingFontSize}"/>
    </sly>
    
    <sly data-sly-test.h3="${!h4 && data.headingType == 'h3'}">
      <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
           data-sly-call="${heading.heading_h3_template @ headingText=data.titleText, variant=data.headingFontSize}"/>
    </sly>
    
    <sly data-sly-test.h2="${!h4 && !h3 && data.headingType == 'h2'}">
      <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
           data-sly-call="${heading.heading_h2_template @ headingText=data.titleText, variant=data.headingFontSize}"/>
    </sly>
    
    <sly data-sly-test="${!h4 && !h3 && !h2}">
      <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
           data-sly-call="${heading.heading_h1_template @ headingText=data.titleText, variant=data.headingFontSize}"/>
    </sly>
    
  </div>
</sly>