# Configuration created by Apache Sling JCR Installer
htmllibmanager.disable.replacement=[""]
htmllibmanager.debug.console=B"false"
htmllibmanager.path.list=["/apps","/libs","/etc"]
htmllibmanager.maxDataUriSize=L"0"
htmllibmanager.useFileSystemOutputCache=B"true"
htmllibmanager.timing=B"false"
htmllibmanager.clientmanager="granite.clientlibrarymanager"
htmllibmanager.firebuglite.path="/libs/granite/ui/content/firebug-lite/source/firebug-lite.js#startOpened\=true"
htmllibmanager.maxage=L"-1"
htmllibmanager.debug=B"false"
htmllibmanager.forceCQUrlInfo=B"false"
htmllibmanager.processor.css=["min:yui"]
htmllibmanager.minify=B"true"
htmllibmanager.debug.init.js="window.CQ_initial_log_level\='INFO';"
htmllibmanager.excluded.path.list=["/etc/commerce/classifications","/etc/commerce/collections","/etc/commerce/payment-methods","/etc/commerce/products","/etc/commerce/shipping-methods","/etc/reports/auditreport","/etc/reports/compreport","/etc/segmentation","/etc/taskmanagement","/etc/workflow/instances"]
htmllibmanager.processor.js=["min:yui"]
htmllibmanager.defaultthemename="default"
htmllibmanager.defaultuserthemename="default"
htmllibmanager.gzip=B"true"
htmllibmanager.longcache.format="lc-%s-lc"
htmllibmanager.longcache.patterns=[""]
