.tp-header {
    @include height(88px);
    @include padding($padding-xl $padding-md);
    @include margin-bottom($margin-l);
    @include font-size(14px);
    display: flex;
    color: $color-congress-blue;
    align-items: center;
    background-color: $color-white;
    font-family: $font-monsterrat;
    $shadow: rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 $shadow;
    font-weight: 700;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: $zindex-header;

    @media #{$desktop} {
        @include padding($padding-l);
    }

    &__logo {
        display: flex;
        flex: 1;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
    }

    &__link {
        height: 100%;
        & img {
            height: auto;
            min-width: 156px;
            width: 156px;
        }
    }

    &__nav {
        display: none;

        @media #{$desktop} {
            @include padding-top($padding-sm);
            @include padding-bottom($padding-sm);
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;

            & ul {
                display: flex;
            }
        }

    }

    &__list {
        @include padding-right($padding-l);
        @include padding-left($padding-l);
        display: inline-block;
        white-space: nowrap;
    }

    &__links {
        @include line-height(24px, $font-baseline);
        color: $color-congress-blue;
        font-family: $font-monsterrat;
        font-weight: 700;

        &:hover {
            color: $color-text;
            text-decoration: none;
        }
    }

    &__nav-right {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
    }

    &__user {
        display: none;

        @media #{$desktop} {
            @include padding-right($padding-md);
            display: flex;
        }
        &:hover {
            color: $color-sky-blue;
            &::before {
                color: $color-sky-blue;
            }
        }

        &::before {
            @include font-size($font-normal);
            @include padding-right(3px);
            color: $color-congress-blue;
        }
    }

    &__bell {
        @include padding-left($padding-md);
        @include padding-right(0);
        border: 0;
        position: relative;
        background: transparent;
        outline: 0;
        cursor: pointer;

        &::before {
            @include font-size($font-normal);
            color: $color-congress-blue;
        }
    }

    &__burger-menu {
        @include font-size($font-normal);
        @include margin-right($margin-sm);
        color: $color-congress-blue;

        @media #{$desktop} {
            display: none;
        }
    }

    &__selected-lang {
        @include padding-right($padding-sm);
        color: $color-congress-blue;
        position: relative;
        &:hover {
            color: $color-sky-blue;
            .icon-Chevron_Down {
                &::before {
                    color: $color-sky-blue;
                }
            }
        }
        &-label {
            @include padding-right($padding-xs);
        }

        .icon-Chevron_Down {
            @include font-size($font-xxs);
            color: $color-tundora;
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            right: 0;

            @media #{$desktop} {
                @include right($padding-l);
            }
        }

        @media #{$desktop} {
            @include padding-right($padding-xl);
        }

        @media #{$mobile} {
            @include text-overflow-ellipsis;
            max-width: 31.25vw;
        }
    }
}