.tp-header {
    @include height(88px);
    @include padding-left($padding-md);
    @include padding-right($padding-md);
    @include padding-top($padding-xl);
    @include margin-bottom($margin-l);
    @include font-size(14px);
    color: $color-congress-blue;
    background-color: $color-white;
    font-family: $font-extra-bold;
    $shadow: rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px 0 $shadow;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $zindex-header;

    @media #{$desktop} {
        @include padding-left($padding-l);
        @include padding-right($padding-l);
    }

    &__logo {
        @include width(156px);
        @include top(30px);
        @include left(36px);
        position: absolute;

        @media #{$desktop} {
            @include left(32px);
        }
    }

    &__link {
        max-width: 100%;
    }

    &__nav {
        display: none;
        text-align: center;

        @media #{$desktop} {
            display: block;
        }
    }

    &__list {
        @include padding-right($padding-l);
        @include padding-left($padding-l);
        display: inline-block;
    }

    &__links {
        @include line-height(24px, $font-baseline);
        color: $color-congress-blue;
        font-family: $font-extra-bold;

        &:hover {
            color: $color-text;
            text-decoration: none;
        }
    }

    &__nav-right {
        @include padding-left($padding-xxxl);
        @include line-height(24px, $font-baseline);
        @include top(32px);
        @include right(24px);
        text-align: right;
        position: absolute;
    }

    &__notif {
        @include font-size($font-xs);
        @include top(-8px);
        @include right(-8px);
        @include width(16px);
        @include height(16px);
        color: $color-white;
        background-color: $color-alert;
        text-align: center;
        position: absolute;
        border-radius: 50%;
    }

    &__user {
        display: none;

        @media #{$desktop} {
            @include padding-right($padding-md);
            display: inline-block;
        }

        &::before {
            @include font-size($font-normal);
            @include padding-right(3px);
            color: $color-congress-blue;
        }
    }

    &__bell {
        @include padding-left($padding-md);
        @include padding-right(0);
        border: 0;
        position: relative;
        background: transparent;
        outline: 0;
        cursor: pointer;

        &::before {
            @include font-size($font-normal);
            color: $color-congress-blue;
        }
    }

    &__burger-menu {
        @include font-size($font-normal);
        color: $color-congress-blue;

        @media #{$desktop} {
            display: none;
        }
    }
}
