<sly data-sly-template.header_template="${@ data, langData, cookie, flag}">
    <header class="tp-header" data-module="Header">
        <span class="tp-header__burger-menu icon-Burger"></span>
        <sly data-sly-test="${data.logoUrl}">
          <div class="tp-header__logo">
            <a href="${data.dLogoLink}" class="d-none d-md-inline-block tp-header__link">
              <img src="${data.logoUrl}" alt="${data.logoTextI18n @i18n}" />
            </a>
            <!--/*logo for mobile  */-->
            <a href="${data.mLogoLink}" class="d-md-none tp-header__link">
              <img src="${data.logoUrl}" alt="${data.logoTextI18n @i18n}" />
            </a>
          </div>
        </sly>
        <sly data-sly-test="${data.headerNavLinks}">
          <nav class="tp-header__nav">
            <ul>
            <sly data-sly-list.headerLinks="${data.headerNavLinks}">
                <li class="tp-header__list">
                  <a class="tp-header__links" href="${headerLinks.href}" target="${headerLinks.targetNew ? '_blank' : ''}">${headerLinks.name}</a>
                </li>
            </sly>
            </ul>
          </nav>
      </sly>
      <sly data-sly-test="${data.rightNavDisplay}">
        <div class="tp-header__nav-right">
          <span class="tp-header__user icon-Avatar">
              <sly data-sly-test="${wcmmode.edit || wcmmode.design}">${data.getUserInfoI18n}</sly>
              <sly data-sly-test="${cookie.userName}">${cookie.userName}</sly>
          </span>
          <span class="tp-header__selected-lang d-inline-block js-header__selected-lang">
              <i class="icon icon-Globe"></i>
              <sly data-sly-test.selectedLanguage="${langData.selectedLanguage ? langData.selectedLanguage : 'en'}" />
              <p class="tp-header__selected-lang-label d-inline semibold">${selectedLanguage @i18n}</p>
              <i class="icon icon-Chevron_Down"></i>
          </span>
        </div>
      </sly>
      <sly data-sly-use.languageselector="/apps/customerhub/components/content/languageselector/languageselector-template.html"
         data-sly-call="${languageselector.languageselector_template @data=langData}" />
    </header>
</sly>
