<sly data-sly-template.header_template="${@ data, flag}">
    <header class="tp-header">
        <i class="tp-header__burger-menu icon-Burger_Menu"></i>
        <div class="tp-header__logo">
            <img src="${data.logoUrl}" alt="${data.logoTextI18n @i18n}" />
        </div>
        <nav class="tp-header__nav">
          <ul>
          <sly data-sly-list.headerLinks="${data.HeaderNavLinks}">            
              <li class="tp-header__list">
                <a class="tp-header__links" href="${headerLinks.href}">${headerLinks.name}</a> 
              </li>
          </sly>
          </ul>
        </nav>
        <div class="tp-header__nav-right">
          <span class="tp-header__user icon-Avatar">${data.getUserInfoI18n}</span>
          <button type="button" class="tp-header__bell icon-Bell"><label class="tp-header__notif">2</label></button>
        </div>        
    </header>
</sly>