externalizer.contextpath=""
externalizer.domains=[ \
  "local\ http://localhost:4502", \
  "author\ http://localhost:4502", \
  "publish\ http://localhost:4503", \
  "publicweb\ https://tetrapak-stage64a.adobecqms.net", \
  "tetralaval\ https://www-stage.tetralaval.com", \
  "design-system\ https://design-stage.tetrapak.com", \
  ]
externalizer.encodedpath=B"false"
externalizer.host=""