{{# imageText_molecule }}
<div class="tp_imageText">

    <div class="row">
        <div class="col-md-12 tp_imageText-imgCol">
            {{> atoms-module-img }}
        </div>
        <div class="col-md-12 tp_imageText-contentCol">
            {{# content }}
                <h3 class="tp_imageText-title">{{ title }}</h3>
                <p>{{ text }}</p>
                {{> atoms-button-primary }}
            {{/ content }}
        </div>
    </div>

</div>
{{/ imageText_molecule }}
