<ul class="sg-colors">
	<li>
		<span class="sg-swatch tp_color-white"></span>
		<span class="sg-label">
            $color-white <br />
            #ffffff<br />
            class: tp_color-white
        </span>
	</li>
	<li>
		<span class="sg-swatch tp_color-black"></span>
		<span class="sg-label">
			$color-black <br />
			#000000<br />
            class: tp_color-black
		</span>
	</li>
	<li>
		<span class="sg-swatch tp_color-mine-shaft"></span>
		<span class="sg-label">
			$color-mine-shaft <br />
			#333333<br />
            class: tp_color-mine-shaft
		</span>
	</li>
    <li>
		<span class="sg-swatch tp_color-tundora"></span>
		<span class="sg-label">
			$color-tundora <br />
			#4a4a4a<br />
            class: tp_color-tundora
		</span>
	</li>
	<li>
		<span class="sg-swatch tp_color-boulder"></span>
		<span class="sg-label">
			$color-boulder <br />
			#777777<br />
            class: tp_color-boulder
		</span>
	</li>
	<li>
		<span class="sg-swatch tp_color-mercury"></span>
		<span class="sg-label">
			$color-mercury <br />
			#e5e5e5<br />
            class: tp_color-mercury
		</span>
	</li>
    <li>
		<span class="sg-swatch tp_color-wild-sand"></span>
		<span class="sg-label">
			$color-wild-sand <br />
			#f6f6f6<br />
            class: tp_color-wild-sand
		</span>
	</li>
</ul>
