<ul class="sg-colors">
	<li>
		<span class="sg-swatch tp_color-alert"></span>
		<span class="sg-label">
            $color-alert <br />
            #ff4d4d<br />
            class: tp_color-alert
        </span>
	</li>
	<li>
		<span class="sg-swatch tp_color-warning"></span>
		<span class="sg-label">
			$color-warning <br />
			#ffa61d<br />
            class: tp_color-warning
		</span>
	</li>
	<li>
		<span class="sg-swatch tp_color-success"></span>
		<span class="sg-label">
			$color-success <br />
			#4fa54b<br />
            class: tp_color-success
		</span>
	</li>
</ul>
