// Atom scss imports goes here
@import '../../../../templates/atoms/title/title';
@import '~tpCommon/templates/atoms/closeButton/closeButton';
@import '~tpCommon/templates/atoms/nextButton/nextButton';
@import '~tpCommon/templates-hbs/atoms/dot/dot';
@import '~tpCommon/templates-hbs/atoms/buttons/button/button';
