// Components or organisms scss import goes here
@import '../../../../templates/components/header/header';
@import '../../../../templates/components/leftnavigation/leftNavigation';
@import '../../../../templates/components/pagination/pagination';
@import '../../../../templates/components/getstarted/getstarted';
@import '../../../../templates/components/textvideo/textvideo';
@import '../../../../templates/components/financialstatement/financialstatement';
@import '../../../../templates/components/financialsstatementsummary/financialsStatementSummary';
@import '../../../../templates/components/error/error';
@import '../../../../templates/components/listcontentimage/listContentImage';
@import '../../../../templates/components/tabslist/TabsList';
@import '../../../../templates/components/cookieconsent/cookieConsent';
