// Components or organisms scss import goes here
@import '../../../../templates/components/OrderStatus/OrderStatus';
@import '../../../../templates/components/introscreen/introscreen';
@import '../../../../templates/components/getstarted/getstarted';
@import '../../../../templates/components/header/header';
@import '../../../../templates/components/SideNavigation/SideNavigation';
@import '../../../../templates/components/orderSearch/orderSearch';