// Components or organisms scss import goes here
@import '../../../../templates/components/header/header';
@import '../../../../templates/components/leftnavigation/leftNavigation';
@import '../../../../templates/components/pagination/pagination';
@import '../../../../templates/components/getstarted/getstarted';
@import '../../../../templates/components/textvideo/textvideo';
@import '../../../../templates/components/financialstatement/financialstatement';
@import '../../../../templates/components/financialsstatementsummary/financialsStatementSummary';
@import '../../../../templates/components/error/error';
@import '../../../../templates/components/tabslist/TabsList';
@import '../../../../templates/components/cookieconsent/cookieConsent';
@import '../../../../templates/components/languageselector/languageSelector';
@import '../../../../templates/components/inactivitydialog/inactivityDialog';
@import '../../../../templates/components/contactcard/contactCard';
@import '../../../../templates/components/contacts/contacts';
@import '../../../../templates/components/orderingcard/orderingCard';
@import '../../../../templates/components/ordersearch/orderSearch';
@import '../../../../templates/components/orderdetails/orderDetails';
