// Components or organisms scss import goes here
@import '../../../../templates/components/introscreen/introscreen';
@import '../../../../templates/components/getstarted/getstarted';
@import '../../../../templates/components/header/header';
@import '../../../../templates/components/leftnavigation/leftNavigation';
@import '../../../../templates/components/orderingcard/orderingCard';
@import '../../../../templates/components/ordersearch/orderSearch';
@import '../../../../templates/components/pagination/pagination';
@import '../../../../templates/components/financialstatement/financialstatement';
@import '../../../../templates/components/financialsstatementsummary/financialsStatementSummary';
@import '../../../../templates/components/orderdetails/orderDetails';
@import '../../../../templates/components/tabs/tabs';
@import '../../../../templates/components/maintenance/maintenanceFiltering';
