// Components or organisms scss import goes here
@import '../../../../templates/components/header/header';
@import '../../../../templates/components/leftnavigation/leftNavigation';
@import '../../../../templates/components/pagination/pagination';
@import '../../../../templates/components/getstarted/getstarted';
@import '../../../../templates/components/textvideo/textvideo';
@import '../../../../templates/components/financialstatement/financialstatement';
@import '../../../../templates/components/financialsstatementsummary/financialsStatementSummary';
@import '../../../../templates/components/error/error';
@import '../../../../templates/components/tabslist/TabsList';
@import '../../../../templates/components/cookieconsent/cookieConsent';
@import '../../../../templates/components/languageselector/languageSelector';
@import '../../../../templates/components/inactivitydialog/inactivityDialog';
@import '../../../../templates/components/contactcard/contactCard';
@import '../../../../templates/components/contacts/contacts';
@import '../../../../templates/components/orderingcard/orderingCard';
@import '../../../../templates/components/ordersearch/orderSearch';
@import '../../../../templates/components/orderdetails/orderDetails';
@import '../../../../templates/components/introscreen/introscreen';
@import '../../../../templates/components/documents/documents';
@import '../../../../templates/components/maintenance/maintenanceFiltering';
@import '../../../../templates/components/maintenancecard/maintenanceCard';
@import '../../../../templates/components/tabs/tabs';
@import '../../../../templates/components/myequipment/myEquipment';
@import '../../../../templates/components/softwaredownloadcenter/softwareDownloadCenter';
@import '../../../../templates/components/equipmentdetails/equipmentdetails';
@import '../../../../templates/components/addequipment/addEquipment';
@import '../../../../templates/components/cotssupport/cotsSupport';
@import '../../../../templates/components/plantmastertrainings/plantmastertrainings';
@import '../../../../templates/components/plantmasterlicenses/plantmasterlicenses';
@import '../../../../templates/components/richtext/richText';
@import '../../../../templates/components/teaser/teaser';
@import '../../../../templates/components/fullbleedimage/fullbleedimage';
@import '../../../../templates/components/mediaLink/mediaLink';
@import '../../../../templates/components/textImage/textImage';
@import '../../../../templates/components/breadcrumb/breadcrumb';
@import '../../../../templates/components/banner/banner';
@import '../../../../templates/components/anchor/anchor';
@import '../../../../templates/components/keylines/keylines';
@import '../../../../templates/components/technicalpublications/technicalpublications';
@import '../../../../templates/components/rebuildingkits/rebuildingkits';
@import '../../../../templates/components/rebuildingkitdetails/rebuildingkitdetails';
@import '../../../../templates/components/rkliabilityconditions/rkliabilityconditions';
@import '../../../../templates/components/footer/footer';
