.pw-chatbotAnchor-wrapper {
    @include right($margin-sm);
    @include bottom($margin-sm);
    position: fixed;
    z-index: 2;

    @media #{$desktop} {
        @include right($margin-l);
        @include bottom($margin-l);
    }
    .pw-chatbotAnchor {
        color: $color-white;
        background-color: $color-congress-blue;
        border-radius: 100%;
        opacity: 1;
        pointer-events: visible;
        transition: opacity 0.3s ease;
        width: 64px;
        height: 64px;
        .icon-Envolopeup_pw {
            &::before {
                @include font-size($font-l);
                @include padding(20px 0 0 20px);
                font-size: 24px;
                line-height: 24px;
                height: 24px;
            }
        }
        &:hover {
            color: $color-mercury;
        }

        &.fade-out {
            cursor: default;
            opacity: 0;
            pointer-events: none;
        }
    }
}