<sly data-sly-template.plantmasterlicenses_template="${@data, flag}">
    <div class="tp-card tp-aip tp-aip-licenses"
         data-sly-test="${data.isPublishEnvironment}"
         data-src_isPublishEnvironment="${data.isPublishEnvironment @ context='text'}"
         data-engineeringLicense-api="${data.engineeringLicenseApiUrl}"
         data-siteLicense-api="${data.siteLicenseApiUrl}"
         data-activeLicense-api="${data.activeLicenseApiUrl}"
         data-submit-api="${data.emailApiUrl}"
         data-module="PlantMasterLicenses"
         data-group-servlet-url="${data.groupServletUrl}">

        <code class="d-none js-aip-licenses__config">${data.i18nKeys}</code>

        <div class="tp-spinner js-tp-spinner">
            <sly data-sly-use.loading="/apps/customerhub/components/atoms/loader/loader-template.html" data-sly-call="${loading.loader_template}" />
        </div>

        <div class="js-aip-licenses__wrapper d-none">
            <div class="tp-aip__header-wrapper">
                <h2 class="tp-aip__heading">
                    ${data.heading @i18n}
                </h2>
            </div>
			<p>${data.subTitle @ i18n}</p>
			
            <nav class="tp-aip__nav">
                <div class="nav nav-tabs tp-aip__nav-tabs" role="tablist">
                    <a class="tp-aip__nav-link nav-item nav-link active" id="nav-engineering-licenses-tab" data-toggle="tab" href="#nav-engineering-licenses" role="tab" aria-controls="nav-engineering-licenses" aria-selected="true">${data.i18nKeysMap.engineeringLicense.title @ i18n}</a>
                    <a class="tp-aip__nav-link nav-item nav-link d-none" id="nav-site-licenses-tab" data-toggle="tab" href="#nav-site-licenses" role="tab" aria-controls="nav-site-licenses" aria-selected="false">${data.i18nKeysMap.siteLicense.title @ i18n}</a>
                    <a class="tp-aip__nav-link nav-item nav-link" id="nav-active-licenses-tab" data-toggle="tab" href="#nav-active-licenses" role="tab" aria-controls="nav-active-licenses" aria-selected="false">${data.i18nKeysMap.activeLicense.title @ i18n}</a>
                </div>
            </nav>

            <div class="tp-aip__tab-content tab-content js-aip-licenses__contentWrapper">
                <div class="tab-pane fade show active js-tp-aip-licenses__eng" id="nav-engineering-licenses" role="tabpanel" aria-labelledby="nav-engineering-licenses-tab">
                    <sly data-sly-use.engineering="/apps/customerhub/components/content/plantmasterlicenses/plantmasterlicenses-engineering-template.html"
                         data-sly-call="${engineering.plantmasterlicenses_engineering_template @ data=data.i18nKeysMap.engineeringLicense}" />
                </div>

                <div class="tab-pane fade tp-aip-licenses__site js-tp-aip-licenses__site" id="nav-site-licenses" role="tabpanel" aria-labelledby="nav-site-licenses-tab">
                    <sly data-sly-use.site="/apps/customerhub/components/content/plantmasterlicenses/plantmasterlicenses-site-template.html"
                         data-sly-call="${site.plantmasterlicenses_site_template @ data=data.i18nKeysMap.siteLicense}" />
                </div>

                <div class="tab-pane fade tp-aip-licenses__site js-tp-aip-licenses__active" id="nav-active-licenses" role="tabpanel" aria-labelledby="nav-active-licenses-tab">
                    <sly data-sly-use.active="/apps/customerhub/components/content/plantmasterlicenses/plantmasterlicenses-active-template.html"
                         data-sly-call="${active.plantmasterlicenses_active_template @ data=data.i18nKeysMap.activeLicense}" />
                </div>
            </div>
        </div>
    </div>
</sly>