.tp-contacts {

    &__filtering-heading,
    &__filter {
        @include margin-bottom($margin-md);
    }

    &__listing {
        &__contacts {
            @media #{$desktop} {
                border-top: 2px solid $color-mercury;
            }

            &-cell {
                @include padding($padding-md $padding-zero);
                border-top: 2px solid $color-mercury;

                @media #{$desktop} {
                    @include margin($margin-l $margin-zero);
                    @include padding($padding-zero);
                    border-right: 1px solid $color-mercury;
                    border-top: 0;

                    &:last-child {
                        border-right: 0;
                    }
                }
            }

            &-icon {
                @include margin-bottom($margin-md);
                @include font-size($font-xl);
                @include width(64px);
                @include height(64px);
                display: inline-block;
                position: relative;
                border: 1px solid $color-mercury;
                background-color: $color-white;
                border-radius: 50%;
                color: $color-congress-blue;

                &>i {
                    position: absolute;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

                @media #{$desktop} {
                    @include font-size($font-xxxl);
                    @include width(128px);
                    @include height(128px);
                }
            }

            &-name {
                font-family: $font-extra-bold;
                font-size: $font-normal;
            }
        }

    }
}
