.tp-contacts {

    &__filtering-heading,
    &__filter {
        @include margin-bottom($margin-md);
    }

    &__container {
        @media #{$desktop} {
            border-top: 1px solid $color-mercury;
        }
    }

    &__cell {
        @include padding($padding-md $padding-zero);
        border-top: 1px solid $color-mercury;

        @media #{$desktop} {
            @include margin($margin-l 0);
            @include padding($padding-zero);
            border-right: 1px solid $color-mercury;
            border-top: 0;

            &:last-child {
                border-right: 0;
            }
        }

        &-icon {
            @include margin-bottom($margin-md);
            @include font-size($font-xl);
            @include width(64px);
            @include height(64px);
            border: 1px solid $color-mercury;
            display: inline-block;
            color: $color-congress-blue;
            position: relative;
            background-color: $color-white;
            border-radius: 50%;

            &>i {
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            @media #{$desktop} {
                @include font-size($font-xxxl);
                @include width(128px);
                @include height(128px);
            }
        }

        &-name {
            font-family: $font-bold;
            font-size: $font-normal;
        }
    }

}
