.tpmol-table {
    &__sort {
        padding: 0;
        border: 0;
        cursor: pointer;
        background: transparent;
        span {
            @include margin-right(6px);
        }
        .icon::before {
            // icon placement
            @include font-size($font-sm);
            @include width($font-sm);
            @include height($font-sm/2);
            transition: transform 0.3s;
            vertical-align: middle;
        }
        &.desc {
            .icon::before {
                transform: rotate(180deg);
            }
        }
    }
    &__row[tabindex] {
        cursor: pointer;
    }
    &__cell {
        @include padding($padding-sm $padding-sm $padding-sm 0);
        @include font-size($font-sm);
        @include line-height(24px, $font-sm);
        border-bottom: 1px solid $color-mercury;
        &heading {
            @include padding($padding-sm $padding-l $padding-sm 0);
            @include font-size($font-baseline);
            @include line-height(24px, $font-baseline);
            border-bottom: 1px solid $color-boulder;
            font-family: $font;
            font-weight: normal;
            position: relative;
        }
    }
}
