<sly data-sly-template.image_template="${@data, flag}">
  <div class="tp-pw-image ${data.pwPadding}" data-module="Image">
    
    <sly data-sly-test = "${data.linkURL}">
        <sly data-sly-test = "${!wcmmode.edit}">
        <a class="js-tp-pw-image"href="${data.linkURL}" id="${data.anchorId}" title="${data.anchorTitle}" data-link-section="Image Click" data-link-parent-title="${data.alt}" data-link-name="not available">
            <sly data-sly-use.dynamicMediaImage="/apps/publicweb/components/content/dynamicMediaImage/dynamicMediaImage-template.html"
             data-sly-call="${dynamicMediaImage.dynamicMediaImage_template @imagePath=data.fileReference, altText=data.alt, className='img-responsive'}" >
        </sly>
        </a>
      </sly>
      <sly data-sly-test = "${wcmmode.edit}">
        <a class="js-tp-pw-image"href="${data.linkURL}" id="${data.anchorId}" title="${data.anchorTitle}" data-link-section="Image Click" data-link-parent-title="${data.alt}" data-link-name="not available">
            <img class="img-responsive" src="${data.fileReference}"  alt="${data.alt}"/> 
        </a>
      </sly>
    </sly>

    <sly data-sly-test = "${!data.linkURL}">        
        <sly data-sly-test = "${!wcmmode.edit}">
            <sly data-sly-use.dynamicMediaImage="/apps/publicweb/components/content/dynamicMediaImage/dynamicMediaImage-template.html"
                 data-sly-call="${dynamicMediaImage.dynamicMediaImage_template @imagePath=data.fileReference, altText=data.alt, className='img-responsive'}" >
            </sly>
          </sly>
          <sly data-sly-test = "${wcmmode.edit}">
                <img class="img-responsive" src="${data.fileReference}"  alt="${data.alt}"/> 
          </sly>
    </sly>
 </div>
</sly>
