<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="configure ${component.title}" class="cq-placeholder"></p>
    <sly data-sly-use.menu="com.tetrapak.publicweb.core.models.MegaMenuConfigurationModel">
        <b>End to end solution section</b><br/>
        Section title: ${menu.topSectionSubtitle}<br/>
        Section title URL: ${menu.topSectionUrl}<br/>
        <sly data-sly-list.solution="${menu.endToEndSolutionSection}">
            Image: ${solution.fileReference}<br/>
            Image alt text: ${solution.alt}<br/>
            Title: ${solution.title}<br/>
            Body text: ${solution.description}<br/>
            Path: ${solution.path @context = "uri"}<br/><br/>
        </sly>
        <b>Link section</b><br/>
        <sly data-sly-list.links="${menu.linkSection}">
            Link label: ${links.linkText}<br/>
            Link path: ${links.linkUrl}<br/><br/>
        </sly>
        <b>Food category section</b><br/>
        Section title: ${menu.bottomSectionSubtitle}<br/>
        Section title URL: ${menu.bottomSectionUrl}<br/>
        <sly data-sly-list.food="${menu.foodCategorySection}">
            Image: ${food.fileReference}<br/>
            Image alt text: ${food.alt}<br/>
            Title: ${food.title}<br/>
            Path: ${food.path @context = "uri"}<br/><br/>
        </sly>
        <b>Pseduo category section</b><br/>
         <sly data-sly-list.pseudoCategoryBean="${menu.pseudoCategoryList}">
            Pseudo Category Key: ${pseudoCategoryBean.pseudoCategoryKey}<br/>
            Pseudo Category Value: ${pseudoCategoryBean.pseudoCategoryValue}<br/>
        </sly>
    </sly>
</sly>