/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/
.tp_layout {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

// Customer Hub
.tp_layout-ch {
    margin: 92px $spacing-small-half $spacing-small;
    overflow: hidden;
    position: relative;

    @media #{$medium} {
        margin: 112px $spacing-big-half $spacing-big;
    }

    aside {
        display: none;

        @media #{$medium} {
            display: block;
            left: 0;
            position: fixed;
            width: 224px;
        }
    }

    main {
        display: block;
        margin: 0;
        width: 100%;

        @media #{$medium} {
            margin: 0 0 0 224px;
            width: calc(100% - 224px);
        }
    }
}

// Public Web
.tp_layout-pw {
    background: $color-wild-sand;
    padding-left: 0;
    padding-right: 0;
}
