.pw-text-image {
    @include border-radius($border-radius);
    @include margin-bottom($margin-xxxl);
    @include padding($padding-md);

    @media #{$desktop} {
        @include padding($padding-xxxl);
    }


    &--display-row {
        > .row {
            flex-direction: row;
        }
    }

    &--display-row-reversed {
        > .row {
            flex-direction: row-reverse;
        }
    }


    &__innerpadding {
        @include margin-top($margin-l);
        @include margin-bottom($margin-l);

        @media #{$desktop} {
            @include margin-top($margin-xxxl);
            @include margin-bottom($margin-xxxl);
        }
    }

    &__leftPad {
        @include padding-left($padding-md);
        @include padding-right($padding-md);

        @media #{$desktop} {
            @include padding-left($padding-xxxl);
            @include padding-right($padding-l);
        }
    }

    &__rightPad {
        @include padding-left($padding-md);
        @include padding-right($padding-md);

        @media #{$desktop} {
            @include padding-right($padding-xxxl);
            @include padding-left($padding-l);
        }
    }


    &__subTitle {
        @include margin-top($margin-l);
        @include margin-bottom($margin-xss);
        text-transform: $uppercase;
        @media #{$desktop} {
            @include margin-bottom($margin-xs);
            text-transform: $uppercase;
        }
    }

    &__title,
    &__description {
        @include margin-bottom($padding-md);

        @media #{$desktop} {
            @include margin-bottom($padding-l);
        }
    }

    &__description {
        @include font-size(16px);
        @include line-height(28px, 16px);
        @media #{$tablet} {
            @include font-size(14px);
            @include line-height(24px, 14px);
        }
    }

    &__link {
        @include margin-bottom($padding-md);
        @include padding($padding-zero);
        background-color: none;

        @media #{$desktop} {
            @include margin-bottom($margin-zero);
            @include padding($padding-zero);
            @include line-height(24px, 14px);
            background-color: none;
        }
    }

    &__image {
        width: 100%;
    }
}