.tp-teaser {
    @include padding($padding-l $padding-md);
    @include margin-top($margin-l);
    border-radius: $border-radius;

    @media #{$desktop} {
        @include padding($padding-l $padding-zero $padding-zero $padding-l);
    }

    &__heading {
        @include padding-bottom($padding-md);
        @media #{$desktop} {
            @include padding-bottom($padding-l);
            font-weight: 700;
        }
        h2,
        h3 {
            @include font-size($font-l);
            @include line-height($font-xl, $font-l);
            @media #{$desktop} {
                @include font-size($font-xl);
                line-height: 40px;
                font-weight: 700;
            }
        }
    }

    &__link {
        @include margin-left($margin-md);
        @include margin-bottom($margin-md);

        @media #{$desktop} {
            @include margin-left($margin-l);
            @include margin-bottom($margin-l);
        }
    }

    &__description {
        @include margin-bottom($margin-l);
        padding: 0;
    }
    
    &__details {
        &__details.row {
            @media #{$desktop} {
                @include margin-left($margin-zero);
                @include margin-right($margin-zero);
            }
        }

        h5 {
            @include font-size($font-baseline);
            @include line-height($font-l, $font-baseline);
            font-weight: 700;
        }
        ul {
            li {
                display: flex;
                &::before {
                    @include margin-right($margin-sm);
                    display: inline-block;
                    color: $color-tundora;
                    content: '\2022';
                }
            }
        }
        img {
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }
        .teaserMargin {
            @include margin-bottom($margin-xxxl);
            @media #{$desktop} {
                @include margin-bottom($margin-xxxl);
                @include padding-right($margin-l);
            }
        }
        .teaserMarginL {
            &:last-child {
                @include margin-bottom($margin-l);
                @media #{$desktop} {
                    @include margin-bottom($margin-xxxl);
                }
            }
            @include margin-bottom($margin-xxxl);
            @media #{$desktop} {
                @include padding-left($margin-l);
                @include padding-right($margin-l);
            }
        }
        .teaserpad {
            @media #{$desktop} {
                @include padding-right($margin-l);
            }
        }
        .image {
            @include margin-top(0);
            @include margin-bottom($margin-md);
            width: 100%;
            border-radius: $border-radius;
            @media #{$desktop} {
                @include margin-top(0);
            }
        }
        .noTopPad {
            @include margin-top($margin-zero);
        }
        .tilte {
            @include margin-top($margin-zero);
            @include margin-bottom($margin-md);
            @include font-size($font-md);
            line-height: 24px;
            font-weight: 500;
        }
        .link {
            @include margin-top($margin-md);
            @include margin-bottom($margin-zero);

            .nowrap-text {
                @include margin-left($margin-sm);
            }

            .tpatom-link {
                font-weight: 500;
                i {
                    &::before {
                        font-size: $font-sm;
                    }
                }
            }
        }
        .teaser-image-link {
            width: 100%;
        }
    }

    &__seeAllLink {
        @include margin(0);
        border-top: 1px solid $color-mercury;
        a {
            @include margin-top($margin-l);
            @include margin-bottom(0);

            font-weight: 500;
        }

        .tpatom-link {
            i {
                &::before {
                    font-size: $font-sm;
                }
            }
        }

        @media #{$desktop} {
            @include margin(0 $margin-l);
            a {
                @include margin-bottom($margin-xxxl);
            }
        }
    }
}
