<sly data-sly-template.plantmastertrainings_template="${@data, flag}">
    <div class="tp-card tp-aip tp-aip-trainings"
         data-sly-test="${data.isPublishEnvironment}"
         data-trainings-api="${data.trainingDetailsApi}"
         data-learning-history-api="${data.learningHistoryApi}"
         data-submit-api="${data.componentPath}${data.componentPathExtension}"
         data-email="${data.userEmailAddress}"
         data-username="${data.userName}"
         data-src_isPublishEnvironment="${data.isPublishEnvironment @ context='text'}"
         data-module="PlantMasterTrainings"
         data-group-servlet-url="${data.groupServletUrl}">

        <code class="d-none js-aip-trainings__config">${data.i18nKeys}</code>

        <div class="tp-spinner js-tp-spinner">
            <sly data-sly-use.loading="/apps/customerhub/components/atoms/loader/loader-template.html" data-sly-call="${loading.loader_template}" />
        </div>

        <div class="js-aip-trainings__wrapper d-none">
            <div class="tp-aip__header-wrapper">
                <h1 class="tp-aip__heading">
                    ${"cuhu.plantmastertrainings.title" @i18n}
                </h1>
            </div>
			<p>${data.subTitle @ i18n}</p>
			
            <nav class="tp-aip__nav">
                <div class="nav nav-tabs tp-aip__nav-tabs" role="tablist">
                    <a class="tp-aip__nav-link nav-item nav-link active" id="nav-available-trainings-tab" data-toggle="tab" href="#nav-available-trainings" role="tab" aria-controls="nav-available-trainings" aria-selected="true">${"cuhu.plantmastertrainings.availableTrainings" @i18n}</a>
                    <a class="tp-aip__nav-link nav-item nav-link d-none" id="nav-learning-tab" data-toggle="tab" href="#nav-learning-history" role="tab" aria-controls="nav-learning-history" aria-selected="false">${"cuhu.plantmastertraining.lh.learningHistoryText" @i18n}</a>
                </div>
            </nav>

            <div class="tp-aip__tab-content tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-available-trainings" role="tabpanel" aria-labelledby="nav-available-trainings-tab">
                    <div class="js-aip-trainings__accordion"></div>
                </div>

                <div class="tab-pane fade" id="nav-learning-history" role="tabpanel" aria-labelledby="nav-learning-tab">
                    <div class="js-aip-trainings__accordion js-aip-trainings__accordion-learning"></div>
                </div>
            </div>
        </div>
    </div>
</sly>