.pw-carousel {
    $self: &;
    &__filters {
        #{ $self }__dropdown {
            &:first-child { //sass-lint:disable-line nesting-depth
                @include margin-right(0);
                @media #{$desktop} {
                    @include margin-right($margin-l);
                }
            }
        }
        #{ $self }__dropdown__menu {
            width: 100%;
        }
    }
}
