<sly data-sly-template.carouselwithfilters_template="${@ data, flag}"data-sly-use.templates="core/wcm/components/commons/v1/templates.html">

  <div class="pw-carousel pw-theme--${data.pwTheme} pw-padding--${data.pwPadding}" data-module="CarouselWithFilters" id="pw-carousel-${data.carouselId}">
    <div class="pw-carousel__title ${data.titleAlignment}">
      <sly data-sly-test="${data.titleI18n}" data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
      data-sly-call="${heading.heading_template @ headingText=data.titleI18n}"/>
    </div>
    <div class="pw-carousel__filters text-center">
      <div class="pw-carousel__dropdown dropdown text-center d-lg-inline-block">
        <button class="btn dropdown-toggle pw-carousel__dropdown__toggle text-left" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ${data.tabs[0].practiceTitle}
        </button>

        <!-- Commenting below div for BE testing purpose. TODO: Fix the div with FE integration. -->
        <!--<div class="dropdown-menu pw-carousel__dropdown__menu js-filter-category">-->
          <!--/* Categories renders here */-->
            <select  id="categories" name="category" data-sly-list.categoryTag="${data.categoryTagsMap}">
              <option value="${categoryTag}">${data.categoryTagsMap[categoryTag]}</option>
            </select>
        <!--</div>-->

      </div>
      <div class="pw-carousel__dropdown dropdown text-center d-lg-inline-block">
        <button class="btn dropdown-toggle pw-carousel__dropdown__toggle text-left" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ${data.tabs[0].practiceTitle}
        </button>

        <!-- Commenting below div for BE testing purpose. TODO: Fix the div with FE integration. -->
        <!-- <div class="dropdown-menu pw-carousel__dropdown__menu js-filter-subcategory"> -->
          <!--/* Subcategories renders here */-->
          <select id="subcategories" name="subcategory">
          </select>
        <!-- </div> -->

      </div>
    </div>
    <div class="pw-carousel__tabContent tab-content">
      <div class="pw-carousel__tabPane tab-pane fade show active js-carouselfiltered-item">
        <!--/* Carousel item renders here */-->
      </div>
    </div>
  </div>
  <sly data-sly-test="${!data.productType}" data-sly-call="${templates.placeholder @ isEmpty = !data.productType}"></sly>
  <div class=".hidden" id="producttype-data-prodtype" data="${data.prodType}"></div>
  <div class=".hidden" id="practice-data-rootpath" data="${data.rootPath}"></div>
</sly>
