.tp-pw-megamenuconfigv2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    box-sizing: border-box;
    position: fixed;
    top: auto;
    z-index: $zindex-nav-flyout;
    flex-direction: column;

    @media #{$desktop} {
        flex-direction: row;
        border-top: 1px solid $color-mercury;
        width: 1344px;
        margin: 0 auto;
    }
}

.tp-pw-megamenuconfigv2 > div {
    width: 100%;
}