.tp-cal-cont {
    &__calendar-nav {
        position: relative;
        z-index: $zindex-p;

        @media #{$mobile} {
            @include max-width(294px);
            margin: 0 auto;
        }
    }

    &__modal {
        .tpmol-modal-footer {
            justify-content: center;
            padding-top: 0;
        }

        .lightpick {
            @include top(-24px);
            position: relative;
        }

        &-dialog {
            @media #{$desktop} {
                @include max-width(663px);
            }
        }

        &-body {
            @include padding(0 $padding-md);

            @media #{$desktop} {
                @include padding(0 $padding-l);
            }
        }
    }
}
