.pw-search-bar {
    border: 1px solid $color-boulder;
    display: flex;
    background: $color-white;
    border-radius: 0.28571rem;
    flex: 1;
    box-shadow: none;
    height: 48px;
    padding: 0 1.14286rem;
    .horizontal-bar {
        border-left: 1px solid $color-mercury;
        height: 65%;
    }
    .search-label {
        text-indent: -10000px;
    }
    &__input {
        @include padding-right($padding-md);
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        input {
            @include padding(0);
            border: none;
            line-height: inherit;
            height: auto;
            &:focus {
                box-shadow: none;
            }
        }
        & + div {
            display: flex;
            flex: 0 0 auto;
            align-items: stretch;
            flex-direction: row;
        }
    }
    &__icons {
        &__close {
            @include padding-right($padding-md);
            border: 0;
            display: none;
            flex: 1 0 auto;
            cursor: pointer;
            align-items: center;
            background: transparent;
            outline: none;
            
            .close-icon-cont {
                @include padding-right($padding-md);
                display: inline-block;
                position: relative;
            }
        }
        &__search {
            border: 0;
            display: flex;
            flex: 1 0 auto;
            cursor: pointer;
            align-items: center;
            background: transparent;
            outline: none;
        }
    }
}