<sly data-sly-template.HelloWorldHandlebars_template="${@ data, flag}">
  <div class="c__helloworld" data-module="HelloWorldHandlebars">
    <div class="c__helloworld__text js-dynamic-text">Change some text sdsd here</div>
    <sly
      data-sly-use.btn="/apps/commons/components/atoms/button/button.html"
      data-sly-call="${btn.button_template @data=data}"
      />
    <div class="c__helloworld__form js-helloworld-form" aria-live="polite">
      <!--/* Handlebars component is rendered here */-->
    </div>
  </div>
</sly>
