@mixin searchbar-overrides {
    margin: $margin-xl;
    position: relative;
    top: 0;
    width: 60vw;
    .search-bar-close {
        display: none;
    }
    .vl {
        display: none;
    }

    .pw-header-search-bar {
        display: block;
    }

    .pw-header-search-bar__container {
        border: 1px solid $color-tundora;
        border-radius: $border-radius;
        padding: $padding-md $margin-xl;
        height: 100%;
    }

    .pw-header-search-bar__container .row {
        display: block;
        padding: 0;
        max-width: 100%;
    }
    .search-bar-input {
        width: 100%;
    }
    .col-lg-8 {
        min-width: 100%;
    }
    .search-icon {
        color: $color-congress-blue;
    }
}

body.scrollOff {
    overflow: hidden;
}
.tp-pw-headerv2-megamenu {
    @media #{$desktop} {
        margin: $margin-zero auto;
    }
    &.hidden {
        display: none;
    }
}

.tp-pw-headerv2-megamenu-mobile {
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: $color-white;
    z-index: $zindex-anchor-menu;
    overflow-y: auto;
    overflow-x: hidden;

    &.hidden {
        display: none;
    }

    &.is-open {
        transform: translateX(-100%);
        transition: transform 440ms ease-out;
    }

    &.is-close {
        transform: translateX(95%);
        transition: transform 1440ms ease-out;
    }

    .tp-pw-headerv2-back-row {
        padding: $spacing-small;
        height: $header-height-mobile * 1px;
        line-height: 32px;
        position: sticky;
        top: 0;
        z-index: $zindex-anchor-menu + 1;
        background-color: $color-white;

        &.hidden {
            display: none;
        }

        .tp-pw-headerv2-back-row-back-button {
            color: $color-tundora;
            font-size: $font-sm;
            i {
                &::before {
                    transform: rotate(180deg);
                }
            }
            .tp-pw-headerv2-back-row-back-text {
                padding-left: $padding-sm;
            }
        }

        .tp-pw-headerv2-back-row-close-button {
            float: right;
            font-size: $font-normal;
        }
    }
}

.tp-pw-headerv2-searchbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    transition: height .3s ease;
    overflow: hidden;

    &.show {
        @media #{$desktop} {
            height: 124px;
        }
        height: calc(100vh - #{$header-height-mobile * 1px});
        @media #{$mobile} {
            position: relative;
            top: $header-height-mobile * 1px;
        }
    }

    .pw-header-search-bar {
        width: 100vh;
        @media #{$desktop} {
            @include searchbar-overrides;
        }
        @media #{$mobile} {
            width: 100%;
        }
    }
}
.tp-pw-headerv2__container {
    @media #{$desktop} {
        height: 144px;
        position: fixed;
        top: 0;
        background-color:  $color-white;
    }
}
.tp-pw-headerv2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 143px;

    @media #{$mobile} {
        position: fixed;
        top: 0;
        z-index: $zindex-nav;
        height: 64px;
    }
    &__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $overlay-color;
        z-index: $zindex-nav;
        &.hidden {
            display: none;
        }
    }

    .tp-pw-headerv2-search-wrapper {
        text-align: right;
        margin-left: $margin-xxxl;
        margin-right: $margin-zero;
        @media #{$mobile} {
            margin-right: $spacing-small;
        }
    }

    a {
        text-rendering: optimizeLegibility;
        text-size-adjust: 100%;
        font-weight: 500;
    }

    .tp-pw-headerv2-mobile-secondary-navigation-menu {
        @media #{$desktop} {
            display: none;
        }
        display: none;
        font-weight: 500;
        width: 100%;
        position: absolute;
        z-index: $zindex-nav;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: $color-white;
        height: calc(100vh - #{$header-height-mobile * 1px});
        top: $header-height-mobile * 1px;

        i {
            &::before {
                font-size: 16px;
            }
        }

        .tp-pw-anchor-container-primary {
            background-color: $color-white;
            margin: 0 $padding-md;
            border-bottom: 1px solid $color-mercury;
            &:last-of-type {
                border-bottom: 0;
            }
            .primary-link {
                display: flex;
                color: $color-congress-blue;
                font-size: $font-baseline;
                padding: $padding-md $padding-zero;
                box-sizing: border-box;
                width: 100%;
                justify-content: flex-start;
                align-items: center;
                background-color: $color-white;
            }
        }

        .tp-pw-anchor-container-secondary {
            background-color: $color-wild-sand;
            padding: 0 $padding-md;
            &:first-of-type {
                padding-top: $padding-sm;
            }
            &:last-of-type {
                .secondary-link {
                    display: flex;
                    color: $color-congress-blue;
                    font-size: $font-baseline;
                    padding: $padding-md $padding-zero;
                    box-sizing: border-box;
                    width: 100%;
                    justify-content: flex-start;
                    align-items: center;
                    background-color: $color-wild-sand;
                    border-bottom: 0;
                    padding-bottom: $padding-l;
                }
            }
            .secondary-link {
                display: flex;
                color: $color-congress-blue;
                font-size: $font-baseline;
                padding: $padding-md $padding-zero;
                box-sizing: border-box;
                width: 100%;
                justify-content: flex-start;
                align-items: center;
                background-color: $color-wild-sand;
                border-bottom: 0;
                padding-bottom: 0;
            }
        }

        &__link {
            @include margin-left($margin-md);
            color: $color-congress-blue;
            font-weight: bold;

            .login-link {
                @media #{$desktop} {
                    @include line-height($font-normal, $font-xs);
                    font-size: $font-xs;
                }
            }

            span {
                display: none;

                @media #{$desktop} {
                    display: inline;
                }

                @media #{$i-pad} {
                    display: none;
                }
            }

            .mytp-text {
                @media #{$desktop} {
                    @include line-height($font-normal, $font-xs);
                    font-size: $font-xs;
                    font-weight: 500;
                }
            }

            &:first-child {
                margin-left: 0;
            }

            &:not(:first-child) {
                display: none;

                @media #{$desktop} {
                    display: inline;
                }

                @media #{$i-pad} {
                    display: none;
                }
            }
        }

        .tp-pw-headerv2-selector-container {
            background-color: $color-wild-sand;
            padding: 0 $padding-md;
            a {
                display: flex;
                color: $color-congress-blue;
                font-size: $font-baseline;
                padding: $padding-md 0;
                box-sizing: border-box;
                width: 100%;
                justify-content: flex-start;
                align-items: center;
            }
        }

        .tp-pw-headerv2-market-selector {
            background-color: $color-wild-sand;
            border-top: 1px solid $color-mercury;
            border-bottom: 0;
            padding: $padding-md 0;
            i {
                margin-right: $spacing-small-half;
                padding: 1px;
            }
        }
        .tp-pw-headerv2-login-selector {
            background-color: $color-wild-sand;
            border-top: 1px solid $color-mercury;
            border-bottom: 0;
            padding: $padding-md 0;
            i {
                margin-right: $spacing-small-half;
                padding: 1px;
            }
        }
    }

    nav {
        width: 100%;
        background-color: $color-white;
        z-index: $zindex-nav;

        .tp-pw-headerv2-first-row {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $color-mercury;
            box-sizing: border-box;
            padding: $spacing-big $padding-xxxl;

            @media #{$mobile} {
                padding: $spacing-small;
                height: $header-height-mobile * 1px;
                border-bottom: 0;
            }

            &.hidden {
                display: none;
            }

            .first-row-nav {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                &.tp-container {
                    @media #{$i-pad} {
                        padding: $padding-zero;
                    }
                    @media #{$mobile} {
                        padding-left: $padding-zero;
                        padding-right: $padding-zero;
                    }
                }
            }

            .tp-pw-headerv2-logo {
                img {
                    height: 80px;
                    margin-top: -20px;
                    margin-bottom: -20px;
                }
            }

            i.icon-Searchv2_pw,
            i.icon-Close_pw {
                font-size: $font-m-md;
                line-height: $font-m-md;
                @media #{$desktop} {
                    @include font-size($font-normal);
                    line-height: $font-normal;
                }
                @media #{$i-pad} {
                    font-size: $font-m-md;
                    line-height: $font-m-md;
                }
                @media #{$mobile} {
                    color: $color-congress-blue;
                    font-size: $font-normal;
                    line-height: $font-normal;
                }
            }

            .tp-pw-headerv2-secondary-navigation {
                @media #{$mobile} {
                    display: none;
                }

                a {
                    @include hyperlink($font-sm, $spacing-small);
                    padding: 0 $spacing-small 0 0;
                    line-height: 40px;
                }

                .tp-pw-headerv2-market-selector {
                    padding-left: $spacing-small;
                    border-left: 1px solid $color-mercury;

                    i {
                        margin-right: $spacing-small-half;
                        padding: 1px;
                    }
                }

                .tp-pw-headerv2-login-selector {
                    padding-left: $spacing-small;
                    border-left: 1px solid $color-mercury;

                    i {
                        margin-right: $spacing-small-half;
                        padding: 1px;
                    }
                }
            }

            .tp-pw-headerv2-mobile-secondary-navigation {
                display: none;

                @media #{$mobile} {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .submenu-mobile-icon {
                    &::before {
                        color: $color-congress-blue;
                        font-size: $font-normal;
                    }
                }

            }

        }

        .tp-pw-headerv2-second-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media #{$mobile} {
                display: none;
            }
            &.tp-container {
                @media #{$i-pad} {
                    @include padding(0 $padding-xxxl);
                }
            }

            .tp-pw-headerv2-main-navigation {
                display: flex;
                padding-right: $spacing-big;

                a {
                    @include padding($spacing-small 0 $spacing-small 0);
                    @include hyperlink($font-baseline, $margin-xxxl);
                    white-space: nowrap;
                    padding-left: $padding-zero;
                    margin-right: $margin-xxxl;

                    &.active {
                        text-decoration: none;
                    }
                }
            }
        }

        .tp-pw-headerv2-submenu-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: $spacing-big;

            @media #{$mobile} {
                display: none;
            }

            i {
                @include hyperlink-icon;
                font-weight: bold;
            }

            .tp-pw-headerv2-submenu {
                @include dropdown(116px, auto);
            }
        }
    }
    .scrollUp {
        transform: translateY(-144px);
    }
}
