$submenu-shadow-color: #000000;

@mixin hyperlink-base {
    color: $color-congress-blue;
    cursor: pointer;
    transform: color .2s, border-color .2s;

    &:hover {
        color: $color-bright-blue;
    }

    i {
        &:hover {
            color: $color-bright-blue;
            border-color: $color-bright-blue;
        }
    }
}

@mixin hyperlink($font-size, $margin-left) {
    @include hyperlink-base;
    margin-left: $margin-left;
    font-size: $font-size;
    font-weight: 500;
    text-rendering: optimizeLegibility;
    // -webkit-text-size-adjust: 100%;
    // -moz-text-size-adjust: 100%;
    // -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    text-decoration: none;
}

@mixin hyperlink-icon {
    @include hyperlink-base;

    &.active {
        color: $color-bright-blue;
    }
}

@mixin dropdown($top, $right) {
    border: 1px solid $color-mercury;
    display: flex;
    background-color: $color-white;
    box-sizing: border-box;
    box-shadow: 0 4px 16px 0 $dialog-shadow-color;
    border-radius: 4px;
    min-width: 129px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 28px 21px;
    position: absolute;
    top: $top;
    right: $right;
    z-index: calc($z-index-section-menu + 10px);

    a {
        display: flex;
        width: 100%;
        margin-bottom: 8px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

.tp-pw-headerv2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    a {
        text-rendering: optimizeLegibility;
        text-size-adjust: 100%;
        font-weight: 500;
    }

    .tp-pw-headerv2-mobile-secondary-navigation-menu {
        @media #{$desktop} {
            display: none;
        }
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        a {
            display: flex;
            font-size: $font-baseline;
            padding: $spacing-small;
            border-bottom: 1px solid $color-mercury;
            box-sizing: border-box;
            width: 100%;
            justify-content: flex-start;
            align-items: center;
            background-color: $color-white;

            &.secondary {
                background-color: transparent;
                border-bottom: 0;
            }
        }

        &__link {
            @include margin-left($margin-md);
            color: $color-congress-blue;
            font-weight: bold;

            .login-link {
                @media #{$desktop} {
                    @include line-height($font-normal, $font-xs);
                    font-size: $font-xs;
                }
            }

            span {
                display: none;

                @media #{$desktop} {
                    display: inline;
                }

                @media #{$i-pad} {
                    display: none;
                }
            }

            .mytp-text {
                @media #{$desktop} {
                    @include line-height($font-normal, $font-xs);
                    font-size: $font-xs;
                    font-weight: 500;
                }
            }

            &:first-child {
                margin-left: 0;
            }

            &:not(:first-child) {
                display: none;

                @media #{$desktop} {
                    display: inline;
                }

                @media #{$i-pad} {
                    display: none;
                }
            }
        }

        .tp-pw-headerv2-market-selector {
            background-color: transparent;
            border-top: 1px solid $color-mercury;
            border-bottom: 0;
            padding: $spacing-small;
            i {
                border: 1px solid $color-congress-blue;
                margin-right: $spacing-small-half;
                padding: 1px;
                border-radius: 100px;
            }
        }
        .tp-pw-headerv2-login-selector {
            background-color: transparent;
            border-top: 1px solid $color-mercury;
            border-bottom: 0;
            padding: $spacing-small;
            i {
                border: 1px solid $color-congress-blue;
                margin-right: $spacing-small-half;
                padding: 1px;
                border-radius: 100px;
            }
        }
    }

    nav {
        width: 100%;
        background-color: $color-white;

        .tp-pw-headerv2-first-row {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid $color-mercury;
            box-sizing: border-box;
            padding: $spacing-big-half 0 $spacing-big-half 24px;

            .tp-pw-headerv2-logo {
                img {
                    height: 80px;
                    margin-top: -20px;
                    margin-bottom: -20px;
                    margin-left: 30px;
                }
            }

            .tp-pw-headerv2-secondary-navigation {
                @media #{$mobile} {
                    display: none;
                }

                a {
                    @include hyperlink($font-sm, $spacing-small);
                    padding: $spacing-big-half 0;

                    &:last-of-type {
                        margin-right: $padding-xxxl;
                    }
                }

                .tp-pw-headerv2-market-selector {
                    padding-left: $spacing-small;
                    border-left: 1px solid $color-mercury;

                    i {
                        border: 1px solid $color-congress-blue;
                        margin-right: $spacing-small-half;
                        padding: 1px;
                        border-radius: 100px;
                    }
                }

                .tp-pw-headerv2-login-selector {
                    padding-left: $spacing-small;
                    border-left: 1px solid $color-mercury;

                    i {
                        border: 1px solid $color-congress-blue;
                        margin-right: $spacing-small-half;
                        padding: 1px;
                        border-radius: 100px;
                    }
                }
            }

            .tp-pw-headerv2-mobile-secondary-navigation {
                display: none;

                @media #{$mobile} {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                i {
                    @include hyperlink-icon;
                    margin-right: $padding-xxxl;
                }
            }
        }

        .tp-pw-headerv2-second-row {
            @include padding($spacing-small 0 $spacing-small 0);
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media #{$mobile} {
                display: none;
            }

            .tp-pw-headerv2-main-navigation {
                display: flex;
                padding-right: $spacing-big;

                a {
                    @include hyperlink($font-baseline, $margin-xxxl);
                    white-space: nowrap;
                    min-width: $padding-l;
                }
            }
        }

        .tp-pw-headerv2-submenu-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: $spacing-big;

            @media #{$mobile} {
                display: none;
            }

            i {
                @include hyperlink-icon;
                font-weight: bold;
            }

            .tp-pw-headerv2-submenu {
                @include dropdown(116px, auto);
            }
        }
    }
}
