<sly data-sly-template.analyticsscript_template="${@ data, flag}">
  var digitalData = {
        pageinfo: {},
        userinfo: {}
      },
      pageName = "";

  <sly data-sly-test="${data.siteName}">
    digitalData.pageinfo['siteName'] = "${data.siteName}";
    pageName += digitalData.pageinfo['siteName'];
  </sly>

  <sly data-sly-test="${data.siteCountry}">
    digitalData.pageinfo['siteCountry'] = "${data.siteCountry}";
    pageName += ":" + digitalData.pageinfo['siteCountry'];
  </sly>

  <sly data-sly-test="${data.siteLanguage}">
    digitalData.pageinfo['siteLanguage'] = "${data.siteLanguage}";
    pageName += "-" + digitalData.pageinfo['siteLanguage'];

  </sly>

  <sly data-sly-test="${data.channel}">
    digitalData.pageinfo['channel'] = "${data.channel}";
    pageName += ":" + digitalData.pageinfo['channel'];

    if(window.location.pathname.slice(1) !== "") {
      var siteSections = window.location.pathname.slice(1).split("/");
      siteSections.forEach(function (siteSection, index) {
        if(siteSection.indexOf('.html') === -1){
            digitalData.pageinfo['siteSection' + (index + 1)] = siteSection;
        }
      });
    }
  </sly>

  <sly data-sly-test="${data.pageType}">
    digitalData.pageinfo['pageType'] = "${data.pageType}";
  </sly>

   <sly data-sly-test="${data.subPage}">
    pageName += ":"+digitalData.pageinfo['pageType'];
  </sly>

  if(pageName.substring(0, 1) === ":") {
    pageName = pageName.substring(1);
  }
  digitalData.pageinfo['pageName'] = pageName;


  <sly data-sly-test="${data.logInStatus}">
    digitalData.userinfo['logInStatus'] = "${data.logInStatus}";
  </sly>

  <sly data-sly-test="${data.salesForceId}">
     digitalData.userinfo['salesForceId'] = "${data.salesForceId}";
  </sly>

  <sly data-sly-test="${data.userRoles}">
    digitalData.userinfo['userRoles'] = "${data.userRoles}";
  </sly>

  <sly data-sly-test="${data.userCountryCode}">
    digitalData.userinfo['userCountryCode'] = "${data.userCountryCode}";
  </sly>

  <sly data-sly-test="${data.userLanguage}">
    digitalData.userinfo['userLanguage'] = "${data.userLanguage}";
  </sly>

  <sly data-sly-test="${data.errorCode}">
    digitalData.error = {};
    digitalData.error['errorcode'] = "${data.errorCode}";
	<sly data-sly-test="${data.errorMessage}">
	  digitalData.error['errortype'] = "${data.errorMessage}";
	</sly>
  </sly>
</sly>
