<div class="tp_pw-container tp_pw-articles">
    {{> molecules-tp_pw-titleWrapper }}

    <div class="row">
        {{# tp_pw_article_col }}
        <div class="col-md-4 {{article_dividerClass}}">
            {{> molecules-tp_article }}
        </div>
        {{/ tp_pw_article_col }}
    </div>    
</div>
