// sass-lint:disable no-vendor-prefixes

@mixin day-active-state {
    color: $color-white;
    background-color: $color-congress-blue;
    border-radius: 4px;
    height: 100%;
    width: 100%;

    &:hover {
        border: 1px solid $color-congress-blue;
        color: $color-white;
        background-color: $color-congress-blue;
        border-radius: 4px;
        box-sizing: border-box;
    }
}

.js-dp {
    .js-dp-widget {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
    }

    .tpatom-input-box__input {
        padding: 8px 16px;
    }

    input {
        &.focus-visible {
            &:focus {
                box-shadow: 0 0 0 2px $color-sail;
            }
        }
    }

    a {
        -webkit-transition-property: none;
        -moz-transition-property: none;
        -o-transition-property: none;
        transition-property: none;
   }

    .icon-Right_new {
        color: $color-tundora;
    }

    .icon-left {
        &::before {
            transform: rotate(-180deg);
        }
    }

    .icon-down {
        &::before {
            transform: rotate(-270deg);
        }
    }

    .dp-inputs-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: flex-start;

        .dp-input-wrapper {
            display: flex;
            flex-direction: column;

            &.disabled {
                opacity: 0.5;
            }

            &:first-child {
                margin-right: 8px;
            }

            .dp-input-error {
                color: $color-red;
                font-size: 10px;
                font-weight: 500;
                margin-left: 2px;
            }

            .dp-input-label {
                color: $color-tundora;
                font-weight: 500;
                position: relative;

                .icon-Close_new {
                    position: absolute;
                    bottom: 8px;
                    right: 14px;
                    cursor: pointer;
                    transform: scale(0.75);

                    &.disabled {
                        cursor: default;
                    }
                }
            }
        }
    }

    .ui-datepicker-inline {
        border: 1px solid $color-black;
        color: $color-tundora;
        background-color: $color-wild-sand;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 500;
        padding: 24px 24px 16px;
        width: 320px;

        .ui-state-default {
            color: $color-tundora;

            &:hover {
                border: 1px solid $color-congress-blue;
                color: $color-congress-blue;
                background-color: $color-white;
                border-radius: 4px;
                box-sizing: border-box;
            }
        }

        tbody {
            margin-right: -8px;
            margin-top: 8px;
        }

        tr {
            display: flex;

            td,
            th {
                display: flex;
                box-sizing: initial;
                align-items: center;
                font-weight: 500;
                height: 32px;
                justify-content: center;
                margin-bottom: 8px;
                padding: 0;
                padding-right: 8px;
                width: 32px;

                &:last-of-type {
                    margin-right: 8px;
                }

                &:first-child {
                    border-radius: 4px 0 0 4px;
                }

                &:last-child {
                    border-radius: 0 4px 4px 0;
                    padding-right: 0;
                }

                &.dp-highlight {
                    color: $color-white;
                    background: $color-sail;
                }

                &.dp-highlight-first {
                    color: $color-white;
                    background: $color-sail;
                    border-radius: 4px 0 0 4px;

                    a {
                        @include day-active-state;
                    }
                }

                &.dp-highlight-last {
                    color: $color-white;
                    background: $color-sail;
                    border-radius: 0 4px 4px 0;
                    margin-right: 8px;
                    padding-right: 0;

                    a {
                        @include day-active-state;
                    }
                }

                &.dp-highlight-hover {
                    color: $color-white;
                    background: $color-sail;
                }

                &.dp-highlight-hover-first {
                    color: $color-white;
                    background: $color-sail;
                    border-radius: 4px 0 0 4px;
                }

                &.dp-highlight-hover-last {
                    color: $color-white;
                    background: $color-sail;
                    border-radius: 0 4px 4px 0;
                    margin-right: 8px;
                    padding-right: 0;
                }

                &.dp-highlight-empty-last {
                    color: $color-white;
                    background: $color-sail;
                    border-radius: 0 4px 4px 0;
                    margin-right: 8px;
                    padding-right: 0;
                }

                &.dp-highlight-empty-first {
                    color: $color-white;
                    background: $color-sail;
                    border-radius: 4px 0 0 4px;
                }
            }

            &:last-child {

                td,
                th {
                    padding-bottom: 0;
               }
           }
       }

        .ui-datepicker-header {
            height: 24px;
            margin-bottom: 16px;
            position: relative;

            .ui-datepicker-prev,
            .ui-datepicker-next {
                -moz-user-select: none;
                -ms-user-select: none;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                cursor: pointer;
                position: absolute;
                user-select: none;
            }

            .ui-datepicker-prev {
                left: 0;
                top: 0;
            }

            .ui-datepicker-next {
                right: 0;
                top: 0;
            }

            .ui-datepicker-title {
                display: flex;
                align-items: center;
                justify-content: center;

                .ui-datepicker-month,
                .ui-datepicker-year {
                    all: unset; // sass-lint:disable-line property-sort-order
                    color: $color-congress-blue;
                    z-index: 2;
                    border: 0;
                    user-select: none;
                    -webkit-user-select: none;
                    font-size: 14px;
                    width: 60px;
                    -webkit-touch-callout: none;
                    cursor: pointer;
                    -ms-user-select: none;
                    font-weight: 700;
                    -moz-user-select: none;
               }

                .js-dp-month-icon,
                .js-dp-year-icon {
                    display: flex;
                    color: $color-congress-blue;
                    width: 4px;
                    justify-content: center;
                    align-items: center;
                    margin-top: 4px;
                }

                .js-dp-month-icon {
                    margin-left: -22px;
                    margin-right: 22px;
                }

                .js-dp-year-icon {
                    margin-left: -15px;
                    margin-right: 15px;
                }
            }
        }

        .ui-datepicker-calendar {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 100%;

            .ui-state-default,
            .ui-state-highlight,
            .ui-state-active {
                display: flex;
                align-items: center;
                height: 100%;
                justify-content: center;
                text-decoration: none;
                width: 100%;
                font-weight: 500;
            }

            .ui-state-highlight {
                font-weight: 700;

                &:hover {
                    border: 1px solid $color-congress-blue;
                    color: $color-congress-blue;
                    background-color: $color-white;
                    border-radius: 4px;
                    font-weight: 700;
                }
            }

            .ui-state-active {
                @include day-active-state;
            }

            .ui-state-disabled {
                .ui-state-default {
                    all: unset;

                    &:hover {
                        all: unset;
                    }
                }
            }

            .ui-datepicker-unselectable {
                color: $color-tundora;
                height: 32px;
                width: 40px;
                box-sizing: border-box;
                opacity: 0.5;

                &:hover {
                    border: 1px solid transparent;
                    color: $color-tundora;
                    background-color: none;
               }
           }
       }
   }
}