<sly data-sly-template.link_template="${@ url,text,baseClass,isExternal,modifier,iconClass,jsClass}">
  <sly data-sly-test.modifierClass=" tpatom-link--${modifier}" />
  <a href="${url}" class="tpatom-link ${jsClass ? jsClass : '' } ${baseClass ? baseClass : '' }${modifier ? modifierClass : ' tpatom-link--primary'}" target="${isExternal ? '_blank' : ''}">
      <span class="tpatom-link__text">${text @ i18n}</span>
       <sly data-sly-test.isIconClass="${iconClass}" >
          <i class="icon ${iconClass}"></i>
       </sly>
    </a>
</sly>
