<div class="tp_performance-wrapper">
    {{> atoms-icon }}
    <div class="tp_performance-wrapperContent">
        <h4>{{performanceTitle}}</h4>

        {{# iconTextList }}
        {{> atoms-iconText }}
        {{/ iconTextList }}

        {{> atoms-button-text }}
    </div>
</div>
