.tp-pw-footer {
    @include margin-top($margin-l);
    min-height: 100px;
    background-color: $color-congress-blue;
    @media #{$desktop} {
        @include margin-top($margin-l);
    }

    &__container {
        @include padding(48px $padding-sm);

        @media #{$desktop} {
            @include padding(80px $padding-xxxl);
        }
        .tp-pw-footer-data-logo {
            img {
                width: 156px;
                height: auto;
            }
        }
    }

    .col-lg-3 {
        @media #{$desktop} {
            @include padding(0 $padding-zero);
        }
    }

    &__link {
        color: $color-white;

        &:hover,
        &:active {
            color: $color-mercury;
            text-decoration: none;
        }
    }

    &__navigation-list {
        @include margin-top($margin-xxxl);

        @media #{$desktop} {
            @include margin-top($spacing-big);
            display: flex;
            flex-wrap: wrap;
            margin-top: 0;
        }

        &__item {
            @include margin-bottom($margin-md);
            @media #{$desktop} {
                @include margin-right($margin-l);
                @include margin-bottom($margin-l);
                display: block;
            }

        }
    }
    &__social-media {
        @media #{$mobile} {
            @include margin-top($margin-xxxl);
            @include margin-bottom($margin-xxxl);
        }
    }
    &__social-media-items {
        &__link {
            @include font-size($font-l);
            @include margin-right($margin-md);
            @media #{$desktop} {
                @include margin-left($margin-md);
                margin-right: $margin-zero;
            }
            &:first-child {
                margin-left: $margin-zero;
            }
            &:last-child {
                margin-right: $margin-zero;
            }
        }
        &__img {
            margin-left: $margin-md;

            &:first-child {
                margin-left: $margin-zero;
            }
            &Title {
                color: $color-white-new;
                margin-bottom: $margin-md;
            }
            &.storeImgs {
                @media #{$mobile} {
                    display: flex;
                    flex-direction: column;
                }
                img {
                    margin-left: $margin-zero;
                    margin-top: $margin-md;
                    max-width: 100%;

                    &:first-child {
                        margin-top: $margin-zero;
                    }
                }
            }
            &.appStore {
                width: 120px;
            }
            &.playStore {
                width: 150px;
            }
        }
        &__wechat-code {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            margin-bottom: $margin-md;
        }
    }

    .tp_goTopBtn {
        @include margin-top(24px);
        @media #{$desktop} {
            text-align: center;
        }
        .icon-Circle_Arrow_Up {
            margin-left: $margin-sm;
        }
    }
}