.tp-pw-footer {
    @include margin-top($margin-l);
    min-height: 100px;
    background-color: $color-congress-blue;
    @media #{$desktop} {
        @include margin-top($margin-l);
    }

    &__container {
        @include padding(48px $padding-sm);

        @media #{$desktop} {
            @include padding(80px $padding-xxxl);
        }
        .tp-pw-footer-data-logo {
            img {
                width: 156px;
                height: auto;
            }
        }
    }

    .col-lg-3 {
        @media #{$desktop} {
            @include padding(0 $padding-zero);
        }
    }

    &__link {
        color: $color-white;

        &:hover,
        &:active {
            color: $color-mercury;
            text-decoration: none;
        }

        &.weChatLink {
            pointer-events: none;
        }
    }

    &__navigation-list {
        @include margin-top($margin-xxxl);

        @media #{$desktop} {
            @include margin-top($spacing-big);
            display: flex;
            flex-wrap: wrap;
            margin-top: 0;
        }

        &__item {
            @include margin-bottom($margin-md);
            @media #{$desktop} {
                @include margin-right($margin-l);
                @include margin-bottom($margin-l);
                display: block;
            }

        }
    }

    &__social-media {
        @media #{$desktop} {
            display: flex;
            justify-content: flex-end;
        }
        @media #{$small-desktop} {
            display: block;
        }
    }

    &__social-media-items {
        @media #{$mobile} {
            @include margin-top($margin-xxxl);
            @include margin-bottom($margin-xxxl);
        }
        &__link {
            @include font-size($font-l);
            @include margin-right($margin-md);
            @media #{$desktop} {
                @include margin-left($margin-md);
                margin-right: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            &.icon-wechat-code {
                display: inline-block;
                max-width: 115px;
                cursor: default;
                pointer-events: none;

                @media #{$mobile} {
                    cursor: pointer;
                    pointer-events: auto;
                }
            }
        }

        &__wechat-code {
            margin-left: $margin-xs;
            @media #{$mobile} {
                margin-left: $margin-zero;
            }
        }
    }

    .tp_goTopBtn {
        @include margin-top(24px);
        @media #{$desktop} {
            text-align: center;
        }
        .icon-Circle_Arrow_Up {
            margin-left: $margin-sm;
        }
    }

}