<sly data-sly-template.footer_template="${@ data, flag}">
  <footer class="tp-pw-footer js-tp-pw-footer">
    <div class="tp-pw-footer__container tp-container">
      <div class="d-md-block d-lg-flex">
        <div class="col-lg-3 text-lg-left">
          <div class="footer-logo">
            <sly data-sly-resource="${'footer' @ resourceType='publicweb/components/content/logo'}"/>
          </div>
        </div>
        <div class="col-lg-6 text-lg-center">
          <ul class="tp-pw-footer__navigation-list" data-sly-list.navigationItems="${data.footerNavigationLinks}"
              style="justify-content: space-between;">
            <li class="tp-pw-footer__navigation-list__item">
              <a class="tp-pw-footer__navigation-list__link tp-pw-footer__link" href="${navigationItems.linkPath}"
                 target="${navigationItems.targetBlank ? '_blank' : ''}">${navigationItems.linkTextI18n @ i18n}</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 text-lg-right">
          <div class="tp-pw-footer__social-media-items" data-sly-list.socialLink="${data.footerSocialLinks}">
            <a class="tp-pw-footer__social-media-items__link tp-pw-footer__link"
               href="${socialLink.socialMediaLinkPath}" target="_blank"
               data-sly-test="${socialLink.socialMediaLinkPath}"><i class="${socialLink.socialMediaIconClass}"></i></a>
          </div>
        </div>
      </div>
      <div class="col text-center">
        <a href="#" class="tp_textBtn tp-pw-footer__link">${data.ctaLabelI18n @ i18n} <i
          class="icon-Circle_Arrow_Up"></i></a>
      </div>
    </div>
  </footer>
</sly>
