<sly data-sly-template.footer_template="${@ data, flag}">
  <footer class="tp-pw-footer js-tp-pw-footer" data-module="Footer">
    <div class="tp-pw-footer__container">
      <div class="d-md-block d-lg-flex">
        <div class="col-lg-3 text-lg-left">
          <div class="footer-logo footer-analytics">
          <a href="${data.logoLink}" ctypeone="brand logo" ctitle="tetra pak" target="${data.logoLinkTarget}">
            <!-- <img class="tp-pw-logo js-dynamic-media initial loaded" alt="${data.logoAlt}" data-src="http://s7g10.scene7.com/is/image/tetrapak/logo_tetra_pak_white?wid=160&amp;fmt=png-alpha" src="http://s7g10.scene7.com/is/image/tetrapak/logo_tetra_pak_white?wid=160&amp;fmt=png-alpha"/>-->
            <sly data-sly-use.dynamicMediaImage="/apps/publicweb/components/content/dynamicMediaImage/dynamicMediaImage-template.html" data-sly-call="${dynamicMediaImage.dynamicMediaImage_template @imagePath='/content/dam/tetrapak/publicweb/en/global/footer/logo_tetra_pak_white.png', altText=data.logoAlt, className='tp-pw-logo'}" />
            </a>
          </div>
        </div>
        <div class="col-lg-6 text-lg-center">
          <ul class="tp-pw-footer__navigation-list" data-sly-list.navigationItems="${data.footerLinks}"
              style="justify-content: center;">
            <li class="tp-pw-footer__navigation-list__item footer-analytics">
              <a class="tp-pw-footer__navigation-list__link tp-pw-footer__link" href="${navigationItems.linkPath}"
                 datatag="${navigationItems.linkType}" data-link-section="Navigation menu" data-link-parent-title="Footer links" data-link-name="Tetrapak" ctype="footer" ctypeone="footer nav link"
                 target="${navigationItems.linktarget}">${navigationItems.linkLabel}</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 text-lg-right">
          <div class="tp-pw-footer__social-media-items footer-analytics" data-sly-list.socialLink="${data.socialLinks}">
            <a class="tp-pw-footer__social-media-items__link tp-pw-footer__link"
               href="${socialLink.socialMediaLink}" target="_blank"
               data-sly-test="${socialLink.socialMediaLink}"
               datatag="external" ctype="footer" ctypeone="social share"

               ctitle="${socialLink.socialMediaName}"><i class="icon-${socialLink.socialMedia}"></i></a>
          </div>
        </div>
      </div>
      <div class="col tp_goTopBtn">
        <a href="#" class="tp_textBtn tp-pw-footer__link" id-"tp-pw-footer__link">${data.goToTopLabel} <i
          class="icon-Circle_Arrow_Up"></i></a>
      </div>
    </div>
  </footer>
</sly>
