<sly data-sly-template.orderdetails_template="${@ data, flag}">
  <div class="tp-order-detail" data-module="OrderDetails">
    <code class="d-none js-order-detail__config">
              ${data.i18nKeys}
    </code>
    <input type="hidden" id="partsDeliveryTableCols" name="partsDeliveryTableCols" value="${data.partsDeliveryTableCols}" />
    <input type="hidden" id="packagingProductsTableCols" name="packagingProductsTableCols" value="${data.packagingProductsTableCols}" />
    <input type="hidden" id="packagingDeliveryTableCols" name="packagingDeliveryTableCols" value="${data.packagingDeliveryTableCols}" />
    <input type="hidden" id="downloadPdfExcelServletUrl" name="downloadPdfExcelServletUrl" value="${data.downloadPdfExcelServletUrl}" />
    <div class="tp-order-detail__summary js-order-detail__summary" aria-live="polite">

    </div>
  </div>
</sly>
