<button type="button" class="btn tpatom-btn{{#if btnClasses}} {{btnClasses}}{{/if}}">
    <span class="tpatom-btn__text">{{btnText}}</span>
    <i class="tpatom-btn__icon{{#if iconClass}} {{iconClass}}{{/if}}"></i>
</button>