.pw-anchor {
    @include padding(0 $padding-xxxl);
    &.tp-container {
        @include padding(0);
        @include margin($margin-sm $margin-xl $margin-l $margin-xl);
    }
    &__regular {
        @media #{$desktop} {
            @include padding($padding-zero $padding-xxxl);
            @include margin($margin-sm $margin-xl $margin-xl $margin-xl);
        }
    }

    .pw-anchor-list > .pw-anchor-content {
        font-size: $font-baseline;
        @include line-height($font-l, $font-baseline);
        @include padding($padding-sm $padding-md);
        color: $color-congress-blue;
        font-weight: 500;
        border-bottom: 1px solid $color-mercury;
        a {
            font-weight: 500;
            color: $color-congress-blue;
        }
        &:hover {
            a {
                color: $color-dark-blue;
            }
        }
    }

    @media #{$desktop} {
        display: flex;
        justify-content: center;
        &.tp-container {
            margin: 0 auto;
            @include max-width($body-max-width);
            @include padding(0);
            
        }
        .pw-anchor-list {
            @include border-radius($border-radius);
            @include padding(0);
            border: 1px solid $color-mercury;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        .pw-anchor-list > .pw-anchor-content {
            @include padding($padding-sm $padding-md);
            border-right: 1px solid $color-mercury;
            border-bottom: 0;
            &:last-child {
                border-right: 0;
            }
            &:hover {
                a {
                    color: $color-dark-blue;
                }
            }
        }
    }
}
