<template data-sly-template.dynamicimage_template="${@ imagePath,altText} ">
<sly data-sly-use.dynamicImageModel="${'com.tetrapak.customerhub.core.models.DynamicImageModel' @ imagePath=imagePath , assetAltText=altText}"/>
<img data-sly-test="${dynamicImageModel.defaultImageUrl}" src="${dynamicImageModel.defaultImageUrl}" data-object-fit="${dataObjectView}"
	itemprop="image" alt="${dynamicImageModel.altText}"
	data-src_desktop="${dynamicImageModel.desktopUrl}"
	data-src_desktopL="${dynamicImageModel.desktopLargeUrl}"
	data-src_mobileP="${dynamicImageModel.mobilePortraitUrl}"
	data-src_mobileL="${dynamicImageModel.mobileLandscapeUrl}"
	data-src_tabletP="${dynamicImageModel.tabletPortraitUrl}"
	data-src_tabletL="${dynamicImageModel.tabletLandscapeUrl}" />