@import '~tpCustomerhub/templates/components/header/header';

.tp-header {
    left: 0;
    &__user {
        display: flex;
    
        .userName {
            display: none;
            @media #{$desktop} {
                display: inline;
            }
        }
    }

    .tp-close-btn {
        margin-left: -14px;
    }

    &.menu-opened .tp-header__burger-menu {
        display: none;
    }

    .tp-header__user{
        align-items: center;
        @media #{$mobile} {
            display: block;
            text-indent: -9999px;
            white-space: nowrap;
        }


        &::before{
            font-size: $font-l;
            @media #{$mobile} {
                font-size: $font-normal;
                text-indent: 0;
                float: left;
            }
        }
    }
}
