<sly data-sly-template.header_template="${@ data, langData, cookie, flag}">
  <header class="tp-header" data-module="Header">
      <span class="tp-header__burger-menu icon-Burger"></span>
      <sly data-sly-test="${data.logoUrl}">
        <div class="tp-header__logo d-none d-md-flex">
          <a href="${data.dLogoLink}" class="tp-header__link" datatag="internal" ctype="header" ctypeone="brand logo" cttitle="${data.logoTextI18n @i18n, locale=langData.locale}" aria-label="${data.logoTextI18n @i18n, locale=langData.locale}">
            <img src="${data.logoUrl}" alt="${data.logoTextI18n @i18n, locale=langData.locale}" />
          </a>
        </div>
        <div class="tp-header__logo d-md-none">
          <!--/*logo for mobile  */-->
          <a href="${data.mLogoLink}" class="tp-header__link" datatag="internal" ctype="header" ctypeone="brand logo" cttitle="${data.logoTextI18n @i18n, locale=langData.locale}" aria-label="${data.logoTextI18n @i18n, locale=langData.locale}">
            <img src="${data.logoUrl}" alt="${data.logoTextI18n @i18n, locale=langData.locale}" />
          </a>
        </div>
      </sly>
    <sly data-sly-test="${data.rightNavDisplay}">
      <div class="tp-header__nav-right">
        <span class="tp-header__user icon-Avatar">
            <span class="tp-header__user userName"><sly data-sly-test="${wcmmode.edit || wcmmode.design}">${data.getUserInfoI18n}</sly>
            <sly data-sly-test="${cookie.userName}">${cookie.userName}</sly></span>
        </span>
      </div>
    </sly>
  </header>
</sly>
