<sly data-sly-use.xfModel="com.tetralaval.models.ExperienceFragmentModel"/>

<sly data-sly-test="${xfModel.headerPath}" data-sly-resource="${xfModel.headerPath @ wcmmode='disabled'}"/>

<sly data-sly-use.templatedContainer="com.day.cq.wcm.foundation.TemplatedContainer"
     data-sly-repeat.child="${templatedContainer.structureResources}"
     data-sly-resource="${child.path @ resourceType=child.resourceType, decorationTagName='div'}"/>

<sly data-sly-test="${xfModel.footerPath}" data-sly-resource="${xfModel.footerPath @ wcmmode='disabled'}"/>
