<sly data-sly-template.anchorv2_template="${@data, flag}">
    <div class="pw-anchor-menu tp-container" data-module="Anchorv2">
      <div class="pw-anchor-menu-mobile">
        <a class="pw-anchor-menu-title-container anchorv2_link" tabindex="0"><span id="pw-anchor-menu-title">${data.anchorDetailList[0].anchorTitle}</span><i class="icon with-arrow icon-Navigation_Right_pw"></i></a>  
      </div>
      <div class="pw-anchor-menu__regular">
      <ul class="pw-anchor-menu-list">
        <sly data-sly-list.anchorItem="${data.anchorDetailList}">
          <li class="pw-anchor-menu-content">
            <a data-link-section='${anchorItem.anchorId}' class="anchorv2_link" data-link-name="${anchorItem.anchorTitle}" href="#${anchorItem.anchorId}">${anchorItem.anchorTitle}</a>
          </li>
        </sly>
      </ul>
      </div>
      
       <div class="pw-anchor-menu__cta" data-sly-test="${data.ctaLinkText}" >
        <a data-sly-test="${data.ctaLinkText}"
            href="${data.getCtaLinkUrl}"
            class="tpatom-link tpatom-link--primary"
            title="${data.ctaLinkText}"
            >
            <span class="tpatom-link__text sly-text">${data.ctaLinkText @ context='html'}</span>
        </a>
      </div>
    
      <div class="pw-progress-indicator-container">
        <span class="pw-anchor-menu-progress-indicator"></span>
      </div>
      
  </div>
 
</sly>

