.tp-maintenance-card {
    &__events {
        @media #{$desktop} {
            float: left;
            width: 50%;
        }
    }

    &__event-title {
        color: $color-tundora;
    }

    &__events-sidesection {
        @media #{$desktop} {
            @include padding-left($padding-l);
            float: right;
            width: 50%;
        }
    }

    &__event {
        @include padding($padding-md $margin-xl $padding-md $padding-md);
        @include line-height(24px, $font-baseline);
        border: 1px solid transparent;
        display: block;
        color: $color-boulder;
        position: relative;
        border-top: 1px solid $color-mercury;
        width: 100%;
        text-align: left;

        &:first-of-type {
            @include margin-top($margin-md);
            border-top: 1px solid transparent;
        }

        &:last-of-type {
            border-bottom: 1px solid $color-mercury;
        }

        .icon-Chevron_Down {
            @include right($margin-md);
            @include width($spacing-big-half);
            @include height($spacing-big-half);
            @include font-size($font-sm);
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            transition: transform $anim-speed-quick $anim-ease;

            &::before {
                vertical-align: top;

                @media #{$desktop} {
                    transform: rotate(-90deg);
                }
            }
        }

        &:not(.collapsed) {
            @include border-radius($border-radius);
            border: 1px solid $color-boulder;
            background-color: $color-wild-sand;

            .icon-Chevron_Down {
                @media #{$mobile} {
                    transform: rotate(-180deg);
                }
            }
        }

        &-detail {
            @include margin($margin-md 0);
            @include padding($padding-md);
            @include border-radius($border-radius);
            background-color: $color-wild-sand;

            @media #{$desktop} {
                @include padding($padding-l);
            }

            &.show+.tp-maintenance-card__event {
                border-top: 1px solid $color-mercury;

                @media #{$desktop} {
                    border-top: 1px solid transparent;
                }
            }
        }
    }

    &__order {
        @include margin-top($margin-md);
        @include padding-top($padding-md);
        border-top: 1px solid $color-mercury;
    }

    &__operations-text {
        @include padding($margin-md 0);
    }

    &__contact {
        @include font-size($font-sm);
        @include line-height(20px, $font-sm);
        border-top: 1px solid $color-mercury;

        h3 {
            @include margin($margin-md 0);
        }

        &-icon {
            @include margin-bottom($margin-sm);
            @include padding(6px $padding-md);
            @include font-size($font-xl);
            border: 1px solid $color-mercury;
            display: inline-block;
            color: $color-congress-blue;
            background-color: $color-white;
            border-radius: 50%;
        }

    }


    &__info-title,
    &__info-text {
        @include padding($padding-sm 0);
        display: inline-block;
        width: 49%;

    }

    &__info-title {
        font-family: $font-bold;
    }

    &__info-text {
        text-align: right;
    }

    &__all-link,
    .tpatom-error {
        @include margin-top($margin-md);
    }
}
