<sly data-sly-use.model="com.tetrapak.publicweb.core.models.HeaderModel"
     data-sly-use.lib="header-template.html"
     data-sly-call="${lib.header_template @ data=model}" />

<div class="header-container">
    
    <div class="header-logo">
        <sly data-sly-resource="${'header' @ resourceType='publicweb/components/content/logo'}"/>
    </div>
    
<!--/*
    <div class="header-megamenu">
        <sly data-sly-resource="${'header' @ resourceType='publicweb/components/content/megamenu'}"/>
    </div>
    <div class="header-search">
        <sly data-sly-resource="${'header' @ resourceType='publicweb/components/content/search'}"/>
    </div>
    <div class="header-login">
        <sly data-sly-resource="${'header' @ resourceType='publicweb/components/content/login'}"/>
    </div>
    <div class="header-countryselector">
        <sly data-sly-resource="${'header' @ resourceType='publicweb/components/content/country-selector'}"/>
    </div>
    
*/-->
    
</div>