$color-red: #ff0000;

.tp-add-equipment {
    &__title {
        @include margin-bottom($margin-md);
        @include line-height($font-xl, $font-l);
        @include font-size($font-l);
        font-weight: 400;

        @media #{$desktop} {
            @include line-height(40px, $font-xl);
            @include font-size($font-xl);
            font-weight: 700;
        }
    }

    &__subtitle {
        @include margin-bottom($margin-l);
        @include line-height($font-l, $font-baseline);
    }

    &__drag-and-drop {
        @include padding($padding-md);
        border-radius: $border-radius;
        background-color: rgba($color-mercury, $opacity-mid);

        @media #{$desktop} {
            @include padding($padding-l);
        }

        &-description {
            @include line-height($font-l, $font-baseline);
            @include margin-right($margin-sm);
            display: inline;

            &-wrapper {
                @include margin-bottom($margin-md);

                i {
                    @include font-size($font-normal);
                }
            }
        }

        &-title {
            @include line-height($font-l, $font-md);
            @include font-size($font-md);
            @include margin-bottom($margin-md);
            color: $color-tundora;
        }

        &-button {
            @include padding($padding-sm);
            border: 1px solid $color-congress-blue;
            display: flex;
            color: $color-congress-blue;
            align-items: baseline;
            border-radius: $border-radius;

            span {
                @include line-height($font-l, $font-baseline);
            }
        }

        &-file {
            &-container {
                @include padding($padding-md);
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                background-color: $color-white;
                border-radius: $border-radius;

                &:first-child {
                    @include margin-top($margin-md);
                }

                &:not(:last-child) {
                    @include margin-bottom($margin-sm);
                }

                @media #{$desktop} {
                    flex-direction: row;

                    &:first-child {
                        @include margin-top($margin-l);
                    }
                }
            }

            &-info-container,
            &-remove-container {
                display: flex;
                align-items: center;

                &:first-child {
                    @include margin-bottom($margin-md);

                    @media #{$desktop} {
                        margin-bottom: unset;
                    }
                }
            }

            &-remove-container {
                cursor: pointer;
            }

            &-icon {
                @include margin-right($margin-sm);
                @include font-size($font-normal);

                &--file {
                    color: $color-red;
                }

                &--trash {
                    color: $color-congress-blue;
                }
            }

            &-name {
                @include line-height($font-l, $font-baseline);
                @include font-size($font-baseline);
                font-weight: 400;
            }

            &-remove {
                @include line-height($font-l, $font-baseline);
                color: $color-congress-blue;
                font-weight: 500;
            }
        }
    }

    &__serial-number {
        &-wrapper {
            @include margin-bottom($margin-l);
        }

        &-label {
            @include line-height($font-l, $font-baseline);
            @include margin-top($margin-zero);
            font-weight: 500;
        }
    }
}
