<sly data-sly-template.cotssupport_template="${@data, flag}">
    <div class="tp-cots-support tp-card" data-module="CotsSupport"
    data-submit-api="${data.componentPath}${data.componentPathExtension}"
    data-username="${data.userName}"
    data-email="${data.userEmailAddress}">
        <code class="d-none js-tp-cots-support__config">${data.i18nKeys}</code>
        <div class="tp-spinner js-tp-spinner">
            <sly data-sly-use.loading="/apps/customerhub/components/atoms/loader/loader-template.html"
                 data-sly-call="${loading.loader_template}"/>
        </div>
        <div class="js-tp-cots-support__content-wrapper d-none"></div>
    </div>
</sly>