
<div class="bannercontainer">
<div class="banner">
<div class="tp-container-hero" id="Banner Id" title="banner title" data-module="Banner">
    <div class="pw-banner js-pw-banner pw-theme--grayscale-white" data-anchor-type="Text Hyperlink" data-link-section="Hero Image_imageClick" data-link-name="Link Lable" data-asset-name="downloadpath" data-href="https://www.xyz.com/content/downloadpath" target="_blank" style="cursor: pointer;">

        <div class="pw-banner__image-wrapper">





    <img src="https://s7g10.scene7.com/is/image/?wid=1920&amp;hei=640&amp;fmt=png-alpha&amp;resMode=bisharp" class="img-responsive js-dynamic-media initial loaded" itemprop="image" alt="alt text" data-src_desktop="https://s7g10.scene7.com/is/image/?wid=1920&amp;hei=640&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_desktopl="https://s7g10.scene7.com/is/image/?wid=1920&amp;hei=640&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_mobilep="https://s7g10.scene7.com/is/image/?wid=320&amp;hei=180&amp;fmt=png-alpha&amp;resMode=bisharp" data-src_mobilel="https://s7g10.scene7.com/is/image/?wid=736&amp;hei=352&amp;fmt=png-alpha&amp;resMode=bisharp" data-src="https://s7g10.scene7.com/is/image/?wid=1920&amp;hei=640&amp;fmt=png-alpha&amp;resMode=bisharp" data-was-processed="true">



        </div>


    <div class="pw-banner-herowrapper">
    <div class="pw-banner__sideSection left sky-blue"></div>
        <section class="pw-banner__bgcolor sky-blue  display-row">
           <div class="pw-banner__gradient-bg"></div>
                                    

      <div class="pw-banner__content banner-sibling display-row" style="width: 267.859px; height: 255.969px;"></div>
      <div class="pw-banner__content banner-parent display-row sky-blue">
        <div class="pw-banner__content__subtitle sky-blue">
          Banner Subtitle
        </div>
        <div class="pw-banner__content__title sky-blue">

  <h2 class="tpatom-heading tpatom-heading--regular">Banner Title</h2>

        </div>
        <p class="pw-banner__content__description">Description</p>

        <a href="https://www.xyz.com/content/downloadpath" class="tpatom-link tpatom-link--transparent js-banner-analytics js-softconversion-pw-banner" data-asset-name="downloadpath" data-link-section="Hero Image_Text Hyperlink" data-link-type="internal" data-link-banner-title="Banner Title" data-link-name="Link Lable" data-anchor-type="Text Hyperlink" target="_blank">
          <span class="tpatom-link__text sly-text">Link Lable<i class="icon icon-Union"></i></span>
        </a>


       <a href="https://www.xyz.com/content/downloadpath" class="tpatom-link tpatom-link--transparent js-banner-analytics js-subscription-pw-banner" data-asset-name="downloadpath" data-link-section="Hero Image_Text Hyperlink" data-link-type="internal" data-link-banner-title="Banner Title" data-link-name="Link Lable" data-anchor-type="Text Hyperlink" target="_blank">
          <span class="tpatom-link__text sly-text">Link Lable<i class="icon icon-Union"></i></span>
        </a>

         <input type="hidden" id="componentName-banner" name="componentName" value="banner">

      </div>
    </section></div></div>


  </div>
  </div>
 
  </div>
 
