<div class="tp-card tp-contact-card" data-module="ContactCard">
    <div class="tp-contact-card__content-container">
        <h2 class="tp-contact-card__heading">Contacts</h2>
        <p class="tp-contact-card__description">Get in touch with right people</p>
        <a href="https://www.tetrapak.com" class="tpatom-link js-view-contact-card-btn  tpatom-link--primary">
            <span class="tpatom-link__text">View contacts</span>
            <i class="icon icon-Chevron_Right"></i>
        </a>
    </div>
  </div>
