<div class="tp-contacts tp-card" data-module="Contacts">
    <code class="d-none js-contacts__config">
        {
            "siteFilterHeading": "Find contacts on your site"
        }
    </code>
    <div class="tp-contacts__filtering js-contacts__filtering" aria-live="polite">

    </div>
</div>
