<div class="tp-cots-support tp-card" data-module="CotsSupport">
    <code class="d-none js-tp-cots-support__config">{"contactDetailsHeader":"Contact details","company":"Company name","customerSite":"Customer site","description":"Description","title":"cuhu.cotsSupport.plantMasterCotsSupport","dropdownPlaceholder":"Choose one option","selectTypeOfLog":"Select type of log query","emailAddress":"Email address","subTitle":"The purpose of this service is to log a technical issue or product support question related to the Tetra Pak PlantMaster Commercial off-the-shelf (COTS) offering. For other queries please use the standard communication channels","productSupport":"Product support","technicalIssues":"Technical issues","supplierStreetName":"Street name","questions":"Questions","telephone":"Telephone","idHeader":"ID","successMessage":"Thank you! Your query is sent.","submitButtonLabel":"Confirm your details","affectedSystems":"Affected systems","confirmYourDetailsHeader":"Confirm your details","name":"Name","productInvolved":"Product Involved","softwareVersion":"Software version","licensenumber":"License Number"}</code>
    <div class="tp-spinner js-tp-spinner d-none">

        <div class="tpatom-loader js-loader">

            <div class="tpatom-loading-anim">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

        </div>

    </div>
    <div class="js-tp-cots-support__content-wrapper"/>

</div>