<div class="tp-cots-support tp-card" data-module="CotsSupport">
    <code class="d-none js-tp-cots-support__config">{"country":"Country","supplierCountry":"Country","contactDetailsHeader":"Contact details","city":"City","supplierCity":"City","companyName":"Company name","customerSiteHeader":"Customer site","description":"Description","title":"cuhu.cotsSupport.plantMasterCotsSupport","dropdownPlaceholder":"Choose one option","supplierDetailsHeader":"Supplier details","selectTypeOfLog":"Select type of log query","streetName":"Street name","emailAddress":"Email address","subTitle":"The purpose of this service is to log a technical issue or product support question related to the Tetra Pak PlantMaster Commercial off-the-shelf (COTS) offering. For other queries please use the standard communication channels","idName":"ID name","urgency":"Urgency","productSupport":"Product support","technicalIssues":"Technical issues","supplierStreetName":"Street name","comments":"Comments","telephone":"Telephone","idHeader":"ID","successMessage":"Thank you! Your query is sent.","submitButtonLabel":"Confirm your details","affectedSystems":"Affected systems","confirmYourDetailsHeader":"Confirm your details","name":"Name","supplierCompanyName":"Company name","softwareVersion":"Software version"}</code>
    <div class="tp-spinner js-tp-spinner d-none">

        <div class="tpatom-loader js-loader">

            <div class="tpatom-loading-anim"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

        </div>

    </div>
    <div class="js-tp-cots-support__content-wrapper"/>

</div>