<div data-module="DatePicker">
    <div 
        class="js-dp" 
        data-from-label="MOCK_INLINE_FROM_LABEL" 
        data-to-label="MOCK_INLINE_TO_LABEL"
        data-error-label="MOCK_INLINE_ERROR_LABEL"
    />
</div>
