<div class="tp-documents tp-card" data-module="Documents">
    <code class="d-none js-documents__config">
        {
            "siteFilterLabel": "Site",
            "lineFilterLabel": "Line / Area"
        }
    </code>
    <div class="tp-documents__installments js-documents__installments" aria-live="polite">

    </div>
</div>
