<div class="tp-card tp-equipment-details js-equipment-details" data-module="EquipmentDetails">
    <code class="d-none js-equipment-details__config">
        {
            "equipmentDetails": "Equipment details",
            "country": "Country",
            "equipmentDescription": "Description",
            "eofsValidFromDate": "PPO 4. EoFS date",
            "constructionYear": "Construction year",
            "line": "Line",
            "manufacturerSerialNumber": "Manufacturer serial number",
            "equipmentInformation": "Equipment information",
            "equipmentType": "Equipment type",
            "functionalLocationDesc": "Functional location description",
            "manufacturer": "Manufacturer",
            "manufacturerModelNumber": "Manufacturer model number",
            "machineSystem": "Machine System",
            "updateEquipmentInformation": "Update Equipment Information",
            "customerWarrantyEndDate": "Warranty MC to cust end date",
            "equipmentCategory": "Equipment category",
            "eofsConfirmationDate": "PPO 3. confirmation of EoFS",
            "additionalDetails": "Additional details",
            "equipmentStatus": "Status",
            "manufacturerCountry": "Country of manufacturer",
            "customerWarrantyStartDate": "Warranty MC to cust start date",
            "site": "Site",
            "material": "Material",
            "superiorEquipment": "Superior equipment",
            "location": "Location",
            "position": "Position",
            "businessType": "Business type"
        }
    </code>

    <div class="tp-spinner">
        <div class="tpatom-loader js-loader">
            <div class="tpatom-loading-anim"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </div>

    <div class="tp-equipment-details__content-wrapper d-none">
        <a href="#" class="tp-equipment-details__btn tp-equipment-details__back-btn" auto_locator="backToEquipmentList">
            <i class="icon icon-Chevron_Left"></i>
            Back to Equipment List
        </a>

        <div class="tp-equipment-details__content js-equipment-details__content"></div>
    </div>
</div>

