<div class="js-maintenance">
   <div class="tp-maintenance-filtering tp-card">
      <code class="d-none js-maintenance-filtering__config">
      {
      "eventsHeading": "Maintenance Events",
      "noEventMsg": "No Events found in selected date range.Please connect our customer support",
      "statusLabel": "status",
      "serviceAgreementLabel":"Service agreement",
      "plannedDurationLabel":"Planned duration",
      "plannedStartLabel":"Planned start",
      "plannedFinishedLabel":"Planned finished",
      "lineLabel":"Line",
      "equipmentLabel":"Equipment",
      "serviceOrderLabel":"Service order",
      "operationShortTextLabel":"Operation short text",
      "siteFilterLabel": "Site",
      "lineFilterLabel": "Line / Area",
      "equipmentFilterLabel": "Equipment / Unit",
      "allOptionText": "All",
      "contactsHeading": "Tetra Pak contact",
      "scheduleHeading": "Maintenance Schedule"
      }
      </code>
      <div class="tp-maintenance-filtering__filters js-maintenance-filtering__filters" aria-live="polite">
         <div class="row no-gutters">
            <div class="tp-maintenance-filtering__filters col-lg">
               <div class="tpatom-dropdown ">
                  <label class="d-block">
                     <span class="tpatom-dropdown__text">Site</span>
                     <select name="site" class="tpatom-dropdown__select-box  tp-maintenance-filtering__site js-maintenance-filtering__site js-maintenance-filtering__event-site">
                        <option selected value="234">Dynamix Dairy Industries Ltd</option>
                        <option value="111">PTC AZUEIRA - LUANDA</option>
                        <option value="777">SCHREIBER DYNAMIX DAIRIES LTD.</option>
                     </select>
                     <i class="tpatom-dropdown__icon icon-Chevron_Down"></i>
                  </label>
               </div>
               <div class="tpatom-dropdown ">
                  <label class="d-block">
                     <span class="tpatom-dropdown__text">Line / Area</span>
                     <select name="line" class="tpatom-dropdown__select-box tp-maintenance-filtering__line js-maintenance-filtering__line">
                        <option value="">All</option>
                        <option selected value="?0100000000000004624">Dynamix Dairy Industries Ltd LN 01</option>
                        <option value="?0100000000000004625">Dynamix Dairy Industries Ltd LN 01</option>
                     </select>
                     <i class="tpatom-dropdown__icon icon-Chevron_Down"></i>
                  </label>
               </div>
               <div class="tpatom-dropdown ">
                  <label class="d-block">
                     <span class="tpatom-dropdown__text">Equipment / Unit</span>
                     <select name="equipment" class="tpatom-dropdown__select-box tp-maintenance-filtering__equipment js-maintenance-filtering__equipment">
                        <option value="">All</option>
                        <option selected value="000000009000028808"> Filling Machine Tetra Pak A3/Flex</option>
                        <option value="000000009060002695">TETRA BRIK MACHINE TBA/22</option>
                        <option value="000000009060002650">TETRA REX TR/7 XH</option>
                        <option value="000000009060002651">TETRA REX TR/7 XH</option>
                        <option value="000000009000028818"> Filling Machine Tetra Pak A3/Flex</option>
                        <option value="000000009060002619">TETRA BRIK MACHINE TBA/22</option>
                        <option value="000000009060002620">TETRA REX TR/7 XH</option>
                        <option value="000000009060002621">TETRA REX TR/7 XH</option>
                     </select>
                     <i class="tpatom-dropdown__icon icon-Chevron_Down"></i>
                  </label>
               </div>
            </div>
            <div class="tp-maintenance-filtering__contact col-lg">
               <div class="tp-maintenance-filtering__contact-inner">
                  <h4>Tetra Pak contact</h4>
                  <div class="js-maintenance-filtering__contact row no-gutters" aria-live="polite">
                     <div class="tp-maintenance-filtering__contact-col col-lg-6 text-center">
                        <div class="tp-maintenance-filtering__contact-icon">
                           <i class="icon-TetraPak"></i>
                        </div>
                        <div class="tp-maintenance-filtering__contact-name semi-bold">Name 1 Lastname 1</div>
                        <div>Packaging</div>
                        <div class="js-maintenance-filtering__contact-mail" data-type="Packaging"><a href="mailTo:user@tetrapak.com">user@tetrapak.com</a></div>
                        <div class="js-maintenance-filtering__contact-phone" data-type="Packaging"><a href="tel:+46 36 733 112233">+46 36 733 112233</a></div>
                     </div>
                     <div class="tp-maintenance-filtering__contact-col col-lg-6 text-center">
                        <div class="tp-maintenance-filtering__contact-icon">
                           <i class="icon-TetraPak"></i>
                        </div>
                        <div class="tp-maintenance-filtering__contact-name semi-bold">Name 2 Lastname 2</div>
                        <div>Processing</div>
                        <div class="js-maintenance-filtering__contact-mail" data-type="Processing"><a href="mailTo:user@tetrapak.com">user@tetrapak.com</a></div>
                        <div class="js-maintenance-filtering__contact-phone" data-type="Processing"><a href="tel:+46 36 733 112233">+46 36 733 112233</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="tp-maintenance-filtering__calendar-wrapper js-maintenance-filtering__calendar-wrapper" aria-live="polite">
         <h2 class="tp-maintenance-filtering__calendar-heading">Maintenance Schedule</h2>
         <div class="tp-cal-cont__calendar-nav clearfix">
            <button type="button" class="tpatom-btn tpatom-btn--calendar js-calendar-nav js-calendar-prev tp-cal-cont__calendar-left float-left" data-action="previous-action">
            <span class="tpatom-btn__text sr-only">cuhu.calendar.prev</span>
            <i class="icon icon-Chevron_Left"></i>
            </button>
            <button type="button" class="tpatom-btn tpatom-btn--calendar js-calendar-nav js-calendar-next tp-cal-cont__calendar-left float-right" data-action="next-action">
            <span class="tpatom-btn__text sr-only">cuhu.calendar.next</span>
            <i class="icon icon-Chevron_Right"></i>
            </button>
         </div>
         <div class="tpatom-input-box ">
            <input type="hidden" name="daterange" class="tpatom-input-box__input  tp-cal-cont__range-selector js-events-date-range-selector" value="2019-05-01 - 2019-06-01">
            <section class="lightpick lightpick--2-columns lightpick--inlined">
               <div class="lightpick__inner">
                  <div class="lightpick__toolbar"><button type="button" class="lightpick__previous-action">←</button><button type="button" class="lightpick__next-action">→</button></div>
                  <div class="lightpick__tooltip" style="visibility: hidden"></div>
                  <div class="lightpick__months">
                     <div>
                        <section class="lightpick__month">
                           <header class="lightpick__month-title-bar">
                              <div class="lightpick__month-title">
                                 <div class="lightpick__select lightpick__select-months">May</div>
                                 <div class="lightpick__select lightpick__select-years">2019</div>
                              </div>
                           </header>
                           <div class="lightpick__days-of-the-week">
                              <div class="lightpick__day-of-the-week" title="Monday">Mon</div>
                              <div class="lightpick__day-of-the-week" title="Tuesday">Tue</div>
                              <div class="lightpick__day-of-the-week" title="Wednesday">Wed</div>
                              <div class="lightpick__day-of-the-week" title="Thursday">Thu</div>
                              <div class="lightpick__day-of-the-week" title="Friday">Fri</div>
                              <div class="lightpick__day-of-the-week" title="Saturday">Sat</div>
                              <div class="lightpick__day-of-the-week" title="Sunday">Sun</div>
                           </div>
                           <div class="lightpick__days">
                              <button type="button" class="lightpick__day is-available is-previous-month" data-time="1556518789773">29</button><button type="button" class="lightpick__day is-available is-previous-month" data-time="1556605189773">30</button><button type="button" class="lightpick__day is-available " data-time="1556691589773">1</button><button type="button" class="lightpick__day is-available " data-time="1556777989773">2</button><button type="button" class="lightpick__day is-available " data-time="1556864389773">3</button><button type="button" class="lightpick__day is-available " data-time="1556950789773">4</button><button type="button" class="lightpick__day is-available " data-time="1557037189773">5</button><button type="button" class="lightpick__day is-available " data-time="1557123589773">6</button><button type="button" class="lightpick__day is-available " data-time="1557209989773">7</button><button type="button" class="lightpick__day is-available " data-time="1557296389773">8</button><button type="button" class="lightpick__day is-available " data-time="1557382789773">9</button><button type="button" class="lightpick__day is-available " data-time="1557469189773">10</button><button type="button" class="lightpick__day is-available " data-time="1557555589773">11</button><button type="button" class="lightpick__day is-available " data-time="1557641989773">12</button><button type="button" class="lightpick__day is-available " data-time="1557728389773">13</button><button type="button" class="lightpick__day is-available " data-time="1557814789773">14</button><button type="button" class="lightpick__day is-available " data-time="1557901189773">15</button><button type="button" class="lightpick__day is-available  is-today" data-time="1557987589773">16</button><button type="button" class="lightpick__day is-available " data-time="1558073989773">17</button><button type="button" class="lightpick__day is-available " data-time="1558160389773">18</button><button type="button" class="lightpick__day is-available " data-time="1558246789773">19</button><button type="button" class="lightpick__day is-available " data-time="1558333189773">20<span class="lightpick__dot"></span></button><button type="button" class="lightpick__day is-available " data-time="1558419589773">21<span class="lightpick__dot"></span></button><button type="button" class="lightpick__day is-available " data-time="1558505989773">22</button><button type="button" class="lightpick__day is-available " data-time="1558592389773">23</button><button type="button" class="lightpick__day is-available " data-time="1558678789773">24</button><button type="button" class="lightpick__day is-available " data-time="1558765189773">25</button><button type="button" class="lightpick__day is-available " data-time="1558851589773">26</button><button type="button" class="lightpick__day is-available " data-time="1558937989773">27</button><button type="button" class="lightpick__day is-available " data-time="1559024389773">28</button><button type="button" class="lightpick__day is-available " data-time="1559110789773">29</button><button type="button" class="lightpick__day is-available " data-time="1559197189773">30</button><button type="button" class="lightpick__day is-available " data-time="1559283589773">31</button>
                              <div></div>
                              <div></div>
                           </div>
                        </section>
                        <section class="lightpick__month">
                           <header class="lightpick__month-title-bar">
                              <div class="lightpick__month-title">
                                 <div class="lightpick__select lightpick__select-months">June</div>
                                 <div class="lightpick__select lightpick__select-years">2019</div>
                              </div>
                           </header>
                           <div class="lightpick__days-of-the-week">
                              <div class="lightpick__day-of-the-week" title="Monday">Mon</div>
                              <div class="lightpick__day-of-the-week" title="Tuesday">Tue</div>
                              <div class="lightpick__day-of-the-week" title="Wednesday">Wed</div>
                              <div class="lightpick__day-of-the-week" title="Thursday">Thu</div>
                              <div class="lightpick__day-of-the-week" title="Friday">Fri</div>
                              <div class="lightpick__day-of-the-week" title="Saturday">Sat</div>
                              <div class="lightpick__day-of-the-week" title="Sunday">Sun</div>
                           </div>
                           <div class="lightpick__days">
                              <div></div>
                              <div></div>
                              <div></div>
                              <div></div>
                              <div></div>
                              <button type="button" class="lightpick__day is-available " data-time="1559369989773">1</button><button type="button" class="lightpick__day is-available " data-time="1559456389773">2</button><button type="button" class="lightpick__day is-available " data-time="1559542789773">3</button><button type="button" class="lightpick__day is-available " data-time="1559629189773">4</button><button type="button" class="lightpick__day is-available " data-time="1559715589773">5</button><button type="button" class="lightpick__day is-available " data-time="1559801989773">6</button><button type="button" class="lightpick__day is-available " data-time="1559888389773">7</button><button type="button" class="lightpick__day is-available " data-time="1559974789773">8</button><button type="button" class="lightpick__day is-available " data-time="1560061189773">9</button><button type="button" class="lightpick__day is-available " data-time="1560147589773">10</button><button type="button" class="lightpick__day is-available " data-time="1560233989773">11</button><button type="button" class="lightpick__day is-available " data-time="1560320389773">12</button><button type="button" class="lightpick__day is-available " data-time="1560406789773">13</button><button type="button" class="lightpick__day is-available " data-time="1560493189773">14</button><button type="button" class="lightpick__day is-available " data-time="1560579589773">15</button><button type="button" class="lightpick__day is-available " data-time="1560665989773">16</button><button type="button" class="lightpick__day is-available " data-time="1560752389773">17</button><button type="button" class="lightpick__day is-available " data-time="1560838789773">18</button><button type="button" class="lightpick__day is-available " data-time="1560925189773">19</button><button type="button" class="lightpick__day is-available " data-time="1561011589773">20</button><button type="button" class="lightpick__day is-available " data-time="1561097989773">21</button><button type="button" class="lightpick__day is-available " data-time="1561184389773">22</button><button type="button" class="lightpick__day is-available " data-time="1561270789773">23</button><button type="button" class="lightpick__day is-available " data-time="1561357189773">24</button><button type="button" class="lightpick__day is-available " data-time="1561443589773">25</button><button type="button" class="lightpick__day is-available " data-time="1561529989773">26</button><button type="button" class="lightpick__day is-available " data-time="1561616389773">27</button><button type="button" class="lightpick__day is-available " data-time="1561702789773">28</button><button type="button" class="lightpick__day is-available " data-time="1561789189773">29</button><button type="button" class="lightpick__day is-available " data-time="1561875589773">30</button>
                           </div>
                        </section>
                     </div>
                     <div>
                        <section class="lightpick__month">
                           <header class="lightpick__month-title-bar">
                              <div class="lightpick__month-title">
                                 <div class="lightpick__select lightpick__select-months">July</div>
                                 <div class="lightpick__select lightpick__select-years">2019</div>
                              </div>
                           </header>
                           <div class="lightpick__days-of-the-week">
                              <div class="lightpick__day-of-the-week" title="Monday">Mon</div>
                              <div class="lightpick__day-of-the-week" title="Tuesday">Tue</div>
                              <div class="lightpick__day-of-the-week" title="Wednesday">Wed</div>
                              <div class="lightpick__day-of-the-week" title="Thursday">Thu</div>
                              <div class="lightpick__day-of-the-week" title="Friday">Fri</div>
                              <div class="lightpick__day-of-the-week" title="Saturday">Sat</div>
                              <div class="lightpick__day-of-the-week" title="Sunday">Sun</div>
                           </div>
                           <div class="lightpick__days">
                              <button type="button" class="lightpick__day is-available " data-time="1561961989773">1</button><button type="button" class="lightpick__day is-available " data-time="1562048389773">2</button><button type="button" class="lightpick__day is-available " data-time="1562134789773">3</button><button type="button" class="lightpick__day is-available " data-time="1562221189773">4</button><button type="button" class="lightpick__day is-available " data-time="1562307589773">5</button><button type="button" class="lightpick__day is-available " data-time="1562393989773">6</button><button type="button" class="lightpick__day is-available " data-time="1562480389773">7</button><button type="button" class="lightpick__day is-available " data-time="1562566789773">8</button><button type="button" class="lightpick__day is-available " data-time="1562653189773">9</button><button type="button" class="lightpick__day is-available " data-time="1562739589773">10</button><button type="button" class="lightpick__day is-available " data-time="1562825989773">11</button><button type="button" class="lightpick__day is-available " data-time="1562912389773">12</button><button type="button" class="lightpick__day is-available " data-time="1562998789773">13</button><button type="button" class="lightpick__day is-available " data-time="1563085189773">14</button><button type="button" class="lightpick__day is-available " data-time="1563171589773">15</button><button type="button" class="lightpick__day is-available " data-time="1563257989773">16</button><button type="button" class="lightpick__day is-available " data-time="1563344389773">17</button><button type="button" class="lightpick__day is-available " data-time="1563430789773">18</button><button type="button" class="lightpick__day is-available " data-time="1563517189773">19</button><button type="button" class="lightpick__day is-available " data-time="1563603589773">20</button><button type="button" class="lightpick__day is-available " data-time="1563689989773">21</button><button type="button" class="lightpick__day is-available " data-time="1563776389773">22</button><button type="button" class="lightpick__day is-available " data-time="1563862789773">23</button><button type="button" class="lightpick__day is-available " data-time="1563949189773">24</button><button type="button" class="lightpick__day is-available " data-time="1564035589773">25</button><button type="button" class="lightpick__day is-available " data-time="1564121989773">26</button><button type="button" class="lightpick__day is-available " data-time="1564208389773">27</button><button type="button" class="lightpick__day is-available " data-time="1564294789773">28</button><button type="button" class="lightpick__day is-available " data-time="1564381189773">29</button><button type="button" class="lightpick__day is-available " data-time="1564467589773">30</button><button type="button" class="lightpick__day is-available " data-time="1564553989773">31</button>
                              <div></div>
                              <div></div>
                              <div></div>
                              <div></div>
                           </div>
                        </section>
                        <section class="lightpick__month">
                           <header class="lightpick__month-title-bar">
                              <div class="lightpick__month-title">
                                 <div class="lightpick__select lightpick__select-months">August</div>
                                 <div class="lightpick__select lightpick__select-years">2019</div>
                              </div>
                           </header>
                           <div class="lightpick__days-of-the-week">
                              <div class="lightpick__day-of-the-week" title="Monday">Mon</div>
                              <div class="lightpick__day-of-the-week" title="Tuesday">Tue</div>
                              <div class="lightpick__day-of-the-week" title="Wednesday">Wed</div>
                              <div class="lightpick__day-of-the-week" title="Thursday">Thu</div>
                              <div class="lightpick__day-of-the-week" title="Friday">Fri</div>
                              <div class="lightpick__day-of-the-week" title="Saturday">Sat</div>
                              <div class="lightpick__day-of-the-week" title="Sunday">Sun</div>
                           </div>
                           <div class="lightpick__days">
                              <div></div>
                              <div></div>
                              <div></div>
                              <button type="button" class="lightpick__day is-available " data-time="1564640389773">1</button><button type="button" class="lightpick__day is-available " data-time="1564726789773">2</button><button type="button" class="lightpick__day is-available " data-time="1564813189773">3</button><button type="button" class="lightpick__day is-available " data-time="1564899589773">4</button><button type="button" class="lightpick__day is-available " data-time="1564985989773">5</button><button type="button" class="lightpick__day is-available " data-time="1565072389773">6</button><button type="button" class="lightpick__day is-available " data-time="1565158789773">7</button><button type="button" class="lightpick__day is-available " data-time="1565245189773">8</button><button type="button" class="lightpick__day is-available " data-time="1565331589773">9</button><button type="button" class="lightpick__day is-available " data-time="1565417989773">10</button><button type="button" class="lightpick__day is-available " data-time="1565504389773">11</button><button type="button" class="lightpick__day is-available " data-time="1565590789773">12</button><button type="button" class="lightpick__day is-available " data-time="1565677189773">13</button><button type="button" class="lightpick__day is-available " data-time="1565763589773">14</button><button type="button" class="lightpick__day is-available " data-time="1565849989773">15</button><button type="button" class="lightpick__day is-available " data-time="1565936389773">16</button><button type="button" class="lightpick__day is-available " data-time="1566022789773">17</button><button type="button" class="lightpick__day is-available " data-time="1566109189773">18</button><button type="button" class="lightpick__day is-available " data-time="1566195589773">19</button><button type="button" class="lightpick__day is-available " data-time="1566281989773">20</button><button type="button" class="lightpick__day is-available " data-time="1566368389773">21</button><button type="button" class="lightpick__day is-available " data-time="1566454789773">22</button><button type="button" class="lightpick__day is-available " data-time="1566541189773">23</button><button type="button" class="lightpick__day is-available " data-time="1566627589773">24</button><button type="button" class="lightpick__day is-available " data-time="1566713989773">25</button><button type="button" class="lightpick__day is-available " data-time="1566800389773">26</button><button type="button" class="lightpick__day is-available " data-time="1566886789773">27</button><button type="button" class="lightpick__day is-available " data-time="1566973189773">28</button><button type="button" class="lightpick__day is-available " data-time="1567059589773">29</button><button type="button" class="lightpick__day is-available " data-time="1567145989773">30</button><button type="button" class="lightpick__day is-available " data-time="1567232389773">31</button><button type="button" class="lightpick__day is-available is-next-month" data-time="1567318789773">1</button>
                           </div>
                        </section>
                     </div>
                  </div>
               </div>
            </section>
         </div>
      </div>
   </div>
   <div class="js-maintenance__events">
      <h4 class="tp-maintenance-events__heading">Maintenance Events</h4>
      <div class="tp-card tp-maintenance-events__wrapper">
         <h3 class="tp-maintenance-events__event-heading">Processing</h3>
         <div class="tp-maintenance-events__event-detail-wrapper">
            <div class="tp-maintenance-events__event-detail-left-container">
               <div class="left__info-data">
                  <div class="left__info-title"> status </div>
                  <div class="left__info-text">
                     Closed
                  </div>
               </div>
               <div class="left__info-data">
                  <div class="left__info-title"> Service agreement </div>
                  <div class="left__info-text">
                  </div>
               </div>
               <div class="left__info-data">
                  <div class="left__info-title"> Planned duration </div>
                  <div class="left__info-text">
                     10.0
                  </div>
               </div>
               <div class="left__info-data">
                  <div class="left__info-title"> Planned start </div>
                  <div class="left__info-text">
                     2019-05-09
                  </div>
               </div>
               <div class="left__info-data">
                  <div class="left__info-title"> Planned finished </div>
                  <div class="left__info-text">
                     2019-05-30
                  </div>
               </div>
            </div>
            <div class="tp-maintenance-events__event-detail-right-container">
               <div class="right__info-data">
                  <div class="right__info-title"> Line </div>
                  <div class="right__info-text">
                     DEC-IMMERGUT  SCH-LIN K
                  </div>
               </div>
               <div class="right__info-data">
                  <div class="right__info-title"> Equipment </div>
                  <div class="right__info-text">
                     000000009000009130
                  </div>
               </div>
               <div class="right__info-data">
                  <div class="right__info-title"> Service order </div>
                  <div class="right__info-text">
                     000062013861
                  </div>
               </div>
               <div class="right__info-data">
                  <div class="right__info-title"> Operation short text </div>
                  <div class="right__info-text">
                     DEL flag
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="tp-card tp-maintenance-events__wrapper">
         <h3 class="tp-maintenance-events__event-heading">Packaging</h3>
         <div class="tp-maintenance-events__event-detail-wrapper">
            <div class="tp-maintenance-events__event-detail-left-container">
               <div class="left__info-data">
                  <div class="left__info-title"> status </div>
                  <div class="left__info-text">
                     Closed
                  </div>
               </div>
               <div class="left__info-data">
                  <div class="left__info-title"> Service agreement </div>
                  <div class="left__info-text">
                  </div>
               </div>
               <div class="left__info-data">
                  <div class="left__info-title"> Planned duration </div>
                  <div class="left__info-text">
                     10.0
                  </div>
               </div>
               <div class="left__info-data">
                  <div class="left__info-title"> Planned start </div>
                  <div class="left__info-text">
                     2016-03-09
                  </div>
               </div>
               <div class="left__info-data">
                  <div class="left__info-title"> Planned finished </div>
                  <div class="left__info-text">
                     2016-03-10
                  </div>
               </div>
            </div>
            <div class="tp-maintenance-events__event-detail-right-container">
               <div class="right__info-data">
                  <div class="right__info-title"> Line </div>
                  <div class="right__info-text">
                     DEC-IMMERGUT  SCH-LIN K
                  </div>
               </div>
               <div class="right__info-data">
                  <div class="right__info-title"> Equipment </div>
                  <div class="right__info-text">
                     000000009000009130
                  </div>
               </div>
               <div class="right__info-data">
                  <div class="right__info-title"> Service order </div>
                  <div class="right__info-text">
                     000062013861
                  </div>
               </div>
               <div class="right__info-data">
                  <div class="right__info-title"> Operation short text </div>
                  <div class="right__info-text">
                     DEL flag
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="tp-pagination js-pagination d-none"
    data-custom-event="eventsListing"
    data-max-visible="7"
    data-module="Pagination"
    aria-live="polite">
  </div>
</div>
