<div class="tp-financial-search" data-module="FinancialSearch">
    <code class="d-none js-financial-search__config">
        {
            "statementOfAccount":"Statement of account",
            "findCustomer":"Find customer",
            "accountNumber":"Account Number",
            "accountService":"Account service",
            "selectStatus":"Select Status",
            "selectDaterange":"Select date range",
            "selectDocType":"Select doc type",
            "selectStatus":"Select Status",
            "placeholderForDocumentNo":"Document No"
        }
    </code>
    <div class="tp-financial-search__select-customer-dropdown js-financial-search__select-customer-dropdown form-group" aria-live="polite">
        <select class="js-financial-search__find-customer">
            <option>1</option>
        </select>
    </div>
</div>
