<div class="tp-inactivity-modal modal tp-modal fade" data-module="InactivityDialog" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-dialog-centered tp-inactivity-modal__dialog">
      <div class="modal-content tp-modal-content">
         <div class="modal-body tp-modal-body tp-inactivity-modal__body">
            <button type="button" class="tp-close-btn icon-Close tpatom-btn tpatom-btn--close tpmol-modal-header__close js-close-btn">
            <span class="sr-only"></span></button>
            <div class="tp-inactivity-modal__message">You have been inactive for a while. Would you like to continue or Logout?</div>
         </div>
         <div class="modal-footer tpmol-modal-footer tp-inactivity-modal__footer">
            <button class="tpatom-btn tp-inactivity-modal__continue js-inactivity-modal__continue tpatom-btn--primary">
            <span class="tpatom-btn__text sly-text">Continue</span>
            </button>
            <button class="tpatom-btn tp-inactivity-modal__logout js-inactivity-modal__logout tpatom-btn--secondary">
            <span class="tpatom-btn__text sly-text">Logout</span>
            </button>
         </div>
      </div>
   </div>
</div>
<button class="js-mock-btn">Mock Button</button>
