<div class="modal tp-modal modal--intro-screen js-intro-modal fade show" id="into-modal" data-module="IntroScreen" aria-modal="true" style="display: block; padding-left: 0px;">
   <input type="hidden" name="onBoardingStatusURL" id="onBoardingStatusURL" value="/apps/settings/wcm/designs/customerhub/jsonData/getStartedServletResponse.json">
   <input type="hidden" name="popupErrorMessage" id="popupErrorMessage" value="cuhu.getstarted.error">
   <input type="hidden" name="popupCloseMessage" id="popupCloseMessage" value="cuhu.getstarted.close">
   <input type="hidden" name="">
   <div class="modal-dialog modal-dialog-centered tp-modal-dialog">
      <div class="modal-content">
         <!-- Modal body -->
         <div class="modal-header">
            <button type="button" class="tp-close-btn icon-Close js-close-btn">
            <span class="sr-only">Close</span></button>
         </div>
         <div class="modal-body">
            <div class="slider single-item intro-slider js-intro-slider">
                <div class="intro-slider__slide">
                    <div class="x-img-responsive">
                        <img src="http://s7g10.scene7.com/is/image/tetrapak/banner?wid=700&amp;hei=300" class="img-responsive js-dynamic-media intro-slider__slider-image initial error" itemprop="image" alt="cuhu.getstarted.businessalttext" data-src_desktop="http://s7g10.scene7.com/is/image/tetrapak/banner?wid=700&amp;hei=300" data-src_mobilep="http://s7g10.scene7.com/is/image/tetrapak/banner?wid=414&amp;hei=177" data-src_mobilel="http://s7g10.scene7.com/is/image/tetrapak/banner?wid=1024&amp;hei=438" data-src="http://s7g10.scene7.com/is/image/tetrapak/banner?wid=700&amp;hei=300" data-was-processed="true">
                    </div>
                    <div class="intro-slider__description">
                        <h3 class="intro-slider__title js-intro-slider__title">cuhu.getstarted.businesstitle</h3>
                        <p>cuhu.getstarted.businessdescription Depart do be so he enough talent. Sociable formerly six but handsome. Up do view time they shot. He concluded disposing provision by questions as situation. Its estimating are motionless day sentiments end. Calling an imagine at forbade. At name no an what like spot. Pressed my by do affixed he studied. </p>
                    </div>
                </div>
                <div class="intro-slider__slide">
                    <div class="x-img-responsive">
                        <img src="http://s7g10.scene7.com/is/image/tetrapak/banner?wid=700&amp;hei=300" class="img-responsive js-dynamic-media intro-slider__slider-image initial error" itemprop="image" alt="cuhu.getstarted.notificationalttext" data-src_desktop="http://s7g10.scene7.com/is/image/tetrapak/banner?wid=700&amp;hei=300" data-src_mobilep="http://s7g10.scene7.com/is/image/tetrapak/banner?wid=414&amp;hei=177" data-src_mobilel="http://s7g10.scene7.com/is/image/tetrapak/banner?wid=1024&amp;hei=438" data-src="http://s7g10.scene7.com/is/image/tetrapak/banner?wid=700&amp;hei=300" data-was-processed="true">
                    </div>
                    <div class="intro-slider__description">
                        <h3 class="intro-slider__title js-intro-slider__title">cuhu.getstarted.notificationtitle</h3>
                        <p>cuhu.getstarted.notificationdescription</p>
                    </div>
                </div>
                <div class="intro-slider__slide">
                    <div class="x-img-responsive">
                        <img src="http://s7g10.scene7.com/is/image/tetrapak/banner?wid=700&amp;hei=300" class="img-responsive js-dynamic-media intro-slider__slider-image initial error" itemprop="image" alt="cuhu.getstarted.experiencealttext" data-src_desktop="http://s7g10.scene7.com/is/image/tetrapak/banner?wid=700&amp;hei=300" data-src_mobilep="http://s7g10.scene7.com/is/image/tetrapak/banner?wid=414&amp;hei=177" data-src_mobilel="http://s7g10.scene7.com/is/image/tetrapak/banner?wid=1024&amp;hei=438" data-src="http://s7g10.scene7.com/is/image/tetrapak/banner?wid=700&amp;hei=300" data-was-processed="true">
                    </div>
                    <div class="intro-slider__description">
                        <h3 class="intro-slider__title js-intro-slider__title">cuhu.getstarted.experiencetitle</h3>
                        <p>cuhu.getstarted.experiencedescription</p>
                    </div>
                </div>
            </div>
         </div>
         <div class="modal-footer">
            <div class="next-button-wrapper">
               <button class="tp-next-btn js-slick-next ">
                  <p class="tp-next-btn__text float-left">cuhu.getstarted.next </p>
                  <i class="tp-next-btn__icon icon-Circle_Arrow_Right"></i>
               </button>
            </div>
            <div class="slider-dots js-slider-dots">
               <ul class="slick-dots" role="tablist" style="">
                  <li class="slick-active" role="presentation"><button type="button" class="tp-dot " role="tab" id="slick-slide-control00" aria-controls="slick-slide00" aria-label="1 of 3" tabindex="0" aria-selected="true"></button></li>
                  <li role="presentation"><button type="button" class="tp-dot " role="tab" id="slick-slide-control01" aria-controls="slick-slide01" aria-label="2 of 3" tabindex="-1"></button></li>
                  <li role="presentation"><button type="button" class="tp-dot " role="tab" id="slick-slide-control02" aria-controls="slick-slide02" aria-label="3 of 3" tabindex="-1"></button></li>
               </ul>
            </div>
            <input type="hidden" id="getStartedBtnI18n" name="getStartedBtnI18n" value="cuhu.getstarted.getstartedtext">
            <input type="hidden" id="nextBtnI18n" name="nextBtnI18n" value="cuhu.getstarted.next">
         </div>
      </div>
   </div>
</div>
