<div data-module="keylines" class="tp-keylines" data-api-url="/content/tetrapak/customerhub/content-components/en/teaser-test/jcr:content/root/responsivegrid/keylines.assets.json" data-packagetype="tetrapak:keylines/tetra-brik">
    <section class="tp-teaser pw-theme--grayscale-white">
        <div class="tp-teaser__heading">

            <h3 class="tpatom-heading tpatom-heading--">Download Keyline</h3>

        </div>


        <code class="d-none js-keylines__config">{"modalTitle":"Select {} Keyline","modalDescription":"Modal Description","selectVolumes":"Select Volumes","selectOpenings":"Select Openings","downloadKeyline":"Download Keyline"}</code>


        <div data-parent-link-title="Download Keyline" class="tp-teaser__details row no-gutters">
            <div class="col-md-12 col-lg-4 teaserpad teaserMargin">
				<span>


				</span>
                <h4 class="title ">Slim</h4>

                <div class="link">
                    <button type="button" class="tpatom-link tp-keylines__download js-tp-keylines__download" data-shape="tetrapak:keylines/tetra-brik/slim" data-shape-name="slim" title="Download" data-link-section="Teaser_Text Hyperlink" data-link-name="Download" data-parent-link-title="Download Keyline:tetrapak:keylines/tetra-brik/slim" data-anchor-type="Text Hyperlink">
						<span class="tpatom-link__text sly-text">
							Download
							<span class="nowrap-text">&NoBreak;<i class="icon icon-Chevron_Right"></i></span>
						</span>
                    </button>
                </div>
            </div>
        </div>

        <div id="keylines_modal" class="modal js-tp-keylines__modal tp-modal fade" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true"><div class="modal-dialog modal-dialog-centered tp-modal-dialog">
            <div class="modal-content tp-my-equipment__modal-content tp-modal-content">
                <div class="modal-header tpmol-modal-header tp-keylines__modal-header">
                    <div>
                        <h2 class="tp-keylines__modal-title">Select {} Keyline</h2>

                        <p class="tp-keylines__modal-subtitle">
                            Modal Description
                        </p>
                    </div>
                    <button type="button" auto_locator="closebtnOverlay" class="tp-close-btn icon-Close_new tpatom-btn tpatom-btn--close tpmol-modal-header__close js-close-btn">
                        <span class="sr-only">Close</span>
                    </button>
                </div>

                <div class="modal-body tp-modal-body tp-my-equipment__modal-body">
                    <div class="tpatom-dropdown ">

                        <div class="d-block position-relative">
                            <select name="volumes" id="volumes" class="tpatom-dropdown__select-box  js-tp-keylines__dropdown js-tp-keylines__volumes square" required="">
                                <option value="">Select Volumes</option>
                                <option value="80">80</option>
                                <option value="1000">1000</option>
                                <option value="1500">1500</option>
                                <option value="2000">2000</option>
                                <option value="180">180</option>
                                <option value="125">125</option>
                                <option value="160">160</option>
                                <option value="500">500</option>
                                <option value="250">250</option>
                                <option value="200">200</option>
                                <option value="300">300</option>
                                <option value="330">330</option>
                                <option value="375">375</option>
                                <option value="750">750</option>
                            </select>
                            <i class="tpatom-dropdown__icon icon-Arrow_Down"></i>
                        </div>
                    </div>
                    
                    <div class="js-keyLinesOpenings">
                        <div class="tpatom-dropdown ">

                            <div class="d-block position-relative">
                                <select name="openings" id="openings" class="tpatom-dropdown__select-box  js-tp-keylines__dropdown js-tp-keylines__openings" required="">
                                    <option value="">Select Openings</option>
                                    <option value="perforation-straight">Perforation Straight</option>
                                    <option value="strawhole">Strawhole</option>
                                    <option value="recap3">ReCap™3</option>
                                    <option value="perforation-wave-03-rf">Perforation Wave 03 RF</option>
                                    <option value="recap2">ReCap™2</option>
                                    <option value="no-opening">No opening</option>
                                    <option value="pulltab">PullTab™</option>
                                    <option value="helicap-27">HeliCap™ 27</option>
                                    <option value="flexicap">FlexiCap™</option>
                                    <option value="recap2-wave03">ReCap™2 Wave03</option>
                                    <option value="perforation">Perforation</option>
                                    <option value="perforation-strawhole">Perforation Strawhole</option>
                                    <option value="strawhole-6mm">Strawhole 6MM</option>
                                    <option value="perforation-wave03">Perforation Wave03</option>
                                </select>
                                <i class="tpatom-dropdown__icon icon-Arrow_Down"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer tpmol-modal-footer tp-keylines__modal-footer">
                    <button type="button" class="tpatom-btn tpatom-btn--primary tp-keylines__modal-download js-tp-keylines__modal-download" disabled="" data-shape-name="square">
                        <span class="tpatom-btn__text tp-keylines__modal-download__text">Download Keyline</span><i class="icon icon-Download"></i>
                    </button>
                </div>
                <div class="tpatom-loader js-loader js-tp-aip-licenses-active__modal-spinner d-none">
                    <div class="tpatom-loading-anim"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
        </div>
        </div>
    </section>
</div>