<div class="col-lg-2 tp-column__sidenav">
   <div class="tp-left-nav" data-module="LeftNavigation">
      <aside class="tp-left-nav__overlay js-left-nav__overlay">
         <nav class="tp-left-nav__container js-left-nav__container">
            <ul class="tp-left-nav__ullist">
               <li class="tp-left-nav__main-heading">
                  <span class="tp-left-nav__main-heading-title">My Tetra Pak</span>
                  <button type="button" class="tp-close-btn icon-Close tp-left-nav__close-btn d-lg-none d-xl-none js-close-btn">
                  <span class="sr-only">${data.closeBtnText}</span></button>
               </li>
               <li class="tpmol-list-item active">
                  <a class="tpatom-list-item__link " href="/content/tetrapak/customerhub/global/dashboard.html" target="_self">
                  <i class="tpatom-list-item__icon icon-Dashboard"></i>
                  <span class="tpatom-list-item__label">Dashboard</span>
                  </a>
               </li>
               <li class="tpmol-list-item ">
                  <a class="tpatom-list-item__link " href="/content/tetrapak/customerhub/global/installed-equipment.html" target="_self">
                  <i class="tpatom-list-item__icon icon-Install"></i>
                  <span class="tpatom-list-item__label">Installed Equipment</span>
                  </a>
               </li>
               <li class="tpmol-list-item ">
                  <a class="tpatom-list-item__link " href="/content/tetrapak/customerhub/global/package-design.html" target="_blank">
                  <i class="tpatom-list-item__icon icon-Packaging_Design"></i>
                  <span class="tpatom-list-item__label">Package Design</span>
                  <i class="tpatom-list-item__external-link icon-External_link"></i>
                  </a>
               </li>
               <li class="tpmol-list-item  ">
                  <input type="checkbox" checked="" class="tpatom-list-item__checkbox">
                  <button type="button" class="tpatom-list-item__btn text-left js-list-item__btn">
                  <i class="tpatom-list-item__icon icon-Cart"></i>
                  <span class="tpatom-list-item__label">Ordering</span>
                  <i class="tpatom-list-item__arrow-down icon-Chevron_Down"></i>
                  <i class="tpatom-list-item__arrow-up icon-Chevron_Up"></i>
                  </button>
                  <ul class="tpmol-list-item__sublist js-list-item__sublist">
                     <li class="tpmol-list-item">
                        <a class="tpatom-list-item__link " href="/content/tetrapak/customerhub/global/ordering/order-history.html" target="_self">
                        <span class="tpatom-list-item__label">Order History</span>
                        </a>
                     </li>
                     <li class="tpmol-list-item">
                        <a class="tpatom-list-item__link " href="/content/tetrapak/customerhub/global/ordering/packaging-material.html" target="_blank">
                        <span class="tpatom-list-item__label">Packaging Material</span>
                        <i class="tpatom-list-item__external-link icon-External_link"></i>
                        </a>
                     </li>
                     <li class="tpmol-list-item">
                        <a class="tpatom-list-item__link " href="/content/tetrapak/customerhub/global/ordering/parts.html" target="_blank">
                        <i class="tpatom-list-item__icon icon-Cart"></i>
                        <span class="tpatom-list-item__label">Parts</span>
                        <i class="tpatom-list-item__external-link icon-External_link"></i>
                        </a>
                     </li>
                  </ul>
               </li>
               <li class="tpmol-list-item ">
                  <a class="tpatom-list-item__link " href="/content/tetrapak/customerhub/global/parts-inventory.html" target="_blank">
                  <i class="tpatom-list-item__icon icon-Inventory"></i>
                  <span class="tpatom-list-item__label">Parts Inventory</span>
                  <i class="tpatom-list-item__external-link icon-External_link"></i>
                  </a>
               </li>
               <li class="tpmol-list-item ">
                  <a class="tpatom-list-item__link " href="/content/tetrapak/customerhub/global/financials.html" target="_self">
                  <i class="tpatom-list-item__icon icon-Financials"></i>
                  <span class="tpatom-list-item__label">Financials</span>
                  </a>
               </li>
               <li class="tpmol-list-item ">
                  <a class="tpatom-list-item__link " href="/content/tetrapak/customerhub/global/training.html" target="_self">
                  <i class="tpatom-list-item__icon icon-Training"></i>
                  <span class="tpatom-list-item__label">Training</span>
                  </a>
               </li>
               <li class="tpmol-list-item ">
                  <a class="tpatom-list-item__link " href="/content/tetrapak/customerhub/global/projects.html" target="_self">
                  <i class="tpatom-list-item__icon icon-Collaboration"></i>
                  <span class="tpatom-list-item__label">Projects</span>
                  </a>
               </li>
               <li class="tpmol-list-item ">
                  <a class="tpatom-list-item__link " href="/content/tetrapak/customerhub/global/contact.html" target="_self">
                  <i class="tpatom-list-item__icon icon-Phone"></i>
                  <span class="tpatom-list-item__label">Contact</span>
                  </a>
               </li>
               <li class="tpmol-list-item ">
                  <a class="tpatom-list-item__link " href="/content/tetrapak/customerhub/global/about-my-tetra-pak.html" target="_self">
                  <i class="tpatom-list-item__icon icon-Info"></i>
                  <span class="tpatom-list-item__label">About My Tetra Pak</span>
                  </a>
               </li>
               <li class="tpmol-list-item ">
                  <a class="tpatom-list-item__link " href="/content/tetrapak/customerhub/global/logout.html" target="_self">
                  <i class="tpatom-list-item__icon icon-Logout"></i>
                  <span class="tpatom-list-item__label">Logout</span>
                  </a>
               </li>
               <a class="tpatom-list-item__link tpatom-list-item__link--customBackground" href="https://www.tetrapak.com" target="_blank">
               <i class="tpatom-list-item__icon icon-TetraPak"></i>
               <span class="tpatom-list-item__label">stickyLabel</span>
               <i class="tpatom-list-item__external-link icon-External_link"></i>
               </a>
            </ul>
         </nav>
      </aside>
   </div>
</div>
