<div class="tp-left-nav" data-module="LeftNavigation">
   <aside class="tp-left-nav__overlay js-left-nav__overlay">
      <nav class="tp-left-nav__container js-left-nav__container">
         <ul class="tp-left-nav__ullist">
            <li class="tp-left-nav__main-heading">
               <span class="tp-left-nav__main-heading-title">My Tetra Pak</span>
               <button type="button" class="tp-close-btn icon-Close tp-left-nav__close-btn d-lg-none d-xl-none js-close-btn">
               <span class="sr-only">Close</span></button>
            </li>
            <li class="tpmol-list-item ">
               <a class="tpatom-list-item__link " href="/content/customerhub-ux/getstarted.ux-preview.html" target="_self">
               <i class="tpatom-list-item__icon icon-Dashboard"></i>
               <span class="tpatom-list-item__label">Dashboard</span>
               </a>
            </li>
            <li class="tpmol-list-item">
               <button type="button" aria-haspopup="true" aria-expanded="false" class="tpatom-list-item__btn text-left js-list-item__btn">
               <i class="tpatom-list-item__icon icon-Install"></i>
               <span class="tpatom-list-item__label">Installed equipment</span>
               <i class="tpatom-list-item__arrow-down icon-Chevron_Down"></i>
               <i class="tpatom-list-item__arrow-up icon-Chevron_Up"></i>
               </button>
               <ul class="tpmol-list-item__sublist js-list-item__sublist collapsible">
                  <li class="tpmol-list-item active">
                     <a class="tpatom-list-item__link " href="/content/tetrapak/customerhub/en/installed-equipment/Maintenance.html" target="_self">
                     <span class="tpatom-list-item__label">Maintenance</span>
                     </a>
                  </li>
               </ul>
            </li>
            <li class="tpmol-list-item ">
               <a class="tpatom-list-item__link " href="https://www.tetrapak.com" target="_blank" rel="noopener noreferrer">
               <i class="tpatom-list-item__icon icon-Packaging_Design"></i>
               <span class="tpatom-list-item__label">Package design</span>
               <i class="tpatom-list-item__external-link icon-External_Link"></i>
               </a>
            </li>
            <li class="tpmol-list-item active">
               <button type="button" aria-haspopup="true" aria-expanded="true" class="tpatom-list-item__btn text-left js-list-item__btn">
               <i class="tpatom-list-item__icon icon-Cart"></i>
               <span class="tpatom-list-item__label">Ordering</span>
               <i class="tpatom-list-item__arrow-down icon-Chevron_Down"></i>
               <i class="tpatom-list-item__arrow-up icon-Chevron_Up"></i>
               </button>
               <ul class="tpmol-list-item__sublist js-list-item__sublist collapsible active">
                  <li class="tpmol-list-item active">
                     <a class="tpatom-list-item__link " href="/content/customerhub-ux/getstarted.ux-preview.html" target="_self">
                     <span class="tpatom-list-item__label">Order History</span>
                     </a>
                  </li>
                  <li class="tpmol-list-item ">
                     <a class="tpatom-list-item__link " href="https://www.tetrapak.com" target="_blank" rel="noopener noreferrer">
                     <span class="tpatom-list-item__label">Packaging material</span>
                     <i class="tpatom-list-item__external-link icon-External_Link"></i>
                     </a>
                  </li>
                  <li class="tpmol-list-item ">
                     <a class="tpatom-list-item__link " href="https://www.tetrapak.com" target="_blank" rel="noopener noreferrer">
                     <span class="tpatom-list-item__label">Parts</span>
                     <i class="tpatom-list-item__external-link icon-External_Link"></i>
                     </a>
                  </li>
               </ul>
            </li>
            <li class="tpmol-list-item ">
               <a class="tpatom-list-item__link " href="https://www.tetrapak.com" target="_blank" rel="noopener noreferrer">
               <i class="tpatom-list-item__icon icon-Inventory"></i>
               <span class="tpatom-list-item__label">Parts inventory</span>
               <i class="tpatom-list-item__external-link icon-External_Link"></i>
               </a>
            </li>
            <li class="tpmol-list-item ">
               <a class="tpatom-list-item__link " href="/content/customerhub-ux/getstarted.ux-preview.html" target="_self">
               <i class="tpatom-list-item__icon icon-Financials"></i>
               <span class="tpatom-list-item__label">Financials</span>
               </a>
            </li>
            <li class="tpmol-list-item ">
               <a class="tpatom-list-item__link " href="/content/customerhub-ux/getstarted.ux-preview.html" target="_self">
               <i class="tpatom-list-item__icon icon-Training"></i>
               <span class="tpatom-list-item__label">Training</span>
               </a>
            </li>
            <li class="tpmol-list-item ">
               <a class="tpatom-list-item__link " href="/content/customerhub-ux/getstarted.ux-preview.html" target="_self">
               <i class="tpatom-list-item__icon icon-Collaboration"></i>
               <span class="tpatom-list-item__label">Projects</span>
               </a>
            </li>
            <li class="tpmol-list-item ">
               <a class="tpatom-list-item__link " href="/content/customerhub-ux/getstarted.ux-preview.html" target="_self">
               <i class="tpatom-list-item__icon icon-Phone"></i>
               <span class="tpatom-list-item__label">Contact</span>
               </a>
            </li>
            <li class="tpmol-list-item ">
               <a class="tpatom-list-item__link " href="/content/customerhub-ux/getstarted.ux-preview.html" target="_self">
               <i class="tpatom-list-item__icon icon-Info"></i>
               <span class="tpatom-list-item__label">My Tetra Pak</span>
               </a>
            </li>
            <li class="tpmol-list-item ">
               <a class="tpatom-list-item__link " href="#" target="_self">
               <i class="tpatom-list-item__icon icon-Logout"></i>
               <span class="tpatom-list-item__label">Log out</span>
               </a>
            </li>
            <a class="tpatom-list-item__link tpatom-list-item__link--customBackground" href="https://www.tetrapak.com" target="_self">
            <i class="tpatom-list-item__icon icon-TetraPak"></i>
            <span class="tpatom-list-item__label">Tetra Pak Home</span>
            </a>
         </ul>
      </nav>
   </aside>
</div>
