<div class="tp-maintenance-filtering tp-card" data-module="MaintenanceFiltering">
   <code class="d-none js-maintenance-filtering__config">
   {
   "eventsHeading": "Maintenance Events",
   "noEventMsg": "No Events found in selected date range.Please connect our customer support",
   "statusLabel": "status",
   "serviceAgreementLabel":"Service agreement",
   "plannedDurationLabel":"Planned duration",
   "plannedStartLabel":"Planned start",
   "plannedFinishedLabel":"Planned finished",
   "lineLabel":"Line",
   "equipmentLabel":"Equipment",
   "serviceOrderLabel":"Service order",
   "operationShortTextLabel":"Operation short text",
   "siteFilterLabel": "Site",
   "lineFilterLabel": "Line / Area",
   "equipmentFilterLabel": "Equipment / Unit",
   "allOptionText": "All",
   "contactsHeading": "Tetra Pak contact",
   "scheduleHeading": "Maintenance Schedule"
   }
   </code>
   <div class="tp-maintenance-filtering__filters js-maintenance-filtering__filters" aria-live="polite">        </div>
   <div class="tp-maintenance-filtering__calendar-wrapper js-maintenance-filtering__calendar-wrapper" aria-live="polite">
   </div>
</div>
