<div class="tp-order-search" data-module="OrderSearch">
    <code class="d-none js-order-search__config">
        {
            "setDatesBtnI18n": "Set Dates",
            "closeBtnI18n": "Close",
            "selectDatesI18n": "Select Dates",
            "dateRangeLabelI18n": "Order History Date Range",
            "orderStatusLabelI18n": "Order Status",
            "deliveryAddressLabelI18n": "Delivery Addresses",
            "searchInputLabelI18n": "Order History Search Input",
            "searchTermPlaceholderI18n": "Purchase order No. / Tetra Pak order No. / Delivery No. / Product ID",
            "resetButtonTextI18n": "Reset",
            "searchButtonTextI18n": "Search orders",
            "allStatusesTextI18n": "All statuses",
            "allAddressesTextI18n": "All delivery address",
            "orderDetailLink": "https://google.com",
            "enabledFields": [
                "status",
                "orderNumber",
                "poNumber",
                "orderDate"
            ]
        }
    </code>
    <div class="tp-order-search__form js-order-search__form form-group" aria-live="polite">
    </div>
    <div class="js-pagination"></div>
</div>
