{{!-- Test template for Ordering Card component --}}
<input type="hidden" id="ordApiUrl" name="ordApiUrl" value="/apps/settings/wcm/designs/customerhub/jsonData/orderingCardData.json">
  <input type="hidden" id="ordPreferencesUrl" name="ordPreferencesUrl" value="/apps/settings/wcm/designs/customerhub/jsonData/orderingPreference.json">
  <input type="hidden" id="ordSavedPreferences" name="ordSavedPreferences" value="orderNumber,poNumber,orderDate,status,contact">
  <input type="hidden" id="ordAllOrdersLink" name="ordAllOrdersLink" value="https://google.com">
  <input type="hidden" id="ordI18nKeys" name="ordI18nKeys" value="{&quot;title&quot;:&quot;cuhu.ordering.title&quot;,&quot;preferencesTitle&quot;:&quot;cuhu.ordering.preferencestitle&quot;,&quot;preferencesDescription&quot;:&quot;cuhu.ordering.preferencesdescription&quot;,&quot;allOrders&quot;:&quot;cuhu.ordering.allorders&quot;,&quot;saveSettings&quot;:&quot;cuhu.ordering.save&quot;,&quot;closeBtn&quot;:&quot;cuhu.ordering.close&quot;,&quot;preferencesBtn&quot;:&quot;cuhu.ordering.preferences&quot;}">
<div class="js-ordering-card">
</div>
