{{!-- Test template for Orderdetail packaging Card component --}}
<code class="d-none js-packaging__config">
        {
            "deliveryOrder": "Delivery Order",
            "deliveryNumber": "Delivery number",
            "productionPlace": "Production Place",
            "requested": "Requested",
            "etd": "ETD",
            "deliveryAddrLabel": "Delivery Address",
            "invoiceAddrLabel": "Invoice Address",
            "kpkPopUpHeading":"Kilo Pack Quantity",
            "kpkPopUpDescription":"Requested KPK",
            "kpkPopUpCloseBtnText":"Close",
            "backToOrderHistory": "Back to order history",
            "orderNo": "Tetra Pak Order number",
            "customerNameLabel": "Customer Name",
            "purchaseOrderNumberLabel": "Purchase order no.",
            "orderDateLabel": "Order date",
            "customerNumberLabel": "Customer Number",
            "customerReferenceLabel": "Customer reference",
            "webRefLabel": "Web ref.",
            "custSupCentreLabel": "Customer support centre",
            "createExcelLabel": "Create Excel",
            "createPdfLabel": "Create PDF",
            "deliveryNumberLabel": "Delivery Number",
            "shippingLabel": "Shipping",
            "trackOrderLabel": "Track Order",
            "totalWeightLabel": "Total weight",
            "totalPricePreVatLabel": "Total pre VAT",
            "totalVatLabel": "VAT"
        }
    </code>
<input type="hidden" id="packagingDeliveryTableCols" name="packagingDeliveryTableCols" value="productName,materialCode,SKU,quantityKPK,price" />
<div class="tp card tp-packaging__delivery js-packaging__delivery-detail">
</div>
