<div class="tp-card tp-aip tp-aip-licenses" data-engineeringlicense-api="https://api-mig.tetrapak.com/productinformation/categories/4820/products?includechildren=true&amp;details=true" data-sitelicense-api="https://api-mig.tetrapak.com/productinformation/categories/4821/products?includechildren=true&amp;details=true" data-submit-api="/content/tetrapak/customerhub/global/en/equipments/tetra-pak-plantmaster-license/_jcr_content/root/responsivegrid/plantmasterlicenses.email.html" data-pingGroup-url = "/bin/customerhub/plant-master-groups" data-module="PlantMasterLicenses">

        <code class="d-none js-aip-licenses__config">{"engineeringLicense":{"userDetailsSectionTitle":"tes","name":"test","namePlaceholder":"test","activationDate":"test","activationDatePlaceholder":"test","licenseSelectionSectionTitle":"test","addUser":"test","comments":"test","submitButton":"test","licenseDescriptions":"test","successMessageHeading":"test","successMessageDescription":"test"},"siteLicense":{"title":"cuhu.plantmasterlicense.site.title","nameOfSite":"cuhu.plantmasterlicense.site.nameOfSite","locationOfSite":"cuhu.plantmasterlicense.site.locationOfSite","application":"cuhu.plantmasterlicense.site.application","applicationDropdown":[{"applicationName":"cuhu.plantmasterlicense.site.application.babyFood"},{"applicationName":"cuhu.plantmasterlicense.site.application.beverage"},{"applicationName":"cuhu.plantmasterlicense.site.application.beverageMixing"},{"applicationName":"cuhu.plantmasterlicense.site.application.cheese"}],"applicationDropdownPlaceholder":"cuhu.plantmasterlicense.site.applicationDropdownPlaceholder","plcType":"cuhu.plantmasterlicense.site.plcType","hmiType":"cuhu.plantmasterlicense.site.hmiType","mesType":"cuhu.plantmasterlicense.site.mesType","numberOfBasicUnit":"cuhu.plantmasterlicense.site.numberOfBasicUnit","basicUnitToolTipHeading":"cuhu.plantmasterlicense.site.basicUnitToolTipHeading","basicUnitToolTipDescription":"cuhu.plantmasterlicense.site.basicUnitToolTipDescription","numberOfAdvancedUnit":"cuhu.plantmasterlicense.site.numberOfAdvancedUnit","advancedUnitToolTipHeading":"cuhu.plantmasterlicense.site.advancedUnitToolTipHeading","advancedUnitToolTipDescription":"cuhu.plantmasterlicense.site.advancedUnitToolTipDescription","submitButtonLabel":"cuhu.plantmasterlicense.site.submitButtonLabel","successMessage":"cuhu.plantmasterlicense.site.successMessage","impInformationTitle":"cuhu.plantmasterlicense.site.impInformationTitle","impInformationDescription":"cuhu.plantmasterlicense.site.impInformationDescription","siteLicensesDescriptionHeading":"cuhu.plantmasterlicense.site.siteLicensesDescriptionHeading","inputFieldError":"cuhu.plantmasterlicense.site.inputfielderror","numberFieldError":"cuhu.plantmasterlicense.site.numberFieldError","selectFieldError":"cuhu.plantmasterlicense.site.selectfielderror"}}</code>

        <div class="js-aip-licenses__wrapper">
            <div class="tp-aip__header-wrapper">
                <h2 class="tp-aip__heading">

                </h2>
            </div>

            <nav class="tp-aip__nav">
                <div class="nav nav-tabs tp-aip__nav-tabs" role="tablist">
                    <a class="tp-aip__nav-link nav-item nav-link" id="nav-engineering-licenses-tab" data-toggle="tab" href="#nav-engineering-licenses" role="tab" aria-controls="nav-engineering-licenses" aria-selected="false"></a>
                    <a class="tp-aip__nav-link nav-item nav-link active" id="nav-site-licenses-tab" data-toggle="tab" href="#nav-site-licenses" role="tab" aria-controls="nav-site-licenses" aria-selected="true">Request site license</a>
                    <a class="tp-aip__nav-link nav-item nav-link active" id="nav-active-licenses-tab" data-toggle="tab" href="#nav-active-licenses" role="tab" aria-controls="nav-active-licenses" aria-selected="true">Active licenses</a>
                </div>
            </nav>

            <div class="tp-spinner js-tp-spinner d-none">

  <div class="tpatom-loader js-loader">

  <div class="tpatom-loading-anim"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

  </div>

            </div>

            <div class="tp-aip__tab-content tab-content js-aip-licenses__contentWrapper" id="nav-tabContent">
                <div class="tab-pane fade js-tp-aip-licenses__eng active show" id="nav-engineering-licenses" role="tabpanel" aria-labelledby="nav-engineering-licenses-tab">

                    <div class="tp-aip-licenses-eng">
                        <div class="tp-aip-licenses-eng__subheading">
                            <p>
                                Please remember that the users specified who will be working in engineering projects must have completed first the relevant training in the PLC, HMI or MES platforms they have a license for. Information about the licenses
                            </p>
                        </div>

                        <div class="tp-aip-licenses-eng__form js-tp-aip-licenses-eng__form">
                            <form enctype="multipart/form-data" novalidate="">
                                <div class="js-tp-aip-licenses-eng__holders-wrap"></div>

                                <button type="button" class="tpatom-btn tpatom-btn--transparent tp-aip-licenses-eng__add-user js-tp-aip-licenses-eng__add-user">
                                    <i class="icon icon-Circle_Plus"></i><span class="tpatom-btn__text">Add another user</span>
                                </button>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="js-tp-aip-licenses__form-element tp-aip-licenses__form-element">


                                            <div class="form-group">

                                                <label for="engineeringLicensesComments" auto_locator="engineeringLicensesCommentsText">test</label>



                                                <textarea type="textarea" class="tpatom-textarea-box__input" id="engineeringLicensesComments" name="engineeringLicensesComments" auto_locator="engineeringLicensesCommentsInput"></textarea>


                                            </div>

                                        </div>

                                        <div class="js-tp-aip-licenses__form-element tp-aip-licenses__form-element">






                                            <button class="tpatom-btn tp-aip-licenses-site__btn js-tp-aip-licenses-eng__btn tpatom-btn--primary">
                                                <span class="tpatom-btn__text sly-text">Submit request</span>

                                                <i class="icon icon-Chevron_Right"></i>

                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="js-tp-aip-licenses-eng__description"><div class="tp-aip-licenses__info-card tp-aip-licenses-eng__info-card">
                            <div class="row">
                                <div class="col-lg-9">
                                    <h2 class="tp-aip-licenses__info-card-title">Licenses descriptions</h2>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="tp-aip-licenses-eng__txt-block">
                                        <p class="tp-aip-licenses-eng__txt-block-title">Tetra Pak® PlantMaster - AVEVA MES SI-kit, Engineering License</p>
                                        <p><strong>Description</strong></p>
                                        <p>The solution builds on AVEVA model-driven MES approach, a digital and graphical modelling of work processes and operational activities. The result is a new level of sustainability and reusability which is a key enabler for sharing best project practices and standardisation of processes across lines, plants and multi-site enterprises.</p>
                                        <p>Tetra Pak AVEVA MES SI-Kit is a library of configurable templates assembled from both solutions developed from Tetra Pak, and solutions available from AVEVA Model Driven MES best practices, for example interfacing to ERP, CIP, reception, etc. Using the templates reduces engineering efforts, and lowers cost of ownership by reducing customized coding.</p>
                                        <p>Included in this release is an installable package with Reception and CIP templates, with the possibility to also use AVEVA Recipe Management. The package consists of ready to use UI forms and Skelta workflows to enable an efficient implementation.</p>
                                        <p><strong>Key benefits</strong></p>
                                        <ul>
                                            <li>Maximise profitability, quality, and compliance in manufacturing by digitally managing the business rules and capturing information for all operational activities and plant events in real time.</li>
                                            <li>Work process-centric and Model-Driven approach further reduces the time to value and cost of ownership of manufacturing execution system (MES) deployments and multi-site roll outs through operational processes for standardisation to continuously improve operational efficiency and the return on MES investment.</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="tp-aip-licenses-eng__txt-block">
                                        <p class="tp-aip-licenses-eng__txt-block-title">Tetra Pak® PlantMaster - Production Control - Siemens TIA Platform SI-kit, Engineering License</p>
                                        <p><strong>Description</strong></p>
                                        <p>Process Control - Siemens TIA Platform SI-kit is&nbsp;<em>Tetra Pak PlantMaster libraries implemented in Siemens TIA standard automation platform&nbsp;</em><strong>&nbsp;</strong></p>
                                        <p><strong>Key Benefit</strong></p>
                                        <ul>
                                            <li>Full&nbsp;control of your operational parameters throughout your plant</li>
                                            <li>Processing know-how included in equipment and plant automation solutions</li>
                                            <li>Standard structure of code enables easier maintenance &amp; troubleshooting</li>
                                            <li>Increase process stability and reliability by reducing risk of human error</li>
                                            <li>Increase production flexibility with optimized utilization of your production lines</li>
                                            <li>Collect correct and relevant data through our expertise in process design</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="tp-aip-licenses-eng__txt-block">
                                        <p class="tp-aip-licenses-eng__txt-block-title">Tetra Pak® PlantMaster - Production Integrator SI-kit, Engineering License</p>
                                        <p><strong>Description</strong></p>
                                        <p>Production Integrator is a platform for the MES layer and is therefore prepared for communicating both with the Production Control layer and the ERP layer.</p>
                                        <p>It consists of 6 modules, Production Management, Quality Control, Reports, Traceability, Integration and Environment. 4 of these (Production Management, Quality Control, Reports and Traceability) are very close to each other because they all take data from the same databases and are presented in the same application.</p>
                                        <p><strong>Key benefits</strong></p>
                                        <ul>
                                            <li>One integrated solution designed for Food and Beverage industry with wide installed base.</li>
                                            <li>It is easy to implement with years of Tetra Pak automation and production experience.&nbsp;</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-9">
                                    <div class="tp-aip-licenses-eng__txt-block">
                                        <p class="tp-aip-licenses-eng__txt-block-title">Tetra Pak® PlantMaster - User Interface for Aveva System Platform SI-kit, Engineering License</p>
                                        <p><strong>Description</strong></p>
                                        <p>User Interface for Aveva System Platform SI-kit is&nbsp;<em>Tetra Pak PlantMaster user interface implemented in Aveva System platform software</em></p>
                                        <p><strong>Key Benefit</strong></p>
                                        <ul>
                                            <li>Intuitive, task-based navigation allows for safe operation and quick response time</li>
                                            <li>Easy to learn and understand makes it easy for new operators to work with the system</li>
                                            <li>Right information at the right time secures that the correct decision is taken</li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div></div>
                    </div>

                </div>

                <div class="tab-pane fade tp-aip-licenses__site js-tp-aip-licenses__site active show" id="nav-site-licenses" role="tabpanel" aria-labelledby="nav-site-licenses-tab">

    <div class="tp-aip-licenses__info-card">
        <div class="row">
            <div class="col-lg-6 tp-aip-licenses__form">
                <h2 class="tp-aip-licenses__form-title">Request site license</h2>
                <form enctype="multipart/form-data">
                    <div class="js-tp-aip-licenses__form-element tp-aip-licenses__form-element">


    <div class="form-group">

    <label for="nameOfSite" auto_locator="nameOfSiteText">Name of site</label>



    <input type="text" class="tpatom-input-box__input" id="nameOfSite" name="nameOfSite" required="" auto_locator="nameOfSiteInput">
    <div data-error-msg="Please fill this field" class="error-msg js-tp-aip-licenses__error-msg-required">Please fill this field</div>

    </div>

                    </div>
                    <div class="js-tp-aip-licenses__form-element tp-aip-licenses__form-element">


    <div class="form-group">

    <label for="locationOfSite" auto_locator="locationOfSiteText">Location of site</label>



    <input type="text" class="tpatom-input-box__input" id="locationOfSite" name="locationOfSite" required="" auto_locator="locationOfSiteInput">
    <div data-error-msg="Please fill this field" class="error-msg js-tp-aip-licenses__error-msg-required">Please fill this field</div>

    </div>

                    </div>
                    <div class="js-tp-aip-licenses__form-element tp-aip-licenses__form-element">

    <div class="tpatom-dropdown form-group">

    <label for="application" auto_locator="applicationText">Application</label>



    <div class="d-block position-relative">
        <select name="application" id="application" class="tpatom-dropdown__select-box " auto_locator="applicationInput" required="">

                <option value="">Select from list</option>


                <option value="cuhu.plantmasterlicense.site.application.babyFood">Baby food</option>

                <option value="cuhu.plantmasterlicense.site.application.beverage">Beverage – Basic</option>

                <option value="cuhu.plantmasterlicense.site.application.beverageMixing">Beverage – Mixing</option>

                <option value="cuhu.plantmasterlicense.site.application.cheese">Cheese</option>

        </select>
        <i class="tpatom-dropdown__icon icon-Chevron_Down"></i>
    </div>

        <div data-error-msg="Please select this field" class="error-msg ">Please select this field</div>
    </div>

                    </div>
                    <div class="js-tp-aip-licenses__form-element tp-aip-licenses__form-element">


    <div class="form-group">

    <label for="plc-type" auto_locator="plc-typeText">PLC type (Optional)</label>



    <input type="text" class="tpatom-input-box__input" id="plc-type" name="plc-type" auto_locator="plc-typeInput">


    </div>

                    </div>
                    <div class="js-tp-aip-licenses__form-element tp-aip-licenses__form-element">


    <div class="form-group">

    <label for="hmi-type" auto_locator="hmi-typeText">HMI type (Optional)</label>



    <input type="text" class="tpatom-input-box__input" id="hmi-type" name="hmi-type" auto_locator="hmi-typeInput">


    </div>

                    </div>
                    <div class="js-tp-aip-licenses__form-element tp-aip-licenses__form-element">


    <div class="form-group">

    <label for="mes-type" auto_locator="mes-typeText">MES type (Optional)</label>



    <input type="text" class="tpatom-input-box__input" id="mes-type" name="mes-type" auto_locator="mes-typeInput">


    </div>

                    </div>
                    <div class="js-tp-aip-licenses__form-element tp-aip-licenses__form-element">


    <div class="form-group">

    <label for="basic-unit" auto_locator="basic-unitText">Number Of Basic Unit</label>

        <button data-html="true" type="button" class="dashed-border" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<span class='tooltip-header'>Basic Unit tooltip heading</span><span>Standard Tanks, Cleaning tanks (CIP), buffer tanks, fermentation tanks, Reception units, Dispatch units, Aseptic tanks, Homogenizers, Separators</span>">
        <i class="icon icon-Info"></i>
    </button>



    <input type="text" class="tpatom-input-box__input" id="basic-unit" name="basic-unit" required="" auto_locator="basic-unitInput">
    <div data-error-msg="Please fill this field" class="error-msg js-tp-aip-licenses__error-msg-required">Please fill this field</div>

    </div>

                    </div>
                    <div class="js-tp-aip-licenses__form-element tp-aip-licenses__form-element">


    <div class="form-group">

    <label for="advanced-unit" auto_locator="advanced-unitText">Number Of Advanced Unit</label>

        <button data-html="true" type="button" class="dashed-border" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<span class='tooltip-header'>Advanced unit tooltip heading</span><span>Pasteurizers, Sterilizers, Filling machines, Cheese VATs, Dryer, Evaporator, Mixing tanks, CIP Station (count the tanks as basic units), Freezer, Sugar Dissolver, Sheddaring machines</span>">
        <i class="icon icon-Info"></i>
    </button>



    <input type="text" class="tpatom-input-box__input" id="advanced-unit" name="advanced-unit" required="" auto_locator="advanced-unitInput">
    <div data-error-msg="Please fill this field" class="error-msg js-tp-aip-licenses__error-msg-required">Please fill this field</div>

    </div>

                    </div>
                    <div class="js-tp-aip-licenses__form-element tp-aip-licenses__form-element">






  <button class="tpatom-btn tp-aip-licenses-site__btn js-tp-aip-licenses-site__btn tpatom-btn--primary">
      <span class="tpatom-btn__text sly-text">Submit Request</span>

        <i class="icon icon-Chevron_Right"></i>

  </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tp-aip-licenses__info-card">
        <div class="row">
            <div class="col-lg-9">
                <h2>Important Information</h2>
                <p>A unit is an independent grouping of standard equipment (e.g. pumps, valves) usually centred around a major piece of processing equipment, such as a mixing tank, pasteurizer, filling machine or reactor. Units are grouped into two areas, basic and advanced. The main reason for doing this grouping is that the complexity, risks and engineering effort of the automation program are very different in these two areas. *
Exception: Tetra Pak Branded Equipment(e.g.Tetra Pak Filling Machine A3, Tetra Pak Pasteurizer, Tetra Pak Aseptic tank, Tetra Therm Lacta, Tetra Therm VTIS, Tetra Pak Blender, Tetra Pak Indirect UHT, Tetra Pak Casomatic, Tetra Pak CIP Unit, Tetra Pak Cheese Vats OST) is to be treated as Basic units.*Transfer lines are not to be counted in the licensing model(e.g.transfer from tank to tank, with or without a cooler)</p>
            </div>
        </div>
    </div>
    <div class="js-tp-aip-licenses__site-description"><div class="tp-aip-licenses__info-card">
    <div class="row">
        <div class="col-lg-9">
            <h2 class="tp-aip-licenses__info-card-title">Site License Description heading</h2>
            <p>This is a site license or per project delivery providing the right based on End-User License Agreement to access a library of configurable templates assembled from both solutions developed from Tetra Pak, and solutions available from AVEVA Model Driven MES best practices, consisting of ready to use UI forms and workflows to reduce engineering efforts, and lower cost of ownership by reducing customized coding. &nbsp;Besides, this allows licensed user to access software documentation, hotfixes and FAQ support.</p>
<p>Included in release v1.1 is an installable package with Reception and CIP templates, with the possibility to also use AVEVA Recipe Management.</p>
<p>The solution builds on AVEVA model-driven MES approach, a digital and graphical modelling of work processes and operational activities. The result is a new level of sustainability and reusability which is a key enabler for sharing best project practices and standardisation of processes across lines, plants and multi-site enterprises.</p>
        </div>
    </div>
</div></div>

                </div>

                <div class="tab-pane fade tp-aip-licenses__site js-tp-aip-licenses__active active show" id="nav-active-licenses" role="tabpanel" aria-labelledby="nav-active-licenses-tab">

                    <div class="tp-aip-licenses-active">
                        <div class="tp-aip__accordion" id="tp-aip-licenses__accordion">
                            <div class="tp-aip__acc-item">
                                <button class="tp-aip__btn-link btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#tp-aip-licenses__acc1" aria-expanded="false" aria-controls="collapseOne">
                                    <span>Annual engineering licenses1</span>
                                    <i class="icon icon-Arrow_Down"></i>
                                </button>
                                <div id="tp-aip-licenses__acc1" class="tp-aip__collapse collapse" aria-labelledby="headingOne" data-parent="#tp-aip-licenses__accordion" style="">
                                    <div class="js-tp-aip-licenses-active__eng"><div class="tp-aip__acc-item-body">
                                        <div class="tp-aip__table-wrap">
                                            <table class="tp-aip__table">
                                                <thead class="tp-aip__thead-primary">
                                                <tr>
                                                    <th>First Name1</th>
                                                    <th>Surname1</th>
                                                    <th>Licence Key	1</th>
                                                    <th>Platform1</th>
                                                    <th>Start date	1</th>
                                                    <th>End date1</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>Andreas</td>
                                                    <td>Grönwall-Mikkelsen</td>
                                                    <td>1234567890000</td>
                                                    <td>A123456-0123456</td>
                                                    <td>2020-01-01</td>
                                                    <td>2020-01-01</td>
                                                    <td>
                                                        <button type="button" class="tpatom-btn tpatom-btn--transparent tp-aip-licenses-active__btn js-tp-aip-licenses-active__withdraw" data-platform="A123456-0123456" data-surname="Grönwall-Mikkelsen" data-first-name="Andreas">
                                                            <span class="tpatom-btn__text tp-aip-licenses-active__btn__text">Withdraw1</span>
                                                        </button>
                                                    </td>
                                                </tr>






                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tp-aip__acc-item">
                                <button class="tp-aip__btn-link btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#tp-aip-licenses__acc2" aria-expanded="false" aria-controls="collapseOne">
                                    <span>Site licenses1</span>
                                    <i class="icon icon-Arrow_Down"></i>
                                </button>
                                <div id="tp-aip-licenses__acc2" class="tp-aip__collapse collapse" aria-labelledby="headingOne" data-parent="#tp-aip-licenses__accordion" style="">
                                    <div class="js-tp-aip-licenses-active__site"><div class="tp-aip__acc-item-body">
                                        <div class="tp-aip__table-wrap">
                                            <table class="tp-aip__table">
                                                <thead class="tp-aip__thead-primary">
                                                <tr>
                                                    <th>Licence Key	1</th>
                                                    <th>Platform1</th>
                                                    <th>Country1</th>
                                                    <th>Site1</th>
                                                    <th>Date</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>1234567890000</td>
                                                    <td>A123456-0123456</td>
                                                    <td>Sweden</td>
                                                    <td>Lorem ipsum dolor</td>
                                                    <td>2020-01-01</td>
                                                </tr>




                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="tp-aip-licenses-active__modal" class="modal js-tp-aip-licenses-active__modal tp-modal fade" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true"><div class="modal-dialog modal-dialog-centered tp-modal-dialog" auto_locator="">
                            <div class="modal-content tp-my-equipment__modal-content tp-modal-content js-tp-aip-licenses-active__modal-content">
                                <div class="modal-header tpmol-modal-header">
                                    <div class="tp-aip-licenses-active__modal-header" auto_locator="headlineOverlay">
                                        <h2>Confirm license  withdrawal1</h2>
                                    </div>
                                    <button type="button" auto_locator="closebtnOverlay" class="tp-close-btn icon-Close_new tpatom-btn tpatom-btn--close tpmol-modal-header__close js-close-btn">
                                        <span class="sr-only">Close</span>
                                    </button>
                                </div>
                                <div class="modal-body tp-modal-body tp-my-equipment__modal-body">
                                    <div class="tp-aip-licenses-active__info-line">
                                        <div class="tp-aip-licenses-active__info-cell-1">First Name1</div>
                                        <div class="tp-aip-licenses-active__info-cell-2">Andreas</div>
                                    </div>
                                    <div class="tp-aip-licenses-active__info-line">
                                        <div class="tp-aip-licenses-active__info-cell-1">Surname1</div>
                                        <div class="tp-aip-licenses-active__info-cell-2">Grönwall-Mikkelsen</div>
                                    </div>
                                    <div class="tp-aip-licenses-active__info-line">
                                        <div class="tp-aip-licenses-active__info-cell-1">Platform1</div>
                                        <div class="tp-aip-licenses-active__info-cell-2">A123456-0123456</div>
                                    </div>
                                    <div class="tp-aip-licenses-active__form-element">
                                        <div class="tpatom-textarea-box">
                                            <label class="tpatom-textarea-box__text" for="comments">Comment to Tetra Pak (Optional)1</label>

                                            <textarea name="comments" id="comments" class="tpatom-textarea-box__input js-tp-aip-licenses-active__input" maxlength="300"></textarea>
                                        </div>
                                    </div>
                                    <p>Are you sure you want to withdraw this license?1</p>
                                    <div class="js-equipment-details__error tp-aip-licenses-active__error d-none">
                                        Something Went Wrong
                                        Failure of sent data, please try again
                                    </div>
                                </div>
                                <div class="modal-footer tpmol-modal-footer">
                                    <button type="button" class="tpatom-btn tpatom-btn--primary tp-aip-licenses-active__confirm js-tp-aip-licenses-active__confirm" data-platform="A123456-0123456" data-surname="Grönwall-Mikkelsen" data-first-name="Andreas">
                                        <span class="tpatom-btn__text tp-aip-licenses-active__confirm__text">Yes - Confirm withdrawal</span>
                                    </button>
                                    <button type="button" class="tpatom-btn tpatom-btn--secondary tp-aip-licenses-active__cancel js-tp-aip-licenses-active__cancel">
                                        <span class="tpatom-btn__text tp-aip-licenses-active__cancel__text">No - Go back to listing</span>
                                    </button>
                                </div>
                                <div class="tpatom-loader js-loader js-tp-aip-licenses-active__modal-spinner d-none">
                                    <div class="tpatom-loading-anim"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>