<div class="tp-card tp-aip tp-aip-trainings" data-trainings-api="https://api-mig.tetrapak.com/productinformation/categories/4466/products?includechildren=true&amp;details=true" data-submit-api="https://api-mig.tetrapak.com/productinformation/categories/4466/products?includechildren=true&amp;details=true" data-module="PlantMasterTrainings">

    <code class="d-none js-aip-trainings__config">{&#34;comments&#34;:&#34;cuhu.plantmastertrainings.comments&#34;,&#34;inputErrorMsg&#34;:&#34;cuhu.plantmastertrainings.inputErrorMsg&#34;,&#34;subject&#34;:&#34;apache&#34;,&#34;trainingMaterialHandouts&#34;:&#34;cuhu.plantmastertrainings.trainingMaterialHandouts&#34;,&#34;principleObjectives&#34;:&#34;cuhu.plantmastertrainings.principleObjectives&#34;,&#34;confirmationText&#34;:&#34;I confirm the Named Users receiving the training fulfill  the prerequisites listed in the training description&#34;,&#34;title&#34;:&#34;cuhu.plantmastertrainings.title&#34;,&#34;body&#34;:&#34;apache&#34;,&#34;courseDescription&#34;:&#34;cuhu.plantmastertrainings.courseDescription&#34;,&#34;successMessage&#34;:&#34;cuhu&#34;,&#34;knowledgeRequirements&#34;:&#34;cuhu.plantmastertrainings.knowledgeRequirements&#34;,&#34;preferredLocation&#34;:&#34;cuhu.plantmastertrainings.preferredLocation&#34;,&#34;maxParticipants&#34;:&#34;cuhu.plantmastertrainings.maxParticipants&#34;,&#34;duration&#34;:&#34;cuhu.plantmastertrainings.duration&#34;,&#34;submitButtonLabel&#34;:&#34;cuhu.plantmastertrainings.submit&#34;,&#34;targetGroups&#34;:&#34;cuhu.plantmastertrainings.targetGroups&#34;,&#34;availableTrainings&#34;:&#34;cuhu.plantmastertrainings.availableTrainings&#34;,&#34;learningHistory&#34;:&#34;cuhu.plantmastertrainings.learningHistory&#34;,&#34;noOfParticipants&#34;:&#34;cuhu.plantmastertrainings.noOfParticipants&#34;,&#34;salutation&#34;:&#34;apache&#34;,&#34;preferredDate&#34;:&#34;cuhu.plantmastertrainings.preferredDate&#34;}</code>

    <div class="tp-spinner js-tp-spinner d-none">

        <div class="tpatom-loader js-loader">

            <div class="tpatom-loading-anim">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

        </div>

    </div>

    <div class="js-aip-trainings__wrapper d-none">
        <div class="tp-aip__header-wrapper">
            <h2 class="tp-aip__heading">
                Tetra Pak® PlantMaster trainings
            </h2>
        </div>

        <nav class="tp-aip__nav">
            <div class="nav nav-tabs tp-aip__nav-tabs" role="tablist">
                <a class="tp-aip__nav-link nav-item nav-link active" id="nav-available-trainings-tab" data-toggle="tab" href="#nav-available-trainings" role="tab" aria-controls="nav-available-trainings" aria-selected="true">Available automation engineering trainings</a>
                <a class="tp-aip__nav-link nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Learning history</a>
            </div>
        </nav>

        <div class="tp-aip__tab-content tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-available-trainings" role="tabpanel" aria-labelledby="nav-available-trainings-tab">
                <div class="js-aip-trainings__accordion"></div>
            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.</div>
        </div>
    </div>
</div>
