<div class="tp-card tp-aip tp-aip-trainings" data-trainings-api="https://api-dev.tetrapak.com/productinformation/categories/4466/products?includechildren=true&amp;details=true" data-learning-history-api="https://api-dev.tetrapak.com/application/vmware/learningplatform/transcripts" data-submit-api="/content/tetrapak/customerhub/global/en/automation-digital/PlantMaster_Trainings/_jcr_content/root/responsivegrid/plantmastertrainings.email.html" data-email="test@tetrapak.com" data-src_ispublishenvironment="true" data-module="PlantMasterTrainings" data-group-servlet-url="/content/tetrapak/customerhub/global/en/automation-digital/PlantMaster_Trainings/jcr:content/root/responsivegrid/plantmastertrainings.plantmaster.json">

    <code class="d-none js-aip-trainings__config">{"consentLabel":"cuhu.plantmastertraining.lh.userText","trainingNameLabel":"cuhu.plantmastertraining.lh.userText","inputErrorMsg":"cuhu.plantmastertraining.lh.userText","confirmationText":"cuhu.plantmastertraining.lh.userText","diplomatext":"cuhu.plantmastertraining.lh.diplomaText","inputFormatErrorMsg":"cuhu.plantmastertraining.lh.userText","formTitle":"cuhu.plantmastertraining.lh.userText","title":"cuhu.plantmastertrainings.title","maxParticipants":"cuhu.plantmastertrainings.maxParticipants","duration":"cuhu.plantmastertrainings.duration","accreditedtext":"cuhu.plantmastertraining.lh.accreditedText","usertext":"cuhu.plantmastertraining.lh.userText","completiondatetext":"cuhu.plantmastertraining.lh.completionDateText","preferredLocationLabel":"cuhu.plantmastertrainings.preferredLocation","authenticatedtext":"cuhu.plantmastertraining.lh.authenticatedText","confirmationErrorMsg":"cuhu.plantmastertraining.lh.userText","hours":"cuhu.plantmastertraining.lh.userText","preferredDatePlaceholder":"cuhu.plantmastertraining.lh.userText","trainingMaterialHandouts":"cuhu.plantmastertrainings.trainingMaterialHandouts","principleObjectives":"cuhu.plantmastertrainings.principleObjectives","courseDescription":"cuhu.plantmastertrainings.courseDescription","successMessage":"cuhu.plantmastertraining.lh.userText","knowledgeRequirements":"cuhu.plantmastertrainings.knowledgeRequirements","learninghistorytext":"cuhu.plantmastertraining.lh.learningHistoryText","submitButtonLabel":"cuhu.plantmastertraining.lh.userText","targetGroups":"cuhu.plantmastertrainings.targetGroups","availableTrainings":"cuhu.plantmastertrainings.availableTrainings","noOfParticipantsLabel":"cuhu.plantmastertrainings.noOfParticipants","itemtext":"cuhu.plantmastertraining.lh.itemText","preferredDateLabel":"cuhu.plantmastertrainings.preferredDate","numberFieldErrorMsg":"cuhu.plantmastertraining.lh.userText"}</code>
    <div class="tp-spinner js-tp-spinner d-none">

        <div class="tpatom-loader js-loader">

            <div class="tpatom-loading-anim">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

        </div>

    </div>

    <div class="js-aip-trainings__wrapper">
        <div class="tp-aip__header-wrapper">
            <h1 class="tp-aip__heading"> Tetra Pak® PlantMaster trainings </h1>
        </div>
        <nav class="tp-aip__nav">
            <div class="nav nav-tabs tp-aip__nav-tabs" role="tablist">
                <a class="tp-aip__nav-link nav-item nav-link active" id="nav-available-trainings-tab" data-toggle="tab" href="#nav-available-trainings" role="tab" aria-controls="nav-available-trainings" aria-selected="true">Available automation engineering trainings</a>
                <a class="tp-aip__nav-link nav-item nav-link" id="nav-learning-tab" data-toggle="tab" href="#nav-learning-history" role="tab" aria-controls="nav-learning-history" aria-selected="false">Learning history</a>
            </div>
        </nav>
        <div class="tp-aip__tab-content tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="nav-available-trainings" role="tabpanel" aria-labelledby="nav-available-trainings-tab">
                <div class="js-aip-trainings__accordion">
                    <div class="tp-aip__accordion" id="tp-aip-trainings__accordion">
                        <div class="tp-aip__acc-item">
                            <button class="tp-aip__btn-link btn btn-link" type="button" data-toggle="collapse" data-target="#tp-aip-trainings__acc0" aria-expanded="false" aria-controls="collapseOne">
                                <span>Tetra Pak® PlantMaster - User Interface Rockwell FTView Platform</span>
                                <i class="icon icon-Arrow_Down"></i>
                            </button>
                            <div id="tp-aip-trainings__acc0" class="tp-aip__collapse collapse" aria-labelledby="headingOne" data-parent="#tp-aip-trainings__accordion">
                                <div class="tp-aip__acc-item-body">
                                    <div class="tp-aip__acc-txt-block">
                                        <p class="tp-aip__acc-block-title">Course description</p>
                                        <div>
                                            <p>The training will go through technologies used to create a project with FtView Platform, according to Tetra Pak PlantMaster – Common Structure and the Tetra Pak PlantMaster templates and how to use them.</p>
                                            <p>Course Contents:</p>
                                            <ul>
                                                <li>System overview</li>
                                                <li>System Integrator-Kit templates</li>
                                                <li>Creating TPM objects</li>
                                                <li>Efficient structuring of UI code in a comprehensible way for easy reproduction and maintenance</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="tp-aip__acc-txt-block">
                                        <p class="tp-aip__acc-block-title">Principle objectives</p>
                                        <div>On completion of this training, the participant will be able to: <br>• Understand the Tetra Pak PlantMaster System Integration-Kit for FTView platform, what it consists of, how it is handled and how to use it in the best way. The User Interface application (UI) structure recommended by FTView reference package intends to structure UI code in a comprehensible, and systematic way to ensure easy reproduction and maintenance. <br>
                                        </div>
                                    </div>
                                    <div class="tp-aip__acc-txt-block">
                                        <p class="tp-aip__acc-block-title">Target Groups</p>
                                        <p>Automation engineers (system integrators)</p>
                                    </div>
                                    <div class="tp-aip__acc-txt-block">
                                        <p class="tp-aip__acc-block-title">Duration</p>
                                        <p>8 User</p>
                                    </div>
                                    <div class="tp-aip__acc-txt-block">
                                        <p class="tp-aip__acc-block-title">Max. Participants</p>
                                        <p>8</p>
                                    </div>
                                    <div class="tp-aip__acc-txt-block">
                                        <p class="tp-aip__acc-block-title">Knowledge requirements</p>
                                        <div>• CT-29001 Tetra Pak® PlantMaster Common Structure</div>
                                    </div>
                                </div>
                                <div class="tp-aip__acc-item-form">
                                    <p class="tp-aip__acc-block-title">User</p>
                                    <form class="tp-aip-trainings__form js-aip-trainings__form" enctype="multipart/form-data" novalidate="">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="js-aip__form-element tp-aip__form-element tp-aip__form-element-sm">
                                                    <label class="tpatom-input-box__text" for="noOfParticipants-0">Number of participants</label>
                                                    <div class="tpatom-input-box">
                                                        <input type="number" name="noOfParticipants-0" id="noOfParticipants-0" class="tpatom-input-box__input" min="1" required="">
                                                    </div>
                                                    <div class="error-msg js-aip__error-msg-required">User</div>
                                                    <div class="error-msg js-aip__error-msg-invalid-number">User</div>
                                                </div>
                                                <div class="js-aip__form-element tp-aip__form-element tp-aip__form-element-md">
                                                    <label class="tpatom-input-box__text" for="preferredLocation-0">Preferred Location</label>
                                                    <div class="tpatom-input-box">
                                                        <input type="text" name="preferredLocation-0" id="preferredLocation-0" class="tpatom-input-box__input" maxlength="300" required="">
                                                    </div>
                                                    <div class="error-msg js-aip__error-msg-required">User</div>
                                                </div>
                                                <div class="js-aip__form-element tp-aip__form-element tp-aip__form-element-md">
                                                    <label class="tpatom-input-box__text" for="preferredDate-0">Preferred Date</label>
                                                    <div class="tpatom-input-box">
                                                        <input type="text" name="preferredDate-0" id="preferredDate-0" class="tpatom-input-box__input js-aip-trainings__date-input" placeholder="User" required="">
                                                    </div>
                                                    <div class="error-msg js-aip__error-msg-required">User</div>
                                                    <div class="error-msg js-aip__error-msg-format">User</div>
                                                </div>
                                                <div class="js-aip__form-element tp-aip__form-element">
                                                    <div class="tpatom-textarea-box">
                                                        <textarea name="comments-0" id="comments-0" class="tpatom-textarea-box__input"></textarea>
                                                    </div>
                                                    <div class="error-msg js-aip__error-msg-required">User</div>
                                                </div>
                                                <div class="js-aip__form-element tp-aip__form-element tp-aip__form-checkbox-group">
                                                    <div class="tpatom-checkbox js-aip-trainings__consent-cb">
                                                        <label class="tpatom-checkbox__label clearfix" for="tpatomCheckconsent-0">
                                                            <input type="checkbox" class="tpatom-checkbox__input float-left" id="tpatomCheckconsent-0" value="true">
                                                            <i class="tpatom-checkbox__icon icon icon-Tick float-left"></i>
                                                            <span class="tpatom-checkbox__text js-checkbox__text">User</span>
                                                        </label>
                                                    </div>
                                                    <div class="error-msg js-aip__error-msg-required">User</div>
                                                </div>
                                                <div class="tpatom-input-box">
                                                    <input type="hidden" name="trainingName-0" id="trainingName-0" class="tpatom-input-box__input" value="Tetra Pak® PlantMaster - User Interface Rockwell FTView Platform">
                                                </div>
                                                <div class="tpatom-input-box">
                                                    <input type="hidden" name="trainingId-0" id="trainingId-0" class="tpatom-input-box__input" value="00054002">
                                                </div>
                                                <button type="submit" class="tpatom-btn tpatom-btn--primary tp-aip-trainings__submit js-aip__submit">
                                                    <span class="tpatom-btn__text">User</span>
                                                    <i class="icon icon-Chevron_Right"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tp-aip__acc-item-confirm d-none">
                                    <i class="icon icon-Circle_filled_Tick"></i> User
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="nav-learning-history" role="tabpanel" aria-labelledby="nav-learning-tab">
                <div class="js-aip-trainings__accordion js-aip-trainings__accordion-learning">
                    <div class="tp-aip__accordion" id="tp-aip-trainings__learning-accordion">
                        <div class="tp-aip__acc-item">
                            <button class="tp-aip__btn-link btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#tp-aip-trainings__learning-acc1" aria-expanded="false">
                                <span>Diploma</span>
                                <i class="icon icon-Arrow_Down"></i>
                            </button>
                            <div id="tp-aip-trainings__learning-acc1" class="tp-aip__collapse collapse" data-parent="#tp-aip-trainings__learning-accordion" style="">
                                <div class="tp-aip__acc-item-body">
                                    <div class="tp-aip__table-wrap">
                                        <table class="tp-aip__table">
                                            <thead class="tp-aip__thead-primary">
                                            <tr>
                                                <th>User</th>
                                                <th>Item</th>
                                                <th>Completion Date</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>ZiargusStudent Two</td>
                                                <td>TP AVEVA MES SI-Kit v 1.1</td>
                                                <td>2021-09-09T11:30:31Z</td>
                                            </tr>
                                            <tr>
                                                <td>RFCStudent One</td>
                                                <td>WSP training v6.6 (CT29003)</td>
                                                <td>2021-09-03T11:00:32Z</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tp-aip__acc-item">
                            <button class="tp-aip__btn-link btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#tp-aip-trainings__learning-acc2" aria-expanded="false">
                                <span>Accredited</span>
                                <i class="icon icon-Arrow_Down"></i>
                            </button>
                            <div id="tp-aip-trainings__learning-acc2" class="tp-aip__collapse collapse" data-parent="#tp-aip-trainings__learning-accordion" style="">
                                <div class="tp-aip__acc-item-body">
                                    <div class="tp-aip__table-wrap">
                                        <table class="tp-aip__table">
                                            <thead class="tp-aip__thead-primary">
                                            <tr>
                                                <th>User</th>
                                                <th>Item</th>
                                                <th>Completion Date</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>ZiargusStudent Two</td>
                                                <td>TP AVEVA MES SI-Kit v 1.1</td>
                                                <td>2021-09-09T11:30:31Z</td>
                                            </tr>
                                            <tr>
                                                <td>RFCStudent One</td>
                                                <td>WSP training v6.6 (CT29003)</td>
                                                <td>2021-09-03T11:00:32Z</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tp-aip__acc-item">
                            <button class="tp-aip__btn-link btn btn-link" type="button" data-toggle="collapse" data-target="#tp-aip-trainings__learning-acc3" aria-expanded="false">
                                <span>Authenticated</span>
                                <i class="icon icon-Arrow_Down"></i>
                            </button>
                            <div id="tp-aip-trainings__learning-acc3" class="tp-aip__collapse collapse" data-parent="#tp-aip-trainings__learning-accordion">
                                <div class="tp-aip__acc-item-body">
                                    <div class="tp-aip__table-wrap">
                                        <table class="tp-aip__table">
                                            <thead class="tp-aip__thead-primary">
                                            <tr>
                                                <th>User</th>
                                                <th>Item</th>
                                                <th>Completion Date</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>ZiargusStudent Two</td>
                                                <td>TP AVEVA MES SI-Kit v 1.1</td>
                                                <td>2021-09-09T11:30:31Z</td>
                                            </tr>
                                            <tr>
                                                <td>RFCStudent One</td>
                                                <td>WSP training v6.6 (CT29003)</td>
                                                <td>2021-09-03T11:00:32Z</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
