<div class="tp-card tp-rk" data-src_isPublishEnvironment="true" data-module="RebuildingKits">
    <!--i18ns Keys -->
    <code class="d-none js-rk__config">{"filtersSelected":"cuhu.rebuildingkits.filtersSelected","country":"cuhu.rebuildingkits.country"}</code>

    <!--API List -->
    <div class="d-none js-rk-api" data-country-api="https://api-dev.tetrapak.com/installedbase/rebuildingkits/countries"
        data-rklist-api="https://api-dev.tetrapak.com/installedbase/rebuildingkits">
    </div>

    <!--Loading -->
    <div class="tp-spinner d-none">

        <div class="tpatom-loader js-loader">

            <div class="tpatom-loading-anim">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

        </div>

    </div>

    <!--CSV download URL -->
    <input type="hidden" id="downloadCsvServletUrl" name="downloadCsvServletUrl" value="/" />

    <!-- Content Container -->
    <div class="tp-filtered-table"></div>
</div>
