<div class="rebuildingkitdetails">
    <div class="tp-card tp-rk-detail"
        data-languages-list="ar,bg,hr,cs,da,nl,en,et,fi,fr,de,el,hu,is,id,it,ja,ko,lv,ro,sr,sk,sl,sv,th,tr,vi"
        data-preferred-language-api="/content/tetrapak/customerhub/global/en/package-design/rk/jcr:content/root/responsivegrid/rebuildingkitdetails.languagePreference.json"
        data-src_ispublishenvironment="true"
        data-rebuilding-details-api="https://api-dev.tetrapak.com/installedbase/rebuildingkits"
        data-cti-api="https://api-dev.tetrapak.com/technicalbulletins" data-module="Rebuildingkitdetails">
        <code
            class="d-none js-rebuilding-details__config">{"implementationStatusDate":"abcde","reportImplementationStatus":"abcde","equipmentMaterial":"abcde","moreLanguage":"abcde","implDeadline":"abcde","rkCTI":"abcde","rkType":"abcde","rkInformation":"abcde","rkPlanningInformation":"abcde","serviceOrder":"abcde","equipmentStructure":"abcde","rkAndEquipmentInformation":"abcde","viewInEBizButton":"View in E-business","refReleaseDate":"abcde","rkFiles":"abcde","rkHandling":"abcde","functionalLocation":"abcde","countryLocation":"abcde","rkStatus":"abcde","rkNote":"abcde","rkNoteValue":"abcde","statusEquipmentType":"abcde"}</code>
        <div class="tp-rk-detail__content-wrapper">
            <div class="tp-rebuilding-details__content js-rebuilding-details__content"></div>
            <div id="rk-preferred-language-modal" class="modal js-language-modal tp-modal" tabindex="-1"
                aria-hidden="true" role="dialog">
                <div class="modal-dialog modal-dialog-centered tp-modal-dialog">
                    <div class="modal-content tp-modal-content">
                        <div class="modal-header tpmol-modal-header">
                            <div class="js-language-header tp-language-header tp-rk-preferred-language__modal-header"
                                auto_locator="headlineOverlay">cuhu.preferredlanguage.title</div>
                            <button type="button" auto_locator="closebtnOverlay"
                                class="tp-close-btn icon-Close_new tpatom-btn tpatom-btn--close tpmol-modal-header__close js-close-btn">
                                <span class="sr-only">Close</span>
                            </button>
                        </div>
                        <div class="modal-footer tpmol-modal-footer tp-rk-preferred-language__modal-footer">
                            <button type="button"
                                class="tpatom-link tpatom-link--primary js-apply-language tp-apply-language"
                                title="Apply Language">
                                <span class="tpatom-link__text sly-text">cuhu.preferredlanguage.apply</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tp-rebuilding-details__details-row">
                <div class="tp-rebuilding-details__info-card js-rebuilding-details__info-card">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <h3 auto_locator="sectionTitle">Title</h3>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 tp-rebuilding-details__lang-link">
                            <i class="icon icon-PDF"></i>
                            <a href="#" class="js-rk-preferred-language">Dutch</a>
                        </div>
                    </div>
                    <div class="tp-rebuilding-details__ctidocs">
                        <h4 class="tp-rebuilding-details__details-row-title" auto_locator="subsectionTitle">undefined
                        </h4>
                        <ul class="tp-rebuilding-details__cti-list section">
                            <li>
                                <i class="icon icon-PDF"></i>
                                <a href="https://api-dev.tetrapak.com/technicalbulletins/TP_2018_31_04/cti?langcode=en&amp;apikey=KHEnJskMGGogWrJAD3OyUI3VwerCLSDQ"
                                    target="_blank" class="tp-rebuilding-details__cti-file">
                                    English</a>
                            </li>
                            <li>
                                <i class="icon icon-PDF"></i>
                                <a href="https://api-dev.tetrapak.com/technicalbulletins/TP_2018_31_04/cti?langcode=nl&amp;apikey=KHEnJskMGGogWrJAD3OyUI3VwerCLSDQ"
                                    target="_blank" class="tp-rebuilding-details__cti-file">
                                    Dutch</a>
                            </li>
                        </ul>

                        <a href="#" class="js-langcode">More Languages</a>
                        <div id="rk-cti-language-modal" class="modal js-rk-cti-modal tp-modal" tabindex="-1"
                            role="dialog" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-dialog-centered tp-modal-dialog">
                                <div class="modal-content tp-modal-content">
                                    <div class="modal-header tpmol-modal-header">
                                        <div class="js-language-header tp-language-header tp-rk-preferred-language__modal-header"
                                            auto_locator="headlineOverlay">Customer Technical Information</div>
                                        <button type="button" auto_locator="closebtnOverlay"
                                            class="tp-close-btn icon-Close_new tpatom-btn tpatom-btn--close tpmol-modal-header__close js-close-btn">
                                            <span class="sr-only">Close</span>
                                        </button>
                                    </div>
                                    <div class="modal-body tp-modal-body tp-rk-cti-language__modal-body js-rk-cti">
                                        <ul class="tp-rebuilding-details__cti-list">
                                            <li>
                                                <i class="icon icon-PDF"></i>
                                                <a href="https://api-dev.tetrapak.com/technicalbulletins/TP_2018_31_04/cti?langcode=en&amp;apikey=KHEnJskMGGogWrJAD3OyUI3VwerCLSDQ"
                                                    target="_blank" class="tp-rebuilding-details__cti-file">
                                                    English
                                                </a>
                                            </li>
                                            <li>
                                                <i class="icon icon-PDF"></i>
                                                <a href="https://api-dev.tetrapak.com/technicalbulletins/TP_2018_31_04/cti?langcode=nl&amp;apikey=KHEnJskMGGogWrJAD3OyUI3VwerCLSDQ"
                                                    target="_blank" class="tp-rebuilding-details__cti-file">
                                                    Dutch
                                                </a>
                                            </li>
                                        </ul>

                                        <ul class="tp-rebuilding-details__cti-list bottom">
                                            <li>
                                                <i class="icon icon-PDF"></i>
                                                <a href="https://api-dev.tetrapak.com/technicalbulletins/TP_2018_31_04/cti?langcode=sv&amp;apikey=KHEnJskMGGogWrJAD3OyUI3VwerCLSDQ"
                                                    target="_blank" class="tp-rebuilding-details__cti-file">
                                                    Swedish</a>
                                            </li>
                                            <li>
                                                <i class="icon icon-PDF"></i>
                                                <a href="https://api-dev.tetrapak.com/technicalbulletins/TP_2018_31_04/cti?langcode=de&amp;apikey=KHEnJskMGGogWrJAD3OyUI3VwerCLSDQ"
                                                    target="_blank" class="tp-rebuilding-details__cti-file">
                                                    German</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tp-rebuilding-details__contentbottom js-rebuilding-details__contentbottom"></div>
        </div>
        <div class="tp-spinner d-none">
            <div class="tpatom-loader js-loader">
                <div class="tpatom-loading-anim">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>