<div class="tp-card tp-rk" data-src_isPublishEnvironment="true" data-module="RebuildingKits">
    <!--i18ns Keys -->
    <code class="d-none js-rk__config">{"filtersSelected":"cuhu.rebuildingkits.filtersSelected","country":"cuhu.rebuildingkits.country"}</code>

    <!--API List -->
    <div class="d-none js-rk-api" data-country-api="https://api-dev.tetrapak.com/installedbase/rebuildingkits/countries"
        data-rklist-api="https://api-dev.tetrapak.com/installedbase/rebuildingkits">
    </div>

    <!--Loading -->
    <div class="tp-spinner d-none">

        <div class="tpatom-loader js-loader">

            <div class="tpatom-loading-anim">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>

        </div>

    </div>

    <!-- Content Container -->
    <div class="d-none tp-rk-content">
        <div class="tp-rk__header-wrapper">
            <h2 class="tp-rk__heading js-rk__heading">
                Rebuilding kits
            </h2>
            <!-- Actions -->
            <div class="tp-rk__header-action-wrapper">
                <div class="tp-rk__header-mobile">
                    <button class="tp-next-btn js-mobile-header-actions">
                    <i class="icon icon-Three_Dot">
                    </i>
                    </button>
                </div>
                <div class="tp-rk__header-actions">
                    <div class="tp-rk__header-actionicons">
                        <div class="tp-rk__action-button second js-rk__customise-table-action">
                            <i class="icon icon-Hide action-icon"></i>
                            <span class="tpatom-btn__text tp-rk__header-action-text">Customise Table</span>
                        </div>
                        <input type="hidden" id="downloadCsvServletUrl" name="downloadCsvServletUrl" value="${data.downloadCsvServletUrl}" />

                        <button class="tpatom-btn tp-button-link js-rk__export-csv-action tpatom-btn--primary tp-rk__action-button">

                            <i class="icon icon-Excel action-icon"></i>

                            <span class="tpatom-btn__text sly-text">Export to CSV</span>
                        </button>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="tp-rk__filter-wrapper">
            <div class="tp-rk__filter-chips">
                <button type="button" data-label="Country +"
                    class="tp-rk__country-button-filter tp-rk__filter-button active" auto_locator="countryFilter">
                    Country: 1
                </button>
                <button
                        type="button"
                        data-label="MOCK_VALUE" 
                        class="tp-rk__functionalLocation-filter tp-rk__filter-button"
                        auto_locator="functionalLocationFilter"
                    >
                        MOCK_VALUE
                    </button>
                    <button
                        type="button"
                        data-label="MOCK_VALUE"
                        class="tp-rk__equipmentDescription-filter tp-rk__filter-button"
                        auto_locator="equipmentDescriptionFilter"
                    >
                        MOCK_VALUE
                    </button>
                    <button
                        type="button"
                        data-label="MOCK_VALUE"
                        class="tp-rk__serialNumber-filter tp-rk__filter-button"
                        auto_locator="serialNumberFilter"
                    >
                        MOCK_VALUE
                    </button>
                    <button
                        type="button"
                        data-label="MOCK_VALUE"
                        class="tp-rk__rkNumber-filter tp-rk__filter-button"
                        auto_locator="rkNumberFilter"
                    >
                        MOCK_VALUE
                    </button>
                    <button
                        type="button"
                        data-label="MOCK_VALUE"
                        class="tp-rk__rkDesc-filter tp-rk__filter-button"
                        auto_locator="rkDescFilter"
                    >
                        MOCK_VALUE
                    </button>
                    <button
                        type="button"
                        data-label="MOCK_VALUE"
                        class="tp-rk__implStatus-filter tp-rk__filter-button"
                        auto_locator="implStatusFilter"
                    >
                        MOCK_VALUE
                    </button>
                    <button
                        type="button"
                        data-label="MOCK_VALUE"
                        class="tp-rk__machineSystem-filter tp-rk__filter-button tp-rk__filter-button-all"
                        auto_locator="machineSystemFilter"
                    >
                        MOCK_VALUE
                    </button>
                    <button
                        type="button"
                        data-label="MOCK_VALUE"
                        class="tp-rk__equipmentStatus-filter tp-rk__filter-button tp-rk__filter-button-all"
                        auto_locator="equipmentStatusFilter"
                    >
                        MOCK_VALUE
                    </button>
                    <button
                        type="button"
                        data-label="MOCK_VALUE"
                        class="tp-rk__rkType-filter tp-rk__filter-button tp-rk__filter-button-all"
                        auto_locator="rkTypeFilter"
                    >
                        MOCK_VALUE
                    </button>
                    <button
                        type="button"
                        data-label="MOCK_VALUE"
                        class="tp-rk__rkStatus-filter tp-rk__filter-button tp-rk__filter-button-all"
                        auto_locator="rkStatusFilter"
                    >
                        MOCK_VALUE
                    </button>
                    <button
                        type="button"
                        data-label="MOCK_VALUE"
                        class="tp-rk__rkHandling-filter tp-rk__filter-button tp-rk__filter-button-all"
                        auto_locator="rkHandlingFilter"
                    >
                        MOCK_VALUE
                    </button>
                    <button
                        type="button"
                        data-label="MOCK_VALUE"
                        class="tp-rk__implDeadline-filter tp-rk__filter-button tp-rk__filter-button-all"
                        auto_locator="implDeadlineFilter"
                    >
                        MOCK_VALUE
                    </button>
                    <button
                        type="button"
                        data-label="MOCK_VALUE"
                        class="tp-rk__plannedDate-filter tp-rk__filter-button tp-rk__filter-button-all"
                        auto_locator="plannedDateFilter"
                    >
                        MOCK_VALUE
                    </button>
                    <button
                        type="button"
                        data-label="MOCK_VALUE"
                        class="tp-rk__releaseDate-filter tp-rk__filter-button tp-rk__filter-button-all"
                        auto_locator="releaseDateFilter"
                    >
                        MOCK_VALUE
                    </button>
                    <button
                        type="button"
                        data-label="MOCK_VALUE"
                        class="tp-rk__generalRkNumber-filter tp-rk__filter-button tp-rk__filter-button-all"
                        auto_locator="generalRkNumberFilter"
                    >
                        MOCK_VALUE
                    </button>
            </div>
            <div>
                <button data-show-label="${'cuhu.rebuildingkits.showAllFilters' @i18n}" data-hide-label="${'cuhu.rebuildingkits.hideFilters' @i18n}" class="tpatom-btn tp-rk__show-hide-button js-tp-rk__show-hide-all-button" auto_locator="hideFilter">
                    <i class="icon icon-Filter"></i>
                    <span class="tpatom-btn__text sly-text">${"cuhu.rebuildingkits.showAllFilters" @i18n}</span>
                </button>
                <button class="tpatom-btn tp-rk__remove-button js-tp-rk__remove-all-button" auto_locator="removeFilter" hidden>
                    <i class="icon icon-My_Euipment_Bin_X"></i>
                    <span class="tpatom-btn__text sly-text">${"cuhu.rebuildingkits.removeAllFilters" @i18n}</span>
                </button>
            </div>
        </div>
        <div class="tp-rk__search-count"></div>
        <div id="rk-filter-modal" class="modal js-filter-modal tp-modal fade tp-rk__filter-form" tabindex="-1"
            aria-hidden="true" role="dialog">
        </div>
        <div class="tp-rk__table_wrapper">
            <div class="tp-rk__table custom-scrollbar-horizontal on">
                <table class="tpmol-table tp-rk__table-summary__table js-rk__table-summary__table">
                    <thead class="tpmol-table__head tp-rk__table-summary__head js-rk__table-summary__head">
                        <tr
                            class="tpmol-table__rowheading tp-rk__table-summary__row tp-rk__table-summary__rowheading js-rk__table-summary__rowheading">
                            <th data-key="lineCode"
                                class="tpmol-table__cellheading tp-rk__table-summary__cell tp-rk__table-summary__cellheading js-rk__table-summary__cellheading js-rk__table-summary__cellheading--0">
                                Functional location
                                <button data-html="true" type="button" class="dashed-border" data-toggle="tooltip"
                                    data-placement="bottom" title="" data-original-title="<span class='tooltip-header'>Functional location</span>
                                                <span>Functional location</span>">
                                    <i class="icon icon-Info"></i>
                                </button>
                            </th>
                            <th data-key="equipmentDesc"
                                class="tpmol-table__cellheading tp-rk__table-summary__cell tp-rk__table-summary__cellheading js-rk__table-summary__cellheading js-rk__table-summary__cellheading--1">
                                Description
                                <button data-html="true" type="button" class="dashed-border" data-toggle="tooltip"
                                    data-placement="bottom" title="" data-original-title="<span class='tooltip-header'>Description</span>
                                                <span>Equipment description</span>">
                                    <i class="icon icon-Info"></i>
                                </button>
                            </th>
                            <th data-key="serialNumber"
                                class="tpmol-table__cellheading tp-rk__table-summary__cell tp-rk__table-summary__cellheading js-rk__table-summary__cellheading js-rk__table-summary__cellheading--2">
                                Serial number
                                <button data-html="true" type="button" class="dashed-border" data-toggle="tooltip"
                                    data-placement="bottom" title=""
                                    data-original-title="<span class='tooltip-header'>Serial number</span>
                                                <span>Must match to what is plated on physical equipment at your site.</span>">
                                    <i class="icon icon-Info"></i>
                                </button>
                            </th>
                            <th data-key="rkNumber"
                                class="tpmol-table__cellheading tp-rk__table-summary__cell tp-rk__table-summary__cellheading js-rk__table-summary__cellheading js-rk__table-summary__cellheading--3">
                                RK number
                                <button data-html="true" type="button" class="dashed-border" data-toggle="tooltip"
                                    data-placement="bottom" title="" data-original-title="<span class='tooltip-header'>RK number</span>
                                                <span>RK number</span>">
                                    <i class="icon icon-Info"></i>
                                </button>
                            </th>
                            <th data-key="rkDesc"
                                class="tpmol-table__cellheading tp-rk__table-summary__cell tp-rk__table-summary__cellheading js-rk__table-summary__cellheading js-rk__table-summary__cellheading--4">
                                RK description
                            </th>
                            <th data-key="implStatus"
                                class="tpmol-table__cellheading tp-rk__table-summary__cell tp-rk__table-summary__cellheading js-rk__table-summary__cellheading js-rk__table-summary__cellheading--5">
                                Impl status
                            </th>
                        </tr>
                    </thead>
                    <tbody class="tpmol-table__body tp-rk__table-summary__body">
                        <tr class="tpmol-table__row tp-rk__table-summary__row">
                            <td data-key="lineCode"
                                class="tpmol-table__cell tp-rk__table-summary__cell js-rk__table-summary__cell js-rk__table-summary__cell--0">
                                DEC-IMMERGUT SCH-LIN B
                            </td>
                            <td data-key="equipmentDesc"
                                class="tpmol-table__cell tp-rk__table-summary__cell js-rk__table-summary__cell js-rk__table-summary__cell--1">
                                TP A3/F-010V TBA1000B PT DIMC8 WAVE3
                            </td>
                            <td data-key="serialNumber"
                                class="tpmol-table__cell tp-rk__table-summary__cell js-rk__table-summary__cell js-rk__table-summary__cell--2">
                                21207/00109
                            </td>
                            <td data-key="rkNumber"
                                class="tpmol-table__cell tp-rk__table-summary__cell js-rk__table-summary__cell js-rk__table-summary__cell--3">
                                1284002-0781
                            </td>
                            <td data-key="rkDesc"
                                class="tpmol-table__cell tp-rk__table-summary__cell js-rk__table-summary__cell js-rk__table-summary__cell--4">
                                Pressure Jaw Right Base Unit
                            </td>
                            <td data-key="implStatus"
                                class="tpmol-table__cell tp-rk__table-summary__cell js-rk__table-summary__cell js-rk__table-summary__cell--5">
                                Pending
                            </td>
                        </tr>
                        <tr class="tpmol-table__row tp-rk__table-summary__row">
                            <td data-key="lineCode"
                                class="tpmol-table__cell tp-rk__table-summary__cell js-rk__table-summary__cell js-rk__table-summary__cell--0">
                                DEC-IMMERGUT SCH-LIN B
                            </td>
                            <td data-key="equipmentDesc"
                                class="tpmol-table__cell tp-rk__table-summary__cell js-rk__table-summary__cell js-rk__table-summary__cell--1">
                                TP A3/F-010V TBA1000B PT DIMC8 WAVE3
                            </td>
                            <td data-key="serialNumber"
                                class="tpmol-table__cell tp-rk__table-summary__cell js-rk__table-summary__cell js-rk__table-summary__cell--2">
                                21207/00109
                            </td>
                            <td data-key="rkNumber"
                                class="tpmol-table__cell tp-rk__table-summary__cell js-rk__table-summary__cell js-rk__table-summary__cell--3">
                                1284002-0821
                            </td>
                            <td data-key="rkDesc"
                                class="tpmol-table__cell tp-rk__table-summary__cell js-rk__table-summary__cell js-rk__table-summary__cell--4">
                                Pressure Jaw Right Base Unit
                            </td>
                            <td data-key="implStatus"
                                class="tpmol-table__cell tp-rk__table-summary__cell js-rk__table-summary__cell js-rk__table-summary__cell--5">
                                Pending
                            </td>
                        </tr>
                        <tr class="tpmol-table__row tp-rk__table-summary__row">
                            <td data-key="lineCode"
                                class="tpmol-table__cell tp-rk__table-summary__cell js-rk__table-summary__cell js-rk__table-summary__cell--0">
                                DEC-IMMERGUT SCH-LIN B
                            </td>
                            <td data-key="equipmentDesc"
                                class="tpmol-table__cell tp-rk__table-summary__cell js-rk__table-summary__cell js-rk__table-summary__cell--1">
                                TP A3/F-010V TBA1000B PT DIMC8 WAVE3
                            </td>
                            <td data-key="serialNumber"
                                class="tpmol-table__cell tp-rk__table-summary__cell js-rk__table-summary__cell js-rk__table-summary__cell--2">
                                21207/00109
                            </td>
                            <td data-key="rkNumber"
                                class="tpmol-table__cell tp-rk__table-summary__cell js-rk__table-summary__cell js-rk__table-summary__cell--3">
                                2616315-0102
                            </td>
                            <td data-key="rkDesc"
                                class="tpmol-table__cell tp-rk__table-summary__cell js-rk__table-summary__cell js-rk__table-summary__cell--4">
                                IGC2700 NOQC
                            </td>
                            <td data-key="implStatus"
                                class="tpmol-table__cell tp-rk__table-summary__cell js-rk__table-summary__cell js-rk__table-summary__cell--5">
                                Started
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tp-tbl-pagination js-tbl-pagination" aria-live="polite">
                <div class="tp-tbl-pagination__container clearfix">
                    <button type="button"
                        class="tpatom-btn tpatom-btn--pagination js-page-number tp-tbl-pagination__first float-left"
                        disabled="" data-skip="0" data-page-number="1">
                        <i class="icon icon-Right_new icon-left"></i>
                        <span class="tpatom-btn__text">First</span>
                    </button>
                    <button type="button"
                        class="tpatom-btn tpatom-btn--pagination js-page-number tp-tbl-pagination__btn tp-tbl-pagination__prev float-left"
                        disabled="" data-skip="-25" data-page-number="0">
                        <span class="tpatom-btn__text sr-only">cuhu.pagination.prev</span><i
                            class="icon icon-Right_new icon-left"></i>
                    </button>
                    <button type="button"
                        class="tpatom-btn tpatom-btn--pagination js-page-number tp-tbl-pagination__btn float-left active"
                        data-page-number="1">
                        <span class="tpatom-btn__text">1</span>
                    </button>
                    <button type="button"
                        class="tpatom-btn tpatom-btn--pagination js-page-number tp-tbl-pagination__btn tp-tbl-pagination__direct float-left"
                        data-skip="25" data-page-number="2">
                        <span class="tpatom-btn__text">2</span>
                    </button>
                    <button type="button"
                        class="tpatom-btn tpatom-btn--pagination js-page-number tp-tbl-pagination__btn tp-tbl-pagination__direct float-left"
                        data-skip="50" data-page-number="3">
                        <span class="tpatom-btn__text">3</span>
                    </button>
                    <button type="button"
                        class="tpatom-btn tpatom-btn--pagination js-page-number tp-tbl-pagination__btn tp-tbl-pagination__next float-left"
                        data-skip="25" data-page-number="2">
                        <span class="tpatom-btn__text sr-only">cuhu.pagination.next</span><i
                            class="icon icon-Right_new"></i>
                    </button>
                    <button type="button"
                        class="tpatom-btn tpatom-btn--pagination js-page-number tp-tbl-pagination__last float-left"
                        data-skip="50" data-page-number="3">
                        <span class="tpatom-btn__text">Last</span><i class="icon icon-Right_new"></i>
                    </button>
                </div>

            </div>
        </div>
        <div class="tp-rk__flex-container">
            <div class="tp-rk__pagination-container" id="pagination-container"></div>
            <div class="tp-rk__serial-desc"><span class="tp-rk__astrick">*</span>
                Permanent volume conversion</div>
        </div>
    </div>
</div>
