<div class="rebuildingkitdetails">
    <div class="tp-card tp-rk-detail"
        data-languages-list="ar,bg,hr,cs,da,nl,en,et,fi,fr,de,el,hu,is,id,it,ja,ko,lv,ro,sr,sk,sl,sv,th,tr,vi"
        data-preferred-language-api="/content/tetrapak/customerhub/global/en/package-design/rk/jcr:content/root/responsivegrid/rebuildingkitdetails.languagePreference.json"
        data-src_ispublishenvironment="true"
        data-rebuilding-details-api="https://api-dev.tetrapak.com/installedbase/rebuildingkits"
        data-cti-api="https://api-dev.tetrapak.com/technicalbulletins" data-module="Rebuildingkitdetails">
        <code
            class="d-none js-rebuilding-details__config">{"implementationStatusDate":"abcde","reportImplementationStatus":"abcde","equipmentMaterial":"abcde","moreLanguage":"abcde","implDeadline":"abcde","rkCTI":"abcde","rkType":"abcde","rkInformation":"abcde","rkPlanningInformation":"abcde","serviceOrder":"abcde","equipmentStructure":"abcde","rkAndEquipmentInformation":"abcde","viewInEBizButton":"View in E-business","refReleaseDate":"abcde","rkFiles":"abcde","rkHandling":"abcde","functionalLocation":"abcde","countryLocation":"abcde","rkStatus":"abcde","rkNote":"abcde","rkNoteValue":"abcde","statusEquipmentType":"abcde"}</code>
        <div class="tp-rk-detail__content-wrapper">
            <div class="tp-rebuilding-details__content js-rebuilding-details__content">
                <h1><span>12345/RHA00</span>&nbsp;TP A3/F-010V TBA1500B PT DIMC21 HOT&nbsp;|&nbsp;5616315-0199&nbsp;MRK 5616315-0199</h1>
                <div class="row tp-rebuilding-details__view-e-business-button-row">
                    <button type="button" class="tpatom-btn tpatom-btn--primary js-rebuilding-details__view-e-business-btn tp-rebuilding-details__view-e-business-btn">
                    <span class="tpatom-btn__text">View in E-business</span><i class="icon icon-Trolley"></i>
                    </button>
                </div>
                <div class="row tp-rebuilding-details__info-card-row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12 tp-rebuilding-details__info-card-col">
                <div class="tp-rebuilding-details__info-card js-rebuilding-details__info-card top">
                        <h3 auto_locator="sectionTitle">Equipment and Rebuilding Kit Information</h3>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="row tp-rebuilding-details__row">
                                    <div class="col-lg-4 tp-rebuilding-details__info-cell-one">Country / Location
                                    </div>
                                    <div class="col-lg-4 tp-rebuilding-details__info-cell-two">China</div>
                                    <div class="col-lg-4 tp-rebuilding-details__info-cell-two">SHIJIAZHUANG</div>

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="row tp-rebuilding-details__row">
                                    <div class="col-lg-4 tp-rebuilding-details__info-cell-one">Line</div>
                                    <div class="col-lg-4 tp-rebuilding-details__info-cell-two">CNC-SAN LU DA SJZ-LN 01</div>
                                    <div class="col-lg-4 tp-rebuilding-details__info-cell-two">SHIJIAZHUANG SANLU DAIRY LN 01</div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="row tp-rebuilding-details__row">
                                    <div class="col-lg-4 tp-rebuilding-details__info-cell-one">Equipment Material</div>
                                    <div class="col-lg-4 tp-rebuilding-details__info-cell-two"> 648575-0100
                                    </div>
                                    <div class="col-lg-4 tp-rebuilding-details__info-cell-two">
                                        Filling Machine Tetra Pak A3/Flex.</div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="row tp-rebuilding-details__row">
                                    <div class="col-lg-4 tp-rebuilding-details__info-cell-one">Status / Type</div>
                                    <div class="col-lg-4 tp-rebuilding-details__info-cell-two">Produced New Machine
                                    </div>
                                    <div class="col-lg-4 tp-rebuilding-details__info-cell-two">
                                        CE Filling Machines</div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="row tp-rebuilding-details__row">
                                    <div class="col-lg-4 tp-rebuilding-details__info-cell-one">Implementation Status / Date</div>
                                    <div class="col-lg-4 tp-rebuilding-details__info-cell-two">Implemented; Order</div>
                                    <div class="col-lg-4 tp-rebuilding-details__info-cell-two">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-12">
                                <div class="row tp-rebuilding-details__row">
                                    <div class="col-lg-4 tp-rebuilding-details__info-cell-one">Equipment Structure/Affected by Perm.VCK</div>
                                    <div class="col-lg-4 tp-rebuilding-details__info-cell-two">
                                    </div>
                                    <div class="col-lg-4 tp-rebuilding-details__info-cell-two">false
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-12 tp-rebuilding-details__action-wrap">
                                <button type="button" class="tpatom-btn tpatom-btn--transparent tp-rebuilding-details__btn
                                                    tp-rebuilding-details__update js-rebuilding-details__update">
                                        <span class="tpatom-btn__text tp-rebuilding-details__btn
                                                    tp-rebuilding-details__update__text">Report Implementation Status</span><i class="icon icon-Edit"></i>
                                </button>
                            </div>
                            <div class="tp-rebuilding-details__note">
                                <span>Note:</span>
                                Updates will take a few days. We will look at your latest sent update
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div id="rk-preferred-language-modal" class="modal js-language-modal tp-modal" tabindex="-1"
                aria-hidden="true" role="dialog">
                <div class="modal-dialog modal-dialog-centered tp-modal-dialog">
                    <div class="modal-content tp-modal-content">
                        <div class="modal-header tpmol-modal-header">
                            <div class="js-language-header tp-language-header tp-rk-preferred-language__modal-header"
                                auto_locator="headlineOverlay">cuhu.preferredlanguage.title</div>
                            <button type="button" auto_locator="closebtnOverlay"
                                class="tp-close-btn icon-Close_new tpatom-btn tpatom-btn--close tpmol-modal-header__close js-close-btn">
                                <span class="sr-only">Close</span>
                            </button>
                        </div>
                        <div class="modal-footer tpmol-modal-footer tp-rk-preferred-language__modal-footer">
                            <button type="button"
                                class="tpatom-link tpatom-link--primary js-apply-language tp-apply-language"
                                title="Apply Language">
                                <span class="tpatom-link__text sly-text">cuhu.preferredlanguage.apply</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tp-rebuilding-details__details-row">
                <div class="tp-rebuilding-details__info-card js-rebuilding-details__info-card">
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <h3 auto_locator="sectionTitle">Title</h3>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 tp-rebuilding-details__lang-link">
                            <i class="icon icon-PDF"></i>
                            <a href="#" class="js-rk-preferred-language">Dutch</a>
                        </div>
                    </div>
                    <div class="tp-rebuilding-details__ctidocs">
                        <h4 class="tp-rebuilding-details__details-row-title" auto_locator="subsectionTitle">undefined
                        </h4>
                        <ul class="tp-rebuilding-details__cti-list section">
                            <li>
                                <i class="icon icon-PDF"></i>
                                <a href="https://api-dev.tetrapak.com/technicalbulletins/TP_2018_31_04/cti?langcode=en&amp;apikey=KHEnJskMGGogWrJAD3OyUI3VwerCLSDQ"
                                    target="_blank" class="tp-rebuilding-details__cti-file">
                                    English</a>
                            </li>
                            <li>
                                <i class="icon icon-PDF"></i>
                                <a href="https://api-dev.tetrapak.com/technicalbulletins/TP_2018_31_04/cti?langcode=nl&amp;apikey=KHEnJskMGGogWrJAD3OyUI3VwerCLSDQ"
                                    target="_blank" class="tp-rebuilding-details__cti-file">
                                    Dutch</a>
                            </li>
                        </ul>

                        <a href="#" class="js-langcode">More Languages</a>
                        <div id="rk-cti-language-modal" class="modal js-rk-cti-modal tp-modal" tabindex="-1"
                            role="dialog" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-dialog-centered tp-modal-dialog">
                                <div class="modal-content tp-modal-content">
                                    <div class="modal-header tpmol-modal-header">
                                        <div class="js-language-header tp-language-header tp-rk-preferred-language__modal-header"
                                            auto_locator="headlineOverlay">Customer Technical Information</div>
                                        <button type="button" auto_locator="closebtnOverlay"
                                            class="tp-close-btn icon-Close_new tpatom-btn tpatom-btn--close tpmol-modal-header__close js-close-btn">
                                            <span class="sr-only">Close</span>
                                        </button>
                                    </div>
                                    <div class="modal-body tp-modal-body tp-rk-cti-language__modal-body js-rk-cti">
                                        <ul class="tp-rebuilding-details__cti-list">
                                            <li>
                                                <i class="icon icon-PDF"></i>
                                                <a href="https://api-dev.tetrapak.com/technicalbulletins/TP_2018_31_04/cti?langcode=en&amp;apikey=KHEnJskMGGogWrJAD3OyUI3VwerCLSDQ"
                                                    target="_blank" class="tp-rebuilding-details__cti-file">
                                                    English
                                                </a>
                                            </li>
                                            <li>
                                                <i class="icon icon-PDF"></i>
                                                <a href="https://api-dev.tetrapak.com/technicalbulletins/TP_2018_31_04/cti?langcode=nl&amp;apikey=KHEnJskMGGogWrJAD3OyUI3VwerCLSDQ"
                                                    target="_blank" class="tp-rebuilding-details__cti-file">
                                                    Dutch
                                                </a>
                                            </li>
                                        </ul>

                                        <ul class="tp-rebuilding-details__cti-list bottom">
                                            <li>
                                                <i class="icon icon-PDF"></i>
                                                <a href="https://api-dev.tetrapak.com/technicalbulletins/TP_2018_31_04/cti?langcode=sv&amp;apikey=KHEnJskMGGogWrJAD3OyUI3VwerCLSDQ"
                                                    target="_blank" class="tp-rebuilding-details__cti-file">
                                                    Swedish</a>
                                            </li>
                                            <li>
                                                <i class="icon icon-PDF"></i>
                                                <a href="https://api-dev.tetrapak.com/technicalbulletins/TP_2018_31_04/cti?langcode=de&amp;apikey=KHEnJskMGGogWrJAD3OyUI3VwerCLSDQ"
                                                    target="_blank" class="tp-rebuilding-details__cti-file">
                                                    German</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tp-rebuilding-details__contentbottom js-rebuilding-details__contentbottom"></div>
        </div>
        <div class="tp-spinner d-none">
            <div class="tpatom-loader js-loader">
                <div class="tpatom-loading-anim">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div id="rk-report-modal" class="modal js-update-modal tp-rk-report-modal tp-modal fade show" tabindex="-1" role="dialog" aria-modal="true" style="display: block;"><div class="modal-dialog modal-dialog-centered tp-modal-dialog" auto_locator="">
            <div class="modal-content tp-rk-report__modal-content tp-modal-content tp-rk-report__modal-content">
                <div class="modal-header tpmol-modal-header tp-rk-report__modal-header">
                    <h3 class="tp-rk-report__modal-heading">Report implementation status</h3>
                    <button type="button" auto_locator="closebtnOverlay" class="tp-close-btn icon-Close_new tpatom-btn tpatom-btn--close tpmol-modal-header__close js-close-btn">
                        <span class="sr-only">Close</span>
                    </button>
                </div>
                    <div class="modal-body tp-modal-body tp-rk-report__modal-body">
                        <form>
                            <div>
                                <div class="tpatom-dropdown  tp-rebuildingkit__field-wrapper">
                                <label class="tpatom-dropdown__text" for="status">Report Implementation Status</label>
                                    <div class="d-block position-relative">
                                        <select name="status" id="status" class="tpatom-dropdown__select-box ">
                                                <option value="">Select</option>
                                                <option value="Implemented">Implemented</option>
                                                <option value="Rebuilding Kit Lost">Rebuilding Kit Lost</option>
                                                <option value="Rebuilding Kit On Site">Rebuilding Kit On Site</option>
                                                <option value="Removed from equipment">Removed from equipment</option>
                                        </select>
                                        <i class="tpatom-dropdown__icon icon-Arrow_Down"></i>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label class="tpatom-input-box__text tp-rebuildingkit__field-label" for="date">Implementation Status / Date</label>
                                    <div class="tpatom-input-box">
                                        <input type="text" name="date" id="date" class="tpatom-input-box__input" required="">
                                    </div>
                            </div>
                            <div>
                                <div class="tpatom-textarea-box">
                                    <label class="tpatom-textarea-box__text tp-rebuildingkit__field-label" for="comments">Comment to TetraPak</label>
                                    <textarea name="comments" id="comments" class="tpatom-textarea-box__input tp-rk-field-textarea" placeholder="Write comment here"></textarea>
                                </div>
                            </div>
                            <button type="submit" class="tpatom-btn tpatom-btn--primary tp-rk-make-update js-rk-make-update" disabled="">
                                    <span class="tpatom-btn__text tp-rk-make-update__text">Make update</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>