<div id="${data.anchorId}" data-module='RichText' title="${data.anchorTitle}"
    class="tp-container tp-pw-richText pw-theme--${data.pwTheme} col-sm-12 col-lg-12 d-flex justify-content-lg-center justify-content-sm-center pw-margin--${data.pwPadding}">
    <div data-link-section='Rich Text Editor' data-link-name=''
        class='col-lg-8 col-sm-12 fullBleed tp-pw-richText-wrapper'>
        <a>Anchor</a>
        <p>This is dummy This is dummy This is dummy This is dummy </p>
        <ul>
            <li>lpsum</li>
            <li>lpsum</li>
        </ul>
        <ol>
            <li>lpsum</li>
            <li>lpsum</li>
        </ol>
        <table>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Age</th>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
            </tr>
            <tr>
                <td>Eve</td>
                <td>Jackson</td>
                <td>94</td>
            </tr>
        </table>
    </div>
</div>
