<div data-pdfbuttons-api="/content/tetrapak/customerhub/global/en/installed-equipments/rebuilding-kits/_jcr_content/root/responsivegrid/rkliabilitycondition.getpdflinks.json" data-module="Rkliabilityconditions">
        <code class="d-none js-tp-rk-liability__config">{"rkMandatoryKitsText":"Mandatory kits - read the liability conditions  "}</code>
        <div class="tp-rk-liabilityConditions__content-wrapper tp-card tp-rk">
            <div class="tp-rk-liabilityConditions__content">
                <div>
                    <i class="icon icon-Mandatory_Kits"></i>
                    <p>Mandatory kits - read the liability conditions</p>
                </div>
                <div class="tp-spinner js-tp-spinner d-none">
                    
  <div class="tpatom-loader js-loader">
    
  <div class="tpatom-loading-anim"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

  </div>

                </div>
                <div class="js-tp-rk-liabilityconditions-pdfLinks">
                    <a href="/content/dam/tetrapak/customerhub/french/rebuildingkits/liability-conditions.pdf" class="tpatom-btn tp-button-link tpatom-btn--primary tp-rk__action-button liability-condition-pdf">
                        <i class="icon icon-PDF"></i>
                        <span class="tpatom-btn__text sly-text">Microsoft Word - SampleResume Updated</span>
                    </a>
                    <a href="/content/dam/tetrapak/customerhub/english/rebuildingkits/liability-conditions.pdf" class="tpatom-btn tp-button-link tpatom-btn--primary tp-rk__action-button liability-condition-pdf">
                        <i class="icon icon-PDF"></i>
                        <span class="tpatom-link__text sly-text">Microsoft Word - SampleResume Updated</span>
                    </a>
                </div>
            </div>
        </div>
    </div>