<div class="tp-card tp-tablist clearfix" data-module="TabsList">
   <input type="hidden" id="tabComponentId" name="tabComponentId" valu="doih24lhd" />
   <h2 class="tp-tablist__heading d-lg-none"> Solution for all needs</h2>
   <div class="tp-tablist__events accordion" id="tp-tablist__events">
      <h2 class="tp-tablist__heading d-none d-lg-block"> Solution for all needs</h2>
      <button type="button" class="tp-tablist__event js-tablist__event " data-toggle="collapse" data-target="#tab_doih24lhd_0" aria-expanded="true">
         <div class="tp-tablist__event-title bold">World's first ambient drinking yoghurt with large food pieces</div>
         <i class="icon icon-Chevron_Down"></i>
      </button>
      <div class="tp-tablist__event-detail-wrapper d-lg-none collapse show" id="tab_doih24lhd_0" data-parent="#tp-tablist__events">
         <div class="tp-tablist__event-detail">
            <div class="tp-tablist__media-wrapper">
               <img src="https://3blaws.s3.amazonaws.com/images/Tetra_Pak_in_Lund_Sweden.jpg" alt="cuhu.getstarted.businessalttext">
            </div>
            <h3 class="tp-tablist__event-detail-title js-tablist__event-detail-title">Turn your products into success</h3>
            <p class="tp-tablist__event-detail-description">Food, beverages or cosmetics? No matter what product, we provide you with the processing and packaging solutions that suit your needs. We collaborate with you to develop recipes and design production processes with smart environmental thinking. We help you turning ideas into products that your customers love. </p>
            <a href="http://www.google.com" class="tpatom-button tpatom-button--primary tp-tablist__event-detail-description-link js-tablist__event-detail-description-link" target="_blank" rel="noopener noreferrer">Discover what we can do for your products<i class="tpatom-button__icon icon-Chevron_Right"></i></a>
         </div>
      </div>
      <button type="button" class="tp-tablist__event js-tablist__event collapsed" data-toggle="collapse" data-target="#tab_doih24lhd_1" aria-expanded="false">
         <div class="tp-tablist__event-title bold">ghurt with large food pieces</div>
         <i class="icon icon-Chevron_Down"></i>
      </button>
      <div class="tp-tablist__event-detail-wrapper d-lg-none collapse " id="tab_doih24lhd_1" data-parent="#tp-tablist__events">
         <div class="tp-tablist__event-detail">
            <div class="tp-tablist__media-wrapper">
               <img src="https://3blaws.s3.amazonaws.com/images/Tetra_Pak_in_Lund_Sweden.jpg" alt="cuhu.getstarted.businessalttext">
            </div>
            <h3 class="tp-tablist__event-detail-title js-tablist__event-detail-title">Turn your products into success</h3>
            <p class="tp-tablist__event-detail-description">Food, beverages or cosmetics? No matter what product, we provide you with the processing and packaging solutions that suit your needs. We collaborate with you to develop recipes and design production processes with smart environmental thinking. We help you turning ideas into products that your customers love. </p>
            <a href="http://www.google.com" class="tpatom-button tpatom-button--primary tp-tablist__event-detail-description-link js-tablist__event-detail-description-link" target="_blank" rel="noopener noreferrer">Discover what we can do for your products<i class="tpatom-button__icon icon-Chevron_Right"></i></a>
         </div>
      </div>
      <button type="button" class="tp-tablist__event js-tablist__event collapsed" data-toggle="collapse" data-target="#tab_doih24lhd_2" aria-expanded="false">
         <div class="tp-tablist__event-title bold">World's first ambient drinking yoghurt with large food pieces</div>
         <i class="icon icon-Chevron_Down"></i>
      </button>
      <div class="tp-tablist__event-detail-wrapper d-lg-none collapse " id="tab_doih24lhd_2" data-parent="#tp-tablist__events">
         <div class="tp-tablist__event-detail">
            <div class="tp-tablist__media-wrapper">
               <img src="https://3blaws.s3.amazonaws.com/images/Tetra_Pak_in_Lund_Sweden.jpg" alt="cuhu.getstarted.businessalttext">
            </div>
            <h3 class="tp-tablist__event-detail-title js-tablist__event-detail-title">Turn your products into success</h3>
            <p class="tp-tablist__event-detail-description">Food, beverages or cosmetics? No matter what product, we provide you with the processing and packaging solutions that suit your needs. We collaborate with you to develop recipes and design production processes with smart environmental thinking. We help you turning ideas into products that your customers love. </p>
            <a href="http://www.google.com" class="tpatom-button tpatom-button--primary tp-tablist__event-detail-description-link js-tablist__event-detail-description-link" target="_blank" rel="noopener noreferrer">Discover what we can do for your products<i class="tpatom-button__icon icon-Chevron_Right"></i></a>
         </div>
      </div>
      <button type="button" class="tp-tablist__event js-tablist__event collapsed" data-toggle="collapse" data-target="#tab_doih24lhd_3" aria-expanded="false">
         <div class="tp-tablist__event-title bold">World's first ambient drinking yoghurt with large food pieces</div>
         <i class="icon icon-Chevron_Down"></i>
      </button>
      <div class="tp-tablist__event-detail-wrapper d-lg-none collapse " id="tab_doih24lhd_3" data-parent="#tp-tablist__events">
         <div class="tp-tablist__event-detail">
            <div class="tpatom-youtube tp-tablist__media-wrapper">
               <iframe src="https://www.youtube.com/embed/ggJMQHltiQc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            </div>
            <h3 class="tp-tablist__event-detail-title js-tablist__event-detail-title">Turn your products into success</h3>
            <p class="tp-tablist__event-detail-description">Food, beverages or cosmetics? No matter what product, we provide you with the processing and packaging solutions that suit your needs. We collaborate with you to develop recipes and design production processes with smart environmental thinking. We help you turning ideas into products that your customers love. </p>
            <a href="http://www.google.com" class="tpatom-button tpatom-button--primary tp-tablist__event-detail-description-link js-tablist__event-detail-description-link" target="_blank" rel="noopener noreferrer">Discover what we can do for your products<i class="tpatom-button__icon icon-Chevron_Right"></i></a>
         </div>
      </div>
   </div>
   <div class="tp-tablist__events-sidesection js-tablist__events-sidesection" aria-live="polite">
   </div>
</div>
