<div class="tp-card tp-equipment">
    <div class="tp-tabs">

  <div class="x-img-responsive">


<img src="http://s7g10.scene7.com/is/image/tetrapak/p3?wid=1047&amp;hei=288" class="img-responsive js-dynamic-media tp-tabs__image d-none d-lg-block d-xl-block initial loaded" itemprop="image" alt="alt key" data-src_desktop="http://s7g10.scene7.com/is/image/tetrapak/p3?wid=1047&amp;hei=288" data-src="http://s7g10.scene7.com/is/image/tetrapak/p3?wid=1047&amp;hei=288" data-was-processed="true">

  </div>

        <div class="tp-tabs__tabs-container">
          <ul class="tp-tabs_ul">
            <li class="tp-tabs__tab ">
              <a class="tp-tabs__tab-link js-tabs__tab-link" href="/content/tetrapak/customerhub/en/training.html">
                <i class="icon d-none d-lg-block d-xl-block tp-tabs__tab-icon icon-Document"></i>
                <p class="tp-tabs__tab-label">Documents</p>
              </a>
            </li>

            <li class="tp-tabs__tab active">
              <a class="tp-tabs__tab-link js-tabs__tab-link" href="/content/tetrapak/customerhub/en/installed-equipment.html">
                <i class="icon d-none d-lg-block d-xl-block tp-tabs__tab-icon icon-Maintenance"></i>
                <p class="tp-tabs__tab-label">Maintenance</p>
              </a>
            </li>
          </ul>
        </div>
    </div>
  </div>
