<div
  class="tp-card tp-tech-pub"
  data-countries-api="https://api-dev.tetrapak.com/countries"
  data-equipment-api="https://api-dev.tetrapak.com/installedbase/equipments"
  data-line-api="https://api-dev.tetrapak.com/installedbase/equipments/lines"
  data-customer-api="https://api-dev.tetrapak.com/installedbase/equipments/customers"
  data-tech-pub-api="https://api-dev.tetrapak.com/technicalpublications"
  data-src_ispublishenvironment="true"
  data-module="TechnicalPublications"
>

  <code class="d-none js-tech-pub__config">
    {
      "allFiles": "cuhu.technicalpublications.allFiles",
      "country": "cuhu.technicalpublications.country",
      "customer": "cuhu.technicalpublications.customer",
      "documentNumber": "cuhu.technicalpublications.documentNumber",
      "documentType": "cuhu.technicalpublications.documentType",
      "issueDate": "cuhu.technicalpublications.issueDate",
      "line": "cuhu.technicalpublications.line",
      "lineEquipment": "cuhu.technicalpublications.lineEquipment",
      "materialNumber": "cuhu.technicalpublications.materialNumber",
      "name": "cuhu.technicalpublications.name",
      "rebuildingKitName": "cuhu.technicalpublications.rebuildingKitName",
      "rebuildingKitNumber": "cuhu.technicalpublications.rebuildingKitNumber",
      "searchResults": "cuhu.technicalpublications.searchResults",
      "serialNumber": "cuhu.technicalpublications.serialNumber",
      "technicalPublications": "cuhu.technicalpublications.title"
    }
  </code>

  <div class="tp-spinner js-tp-spinner d-none">
    <div class="tpatom-loader js-loader">
        <div class="tpatom-loading-anim">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
  </div>

  <div class="js-tech-pub__wrapper d-none">
    <div class="tp-tech-pub__header-wrapper">
      <h1 class="tp-tech-pub__heading">
        Technical Publications
      </h1>
    </div>

    <div class="tp-tech-pub__breadcrumbs js-tech-pub__breadcrumbs"></div>
    <div class="tp-tech-pub__search-count js-tech-pub__search-count"></div>
    <div class="tp-tech-pub__doc-lang js-tech-pub__doc-lang">
      <span class="doc-icon">
        <i class="icon icon-Document"></i><span>English</span>
      </span>
    </div>
    <div class="tp-tech-pub__folder-listing js-tech-pub__folder-listing"></div>
  </div>
</div>