<div class="tp-card tp-text-video" data-locator="text-video" data-module="TextVideo">
   <div class="row">
      <div class="col-md-12 col-lg-4">
         <h2 class="tp-text-video__heading"> Turn your products into success</h2>
         <p class="tp-text-video__description d-none d-lg-block">Food, beverages or cosmetics? No matter what product, we provide you with the processing and packaging solutions that suit your needs. We collaborate with you to develop recipes and design production processes with smart environmental thinking. We help you turning ideas into products that your customers love. </p>
         <div class="tp-text-video__link d-none d-lg-block">
            <a href="http://www.google.com" class="tpatom-link js-text-video__description-link tpatom-link--secondary" target="_blank" rel="noopener noreferrer" datatag="external" ctype="not_set" ctypeone="notset" cttitle="Discover what we can do for your products">
            <span class="tpatom-link__text">Discover what we can do for your products</span>
            <i class="icon icon-Circle_Arrow_Right"></i>
            </a>
         </div>
      </div>
      <div class="col-md-12 col-lg-8 js-video-props" data-link-parent-title="Turn your products into success" data-video-name="Turn your products into success">
         <div class="tpatom-youtube ">
            <iframe class="tpatom-yt-player js-yt-player" src="https://www.youtube.com/embed/Rw5SFfoSk50?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" id="widget2"></iframe>
         </div>
         <p class="tp-text-video__description d-lg-none">Food, beverages or cosmetics? No matter what product, we provide you with the processing and packaging solutions that suit your needs. We collaborate with you to develop recipes and design production processes with smart environmental thinking. We help you turning ideas into products that your customers love. </p>
         <div class="tp-text-video__link d-lg-none">
            <a href="http://www.google.com" class="tpatom-link js-text-video__description-link tpatom-link--secondary" target="_blank" rel="noopener noreferrer" datatag="external" ctype="not_set" ctypeone="notset" cttitle="Discover what we can do for your products">
            <span class="tpatom-link__text">Discover what we can do for your products</span>
            <i class="icon icon-Circle_Arrow_Right"></i>
            </a>
         </div>
      </div>
   </div>
</div>
