.tp-documents {
    &__filters {
        @include margin-bottom($margin-l);
    }

    &__table {
        @include horizontal-scroll-touch;
    }

    .collapsed {
        .icon-Chevron_Up {
            &::before {
                transform: rotate(180deg);
            }
        }
    }

    &__equipments {
        @include line-height(24px, $font-baseline);
    }

    &__equipment-heading {
        @include margin-bottom($margin-l);
    }

    &__accordion {
        font-family: $font-bold;
        background-color: $color-wild-sand;

        &.collapsed {
            background-color: $color-white;
        }
    }
}
