.tp-documents {

    &__dropdown {
        @include margin-bottom($margin-md);

        @media #{$desktop} {
            @include margin-bottom($margin-l);
        }
    }

    &__table {
        @include horizontal-scroll-touch;
    }

    .icon-Chevron_Up {
        &::before {
            transition: transform $anim-speed-quick $anim-ease;
        }
    }

    .collapsed {
        .icon-Chevron_Up {
            &::before {
                transform: rotate(180deg);
            }
        }
    }

    &__equipment-heading {
        @include margin-bottom($margin-md);

        @media #{$desktop} {
            @include margin-bottom($margin-l);
        }
    }

    &__accordion {
        font-family: $font-bold;
        background-color: $color-wild-sand;
        transition: background-color $anim-speed-quick $anim-ease;

        &.collapsed {
            background-color: $color-white;
        }
    }
}
