<sly data-sly-template.documents_template="${@ data, flag}">
  <div class="tp-documents tp-card" data-module="Documents">
    <code class="d-none js-documents__config">
      ${data.i18nKeys}
    </code>
    <input type="hidden" class="js-tech-pub-host" value="${data.techPubHost}">
    <div class="tp-documents__installments js-documents__installments" aria-live="polite">
      <sly data-sly-use.loading="/apps/customerhub/components/atoms/loader/loader-template.html" data-sly-call="${loading.loader_template}" />
    </div>
  </div>
</sly>
