<!DOCTYPE html>
    <html lang="en" class="no-js {{ htmlClass }}">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">

        <link rel="shortcut icon" type="image/ico" href="favicon.ico"/>

        <link rel="stylesheet" href="/css/vendor.min.css?{{ cacheBuster }}" media="all" />
        <link rel="stylesheet" href="/css/style.min.css?{{ cacheBuster }}" media="all" />
        <link rel="stylesheet" href="/css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />

        <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
        {{{ patternLabHead }}}
        <!-- End Pattern Lab -->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="/js/picturefill.min.js" async></script>
    </head>

    <body class="{{ bodyClass }}">
