
        <!--DO NOT REMOVE-->
        {{{ patternLabFoot }}}

        <script type="text/javascript" src="/js/vendor.min.js?{{ cacheBuster }}"></script>
        <script type="text/javascript" src="/js/main.min.js?{{ cacheBuster }}"></script>
    </body>
</html>
