<h1 class="tp-cots-support__title">{{i18n key=i18nKeys.title}}</h1>

<p class="tp-cots-support__success-message">
    <i class="icon icon-Circle_filled_Tick"></i>{{i18n key=i18nKeys.successMessage}}
</p>