<div class="tp-filtered-table__table custom-scrollbar-horizontal on">
    {{#if noDataMessage}}
        <h3>{{i18n key=noDataFound}}</h3>
    {{else}}
        {{> molecules/table-sort/table-sort baseClass="tp-filtered-table__table-summary" jsClass="js-equipment-list__table-summary"
        list=summary headings=summaryHeadings}}
    {{/if}}
</div>

{{#unless noDataMessage}}
    {{> molecules/table-pagination/table-pagination jsClass="js-filtered-table__table-summary"
            paginationObj=paginationObj}}
{{/unless}}
