<div class="tp-financials-summary__statement">
    <h4>{{summaryHeadingI18n}}</h4>
    <div class="tp-financials-summary__table">
        {{> molecules/table/table baseClass="tp-financials-summary__statement" jsClass="js-financials-summary__statement" list=summary headings=summaryHeadings}}
    </div>
</div>
<div class="tp-financials-summary__documents">
    <h4>{{documentHeadingI18n}}</h4>
    {{#each documents}}
        {{> molecules/accordianTitle/accordianTitle baseClass="collapsed tp-financials-summary__accordion" iconClass="icon-Chevron_Up" text=title rightContent=totalAmount data-target=documnetID data-toggle="collapse" }}
        <div class="tp-financials-summary__table collapse" id="document{{@index}}">
            {{> molecules/table/table baseClass="tp-financials-summary__documents" jsClass="js-financials-summary__documents" list=documentData headings=documentHeadings tableSummary=totalAmount}}
        </div>
    {{/each}}
</div>
<div class="tp-financials-summary__btn-container">
    {{> atoms/buttons/button/button text=createExcelBtnI18n modifier="primary" className="tp-financials-summary__create-excel" iconClass="icon-Excel" }}
    {{> atoms/buttons/button/button text=createPdfBtnI18n modifier="primary" className="tp-financials-summary__create-pdf" iconClass="icon-PDF" }}
</div>
