<h3 class="tp-financial-search__select-customer-heading">{{this.statementOfAccount}}</h3>
<h4 class="tp-financial-search__select-customer-label">{{this.findCustomer}}</h4>
{{> atoms/dropdown/dropdown options=this.customerData name="selectCustomer" label='selectCustomer' wrapClasses="" eleClasses="tp-financial-search__select-box js-financial-search__find-customer"}}
<div class="tp-financial-search__customer-detail">
    <div class="tp-financial-search__account"><span class="tp-financial-search__account-title">{{this.accountNumber}}: </span><span class="tp-financial-search__account-number"></span></div>
    <div class="tp-financial-search__address-title"></div>
    <div class="tp-financial-search__address-detail"></div>
</div>
