{{log this}}

<div class="modal-dialog modal-dialog-centered tp-modal-dialog" auto_locator="{{autoLocatorModal}}">
    <div class="modal-content tp-my-equipment__modal-content tp-modal-content js-tp-aip-licenses-active__modal-content">
        <div class="modal-header tpmol-modal-header">
            <div class="tp-aip-licenses-active__modal-header" auto_locator="headlineOverlay">
                <h2>{{i18n key=i18nKeys.activeLicense.modalConfirmTitle}}</h2>
            </div>
            <button type="button" auto_locator="closebtnOverlay"
                    class="tp-close-btn icon-Close_new tpatom-btn tpatom-btn--close tpmol-modal-header__close js-close-btn">
                <span class="sr-only">Close</span>
            </button>
        </div>

        <div class='modal-body tp-modal-body tp-my-equipment__modal-body'>
            {{> atoms/dropdown/dropdown
                    defaultValue="Select volume"
                    options=this.openings
                    name="addEquipmentSite"
                    labelText="Options 1"
                    wrapClasses="tp-add-equipment__field-wrapper"
                    required="true"
                    disabled=isDisabled
            }}

            {{> atoms/dropdown/dropdown
                    defaultValue="Select opening"
                    options=this.volumes
                    name="addEquipmentSite"
                    labelText="Options 2"
                    wrapClasses="tp-add-equipment__field-wrapper"
                    required="true"
                    disabled=isDisabled
            }}
        </div>

        <div class="modal-footer tpmol-modal-footer">
            {{> atoms/buttons/button/button text="Download"
                    modifier="primary"
                    disabled=true
                    baseClass="tp-keylines__modal-download"
                    jsClass="js-tp-keylines__modal-download"}}
        </div>
        <div class="tpatom-loader js-loader js-tp-aip-licenses-active__modal-spinner d-none">
            {{> atoms/loader/tpLoader}}
        </div>
    </div>
</div>
