{{#each events}}
    <div class="tp-maintenance-card__event{{#if @first}} active{{/if}}">
        <div class="tp-maintenance-card__event-title bold">{{title}} - {{plannedStart}}</div>
        <div class="tp-maintenance-card__event-line">{{lineName}}</div>
        <div class="tp-maintenance-card__event-euipment">{{euipmentName}}</div>
        <i class="icon icon-Chevron_Down"></i>
    </div>

    <div class="tp-maintenance-card__event-detail">
        {{> components/infoPair baseClass="tp-maintenance-card" label=../i18nKeys.statusLabel data=status }}
        {{> components/infoPair baseClass="tp-maintenance-card" label=../i18nKeys.serviceAgreementLabel data=serviceAgreement }}
        {{> components/infoPair baseClass="tp-maintenance-card" label=../i18nKeys.plannedDurationLabel data=plannedDuration }}
        {{> components/infoPair baseClass="tp-maintenance-card" label=../i18nKeys.plannedStartLabel data=plannedStart }}
        {{> components/infoPair baseClass="tp-maintenance-card" label=../i18nKeys.plannedFinishedLabel data=plannedFinish }}
    </div>
{{/each}}

{{> atoms/links/link/link text=i18nKeys.viewAllText href=viewAllLink baseClass="tp-maintenance-card__all-link" iconClass="icon-Circle_Arrow_Right"}}
