{{#if isError}}
    <div class="tp-card">
        {{#if i18nKeys.errorMsg}}
            {{> atoms/error/error error=true message=i18nKeys.errorMsg}}
        {{else}}
            {{> atoms/error/error error=true message="cuhu.error.message"}}
        {{/if}}
    </div>
{{else}}
    <div class="row no-gutters">
        <div class="tp-maintenance-filtering__filters col-lg">
            {{> atoms/dropdown/dropdown options=sites name="site" labelText=i18nKeys.siteFilterLabel eleClasses="tp-maintenance-filtering__site js-maintenance-filtering__site" dataLocator="" }}
            {{> atoms/dropdown/dropdown defaultValue=i18nKeys.allOptionText labelText=i18nKeys.lineFilterLabel options="" name="line" label="" eleClasses="tp-maintenance-filtering__line js-maintenance-filtering__line" dataLocator="" }}
            {{> atoms/dropdown/dropdown defaultValue=i18nKeys.allOptionText labelText=i18nKeys.equipmentFilterLabel options="" name="equipment" label="" eleClasses="tp-maintenance-filtering__equipment js-maintenance-filtering__equipment" dataLocator="" }}
        </div>
        <div class="tp-maintenance-filtering__contact col-lg">
            <div class="tp-maintenance-filtering__contact-inner">
                <h4>{{i18nKeys.contactsHeading}}</h4>
                <div class="js-maintenance-filtering__contact row no-gutters" aria-live="polite">

                </div>
            </div>
        </div>
    </div>
{{/if}}
