<div class="tp-my-equipment__table custom-scrollbar-horizontal on">
    {{> molecules/table/table baseClass="tp-my-equipment__table-summary" jsClass="js-my-equipment__table-summary"
    list=summary headings=summaryHeadings}}
</div>
