<div class="tp-ordering-card__orders">
    <div class="tp-ordering-card__title">{{i18n key=labels.title}}</div>
    {{> atoms/buttons/button/button baseClass="tp-ordering-card__settings" jsClass="js-ordering-card__settings" iconClass="icon-Cog" text=labels.preferencesBtn hideText=true modifier="settings" }}
    <div class="tp-ordering-card__tablewrapper js-ordering-card__tablewrapper">
        {{> components/orderingTable this}}
    </div>
    <div class="tp-ordering-card__viewmore-wrapper">
        {{> atoms/links/link/link href=viewAllOrders baseClass="tp-ordering-card__viewmore" iconClass="icon-Circle_Arrow_Right" text=labels.allOrders modifier="secondary"}}
    </div>
    {{!-- Settings overlay --}}
    <div class="modal tp-modal js-ordering-card__modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered tp-modal-dialog" role="document">
            <div class="modal-content tp-modal-content">
                {{> molecules/modals/modalHeader/modalHeader title=labels.preferencesTitle closeBtnText=labels.closeBtn}}
                <div class="modal-body tp-modal-body tp-ordering-card__modal-body">
                    <div class="tp-ordering-card__modal-desc">{{labels.preferencesDescription}}</div>
                    <div class="tp-ordering-card__modal-options">
                        {{#each settingOptions}}
                            {{> atoms/checkbox/checkbox jsClass="js-ordering-card__modal-preference" uniqueKey=@index text=i18nKey value=key isChecked=isChecked disabled=isMandatory}}
                        {{/each}}
                    </div>
                    <div class="tp-ordering-card__save-error js-ordering-card__save-error d-none">{{labels.saveError}}</div>
                </div>
                {{> molecules/modals/modalFooter/modalFooter buttonText=labels.saveSettings baseClass="tp-ordering-card__modal-save" jsClass="js-ordering-card__modal-save"}}
            </div>
        </div>
    </div>
</div>
