<div class="modal tp-modal tp-order-search__modal js-order-search__modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered tp-modal-dialog tp-order-search__modal-dialog" role="document">
        <div class="modal-content tp-modal-content">
            {{> molecules/modals/modalHeader/modalHeader title=this.selectDatesI18n closeBtnText=this.closeBtnI18n}}
            <div class="modal-body tp-modal-body tp-order-search__modal-body">
                <div class="tp-order-search__calendar-nav clearfix">
                    {{> atoms/buttons/button/button
                        modifier="calendar"
                        className="tp-order-search__calendar-left float-left"
                        jsClass="js-calendar-nav js-calendar-prev"
                        data-action="previous-action"
                        iconClass="icon-Chevron_Left"
                        hideText=true
                        text="cuhu.calendar.prev"}}
                    {{> atoms/buttons/button/button
                        modifier="calendar"
                        className="tp-order-search__calendar-left float-right"
                        jsClass="js-calendar-nav js-calendar-next"
                        data-action="next-action"
                        iconClass="icon-Chevron_Right"
                        hideText=true
                        text="cuhu.calendar.next"}}
                </div>
                {{> atoms/input/input type="hidden" defaultValue=this.dateRange name="daterange" label=this.dateRangeLabelI18n eleClasses="tp-order-search__range-selector js-range-selector" }}
            </div>
            {{> molecules/modals/modalFooter/modalFooter buttonText=this.setDatesBtnI18n baseClass="tp-order-search__calendar" jsClass="js-calendar"}}
        </div>
    </div>
</div>
<form class="js-order-search__filters form-group d-none">
    {{> atoms/input/input iconClass="icon-Calendar2" defaultValue=this.dateRange name="daterange" label=this.dateRangeLabelI18n wrapClasses="float-lg-left" eleClasses="tp-order-search__date-range js-order-search__date-range" dataLocator="calendar-picker" readonly=true }}
    {{> atoms/dropdown/dropdown defaultValue=this.allStatusesTextI18n options=this.summary.status name="orderstatus" label=this.orderStatusLabelI18n wrapClasses="float-lg-left" eleClasses="tp-order-search__order-status js-order-search__order-status" dataLocator="status-drpdwn" }}
    {{> atoms/dropdown/dropdown defaultValue=this.allAddressesTextI18n options=this.summary.deliveryAddress name="deliveryaddress" label=this.deliveryAddressLabelI18n wrapClasses="float-lg-left" eleClasses="tp-order-search__delivery-address js-order-search__delivery-address" dataLocator="address-drpdwn" }}

    <div class="tp-order-search__flex-container">
        {{> atoms/input/input name="search" label=this.searchInputLabelI18n eleClasses="tp-order-search__search-term js-order-search__search-term" dataLocator="search-input" placeholder=this.searchTermPlaceholderI18n }}
        {{> atoms/buttons/primaryButton/buttons btnText=this.resetButtonTextI18n btnClasses="tpatom-button--secondary js-order-search__reset"  dataLocator="search-reset-btn" }}
        {{> atoms/buttons/primaryButton/buttons btnText=this.searchButtonTextI18n btnClasses="tpatom-button--primary js-order-search__submit" iconClass="icon-Chevron_Right" dataLocator="search-order-btn" }}
    </div>
</form>
