{{#if isError}}
    <div class="tp-ordering-card__no-data">{{i18n key=labels.dataError}}</div>
{{else}}
    {{#if orders}}
        {{> molecules/table/table baseClass="tp-ordering-card" jsClass="js-ordering-card" list=orders headings=orderHeadings}}
    {{else}}
        <div class="tp-ordering-card__no-data">{{i18n key=labels.noData}}</div>
    {{/if}}
{{/if}}
