<div class="tp-aip__accordion" id="tp-aip-trainings__learning-accordion">
    <div class="tp-aip__acc-item">
        <button class="tp-aip__btn-link btn btn-link" type="button" data-toggle="collapse" data-target="#tp-aip-trainings__learning-acc1" aria-expanded="false">
            <span>{{i18nKeys.diploma}}</span>
            <i class="icon icon-Arrow_Down"></i>
        </button>
        <div id="tp-aip-trainings__learning-acc1" class="tp-aip__collapse collapse" data-parent="#tp-aip-trainings__learning-accordion">
            <div class="tp-aip__acc-item-body">
                TODO: Learning history table
            </div>
        </div>
    </div>
    <div class="tp-aip__acc-item">
        <button class="tp-aip__btn-link btn btn-link" type="button" data-toggle="collapse" data-target="#tp-aip-trainings__learning-acc2" aria-expanded="false">
            <span>{{i18nKeys.accredited}}</span>
            <i class="icon icon-Arrow_Down"></i>
        </button>
        <div id="tp-aip-trainings__learning-acc2" class="tp-aip__collapse collapse" data-parent="#tp-aip-trainings__learning-accordion">
            <div class="tp-aip__acc-item-body">
                TODO: Learning history table
            </div>
        </div>
    </div>
    <div class="tp-aip__acc-item">
        <button class="tp-aip__btn-link btn btn-link" type="button" data-toggle="collapse" data-target="#tp-aip-trainings__learning-acc3" aria-expanded="false">
            <span>{{i18nKeys.authenticated}}</span>
            <i class="icon icon-Arrow_Down"></i>
        </button>
        <div id="tp-aip-trainings__learning-acc3" class="tp-aip__collapse collapse" data-parent="#tp-aip-trainings__learning-accordion">
            <div class="tp-aip__acc-item-body">
                TODO: Learning history table
            </div>
        </div>
    </div>
</div>