<div class="modal-header tpmol-modal-header">
    <div class="tp-aip-licenses-active__modal-header" auto_locator="headlineOverlay">
        <h2>{{i18n key=i18nKeys.activeLicense.modalWithdrawSuccessTitle}}</h2>
    </div>
    <button type="button" auto_locator="closebtnOverlay"
            class="tp-close-btn icon-Close_new tpatom-btn tpatom-btn--close tpmol-modal-header__close js-close-btn">
        <span class="sr-only">Close</span>
    </button>
</div>
<div class='modal-body tp-modal-body tp-my-equipment__modal-body'>
    <p>{{i18n key=i18nKeys.activeLicense.modalWithdrawSuccessText}}</p>
</div>
<div class="modal-footer tpmol-modal-footer">
    {{> atoms/buttons/button/button text=i18nKeys.activeLicense.modalWithdrawBack modifier="secondary" baseClass="tp-aip-licenses-active__back" jsClass="js-tp-aip-licenses-active__back"}}
</div>