<div class="tp-aip-licenses__info-card">
    <div class="row">
        <div class="col-lg-9">
            <h2 class="tp-aip-licenses__info-card-title">{{i18n key=i18nKeys.siteLicensesDescriptionHeading}}</h2>
            {{i18n key=siteLicensesDataArr}}
        </div>
    </div>
</div>