<div class="tp-aip-licenses__info-card">
    <div class="row">
        <div class="col-lg-10">
            <h2 class="tp-aip-licenses__info-card-title">{{i18n key=i18nKeys.siteLicense.siteLicensesDescriptionHeading}}</h2>
            </div>
    </div>
    {{#each this.siteLicensesDataArr}}
        <div class="row">
            <div class="col-lg-10">
                <div class="tp-aip-licenses__txt-block">
                    <h3 class="tp-aip-licenses__txt-block-title">{{this.name}}</h3>
                    {{{this.descriptions.[0].body}}}
                </div>
            </div>
        </div>
    {{/each}}
</div>