<button class="tpatom-btn tp-button-link tpatom-btn--primary tp-rk__action-button">
    <i class="icon icon-PDF"></i>
    <span>Preferred lang</span>
</button>
<button class="tpatom-btn tp-button-link tpatom-btn--primary tp-rk__action-button">
    <i class="icon icon-PDF"></i>
    <span class="tpatom-btn__text sly-text">Liability conditions</span>
</button>