{{#if showPreferredLangPDF }}
<a href="{{pdfvalue.preferred-language-pdf.link}}" class="tpatom-btn tp-button-link tpatom-btn--primary tp-rk__action-button liability-condition-pdf">
    <i class="icon icon-PDF"></i>
    <span class="tpatom-link__text sly-text">{{pdfvalue.preferred-language-pdf.title}}</span>
</a>
{{/if}}
<a href="{{pdfvalue.english-pdf.link}}" class="tpatom-btn tp-button-link tpatom-btn--primary tp-rk__action-button liability-condition-pdf">
    <i class="icon icon-PDF"></i>
    <span class="tpatom-link__text sly-text">{{pdfvalue.english-pdf.title}}</span>
</a>
