<ul class="tp-tech-pub__bc-list">
    {{#each bcItems}}
        <li class="tp-tech-pub__bc-item {{#if isCurrentStep}}active{{/if}}">
            <button class="js-tech-pub__bc-btn" type="button" data-step="{{this.step}}" data-value="{{this.value}}">{{this.text}}</button>
        </li>
    {{/each}}
</ul>
