<div class="tp_container tp_ch-articles">
    {{> atoms-tp_containerTitleWithIcon }}

    <div class="row">
        {{# tp_ch_article_col }}
        <div class="col-md-6 tp_ch-articlesDivider">
            {{> molecules-tp_article }}
        </div>
        {{/ tp_ch_article_col }}
    </div>
</div>
