<sly data-sly-template.socialsidebar_template="${@data, flag}" data-module="SocialSidebar">
    <div class="tp-pw-sidebar" data-module="SocialSidebar">
        <ul>
            <li data-sly-list.socialLink="${data.socialLinks}">
                <a class="tp-pw-sidebar__social-media-items__link tp-pw-sidebar__link tp-pw-sidebar-data-analytics"
                  href="${socialLink.socialMediaLink}" data-sly-test="${socialLink.socialMediaLink}"
                  data-link-name="${socialLink.socialMedia}">
                  <i class="icon-${socialLink.socialMedia}_pw"></i>
                </a>
            </li>
        </ul>
        <sly data-sly-test="${data.wechatQrCodeReference != null}">
            <div class="tp-pw-sidebar__modal modal tp-modal js-qrCode-modal fade"tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered tp-modal-dialog modal-md">
                    <div class="modal-content tp-modal-content pw-padding--regular pw-margin--regular">
                        <div class="modal-header">
                            <h2 role="heading" class="">
                              <span class="pw-subscription__modalTitle">Scan the code</span>
                            </h2>
                            <button type="button" class="tp-close-btn icon-Close_pw pw-subscription__header__close js-close-btn" aria-label="close button" title="close button"></button>
                        </div>
                        <div class="modal-body text-center">
                            <img src="${data.wechatQrCodeReference}" alt="${data.qrAltText}" />
                        </div>
                    </div>
                </div>
            </div>
        </sly>
    </div>
</sly>