<sly data-sly-template.socialsidebar_template="${@data, flag}" data-module="SocialSidebar">
    <div class="tp-pw-sidebar" data-module="SocialSidebar">
        <ul>
            <a class="tp-pw-sidebar__social-media-items__link tp-pw-sidebar__link tp-pw-sidebar-data-analytics"
              href="${data.socialMediaLink}" data-sly-test="${data.socialMediaLink}"
              data-link-name="${data.socialMedia}">
              <i class="icon-${data.socialMedia}_pw"></i>
            </a>
        </ul>
        <!-- QR Code Modal -->
        <sly data-sly-test="${data.wechatQrCodeReference != null}" data-sly-use.qrcodemodal="/apps/publicweb/components/molecules/qrcodemodal/qrcodemodal-template.html"
            data-sly-call="${qrcodemodal.qrcodemodal_template @qrcodeTitle=data.qrCodeTitle, qrcodeImg=data.wechatQrCodeReference, qrcodeAlt=data.qrAltText}" />
    </div>
</sly>