.tp-financial-statement {
    %wrapper {
        @include border-xs($color-tundora);
        @include border-radius($border-radius);
    }

    &__select-customer-heading {
        @include line-height($font-l, $font-md);
        @include font-size($font-md);

        @media #{$desktop} {
            @include line-height($font-xl, $font-l)
        }
    }

    &__select-box-wrapper {
        @media #{$desktop} {
            width: 50%;
        }
    }

    &__select-box {
        @extend %wrapper;
        @include padding($padding-sm);
        width: 100%;
    }

    &__select-customer-dropdown {
        width: 100%
    }

    &__select-customer-label {
        @include padding($padding-md 0 $padding-md 0);
        @include font-size($font-baseline);
        @include line-height($font-l, $font-baseline);
        font-weight: bold;

        @media #{$desktop} {
            @include padding($padding-l 0 $padding-md 0);
            @include line-height($font-l, $font-md);
            font-weight: normal;
        }
    }

    &__customer-detail {
        width: 100%;
        color: $color-tundora;

        @media #{$desktop} {
            width: 50%;
        }
    }

    &__account,
    &__address-title,
    &__address-detail {
        @include padding-top($font-md);
        @include font-size($font-baseline);
        @include line-height($font-l, $font-baseline);
        font-weight: bold;
    }

    &__address-detail {
        font-weight: normal;
    }

    &__calender-container {
        @include margin(0 0 $margin-md 0);
    }

    &__status-wrapper {
        @extend %wrapper;
        @include margin(0 0 $margin-md 0);
        @include height(40px);
        width: 100%;

        @media #{$desktop} {
            @include margin(0 $margin-md 0 0);
            float: left;
            width: calc(100% / 3 - #{$margin-md});

        }

    }

    &__status {
        @include padding($padding-sm);
        height: 100%;
    }

    &__date-range {
        height: 100%;
    }

    &__date-range-wrapper {
        @extend %wrapper;
        @include height(40px);
        width: 100%;
        display: block;

        @media #{$desktop} {
            width: calc(100% / 3 - #{$margin-md});
            display: inline-block;

        }
    }

    &__search-container {
        @media #{$desktop} {
            @include display-flex;
        }
    }

    &__document-type-wrapper {
        @extend %wrapper;
        @include margin(0 0 $margin-md 0);
        width: 100%;

        @media #{$desktop} {
            @include margin(0 $margin-md 0 0);
            width: calc(100% / 3 - #{$margin-md});
        }
    }

    &__document-type {
        @include padding($padding-sm);
        height: 100%;
    }

    &__document-number {
        @include padding($padding-sm);
        height: 100%;
    }

    &__document-number-wrapper {
        @extend %wrapper;
        @include margin(0 0 $margin-md 0);
        width: 100%;

        @media #{$desktop} {
            @include margin(0 $margin-md 0 0);
            width: calc(100% / 3 - #{$margin-md});

        }
    }

    &__submit-btn {
        @include margin(0 0 $margin-md 0);
        display: block;

        @media #{$desktop} {
            flex: 1;
            @include margin(0 $margin-md 0 0);
        }
    }

    .form-element__icon {
        color: $color-boulder;
        @include height(12px);
        @include width(12px);
        @include font-size($font-sm);
    }
}
