%wrapper {
    @include border-xs($color-tundora);
    @include border-radius($border-radius);
}

.tp-financial-statement {
    &__select-customer-heading {
        @include line-height($font-l, $font-l);
        @include font-size($font-l);

        @media #{$desktop} {
            @include line-height($font-xl, $font-l)
        }
    }

    &__select-box-wrapper {
        @media #{$desktop} {
            width: 50%;
        }
    }

    &__select-box {
        @extend %wrapper;
        @include padding($padding-sm);
        width: 100%;
    }

    &__select-customer-dropdown {
        width: 100%
    }

    &__select-customer-label {
        @include padding($padding-md 0 $padding-md 0);
        @include font-size($font-md);
        @include line-height($font-l, $font-md);
        font-family: $font-bold;

        @media #{$desktop} {
            @include padding($padding-l 0 $padding-md 0);
            @include line-height($font-l, $font-md);
            font-family: $font-light;
        }
    }

    &__customer-detail {
        width: 100%;
        color: $color-tundora;

        @media #{$desktop} {
            width: 50%;
        }
    }

    &__account,
    &__address-title,
    &__address-detail {
        @include padding-top($font-md);
        @include font-size($font-baseline);
        @include line-height($font-l, $font-baseline);
    }

    &__account,
    &__address-title {
        font-family: $font-bold;
    }

    &__status-calender-container {
        @include margin-bottom($margin-md);
    }

    &__status-container {
        width: 100%;
        @include padding(0 0 $padding-md 0);

        @media #{$desktop} {
            @include padding(0 $padding-md 0 0);
            width: (100% / 3);
        }
    }

    &__status-wrapper {
        @extend %wrapper;
        width: 100%;
        height: 100%;


    }

    &__status {
        @include padding($padding-sm);
    }

    &__date-range-container {
        width: 100%;
        height: 40px;

        @media #{$desktop} {
            @include padding(0 $padding-md 0 0);
            width: (100% / 3);
            display: inline-block;
            clear: left;
        }
    }

    &__date-range-wrapper {
        @extend %wrapper;
        width: 100%;
        height: 100%;
    }

    &__search-container {
        @media #{$desktop} {
            @include display-flex;
        }
    }

    &__document-type-container {
        width: 100%;
        height: 40px;
        @include margin(0 0 $margin-md 0);

        @media #{$desktop} {
            @include padding(0 $padding-md 0 0);
            width: (100% / 3);
        }
    }

    &__document-type-wrapper {
        @extend %wrapper;
        width: 100%;
        height: 100%;
    }

    &__document-number-container {
        width: 100%;
        @include margin(0 0 $margin-md 0);


        @media #{$desktop} {
            @include padding(0 $padding-md 0 0);
            width: (100% / 3);
        }
    }

    &__document-number {
        @include padding($padding-sm);
    }

    &__document-number-wrapper {
        @extend %wrapper;
        width: 100%;
        height: 100%;

    }

    &__search-btn-container {
        @include margin(0 0 $margin-md 0);

        @media #{$desktop} {
            flex: 1;
            @include padding(0 $padding-md 0 0);
        }
    }

    &__document-number-wrapper {
        @extend %wrapper;
        display: block;
        height: 100%;
    }

    &__submit-btn {
        @media #{$desktop} {
            width: 100%
        }
    }

    .form-element__icon {
        color: $color-boulder;
        @include height(12px);
        @include width(12px);
        @include font-size($font-sm);
    }

    .form-element,
    .form-control {
        height: 100%;
    }
}
