<sly data-sly-template.searchbar_template="${@data, flag}">
  <div class="pw-header-search-bar js-pw-header-search-bar" data-module="Searchbar">
    <div class="d-flex align-items-center tp-container pw-header-search-bar__container">
      <div class="row no-gutters">
        <div class="col-lg-8 input-box">
          <input type="text" class="search-bar-input js-search-bar-input" placeholder="What are you looking for?" />
          <div class='icon-wrapper'><button class='search-bar-close'><i class="icon icon-Close_pw"></i></button>
            <div class="vl"></div>
            <a class="search-icon"><i class="icon icon-Search_pw"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</sly>
