<div>
    <div>
        {{> components/orderDetailSummary}}
    </div>
     <div class="tp-packaging__tablewrapper">
          {{> molecules/table/table baseClass="tp-packaging" list=orderSummary headings=packagingProductsTableHeadings}}
      </div>
</div>
