.tp_pw-breadcrumb {
    @include margin($spacing-small 0);
    color: $color-boulder;
    overflow: hidden;
    position: relative;
    width: 100%;

    @media #{$desktop} {
        @include margin($spacing-big 0);
    }

    &__link {
        @include font-size(16px);
        @include line-height(28px, 16px);
        color: $color-boulder;
        @media #{$tablet} {
            @include font-size(14px);
            @include line-height(24px, 14px);
        }
    }

    .tp_icon {
        @include font-size(9px);
        @include margin(0 $margin-sm);

        display: inline;
        vertical-align: middle;
    }

    span {
        @include font-size(16px);
        @include line-height(28px, 16px);
        color: $color-tundora;
        font-weight: bold;
        @media #{$tablet} {
            @include font-size(14px);
            @include line-height(24px, 14px);
        }
    }
}