.tp_pw-breadcrumb {
    color: $color-boulder;
    margin: $spacing-small 0 $spacing-small $spacing-small-half;
    overflow: hidden;
    position: relative;
    width: 100%;

    @media #{$desktop} {
        margin: $spacing-big 0 $spacing-big $spacing-big;
	}

    @media #{$desktop-large} {
        margin: $spacing-big 0 $spacing-big $spacing-big*2;
	}

    &__link {
        @include font-size(12px);
        color: $color-boulder;
    }

    .tp_icon {
        @include font-size(9px);
        @include margin(0 $margin-sm);

        display: inline;
        vertical-align: middle;
    }

    span {
        @include font-size(12px);
        color: $color-tundora;
        font-weight: bold;
    }
}