.tp_pw-breadcrumb {
    @include max-width($body-max-width);
    display: block;
    color: $color-tundora;
    overflow: hidden;
    position: relative;
    width: 100%;

    @media #{$desktop} {
        @include margin($spacing-big auto);
    }

    @media #{$i-pad} {
        display: none;
    }

    &__wrapper {
        margin: 0;
        padding: 0 48px 0 0;
    }

    &__link {
        @include font-size($font-sm);
        @include line-height($font-m-md, $font-sm);
        color: $color-tundora;
        font-weight: normal;
        &:hover {
            color: $color-sky-blue;
        }

        .last {
            pointer-events: none;
        }
        @media #{$mobile} {
            display: none;

            &.secondlast {
                display: block;
            }
        }
    }

    .icon-Arrow_Right_pw.tp_icon {
        @include margin(0 6px);
        @include font-size($font-xxs);
        @include line-height($font-xxs, $font-xxs);
        display: inline;
        vertical-align: middle;
    }

    span {
        @include font-size($font-sm);
        @include line-height($font-m-md, $font-sm);
        color: $color-tundora;
        font-weight: normal;
        margin-left: -$margin-xs;
    }
}
