<sly data-sly-template.breadcrumb_template="${@ data, flag}"
    data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
    <sly data-sly-test="${data.breadcrumbSubpages}">
        <div class="tp_pw-breadcrumb text-small">
            <a class="tp_pw-breadcrumb__link js-tp_pw-breadcrumb__link" data-link-section="BreadCrumb link" data-link-parent-title="TetraPakSolutions" data-link-name="${data.homeLabel}" href="${data.homePagePath}">${data.homeLabel @ i18n}</a>
            <sly data-sly-list.subpages="${data.breadcrumbSubpages}">
            	<sly data-sly-test="${!subpagesList.last}">
            		<a class="tp_pw-breadcrumb__link js-tp_pw-breadcrumb__link" data-link-section="BreadCrumb link" data-link-parent-title="TetraPakSolutions" data-link-name="${subpages.key}" href="${subpages.value}"><i class="icon-Chevron_Right tp_icon"></i>${subpages.key  @ i18n}</a>
            	</sly>
            	<sly data-sly-test="${subpagesList.last}">
            		<i class="icon-Chevron_Right tp_icon"></i> <span>${subpages.key  @ i18n}</span>
            	</sly>
            </sly>
    	</div>
    </sly>
    <sly data-sly-test="${!data.breadcrumbSubpages}"
       data-sly-call="${templates.placeholder @ isEmpty = !data.breadcrumbSubpages}"></sly>
</sly>
