.tpmol-order-delivery-summary {
    border-bottom: 1px solid $color-mercury;

    @media #{$desktop} {
        @include padding-bottom($padding-l);

    }

    &__heading {
        @include margin-bottom($margin-md);

        @media #{$desktop} {
            @include margin-bottom($margin-l);
        }

    }

    &__delivery-detail {
        @include line-height($font-l, $font-baseline);
        @include padding-bottom($padding-md);

        @media #{$desktop} {
            @include padding-bottom($font-sm);
            display: table;
        }

        &-data {
            @include padding-top($padding-xs);
            @include padding-bottom($padding-sm);

            @media #{$desktop} {
                display: table-row;
                padding: 0;
            }
        }

        &-label {
            font-family: $font-bold;
            @include padding-right($margin-l);

            @media #{$desktop} {
                @include padding-top($padding-xs);
                @include padding-bottom($padding-sm);
                display: table-cell;
            }
        }

        &-text {
            @media #{$desktop} {
                @include padding-top($padding-xs);
                @include padding-bottom($padding-sm);
                display: table-cell;
            }
        }
    }

    &__address {
        @include line-height($font-l, $font-baseline);
        @include padding-bottom($padding-md);

        &-label {
            font-family: $font-bold;
        }
    }
}
