## Collect any enviromental variables that are set in /etc/sysconfig/httpd
## Collect the dispatchers number
PassEnv DISP_ID

# Defining Virtual host for tetrapak-dev64a.adobecqms.net
<VirtualHost *:80>
        ServerName      tetrapak-dev64a.adobecqms.net
        ## Put names of which domains are used for your published site/content here
        #ServerAlias     ${PUBLISH_DEFAULT_HOSTNAME} tetrapak-dev64a.adobecqms.net
		#ServerAlias     tetrapak-dev64a.adobecqms.net
		
        ## Use a doc root that matches what's in the /etc/httpd/conf/publish-farm.any
        DocumentRoot    ${PUBLISH_DOCROOT}/publicweb
        ## Add header breadcrumbs for help in troubleshooting
        <IfModule mod_headers.c>
                Header add X-Dispatcher ${DISP_ID}
                Header add X-Vhost "publish"
				
				<FilesMatch "\.(html)$">
                        Header set Cache-Control no-cache,no-store
                        Header set Pragma no-cache
                </FilesMatch>
                <FilesMatch "\.(woff)$">
                        Header set Cache-Control max-age=2592000
                </FilesMatch>
                 <FilesMatch "\.(png)$">
                        Header set Cache-Control max-age=432000
                </FilesMatch>
         </IfModule>
        <Directory />
                ## Update /etc/sysconfig/httpd with setting the PUBLISH_WHITELIST_ENABLED from 0 or 1 to enable or disable ip restriction rules
                <If "${PUBLISH_WHITELIST_ENABLED} == 1">
                        Include /etc/httpd/conf.d/whitelists/*_whitelist.rules
                </If>
                <IfModule disp_apache2.c>
                        ## Some items cache with the wrong mime type
                        ## Use this option to use the name to auto-detect mime types when cached improperly
                        ModMimeUsePathInfo On
                        ## Use this option to avoid cache poisioning
                        ## Sling will return /content/image.jpg as well as /content/image.jpg/ but apache can't search /content/image.jpg/ as a file
                        ## Apache will treat that like a directory.  This assures the last slash is never stored in cache
                        DirectorySlash Off
                        ## Enable the dispatcher file handler for apache to fetch files from AEM
                        SetHandler dispatcher-handler
                </IfModule>
                # Add Includes to enable SSI Includes used by Slind Dynamic Include
                Options FollowSymLinks Includes

                # Required to have dispatcher-handler process includes
                ModMimeUsePathInfo On

                # Set includes to process .html files
                AddOutputFilter INCLUDES .html

                AllowOverride None
                #### Insert filter
                SetOutputFilter DEFLATE
                #### Don't compress images
                SetEnvIfNoCase Request_URI \
                \.(?:gif|jpe?g|png)$ no-gzip dont-vary
                #### Make sure proxies don't deliver the wrong content
                Header append Vary User-Agent env=!dont-vary
                #### Prevent clickjacking
                Header always append X-Frame-Options SAMEORIGIN
                <If "%{HTTP_HOST} =~ /tetrapak-dev64a.dev.adobecqms.net/">
                RequestHeader append Authorization "Basic c2FtcGxlLWdlbmVyYWwtY3VnOlNhbXBsZUAxMjM0NQ=="
                #Header add Authorization "Basic c2FtcGxlLWdlbmVyYWwtY3VnOlNhbXBsZUAxMjM0NQ=="
                </If>
        </Directory>
        <Directory "${PUBLISH_DOCROOT}">
                AllowOverride None
                Require all granted
        </Directory>
        <IfModule disp_apache2.c>
                ## Enabled to allow rewrites to take affect and not be ignored by the dispatcher module
                DispatcherUseProcessedURL       1
                ## Default setting to allow all errors to come from the aem instance
                DispatcherPassError             0
        </IfModule>
        <IfModule mod_rewrite.c>
                ReWriteEngine   on
                LogLevel warn rewrite:info
                ##Global rewrite include
                Include /etc/httpd/conf.d/rewrites/base_rewrite.rules
					##Publish  rewrite include
                Include /etc/httpd/conf.d/rewrites/publish_publicweb_rewrite.rules
				
                ## Update /etc/sysconfig/httpd with setting the PUBLISH_FORCE_SSL from 0 or 1 to enable or disable enforcing SSL
                <If "${PUBLISH_FORCE_SSL} == 1">
                        Include /etc/httpd/conf.d/rewrites/xforwarded_forcessl_rewrite.rules
                </If>
        </IfModule>
		<IfModule mod_expires.c>
				SetEnvIf Request_URI "(\.min)?\.[a-f0-9]+\.js" long_expires=true
				SetEnvIf Request_URI "(\.min)?\.[a-f0-9]+\.css" long_expires=true
				Header set Cache-Control max-age=432000 env=long_expires
		</IfModule>
</VirtualHost>

