<div class="tp-card tp-all-payments" data-src_ispublishenvironment="true" data-module="Allpayments" data-status-api="/content/tetrapak/supplierportal/global/en/testpagenew/jcr:content/root/responsivegrid/allpayments.invoice.status.json">
    <code class="d-none js-all-payments__config">
      {"companyCode":"sp.paymentDetails.companyCode","country":"sp.paymentDetails.country","pagination":"sp.paymentDetails.pagination","fetchError":"sp.paymentDetails.fetcherror","withHoldingTax":"sp.paymentDetails.withholdingtax","dueDate":"sp.paymentDetails.dueDate","paginationPrev":"sp.paymentDetails.paginationPrev","paginationNext":"sp.paymentDetails.paginationNext","supplierCode":"sp.paymentDetails.supplierCode","invoiceDate":"sp.paymentDetails.invoiceDate","allPaymentsHeading":"sp.paymentDetails.allPaymentsHeading","paginationFirst":"sp.paymentDetails.paginationFirst","paginationLast":"sp.paymentDetails.paginationLast","poNo":"sp.paymentDetails.poNo","noDataFound":"sp.paymentDetails.noDataFound","multiPoNo":"sp.paymentDetails.multipono","amountIncludingTaxes":"sp.paymentDetails.amountIncludingTaxes","supplier":"sp.paymentDetails.supplier","paid":"sp.paymentDetails.paid","reset":"sp.paymentDetails.reset","company":"sp.paymentDetails.company","invoiceNo":"sp.paymentDetails.invoiceNo","results":"sp.paymentDetails.results","status":"sp.paymentDetails.status"}
    </code>
    <div class="d-none js-payment-api" data-list-api="https://api-dev.tetrapak.com//supplierpayments/invoices"></div>
    <div class="tp-spinner d-none">
      <div class="tpatom-loader js-loader">

  <div class="tpatom-loading-anim"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

      </div>
    </div>
    <div class="tp-payment-content">
      <div class="tp-all-payments__header-wrapper">
        <h2 class="tp-all-payments__heading js-all-payments__heading">
            Payments
        </h2>
      </div>
      <div class="tp-all-payments__search-count">18 Results</div>
      <div id="equipment-filter-modal" class="modal js-filter-modal tp-modal fade tp-equipment__filter-form" tabindex="-1" aria-hidden="true" role="dialog">
      </div>
      <div class="tp-all-payments__table_wrapper"><div class="tp-all-payments__table custom-scrollbar-horizontal on">
        <table class="tpmol-table tp-all-payments__table-summary__table js-all-payments__table-summary__table">
            <thead class="tpmol-table__head tp-all-payments__table-summary__head js-all-payments__table-summary__head">
                <tr class="tpmol-table__rowheading tp-all-payments__table-summary__row tp-all-payments__table-summary__rowheading js-all-payments__table-summary__rowheading">
                        <th data-key="documentDate" class="tpmol-table__cellheading sortable  tp-all-payments__table-summary__cell tp-all-payments__table-summary__cellheading  js-all-payments__table-summary__cellheading js-all-payments__table-summary__cellheading--0">
                                <button type="button" class="tpmol-table__sort clearfix tp-all-payments__table-summary__sort js-all-payments__table-summary__sort" data-key="documentDate" "="">

                                    <span>Invoice Date</span>
                                </button>
                        </th>
                        <th data-key="dueCalculationBaseDate" class="tpmol-table__cellheading sortable  tp-all-payments__table-summary__cell tp-all-payments__table-summary__cellheading  js-all-payments__table-summary__cellheading js-all-payments__table-summary__cellheading--1">
                                <button type="button" class="tpmol-table__sort clearfix tp-all-payments__table-summary__sort js-all-payments__table-summary__sort" data-key="dueCalculationBaseDate" "="">

                                    <span>Due Date</span>
                                </button>
                        </th>
                        <th data-key="companyName" class="tpmol-table__cellheading sortable  tp-all-payments__table-summary__cell tp-all-payments__table-summary__cellheading  js-all-payments__table-summary__cellheading js-all-payments__table-summary__cellheading--2">
                                <button type="button" class="tpmol-table__sort clearfix tp-all-payments__table-summary__sort js-all-payments__table-summary__sort" data-key="companyName" "="">

                                    <span>Company</span>
                                </button>
                        </th>
                        <th data-key="companyCode" class="tpmol-table__cellheading sortable  tp-all-payments__table-summary__cell tp-all-payments__table-summary__cellheading  js-all-payments__table-summary__cellheading js-all-payments__table-summary__cellheading--3">
                                <button type="button" class="tpmol-table__sort clearfix tp-all-payments__table-summary__sort js-all-payments__table-summary__sort" data-key="companyCode" "="">

                                    <span>Company Code</span>
                                </button>
                        </th>
                        <th data-key="companyCountry" class="tpmol-table__cellheading sortable  tp-all-payments__table-summary__cell tp-all-payments__table-summary__cellheading  js-all-payments__table-summary__cellheading js-all-payments__table-summary__cellheading--4">
                                <button type="button" class="tpmol-table__sort clearfix tp-all-payments__table-summary__sort js-all-payments__table-summary__sort" data-key="companyCountry" "="">

                                    <span>Country</span>
                                </button>
                        </th>
                        <th data-key="amountInTransactionCurrency" class="tpmol-table__cellheading sortable  tp-all-payments__table-summary__cell tp-all-payments__table-summary__cellheading  js-all-payments__table-summary__cellheading js-all-payments__table-summary__cellheading--5">
                                <button type="button" class="tpmol-table__sort clearfix tp-all-payments__table-summary__sort js-all-payments__table-summary__sort" data-key="amountInTransactionCurrency" "="">

                                    <span>Amount Including Taxes</span>
                                </button>
                        </th>
                        <th data-key="withholdingTaxAmmount" class="tpmol-table__cellheading  tp-all-payments__table-summary__cell tp-all-payments__table-summary__cellheading  js-all-payments__table-summary__cellheading js-all-payments__table-summary__cellheading--6">
                                    Withholding Taxes (show currency)
                        </th>
                        <th data-key="invoiceStatusCode" class="tpmol-table__cellheading  tp-all-payments__table-summary__cell tp-all-payments__table-summary__cellheading  js-all-payments__table-summary__cellheading js-all-payments__table-summary__cellheading--7">
                                    Invoice Status
                        </th>
                        <th data-key="documentReferenceID" class="tpmol-table__cellheading sortable  tp-all-payments__table-summary__cell tp-all-payments__table-summary__cellheading  js-all-payments__table-summary__cellheading js-all-payments__table-summary__cellheading--8">
                                <button type="button" class="tpmol-table__sort clearfix tp-all-payments__table-summary__sort js-all-payments__table-summary__sort" data-key="documentReferenceID" "="">

                                    <span>Invoice No</span>
                                </button>
                        </th>
                        <th data-key="supplierName" class="tpmol-table__cellheading sortable  tp-all-payments__table-summary__cell tp-all-payments__table-summary__cellheading  js-all-payments__table-summary__cellheading js-all-payments__table-summary__cellheading--9">
                                <button type="button" class="tpmol-table__sort clearfix tp-all-payments__table-summary__sort js-all-payments__table-summary__sort" data-key="supplierName" "="">

                                    <span>Supplier</span>
                                </button>
                        </th>
                        <th data-key="supplier" class="tpmol-table__cellheading sortable  tp-all-payments__table-summary__cell tp-all-payments__table-summary__cellheading  js-all-payments__table-summary__cellheading js-all-payments__table-summary__cellheading--10">
                                <button type="button" class="tpmol-table__sort clearfix tp-all-payments__table-summary__sort js-all-payments__table-summary__sort" data-key="supplier" "="">

                                    <span>Supplier Code</span>
                                </button>
                        </th>
                        <th data-key="purchasingDocuments" class="tpmol-table__cellheading  tp-all-payments__table-summary__cell tp-all-payments__table-summary__cellheading  js-all-payments__table-summary__cellheading js-all-payments__table-summary__cellheading--11">
                                    PO NO
                        </th>
                </tr>
            </thead>
            <tbody class="tpmol-table__body tp-all-payments__table-summary__body">
                <tr class="tpmol-table__row tp-all-payments__table-summary__row">
                        <td data-key="documentDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--0 ">
                                    2023-07-03
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="dueCalculationBaseDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--1 ">
                                    2023-07-03
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--2 ">
                                    TP Technical Service AB
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--3 ">
                                    0111
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCountry" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--4 ">
                                    SE
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="amountInTransactionCurrency" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--5 ">
                                    625.00 DKK
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="withholdingTaxAmmount" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--6 ">

                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="invoiceStatusCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--7 ">
                                    Rejected
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="documentReferenceID" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--8 ">
                                    79124499
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplierName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--9 ">
                                    Alfa Laval Kolding AS
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplier" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--10 ">
                                    387
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="purchasingDocuments" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--11 ">
                                    900089141
                                <!-- For Rebuilding Kits Details -->
                        </td>
                </tr>
                <tr class="tpmol-table__row tp-all-payments__table-summary__row">
                        <td data-key="documentDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--0 ">
                                    2023-07-03
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="dueCalculationBaseDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--1 ">
                                    2023-07-03
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--2 ">
                                    TP Technical Service AB
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--3 ">
                                    0111
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCountry" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--4 ">
                                    SE
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="amountInTransactionCurrency" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--5 ">
                                    625.00 DKK
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="withholdingTaxAmmount" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--6 ">

                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="invoiceStatusCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--7 ">
                                    Posted
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="documentReferenceID" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--8 ">
                                    79124499
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplierName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--9 ">
                                    Alfa Laval Kolding AS
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplier" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--10 ">
                                    387
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="purchasingDocuments" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--11 ">
                                    900089141
                                <!-- For Rebuilding Kits Details -->
                        </td>
                </tr>
                <tr class="tpmol-table__row tp-all-payments__table-summary__row">
                        <td data-key="documentDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--0 ">
                                    2023-07-03
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="dueCalculationBaseDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--1 ">
                                    2023-07-03
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--2 ">
                                    TP Technical Service AB
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--3 ">
                                    0111
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCountry" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--4 ">
                                    SE
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="amountInTransactionCurrency" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--5 ">
                                    625.00 DKK
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="withholdingTaxAmmount" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--6 ">

                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="invoiceStatusCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--7 ">
                                    Rejected
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="documentReferenceID" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--8 ">
                                    79124499
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplierName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--9 ">
                                    Alfa Laval Kolding AS
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplier" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--10 ">
                                    387
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="purchasingDocuments" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--11 ">
                                    900089141
                                <!-- For Rebuilding Kits Details -->
                        </td>
                </tr>
                <tr class="tpmol-table__row tp-all-payments__table-summary__row">
                        <td data-key="documentDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--0 ">
                                    2023-07-03
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="dueCalculationBaseDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--1 ">
                                    2023-07-03
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--2 ">
                                    TP Technical Service AB
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--3 ">
                                    0111
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCountry" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--4 ">
                                    SE
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="amountInTransactionCurrency" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--5 ">
                                    625.00 DKK
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="withholdingTaxAmmount" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--6 ">

                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="invoiceStatusCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--7 ">
                                    Posted
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="documentReferenceID" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--8 ">
                                    79124499
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplierName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--9 ">
                                    Alfa Laval Kolding AS
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplier" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--10 ">
                                    387
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="purchasingDocuments" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--11 ">
                                    900089141
                                <!-- For Rebuilding Kits Details -->
                        </td>
                </tr>
                <tr class="tpmol-table__row tp-all-payments__table-summary__row">
                        <td data-key="documentDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--0 ">
                                    2023-07-03
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="dueCalculationBaseDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--1 ">
                                    2023-07-03
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--2 ">
                                    TP Technical Service AB
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--3 ">
                                    0111
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCountry" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--4 ">
                                    SE
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="amountInTransactionCurrency" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--5 ">
                                    625.00 EUR
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="withholdingTaxAmmount" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--6 ">

                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="invoiceStatusCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--7 ">
                                    Rejected
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="documentReferenceID" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--8 ">
                                    79124499
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplierName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--9 ">
                                    Alfa Laval Kolding AS
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplier" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--10 ">
                                    387
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="purchasingDocuments" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--11 ">
                                    900089141
                                <!-- For Rebuilding Kits Details -->
                        </td>
                </tr>
                <tr class="tpmol-table__row tp-all-payments__table-summary__row">
                        <td data-key="documentDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--0 ">
                                    2023-07-03
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="dueCalculationBaseDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--1 ">
                                    2023-07-03
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--2 ">
                                    TP Technical Service AB
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--3 ">
                                    0111
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCountry" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--4 ">
                                    SE
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="amountInTransactionCurrency" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--5 ">
                                    625.00 EUR
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="withholdingTaxAmmount" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--6 ">

                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="invoiceStatusCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--7 ">
                                    Posted
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="documentReferenceID" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--8 ">
                                    79124499
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplierName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--9 ">
                                    Alfa Laval Kolding AS
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplier" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--10 ">
                                    387
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="purchasingDocuments" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--11 ">
                                    900089141
                                <!-- For Rebuilding Kits Details -->
                        </td>
                </tr>
                <tr class="tpmol-table__row tp-all-payments__table-summary__row">
                        <td data-key="documentDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--0 ">
                                    2023-07-04
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="dueCalculationBaseDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--1 ">
                                    2023-07-04
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--2 ">
                                    TP Technical Service AB
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--3 ">
                                    0111
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCountry" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--4 ">
                                    SE
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="amountInTransactionCurrency" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--5 ">
                                    1021.25 EUR
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="withholdingTaxAmmount" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--6 ">

                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="invoiceStatusCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--7 ">
                                    Posted
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="documentReferenceID" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--8 ">
                                    79124500
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplierName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--9 ">
                                    Alfa Laval Kolding AS
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplier" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--10 ">
                                    387
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="purchasingDocuments" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--11 ">
                                    900089891
                                <!-- For Rebuilding Kits Details -->
                        </td>
                </tr>
                <tr class="tpmol-table__row tp-all-payments__table-summary__row">
                        <td data-key="documentDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--0 ">
                                    2023-07-03
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="dueCalculationBaseDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--1 ">
                                    2023-07-03
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--2 ">
                                    TP Technical Service AB
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--3 ">
                                    0111
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCountry" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--4 ">
                                    SE
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="amountInTransactionCurrency" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--5 ">
                                    1021.25 EUR
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="withholdingTaxAmmount" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--6 ">

                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="invoiceStatusCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--7 ">
                                    Paid
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="documentReferenceID" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--8 ">
                                    79124600
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplierName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--9 ">
                                    Alfa Laval Kolding AS
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplier" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--10 ">
                                    387
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="purchasingDocuments" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--11 ">
                                    900089891
                                <!-- For Rebuilding Kits Details -->
                        </td>
                </tr>
                <tr class="tpmol-table__row tp-all-payments__table-summary__row">
                        <td data-key="documentDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--0 ">
                                    2023-07-02
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="dueCalculationBaseDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--1 ">
                                    2023-07-02
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--2 ">
                                    TP Technical Service AB
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--3 ">
                                    0111
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCountry" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--4 ">
                                    SE
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="amountInTransactionCurrency" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--5 ">
                                    1275.00 EUR
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="withholdingTaxAmmount" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--6 ">

                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="invoiceStatusCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--7 ">
                                    Posted
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="documentReferenceID" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--8 ">
                                    79126788
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplierName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--9 ">
                                    Alfa Laval Kolding AS
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplier" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--10 ">
                                    387
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="purchasingDocuments" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--11 ">
                                    900089891
                                <!-- For Rebuilding Kits Details -->
                        </td>
                </tr>
                <tr class="tpmol-table__row tp-all-payments__table-summary__row">
                        <td data-key="documentDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--0 ">
                                    2023-07-26
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="dueCalculationBaseDate" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--1 ">
                                    2023-07-26
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--2 ">
                                    TP Technical Service AB
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--3 ">
                                    0111
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="companyCountry" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--4 ">
                                    SE
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="amountInTransactionCurrency" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--5 ">
                                    750.00 EUR
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="withholdingTaxAmmount" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--6 ">

                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="invoiceStatusCode" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--7 ">
                                    Posted
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="documentReferenceID" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--8 ">
                                    79126801
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplierName" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--9 ">
                                    Alfa Laval Kolding AS
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="supplier" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--10 ">
                                    387
                                <!-- For Rebuilding Kits Details -->
                        </td>
                        <td data-key="purchasingDocuments" class="tpmol-table__cell tp-all-payments__table-summary__cell js-all-payments__table-summary__cell js-all-payments__table-summary__cell--11 ">

                                <!-- For Rebuilding Kits Details -->
                        </td>
                </tr>
            </tbody>
        </table>
</div>

    <div class="tp-tbl-pagination js-tbl-pagination" aria-live="polite">
        <div class="tp-tbl-pagination__container clearfix">
            <button type="button" class="tpatom-btn tpatom-btn--pagination js-page-number tp-tbl-pagination__first float-left" disabled="" data-skip="0" data-page-number="1">
                        <i class="icon icon-Right_new icon-left"></i>
                    <span class="tpatom-btn__text">First</span>
            </button>
            <button type="button" class="tpatom-btn tpatom-btn--pagination js-page-number tp-tbl-pagination__btn tp-tbl-pagination__prev float-left" disabled="" data-skip="-10" data-page-number="0">
                    <span class="tpatom-btn__text sr-only">Previous</span><i class="icon icon-Right_new icon-left"></i>
            </button>
                        <button type="button" class="tpatom-btn tpatom-btn--pagination js-page-number tp-tbl-pagination__btn float-left active" data-page-number="1">
                                <span class="tpatom-btn__text">1</span>
                        </button>
                        <button type="button" class="tpatom-btn tpatom-btn--pagination js-page-number tp-tbl-pagination__btn tp-tbl-pagination__direct float-left" data-skip="10" data-page-number="2">
                                <span class="tpatom-btn__text">2</span>
                        </button>
            <button type="button" class="tpatom-btn tpatom-btn--pagination js-page-number tp-tbl-pagination__btn tp-tbl-pagination__next float-left" data-skip="10" data-page-number="2">
                    <span class="tpatom-btn__text sr-only">Next</span><i class="icon icon-Right_new"></i>
            </button>
            <button type="button" class="tpatom-btn tpatom-btn--pagination js-page-number tp-tbl-pagination__last float-left" data-skip="10" data-page-number="2">
                    <span class="tpatom-btn__text">Last</span><i class="icon icon-Right_new"></i>
            </button>
        </div>

    </div>
</div>
    </div>
  </div>
