<div class="modal-dialog modal-dialog-centered tp-modal-dialog tp-all-payments-filter" auto_locator="companyCodes">
    <div class="modal-content tp-all-payments__modal-content tp-modal-content">
        <div class="modal-header tpmol-modal-header">
            <div class="js-all-payments__modal-header tp-all-payments__modal-header" auto_locator="headlineOverlay">
                Company
            </div>
            <button type="button" auto_locator="closebtnOverlay" class="tp-close-btn icon-Close_new tpatom-btn tpatom-btn--close tpmol-modal-header__close js-close-btn" data-dismiss="modal">
                <span class="sr-only">Close</span>
            </button>
        </div>
        <div class="modal-body tp-modal-body tp-all-payments__modal-body">
                    <div class="tp-all-payments-filter-options">
                                <div class="tpatom-checkbox">
                                    <label class="tpatom-checkbox__label clearfix" for="tpatomCheck0111">
                                        <input type="checkbox" class="tpatom-checkbox__input float-left" id="tpatomCheck0111" value="0111" auto_locator="companyCodesFilterCheckboxOverlay">
                                        <i class="tpatom-checkbox__icon icon icon-Tick float-left"></i>
                                            <span class="tpatom-checkbox__text js-checkbox__text" auto_locator="companyCodesFilterItemOverlay">0111</span>
                                    </label>
                                </div>
                                <div class="tpatom-checkbox">
                                    <label class="tpatom-checkbox__label clearfix" for="tpatomCheck0138">
                                        <input type="checkbox" class="tpatom-checkbox__input float-left" id="tpatomCheck0138" value="0138" auto_locator="companyCodesFilterCheckboxOverlay">
                                        <i class="tpatom-checkbox__icon icon icon-Tick float-left"></i>
                                            <span class="tpatom-checkbox__text js-checkbox__text" auto_locator="companyCodesFilterItemOverlay">0138</span>
                                    </label>
                                </div>
                    </div>
        </div>
        <div class="modal-footer tpmol-modal-footer tp-all-payments__modal-footer">
            <button class="tpatom-btn tpatom-btn--primary js-apply-filter-button tp-all-payments__apply-button js-apply-filter-button-filter-modal" auto_locator="confirmbtnOverlay" data-dismiss="modal">
                <span class="tpatom-btn__text sly-text">
                    undefined
                </span>
            </button>
                <div class="tp-all-payments__filter-select-count"><spna class="js-select-count">0</spna> undefined</div>
        </div>
    </div>
</div>
