<div class="modal-dialog modal-dialog-centered tp-modal-dialog tp-all-payments-filter" auto_locator="documentReferenceIDs">
    <div class="modal-content tp-all-payments__modal-content tp-modal-content">
        <div class="modal-header tpmol-modal-header">
            <div class="js-all-payments__modal-header tp-all-payments__modal-header" auto_locator="headlineOverlay">
                Invoice No
            </div>
            <button type="button" auto_locator="closebtnOverlay" class="tp-close-btn icon-Close_new tpatom-btn tpatom-btn--close tpmol-modal-header__close js-close-btn" data-dismiss="modal">
                <span class="sr-only">Close</span>
            </button>
        </div>
        <div class="modal-body tp-modal-body tp-all-payments__modal-body">
                    <div class="tpatom-input-box">
                        <input type="text" name="" id="" class="tpatom-input-box__input js-tp-all-payments-filter-input" auto_locator="documentReferenceIDsInputBox">
                    </div>
        </div>
        <div class="modal-footer tpmol-modal-footer tp-all-payments__modal-footer">
            <button class="tpatom-btn tpatom-btn--primary js-apply-filter-button tp-all-payments__apply-button" auto_locator="confirmbtnOverlay" data-dismiss="modal">
                <span class="tpatom-btn__text sly-text">
                    undefined
                </span>
            </button>
        </div>
    </div>
</div>
