<div>
    <header class="tp-header menu-opened" data-module="Header">
        <span class="tp-header__burger-menu icon-Burger"></span>
    <button type="button" class="tp-close-btn icon-Close tp-left-nav__close-btn d-lg-none d-xl-none js-close-btn">
      <span class="sr-only"></span>
    </button>  
    <div class="tp-header__logo d-none d-md-flex">
        <a href="https://www.google.com/" target="_blank" class="tp-header__link" datatag="internal" ctype="header" ctypeone="brand logo" cttitle="cuhu.logotext.text" aria-label="cuhu.logotext.text">
            <img src="https://mypages-qa.tetrapak.com/content/dam/tetrapak/customerhub/english/error/images/TetraPakLogo.png" alt="cuhu.logotext.text">
        </a>
    </div>
    <div class="tp-header__logo d-md-none">
        
        <a href="https://www.google.com/" target="_blank" class="tp-header__link" datatag="internal" ctype="header" ctypeone="brand logo" cttitle="cuhu.logotext.text" aria-label="cuhu.logotext.text">
            <img src="https://mypages-qa.tetrapak.com/content/dam/tetrapak/customerhub/english/error/images/TetraPakLogo.png" alt="cuhu.logotext.text">
        </a>
    </div>
    <div class="tp-header__nav-right">
        <span class="tp-header__user icon-Avatar">
            Charlie Svensson
        </span>
    </div>
    </header>
</div>
