<div class="modal tp-modal tp-lang-selector js-lang-modal fade show" id="lang-modal" data-module="LanguageSelector" aria-modal="true" style="display: block;" tabindex="-1" role="dialog">
   <div class="modal-dialog modal-dialog-centered tp-modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <h2 class="tp-lang-selector__heading">Choose your language</h2>
            <button type="button" class="tp-close-btn icon-Close js-close-btn">
            <span class="sr-only"></span></button>
         </div>
         <div class="modal-body">
            <div class="tp-lang-selector__selected-lang">
               <i class="icon-Globe"></i>
               <p class="tp-lang-selector__selected-lang-label">language.en</p>
            </div>
            <div class="tp-lang-selector__lang-container">
               <div class="tp-lang-selector__btn js-lang-selector__btn">language.en</div>
               <div class="tp-lang-selector__btn js-lang-selector__btn">language.fr</div>
            </div>
         </div>
      </div>
   </div>
</div>
