<div class="tp-support-request tp-card" data-src_ispublishenvironment="true" data-submit-api="/content/tetrapak/customerhub/global/en/support-request/jcr:content/root/responsivegrid/addequipment.addequipment.json" data-module="SupportRequest">
    <code class="d-none js-tp-support-request__config">{"submitSubtitle":"cuhu.addequipment.submit.subtitle","countryLabel":"cuhu.addequipment.details.country","machineSystemLabel":"cuhu.addequipment.details.machine","title":"cuhu.addequipment.title","addAnotherEquipmentLabel":"cuhu.addequipment.submit.add","dropdownPlaceholder":"cuhu.addequipment.details.dropdown.placeholder","detailsSubtitle":"If these details are not clear from your attached documents or photos, Tetra Pak will get in touch to understand what data to enter.","siteLabel":"cuhu.addequipment.details.site","manufactureOfAssetErrorMsg":"cuhu.addequipment.details.manufacture.asset.empty","manufactureModelNumberLabel":"cuhu.addequipment.details.manufacture.model","positionErrorMsg":"cuhu.addequipment.details.position.empty","equipmentStatusLabel":"cuhu.addequipment.details.status","subTitle":"Have added a new equipment to your installed base that is not showing up in your equipment list?","dragAndDropSubtitle":"cuhu.addequipment.dnd.subtitle","dragAndDropButton":"cuhu.addequipment.dnd.button","serialNumberErrorMsg":"cuhu.addequipment.serialnumber.empty","dragAndDropTitle":"cuhu.addequipment.dnd.title","equipmentDescriptionErrorMsg":"cuhu.addequipment.details.equipment.empty","constructionYearLabel":"cuhu.addequipment.details.construction","constructionYearErrorMsg":"cuhu.addequipment.details.construction.empty","dragAndDropDescription":"cuhu.addequipment.dnd.desc","commentsLabel":"cuhu.addequipment.details.comments","equipmentStatusErrorMsg":"cuhu.addequipment.details.status.empty","equipmentDescriptionLabel":"cuhu.addequipment.details.equipment","countryOfManufactureLabel":"cuhu.addequipment.details.manufacture.country","detailsTitle":"cuhu.addequipment.details.title","dragAndDropRemoveFileLabel":"cuhu.addequipment.dnd.remove","submitTitle":"cuhu.addequipment.submit.title","siteErrorMsg":"cuhu.addequipment.details.site.empty","positionLabel":"cuhu.addequipment.details.position","submitButtonLabel":"cuhu.addequipment.details.submit","lineErrorMsg":"cuhu.addequipment.details.line.empty","countryErrorMsg":"cuhu.addequipment.details.country.empty","countryOfManufactureErrorMsg":"cuhu.addequipment.details.manufacture.country.empty","manufactureOfAssetLabel":"cuhu.addequipment.details.manufacture.asset","serialNumberLabel":"cuhu.addequipment.serialnumber","lineLabel":"cuhu.addequipment.details.line"}</code>
    <div class="tp-spinner js-tp-spinner d-none">

        <div class="tpatom-loader js-loader">

            <div class="tpatom-loading-anim"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

        </div>

    </div>
    <div class="js-tp-support-request__content-wrapper"><h1 class="tp-support-request__title">Send new support request</h1>
        <p class="tp-support-request__subtitle">Have you send already support request?</p>
        <form class="tp-support-request__form">
            <div class="row">
                <div class="col-lg-3 tp-support-request__serial-number-wrapper js-tp-support-request__form-element tp-support-request__form-element">
                    <label class="tpatom-input-box__text tp-support-request__field-label" for="supportRequestSerialNumber">Serial number</label>
                    <div class="tpatom-input-box">
                        <input type="text" name="supportRequestSerialNumber" id="supportRequestSerialNumber" class="tpatom-input-box__input" placeholder="444454-44444" required="">
                    </div>
                    <div class="error-msg">Enter serial number</div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 tp-support-request__drag-and-drop-wrapper">
                    <div class="tp-support-request__drag-and-drop-description-wrapper">
                        <p class="tp-support-request__drag-and-drop-description">Add photo or file to your equipment</p>
                        <i class="icon-Info"></i>
                    </div>
                    <div class="tp-support-request__drag-and-drop js-tp-support-request__drag-and-drop">
                        <h2 class="tp-support-request__drag-and-drop-title">Upload a file</h2>
                        <p class="tp-support-request__drag-and-drop-subtitle">Max file size: 10 MB</p>
                        <button type="button" class="tpatom-btn tpatom-btn--transparent js-tp-support-request__drag-and-drop-button tp-support-request__drag-and-drop-button">
                            <span class="tpatom-btn__text">Select a file</span><i class="icon icon-Plus"></i>
                        </button>
                        <div class="js-tp-support-request__drag-and-drop-files-container">    <div class="tp-support-request__drag-and-drop-file-container">
                            <div class="tp-support-request__drag-and-drop-file-info-container">
                                <i class="icon-PDF tp-support-request__drag-and-drop-file-icon tp-support-request__drag-and-drop-file-icon--file"></i>
                                <p class="tp-support-request__drag-and-drop-file-name">File1.png (0.19 MB)</p>
                            </div>
                            <div class="tp-support-request__drag-and-drop-file-remove-container js-tp-support-request__drag-and-drop-file-remove-container" data-index="0">
                                <i class="icon-My_Euipment_Bin_X tp-support-request__drag-and-drop-file-icon tp-support-request__drag-and-drop-file-icon--trash"></i>
                                <p class="tp-support-request__drag-and-drop-file-remove">Remove file</p>
                            </div>
                        </div>
                            <div class="tp-support-request__drag-and-drop-file-container">
                                <div class="tp-support-request__drag-and-drop-file-info-container">
                                    <i class="icon-PDF tp-support-request__drag-and-drop-file-icon tp-support-request__drag-and-drop-file-icon--file"></i>
                                    <p class="tp-support-request__drag-and-drop-file-name">File2.png (0.16 MB)</p>
                                </div>
                                <div class="tp-support-request__drag-and-drop-file-remove-container js-tp-support-request__drag-and-drop-file-remove-container" data-index="1">
                                    <i class="icon-My_Euipment_Bin_X tp-support-request__drag-and-drop-file-icon tp-support-request__drag-and-drop-file-icon--trash"></i>
                                    <p class="tp-support-request__drag-and-drop-file-remove">Remove file</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 tp-support-request__details-wrapper">
                    <div class="tp-support-request__details">
                        <h2 class="tp-support-request__details-title">Details</h2>
                        <p class="tp-support-request__details-subtitle">If these details are not clear from your attached documents or photos, Tetra Pak will get in touch to understand what data to enter.</p>
                        <div class="js-tp-support-request__form-element tp-support-request__form-element">
                            <label class="tpatom-input-box__text tp-support-request__field-label" for="supportRequestPosition">Position</label>
                            <div class="tpatom-input-box">
                                <input type="text" name="supportRequestPosition" id="supportRequestPosition" class="tpatom-input-box__input" required="">
                            </div>
                            <div class="error-msg">Enter position</div>
                        </div>
                        <div class="js-tp-support-request__form-element tp-support-request__form-element">
                            <label class="tpatom-input-box__text tp-support-request__field-label" for="supportRequestMachineSystem">Machine system (Optional)</label>
                            <div class="tpatom-input-box">
                                <input type="text" name="supportRequestMachineSystem" id="supportRequestMachineSystem" class="tpatom-input-box__input">
                            </div>
                        </div>
                        <div class="js-tp-support-request__form-element tp-support-request__form-element js-tp-support-request__toggle-mandatory">
                            <label class="tpatom-input-box__text tp-support-request__field-label" for="supportRequestEquipmentDescription">Equipment description</label>
                            <div class="tpatom-input-box">
                                <input type="text" name="supportRequestEquipmentDescription" id="supportRequestEquipmentDescription" class="tpatom-input-box__input">
                            </div>
                            <div class="error-msg">Enter equipment description</div>
                        </div>
                        <div class="js-tp-support-request__form-element tp-support-request__form-element">
                            <label class="tpatom-input-box__text tp-support-request__field-label" for="supportRequestManufactureModelNumber">Manufacture model number (Optional)</label>
                            <div class="tpatom-input-box">
                                <input type="text" name="supportRequestManufactureModelNumber" id="supportRequestManufactureModelNumber" class="tpatom-input-box__input">
                            </div>
                        </div>
                        <div class="js-tp-support-request__form-element tp-support-request__form-element js-tp-support-request__toggle-mandatory">
                            <label class="tpatom-input-box__text tp-support-request__field-label" for="supportRequestManufactureOfAsset">Manufacture of asset</label>
                            <div class="tpatom-input-box">
                                <input type="text" name="supportRequestManufactureOfAsset" id="supportRequestManufactureOfAsset" class="tpatom-input-box__input">
                            </div>
                            <div class="error-msg">Enter manufacture of asset</div>
                        </div>
                        <div class="js-tp-support-request__form-element tp-support-request__form-element js-tp-support-request__toggle-mandatory">
                            <label class="tpatom-input-box__text tp-support-request__field-label" for="supportRequestConstructionYear">Construction year</label>
                            <div class="tpatom-input-box">
                                <input type="number" name="supportRequestConstructionYear" id="supportRequestConstructionYear" class="tpatom-input-box__input">
                            </div>
                            <div class="error-msg">Enter construction year</div>
                        </div>
                        <div class="js-tp-support-request__form-element tp-support-request__form-element">
                            <div class="tpatom-textarea-box">
                                <label class="tpatom-textarea-box__text tp-support-request__field-label" for="supportRequestComments">Comments (Optional)</label>

                                <textarea name="supportRequestComments" id="supportRequestComments" class="tpatom-textarea-box__input"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="tpatom-btn tpatom-btn--primary tp-support-request__submit js-tp-support-request__submit">
                            <span class="tpatom-btn__text">Submit</span><i class="icon icon-Chevron_Right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <div class="tp-support-request__submit-title-wrapper">
            <i class="icon-Circle_filled_Tick tp-support-request__submit-title-icon"></i>
            <p class="tp-support-request__submit-title">Thank you!</p>
        </div>
        <p class="tp-support-request__submit-subtitle">We will answer this support request as soon as possible.</p>
        <button type="button" class="tpatom-btn tpatom-btn--primary js-tp-support-request__add-another-equipment tp-support-request__add-another-equipment js-tp-support-request__add-another-equipment">
            <span class="tpatom-btn__text">Send another support request</span><i class="icon icon-Circle_Plus"></i>
        </button>
    </div>
</div>