<div data-module="teaser">
      <section class="tp-teaser mtp-theme--grayscale-white">
        <div class="tp-teaser__heading">
          
  <h3 class="tpatom-heading tpatom-heading--">Processing Solutions</h3>

        </div>

        <div class="tp-teaser__description col-lg-10">
           The Tetra Pak Design manual provides valuable information to assist you in producing predictable print results for the package you are designing. This guide will also help you understand the important differences betw
        </div>

        
        <div data-paren-link-title="Processing Solutions" class="tp-teaser__details row no-gutters">
          
            <div class="col-md-12 col-lg-4 teaserpad teaserMargin ">
            <a href="www.google.com" class="js-teaser-analytics teaser-image-link" title="Read More" data-link-section="Teaser_imageClick" data-link-name="Processing Solutions" data-paren-link-title="Processing Solutions:Processing Solutions" data-anchor-type="Text Hyperlink" target="_self">

              
                
                
    
    
    <img src="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="Girl drinking milk" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=672&amp;hei=378" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" data-was-processed="true">

              

              
            </a>
            
            <h4 class="tilte noTopPad">Processing Solutions</h4>

            <p class="description">Processing solutions and equipment for dairy, cheese, ice cream, beverages and prepared food.</p>

            <div class="link">
              
              <a href="www.google.com" class="tpatom-link tpatom-link--transparent " title="Read More" data-link-section="Teaser_Text Hyperlink" data-link-name="Read More" data-paren-link-title="Processing Solutions:Processing Solutions" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">Read More<span class="nowrap-text">⁠<i class="icon icon-External_Link"></i></span></span>
              </a>
            </div>
          </div>
        
          
            <div class="col-md-12 col-lg-4 teaserpad teaserMargin ">
            <a href="solutions/packaging" class=" teaser-image-link" title="read more" data-link-section="Teaser_imageClick" data-link-name="Packaging Solutions" data-paren-link-title="Processing Solutions:Packaging Solutions" data-anchor-type="Text Hyperlink" target="_self">

              
                
                
    
    
    <img src="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="Packages" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=672&amp;hei=378" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" data-was-processed="true">

              

              
            </a>
            
            <h4 class="tilte noTopPad">Packaging Solutions</h4>

            <p class="description">A complete carton packaging range for consuming fresh products, offering user convenience, easy opening and optimal shelf life.</p>

            <div class="link">
              
              <a href="solutions/packaging" class="tpatom-link tpatom-link--transparent " title="read more" data-link-section="Teaser_Text Hyperlink" data-link-name="read more" data-paren-link-title="Processing Solutions:Packaging Solutions" data-anchor-type="Text Hyperlink" target="_self">
                  <span class="tpatom-link__text sly-text">read more<span class="nowrap-text">⁠<i class="icon icon-Chevron_Right"></i></span></span>
              </a>
            </div>
          </div>
        
          
            <div class="col-md-12 col-lg-4  teaserMargin ">
            <a href="https://www.tetrapak.com/solutions/packaging/test.pdf" class=" teaser-image-link" title="Download" data-link-section="Teaser_imageClick" data-link-name="Service Solutions" data-paren-link-title="Processing Solutions:Service Solutions" data-anchor-type="Text Hyperlink" target="_blank">

              
                
                
    
    
    <img src="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="Engineer wearing Hololens" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=672&amp;hei=378" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" data-was-processed="true">

              

              
            </a>
            
            <h4 class="tilte noTopPad">Service Solutions</h4>

            <p class="description">Tetra Pak<sup>®</sup> Services helps you improve your performance, optimize costs and ensure food safety throughout the lifecycle of your operations. </p>

            <div class="link">
              
              <a href="https://www.tetrapak.com/solutions/packaging/test.pdf" class="tpatom-link tpatom-link--transparent " title="Download" data-link-section="Teaser_Text Hyperlink" data-link-name="Download" data-paren-link-title="Processing Solutions:Service Solutions" data-anchor-type="Text Hyperlink" target="_blank">
                  <span class="tpatom-link__text sly-text">Download<span class="nowrap-text">⁠<i class="icon icon-Download"></i></span></span>
              </a>
            </div>
          </div>
        
          
            <div class="col-md-12 col-lg-4 teaserpad teaserMargin ">
            <a href="https://www.tetrapak.com/solutions/packaging" class=" teaser-image-link" title="Read More" data-link-section="Teaser_imageClick" data-link-name="Packaging Solutions" data-paren-link-title="Processing Solutions:Packaging Solutions" data-anchor-type="Text Hyperlink" target="_blank">

              
                
                
    
    
    <img src="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" class="img-responsive js-dynamic-media tp-teaser__image image initial loaded" itemprop="image" alt="Packages" data-src_desktop="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" data-src_desktopl="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" data-src_mobilep="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" data-src_mobilel="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=672&amp;hei=378" data-src="https://s7g10.scene7.com/is/image/tetrapakdev/yoghurt-blueberries 1 (2)?wid=384&amp;hei=216" data-was-processed="true">

              

              
            </a>
            
            <h4 class="tilte noTopPad">Packaging Solutions</h4>

            <p class="description">A complete carton packaging range for consuming fresh products, offering user convenience, easy opening and optimal shelf life.</p>

            <div class="link">
              
              <a href="https://www.tetrapak.com/solutions/packaging" class="tpatom-link tpatom-link--transparent " title="Read More" data-link-section="Teaser_Text Hyperlink" data-link-name="Read More" data-paren-link-title="Processing Solutions:Packaging Solutions" data-anchor-type="Text Hyperlink" target="_blank">
                  <span class="tpatom-link__text sly-text">Read More<span class="nowrap-text">⁠<i class="icon icon-External_Link"></i></span></span>
              </a>
            </div>
          </div>
        </div>
        <div class="tp-teaser__seeAllLink text-center">
          <a href="solutions/packaging" class="tpatom-link tpatom-link--transparent">
            <span class="tpatom-link__text sly-text">View all</span><span class="nowrap-text">⁠<i class="icon icon-Chevron_Right"></i></span>
          </a>
        </div>
      </section>
    </div>