.tp_pw-breadcrumb {
    @include max-width($body-max-width);
    @include padding(0 $padding-xxxl $padding-l);
    display: none;
    color: $color-emperor;
    position: relative;
    width: 100%;

    @media #{$desktop} {
        display: block;
    }

    &__link {
        @include line-height($font-m-md, $font-m-md);
        color: $color-boulder;
        font-size: $font-sm;
        font-style: normal;
        font-weight: 500;
        &:hover {
            color: $color-dark-blue;
        }
    }

    .icon-Arrow_Right_pw {
        &.tp_icon {
            @include margin(0 $margin-xs);
            @include line-height($font-xxs, $font-xxs);
            display: inline;
            font-size: $font-xxs;
            vertical-align: middle;
        }
    }

    span {
        @include line-height($font-m-md, $font-m-md);
        color: $color-emperor;
        font-size: $font-sm;
        font-weight: 500;
    }
}
