<sly data-sly-template.textVideo_template="${@ data, flag}">
  <div class="tp-card tp-text-video" data-locator="text-video">
    <div class="row">
      <div class="col-md-12 col-lg-4">
        <h2 class="tp-text-video__heading"> ${data.title @ i18n}</h2>
        <sly data-sly-use.videodescription="/apps/customerhub/components/components/textvideo/videodescription-template.html"
            data-sly-call="${videodescription.videodescription_template @data=data}" />
      </div>
      <div class="col-md-12 col-lg-8">
        <sly data-sly-use.genericvideo="/apps/commons/components/molecules/generic-video/generic-video-template.html"
                data-sly-call="${genericvideo.generic-video_template @data=data}" />
        <sly data-sly-use.videodescription="/apps/customerhub/components/components/textvideo/videodescription-template.html"
            data-sly-call="${videodescription.videodescription_template @data=data}" />
      </div>
    </div>
  </div>
</sly>
