.medialink {
    @include border-radius($border-radius);
    @include padding-left($padding-md);
    @include padding-right($padding-md);
    @include padding-top($padding-l);
    @include margin(0 $margin-md);
    @media #{$desktop} {
        @include padding($padding-xxxl);
        @include padding-left($padding-xxxl);
        @include padding-right($padding-xxxl);
        @include margin(0 $margin-xxxl);
    }

    &__heading {
        @include font-size($font-l);
        @include padding-top($padding-zero);
        @include margin-bottom($margin-md);
        @media #{$desktop} {
            @include padding-top($padding-zero);
            @include margin-bottom($margin-l);
        }

        h3 {
            @include font-size($font-l);
            @include line-height($font-xl, $font-l);
            font-weight: 400;
            @media #{$desktop} {
                @include font-size($font-xl);
                @include line-height(40px, $font-xl);
                font-weight: 700;
            }
        }
        p {
            @include margin-top($margin-l);
            @include font-size($font-baseline);
            @include line-height($font-md, $font-baseline);
            font-weight: 400;
        }
    }

    &__subheading {
        @include margin-bottom($margin-l);
        @include min-height(24px);
        h4 {
            @include padding-left($padding-zero);
            @include font-size($font-md);
            @include line-height($font-l, $font-md);
            font-weight: 500;
        }
    }

    &__linklist {
        @include margin-bottom($margin-l);
        &:last-child {
            @include margin-bottom($margin-l);
        }
        &.noMobileHeader {
            @include margin-top(-$margin-l);
        }
        @media #{$desktop} {
            @include padding-left($margin-l);
            @include padding-right($margin-l);
            @include margin-bottom($margin-zero);
            &:first-child {
                @include padding-left(15px);
            }
            &:last-child {
                @include padding-right(15px);
                @include margin-bottom($margin-zero);
            }
            &.noMobileHeader {
                @include margin-top($margin-zero);
            }
        }
    }
    &__wrapper {
        @include padding($padding-md $padding-zero);
        display: flex;
        border-bottom: 1px solid $color-mercury;
        p {
            display: none;
            @media #{$desktop} {
                @include margin-top(-$margin-sm);
                @include margin-bottom($margin-md);
                display: block;
            }
        }
    }
    &__content {
        flex: 1;
    }
    &__image {
        margin-right: $margin-md;
    }
    &__link.tpatom-link--transparent {
        @include line-height(24px, 14px);
        @include font-size(14px);
        display: flex;
        margin-bottom: $margin-md;
        justify-content: space-between;
        span {
            @media #{$desktop} {
                @include margin-left($margin-zero);
            }
            @include line-height(24px, 14px);
            font-weight: 400;
        }
        i.icon {
            @include margin-left(16px);
            @include margin-right(16px);
            display: inline-block;
            line-height: 24px;
            &::before {
                font-size: $font-normal;
                height: 16px;
                width: 16px;
            }
        }
        .icon.icon-Circle_Arrow_Right_pw {
            @include margin-top(0);
            @include padding-right(16px);
            line-height: 24px;
        }
    }
    .topMargin {
        @include margin-top($margin-xxl);
    }
    .noMobile {
        display: none;
        @media #{$desktop} {
            display: block;
        }
    }
}