.medialink {
    @include border-radius($border-radius);
    @include padding-left($padding-md);
    @include padding-right($padding-md);
    @include margin(0 $margin-md);
    @media #{$desktop} {
        @include padding($padding-xxxl);
        @include padding-left($padding-xxxl);
        @include padding-right($padding-xxxl);
        @include margin(0 $margin-xxxl);
    }

    &__heading {
        @include font-size($font-l);
        @include line-height($font-xl, $font-l);
        @include margin-left($margin-l);
        @media #{$desktop} {
            @include margin-left($margin-zero);
            @include margin-bottom($margin-md);
            font-weight: 300;
        }
    }

    &__subheading {
        @include margin-left($margin-l);
        @include margin-bottom($margin-md);        
        h4 {
            @include font-size($font-md);
            @include line-height($font-l, $font-md);
        }
    }

    &__linklist {
        @include margin-bottom($margin-l);
        @media #{$desktop} {
            @include padding-left($margin-l);
            @include padding-right($margin-l);
            @include margin-bottom($margin-zero);
            &:first-child {
                @include padding-left($margin-zero);
            }
            &:last-child {
                @include padding-right($margin-zero);
            }
        }
    }
    &__link {
        @include min-height(56px) ;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color-mercury;
        span {
            @media #{$desktop} {
                @include font-size(14px);
                @include line-height(24px, 14px);
                @include margin($margin-md);
                color: $color-congress-blue;
                font-weight: 500;
            }
        }

        i.icon {
            @media #{$desktop} {
                @include margin-left(16px);
                @include margin-right(16px);
                display: inline-block;
                line-height: 56px;
            }
        }
    }


}