.medialink {
    @include border-radius($border-radius);
    @include padding-left($padding-md);
    @include padding-right($padding-md);
    @include margin(0 $margin-md);
    @media #{$desktop} {
        @include padding($padding-xxxl);
        @include padding-left($padding-xxxl);
        @include padding-right($padding-xxxl);
        @include margin(0 $margin-xxxl);
    }

    &__heading {
        @media #{$desktop} {
            @include margin-bottom($margin-md);
            font-weight: 300;
        }
    }

    &__subheading {
        @media #{$desktop} {
            @include margin-bottom($margin-md);
        }

        h4 {
            @media #{$desktop} {
                @include font-size($font-md);
                @include line-height($font-l, $font-md);
                font-weight: 500;
            }
        }
    }

    &__linklist {
        @include padding-left($margin-l);
        @include padding-right($margin-l);
        &:first-child {
            @include padding-left($margin-zero);
        }
        &:last-child {
            @include padding-right($margin-zero);
        }

    }

    &__link {
        @include min-height(56px) ;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color-mercury;
        span {
            @media #{$desktop} {
                @include font-size(14px);
                @include line-height(24px, 14px);
                @include margin($margin-md);
                color: $color-congress-blue;
                font-weight: 500;
            }
        }

        i.icon {
            @media #{$desktop} {
                @include margin-left(16px);
                @include margin-right(16px);
                @include line-height(56px, 1px);
                display: inline-block;
            }
        }
    }


}