.tp-order-search {
    $gutter-space: 2 * $margin-md / 3;
    @include padding($padding-md);
    @include border-radius($border-radius);
    @include box-shadow-normal;
    background-color: $color-white;
    @media #{$desktop} {
        @include padding($padding-l);
    }
    .form-control {
        @include border-xs($color-boulder);
        @include height(40px);
        &[readonly] {
            background-color: $color-white;
        }
    }
    .tpatom-button--secondary {
        @include margin-right($margin-md);
    }
    .form-element,
    &__flex-container .form-control {
        @include margin-bottom($margin-md);
    }
    .icon-Chevron_Down {
        @include height(14px);
    }
    .form-element__icon {
        @include font-size(12px);
    }
    @media #{$desktop} {
        .form-element {
            @include margin-left($margin-md);
            width: calc(100% / 3 - #{$gutter-space});
            &:first-child {
                margin-left: 0;
            }
        }
        &__search-term {
            @include margin-right($margin-md);
            .tp-order-search & {
                margin-bottom: 0;
            }
        }
        &__flex-container {
            @include display-flex;
            clear: both;
        }
    }
    &__table {
        @include horizontal-scroll-touch;
    }
}
