.tp-order-search {
    $gutter-space: $padding-md / 3;

    &__form {
        @include margin-bottom($margin-xl);

        @media #{$desktop} {
            @include margin-bottom($margin-l);
        }
    }

    &__date-range-wrapper,
    &__status-wrapper,
    &__address-wrapper {
        @include margin-bottom($margin-md);
        width: 100%;

        @media #{$desktop} {
            @include padding-right($padding-md);
            display: inline-block;
            width: calc(100% / 3 + #{$gutter-space});
        }
    }

    &__address-wrapper {
        width: 100%;

        @media #{$desktop} {
            padding-right: 0;
            width: calc(100% / 3 - #{$padding-md} + #{$gutter-space});
        }
    }

    &__search-term {
        @include margin(0 0 $margin-md 0);
        width: 100%;

        @media #{$desktop} {
            @include margin(0 $margin-md 0 0);
            flex: 1;
        }
    }

    .tpatom-button--secondary {
        @include margin-right($margin-md);
    }

    &__flex-container {
        @media #{$desktop} {
            @include display-flex;
            clear: both;
        }
    }

    &__table {
        @include horizontal-scroll-touch;
    }
}
