.order-search {
    $gutter-space: 2 * $margin-md / 3;
    @include padding($padding-l);
    @include border-radius($border-radius);
    @include box-shadow-normal;
    background-color: $color-white;
    .form-control {
        @include margin-bottom($margin-md);
        @include border-xs($color-boulder);
        @include height(40px);
        &[readonly] {
            background-color: $color-white;
        }
    }
    .btn--secondary {
        @include margin-right($margin-md);
    }
    &__date-range.form-control {
        margin-bottom: 0;
    }
    .icon-wrapper {
        @include margin-bottom($margin-md);
    }
    @media #{$desktop} {
        &__order-status,
        &__delivery-address,
        .icon-wrapper {
            width: calc(100% / 3 - #{$gutter-space});
        }
        &__order-status,
        .icon-wrapper {
            @include margin-right($margin-md);
        }
        &__search-term {
            @include margin-right($margin-md);
            .order-search & {
                margin-bottom: 0;
            }
        }
        &__flex-container {
            @include display-flex;
        }
    }
}