{{!-- Single button footer --}}
<div class="modal-footer tpmol-modal-footer">
    {{> atoms/buttons/button/button modifier="primary" baseClass=baseClass jsClass=jsClass iconClass="icon-Chevron_Right" text=buttonText}}
</div>
