{{!-- Single button footer --}}
<div class="modal-footer tpmol-modal-footer">
    {{> atoms/buttons/button/button modifier="primary" baseClass="tpmol-modal-footer__btn" jsClass="js-modal-footer__btn" iconClass="icon-Chevron_Right" text=buttonText}}
</div>
