.pw-search-result-head {
    .result-title {
        color: $color-tundora;
        font-size: $font-xx;
        font-weight: 700;
        line-height: $padding-xxxl;

    }
    .result-description {
        color: $color-tundora;
        font-size: $font-baseline;
        font-weight: 400;
        line-height: $font-l;
    }
}