<sly data-sly-template.packaging_template="${@ data, flag}">
  <div data-module="Packaging">
    <code class="d-none js-packaging__config">
        ${data.i18nKeys}
    </code>
    <code class="d-none js-packaging__delivery-table-config">
        ${data.packagingDeliveryTable}
    </code>
     <code class="d-none js-packaging__products-table-config">
        ${data.packagingProductsTable}
    </code>
    <div class="tp-card js-packaging__customer-detail">
    </div>
    <div class="tp card tp-packaging__delivery js-packaging__delivery">
    </div>
  </div>
</sly>
