<sly data-sly-template.imageAndText_template="${@ data,columns,className,flag}">
  <div class="tpmol-image-card tpmol-image-card__col--${columns}">
    <div class="tpmol-image-card__container">
      <sly data-sly-use.genericimage="/apps/customerhub/components/atoms/genericimage/genericimage-template.html" data-sly-call="${genericimage.genericimage_template @imagePath=data.imagePath,imageAltI18n=data.imageAltI18n,className='tp-get-started__details--image'}" />
      <div class="tpmol-image-card__text">
        <h3 class="tpmol-image-card__heading">${data.titleI18n @i18n}</h3>
        <sly data-sly-test.description="${data.descriptionI18n}">
           <div class="${className} font-style-sm">
              ${description @ context='html'}
           </div>
        </sly>
        <sly data-sly-test.linkText="${data.linkTextI18n}">
          <sly data-sly-test.linkUrl="${data.linkUrl}" />
          <div class="tpmol-image-card__link">
            <sly data-sly-use.linkAtom="/apps/commons/components/atoms/link/link-template.html"
                data-sly-call="${linkAtom.link_template @url=linkUrl,text=linkText,baseClass='',isExternal=false,modifier='secondary',iconClass='icon-Circle_Arrow_Right',className='js-slick-next'}" />
          </div>
        </sly>
      </div>
    </div>
  </div>
</sly>
