.pw-contactus-form {
    .form-group {
        @include margin-bottom(16px);
    }
    .privacy-policy {
        @include margin-top(24px);
    }
    .errorMsg {
        display: none;
        color: $color-alert;
        font-size: 12px;
    }
    .text-capital {
        text-transform: capitalize;
    }
    .formfield,
    .form-group {
        label {
            @include margin-bottom(0);
        }
    }
    .tab-pane {
        display: none;
        &.active {
            display: block;
        }
    }
    h4 {
        font-family: $font-bold;
        &.tpatom-heading--small {
            @include margin-bottom(16px);
        }
    }
    .separator {
        @include padding-bottom(24px);
        border-bottom: 1px solid $color-mercury;
        margin-bottom: 24px;
        .pw-image-container {
            @include margin-bottom(24px);
        }
        @media #{$desktop} {
            @include margin-bottom(0);
            @include padding-bottom(0);
            border-bottom: 0;
            border-right: 1px solid $color-mercury;
            padding-right: $margin-xxxl;
            & + div {
                @include padding-left(48px);
            }
            .pw-image-container {
                @include margin-bottom(0);
                @include padding-right(24px);
            }
            h4 {
                @include margin-bottom($margin-l);
            }
        }
    }
    .main-heading {
        @include margin-bottom($margin-md);
        overflow-wrap: break-word;
    }
    .thankyou {
        img {
            @include margin-bottom($margin-l);
        }
        h2,
        p {
            @include margin-bottom($margin-md);
        }
    }

    .summary {
        div + div {
            font-weight: 900;
        }
    }

    .button-group {
        .tpatom-btn--primary {
            &:hover {
                color: $color-white;
            }
        }
        .previousbtn {
            @include margin-right($margin-md);
            border: 1px solid $color-congress-blue;
            color: $color-congress-blue;
            background-color: $color-white;
            i {
                @include padding-left(5px);
                transform: rotate(180deg);
                float: left;
            }
            &:hover {
                border: 1px solid $color-jordy-blue;
                color: $color-jordy-blue;
            }
        }
    }

    .pw-progress {
        .pw-progressbar__steps {
            @include padding-left($padding-md);
            p {
                @include margin-top($margin-l);
                color: $color-congress-blue;
                font-size: 12px;
                @media #{$desktop} {
                    @include margin-top($margin-xxxl);
                }
            }
        }
    }
}
