<sly data-sly-template.contactus_template="${@data, flag}">
    <div id="${data.anchorId}" title="${data.anchorTitle}" class="pw-container" data-locator="ContactUs">
        <div class="pw-contactus-form pw-theme--${data.pwTheme} pw-padding--regular pw-margin--regular"
            id="pw-contactUs" data-module="ContactUs" auto_locator="contactUsParentContainerStep1">
            <div class="tab-content">
                <form class="pw-form pw-form-contactUs" accept-charset="UTF-8"
                    data-contactus-api-servlet="${data.apiUrl}" autocomplete="off">
                    <div class="tab-pane active" data-stepNumber="1" data-stepName="contactPurpose" role="tabpanel"
                        id="cf-step-1">
                        <div class="row no-gutters">
                            <div class="col-lg-6 separator" auto_locator="contactUsLeftContainerStep1">
                                <div class="row no-gutters">
                                    <div class="col-sm-12 main-heading js-step1-main-heading" data-form-name="${data.heading}" data-sly-test="${data.heading}"
                                        auto_locator="contactUsLeftContainerHeadingTextStep1">
                                        <sly data-sly-test="${data.heading}"
                                            data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                            data-sly-call="${heading.heading_h2_template @ headingText=data.heading}" />
                                    </div>
                                </div>
                                <div class="row no-gutters pw-text-left-wrapper">
                                    <div class="col-lg-6 pw-image-container" data-sly-test="${data.image}" auto_locator="contactUsImageStep1">
                                        <sly data-sly-test="${!wcmmode.edit}">
                                            <sly data-sly-test="${data.image}"
                                                data-sly-use.dynamicMediaImage="/apps/publicweb/components/content/dynamicMediaImage/dynamicMediaImage-template.html"
                                                data-sly-call="${dynamicMediaImage.dynamicMediaImage_template @imagePath=data.image, altText=data.alt}" />
                                        </sly>
                                        <sly data-sly-test="${wcmmode.edit}">
                                            <img data-sly-test="${data.image}" alt="${data.alt}" src="${data.image}"
                                                class="image img-responsive" />
                                        </sly>
                                    </div>
                                    <div class="descriptionCont ${data.image ? 'col-lg-6' : 'col-lg-12'}" auto_locator="contactUsLeftContainerTextAreaStep1">
                                        ${data.descriptionText @ context="html"}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" auto_locator="contactUsRightContainerStep1">
                                <div class="tab-content tab-content-steps">
                                    <div class="row">
                                        <div class="col-sm-12 js-form-field-heading-step1 form-field-heading" data-step-heading="${'pw.form.heading.purposeofcontact' @i18n}" data-step1-heading="${'pw.form.errormsg.purposeofcontact' @i18n}" auto_locator="contactUsRightContainerHeadingTextStep1">
                                            <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                                data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.purposeofcontact', variant='small'}" />
                                        </div>
                                        <div class="col-sm-12 formfield"
                                            auto_locator="contactUsRightContainerOptionListContainerStep1">
                                            <sly data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
                                                data-sly-call="${radioField.radiofieldinput_template @ id='sustainability', label='pw.form.contactus.sustainability', name='purposeOfContactOptions'}">
                                            </sly>
                                            <sly data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
                                                data-sly-call="${radioField.radiofieldinput_template @ id='career', label='pw.form.contactus.career', name='purposeOfContactOptions'}">
                                            </sly>
                                            <sly data-sly-use.radioField="/apps/publicweb/components/molecules/radiofieldinput/radiofieldinput-template.html"
                                                data-sly-call="${radioField.radiofieldinput_template @ id='other', label='pw.form.contactus.other', name='purposeOfContactOptions', labelClass='mb-0'}">
                                            </sly>
                                            <input type="hidden" name="purposeOfContactTitle" class="form-control validateForTags"
                                                id="purposeOfContact" required>
                                            <div data-purposeofcontact-errmsg="${'pw.form.errormsg.purposeofcontact' @i18n}" class="errorMsg purposeOfContactError">${'pw.form.errormsg.purposeofcontact' @i18n}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-gutters pw-progress" auto_locator="progressBarStep1">
                                        <div class="col-lg-9">
                                            <sly data-sly-use.progressBar="/apps/publicweb/components/molecules/progressbar/progressbar-template.html"
                                                data-sly-call="${progressBar.progressbar_template  @ activeStep=1, totalStep=[1,2,3]}">
                                            </sly>
                                        </div>
                                        <div class="pw-progressbar__steps d-none d-lg-block col-md-3">
                                            <p>
                                                ${'pw.form.step {0} of {1}'  @i18n, format=['1','3']}
                                            </p>
                                        </div>
                                    </div>
                                    <div data-form-step="Step 1" class="button row no-gutters button-group">
                                        <sly data-sly-use.nextButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                                            data-sly-call="${nextButton.tabbutton_template @ btnText='pw.form.button.next', btnTarget='#cf-step-2',icon_classes='icon-Arrow_Right_pw', autoLocator='contactUsNextButtonStep1', currentTarget='cf-step-1' }" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" data-stepNumber="2" data-stepName="contactInfo" role="tabpanel"
                        id="cf-step-2">
                        <div class="row no-gutters">
                            <div class="col-lg-6 separator">
                                <div class="row no-gutters">
                                    <div class="col-sm-12 main-heading" data-sly-test="${data.heading}"
                                        auto_locator="contactUsLeftContainerHeadingStep2">
                                        <sly data-sly-test="${data.heading}"
                                            data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                            data-sly-call="${heading.heading_h2_template @ headingText=data.heading}" />
                                    </div>
                                </div>
                                <div auto_locator="contactUsLeftContainerSummaryAreaStep2">
                                    <div class="row no-gutters">
                                        <div class="col-sm-12">
                                            <sly data-sly-test="${'pw.form.heading.summary' @i18n}"
                                                data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                                data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.summary', variant='small'}" />
                                        </div>
                                    </div>
                                    <div class="row no-gutters summary">
                                        <div class="col-lg-5">${'pw.form.heading.purposeofcontact' @i18n}</div>
                                        <div class="col-lg-7 purposeOfContactTitle"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="tab-content tab-content-steps">
                                    <div class="row no-gutters">
                                        <div class="col-sm-12 right-heading form-field-heading" data-step-heading="${'pw.form.heading.contactinformation' @i18n}" auto_locator="contactUsRightContainerHeadingTextStep2">
                                            <sly
                                                data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                                data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.contactinformation', variant='small'}" />
                                        </div>
                                        <div class="col-sm-12 formfield first-name" data-first-name-label="${'pw.form.label.firstName' @i18n}">
                                            <sly data-sly-use.inputField="/apps/publicweb/components/molecules/inputfield/inputfield-template.html"
                                                data-sly-call="${inputField.inputfield_template @ inputType='text', id='firstName', label='pw.form.label.firstName', error='pw.form.errormsg.firstname', required=true, autoLocatorInput='firstNameInput', autoLocatorLabel='firstNameHelpText', inputClass='validateForTags'}">
                                            </sly>
                                        </div>
                                        <div class="col-sm-12 formfield last-name" data-last-name-label="${'pw.form.label.lastName' @i18n}">
                                            <sly data-sly-use.inputField="/apps/publicweb/components/molecules/inputfield/inputfield-template.html"
                                                data-sly-call="${inputField.inputfield_template @ inputType='text', id='lastName', label='pw.form.label.lastName', error='pw.form.errormsg.lastname', required=true, autoLocatorInput='lastNameInput', autoLocatorLabel='lastNameHelpText', inputClass='validateForTags'}">
                                            </sly>
                                        </div>
                                        <div class="col-sm-12 formfield email-contact" data-email-name-label="${'pw.form.label.email' @i18n}">
                                            <sly data-sly-use.inputField="/apps/publicweb/components/molecules/inputfield/inputfield-template.html"
                                                data-sly-call="${inputField.inputfield_template @ inputType='email', id='email', label='pw.form.label.email' , placeholder='pw.form.label.emailPlaceholder', required=true, error='pw.form.errormsg.invalidemail', autoLocatorInput='emailInput', autoLocatorLabel='emailHelpText', inputClass='validateForTags'}">
                                            </sly>
                                        </div>
                                        <div class="col-sm-12 col-lg-6">
                                            <div class="formfield country-field country" data-country-name-label="${'pw.form.country' @i18n}">
                                                <label for="country"
                                                    auto_locator="contactUsCountrySelectorHelpText">${'pw.form.label.country' @
                                                    i18n}</label>
                                                <div class="pw-form__dropdown dropdown text-left">
                                                    <button
                                                        class="btn dropdown-toggle country-dropdown js-pw-form__dropdown__toggle pw-form__dropdown__toggle category__toggle text-left"
                                                        type="button" data-toggle="dropdown" aria-haspopup="true"
                                                        auto_locator="countrySelectDropdown" aria-expanded="false">
                                                        <span
                                                            class="js-pw-form__dropdown__country-text">${'pw.form.label.countryPlaceholder'
                                                            @ i18n}</span>
                                                        <i class="icon icon-Arrow_Right_pw"></i></button>
                                                    </button>
                                                    <div class="dropdown-menu pw-form__dropdown__menu country-dropdown-select"
                                                        data-sly-list.country="${data.countryOptions}">
                                                        <a href="#"
                                                            class="dropdown-item ${country.first? 'active' : ''}"
                                                            data-country="${country.key}"
                                                            data-countrytitle="${country.value}">
                                                            ${country.value}
                                                        </a>
                                                    </div>
                                                    <input type="hidden" name="countryTitle" class="form-control validateForTags"
                                                        id="country" required>
                                                </div>
                                                <div data-country-error-msg="${'pw.form.errormsg.country' @i18n}" class="errorMsg">${'pw.form.errormsg.country' @i18n}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-gutters pw-progress" auto_locator="progressBarStep2">
                                        <div class="col-lg-9">
                                            <sly data-sly-use.progressBar="/apps/publicweb/components/molecules/progressbar/progressbar-template.html"
                                                data-sly-call="${progressBar.progressbar_template @ activeStep=2, totalStep=[1,2,3]}">
                                            </sly>
                                        </div>
                                        <div class="pw-progressbar__steps d-none d-lg-block col-md-3">
                                            <p>  ${'pw.form.step {0} of {1}'  @i18n, format=['2','3']}</p>
                                        </div>
                                    </div>
                                    <div data-form-step="Step 2" class="button row no-gutters button-group">
                                        <sly data-sly-use.previousButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                                            data-sly-call="${previousButton.tabbutton_template @ btnText='pw.form.button.previous', btnTarget='#cf-step-1', variant='secondary', customClasses='previousbtn', icon_classes='icon-Arrow_Right_pw', autoLocator='contactUsPreviousButtonStep2',currentTarget='cf-step-2' }" />
                                        <sly data-sly-use.nextButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                                            data-sly-call="${nextButton.tabbutton_template @ btnText='pw.form.button.next', btnTarget='#cf-step-3', icon_classes='icon-Arrow_Right_pw', autoLocator='contactUsNextButtonStep2',currentTarget='cf-step-2' }" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" data-stepNumber="3" data-stepName="submitForm" role="tabpanel" id="cf-step-3">
                        <div class="row no-gutters">
                            <div class="col-lg-6 separator">
                                <div class="row no-gutters">
                                    <div class="col-sm-12 main-heading" data-sly-test="${data.heading}"
                                        auto_locator="contactUsLeftContainerHeadingTextStep3">
                                        <sly data-sly-test="${data.heading}"
                                            data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                            data-sly-call="${heading.heading_h2_template @ headingText=data.heading}" />
                                    </div>
                                </div>
                                <div auto_locator="contactUsLeftContainerSummaryAreaStep2">
                                    <div class="row no-gutters">
                                        <div data-sly-test="${'pw.form.heading.summary' @i18n}" class="col-sm-12">
                                            <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                                data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.summary', variant='small'}" />
                                        </div>
                                    </div>
                                    <div class="row no-gutters summary">
                                        <div class="col-lg-5">${'pw.form.heading.purposeofcontact' @i18n}</div>
                                        <div class="col-lg-7 purposeOfContactTitle"></div>
                                    </div>
                                    <div class="row no-gutters summary">
                                        <div class="col-lg-5">${'pw.form.label.firstName' @ i18n}</div>
                                        <div class="col-lg-7 firstName"></div>
                                    </div>
                                    <div class="row no-gutters summary">
                                        <div class="col-lg-5">${'pw.form.label.lastName' @ i18n}</div>
                                        <div class="col-lg-7 lastName"></div>
                                    </div>
                                    <div class="row no-gutters summary">
                                        <div class="col-lg-5">${'pw.form.label.email' @ i18n}</div>
                                        <div class="col-lg-7 email"></div>
                                    </div>
                                    <div class="row no-gutters summary">
                                        <div class="col-lg-5">${'pw.form.label.country' @ i18n}</div>
                                        <div class="col-lg-7 countryTitle"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="tab-content tab-content-steps">
                                    <div class="serviceError">${'pw.form.errormsg.serviceerror' @i18n}</div>
                                    <div class="row">
                                        <div class="col-sm-12 right-heading form-field-heading" data-step-heading="${'pw.form.heading.howcanihelp' @i18n}"   auto_locator="contactUsRightContainerHeadingTextStep3">
                                            <sly
                                                data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                                data-sly-call="${heading.heading_h4_template @ headingText='pw.form.heading.howcanihelp', variant='small'}" />
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="formfield">
                                                <label class="text-area-label" data-text-area-label="${'pw.form.label.message' @i18n}" for="messageText">${'pw.form.label.message' @i18n}</label>
                                                <textarea auto_locator="messageBoxStep3" class="form-control validateForTags"
                                                    id="messageText" rows="5" name="message" required></textarea>
                                                <div data-error-msg="${'pw.form.errormsg.enterthisfield' @i18n}" class="errorMsg">${'pw.form.errormsg.enterthisfield' @i18n}</div>
                                                <input type="text" name="pardot_extra_field" id="pardot_extra_field"
                                                    class="d-none" tabindex="-1" title="pardot input field" />
                                            </div>
                                            <div class="privacy-policy" auto_locator="contactUsPolicyTextStep3">
                                                ${data.consentConfig.privacyPolicy @ context="html"}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row no-gutters pw-progress" auto_locator="progressBarStep3">
                                        <div class="col-lg-9">
                                            <sly data-sly-use.progressBar="/apps/publicweb/components/molecules/progressbar/progressbar-template.html"
                                                data-sly-call="${progressBar.progressbar_template @ activeStep=3, totalStep=[1,2,3]}">
                                            </sly>
                                        </div>
                                        <div class="pw-progressbar__steps d-none d-lg-block col-lg-3">
                                            <p>  ${'pw.form.step {0} of {1}'  @i18n, format=['3','3']}</p>
                                        </div>
                                    </div>
                                    <div data-form-step="Step 3" class="button row no-gutters button-group">
                                        <sly data-sly-use.previousButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                                            data-sly-call="${previousButton.tabbutton_template @ btnText='pw.form.button.previous', btnTarget='#cf-step-2', variant='secondary', customClasses='previousbtn', icon_classes='icon-Arrow_Right_pw', autoLocator='contactUsPreviousButtonStep3',currentTarget='cf-step-3'}" />
                                        <sly data-sly-use.nextButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                                            data-sly-call="${nextButton.tabbutton_template @ btnText='pw.form.button.submit', btnType='submit', btnTarget='#cf-step-final', customClasses='previewLinkBtn', autoLocator='contactUsSubmitButtonStep3', currentTarget='cf-step-3'}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="cf-step-final">
                        <div class="row no-gutters thankyou">
                            <div class="col-md-8 offset-md-2 text-center" auto_locator="contactUsThankYouMessage">
                                <sly data-sly-test="${!wcmmode.edit}">
                                    <sly data-sly-test="${data.thankyouImage}"
                                        data-sly-use.dynamicMediaImage="/apps/publicweb/components/content/dynamicMediaImage/dynamicMediaImage-template.html"
                                        data-sly-call="${dynamicMediaImage.dynamicMediaImage_template @imagePath=data.thankyouImage, altText=data.thankyouImageAltText}" />
                                </sly>
                                <sly data-sly-test="${wcmmode.edit}">
                                    <img data-sly-test="${data.thankyouImage}" auto_locator="contactUsThankYouPageImage"
                                        alt="${data.thankyouImageAltText}" src="${data.thankyouImageAltText}"
                                        class="image img-responsive" />
                                </sly>
                                <div class="contact-us-thankyou-text" data-thankyou-text="${data.thankyouHeading @i18n}" auto_locator="contactUsThankYouPageMessage">
                                    <sly data-sly-test="data.thankyouHeading" data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                                        data-sly-call="${heading.heading_h2_template @ headingText=data.thankyouHeading}" />
                                </div>
                                <div class="descriptionTextThankyou" auto_locator="contactUsThankYouPageDescription">
                                    ${data.thankyouDescriptionText @ context='html'}
                                </div>
                                <div class="button-group">
                                    <sly data-sly-use.nextButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                                        data-sly-call="${nextButton.tabbutton_template @ btnText='pw.form.button.newrequest', customClasses='newRequestBtn'}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</sly>
