<footer class="tp_footer tp_footer-pw">
    <div class="tp_pw-container">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    {{> atoms-logo-white }}
                </div>
                <div class="col-lg-6">
                    {{> molecules-tp_navigation }}
                </div>
                <div class="col-lg-3">
                    {{> molecules-tp_socialNavigation }}
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    {{> atoms-button-text }}
                </div>
            </div>
        </div>
    </div>
</footer><!-- end c-footer -->
