.tp_pw-hero {
    height: auto;
    margin-top: -130px;
    min-height: 475px;
    overflow: hidden;
    position: relative;
    width: 100%;

    .container {
        min-height: 475px;
        overflow: hidden;
        position: relative;
    }

    @media #{$medium} {
        margin-top: -130px;
        min-height: 440px;

        .container {
            min-height: 440px;
        }
    }

    @media #{$large} {
        min-height: 650px;

        .container {
            min-height: 650px;
        }
    }

    .tp_pw-heroImg {
        bottom: 0;
        height: auto;
        left: 50%;
        position: absolute;
        top: 50%;
        @include vendor-prefix(transform, translate(-50%,-50%));
        width: 100%;
        z-index: 10;
    }

    /*.tp_pw-heroImgOverlay {
        background: $color-black;
        height: 100%;
        opacity: .2;
        position: absolute;
        width: 100%;
        z-index: 100;
    }*/

    .tp_pw-heroTextWrapper {
        color: $color-white;
        height: auto;
        left: 50%;
        padding-left: $spacing-small;
        position: absolute;
        top: 50%;
        @include vendor-prefix(transform, translate(-50%,-50%));
        width: 100%;
        z-index: 1000;

        @media #{$medium} {
            padding-left: $spacing-big;
            top: 55%;
        }

        @media #{$large} {
            padding-left: $spacing-big*2;
            top: 50%;
        }
    }

    &.tp_pw-heroSkew {
        @include vendor-prefix(transform, skewY(6deg));
        transform-origin: right bottom;

        .tp_pw-heroImg {
            @include vendor-prefix(transform, translate(-50%,-50%) skewY(-6deg));
        }

        .tp_pw-heroTextWrapper {
            @include vendor-prefix(transform, translate(-50%,-50%) skewY(-6deg));
        }

        @media #{$medium} {
            @include vendor-prefix(transform, skewY(5deg));

            .tp_pw-heroImg {
                @include vendor-prefix(transform, translate(-50%,-50%) skewY(-5deg));
            }

            .tp_pw-heroTextWrapper {
                @include vendor-prefix(transform, translate(-50%,-55%) skewY(-5deg));
            }
        }

        @media #{$large} {
            @include vendor-prefix(transform, skewY(6deg));

            .tp_pw-heroImg {
                @include vendor-prefix(transform, translate(-50%,-50%) skewY(-6deg));
            }

            .tp_pw-heroTextWrapper {
                @include vendor-prefix(transform, translate(-50%,-50%) skewY(-6deg));
            }
        }
    }

    .text-small {
        text-transform: uppercase;
    }

    h1 {
        @media #{$small} {
            @include font-size(2, large);
            line-height: 1.25;
        }

        @media #{$large} {
            @include font-size(3.5, large);
            line-height: 1.07;
        }
    }

    h4 {
        margin: $spacing-small 0 0;

        @media #{$large} {
            margin: $spacing-big 0 0;
        }
    }

    .tp_btn {
        margin: $spacing-small 0 0;
    }
}
