<sly data-sly-template.subscriptionform_template="${@data, flag}">
  <div id="${data.anchorId}" title="${data.anchorTitle}">
    <div id="sfUs" class="pw-container" data-locator="Subscriptionform" data-module="Subscriptionform">
      <div class="pw-subscriptionForm-form pw-theme--${data.pwTheme} pw-padding--regular pw-margin--regular"
        id="pw-sfUs" auto_locator="SubscriptionFormStepsWrapper">
        <div class="tab-content">
          <form class="pw-form pw-form-subscriptionForm" accept-charset="UTF-8" data-sf-api-servlet="${data.apiUrl}"
            data-sf-countryCode="${data.siteCountry}" data-sf-langCode="${data.siteLanguage}" autocomplete="off">
            <input type="text" name="pardot_extra_field" id="pardot_extra_field_sf" class="d-none" tabindex="-1" title="pardot input filed for subscription" />
            <!--step start-->
            <div class="sf-tab-pane active" role="tabpanel" id="sf-step-1">
              <div class="row no-gutters">
                <div class="col-lg-6 separator" auto_locator="subscriptionFormLeftContainerStep1">
                  <div class="row no-gutters">
                    <div class="col-sm-12 main-heading" data-sly-test="${data.formConfig.heading}"
                      auto_locator="subscriptionFormLeftContainerHeadingTextStep1">
                      <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                        data-sly-call="${heading.heading_h2_template @ headingText=data.formConfig.heading}" />
                    </div>
                  </div>
                  <div class="row no-gutters">
                    <div class="descriptionsubscriptionForm col-lg-12"
                      auto_locator="subscriptionFormLeftContainerTextAreaStep1">
                      ${data.formConfig.descriptionText @ context="html"}
                    </div>
                  </div>
                </div>
                <div class="col-lg-6" auto_locator="subscriptionFormRightContainerStep1">
                  <div class="tab-content tab-content-steps">
                    <div class="row">
                      <div class="col-sm-12 formfield" auto_locator="subscriptionFormListContainerStep1">
                        <div class="formfield emailDiv">
                          <div class="subscription-email-label">
                            <p auto-locator="subscriptionFormEmailHeader">${'pw.form.subscription.heading' @i18n}</p>
                          </div>
                          <sly
                            data-sly-use.inputField="/apps/publicweb/components/molecules/inputfield/inputfield-template.html"
                            data-sly-call="${inputField.inputfield_template @ inputType='email', id='emailSubscription', label='pw.form.label.email' , placeholder='pw.form.email.placeholder', required=true, error='pw.form.errormsg.invalidemail', autoLocatorInput='emailInput', autoLocatorLabel='emailHelpText', inputClass='validateForTags' }">
                          </sly>
                        </div>
                        <div class="row no-gutter">
                          <div class="col-md-12 col-lg-6">
                            <div class="formfield country-field country" data-country-name-label="${'pw.form.country' @i18n}">
                                <label for="country"
                                    auto_locator="subsFormCountryHelpText">${'pw.form.label.country' @
                                    i18n}</label>
                                <div class="pw-form__dropdown dropdown text-left">
                                    <button
                                        class="btn dropdown-toggle country-dropdown js-pw-form__dropdown__toggle pw-form__dropdown__toggle category__toggle text-left"
                                        type="button" data-toggle="dropdown" aria-haspopup="true"
                                        auto_locator="subsFormCountrySelectDropdown" aria-expanded="false">
                                        <span
                                            class="js-pw-form__dropdown__country-text">${'pw.form.label.countryPlaceholder'
                                            @ i18n}</span>
                                        <i class="icon icon-Arrow_Right_pw"></i></button>
                                    </button>
                                    <div class="dropdown-menu pw-form__dropdown__menu country-dropdown-select"
                                        data-sly-list.country="${data.countryOptions}">
                                        <a href="#"
                                            class="dropdown-item ${country.first? 'active' : ''}"
                                            data-country="${country.key}"
                                            data-countrytitle="${country.value}">
                                            ${country.value}
                                        </a>
                                    </div>
                                    <input type="hidden" name="countryTitle" class="form-control validateForTags"
                                        id="country" required>
                                </div>
                                <div data-country-error-msg="${'pw.form.errormsg.country' @i18n}" class="errorMsg">${'pw.form.errormsg.country' @i18n}</div>
                            </div>
                        </div>
                        </div>
                        <div class="formfield communication-title">
                          <p auto-locator="subscriptionFormCommunicationTitle">${'pw.form.subscriptionFormCommTitle' @i18n}</p>
                        </div>
                        <div class="formfield communication-subtitle">
                          <p auto-locator="subscriptionFormCommunicationSubTitle">${'pw.form.subscriptionFormCommSubTitle' @i18n}</p>
                        </div>
                        <div class="hr">
                        </div>
                        <div class='row no-gutters'>
                          <div class="col-sm-12 col-md-6">
                            <div class="checboxField">
                              <label auto-locator="subscriptionFormMarketingCommunicationText" class="typeOfCommunicationLabel subscription-checkbox-label" for="typeOfCommunicationcheckbox-1">
                                <input auto-locator="subscriptionFormMarketingCommunicationInput" id="typeOfCommunicationcheckbox-1"
                                  class="form-control tpatom-checkbox__input float-left communication-type"
                                  type="checkbox" name="marketing" value="${'pw.form.subscriptionFormMarketingComm' @i18n, locale = 'en'}">
                                <i class="tpatom-checkbox__icon icon icon-Tick float-left"></i> ${'pw.form.subscriptionFormMarketingComm' @i18n}</label>
                            </div>
                          </div>
                          <div class="col-sm-12 col-md-6 press-media-type">

                            <div class="checboxField">
                              <label auto-locator="subscriptionFormPressMediaCommunicationText" class="typeOfCommunicationLabel subscription-checkbox-label" for="typeOfCommunicationcheckbox-2">
                                <input auto-locator="subscriptionFormPressMediaCommunicationTnput" id="typeOfCommunicationcheckbox-2"
                                  class="form-control tpatom-checkbox__input float-left communication-type"
                                  type="checkbox" name="pressAndMedia" value="${'pw.form.subscriptionFormPressMediaComm' @i18n, locale = 'en'}">
                                <i class="tpatom-checkbox__icon icon icon-Tick float-left"></i> ${'pw.form.subscriptionFormPressMediaComm' @i18n}</label>
                            </div>
                          </div>
                        </div>
                        <div class='row no-gutters padding-top'>
                          <div class="col-sm-12 col-md-6">

                            <div class="checboxField">
                              <label auto-locator="subscriptionFormEventInvitationText" class="typeOfCommunicationLabel subscription-checkbox-label" for="typeOfCommunicationcheckbox-3">
                                <input auto-locator="subscriptionFormEventInvitationInput" id="typeOfCommunicationcheckbox-3"
                                  class="form-control tpatom-checkbox__input float-left communication-type"
                                  type="checkbox" name="event" value="${'pw.form.subscriptionFormEventInvitation' @i18n, locale = 'en'}">
                                <i class="tpatom-checkbox__icon icon icon-Tick float-left"></i> ${'pw.form.subscriptionFormEventInvitation' @i18n}</label>
                            </div>
                          </div>
                        </div>
                        <div class="errorMsg communication-error">${'pw.form.errormsg.subscriptionFormSelectComm' @i18n}</div>
                        <div class="hr"></div>
                        <div class="formfield">
                          <div class="form-group formfield">
                            <div class="checboxField">
                              <label class="consentlabel subscription-checkbox-label" for="consentcheckbox">
                                <input id="consentcheckbox" class="form-control tpatom-checkbox__input float-left"
                                  type="checkbox" name="consent" required>
                                <i class="tpatom-checkbox__icon icon icon-Tick float-left"></i> ${data.consentConfig.marketingConsent @ context='html'}</label>
                            </div>
                            <div class="errorMsg consent-error">${'pw.form.errormsg.marketingconsent' @i18n}</div>
                          </div>
                        </div>
                        <div class="formfield">
                          <p>${data.consentConfig.privacyPolicy @ context='html'}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row no-gutters subscribeButton button-group">
                      <sly data-sly-use.nextButton="/apps/publicweb/components/atoms/tabbutton/tabbutton-template.html"
                        data-sly-call="${nextButton.tabbutton_template @ btnText='pw.form.button.subscribe', btnTarget='#sf-step-final', btnType='submit', customClasses='previewLinkBtn', autoLocator='subscriptionFormNextButtonStep'}" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--step start-->
            <div class="sf-tab-pane" role="tabpanel" id="sf-step-final"
              auto_locator="subscriptionFormListContainerStepFinal">
              <div class="row no-gutters thankyou">
                <div class="col-md-8 offset-md-2 text-center" auto_locator="sfUsThankYouMessage">
                  <div auto_locator="sfUsThankYouPageMessage">
                    <sly data-sly-use.heading="/apps/commons/components/atoms/heading/heading.html"
                      data-sly-call="${heading.heading_h2_template @ headingText=data.formConfig.thankyouHeading}" />
                  </div>
                  <div class="descriptionTextThankyou" auto_locator="sfUsThankYouPageDescription">
                    ${data.formConfig.thankyouDescriptionText @ context='html'}
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</sly>
