.form-group {
    .errorMsg {
        color: $color-alert;
        font-size: 12px;
        display: none;
    }
}
.field-error {
    input[type=text],
    input[type=email] {
        border: 1px solid $color-alert;
    }
    .errorMsg {
        display: block;
    }
}