.tpatom-dropdown {
    position: relative;

    &__select-box {
        @include border-xs($color-tundora);
        @include border-radius($border-radius);
        @include padding($padding-sm $padding-xl $padding-sm $padding-sm);
        @include line-height(22px, $font-baseline);
        width: 100%;
        background-color: $color-white;
    }

    &__icon {
        @include right(12px);
        position: absolute;
        bottom: 0;
        transform: translateY(-50%);
        pointer-events: none;

    }
}
