.tpatom-dropdown {
    position: relative;

    &__select-box {
        @include border-xs($color-tundora);
        @include border-radius($border-radius);
        @include padding($padding-sm);
        @include line-height(22px, $font-baseline);
        width: 100%;
    }

    &__icon {
        @include right(12px);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;

    }
}
