<sly data-sly-template.imageCarousel_template="${@ data, flag}"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
  <div class="pw-image-carousel">
    <sly data-sly-test="${data.imagesList}">
      <div id="${data.resourceID}" class="carousel slide" data-ride="carousel">
        
        <ol class="carousel-indicators">
          <sly data-sly-list.images="${data.imagesList}">
            <li data-target="#${data.resourceID}" data-slide-to="${imagesList.index}" class="${imagesList.index == 0 ? 'active' : ''}"></li>
          </sly>
        </ol>
        
        <div class="carousel-inner">
          <sly data-sly-list.images="${data.imagesList}">
            <div class="${imagesList.index == 0 ? 'carousel-item active' : 'carousel-item'}">
              <img class="d-block" src="${images.imagePath}" alt="{images.imageAltI18n}">
            </div>
          </sly>
        </div>
        
        <a class="carousel-control-prev" href="#${data.resourceID}" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#${data.resourceID}" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
          
      </div>
    </sly>
  </div>
  
  <sly data-sly-test="${!data.imagesList}" data-sly-call="${templates.placeholder @ isEmpty = !data.imagesList}" />
</sly>