<sly data-sly-template.productlisting_template="${@ data, flag}"
data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
<div id="pw-product-listing">
	<h1>PRODUCT LISTING COMPONENT</h1>
	<h3>Title : ${data.titleI18n} </h3>
    <div class="prod-listing-data-cateogry" data="all"><a class="product-category-tab" href="#" >All</a></div>
	<sly data-sly-list.tabItem="${data.tabs}">
		<div class="prod-listing-data-cateogry" data="${tabItem.categoryTag}"><a class="product-category-tab" href="#" >${tabItem.tabLinkTextI18n}</a></div>
		<p> Category : ${tabItem.categoryTag}</p>
		<p> Link Text : ${tabItem.tabLinkTextI18n}</p>
	</sly><br/><br/>
	<div class="product-cards"/>
</div>
<sly data-sly-test="${!data.tabLinks}" data-sly-call="${templates.placeholder @ isEmpty = !data.tabLinks}"></sly>	
</sly>
