<div class="tp_pw-container {{containerBgClass}} tp_pw-articleBlock">
    <div class="row">
        <div class="col-md-6 col-lg-5">
            {{> molecules-tp_pw-titleWrapper }}
            <p class="tp_pw-articleBlockContent">{{article_text}}</p>
            {{> atoms-button-text }}
        </div>
        <div class="col-md-6 col-lg-7 text-right">
            {{> atoms-video }}
        </div>
    </div>
</div>
