<div class="tp_pw-container tp_pw-articleBlock">
    <div class="row">
        <div class="col-md-7 col-lg-6">
            {{> molecules-tp_pw-titleWrapper }}
            <p class="tp_pw-articleBlockContent">{{article_text}}</p>
        </div>
        <div class="col-md-5 col-lg-6">
            {{> atoms-module-img }}
        </div>
    </div>
</div>
