.tp_pw-articleBlock {

    .tp_pw-articleBlockContent {
        margin-bottom: $spacing-small;

        @media #{$medium} {
            margin-bottom: $spacing-big;
        }
    }

    .tp_textBtn {
        margin-bottom: $spacing-big;

        @media #{$medium} {
            margin-bottom: 0;
        }
    }

    .tp_container-image {
        margin: 0 auto;
        max-width: 100%;
        width: auto;
    }

    .tp_container-video {
        height: 225px;
        margin-bottom: 0;
        width: 100%;

        @media #{$medium} {
            height: 100%;
            max-width: none;
            min-height: 250px;
            width: 100%;
        }

        @media #{$large} {
            height: 100%;
            max-width: none;
            min-height: 375px;
            width: 100%;
        }
    }
}
