<sly data-sly-template.equipmentdetails_template="${@ data, flag}">
  <div data-sly-test="${data.isPublishEnvironment}" class="tp-card tp-equipment-details js-equipment-details"
       data-src_isPublishEnvironment="${data.isPublishEnvironment @ context='text'}"
       data-country-api="${data.allCountriesApi}"
       data-details-api="${data.equipmentListApi}"
       data-status-api="${data.statusApi}"
       data-submit-api="${data.mappedResourcePath}.equipment.html"
       data-equipment-list-url="${data.mappedMyEquipmentUrl}"
       data-techpub-list-url="${data.mappedTechnicalPublicationUrl}"
       data-module="EquipmentDetails">

    <code class="d-none js-equipment-details__config">${data.i18nKeys}</code>

    <div class="tp-equipment-details__content-wrapper">

    <div class="tp-equipment-details__content js-equipment-details__content d-none"></div>
    </div>

    <div id="equipment-update-modal" class="modal js-update-modal tp-equipment-details-modal tp-modal fade" tabindex="-1" aria-hidden="true" role="dialog"></div>
    <div class="tp-spinner">
      <sly data-sly-use.loading="/apps/customerhub/components/atoms/loader/loader-template.html" data-sly-call="${loading.loader_template}" />
    </div>
  </div>
</sly>
