<sly data-sly-template.equipmentdetails_template="${@ data, flag}">
  <div data-sly-test="${data.isPublishEnvironment}" class="tp-card tp-equipment-details js-equipment-details"
       data-src_isPublishEnvironment="${data.isPublishEnvironment @ context='text'}"
       data-country-api="${data.countryApi}"
       data-details-api="${data.equipmentListApi}"
       data-status-api="${data.statusApi}"
       data-submit-api="${data.mappedResourcePath}.equipment.html"
       data-module="EquipmentDetails">

    <code class="d-none js-equipment-details__config">${data.i18nKeys}</code>

    <div class="tp-spinner">
      <sly data-sly-use.loading="/apps/customerhub/components/atoms/loader/loader-template.html" data-sly-call="${loading.loader_template}" />
    </div>

    <div class="tp-equipment-details__content-wrapper d-none">
      <div class="tp-equipment-details__container">
        <a href="${data.mappedMyEquipmentUrl}" class="tp-equipment-details__btn tp-equipment-details__back-btn" auto_locator="backToEquipmentList">
          <i class="icon icon-Chevron_Left"></i>
          ${"cuhu.equipment.backToEquipList" @i18n}
        </a>
      </div>

      <div class="tp-equipment-details__content js-equipment-details__content"></div>
    </div>

    <div id="equipment-update-modal" class="modal js-update-modal tp-equipment-details-modal tp-modal fade" tabindex="-1" aria-hidden="true" role="dialog"></div>
  </div>
</sly>
